{
  "discoveryVersion": "v1",
  "rootUrl": "https://admin.googleapis.com/",
  "ownerDomain": "google.com",
  "schemas": {
    "DomainAliases": {
      "id": "DomainAliases",
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "domainAliases": {
          "items": {
            "$ref": "DomainAlias"
          },
          "type": "array",
          "description": "A list of domain alias objects."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#domainAliases"
        }
      }
    },
    "ChromeOsDevice": {
      "description": "Google Chrome devices run on the [Chrome OS](https://support.google.com/chromeos). For more information about common API tasks, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-chrome-devices).",
      "type": "object",
      "id": "ChromeOsDevice",
      "properties": {
        "lastSync": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)"
        },
        "autoUpdateExpiration": {
          "type": "string",
          "description": "(Read-only) The timestamp after which the device will stop receiving Chrome updates or support",
          "format": "int64"
        },
        "annotatedAssetId": {
          "description": "The asset identifier as noted by an administrator or specified during enrollment.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The type of resource. For the Chromeosdevices resource, the value is `admin#directory#chromeosdevice`.",
          "default": "admin#directory#chromeosdevice"
        },
        "tpmVersionInfo": {
          "description": "Trusted Platform Module (TPM) (Read-only)",
          "properties": {
            "tpmModel": {
              "description": "TPM model number.",
              "type": "string"
            },
            "specLevel": {
              "description": "TPM specification level. See Library Specification for TPM 2.0 and Main Specification for TPM 1.2.",
              "type": "string"
            },
            "manufacturer": {
              "description": "TPM manufacturer code.",
              "type": "string"
            },
            "firmwareVersion": {
              "description": "TPM firmware version.",
              "type": "string"
            },
            "vendorSpecific": {
              "type": "string",
              "description": "Vendor-specific information such as Vendor ID."
            },
            "family": {
              "type": "string",
              "description": "TPM family. We use the TPM 2.0 style encoding, e.g.: TPM 1.2: \"1.2\" -\u003e 312e3200 TPM 2.0: \"2.0\" -\u003e 322e3000"
            }
          },
          "type": "object"
        },
        "notes": {
          "description": "Notes about this device added by the administrator. This property can be [searched](https://support.google.com/chrome/a/answer/1698333) with the [list](/admin-sdk/directory/v1/reference/chromeosdevices/list) method's `query` parameter. Maximum length is 500 characters. Empty values are allowed.",
          "type": "string"
        },
        "ethernetMacAddress": {
          "description": "The device's MAC address on the ethernet network interface.",
          "type": "string"
        },
        "annotatedUser": {
          "type": "string",
          "description": "The user of the device as noted by the administrator. Maximum length is 100 characters. Empty values are allowed."
        },
        "model": {
          "type": "string",
          "description": "The device's model information. If the device does not have this information, this property is not included in the response."
        },
        "lastKnownNetwork": {
          "description": "Contains last known network (Read-only)",
          "items": {
            "properties": {
              "wanIpAddress": {
                "type": "string",
                "description": "The WAN IP address."
              },
              "ipAddress": {
                "description": "The IP address.",
                "type": "string"
              }
            },
            "description": "Information for an ip address.",
            "type": "object"
          },
          "type": "array"
        },
        "systemRamTotal": {
          "format": "int64",
          "type": "string",
          "description": "Total RAM on the device [in bytes] (Read-only)"
        },
        "firstEnrollmentTime": {
          "type": "string",
          "description": "Date and time for the first time the device was enrolled."
        },
        "systemRamFreeReports": {
          "type": "array",
          "items": {
            "properties": {
              "systemRamFreeInfo": {
                "items": {
                  "format": "int64",
                  "type": "string"
                },
                "type": "array"
              },
              "reportTime": {
                "description": "Date and time the report was received.",
                "type": "string",
                "format": "date-time"
              }
            },
            "type": "object"
          },
          "description": "Reports of amounts of available RAM memory (Read-only)"
        },
        "orgUnitId": {
          "type": "string",
          "description": "The unique ID of the organizational unit. orgUnitPath is the human readable version of orgUnitId. While orgUnitPath may change by renaming an organizational unit within the path, orgUnitId is unchangeable for one organizational unit. This property can be [updated](/admin-sdk/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433)."
        },
        "dockMacAddress": {
          "type": "string",
          "description": "(Read-only) Built-in MAC address for the docking station that the device connected to. Factory sets Media access control address (MAC address) assigned for use by a dock. It is reserved specifically for MAC pass through device policy. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices."
        },
        "status": {
          "description": "The status of the device.",
          "type": "string"
        },
        "firmwareVersion": {
          "type": "string",
          "description": "The Chrome device's firmware version."
        },
        "annotatedLocation": {
          "description": "The address or location of the device as noted by the administrator. Maximum length is `200` characters. Empty values are allowed.",
          "type": "string"
        },
        "meid": {
          "description": "The Mobile Equipment Identifier (MEID) or the International Mobile Equipment Identity (IMEI) for the 3G mobile card in a mobile device. A MEID/IMEI is typically used when adding a device to a wireless carrier's post-pay service plan. If the device does not have this information, this property is not included in the response. For more information on how to export a MEID/IMEI list, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-chrome-devices.html#export_meid).",
          "type": "string"
        },
        "diskVolumeReports": {
          "description": "Reports of disk space and other info about mounted/connected volumes.",
          "type": "array",
          "items": {
            "properties": {
              "volumeInfo": {
                "description": "Disk volumes",
                "items": {
                  "properties": {
                    "volumeId": {
                      "description": "Volume id",
                      "type": "string"
                    },
                    "storageTotal": {
                      "format": "int64",
                      "description": "Total disk space [in bytes]",
                      "type": "string"
                    },
                    "storageFree": {
                      "type": "string",
                      "format": "int64",
                      "description": "Free disk space [in bytes]"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              }
            },
            "type": "object"
          }
        },
        "osVersion": {
          "type": "string",
          "description": "The Chrome device's operating system version."
        },
        "ethernetMacAddress0": {
          "type": "string",
          "description": "(Read-only) MAC address used by the Chromebook’s internal ethernet port, and for onboard network (ethernet) interface. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices."
        },
        "macAddress": {
          "description": "The device's wireless MAC address. If the device does not have this information, it is not included in the response.",
          "type": "string"
        },
        "cpuInfo": {
          "type": "array",
          "description": "Information regarding CPU specs in the device.",
          "items": {
            "description": "CPU specs for a CPU.",
            "properties": {
              "maxClockSpeedKhz": {
                "type": "integer",
                "format": "int32",
                "description": "The max CPU clock speed in kHz."
              },
              "logicalCpus": {
                "description": "Information for the Logical CPUs",
                "items": {
                  "properties": {
                    "maxScalingFrequencyKhz": {
                      "format": "int32",
                      "description": "Maximum frequency the CPU is allowed to run at, by policy.",
                      "type": "integer"
                    },
                    "currentScalingFrequencyKhz": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Current frequency the CPU is running at."
                    },
                    "cStates": {
                      "description": "C-States indicate the power consumption state of the CPU. For more information look at documentation published by the CPU maker.",
                      "items": {
                        "properties": {
                          "displayName": {
                            "type": "string",
                            "description": "Name of the state."
                          },
                          "sessionDuration": {
                            "description": "Time spent in the state since the last reboot.",
                            "format": "google-duration",
                            "type": "string"
                          }
                        },
                        "type": "object",
                        "description": "Status of a single C-state. C-states are various modes the CPU can transition to in order to use more or less power."
                      },
                      "type": "array"
                    },
                    "idleDuration": {
                      "type": "string",
                      "description": "Idle time since last boot.",
                      "format": "google-duration"
                    }
                  },
                  "description": "Status of a single logical CPU.",
                  "type": "object"
                },
                "type": "array"
              },
              "model": {
                "description": "The CPU model name.",
                "type": "string"
              },
              "architecture": {
                "description": "The CPU architecture.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "cpuStatusReports": {
          "type": "array",
          "items": {
            "properties": {
              "reportTime": {
                "description": "Date and time the report was received.",
                "format": "date-time",
                "type": "string"
              },
              "cpuTemperatureInfo": {
                "description": "A list of CPU temperature samples.",
                "items": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "description": "CPU label",
                      "type": "string"
                    },
                    "temperature": {
                      "description": "Temperature in Celsius degrees.",
                      "format": "int32",
                      "type": "integer"
                    }
                  }
                },
                "type": "array"
              },
              "cpuUtilizationPercentageInfo": {
                "items": {
                  "format": "int32",
                  "type": "integer"
                },
                "type": "array"
              }
            },
            "type": "object"
          },
          "description": "Reports of CPU utilization and temperature (Read-only)"
        },
        "orgUnitPath": {
          "description": "The full parent path with the organizational unit's name associated with the device. Path names are case insensitive. If the parent organizational unit is the top-level organization, it is represented as a forward slash, `/`. This property can be [updated](/admin-sdk/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433).",
          "type": "string"
        },
        "lastEnrollmentTime": {
          "description": "Date and time the device was last enrolled (Read-only)",
          "type": "string",
          "format": "date-time"
        },
        "osUpdateStatus": {
          "$ref": "OsUpdateStatus",
          "description": "The status of the OS updates for the device."
        },
        "supportEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "Final date the device will be supported (Read-only)"
        },
        "orderNumber": {
          "description": "The device's order number. Only devices directly purchased from Google have an order number.",
          "type": "string"
        },
        "platformVersion": {
          "description": "The Chrome device's platform version.",
          "type": "string"
        },
        "bootMode": {
          "description": "The boot mode for the device. The possible values are: * `Verified`: The device is running a valid version of the Chrome OS. * `Dev`: The devices's developer hardware switch is enabled. When booted, the device has a command line shell. For an example of a developer switch, see the [Chromebook developer information](https://www.chromium.org/chromium-os/developer-information-for-chrome-os-devices/samsung-series-5-chromebook#TOC-Developer-switch).",
          "type": "string"
        },
        "activeTimeRanges": {
          "type": "array",
          "items": {
            "properties": {
              "activeTime": {
                "type": "integer",
                "description": "Duration of usage in milliseconds.",
                "format": "int32"
              },
              "date": {
                "description": "Date of usage",
                "type": "string",
                "format": "date"
              }
            },
            "type": "object"
          },
          "description": "A list of active time ranges (Read-only)."
        },
        "deviceId": {
          "description": "The unique ID of the Chrome device.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "willAutoRenew": {
          "description": "Determines if the device will auto renew its support after the support end date. This is a read-only property.",
          "type": "boolean"
        },
        "manufactureDate": {
          "description": "(Read-only) The date the device was manufactured in yyyy-mm-dd format.",
          "type": "string"
        },
        "deviceFiles": {
          "description": "A list of device files to download (Read-only)",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "createTime": {
                "type": "string",
                "description": "Date and time the file was created",
                "format": "date-time"
              },
              "name": {
                "description": "File name",
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "File type"
              },
              "downloadUrl": {
                "description": "File download URL",
                "type": "string"
              }
            }
          }
        },
        "serialNumber": {
          "description": "The Chrome device serial number entered when the device was enabled. This value is the same as the Admin console's *Serial Number* in the *Chrome OS Devices* tab.",
          "type": "string"
        },
        "screenshotFiles": {
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "File type",
                "type": "string"
              },
              "downloadUrl": {
                "description": "File download URL",
                "type": "string"
              },
              "name": {
                "type": "string",
                "description": "File name"
              },
              "createTime": {
                "format": "date-time",
                "description": "Date and time the file was created",
                "type": "string"
              }
            }
          },
          "description": "A list of screenshot files to download. Type is always \"SCREENSHOT_FILE\". (Read-only)",
          "type": "array"
        },
        "recentUsers": {
          "description": "A list of recent device users, in descending order, by last login time.",
          "type": "array",
          "items": {
            "type": "object",
            "description": "A list of recent device users, in descending order, by last login time.",
            "properties": {
              "type": {
                "type": "string",
                "description": "The type of the user."
              },
              "email": {
                "description": "The user's email address. This is only present if the user type is `USER_TYPE_MANAGED`.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "BatchDeletePrintServersResponse": {
      "properties": {
        "failedPrintServers": {
          "items": {
            "$ref": "PrintServerFailureInfo"
          },
          "type": "array",
          "description": "A list of update failures."
        },
        "printServerIds": {
          "description": "A list of print server IDs that were successfully deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchDeletePrintServersResponse",
      "type": "object"
    },
    "UserAlias": {
      "id": "UserAlias",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique ID for the user.",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`.",
          "type": "string"
        },
        "alias": {
          "description": "The alias email address.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "primaryEmail": {
          "type": "string",
          "description": "The user's primary email address."
        }
      },
      "description": "The Directory API manages aliases, which are alternative email addresses."
    },
    "Users": {
      "id": "Users",
      "type": "object",
      "properties": {
        "trigger_event": {
          "description": "Event that triggered this response (only used in case of Push Response)",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#users",
          "description": "Kind of resource this is."
        },
        "users": {
          "items": {
            "$ref": "User"
          },
          "type": "array",
          "description": "A list of user objects."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access next page of this result."
        }
      }
    },
    "Privilege": {
      "id": "Privilege",
      "properties": {
        "childPrivileges": {
          "type": "array",
          "description": "A list of child privileges. Privileges for a service form a tree. Each privilege can have a list of child privileges; this list is empty for a leaf privilege.",
          "items": {
            "$ref": "Privilege"
          }
        },
        "isOuScopable": {
          "type": "boolean",
          "description": "If the privilege can be restricted to an organization unit."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#privilege",
          "description": "The type of the API resource. This is always `admin#directory#privilege`."
        },
        "serviceId": {
          "type": "string",
          "description": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](/admin-sdk/directory/v1/reference/privileges/list)."
        },
        "serviceName": {
          "description": "The name of the service this privilege is for.",
          "type": "string"
        },
        "privilegeName": {
          "type": "string",
          "description": "The name of the privilege."
        }
      },
      "type": "object"
    },
    "Channel": {
      "properties": {
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "api#channel",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`."
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional. For example, `params.ttl` specifies the time-to-live in seconds for the notification channel, where the default is 2 hours and the maximum TTL is 2 days.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The address where notifications are delivered for this channel."
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel.",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "expiration": {
          "format": "int64",
          "type": "string",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
        }
      },
      "id": "Channel",
      "description": "An notification channel used to watch for resource changes.",
      "type": "object"
    },
    "Role": {
      "id": "Role",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "roleId": {
          "type": "string",
          "description": "ID of the role.",
          "format": "int64"
        },
        "roleName": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.roles.insert"
            ]
          },
          "description": "Name of the role."
        },
        "isSystemRole": {
          "description": "Returns `true` if this is a pre-defined system role.",
          "type": "boolean"
        },
        "isSuperAdminRole": {
          "description": "Returns `true` if the role is a super admin role.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#role",
          "description": "The type of the API resource. This is always `admin#directory#role`."
        },
        "rolePrivileges": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "privilegeName": {
                "type": "string",
                "description": "The name of the privilege."
              },
              "serviceId": {
                "description": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](/admin-sdk/directory/v1/reference/privileges/list).",
                "type": "string"
              }
            }
          },
          "annotations": {
            "required": [
              "directory.roles.insert"
            ]
          },
          "description": "The set of privileges that are granted to this role."
        },
        "roleDescription": {
          "type": "string",
          "description": "A short description of the role."
        }
      },
      "type": "object"
    },
    "CustomerPostalAddress": {
      "id": "CustomerPostalAddress",
      "properties": {
        "region": {
          "type": "string",
          "description": "Name of the region. An example of a region value is `NY` for the state of New York."
        },
        "countryCode": {
          "description": "This is a required property. For `countryCode` information see the [ISO 3166 country code elements](https://www.iso.org/iso/country_codes.htm).",
          "type": "string"
        },
        "addressLine2": {
          "type": "string",
          "description": "Address line 2 of the address."
        },
        "contactName": {
          "type": "string",
          "description": "The customer contact's name."
        },
        "organizationName": {
          "description": "The company or company division name.",
          "type": "string"
        },
        "locality": {
          "description": "Name of the locality. An example of a locality value is the city of `San Francisco`.",
          "type": "string"
        },
        "addressLine3": {
          "description": "Address line 3 of the address.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code. A postalCode example is a postal zip code such as `10009`. This is in accordance with - http: //portablecontacts.net/draft-spec.html#address_element.",
          "type": "string"
        },
        "addressLine1": {
          "description": "A customer's physical address. The address can be composed of one to three lines.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserEmail": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example email could be of home, work etc. In addition to the standard type, an entry can have a custom type and can take any value Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "Email id of the user."
        },
        "primary": {
          "description": "If this is user's primary email. Only one entry could be marked as primary.",
          "type": "boolean"
        },
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        }
      },
      "id": "UserEmail",
      "description": "JSON template for an email."
    },
    "ListPrintServersResponse": {
      "properties": {
        "printServers": {
          "items": {
            "$ref": "PrintServer"
          },
          "description": "List of print servers.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` in a request to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListPrintServersResponse",
      "type": "object"
    },
    "SchemaFieldSpec": {
      "description": "You can use schemas to add custom fields to user profiles. You can use these fields to store information such as the projects your users work on, their physical locations, their hire dates, or whatever else fits your business needs. For more information, see [Custom User Fields](/admin-sdk/directory/v1/guides/manage-schemas).",
      "id": "SchemaFieldSpec",
      "properties": {
        "multiValued": {
          "description": "A boolean specifying whether this is a multi-valued field or not. Default: `false`.",
          "type": "boolean"
        },
        "numericIndexingSpec": {
          "type": "object",
          "description": "Indexing spec for a numeric field. By default, only exact match queries will be supported for numeric fields. Setting the `numericIndexingSpec` allows range queries to be supported.",
          "properties": {
            "minValue": {
              "description": "Minimum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant.",
              "type": "number",
              "format": "double"
            },
            "maxValue": {
              "description": "Maximum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant.",
              "type": "number",
              "format": "double"
            }
          }
        },
        "fieldId": {
          "description": "The unique identifier of the field (Read-only)",
          "type": "string"
        },
        "readAccessType": {
          "default": "ALL_DOMAIN_USERS",
          "description": "Specifies who can view values of this field. See [Retrieve users as a non-administrator](/admin-sdk/directory/v1/guides/manage-users#retrieve_users_non_admin) for more information. Note: It may take up to 24 hours for changes to this field to be reflected.",
          "type": "string"
        },
        "displayName": {
          "description": "Display Name of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "type": "string"
        },
        "fieldName": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "description": "The name of the field."
        },
        "kind": {
          "description": "The kind of resource this is. For schema fields this is always `admin#directory#schema#fieldspec`.",
          "type": "string",
          "default": "admin#directory#schema#fieldspec"
        },
        "fieldType": {
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "type": "string",
          "description": "The type of the field."
        },
        "etag": {
          "description": "The ETag of the field.",
          "type": "string"
        },
        "indexed": {
          "description": "Boolean specifying whether the field is indexed or not. Default: `true`.",
          "default": "true",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Customer": {
      "type": "object",
      "id": "Customer",
      "properties": {
        "postalAddress": {
          "description": "The customer's postal address information.",
          "$ref": "CustomerPostalAddress"
        },
        "language": {
          "type": "string",
          "description": "The customer's ISO 639-2 language code. See the [Language Codes](/admin-sdk/directory/v1/languages) page for the list of supported codes. Valid language codes outside the supported set will be accepted by the API but may lead to unexpected behavior. The default value is `en`."
        },
        "alternateEmail": {
          "type": "string",
          "description": "The customer's secondary contact email address. This email address cannot be on the same domain as the `customerDomain`"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "customerDomain": {
          "type": "string",
          "description": "The customer's primary domain name string. Do not include the `www` prefix when creating a new customer."
        },
        "customerCreationTime": {
          "description": "The customer's creation time (Readonly)",
          "type": "string",
          "format": "date-time"
        },
        "phoneNumber": {
          "description": "The customer's contact phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#customer",
          "type": "string",
          "description": "Identifies the resource as a customer. Value: `admin#directory#customer`"
        },
        "id": {
          "description": "The unique ID for the customer's Google Workspace account. (Readonly)",
          "type": "string"
        }
      }
    },
    "FeatureInstance": {
      "id": "FeatureInstance",
      "properties": {
        "feature": {
          "description": "The feature that this is an instance of. A calendar resource may have multiple instances of a feature.",
          "$ref": "Feature"
        }
      },
      "type": "object",
      "description": "JSON template for a feature instance."
    },
    "UserGender": {
      "id": "UserGender",
      "properties": {
        "type": {
          "type": "string",
          "description": "Gender."
        },
        "customGender": {
          "description": "Custom gender.",
          "type": "string"
        },
        "addressMeAs": {
          "description": "AddressMeAs. A human-readable string containing the proper way to refer to the profile owner by humans for example he/him/his or they/them/their.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MobileDevices": {
      "properties": {
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#mobiledevices",
          "description": "Kind of resource this is."
        },
        "mobiledevices": {
          "items": {
            "$ref": "MobileDevice"
          },
          "type": "array",
          "description": "A list of Mobile Device objects."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "type": "object",
      "id": "MobileDevices"
    },
    "Buildings": {
      "id": "Buildings",
      "type": "object",
      "description": "Public API: Resources.buildings",
      "properties": {
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "buildings": {
          "items": {
            "$ref": "Building"
          },
          "type": "array",
          "description": "The Buildings in this page of results."
        },
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#resources#buildings#buildingsList"
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "Domains2": {
      "type": "object",
      "properties": {
        "domains": {
          "type": "array",
          "description": "A list of domain objects.",
          "items": {
            "$ref": "Domains"
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#domains"
        }
      },
      "id": "Domains2"
    },
    "UserPhoto": {
      "properties": {
        "width": {
          "type": "integer",
          "description": "Width of the photo in pixels.",
          "format": "int32"
        },
        "primaryEmail": {
          "type": "string",
          "description": "The user's primary email address."
        },
        "mimeType": {
          "description": "The MIME type of the photo. Allowed values are `JPEG`, `PNG`, `GIF`, `BMP`, `TIFF`, and web-safe base64 encoding.",
          "type": "string"
        },
        "height": {
          "type": "integer",
          "description": "Height of the photo in pixels.",
          "format": "int32"
        },
        "kind": {
          "default": "admin#directory#user#photo",
          "description": "The type of the API resource. For Photo resources, this is `admin#directory#user#photo`.",
          "type": "string"
        },
        "photoData": {
          "type": "string",
          "format": "byte",
          "annotations": {
            "required": [
              "directory.users.photos.update"
            ]
          },
          "description": "The user photo's upload data in [web-safe Base64](https://en.wikipedia.org/wiki/Base64#URL_applications) format in bytes. This means: * The slash (/) character is replaced with the underscore (_) character. * The plus sign (+) character is replaced with the hyphen (-) character. * The equals sign (=) character is replaced with the asterisk (*). * For padding, the period (.) character is used instead of the RFC-4648 baseURL definition which uses the equals sign (=) for padding. This is done to simplify URL-parsing. * Whatever the size of the photo being uploaded, the API downsizes it to 96x96 pixels."
        },
        "id": {
          "type": "string",
          "description": "The ID the API uses to uniquely identify the user."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserPhoto"
    },
    "BatchCreatePrintersRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreatePrinterRequest"
          },
          "description": "A list of Printers to be created. Max 50 at a time.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchCreatePrintersRequest",
      "description": "Request for adding new printers in batch."
    },
    "BuildingCoordinates": {
      "type": "object",
      "description": "Public API: Resources.buildings",
      "id": "BuildingCoordinates",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Latitude in decimal degrees."
        },
        "longitude": {
          "description": "Longitude in decimal degrees.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "OsUpdateStatus": {
      "properties": {
        "updateCheckTime": {
          "type": "string",
          "description": "Date and time of the last update check."
        },
        "targetKioskAppVersion": {
          "type": "string",
          "description": "New required platform version from the pending updated kiosk app."
        },
        "state": {
          "enumDescriptions": [
            "The update state is unspecified.",
            "There is an update pending but it hasn't started.",
            "The pending update is being downloaded.",
            "The device is ready to install the update, but must reboot."
          ],
          "enum": [
            "updateStateUnspecified",
            "updateStateNotStarted",
            "updateStateDownloadInProgress",
            "updateStateNeedReboot"
          ],
          "description": "The update state of an OS update.",
          "type": "string"
        },
        "rebootTime": {
          "type": "string",
          "description": "Date and time of the last reboot."
        },
        "targetOsVersion": {
          "type": "string",
          "description": "New platform version of the OS image being downloaded and applied. It is only set when update status is UPDATE_STATUS_DOWNLOAD_IN_PROGRESS or UPDATE_STATUS_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for UPDATE_STATUS_NEED_REBOOT for some edge cases, e.g. update engine is restarted without a reboot."
        },
        "updateTime": {
          "description": "Date and time of the last successful OS update.",
          "type": "string"
        }
      },
      "description": "Contains information regarding the current OS update status.",
      "type": "object",
      "id": "OsUpdateStatus"
    },
    "Domains": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "Kind of resource this is.",
          "default": "admin#directory#domain",
          "type": "string"
        },
        "domainName": {
          "description": "The domain name of the customer.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          }
        },
        "creationTime": {
          "type": "string",
          "description": "Creation time of the domain. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format. (Read-only).",
          "format": "int64"
        },
        "domainAliases": {
          "description": "A list of domain alias objects. (Read-only)",
          "type": "array",
          "items": {
            "$ref": "DomainAlias"
          }
        },
        "isPrimary": {
          "description": "Indicates if the domain is a primary domain (Read-only).",
          "type": "boolean"
        },
        "verified": {
          "type": "boolean",
          "description": "Indicates the verification state of a domain. (Read-only)."
        }
      },
      "id": "Domains"
    },
    "MobileDevice": {
      "id": "MobileDevice",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "The device's status."
        },
        "managedAccountIsOnOwnerProfile": {
          "type": "boolean",
          "description": "Boolean indicating if this account is on owner/primary profile or not."
        },
        "email": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of the owner's email addresses. If your application needs the current list of user emails, use the [get](/admin-sdk/directory/v1/reference/mobiledevices/get.html) method. For additional information, see the [retrieve a user](/admin-sdk/directory/v1/guides/manage-users#get_user) method."
        },
        "hardware": {
          "description": "Mobile Device Hardware (Read-only)",
          "type": "string"
        },
        "serialNumber": {
          "description": "The device's serial number.",
          "type": "string"
        },
        "otherAccountsInfo": {
          "type": "array",
          "description": "The list of accounts added on device (Read-only)",
          "items": {
            "type": "string"
          }
        },
        "devicePasswordStatus": {
          "description": "DevicePasswordStatus (Read-only)",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of mobile device."
        },
        "firstSync": {
          "description": "Date and time the device was first synchronized with the policy settings in the G Suite administrator control panel (Read-only)",
          "type": "string",
          "format": "date-time"
        },
        "buildNumber": {
          "description": "The device's operating system build number.",
          "type": "string"
        },
        "securityPatchLevel": {
          "description": "Mobile Device Security patch level (Read-only)",
          "type": "string",
          "format": "int64"
        },
        "os": {
          "description": "The mobile device's operating system, for example IOS 4.3 or Android 2.3.5. This property can be [updated](/admin-sdk/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-mobile-devices#update_mobile_device).",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#mobiledevice",
          "type": "string",
          "description": "The type of the API resource. For Mobiledevices resources, the value is `admin#directory#mobiledevice`."
        },
        "developerOptionsStatus": {
          "description": "Developer options enabled or disabled on device (Read-only)",
          "type": "boolean"
        },
        "privilege": {
          "type": "string",
          "description": "DMAgentPermission (Read-only)"
        },
        "adbStatus": {
          "type": "boolean",
          "description": "Adb (USB debugging) enabled or disabled on device (Read-only)"
        },
        "deviceCompromisedStatus": {
          "description": "The compromised device status.",
          "type": "string"
        },
        "defaultLanguage": {
          "type": "string",
          "description": "The default locale used on the device."
        },
        "basebandVersion": {
          "description": "The device's baseband version.",
          "type": "string"
        },
        "hardwareId": {
          "type": "string",
          "description": "The IMEI/MEID unique identifier for Android hardware. It is not applicable to Google Sync devices. When adding an Android mobile device, this is an optional property. When updating one of these devices, this is a read-only property."
        },
        "kernelVersion": {
          "type": "string",
          "description": "The device's kernel version."
        },
        "imei": {
          "description": "The device's IMEI number.",
          "type": "string"
        },
        "supportsWorkProfile": {
          "description": "Work profile supported on device (Read-only)",
          "type": "boolean"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "bootloaderVersion": {
          "type": "string",
          "description": "Mobile Device Bootloader version (Read-only)"
        },
        "applications": {
          "description": "The list of applications installed on an Android mobile device. It is not applicable to Google Sync and iOS devices. The list includes any Android applications that access Google Workspace data. When updating an applications list, it is important to note that updates replace the existing list. If the Android device has two existing applications and the API updates the list with five applications, the is now the updated list of five applications.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "permission": {
                "items": {
                  "type": "string"
                },
                "description": "The list of permissions of this application. These can be either a standard Android permission or one defined by the application, and are found in an application's [Android manifest](https://developer.android.com/guide/topics/manifest/uses-permission-element.html). Examples of a Calendar application's permissions are `READ_CALENDAR`, or `MANAGE_ACCOUNTS`.",
                "type": "array"
              },
              "packageName": {
                "type": "string",
                "description": "The application's package name. An example is `com.android.browser`."
              },
              "versionName": {
                "type": "string",
                "description": "The application's version name. An example is `3.2-140714`."
              },
              "displayName": {
                "description": "The application's display name. An example is `Browser`.",
                "type": "string"
              },
              "versionCode": {
                "type": "integer",
                "description": "The application's version code. An example is `13`.",
                "format": "int32"
              }
            }
          }
        },
        "model": {
          "type": "string",
          "description": "The mobile device's model name, for example Nexus S. This property can be [updated](/admin-sdk/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-mobile=devices#update_mobile_device)."
        },
        "brand": {
          "type": "string",
          "description": "Mobile Device Brand (Read-only)"
        },
        "manufacturer": {
          "type": "string",
          "description": "Mobile Device manufacturer (Read-only)"
        },
        "meid": {
          "description": "The device's MEID number.",
          "type": "string"
        },
        "name": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of the owner's user names. If your application needs the current list of device owner names, use the [get](/admin-sdk/directory/v1/reference/mobiledevices/get.html) method. For more information about retrieving mobile device user information, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-users#get_user)."
        },
        "unknownSourcesStatus": {
          "type": "boolean",
          "description": "Unknown sources enabled or disabled on device (Read-only)"
        },
        "encryptionStatus": {
          "description": "Mobile Device Encryption Status (Read-only)",
          "type": "string"
        },
        "wifiMacAddress": {
          "type": "string",
          "description": "The device's MAC address on Wi-Fi networks."
        },
        "deviceId": {
          "description": "The serial number for a Google Sync mobile device. For Android and iOS devices, this is a software generated unique identifier.",
          "type": "string"
        },
        "releaseVersion": {
          "description": "Mobile Device release version version (Read-only)",
          "type": "string"
        },
        "userAgent": {
          "type": "string",
          "description": "Gives information about the device such as `os` version. This property can be [updated](/admin-sdk/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-mobile-devices#update_mobile_device)."
        },
        "lastSync": {
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)",
          "type": "string",
          "format": "date-time"
        },
        "resourceId": {
          "description": "The unique ID the API service uses to identify the mobile device.",
          "type": "string"
        },
        "networkOperator": {
          "type": "string",
          "description": "Mobile Device mobile or network operator (if available) (Read-only)"
        }
      },
      "description": "Google Workspace Mobile Management includes Android, [Google Sync](https://support.google.com/a/answer/135937), and iOS devices. For more information about common group mobile device API tasks, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-mobile-devices.html)."
    },
    "Printer": {
      "properties": {
        "useDriverlessConfig": {
          "type": "boolean",
          "description": "Editable. flag to use driverless configuration or not. If it's set to be true, make_and_model can be ignored"
        },
        "auxiliaryMessages": {
          "items": {
            "$ref": "AuxiliaryMessage"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Auxiliary messages about issues with the printer configuration if any."
        },
        "id": {
          "description": "Id of the printer. (During printer creation leave empty)",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Editable. Description of printer."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the Printer object, in the format customers/{customer-id}/printers/{printer-id} (During printer creation leave empty)"
        },
        "uri": {
          "type": "string",
          "description": "Editable. Printer URI."
        },
        "makeAndModel": {
          "description": "Editable. Make and model of printer. e.g. Lexmark MS610de Value must be in format as seen in ListPrinterModels response.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Editable. Name of printer."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when printer was created."
        },
        "orgUnitId": {
          "type": "string",
          "description": "Organization Unit that owns this printer (Only can be set during Printer creation)"
        }
      },
      "type": "object",
      "id": "Printer",
      "description": "Printer configuration."
    },
    "Schema": {
      "description": "The type of API resource. For Schema resources, this is always `admin#directory#schema`.",
      "id": "Schema",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name for the schema.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          }
        },
        "schemaId": {
          "description": "The unique identifier of the schema (Read-only)",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the resource.",
          "type": "string"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "SchemaFieldSpec"
          },
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "description": "A list of fields in the schema."
        },
        "kind": {
          "default": "admin#directory#schema",
          "type": "string",
          "description": "Kind of resource this is."
        },
        "schemaName": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          },
          "description": "The schema's name. Each `schema_name` must be unique within a customer. Reusing a name results in a `409: Entity already exists` error."
        }
      }
    },
    "UserSshPublicKey": {
      "properties": {
        "expirationTimeUsec": {
          "format": "int64",
          "description": "An expiration time in microseconds since epoch.",
          "type": "string"
        },
        "fingerprint": {
          "readOnly": true,
          "description": "A SHA-256 fingerprint of the SSH public key. (Read-only)",
          "type": "string"
        },
        "key": {
          "description": "An SSH public key.",
          "type": "string"
        }
      },
      "description": "JSON template for a POSIX account entry.",
      "type": "object",
      "id": "UserSshPublicKey"
    },
    "UserRelation": {
      "type": "object",
      "description": "JSON template for a relation entry.",
      "properties": {
        "value": {
          "description": "The name of the relation.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The relation of the user. Some of the possible values are mother father sister brother manager assistant partner."
        },
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        }
      },
      "id": "UserRelation"
    },
    "Tokens": {
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Token"
          },
          "description": "A list of Token resources."
        },
        "kind": {
          "default": "admin#directory#tokenList",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#tokenList`."
        }
      },
      "id": "Tokens",
      "type": "object",
      "description": "JSON response template for List tokens operation in Directory API."
    },
    "UserExternalId": {
      "id": "UserExternalId",
      "properties": {
        "customType": {
          "type": "string",
          "description": "Custom type."
        },
        "value": {
          "type": "string",
          "description": "The value of the id."
        },
        "type": {
          "type": "string",
          "description": "The type of the Id."
        }
      },
      "type": "object",
      "description": "JSON template for an externalId entry."
    },
    "PrintServerFailureInfo": {
      "properties": {
        "errorCode": {
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "type": "string",
          "description": "Canonical code for why the update failed to apply.",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ]
        },
        "errorMessage": {
          "type": "string",
          "description": "Failure reason message."
        },
        "printServerId": {
          "description": "ID of a failed print server.",
          "type": "string"
        },
        "printServer": {
          "description": "Failed print server.",
          "$ref": "PrintServer"
        }
      },
      "id": "PrintServerFailureInfo",
      "type": "object",
      "description": "Info about failures"
    },
    "Group": {
      "properties": {
        "nonEditableAliases": {
          "items": {
            "type": "string"
          },
          "description": "Read-only. The list of the group's non-editable alias email addresses that are outside of the account's primary domain or subdomains. These are functioning email addresses used by the group. This is a read-only property returned in the API's response for a group. If edited in a group's POST or PUT request, the edit is ignored.",
          "type": "array"
        },
        "aliases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Read-only. The list of a group's alias email addresses. To add, update, or remove a group's aliases, use the `groups.aliases` methods. If edited in a group's POST or PUT request, the edit is ignored."
        },
        "kind": {
          "default": "admin#directory#group",
          "type": "string",
          "description": "The type of the API resource. For Groups resources, the value is `admin#directory#group`."
        },
        "description": {
          "type": "string",
          "description": "An extended description to help users determine the purpose of a group. For example, you can include information about who should join the group, the types of messages to send to the group, links to FAQs about the group, or related groups. Maximum length is `4,096` characters."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "adminCreated": {
          "description": "Read-only. Value is `true` if this group was created by an administrator rather than a user.",
          "type": "boolean"
        },
        "id": {
          "description": "Read-only. The unique ID of a group. A group `id` can be used as a group request URI's `groupKey`.",
          "type": "string"
        },
        "email": {
          "annotations": {
            "required": [
              "directory.groups.insert"
            ]
          },
          "description": "The group's email address. If your account has multiple domains, select the appropriate domain for the email address. The `email` must be unique. This property is required when creating a group. Group email addresses are subject to the same character usage rules as usernames, see the [help center](https://support.google.com/a/answer/9193374) for details.",
          "type": "string"
        },
        "directMembersCount": {
          "type": "string",
          "description": "The number of users that are direct members of the group. If a group is a member (child) of this group (the parent), members of the child group are not counted in the `directMembersCount` property of the parent group.",
          "format": "int64"
        },
        "name": {
          "description": "The group's display name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Google Groups provide your users the ability to send messages to groups of people using the group's email address. For more information about common tasks, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-groups).",
      "id": "Group"
    },
    "CalendarResource": {
      "id": "CalendarResource",
      "type": "object",
      "properties": {
        "userVisibleDescription": {
          "description": "Description of the resource, visible to users and admins.",
          "type": "string"
        },
        "resourceType": {
          "description": "The type of the calendar resource, intended for non-room resources.",
          "type": "string"
        },
        "generatedResourceName": {
          "type": "string",
          "description": "The read-only auto-generated name of the calendar resource which includes metadata about the resource such as building name, floor, capacity, etc. For example, \"NYC-2-Training Room 1A (16)\"."
        },
        "resourceCategory": {
          "description": "The category of the calendar resource. Either CONFERENCE_ROOM or OTHER. Legacy data is set to CATEGORY_UNKNOWN.",
          "type": "string"
        },
        "etags": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "buildingId": {
          "type": "string",
          "description": "Unique ID for the building a resource is located in."
        },
        "floorName": {
          "type": "string",
          "description": "Name of the floor a resource is located on."
        },
        "resourceName": {
          "type": "string",
          "description": "The name of the calendar resource. For example, \"Training Room 1A\".",
          "annotations": {
            "required": [
              "directory.resources.calendars.insert"
            ]
          }
        },
        "featureInstances": {
          "description": "Instances of features for the calendar resource.",
          "type": "any"
        },
        "floorSection": {
          "type": "string",
          "description": "Name of the section within a floor a resource is located in."
        },
        "resourceDescription": {
          "type": "string",
          "description": "Description of the resource, visible only to admins."
        },
        "resourceId": {
          "type": "string",
          "description": "The unique ID for the calendar resource.",
          "annotations": {
            "required": [
              "directory.resources.calendars.insert"
            ]
          }
        },
        "kind": {
          "default": "admin#directory#resources#calendars#CalendarResource",
          "description": "The type of the resource. For calendar resources, the value is `admin#directory#resources#calendars#CalendarResource`.",
          "type": "string"
        },
        "capacity": {
          "description": "Capacity of a resource, number of seats in a room.",
          "type": "integer",
          "format": "int32"
        },
        "resourceEmail": {
          "description": "The read-only email for the calendar resource. Generated as part of creating a new calendar resource.",
          "type": "string"
        }
      },
      "description": "Public API: Resources.calendars"
    },
    "DirectoryChromeosdevicesCommand": {
      "properties": {
        "commandExpireTime": {
          "format": "google-datetime",
          "description": "The time at which the command will expire. If the device doesn't execute the command within this time the command will become expired.",
          "type": "string"
        },
        "payload": {
          "type": "string",
          "description": "The payload that the command specified, if any."
        },
        "type": {
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "REBOOT",
            "TAKE_A_SCREENSHOT",
            "SET_VOLUME",
            "WIPE_USERS",
            "REMOTE_POWERWASH"
          ],
          "enumDescriptions": [
            "The command type was unspecified.",
            "Reboot the device. Can only be issued to Kiosk and managed guest session devices.",
            "Take a screenshot of the device. Only available if the device is in Kiosk Mode.",
            "Set the volume of the device. Can only be issued to Kiosk and managed guest session devices.",
            "Wipe all the users off of the device. Executing this command in the device will remove all user profile data, but it will keep device policy and enrollment.",
            "Wipes the device by performing a power wash. Executing this command in the device will remove all data including user policies, device policies and enrollment policies. Warning: This will revert the device back to a factory state with no enrollment unless the device is subject to forced or auto enrollment. Use with caution, as this is an irreversible action!"
          ],
          "description": "The type of the command.",
          "type": "string"
        },
        "commandId": {
          "description": "Unique ID of a device command.",
          "format": "int64",
          "type": "string"
        },
        "state": {
          "description": "Indicates the command state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "EXPIRED",
            "CANCELLED",
            "SENT_TO_CLIENT",
            "ACKED_BY_CLIENT",
            "EXECUTED_BY_CLIENT"
          ],
          "enumDescriptions": [
            "The command status was unspecified.",
            "An unexpired command not yet sent to the client.",
            "The command didn't get executed by the client within the expected time.",
            "The command is cancelled by admin while in PENDING.",
            "The command has been sent to the client.",
            "The client has responded that it received the command.",
            "The client has (un)successfully executed the command."
          ],
          "type": "string"
        },
        "issueTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the command was issued by the admin."
        },
        "commandResult": {
          "description": "The result of the command execution.",
          "$ref": "DirectoryChromeosdevicesCommandResult"
        }
      },
      "description": "Information regarding a command that was issued to a device.",
      "id": "DirectoryChromeosdevicesCommand",
      "type": "object"
    },
    "MembersHasMember": {
      "type": "object",
      "description": "JSON template for Has Member response in Directory API.",
      "properties": {
        "isMember": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the given user is a member of the group. Membership can be direct or nested."
        }
      },
      "id": "MembersHasMember"
    },
    "Privileges": {
      "id": "Privileges",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "type": "array",
          "description": "A list of Privilege resources.",
          "items": {
            "$ref": "Privilege"
          }
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#privileges`.",
          "default": "admin#directory#privileges",
          "type": "string"
        }
      }
    },
    "BatchDeletePrintersRequest": {
      "id": "BatchDeletePrintersRequest",
      "description": "Request for deleting existing printers in batch.",
      "type": "object",
      "properties": {
        "printerIds": {
          "type": "array",
          "description": "A list of Printer.id that should be deleted. Max 100 at a time.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UserKeyword": {
      "id": "UserKeyword",
      "properties": {
        "value": {
          "description": "Keyword.",
          "type": "string"
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        },
        "type": {
          "description": "Each entry can have a type which indicates standard type of that entry. For example keyword could be of type occupation or outlook. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "JSON template for a keyword entry."
    },
    "Asp": {
      "type": "object",
      "description": "An application-specific password (ASP) is used with applications that do not accept a verification code when logging into the application on certain devices. The ASP access code is used instead of the login and password you commonly use when accessing an application through a browser. For more information about ASPs and how to create one, see the [help center](https://support.google.com/a/answer/2537800#asp).",
      "id": "Asp",
      "properties": {
        "name": {
          "description": "The name of the application that the user, represented by their `userId`, entered when the ASP was created.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#asp",
          "description": "The type of the API resource. This is always `admin#directory#asp`."
        },
        "userKey": {
          "type": "string",
          "description": "The unique ID of the user who issued the ASP."
        },
        "creationTime": {
          "description": "The time when the ASP was created. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format.",
          "format": "int64",
          "type": "string"
        },
        "codeId": {
          "format": "int32",
          "type": "integer",
          "description": "The unique ID of the ASP."
        },
        "etag": {
          "description": "ETag of the ASP.",
          "type": "string"
        },
        "lastTimeUsed": {
          "format": "int64",
          "type": "string",
          "description": "The time when the ASP was last used. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format."
        }
      }
    },
    "OrgUnit": {
      "type": "object",
      "id": "OrgUnit",
      "description": "Managing your account's organizational units allows you to configure your users' access to services and custom settings. For more information about common organizational unit tasks, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-org-units.html). The customer's organizational unit hierarchy is limited to 35 levels of depth.",
      "properties": {
        "name": {
          "description": "The organizational unit's path name. For example, an organizational unit's name within the /corp/support/sales_support parent path is sales_support. Required.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.orgunits.insert"
            ]
          }
        },
        "parentOrgUnitId": {
          "description": "The unique ID of the parent organizational unit. Required, unless `parentOrgUnitPath` is set.",
          "type": "string"
        },
        "parentOrgUnitPath": {
          "description": "The organizational unit's parent path. For example, /corp/sales is the parent path for /corp/sales/sales_support organizational unit. Required, unless `parentOrgUnitId` is set.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "orgUnitId": {
          "type": "string",
          "description": "The unique ID of the organizational unit."
        },
        "description": {
          "type": "string",
          "description": "Description of the organizational unit."
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#orgUnit",
          "description": "The type of the API resource. For Orgunits resources, the value is `admin#directory#orgUnit`."
        },
        "blockInheritance": {
          "type": "boolean",
          "description": "Determines if a sub-organizational unit can inherit the settings of the parent organization. The default value is `false`, meaning a sub-organizational unit inherits the settings of the nearest parent organizational unit. For more information on inheritance and users in an organization structure, see the [administration help center](https://support.google.com/a/answer/4352075)."
        },
        "orgUnitPath": {
          "type": "string",
          "description": "The full path to the organizational unit. The `orgUnitPath` is a derived property. When listed, it is derived from `parentOrgunitPath` and organizational unit's `name`. For example, for an organizational unit named 'apps' under parent organization '/engineering', the orgUnitPath is '/engineering/apps'. In order to edit an `orgUnitPath`, either update the name of the organization or the `parentOrgunitPath`. A user's organizational unit determines which Google Workspace services the user has access to. If the user is moved to a new organization, the user's access changes. For more information about organization structures, see the [administration help center](https://support.google.com/a/answer/4352075). For more information about moving a user to a different organization, see [Update a user](/admin-sdk/directory/v1/guides/manage-users.html#update_user)."
        }
      }
    },
    "Asps": {
      "type": "object",
      "id": "Asps",
      "properties": {
        "items": {
          "items": {
            "$ref": "Asp"
          },
          "type": "array",
          "description": "A list of ASP resources."
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#aspList`.",
          "default": "admin#directory#aspList"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      }
    },
    "DirectoryChromeosdevicesCommandResult": {
      "type": "object",
      "description": "The result of executing a command.",
      "properties": {
        "executeTime": {
          "format": "google-datetime",
          "description": "The time at which the command was executed or failed to execute.",
          "type": "string"
        },
        "result": {
          "type": "string",
          "enum": [
            "COMMAND_RESULT_TYPE_UNSPECIFIED",
            "IGNORED",
            "FAILURE",
            "SUCCESS"
          ],
          "enumDescriptions": [
            "The command result was unspecified.",
            "The command was ignored as obsolete.",
            "The command could not be executed successfully.",
            "The command was successfully executed."
          ],
          "description": "The result of the command."
        },
        "errorMessage": {
          "description": "The error message with a short explanation as to why the command failed. Only present if the command failed.",
          "type": "string"
        }
      },
      "id": "DirectoryChromeosdevicesCommandResult"
    },
    "BatchDeletePrintServersRequest": {
      "description": "Request to delete multiple existing print servers in a batch.",
      "properties": {
        "printServerIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of print server IDs that should be deleted (max `100` per batch)."
        }
      },
      "id": "BatchDeletePrintServersRequest",
      "type": "object"
    },
    "User": {
      "type": "object",
      "id": "User",
      "description": "The Directory API allows you to create and manage your account's users, user aliases, and user Gmail chat profile photos. For more information about common tasks, see the [User Accounts Developer's Guide](/admin-sdk/directory/v1/guides/manage-users.html) and the [User Aliases Developer's Guide](/admin-sdk/directory/v1/guides/manage-user-aliases.html).",
      "properties": {
        "externalIds": {
          "description": "The list of external IDs for the user, such as an employee or network ID. The maximum allowed data size for this field is 2Kb.",
          "type": "any"
        },
        "suspensionReason": {
          "description": "Output only. Has the reason a user account is suspended either by the administrator or by Google at the time of suspension. The property is returned only if the `suspended` property is `true`.",
          "readOnly": true,
          "type": "string"
        },
        "phones": {
          "description": "The list of the user's phone numbers. The maximum allowed data size for this field is 1Kb.",
          "type": "any"
        },
        "agreedToTerms": {
          "readOnly": true,
          "description": "Output only. This property is `true` if the user has completed an initial login and accepted the Terms of Service agreement.",
          "type": "boolean"
        },
        "thumbnailPhotoUrl": {
          "description": "Output only. Photo Url of the user (Read-only)",
          "readOnly": true,
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#user",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the API resource. For Users resources, the value is `admin#directory#user`."
        },
        "archived": {
          "description": "Indicates if user is archived.",
          "type": "boolean"
        },
        "name": {
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "$ref": "UserName",
          "description": "Holds the given and family names of the user, and the read-only `fullName` value. The maximum number of characters in the `givenName` and in the `familyName` values is 60. In addition, name values support unicode/UTF-8 characters, and can contain spaces, letters (a-z), numbers (0-9), dashes (-), forward slashes (/), and periods (.). For more information about character usage rules, see the [administration help center](https://support.google.com/a/answer/9193374). Maximum allowed data size for this field is 1Kb."
        },
        "id": {
          "description": "The unique ID for the user. A user `id` can be used as a user request URI's `userKey`.",
          "type": "string"
        },
        "posixAccounts": {
          "description": "The list of [POSIX](https://www.opengroup.org/austin/papers/posix_faq.html) account information for the user.",
          "type": "any"
        },
        "recoveryPhone": {
          "type": "string",
          "description": "Recovery phone of the user. The phone number must be in the E.164 format, starting with the plus sign (+). Example: *+16506661212*."
        },
        "customSchemas": {
          "type": "object",
          "additionalProperties": {
            "$ref": "UserCustomProperties"
          },
          "description": "Custom fields of the user. The key is a `schema_name` and its values are `'field_name': 'field_value'`."
        },
        "sshPublicKeys": {
          "type": "any",
          "description": "A list of SSH public keys."
        },
        "locations": {
          "type": "any",
          "description": "The user's locations. The maximum allowed data size for this field is 10Kb."
        },
        "keywords": {
          "type": "any",
          "description": "The list of the user's keywords. The maximum allowed data size for this field is 1Kb."
        },
        "recoveryEmail": {
          "type": "string",
          "description": "Recovery email of the user."
        },
        "gender": {
          "description": "The user's gender. The maximum allowed data size for this field is 1Kb.",
          "type": "any"
        },
        "isEnforcedIn2Sv": {
          "type": "boolean",
          "description": "Output only. Is 2-step verification enforced (Read-only)",
          "readOnly": true
        },
        "password": {
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "description": "User's password",
          "type": "string"
        },
        "changePasswordAtNextLogin": {
          "description": "Indicates if the user is forced to change their password at next login. This setting doesn't apply when [the user signs in via a third-party identity provider](https://support.google.com/a/answer/60224).",
          "type": "boolean"
        },
        "ims": {
          "description": "The list of the user's Instant Messenger (IM) accounts. A user account can have multiple ims properties. But, only one of these ims properties can be the primary IM contact. The maximum allowed data size for this field is 2Kb.",
          "type": "any"
        },
        "isMailboxSetup": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the user's Google mailbox is created. This property is only applicable if the user has been assigned a Gmail license."
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. ETag of the resource.",
          "type": "string"
        },
        "primaryEmail": {
          "type": "string",
          "description": "The user's primary email address. This property is required in a request to create a user account. The `primaryEmail` must be unique and cannot be an alias of another user.",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          }
        },
        "emails": {
          "description": "The list of the user's email addresses. The maximum allowed data size for this field is 10Kb.",
          "type": "any"
        },
        "orgUnitPath": {
          "type": "string",
          "description": "The full path of the parent organization associated with the user. If the parent organization is the top-level, it is represented as a forward slash (`/`)."
        },
        "organizations": {
          "type": "any",
          "description": "The list of organizations the user belongs to. The maximum allowed data size for this field is 10Kb."
        },
        "aliases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of the user's alias email addresses.",
          "readOnly": true
        },
        "creationTime": {
          "readOnly": true,
          "format": "date-time",
          "type": "string",
          "description": "User's G Suite account creation time. (Read-only)"
        },
        "isDelegatedAdmin": {
          "description": "Output only. Indicates if the user is a delegated administrator. Delegated administrators are supported by the API but cannot create or undelete users, or make users administrators. These requests are ignored by the API service. Roles and privileges for administrators are assigned using the [Admin console](https://support.google.com/a/answer/33325).",
          "type": "boolean",
          "readOnly": true
        },
        "hashFunction": {
          "type": "string",
          "description": "Stores the hash format of the `password` property. The following `hashFunction` values are allowed: * `MD5` - Accepts simple hex-encoded values. * `SHA-1` - Accepts simple hex-encoded values. * `crypt` - Compliant with the [C crypt library](https://en.wikipedia.org/wiki/Crypt_%28C%29). Supports the DES, MD5 (hash prefix `$1$`), SHA-256 (hash prefix `$5$`), and SHA-512 (hash prefix `$6$`) hash algorithms. If rounds are specified as part of the prefix, they must be 10,000 or fewer."
        },
        "deletionTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "nonEditableAliases": {
          "type": "array",
          "description": "Output only. The list of the user's non-editable alias email addresses. These are typically outside the account's primary domain or sub-domain.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "relations": {
          "type": "any",
          "description": "The list of the user's relationships to other users. The maximum allowed data size for this field is 2Kb."
        },
        "suspended": {
          "description": "Indicates if user is suspended.",
          "type": "boolean"
        },
        "websites": {
          "description": "The user's websites. The maximum allowed data size for this field is 2Kb.",
          "type": "any"
        },
        "isAdmin": {
          "readOnly": true,
          "description": "Output only. Indicates a user with super admininistrator privileges. The `isAdmin` property can only be edited in the [Make a user an administrator](/admin-sdk/directory/v1/guides/manage-users.html#make_admin) operation ( [makeAdmin](/admin-sdk/directory/v1/reference/users/makeAdmin.html) method). If edited in the user [insert](/admin-sdk/directory/v1/reference/users/insert.html) or [update](/admin-sdk/directory/v1/reference/users/update.html) methods, the edit is ignored by the API service.",
          "type": "boolean"
        },
        "thumbnailPhotoEtag": {
          "readOnly": true,
          "description": "Output only. ETag of the user's photo (Read-only)",
          "type": "string"
        },
        "ipWhitelisted": {
          "type": "boolean",
          "description": "If `true`, the user's IP address is [whitelisted](https://support.google.com/a/answer/60752)."
        },
        "notes": {
          "type": "any",
          "description": "Notes for the user."
        },
        "customerId": {
          "description": "Output only. The customer ID to [retrieve all account users](/admin-sdk/directory/v1/guides/manage-users.html#get_all_users). You can use the alias `my_customer` to represent your account's `customerId`. As a reseller administrator, you can use the resold customer account's `customerId`. To get a `customerId`, use the account's primary domain in the `domain` parameter of a [users.list](/admin-sdk/directory/v1/reference/users/list) request.",
          "readOnly": true,
          "type": "string"
        },
        "addresses": {
          "type": "any",
          "description": "The list of the user's addresses. The maximum allowed data size for this field is 10Kb."
        },
        "includeInGlobalAddressList": {
          "type": "boolean",
          "description": "Indicates if the user's profile is visible in the Google Workspace global address list when the contact sharing feature is enabled for the domain. For more information about excluding user profiles, see the [administration help center](https://support.google.com/a/answer/1285988)."
        },
        "lastLoginTime": {
          "type": "string",
          "description": "User's last login time. (Read-only)",
          "readOnly": true,
          "format": "date-time"
        },
        "languages": {
          "type": "any",
          "description": "The user's languages. The maximum allowed data size for this field is 1Kb."
        },
        "isEnrolledIn2Sv": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Is enrolled in 2-step verification (Read-only)"
        }
      }
    },
    "UserUndelete": {
      "id": "UserUndelete",
      "type": "object",
      "properties": {
        "orgUnitPath": {
          "description": "OrgUnit of User",
          "type": "string"
        }
      }
    },
    "UserAbout": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Actual value of notes.",
          "type": "string"
        },
        "contentType": {
          "description": "About entry can have a type which indicates the content type. It can either be plain or html. By default, notes contents are assumed to contain plain text.",
          "type": "string"
        }
      },
      "id": "UserAbout",
      "description": "JSON template for About (notes) of a user in Directory API."
    },
    "PrinterModel": {
      "properties": {
        "makeAndModel": {
          "type": "string",
          "description": "Make and model as represented in \"make_and_model\" field in Printer object. eq. \"brother mfc-8840d\""
        },
        "displayName": {
          "type": "string",
          "description": "Display name. eq. \"Brother MFC-8840D\""
        },
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer. eq. \"Brother\""
        }
      },
      "type": "object",
      "description": "Printer manufacturer and model",
      "id": "PrinterModel"
    },
    "BatchDeletePrintersResponse": {
      "id": "BatchDeletePrintersResponse",
      "description": "Response for deleting existing printers in batch.",
      "type": "object",
      "properties": {
        "failedPrinters": {
          "items": {
            "$ref": "FailureInfo"
          },
          "description": "A list of update failures.",
          "type": "array"
        },
        "printerIds": {
          "description": "A list of Printer.id that were successfully deleted.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "FeatureRename": {
      "properties": {
        "newName": {
          "annotations": {
            "required": [
[...]
