{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile": {
          "description": "View and manage your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias": {
          "description": "View and manage user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member": {
          "description": "View and manage group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly": {
          "description": "View your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.customer.readonly": {
          "description": "View customer related information"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit": {
          "description": "View and manage organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema.readonly": {
          "description": "View user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers": {
          "description": "See, add, edit, and permanently delete the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly": {
          "description": "View calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.domain": {
          "description": "View and manage the provisioning of domains for your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.domain.readonly": {
          "description": "View domains related to your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit.readonly": {
          "description": "View organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member.readonly": {
          "description": "View group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos": {
          "description": "View and manage your Chrome OS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias.readonly": {
          "description": "View user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement": {
          "description": "Manage delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.action": {
          "description": "Manage your mobile devices by performing administrative tasks"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema": {
          "description": "View and manage the provisioning of user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.readonly": {
          "description": "See info about users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.readonly": {
          "description": "View groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar": {
          "description": "View and manage the provisioning of calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly": {
          "description": "View your Chrome OS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers.readonly": {
          "description": "See the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly": {
          "description": "View delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.customer": {
          "description": "View and manage customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.user.security": {
          "description": "Manage data access permissions for users on your domain"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/admin-sdk/",
  "revision": "20221020",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "version": "directory_v1",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "discoveryVersion": "v1",
  "id": "admin:directory_v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "protocol": "rest",
  "canonicalName": "directory",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://admin.googleapis.com/",
  "resources": {
    "twoStepVerification": {
      "methods": {
        "turnOff": {
          "path": "admin/directory/v1/users/{userKey}/twoStepVerification/turnOff",
          "flatPath": "admin/directory/v1/users/{userKey}/twoStepVerification/turnOff",
          "description": "Turns off 2-Step Verification for user.",
          "id": "directory.twoStepVerification.turnOff",
          "parameters": {
            "userKey": {
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "parameterOrder": [
            "userKey"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "mobiledevices": {
      "methods": {
        "list": {
          "id": "directory.mobiledevices.list",
          "response": {
            "$ref": "MobileDevices"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.action",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly"
          ],
          "parameters": {
            "projection": {
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Restrict information returned to a set of selected fields.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, model, status, type, and status)",
                "Includes all metadata fields"
              ]
            },
            "pageToken": {
              "description": "Token to specify next page in the list",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Whether to return results in ascending or descending order. Must be used with the `orderBy` parameter."
            },
            "orderBy": {
              "enum": [
                "deviceId",
                "email",
                "lastSync",
                "model",
                "name",
                "os",
                "status",
                "type"
              ],
              "location": "query",
              "type": "string",
              "description": "Device property to use for sorting results.",
              "enumDescriptions": [
                "The serial number for a Google Sync mobile device. For Android devices, this is a software generated unique identifier.",
                "The device owner's email address.",
                "Last policy settings sync date time of the device.",
                "The mobile device's model.",
                "The device owner's user name.",
                "The device's operating system.",
                "The device status.",
                "Type of the device."
              ]
            },
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "location": "path",
              "type": "string",
              "required": true
            },
            "query": {
              "location": "query",
              "description": "Search string in the format given at https://developers.google.com/admin-sdk/directory/v1/search-operators",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return. Max allowed value is 100.",
              "format": "int32",
              "type": "integer",
              "default": "100",
              "maximum": "100",
              "minimum": "1",
              "location": "query"
            }
          },
          "description": "Retrieves a paginated list of all user-owned mobile devices for an account. To retrieve a list that includes company-owned devices, use the Cloud Identity [Devices API](https://cloud.google.com/identity/docs/concepts/overview-devices) instead.",
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/mobile",
          "path": "admin/directory/v1/customer/{customerId}/devices/mobile",
          "httpMethod": "GET"
        },
        "delete": {
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "description": "Removes a mobile device.",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}",
          "id": "directory.mobiledevices.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique ID the API service uses to identify the mobile device.",
              "type": "string"
            },
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.action",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly"
          ],
          "description": "Retrieves a mobile device's properties.",
          "response": {
            "$ref": "MobileDevice"
          },
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "id": "directory.mobiledevices.get",
          "parameters": {
            "projection": {
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "description": "Restrict information returned to a set of selected fields.",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, model, status, type, and status)",
                "Includes all metadata fields"
              ]
            },
            "resourceId": {
              "required": true,
              "description": "The unique ID the API service uses to identify the mobile device.",
              "location": "path",
              "type": "string"
            },
            "customerId": {
              "location": "path",
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "required": true
            }
          },
          "path": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}",
          "httpMethod": "GET"
        },
        "action": {
          "path": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}/action",
          "httpMethod": "POST",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}/action",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique ID the API service uses to identify the mobile device.",
              "location": "path"
            },
            "customerId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users)."
            }
          },
          "description": "Takes an action that affects a mobile device. For example, remotely wiping a device.",
          "request": {
            "$ref": "MobileDeviceAction"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.action"
          ],
          "id": "directory.mobiledevices.action",
          "parameterOrder": [
            "customerId",
            "resourceId"
          ]
        }
      }
    },
    "asps": {
      "methods": {
        "delete": {
          "parameters": {
            "codeId": {
              "type": "integer",
              "required": true,
              "location": "path",
              "format": "int32",
              "description": "The unique ID of the ASP to be deleted."
            },
            "userKey": {
              "location": "path",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "userKey",
            "codeId"
          ],
          "path": "admin/directory/v1/users/{userKey}/asps/{codeId}",
          "flatPath": "admin/directory/v1/users/{userKey}/asps/{codeId}",
          "description": "Deletes an ASP issued by a user.",
          "id": "directory.asps.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ]
        },
        "get": {
          "description": "Gets information about an ASP issued by a user.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "parameterOrder": [
            "userKey",
            "codeId"
          ],
          "flatPath": "admin/directory/v1/users/{userKey}/asps/{codeId}",
          "parameters": {
            "userKey": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID."
            },
            "codeId": {
              "description": "The unique ID of the ASP.",
              "format": "int32",
              "location": "path",
              "required": true,
              "type": "integer"
            }
          },
          "response": {
            "$ref": "Asp"
          },
          "path": "admin/directory/v1/users/{userKey}/asps/{codeId}",
          "id": "directory.asps.get",
          "httpMethod": "GET"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Asps"
          },
          "description": "Lists the ASPs issued by a user.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "parameters": {
            "userKey": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID."
            }
          },
          "id": "directory.asps.list",
          "flatPath": "admin/directory/v1/users/{userKey}/asps",
          "parameterOrder": [
            "userKey"
          ],
          "path": "admin/directory/v1/users/{userKey}/asps"
        }
      }
    },
    "schemas": {
      "methods": {
        "insert": {
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas",
          "id": "directory.schemas.insert",
          "parameters": {
            "customerId": {
              "required": true,
              "location": "path",
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            }
          },
          "description": "Creates a schema.",
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "response": {
            "$ref": "Schema"
          },
          "path": "admin/directory/v1/customer/{customerId}/schemas",
          "request": {
            "$ref": "Schema"
          },
          "httpMethod": "POST"
        },
        "delete": {
          "description": "Deletes a schema.",
          "id": "directory.schemas.delete",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "customerId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Immutable ID of the Google Workspace account."
            },
            "schemaKey": {
              "required": true,
              "description": "Name or immutable ID of the schema.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}"
        },
        "get": {
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "description": "Retrieves a schema.",
          "id": "directory.schemas.get",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema",
            "https://www.googleapis.com/auth/admin.directory.userschema.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Schema"
          },
          "parameters": {
            "customerId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Immutable ID of the Google Workspace account."
            },
            "schemaKey": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Name or immutable ID of the schema."
            }
          }
        },
        "patch": {
          "request": {
            "$ref": "Schema"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "id": "directory.schemas.patch",
          "description": "Patches a schema.",
          "parameters": {
            "schemaKey": {
              "description": "Name or immutable ID of the schema.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "customerId": {
              "required": true,
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "response": {
            "$ref": "Schema"
          },
          "httpMethod": "PATCH"
        },
        "list": {
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas",
          "path": "admin/directory/v1/customer/{customerId}/schemas",
          "response": {
            "$ref": "Schemas"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema",
            "https://www.googleapis.com/auth/admin.directory.userschema.readonly"
          ],
          "description": "Retrieves all schemas for a customer.",
          "httpMethod": "GET",
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "directory.schemas.list"
        },
        "update": {
          "id": "directory.schemas.update",
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "response": {
            "$ref": "Schema"
          },
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "parameters": {
            "schemaKey": {
              "type": "string",
              "description": "Name or immutable ID of the schema.",
              "location": "path",
              "required": true
            },
            "customerId": {
              "type": "string",
              "required": true,
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "request": {
            "$ref": "Schema"
          },
          "httpMethod": "PUT",
          "description": "Updates a schema.",
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}"
        }
      }
    },
    "roles": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ],
          "response": {
            "$ref": "Role"
          },
          "id": "directory.roles.update",
          "parameterOrder": [
            "customer",
            "roleId"
          ],
          "path": "admin/directory/v1/customer/{customer}/roles/{roleId}",
          "flatPath": "admin/directory/v1/customer/{customer}/roles/{roleId}",
          "request": {
            "$ref": "Role"
          },
          "parameters": {
            "roleId": {
              "type": "string",
              "location": "path",
              "description": "Immutable ID of the role.",
              "required": true
            },
            "customer": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Immutable ID of the Google Workspace account."
            }
          },
          "description": "Updates a role.",
          "httpMethod": "PUT"
        },
        "list": {
          "id": "directory.roles.list",
          "response": {
            "$ref": "Roles"
          },
          "description": "Retrieves a paginated list of all the roles in a domain.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ],
          "path": "admin/directory/v1/customer/{customer}/roles",
          "flatPath": "admin/directory/v1/customer/{customer}/roles",
          "parameters": {
            "maxResults": {
              "location": "query",
              "minimum": "1",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "maximum": "100"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify the next page in the list."
            },
            "customer": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Immutable ID of the Google Workspace account."
            }
          },
          "parameterOrder": [
            "customer"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "flatPath": "admin/directory/v1/customer/{customer}/roles/{roleId}",
          "response": {
            "$ref": "Role"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ],
          "parameterOrder": [
            "customer",
            "roleId"
          ],
          "httpMethod": "GET",
          "id": "directory.roles.get",
          "description": "Retrieves a role.",
          "path": "admin/directory/v1/customer/{customer}/roles/{roleId}",
          "parameters": {
            "customer": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "roleId": {
              "location": "path",
              "description": "Immutable ID of the role.",
              "required": true,
              "type": "string"
            }
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ],
          "description": "Deletes a role.",
          "parameterOrder": [
            "customer",
            "roleId"
          ],
          "httpMethod": "DELETE",
          "flatPath": "admin/directory/v1/customer/{customer}/roles/{roleId}",
          "parameters": {
            "roleId": {
              "description": "Immutable ID of the role.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "customer": {
              "location": "path",
              "description": "Immutable ID of the Google Workspace account.",
              "required": true,
              "type": "string"
            }
          },
          "path": "admin/directory/v1/customer/{customer}/roles/{roleId}",
          "id": "directory.roles.delete"
        },
        "insert": {
          "flatPath": "admin/directory/v1/customer/{customer}/roles",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ],
          "description": "Creates a role.",
          "request": {
            "$ref": "Role"
          },
          "id": "directory.roles.insert",
          "response": {
            "$ref": "Role"
          },
          "parameterOrder": [
            "customer"
          ],
          "parameters": {
            "customer": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "path": "admin/directory/v1/customer/{customer}/roles"
        },
        "patch": {
          "request": {
            "$ref": "Role"
          },
          "path": "admin/directory/v1/customer/{customer}/roles/{roleId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "customer": {
              "type": "string",
              "required": true,
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path"
            },
            "roleId": {
              "type": "string",
              "description": "Immutable ID of the role.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Role"
          },
          "description": "Patches a role.",
          "id": "directory.roles.patch",
          "parameterOrder": [
            "customer",
            "roleId"
          ],
          "flatPath": "admin/directory/v1/customer/{customer}/roles/{roleId}"
        }
      }
    },
    "privileges": {
      "methods": {
        "list": {
          "parameterOrder": [
            "customer"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Privileges"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ],
          "path": "admin/directory/v1/customer/{customer}/roles/ALL/privileges",
          "id": "directory.privileges.list",
          "parameters": {
            "customer": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Retrieves a paginated list of all privileges for a customer.",
          "flatPath": "admin/directory/v1/customer/{customer}/roles/ALL/privileges"
        }
      }
    },
    "orgunits": {
      "methods": {
        "patch": {
          "response": {
            "$ref": "OrgUnit"
          },
          "description": "Updates an organizational unit. This method supports [patch semantics](/admin-sdk/directory/v1/guides/performance#patch)",
          "request": {
            "$ref": "OrgUnit"
          },
          "id": "directory.orgunits.patch",
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "parameters": {
            "customerId": {
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "type": "string",
              "location": "path"
            },
            "orgUnitPath": {
              "type": "string",
              "description": "The full path of the organizational unit (minus the leading `/`) or its unique ID.",
              "pattern": "^.*$",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits/{orgunitsId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit"
          ],
          "path": "admin/directory/v1/customer/{customerId}/orgunits/{+orgUnitPath}",
          "httpMethod": "PATCH"
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "customerId"
          ],
          "response": {
            "$ref": "OrgUnits"
          },
          "id": "directory.orgunits.list",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit",
            "https://www.googleapis.com/auth/admin.directory.orgunit.readonly"
          ],
          "path": "admin/directory/v1/customer/{customerId}/orgunits",
          "parameters": {
            "customerId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users)."
            },
            "type": {
              "enumDescriptions": [
                "All sub-organizational units.",
                "Immediate children only (default)."
              ],
              "type": "string",
              "enum": [
                "all",
                "children"
              ],
              "location": "query",
              "description": "Whether to return all sub-organizations or just immediate children."
            },
            "orgUnitPath": {
              "type": "string",
              "location": "query",
              "default": "",
              "description": "The full path to the organizational unit or its unique ID. Returns the children of the specified organizational unit."
            }
          },
          "description": "Retrieves a list of all organizational units for an account.",
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits"
        },
        "insert": {
          "request": {
            "$ref": "OrgUnit"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits",
          "id": "directory.orgunits.insert",
          "description": "Adds an organizational unit.",
          "path": "admin/directory/v1/customer/{customerId}/orgunits",
          "parameters": {
            "customerId": {
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "customerId"
          ],
          "response": {
            "$ref": "OrgUnit"
          }
        },
        "update": {
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits/{orgunitsId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit"
          ],
          "path": "admin/directory/v1/customer/{customerId}/orgunits/{+orgUnitPath}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "parameters": {
            "orgUnitPath": {
              "pattern": "^.*$",
              "location": "path",
              "type": "string",
              "description": "The full path of the organizational unit (minus the leading `/`) or its unique ID.",
              "required": true
            },
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "OrgUnit"
          },
          "description": "Updates an organizational unit.",
          "request": {
            "$ref": "OrgUnit"
          },
          "id": "directory.orgunits.update"
        },
        "get": {
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits/{orgunitsId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit",
            "https://www.googleapis.com/auth/admin.directory.orgunit.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "OrgUnit"
          },
          "id": "directory.orgunits.get",
          "parameters": {
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "type": "string",
              "location": "path",
              "required": true
            },
            "orgUnitPath": {
              "description": "The full path of the organizational unit (minus the leading `/`) or its unique ID.",
              "type": "string",
              "required": true,
              "pattern": "^.*$",
              "location": "path"
            }
          },
          "description": "Retrieves an organizational unit.",
          "path": "admin/directory/v1/customer/{customerId}/orgunits/{+orgUnitPath}"
        },
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit"
          ],
          "description": "Removes an organizational unit.",
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits/{orgunitsId}",
          "path": "admin/directory/v1/customer/{customerId}/orgunits/{+orgUnitPath}",
          "parameters": {
            "orgUnitPath": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The full path of the organizational unit (minus the leading `/`) or its unique ID.",
              "pattern": "^.*$"
            },
            "customerId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users)."
            }
          },
          "id": "directory.orgunits.delete"
        }
      }
    },
    "verificationCodes": {
      "methods": {
        "list": {
          "description": "Returns the current set of valid backup verification codes for the specified user.",
          "response": {
            "$ref": "VerificationCodes"
          },
          "parameters": {
            "userKey": {
              "required": true,
              "location": "path",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string"
            }
          },
          "path": "admin/directory/v1/users/{userKey}/verificationCodes",
          "id": "directory.verificationCodes.list",
          "httpMethod": "GET",
          "flatPath": "admin/directory/v1/users/{userKey}/verificationCodes",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "parameterOrder": [
            "userKey"
          ]
        },
        "invalidate": {
          "id": "directory.verificationCodes.invalidate",
          "flatPath": "admin/directory/v1/users/{userKey}/verificationCodes/invalidate",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "description": "Invalidates the current backup verification codes for the user.",
          "httpMethod": "POST",
          "parameters": {
            "userKey": {
              "required": true,
              "location": "path",
              "description": "Email or immutable ID of the user",
              "type": "string"
            }
          },
          "path": "admin/directory/v1/users/{userKey}/verificationCodes/invalidate",
          "parameterOrder": [
            "userKey"
          ]
        },
        "generate": {
          "parameterOrder": [
            "userKey"
          ],
          "parameters": {
            "userKey": {
              "location": "path",
              "description": "Email or immutable ID of the user",
              "required": true,
              "type": "string"
            }
          },
          "description": "Generates new backup verification codes for the user.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "id": "directory.verificationCodes.generate",
          "flatPath": "admin/directory/v1/users/{userKey}/verificationCodes/generate",
          "httpMethod": "POST",
          "path": "admin/directory/v1/users/{userKey}/verificationCodes/generate"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "parameterOrder": [],
          "description": "Stops watching resources through this channel.",
          "id": "admin.channels.stop",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.alias",
            "https://www.googleapis.com/auth/admin.directory.user.alias.readonly",
            "https://www.googleapis.com/auth/admin.directory.user.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Channel"
          },
          "parameters": {},
          "flatPath": "admin/directory_v1/channels/stop",
          "path": "admin/directory_v1/channels/stop",
          "httpMethod": "POST"
        }
      }
    },
    "tokens": {
      "methods": {
        "list": {
          "description": "Returns the set of tokens specified user has issued to 3rd party applications.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "parameters": {
            "userKey": {
              "required": true,
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "userKey"
          ],
          "id": "directory.tokens.list",
          "path": "admin/directory/v1/users/{userKey}/tokens",
          "flatPath": "admin/directory/v1/users/{userKey}/tokens",
          "response": {
            "$ref": "Tokens"
          }
        },
        "get": {
          "parameters": {
            "clientId": {
              "required": true,
              "description": "The Client ID of the application the token is issued to.",
              "location": "path",
              "type": "string"
            },
            "userKey": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID."
            }
          },
          "flatPath": "admin/directory/v1/users/{userKey}/tokens/{clientId}",
          "id": "directory.tokens.get",
          "httpMethod": "GET",
          "description": "Gets information about an access token issued by a user.",
          "parameterOrder": [
            "userKey",
            "clientId"
          ],
          "response": {
            "$ref": "Token"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "path": "admin/directory/v1/users/{userKey}/tokens/{clientId}"
        },
        "delete": {
          "path": "admin/directory/v1/users/{userKey}/tokens/{clientId}",
          "flatPath": "admin/directory/v1/users/{userKey}/tokens/{clientId}",
          "parameterOrder": [
            "userKey",
            "clientId"
          ],
          "description": "Deletes all access tokens issued by a user for an application.",
          "parameters": {
            "userKey": {
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "clientId": {
              "type": "string",
              "description": "The Client ID of the application the token is issued to.",
              "required": true,
              "location": "path"
            }
          },
          "id": "directory.tokens.delete",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "httpMethod": "DELETE"
        }
      }
    },
    "domainAliases": {
      "methods": {
        "delete": {
          "description": "Deletes a domain Alias of the customer.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ],
          "id": "directory.domainAliases.delete",
          "parameterOrder": [
            "customer",
            "domainAliasName"
          ],
          "path": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "parameters": {
            "customer": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "domainAliasName": {
              "description": "Name of domain alias to be retrieved.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "DELETE"
        },
        "insert": {
          "request": {
            "$ref": "DomainAlias"
          },
          "response": {
            "$ref": "DomainAlias"
          },
          "path": "admin/directory/v1/customer/{customer}/domainaliases",
          "httpMethod": "POST",
          "description": "Inserts a domain alias of the customer.",
          "parameters": {
            "customer": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases",
          "parameterOrder": [
            "customer"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ],
          "id": "directory.domainAliases.insert"
        },
        "list": {
          "id": "directory.domainAliases.list",
          "response": {
            "$ref": "DomainAliases"
          },
          "parameterOrder": [
            "customer"
          ],
          "description": "Lists the domain aliases of the customer.",
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ],
          "parameters": {
            "customer": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Immutable ID of the Google Workspace account."
            },
            "parentDomainName": {
              "type": "string",
              "location": "query",
              "description": "Name of the parent domain for which domain aliases are to be fetched."
            }
          },
          "httpMethod": "GET",
          "path": "admin/directory/v1/customer/{customer}/domainaliases"
        },
        "get": {
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a domain alias of the customer.",
          "parameters": {
            "domainAliasName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Name of domain alias to be retrieved."
            },
            "customer": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "required": true,
              "location": "path"
            }
          },
          "path": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "parameterOrder": [
            "customer",
            "domainAliasName"
          ],
          "response": {
            "$ref": "DomainAlias"
          },
          "id": "directory.domainAliases.get"
        }
      }
    },
    "chromeosdevices": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "parameters": {
            "customerId": {
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "required": true,
              "type": "string"
            },
            "deviceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](/admin-sdk/v1/reference/chromeosdevices/list) method."
            },
            "projection": {
              "type": "string",
              "description": "Restrict information returned to a set of selected fields.",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query"
            }
          },
          "description": "Updates a device's updatable properties, such as `annotatedUser`, `annotatedLocation`, `notes`, `orgUnitPath`, or `annotatedAssetId`. This method supports [patch semantics](/admin-sdk/directory/v1/guides/performance#patch).",
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "id": "directory.chromeosdevices.patch",
          "request": {
            "$ref": "ChromeOsDevice"
          },
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "response": {
            "$ref": "ChromeOsDevice"
          }
        },
        "get": {
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "id": "directory.chromeosdevices.get",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos",
            "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
          ],
          "description": "Retrieves a Chrome OS device's properties.",
          "parameters": {
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "deviceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](/admin-sdk/directory/v1/reference/chromeosdevices/list) method."
            },
            "projection": {
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "location": "query",
              "description": "Determines whether the response contains the full list of properties or only a subset."
            }
          },
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "httpMethod": "GET",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "response": {
            "$ref": "ChromeOsDevice"
          }
        },
        "action": {
          "parameters": {
            "customerId": {
              "type": "string",
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "location": "path"
            },
            "resourceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique ID of the device. The `resourceId`s are returned in the response from the [chromeosdevices.list](/admin-sdk/directory/v1/reference/chromeosdevices/list) method."
            }
          },
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "request": {
            "$ref": "ChromeOsDeviceAction"
          },
          "httpMethod": "POST",
          "id": "directory.chromeosdevices.action",
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{resourceId}/action",
          "description": "Takes an action that affects a Chrome OS Device. This includes deprovisioning, disabling, and re-enabling devices. *Warning:* * Deprovisioning a device will stop device policy syncing and remove device-level printers. After a device is deprovisioned, it must be wiped before it can be re-enrolled. * Lost or stolen devices should use the disable action. * Re-enabling a disabled device will consume a device license. If you do not have sufficient licenses available when completing the re-enable action, you will receive an error. For more information about deprovisioning and disabling devices, visit the [help center](https://support.google.com/chrome/a/answer/3523633).",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{resourceId}/action"
        },
        "list": {
          "id": "directory.chromeosdevices.list",
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos",
          "description": "Retrieves a paginated list of Chrome OS devices within an account.",
          "parameters": {
            "orderBy": {
              "enum": [
                "annotatedLocation",
                "annotatedUser",
                "lastSync",
                "notes",
                "serialNumber",
                "status"
              ],
              "location": "query",
              "enumDescriptions": [
                "Chrome device location as annotated by the administrator.",
                "Chromebook user as annotated by administrator.",
                "The date and time the Chrome device was last synchronized with the policy settings in the Admin console.",
                "Chrome device notes as annotated by the administrator.",
                "The Chrome device serial number entered when the device was enabled.",
                "Chrome device status. For more information, see the \u003ca [chromeosdevices](/admin-sdk/directory/v1/reference/chromeosdevices.html)."
              ],
              "description": "Device property to use for sorting results.",
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "description": "Whether to return results in ascending or descending order. Must be used with the `orderBy` parameter.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query"
            },
            "orgUnitPath": {
              "description": "The full path of the organizational unit (minus the leading `/`) or its unique ID.",
              "location": "query",
              "type": "string"
            },
            "projection": {
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Restrict information returned to a set of selected fields."
            },
            "pageToken": {
              "location": "query",
              "description": "The `pageToken` query parameter is used to request the next page of query results. The follow-on request's `pageToken` query parameter is the `nextPageToken` from your previous response.",
              "type": "string"
            },
            "maxResults": {
              "default": "100",
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "description": "Maximum number of results to return.",
              "format": "int32"
            },
            "includeChildOrgunits": {
              "type": "boolean",
              "description": "Return devices from all child orgunits, as well as the specified org unit. If this is set to true, 'orgUnitPath' must be provided.",
              "location": "query"
            },
            "query": {
              "description": "Search string in the format given at https://developers.google.com/admin-sdk/directory/v1/list-query-operators",
              "type": "string",
              "location": "query"
            },
            "customerId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users)."
            }
          },
          "response": {
            "$ref": "ChromeOsDevices"
          },
          "httpMethod": "GET",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos",
            "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
          ],
          "parameterOrder": [
            "customerId"
          ]
        },
        "moveDevicesToOu": {
          "parameters": {
            "orgUnitPath": {
              "description": "Full path of the target organizational unit or its ID",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "customerId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Immutable. ID of the Google Workspace account"
            }
          },
          "description": "Moves or inserts multiple Chrome OS devices to an organizational unit. You can move up to 50 devices at once.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "httpMethod": "POST",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/moveDevicesToOu",
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "id": "directory.chromeosdevices.moveDevicesToOu",
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/moveDevicesToOu",
          "request": {
            "$ref": "ChromeOsMoveDevicesToOu"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "response": {
            "$ref": "ChromeOsDevice"
          },
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "description": "Updates a device's updatable properties, such as `annotatedUser`, `annotatedLocation`, `notes`, `orgUnitPath`, or `annotatedAssetId`.",
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "id": "directory.chromeosdevices.update",
          "request": {
            "$ref": "ChromeOsDevice"
          },
          "parameters": {
            "projection": {
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Restrict information returned to a set of selected fields."
            },
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "deviceId": {
              "type": "string",
              "location": "path",
              "description": "The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](/admin-sdk/v1/reference/chromeosdevices/list) method.",
              "required": true
            }
          }
        }
      }
    },
    "resources": {
      "resources": {
        "calendars": {
          "methods": {
            "get": {
              "parameters": {
                "customer": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID."
                },
                "calendarResourceId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The unique ID of the calendar resource to retrieve."
                }
              },
              "response": {
                "$ref": "CalendarResource"
              },
              "description": "Retrieves a calendar resource.",
              "path": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "parameterOrder": [
                "customer",
                "calendarResourceId"
              ],
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "id": "directory.resources.calendars.get",
              "httpMethod": "GET"
            },
            "list": {
              "response": {
                "$ref": "CalendarResources"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "description": "Retrieves a list of calendar resources for an account.",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars",
              "id": "directory.resources.calendars.list",
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "query": {
                  "description": "String query used to filter results. Should be of the form \"field operator value\" where field can be any of supported fields and operators can be any of supported operations. Operators include '=' for exact match, '!=' for mismatch and ':' for prefix match or HAS match where applicable. For prefix match, the value should always be followed by a *. Logical operators NOT and AND are supported (in this order of precedence). Supported fields include `generatedResourceName`, `name`, `buildingId`, `floor_name`, `capacity`, `featureInstances.feature.name`, `resourceEmail`, `resourceCategory`. For example `buildingId=US-NYC-9TH AND featureInstances.feature.name:Phone`.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Field(s) to sort results by in either ascending or descending order. Supported fields include `resourceId`, `resourceName`, `capacity`, `buildingId`, and `floorName`. If no order is specified, defaults to ascending. Should be of the form \"field [asc|desc], field [asc|desc], ...\". For example `buildingId, capacity desc` would return results sorted first by `buildingId` in ascending order then by `capacity` in descending order.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the next page in the list.",
                  "location": "query"
                },
                "maxResults": {
                  "maximum": "500",
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "location": "query",
                  "description": "Maximum number of results to return."
                }
              },
              "path": "admin/directory/v1/customer/{customer}/resources/calendars"
            },
            "patch": {
              "parameters": {
                "customer": {
                  "type": "string",
                  "required": true,
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path"
                },
                "calendarResourceId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The unique ID of the calendar resource to update."
                }
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "description": "Patches a calendar resource.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "CalendarResource"
              },
              "request": {
                "$ref": "CalendarResource"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "parameterOrder": [
                "customer",
                "calendarResourceId"
              ],
              "path": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "id": "directory.resources.calendars.patch"
            },
            "insert": {
              "description": "Inserts a calendar resource.",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars",
              "parameters": {
                "customer": {
                  "location": "path",
                  "required": true,
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "type": "string"
                }
              },
              "path": "admin/directory/v1/customer/{customer}/resources/calendars",
              "response": {
                "$ref": "CalendarResource"
              },
              "httpMethod": "POST",
              "id": "directory.resources.calendars.insert",
              "parameterOrder": [
                "customer"
              ],
              "request": {
                "$ref": "CalendarResource"
              }
            },
            "update": {
              "response": {
                "$ref": "CalendarResource"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "parameterOrder": [
                "customer",
                "calendarResourceId"
              ],
              "httpMethod": "PUT",
              "description": "Updates a calendar resource. This method supports patch semantics, meaning you only need to include the fields you wish to update. Fields that are not present in the request will be preserved.",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "calendarResourceId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The unique ID of the calendar resource to update."
                }
              },
              "path": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "request": {
                "$ref": "CalendarResource"
              },
              "id": "directory.resources.calendars.update"
            },
            "delete": {
              "parameterOrder": [
                "customer",
                "calendarResourceId"
              ],
              "parameters": {
                "customer": {
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "required": true,
                  "location": "path"
                },
                "calendarResourceId": {
                  "description": "The unique ID of the calendar resource to delete.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "directory.resources.calendars.delete",
              "description": "Deletes a calendar resource.",
              "path": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            }
          }
        },
        "buildings": {
          "methods": {
            "update": {
              "request": {
                "$ref": "Building"
              },
              "id": "directory.resources.buildings.update",
              "parameterOrder": [
                "customer",
                "buildingId"
              ],
              "path": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "description": "Updates a building.",
              "httpMethod": "PUT",
              "response": {
                "$ref": "Building"
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "parameters": {
                "buildingId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The id of the building to update."
                },
                "coordinatesSource": {
                  "default": "SOURCE_UNSPECIFIED",
                  "description": "Source from which Building.coordinates are derived.",
                  "enum": [
                    "CLIENT_SPECIFIED",
                    "RESOLVED_FROM_ADDRESS",
                    "SOURCE_UNSPECIFIED"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Building.coordinates are set to the coordinates included in the request.",
                    "Building.coordinates are automatically populated based on the postal address.",
                    "Defaults to `RESOLVED_FROM_ADDRESS` if postal address is provided. Otherwise, defaults to `CLIENT_SPECIFIED` if coordinates are provided."
                  ],
                  "location": "query"
                },
                "customer": {
                  "required": true,
                  "location": "path",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            },
            "insert": {
              "httpMethod": "POST",
              "id": "directory.resources.buildings.insert",
              "description": "Inserts a building.",
              "request": {
                "$ref": "Building"
              },
              "parameters": {
                "coordinatesSource": {
                  "default": "SOURCE_UNSPECIFIED",
                  "description": "Source from which Building.coordinates are derived.",
                  "location": "query",
                  "enumDescriptions": [
                    "Building.coordinates are set to the coordinates included in the request.",
                    "Building.coordinates are automatically populated based on the postal address.",
                    "Defaults to `RESOLVED_FROM_ADDRESS` if postal address is provided. Otherwise, defaults to `CLIENT_SPECIFIED` if coordinates are provided."
                  ],
                  "enum": [
                    "CLIENT_SPECIFIED",
                    "RESOLVED_FROM_ADDRESS",
                    "SOURCE_UNSPECIFIED"
                  ],
                  "type": "string"
                },
                "customer": {
                  "location": "path",
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "required": true
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "response": {
                "$ref": "Building"
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings",
              "path": "admin/directory/v1/customer/{customer}/resources/buildings"
            },
            "get": {
              "response": {
                "$ref": "Building"
              },
              "id": "directory.resources.buildings.get",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "description": "Retrieves a building.",
              "parameterOrder": [
                "customer",
                "buildingId"
              ],
              "path": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "parameters": {
                "buildingId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The unique ID of the building to retrieve."
                },
                "customer": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID."
                }
              }
            },
            "delete": {
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "path": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "id": "directory.resources.buildings.delete",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "parameters": {
                "customer": {
                  "type": "string",
                  "required": true,
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path"
                },
                "buildingId": {
                  "location": "path",
                  "description": "The id of the building to delete.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "customer",
                "buildingId"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a building."
            },
            "list": {
              "id": "directory.resources.buildings.list",
              "httpMethod": "GET",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings",
              "description": "Retrieves a list of buildings for an account.",
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "Buildings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "parameters": {
                "customer": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the next page in the list.",
                  "location": "query"
                },
                "maxResults": {
                  "type": "integer",
                  "maximum": "500",
                  "format": "int32",
                  "description": "Maximum number of results to return.",
                  "location": "query",
                  "minimum": "1"
                }
              },
              "path": "admin/directory/v1/customer/{customer}/resources/buildings"
            },
            "patch": {
              "path": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "request": {
                "$ref": "Building"
              },
              "id": "directory.resources.buildings.patch",
              "response": {
                "$ref": "Building"
              },
              "parameters": {
                "buildingId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The id of the building to update."
                },
                "coordinatesSource": {
                  "default": "SOURCE_UNSPECIFIED",
                  "enum": [
                    "CLIENT_SPECIFIED",
                    "RESOLVED_FROM_ADDRESS",
                    "SOURCE_UNSPECIFIED"
                  ],
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Building.coordinates are set to the coordinates included in the request.",
                    "Building.coordinates are automatically populated based on the postal address.",
                    "Defaults to `RESOLVED_FROM_ADDRESS` if postal address is provided. Otherwise, defaults to `CLIENT_SPECIFIED` if coordinates are provided."
                  ],
                  "description": "Source from which Building.coordinates are derived."
                },
                "customer": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID."
                }
              },
              "description": "Patches a building.",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "parameterOrder": [
                "customer",
                "buildingId"
              ],
              "httpMethod": "PATCH"
            }
          }
        },
        "features": {
          "methods": {
            "get": {
              "description": "Retrieves a feature.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Feature"
              },
              "parameterOrder": [
                "customer",
                "featureKey"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "id": "directory.resources.features.get",
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "featureKey": {
                  "location": "path",
                  "type": "string",
                  "description": "The unique ID of the feature to retrieve.",
                  "required": true
                }
              },
              "path": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}"
            },
            "insert": {
              "path": "admin/directory/v1/customer/{customer}/resources/features",
              "response": {
                "$ref": "Feature"
              },
              "request": {
                "$ref": "Feature"
              },
              "httpMethod": "POST",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features",
              "parameterOrder": [
                "customer"
              ],
              "description": "Inserts a feature.",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "id": "directory.resources.features.insert",
              "parameters": {
                "customer": {
                  "location": "path",
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "required": true
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "id": "directory.resources.features.delete",
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "featureKey": {
                  "location": "path",
                  "description": "The unique ID of the feature to delete.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "customer",
                "featureKey"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "path": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "description": "Deletes a feature."
            },
            "list": {
              "id": "directory.resources.features.list",
              "parameterOrder": [
                "customer"
              ],
              "path": "admin/directory/v1/customer/{customer}/resources/features",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features",
              "parameters": {
                "pageToken": {
                  "description": "Token to specify the next page in the list.",
                  "type": "string",
                  "location": "query"
                },
                "maxResults": {
                  "description": "Maximum number of results to return.",
                  "location": "query",
                  "minimum": "1",
                  "maximum": "500",
                  "type": "integer",
                  "format": "int32"
                },
                "customer": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID."
                }
              },
              "response": {
                "$ref": "Features"
              },
              "description": "Retrieves a list of features for an account."
            },
            "rename": {
              "parameterOrder": [
                "customer",
                "oldName"
              ],
              "request": {
                "$ref": "FeatureRename"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features/{oldName}/rename",
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "oldName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The unique ID of the feature to rename."
                }
              },
              "description": "Renames a feature.",
              "httpMethod": "POST",
              "path": "admin/directory/v1/customer/{customer}/resources/features/{oldName}/rename",
              "id": "directory.resources.features.rename"
            },
            "patch": {
              "parameterOrder": [
                "customer",
                "featureKey"
              ],
              "id": "directory.resources.features.patch",
              "parameters": {
                "featureKey": {
                  "type": "string",
                  "location": "path",
                  "description": "The unique ID of the feature to update.",
                  "required": true
                },
                "customer": {
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "response": {
                "$ref": "Feature"
              },
              "request": {
                "$ref": "Feature"
              },
              "httpMethod": "PATCH",
              "path": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "description": "Patches a feature."
            },
            "update": {
              "id": "directory.resources.features.update",
              "httpMethod": "PUT",
              "parameterOrder": [
                "customer",
                "featureKey"
              ],
              "path": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "description": "Updates a feature.",
              "parameters": {
                "customer": {
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "required": true,
                  "location": "path"
                },
                "featureKey": {
                  "description": "The unique ID of the feature to update.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Feature"
              },
              "response": {
                "$ref": "Feature"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}"
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "list": {
[...]
