{
  "version": "directory_v1",
  "discoveryVersion": "v1",
  "servicePath": "",
  "schemas": {
    "GroupAlias": {
      "description": "The Directory API manages aliases, which are alternative email addresses.",
      "type": "object",
      "properties": {
        "alias": {
          "description": "The alias email address.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`.",
          "type": "string"
        },
        "id": {
          "description": "The unique ID of the group.",
          "type": "string"
        },
        "primaryEmail": {
          "description": "The primary email address of the group.",
          "type": "string"
        }
      },
      "id": "GroupAlias"
    },
    "DomainAlias": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "admin#directory#domainAlias",
          "description": "Kind of resource this is."
        },
        "creationTime": {
          "format": "int64",
          "description": "The creation time of the domain alias. (Read-only).",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "domainAliasName": {
          "description": "The domain alias name.",
          "type": "string"
        },
        "parentDomainName": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          },
          "description": "The parent domain name that the domain alias is associated with. This can either be a primary or secondary domain name within a customer."
        },
        "verified": {
          "description": "Indicates the verification state of a domain alias. (Read-only)",
          "type": "boolean"
        }
      },
      "id": "DomainAlias",
      "type": "object"
    },
    "Schema": {
      "type": "object",
      "properties": {
        "schemaName": {
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          },
          "description": "The schema's name. Each `schema_name` must be unique within a customer. Reusing a name results in a `409: Entity already exists` error.",
          "type": "string"
        },
        "schemaId": {
          "type": "string",
          "description": "The unique identifier of the schema (Read-only)"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for the schema.",
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          }
        },
        "fields": {
          "description": "A list of fields in the schema.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "items": {
            "$ref": "SchemaFieldSpec"
          },
          "type": "array"
        },
        "etag": {
          "description": "The ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#schema",
          "type": "string",
          "description": "Kind of resource this is."
        }
      },
      "description": "The type of API resource. For Schema resources, this is always `admin#directory#schema`.",
      "id": "Schema"
    },
    "Privilege": {
      "type": "object",
      "properties": {
        "isOuScopable": {
          "description": "If the privilege can be restricted to an organization unit.",
          "type": "boolean"
        },
        "kind": {
          "default": "admin#directory#privilege",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#privilege`."
        },
        "childPrivileges": {
          "items": {
            "$ref": "Privilege"
          },
          "description": "A list of child privileges. Privileges for a service form a tree. Each privilege can have a list of child privileges; this list is empty for a leaf privilege.",
          "type": "array"
        },
        "privilegeName": {
          "description": "The name of the privilege.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "serviceName": {
          "type": "string",
          "description": "The name of the service this privilege is for."
        },
        "serviceId": {
          "type": "string",
          "description": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](/admin-sdk/directory/v1/reference/privileges/list)."
        }
      },
      "id": "Privilege"
    },
    "UserKeyword": {
      "description": "JSON template for a keyword entry.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard type of that entry. For example keyword could be of type occupation or outlook. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value."
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        },
        "value": {
          "type": "string",
          "description": "Keyword."
        }
      },
      "type": "object",
      "id": "UserKeyword"
    },
    "Users": {
      "type": "object",
      "properties": {
        "trigger_event": {
          "type": "string",
          "description": "Event that triggered this response (only used in case of Push Response)"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access next page of this result."
        },
        "kind": {
          "default": "admin#directory#users",
          "type": "string",
          "description": "Kind of resource this is."
        },
        "users": {
          "items": {
            "$ref": "User"
          },
          "type": "array",
          "description": "A list of user objects."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "id": "Users"
    },
    "Groups": {
      "id": "Groups",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Kind of resource this is.",
          "default": "admin#directory#groups",
          "type": "string"
        },
        "groups": {
          "description": "A list of group objects.",
          "type": "array",
          "items": {
            "$ref": "Group"
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        }
      }
    },
    "CalendarResources": {
      "type": "object",
      "id": "CalendarResources",
      "description": "Public API: Resources.calendars",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#resources#calendars#calendarResourcesList",
          "description": "Identifies this as a collection of CalendarResources. This is always `admin#directory#resources#calendars#calendarResourcesList`."
        },
        "items": {
          "description": "The CalendarResources in this page of results.",
          "items": {
            "$ref": "CalendarResource"
          },
          "type": "array"
        }
      }
    },
    "BatchDeletePrintServersResponse": {
      "properties": {
        "failedPrintServers": {
          "items": {
            "$ref": "PrintServerFailureInfo"
          },
          "description": "A list of update failures.",
          "type": "array"
        },
        "printServerIds": {
          "type": "array",
          "description": "A list of print server IDs that were successfully deleted.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchDeletePrintServersResponse",
      "type": "object"
    },
    "CreatePrinterRequest": {
      "type": "object",
      "properties": {
        "printer": {
          "$ref": "Printer",
          "description": "Required. A printer to create. If you want to place the printer under particular OU then populate printer.org_unit_id filed. Otherwise the printer will be placed under root OU."
        },
        "parent": {
          "description": "Required. The name of the customer. Format: customers/{customer_id}",
          "type": "string"
        }
      },
      "description": "Request for adding a new printer.",
      "id": "CreatePrinterRequest"
    },
    "BuildingAddress": {
      "properties": {
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region."
        },
        "locality": {
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use addressLines.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known).",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address."
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address."
        },
        "postalCode": {
          "type": "string",
          "description": "Optional. Postal code of the address."
        },
        "addressLines": {
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address.",
          "type": "array"
        }
      },
      "description": "Public API: Resources.buildings",
      "type": "object",
      "id": "BuildingAddress"
    },
    "UserSshPublicKey": {
      "properties": {
        "fingerprint": {
          "type": "string",
          "description": "A SHA-256 fingerprint of the SSH public key. (Read-only)",
          "readOnly": true
        },
        "key": {
          "description": "An SSH public key.",
          "type": "string"
        },
        "expirationTimeUsec": {
          "type": "string",
          "format": "int64",
          "description": "An expiration time in microseconds since epoch."
        }
      },
      "type": "object",
      "id": "UserSshPublicKey",
      "description": "JSON template for a POSIX account entry."
    },
    "UserPosixAccount": {
      "type": "object",
      "id": "UserPosixAccount",
      "description": "JSON template for a POSIX account entry.",
      "properties": {
        "systemId": {
          "description": "System identifier for which account Username or Uid apply to.",
          "type": "string"
        },
        "operatingSystemType": {
          "type": "string",
          "description": "The operating system type for this account."
        },
        "username": {
          "description": "The username of the account.",
          "type": "string"
        },
        "shell": {
          "type": "string",
          "description": "The path to the login shell for this account."
        },
        "homeDirectory": {
          "type": "string",
          "description": "The path to the home directory for this account."
        },
        "accountId": {
          "description": "A POSIX account field identifier.",
          "type": "string"
        },
        "gid": {
          "format": "uint64",
          "description": "The default group ID.",
          "type": "string"
        },
        "gecos": {
          "description": "The GECOS (user information) for this account.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "The POSIX compliant user ID.",
          "format": "uint64"
        },
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary account within the SystemId."
        }
      }
    },
    "Domains2": {
      "type": "object",
      "id": "Domains2",
      "properties": {
        "domains": {
          "description": "A list of domain objects.",
          "type": "array",
          "items": {
            "$ref": "Domains"
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#domains"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      }
    },
    "Token": {
      "properties": {
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of authorization scopes the application is granted."
        },
        "userKey": {
          "type": "string",
          "description": "The unique ID of the user that issued the token."
        },
        "displayText": {
          "description": "The displayable name of the application the token is issued to.",
          "type": "string"
        },
        "nativeApp": {
          "description": "Whether the token is issued to an installed application. The value is `true` if the application is installed to a desktop or mobile device.",
          "type": "boolean"
        },
        "kind": {
          "default": "admin#directory#token",
          "description": "The type of the API resource. This is always `admin#directory#token`.",
          "type": "string"
        },
        "anonymous": {
          "type": "boolean",
          "description": "Whether the application is registered with Google. The value is `true` if the application has an anonymous Client ID."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "clientId": {
          "description": "The Client ID of the application the token is issued to.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "JSON template for token resource in Directory API.",
      "id": "Token"
    },
    "FailureInfo": {
      "properties": {
        "errorCode": {
          "type": "string",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "description": "Canonical code for why the update failed to apply.",
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ]
        },
        "printer": {
          "$ref": "Printer",
          "description": "Failed printer."
        },
        "errorMessage": {
          "type": "string",
          "description": "Failure reason message."
        },
        "printerId": {
          "type": "string",
          "description": "Id of a failed printer."
        }
      },
      "description": "Info about failures",
      "type": "object",
      "id": "FailureInfo"
    },
    "ListPrinterModelsResponse": {
      "description": "Response for listing allowed printer models.",
      "id": "ListPrinterModelsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "printerModels": {
          "items": {
            "$ref": "PrinterModel"
          },
          "description": "Printer models that are currently allowed to be configured for ChromeOs. Some printers may be added or removed over time.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "UserIm": {
      "description": "JSON template for instant messenger of an user.",
      "id": "UserIm",
      "properties": {
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary im. Only one entry could be marked as primary."
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example instant messengers could be of home work etc. In addition to the standard type an entry can have a custom type and can take any value. Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "im": {
          "type": "string",
          "description": "Instant messenger id."
        },
        "protocol": {
          "type": "string",
          "description": "Protocol used in the instant messenger. It should be one of the values from ImProtocolTypes map. Similar to type it can take a CUSTOM value and specify the custom name in customProtocol field."
        },
        "customProtocol": {
          "description": "Custom protocol.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchCreatePrintersRequest": {
      "id": "BatchCreatePrintersRequest",
      "description": "Request for adding new printers in batch.",
      "properties": {
        "requests": {
          "description": "A list of Printers to be created. Max 50 at a time.",
          "items": {
            "$ref": "CreatePrinterRequest"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "UserLanguage": {
      "id": "UserLanguage",
      "type": "object",
      "description": "JSON template for a language entry.",
      "properties": {
        "preference": {
          "description": "Optional. If present, controls whether the specified `languageCode` is the user's preferred language. If `customLanguage` is set, this can't be set. Allowed values are `preferred` and `not_preferred`.",
          "type": "string"
        },
        "languageCode": {
          "description": "ISO 639 string representation of a language. See [Language Codes](/admin-sdk/directory/v1/languages) for the list of supported codes. Valid language codes outside the supported set will be accepted by the API but may lead to unexpected behavior. Illegal values cause `SchemaException`. If this is set, `customLanguage` can't be set.",
          "type": "string"
        },
        "customLanguage": {
          "type": "string",
          "description": "Other language. User can provide their own language name if there is no corresponding ISO 639 language code. If this is set, `languageCode` can't be set."
        }
      }
    },
    "ChromeOsMoveDevicesToOu": {
      "type": "object",
      "properties": {
        "deviceIds": {
          "items": {
            "type": "string"
          },
          "description": "Chrome OS devices to be moved to OU",
          "annotations": {
            "required": [
              "directory.chromeosdevices.moveDevicesToOu"
            ]
          },
          "type": "array"
        }
      },
      "id": "ChromeOsMoveDevicesToOu"
    },
    "MobileDeviceAction": {
      "properties": {
        "action": {
          "annotations": {
            "required": [
              "directory.mobiledevices.action"
            ]
          },
          "description": "The action to be performed on the device.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MobileDeviceAction"
    },
    "Tokens": {
      "id": "Tokens",
      "type": "object",
      "description": "JSON response template for List tokens operation in Directory API.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#tokenList`.",
          "default": "admin#directory#tokenList"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Token"
          },
          "description": "A list of Token resources."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      }
    },
    "RoleAssignment": {
      "description": "Defines an assignment of a role.",
      "properties": {
        "assignedTo": {
          "type": "string",
          "description": "The unique ID of the entity this role is assigned to—either the `user_id` of a user or the `uniqueId` of a service account, as defined in [Identity and Access Management (IAM)](https://cloud.google.com/iam/docs/reference/rest/v1/projects.serviceAccounts)."
        },
        "orgUnitId": {
          "description": "If the role is restricted to an organization unit, this contains the ID for the organization unit the exercise of this role is restricted to.",
          "type": "string"
        },
        "roleId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the role that is assigned."
        },
        "roleAssignmentId": {
          "format": "int64",
          "type": "string",
          "description": "ID of this roleAssignment."
        },
        "scopeType": {
          "type": "string",
          "description": "The scope in which this role is assigned."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#roleAssignment",
          "description": "The type of the API resource. This is always `admin#directory#roleAssignment`."
        }
      },
      "id": "RoleAssignment",
      "type": "object"
    },
    "UserAbout": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Actual value of notes."
        },
        "contentType": {
          "description": "About entry can have a type which indicates the content type. It can either be plain or html. By default, notes contents are assumed to contain plain text.",
          "type": "string"
        }
      },
      "id": "UserAbout",
      "type": "object",
      "description": "JSON template for About (notes) of a user in Directory API."
    },
    "Roles": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "default": "admin#directory#roles",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#roles`."
        },
        "items": {
          "description": "A list of Role resources.",
          "items": {
            "$ref": "Role"
          },
          "type": "array"
        }
      },
      "id": "Roles"
    },
    "ChromeOsDevice": {
      "id": "ChromeOsDevice",
      "type": "object",
      "description": "Google Chrome devices run on the [Chrome OS](https://support.google.com/chromeos). For more information about common API tasks, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-chrome-devices).",
      "properties": {
        "annotatedLocation": {
          "type": "string",
          "description": "The address or location of the device as noted by the administrator. Maximum length is `200` characters. Empty values are allowed."
        },
        "ethernetMacAddress0": {
          "description": "(Read-only) MAC address used by the Chromebook’s internal ethernet port, and for onboard network (ethernet) interface. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices.",
          "type": "string"
        },
        "screenshotFiles": {
          "type": "array",
          "description": "A list of screenshot files to download. Type is always \"SCREENSHOT_FILE\". (Read-only)",
          "items": {
            "properties": {
              "type": {
                "type": "string",
                "description": "File type"
              },
              "createTime": {
                "format": "date-time",
                "type": "string",
                "description": "Date and time the file was created"
              },
              "downloadUrl": {
                "description": "File download URL",
                "type": "string"
              },
              "name": {
                "type": "string",
                "description": "File name"
              }
            },
            "type": "object"
          }
        },
        "diskVolumeReports": {
          "type": "array",
          "items": {
            "properties": {
              "volumeInfo": {
                "type": "array",
                "description": "Disk volumes",
                "items": {
                  "properties": {
                    "storageTotal": {
                      "type": "string",
                      "description": "Total disk space [in bytes]",
                      "format": "int64"
                    },
                    "volumeId": {
                      "type": "string",
                      "description": "Volume id"
                    },
                    "storageFree": {
                      "type": "string",
                      "description": "Free disk space [in bytes]",
                      "format": "int64"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "type": "object"
          },
          "description": "Reports of disk space and other info about mounted/connected volumes."
        },
        "supportEndDate": {
          "type": "string",
          "description": "Final date the device will be supported (Read-only)",
          "format": "date-time"
        },
        "platformVersion": {
          "type": "string",
          "description": "The Chrome device's platform version."
        },
        "activeTimeRanges": {
          "description": "A list of active time ranges (Read-only).",
          "items": {
            "properties": {
              "activeTime": {
                "description": "Duration of usage in milliseconds.",
                "format": "int32",
                "type": "integer"
              },
              "date": {
                "type": "string",
                "description": "Date of usage",
                "format": "date"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "firstEnrollmentTime": {
          "type": "string",
          "description": "Date and time for the first time the device was enrolled."
        },
        "annotatedAssetId": {
          "description": "The asset identifier as noted by an administrator or specified during enrollment.",
          "type": "string"
        },
        "cpuStatusReports": {
          "items": {
            "properties": {
              "cpuUtilizationPercentageInfo": {
                "type": "array",
                "items": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "reportTime": {
                "description": "Date and time the report was received.",
                "type": "string",
                "format": "date-time"
              },
              "cpuTemperatureInfo": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "temperature": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Temperature in Celsius degrees."
                    },
                    "label": {
                      "description": "CPU label",
                      "type": "string"
                    }
                  }
                },
                "description": "A list of CPU temperature samples."
              }
            },
            "type": "object"
          },
          "description": "Reports of CPU utilization and temperature (Read-only)",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#chromeosdevice",
          "description": "The type of resource. For the Chromeosdevices resource, the value is `admin#directory#chromeosdevice`."
        },
        "status": {
          "description": "The status of the device.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "The device's model information. If the device does not have this information, this property is not included in the response."
        },
        "bootMode": {
          "type": "string",
          "description": "The boot mode for the device. The possible values are: * `Verified`: The device is running a valid version of the Chrome OS. * `Dev`: The devices's developer hardware switch is enabled. When booted, the device has a command line shell. For an example of a developer switch, see the [Chromebook developer information](https://www.chromium.org/chromium-os/developer-information-for-chrome-os-devices/samsung-series-5-chromebook#TOC-Developer-switch)."
        },
        "osVersion": {
          "type": "string",
          "description": "The Chrome device's operating system version."
        },
        "orgUnitPath": {
          "description": "The full parent path with the organizational unit's name associated with the device. Path names are case insensitive. If the parent organizational unit is the top-level organization, it is represented as a forward slash, `/`. This property can be [updated](/admin-sdk/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433).",
          "type": "string"
        },
        "annotatedUser": {
          "type": "string",
          "description": "The user of the device as noted by the administrator. Maximum length is 100 characters. Empty values are allowed."
        },
        "firmwareVersion": {
          "description": "The Chrome device's firmware version.",
          "type": "string"
        },
        "notes": {
          "description": "Notes about this device added by the administrator. This property can be [searched](https://support.google.com/chrome/a/answer/1698333) with the [list](/admin-sdk/directory/v1/reference/chromeosdevices/list) method's `query` parameter. Maximum length is 500 characters. Empty values are allowed.",
          "type": "string"
        },
        "osUpdateStatus": {
          "description": "The status of the OS updates for the device.",
          "$ref": "OsUpdateStatus"
        },
        "autoUpdateExpiration": {
          "type": "string",
          "format": "int64",
          "description": "(Read-only) The timestamp after which the device will stop receiving Chrome updates or support"
        },
        "systemRamFreeReports": {
          "items": {
            "properties": {
              "systemRamFreeInfo": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "int64"
                }
              },
              "reportTime": {
                "format": "date-time",
                "description": "Date and time the report was received.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "Reports of amounts of available RAM memory (Read-only)"
        },
        "cpuInfo": {
          "description": "Information regarding CPU specs in the device.",
          "items": {
            "description": "CPU specs for a CPU.",
            "properties": {
              "logicalCpus": {
                "items": {
                  "properties": {
                    "cStates": {
                      "items": {
                        "description": "Status of a single C-state. C-states are various modes the CPU can transition to in order to use more or less power.",
                        "properties": {
                          "displayName": {
                            "description": "Name of the state.",
                            "type": "string"
                          },
                          "sessionDuration": {
                            "type": "string",
                            "format": "google-duration",
                            "description": "Time spent in the state since the last reboot."
                          }
                        },
                        "type": "object"
                      },
                      "description": "C-States indicate the power consumption state of the CPU. For more information look at documentation published by the CPU maker.",
                      "type": "array"
                    },
                    "currentScalingFrequencyKhz": {
                      "description": "Current frequency the CPU is running at.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "idleDuration": {
                      "description": "Idle time since last boot.",
                      "format": "google-duration",
                      "type": "string"
                    },
                    "maxScalingFrequencyKhz": {
                      "description": "Maximum frequency the CPU is allowed to run at, by policy.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "description": "Status of a single logical CPU.",
                  "type": "object"
                },
                "description": "Information for the Logical CPUs",
                "type": "array"
              },
              "maxClockSpeedKhz": {
                "type": "integer",
                "format": "int32",
                "description": "The max CPU clock speed in kHz."
              },
              "architecture": {
                "type": "string",
                "description": "The CPU architecture."
              },
              "model": {
                "description": "The CPU model name.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "macAddress": {
          "description": "The device's wireless MAC address. If the device does not have this information, it is not included in the response.",
          "type": "string"
        },
        "tpmVersionInfo": {
          "properties": {
            "manufacturer": {
              "type": "string",
              "description": "TPM manufacturer code."
            },
            "firmwareVersion": {
              "type": "string",
              "description": "TPM firmware version."
            },
            "family": {
              "type": "string",
              "description": "TPM family. We use the TPM 2.0 style encoding, e.g.: TPM 1.2: \"1.2\" -\u003e 312e3200 TPM 2.0: \"2.0\" -\u003e 322e3000"
            },
            "tpmModel": {
              "description": "TPM model number.",
              "type": "string"
            },
            "vendorSpecific": {
              "type": "string",
              "description": "Vendor-specific information such as Vendor ID."
            },
            "specLevel": {
              "description": "TPM specification level. See Library Specification for TPM 2.0 and Main Specification for TPM 1.2.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "Trusted Platform Module (TPM) (Read-only)"
        },
        "deviceFiles": {
          "type": "array",
          "description": "A list of device files to download (Read-only)",
          "items": {
            "type": "object",
            "properties": {
              "createTime": {
                "type": "string",
                "format": "date-time",
                "description": "Date and time the file was created"
              },
              "downloadUrl": {
                "type": "string",
                "description": "File download URL"
              },
              "name": {
                "type": "string",
                "description": "File name"
              },
              "type": {
                "description": "File type",
                "type": "string"
              }
            }
          }
        },
        "recentUsers": {
          "items": {
            "type": "object",
            "description": "A list of recent device users, in descending order, by last login time.",
            "properties": {
              "email": {
                "description": "The user's email address. This is only present if the user type is `USER_TYPE_MANAGED`.",
                "type": "string"
              },
              "type": {
                "description": "The type of the user.",
                "type": "string"
              }
            }
          },
          "description": "A list of recent device users, in descending order, by last login time.",
          "type": "array"
        },
        "ethernetMacAddress": {
          "type": "string",
          "description": "The device's MAC address on the ethernet network interface."
        },
        "meid": {
          "description": "The Mobile Equipment Identifier (MEID) or the International Mobile Equipment Identity (IMEI) for the 3G mobile card in a mobile device. A MEID/IMEI is typically used when adding a device to a wireless carrier's post-pay service plan. If the device does not have this information, this property is not included in the response. For more information on how to export a MEID/IMEI list, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-chrome-devices.html#export_meid).",
          "type": "string"
        },
        "lastKnownNetwork": {
          "items": {
            "type": "object",
            "properties": {
              "wanIpAddress": {
                "description": "The WAN IP address.",
                "type": "string"
              },
              "ipAddress": {
                "description": "The IP address.",
                "type": "string"
              }
            },
            "description": "Information for an ip address."
          },
          "description": "Contains last known network (Read-only)",
          "type": "array"
        },
        "systemRamTotal": {
          "format": "int64",
          "type": "string",
          "description": "Total RAM on the device [in bytes] (Read-only)"
        },
        "dockMacAddress": {
          "description": "(Read-only) Built-in MAC address for the docking station that the device connected to. Factory sets Media access control address (MAC address) assigned for use by a dock. It is reserved specifically for MAC pass through device policy. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The Chrome device serial number entered when the device was enabled. This value is the same as the Admin console's *Serial Number* in the *Chrome OS Devices* tab."
        },
        "deviceId": {
          "type": "string",
          "description": "The unique ID of the Chrome device."
        },
        "orderNumber": {
          "description": "The device's order number. Only devices directly purchased from Google have an order number.",
          "type": "string"
        },
        "orgUnitId": {
          "type": "string",
          "description": "The unique ID of the organizational unit. orgUnitPath is the human readable version of orgUnitId. While orgUnitPath may change by renaming an organizational unit within the path, orgUnitId is unchangeable for one organizational unit. This property can be [updated](/admin-sdk/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433)."
        },
        "manufactureDate": {
          "description": "(Read-only) The date the device was manufactured in yyyy-mm-dd format.",
          "type": "string"
        },
        "willAutoRenew": {
          "type": "boolean",
          "description": "Determines if the device will auto renew its support after the support end date. This is a read-only property."
        },
        "lastEnrollmentTime": {
          "format": "date-time",
          "description": "Date and time the device was last enrolled (Read-only)",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "lastSync": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)"
        }
      }
    },
    "FeatureRename": {
      "id": "FeatureRename",
      "properties": {
        "newName": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.resources.features.rename"
            ]
          },
          "description": "New name of the feature."
        }
      },
      "type": "object"
    },
    "UserPhoto": {
      "id": "UserPhoto",
      "properties": {
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "Width of the photo in pixels."
        },
        "mimeType": {
          "description": "The MIME type of the photo. Allowed values are `JPEG`, `PNG`, `GIF`, `BMP`, `TIFF`, and web-safe base64 encoding.",
          "type": "string"
        },
        "primaryEmail": {
          "description": "The user's primary email address.",
          "type": "string"
        },
        "id": {
          "description": "The ID the API uses to uniquely identify the user.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "photoData": {
          "format": "byte",
          "description": "The user photo's upload data in [web-safe Base64](https://en.wikipedia.org/wiki/Base64#URL_applications) format in bytes. This means: * The slash (/) character is replaced with the underscore (_) character. * The plus sign (+) character is replaced with the hyphen (-) character. * The equals sign (=) character is replaced with the asterisk (*). * For padding, the period (.) character is used instead of the RFC-4648 baseURL definition which uses the equals sign (=) for padding. This is done to simplify URL-parsing. * Whatever the size of the photo being uploaded, the API downsizes it to 96x96 pixels.",
          "annotations": {
            "required": [
              "directory.users.photos.update"
            ]
          },
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#user#photo",
          "type": "string",
          "description": "The type of the API resource. For Photo resources, this is `admin#directory#user#photo`."
        },
        "height": {
          "description": "Height of the photo in pixels.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "BatchCreatePrintersResponse": {
      "description": "Response for adding new printers in batch.",
      "type": "object",
      "id": "BatchCreatePrintersResponse",
      "properties": {
        "failures": {
          "type": "array",
          "items": {
            "$ref": "FailureInfo"
          },
          "description": "A list of create failures. Printer IDs are not populated, as printer were not created."
        },
        "printers": {
          "items": {
            "$ref": "Printer"
          },
          "type": "array",
          "description": "A list of successfully created printers with their IDs populated."
        }
      }
    },
    "Asp": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the ASP."
        },
        "userKey": {
          "description": "The unique ID of the user who issued the ASP.",
          "type": "string"
        },
        "codeId": {
          "format": "int32",
          "type": "integer",
          "description": "The unique ID of the ASP."
        },
        "lastTimeUsed": {
          "format": "int64",
          "description": "The time when the ASP was last used. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#asp",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#asp`."
        },
        "creationTime": {
          "type": "string",
          "format": "int64",
          "description": "The time when the ASP was created. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format."
        },
        "name": {
          "description": "The name of the application that the user, represented by their `userId`, entered when the ASP was created.",
          "type": "string"
        }
      },
      "description": "An application-specific password (ASP) is used with applications that do not accept a verification code when logging into the application on certain devices. The ASP access code is used instead of the login and password you commonly use when accessing an application through a browser. For more information about ASPs and how to create one, see the [help center](https://support.google.com/a/answer/2537800#asp).",
      "type": "object",
      "id": "Asp"
    },
    "BatchCreatePrintServersRequest": {
      "type": "object",
      "id": "BatchCreatePrintServersRequest",
      "description": "Request to add multiple new print servers in a batch.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreatePrintServerRequest"
          },
          "type": "array",
          "description": "Required. A list of `PrintServer` resources to be created (max `50` per batch)."
        }
      }
    },
    "ChromeOsDeviceAction": {
      "id": "ChromeOsDeviceAction",
      "type": "object",
      "properties": {
        "deprovisionReason": {
          "type": "string",
          "description": "Only used when the action is `deprovision`. With the `deprovision` action, this field is required. *Note*: The deprovision reason is audited because it might have implications on licenses for perpetual subscription customers."
        },
        "action": {
          "description": "Action to be taken on the Chrome OS device.",
          "annotations": {
            "required": [
              "directory.chromeosdevices.action"
            ]
          },
          "type": "string"
        }
      },
      "description": "Data about an update to the status of a Chrome OS device."
    },
    "UserRelation": {
      "properties": {
        "type": {
          "description": "The relation of the user. Some of the possible values are mother father sister brother manager assistant partner.",
          "type": "string"
        },
        "value": {
          "description": "The name of the relation.",
          "type": "string"
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        }
      },
      "id": "UserRelation",
      "description": "JSON template for a relation entry.",
      "type": "object"
    },
    "SchemaFieldSpec": {
      "description": "You can use schemas to add custom fields to user profiles. You can use these fields to store information such as the projects your users work on, their physical locations, their hire dates, or whatever else fits your business needs. For more information, see [Custom User Fields](/admin-sdk/directory/v1/guides/manage-schemas).",
      "type": "object",
      "properties": {
        "readAccessType": {
          "description": "Specifies who can view values of this field. See [Retrieve users as a non-administrator](/admin-sdk/directory/v1/guides/manage-users#retrieve_users_non_admin) for more information. Note: It may take up to 24 hours for changes to this field to be reflected.",
          "default": "ALL_DOMAIN_USERS",
          "type": "string"
        },
        "multiValued": {
          "description": "A boolean specifying whether this is a multi-valued field or not. Default: `false`.",
          "type": "boolean"
        },
        "fieldId": {
          "type": "string",
          "description": "The unique identifier of the field (Read-only)"
        },
        "fieldName": {
          "description": "The name of the field.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        },
        "fieldType": {
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "description": "The type of the field.",
          "type": "string"
        },
        "indexed": {
          "description": "Boolean specifying whether the field is indexed or not. Default: `true`.",
          "type": "boolean",
          "default": "true"
        },
        "numericIndexingSpec": {
          "type": "object",
          "properties": {
            "maxValue": {
              "type": "number",
              "format": "double",
              "description": "Maximum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant."
            },
            "minValue": {
              "format": "double",
              "description": "Minimum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant.",
              "type": "number"
            }
          },
          "description": "Indexing spec for a numeric field. By default, only exact match queries will be supported for numeric fields. Setting the `numericIndexingSpec` allows range queries to be supported."
        },
        "etag": {
          "description": "The ETag of the field.",
          "type": "string"
        },
        "displayName": {
          "description": "Display Name of the field.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is. For schema fields this is always `admin#directory#schema#fieldspec`.",
          "default": "admin#directory#schema#fieldspec"
        }
      },
      "id": "SchemaFieldSpec"
    },
    "UserEmail": {
      "type": "object",
      "properties": {
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary email. Only one entry could be marked as primary."
        },
        "address": {
          "type": "string",
          "description": "Email id of the user."
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example email could be of home, work etc. In addition to the standard type, an entry can have a custom type and can take any value Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        }
      },
      "id": "UserEmail",
      "description": "JSON template for an email."
    },
    "Printer": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when printer was created."
        },
        "orgUnitId": {
          "type": "string",
          "description": "Organization Unit that owns this printer (Only can be set during Printer creation)"
        },
        "uri": {
          "description": "Editable. Printer URI.",
          "type": "string"
        },
        "useDriverlessConfig": {
          "type": "boolean",
          "description": "Editable. flag to use driverless configuration or not. If it's set to be true, make_and_model can be ignored"
        },
        "displayName": {
          "description": "Editable. Name of printer.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the Printer object, in the format customers/{customer-id}/printers/{printer-id} (During printer creation leave empty)",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Id of the printer. (During printer creation leave empty)"
        },
        "auxiliaryMessages": {
          "readOnly": true,
          "items": {
            "$ref": "AuxiliaryMessage"
          },
          "description": "Output only. Auxiliary messages about issues with the printer configuration if any.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Editable. Description of printer."
        },
        "makeAndModel": {
          "type": "string",
          "description": "Editable. Make and model of printer. e.g. Lexmark MS610de Value must be in format as seen in ListPrinterModels response."
        }
      },
      "description": "Printer configuration.",
      "id": "Printer"
    },
    "BatchCreatePrintServersResponse": {
      "type": "object",
      "id": "BatchCreatePrintServersResponse",
      "properties": {
        "printServers": {
          "type": "array",
          "items": {
            "$ref": "PrintServer"
          },
          "description": "A list of successfully created print servers with their IDs populated."
        },
        "failures": {
          "type": "array",
          "description": "A list of create failures. `PrintServer` IDs are not populated, as print servers were not created.",
          "items": {
            "$ref": "PrintServerFailureInfo"
          }
        }
      }
    },
    "DirectoryChromeosdevicesIssueCommandResponse": {
      "description": "A response for issuing a command.",
      "properties": {
        "commandId": {
          "description": "The unique ID of the issued command, used to retrieve the command status.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "DirectoryChromeosdevicesIssueCommandResponse"
    },
    "CalendarResource": {
      "type": "object",
      "description": "Public API: Resources.calendars",
      "properties": {
        "floorSection": {
          "type": "string",
          "description": "Name of the section within a floor a resource is located in."
        },
        "resourceType": {
          "type": "string",
          "description": "The type of the calendar resource, intended for non-room resources."
        },
        "userVisibleDescription": {
          "type": "string",
          "description": "Description of the resource, visible to users and admins."
        },
        "resourceEmail": {
          "type": "string",
          "description": "The read-only email for the calendar resource. Generated as part of creating a new calendar resource."
        },
        "resourceDescription": {
          "description": "Description of the resource, visible only to admins.",
          "type": "string"
        },
        "resourceName": {
          "description": "The name of the calendar resource. For example, \"Training Room 1A\".",
          "type": "string",
          "annotations": {
            "required": [
              "directory.resources.calendars.insert"
            ]
          }
        },
        "buildingId": {
          "description": "Unique ID for the building a resource is located in.",
          "type": "string"
        },
        "floorName": {
          "description": "Name of the floor a resource is located on.",
          "type": "string"
        },
        "kind": {
          "description": "The type of the resource. For calendar resources, the value is `admin#directory#resources#calendars#CalendarResource`.",
          "type": "string",
          "default": "admin#directory#resources#calendars#CalendarResource"
        },
        "resourceId": {
          "description": "The unique ID for the calendar resource.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.resources.calendars.insert"
            ]
          }
        },
        "generatedResourceName": {
          "type": "string",
          "description": "The read-only auto-generated name of the calendar resource which includes metadata about the resource such as building name, floor, capacity, etc. For example, \"NYC-2-Training Room 1A (16)\"."
        },
        "resourceCategory": {
          "description": "The category of the calendar resource. Either CONFERENCE_ROOM or OTHER. Legacy data is set to CATEGORY_UNKNOWN.",
          "type": "string"
        },
        "capacity": {
          "format": "int32",
          "description": "Capacity of a resource, number of seats in a room.",
          "type": "integer"
        },
        "featureInstances": {
          "type": "any",
          "description": "Instances of features for the calendar resource."
        },
        "etags": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "id": "CalendarResource"
    },
    "Buildings": {
      "description": "Public API: Resources.buildings",
      "properties": {
        "buildings": {
          "items": {
            "$ref": "Building"
          },
          "type": "array",
          "description": "The Buildings in this page of results."
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#resources#buildings#buildingsList"
        }
      },
      "type": "object",
      "id": "Buildings"
    },
    "RoleAssignments": {
      "id": "RoleAssignments",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#roleAssignments",
          "description": "The type of the API resource. This is always `admin#directory#roleAssignments`."
        },
        "items": {
          "items": {
            "$ref": "RoleAssignment"
          },
          "type": "array",
          "description": "A list of RoleAssignment resources."
        }
      }
    },
    "Domains": {
      "properties": {
        "domainName": {
          "type": "string",
          "description": "The domain name of the customer.",
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "verified": {
          "type": "boolean",
          "description": "Indicates the verification state of a domain. (Read-only)."
        },
        "domainAliases": {
          "items": {
            "$ref": "DomainAlias"
          },
          "type": "array",
          "description": "A list of domain alias objects. (Read-only)"
        },
        "kind": {
          "default": "admin#directory#domain",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "creationTime": {
          "format": "int64",
          "type": "string",
          "description": "Creation time of the domain. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format. (Read-only)."
        },
        "isPrimary": {
          "type": "boolean",
          "description": "Indicates if the domain is a primary domain (Read-only)."
        }
      },
      "id": "Domains",
      "type": "object"
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "properties": {
        "description": {
          "description": "An extended description to help users determine the purpose of a group. For example, you can include information about who should join the group, the types of messages to send to the group, links to FAQs about the group, or related groups. Maximum length is `4,096` characters.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#group",
          "description": "The type of the API resource. For Groups resources, the value is `admin#directory#group`.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "name": {
          "description": "The group's display name.",
          "type": "string"
        },
        "directMembersCount": {
          "format": "int64",
          "description": "The number of users that are direct members of the group. If a group is a member (child) of this group (the parent), members of the child group are not counted in the `directMembersCount` property of the parent group.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.groups.insert"
            ]
          },
          "description": "The group's email address. If your account has multiple domains, select the appropriate domain for the email address. The `email` must be unique. This property is required when creating a group. Group email addresses are subject to the same character usage rules as usernames, see the [help center](https://support.google.com/a/answer/9193374) for details."
        },
        "adminCreated": {
          "type": "boolean",
          "description": "Read-only. Value is `true` if this group was created by an administrator rather than a user."
        },
        "aliases": {
          "description": "Read-only. The list of a group's alias email addresses. To add, update, or remove a group's aliases, use the `groups.aliases` methods. If edited in a group's POST or PUT request, the edit is ignored.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Read-only. The unique ID of a group. A group `id` can be used as a group request URI's `groupKey`."
        },
        "nonEditableAliases": {
          "type": "array",
          "description": "Read-only. The list of the group's non-editable alias email addresses that are outside of the account's primary domain or subdomains. These are functioning email addresses used by the group. This is a read-only property returned in the API's response for a group. If edited in a group's POST or PUT request, the edit is ignored.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Google Groups provide your users the ability to send messages to groups of people using the group's email address. For more information about common tasks, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-groups)."
    },
    "User": {
      "type": "object",
      "description": "The Directory API allows you to create and manage your account's users, user aliases, and user Gmail chat profile photos. For more information about common tasks, see the [User Accounts Developer's Guide](/admin-sdk/directory/v1/guides/manage-users.html) and the [User Aliases Developer's Guide](/admin-sdk/directory/v1/guides/manage-user-aliases.html).",
      "id": "User",
      "properties": {
        "relations": {
          "type": "any",
          "description": "The list of the user's relationships to other users. The maximum allowed data size for this field is 2Kb."
        },
        "recoveryPhone": {
          "description": "Recovery phone of the user. The phone number must be in the E.164 format, starting with the plus sign (+). Example: *+16506661212*.",
          "type": "string"
        },
        "notes": {
          "type": "any",
          "description": "Notes for the user."
        },
        "changePasswordAtNextLogin": {
          "type": "boolean",
          "description": "Indicates if the user is forced to change their password at next login. This setting doesn't apply when [the user signs in via a third-party identity provider](https://support.google.com/a/answer/60224)."
        },
        "kind": {
          "default": "admin#directory#user",
          "readOnly": true,
          "description": "Output only. The type of the API resource. For Users resources, the value is `admin#directory#user`.",
          "type": "string"
        },
        "ipWhitelisted": {
          "description": "If `true`, the user's IP address is [whitelisted](https://support.google.com/a/answer/60752).",
          "type": "boolean"
        },
        "emails": {
          "description": "The list of the user's email addresses. The maximum allowed data size for this field is 10Kb.",
          "type": "any"
        },
        "posixAccounts": {
          "description": "The list of [POSIX](https://www.opengroup.org/austin/papers/posix_faq.html) account information for the user.",
          "type": "any"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. ETag of the resource.",
          "type": "string"
        },
        "aliases": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of the user's alias email addresses.",
          "type": "array"
        },
        "externalIds": {
          "description": "The list of external IDs for the user, such as an employee or network ID. The maximum allowed data size for this field is 2Kb.",
          "type": "any"
        },
        "includeInGlobalAddressList": {
          "type": "boolean",
          "description": "Indicates if the user's profile is visible in the Google Workspace global address list when the contact sharing feature is enabled for the domain. For more information about excluding user profiles, see the [administration help center](https://support.google.com/a/answer/1285988)."
        },
        "ims": {
          "type": "any",
          "description": "The list of the user's Instant Messenger (IM) accounts. A user account can have multiple ims properties. But, only one of these ims properties can be the primary IM contact. The maximum allowed data size for this field is 2Kb."
        },
        "isEnforcedIn2Sv": {
          "readOnly": true,
          "description": "Output only. Is 2-step verification enforced (Read-only)",
          "type": "boolean"
        },
        "hashFunction": {
          "type": "string",
          "description": "Stores the hash format of the `password` property. The following `hashFunction` values are allowed: * `MD5` - Accepts simple hex-encoded values. * `SHA-1` - Accepts simple hex-encoded values. * `crypt` - Compliant with the [C crypt library](https://en.wikipedia.org/wiki/Crypt_%28C%29). Supports the DES, MD5 (hash prefix `$1$`), SHA-256 (hash prefix `$5$`), and SHA-512 (hash prefix `$6$`) hash algorithms. If rounds are specified as part of the prefix, they must be 10,000 or fewer."
        },
        "isMailboxSetup": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the user's Google mailbox is created. This property is only applicable if the user has been assigned a Gmail license."
        },
        "agreedToTerms": {
          "readOnly": true,
          "description": "Output only. This property is `true` if the user has completed an initial login and accepted the Terms of Service agreement.",
          "type": "boolean"
        },
        "id": {
          "description": "The unique ID for the user. A user `id` can be used as a user request URI's `userKey`.",
          "type": "string"
        },
        "recoveryEmail": {
          "description": "Recovery email of the user.",
          "type": "string"
        },
        "name": {
          "description": "Holds the given and family names of the user, and the read-only `fullName` value. The maximum number of characters in the `givenName` and in the `familyName` values is 60. In addition, name values support unicode/UTF-8 characters, and can contain spaces, letters (a-z), numbers (0-9), dashes (-), forward slashes (/), and periods (.). For more information about character usage rules, see the [administration help center](https://support.google.com/a/answer/9193374). Maximum allowed data size for this field is 1Kb.",
          "$ref": "UserName",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          }
        },
        "websites": {
          "description": "The user's websites. The maximum allowed data size for this field is 2Kb.",
          "type": "any"
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The customer ID to [retrieve all account users](/admin-sdk/directory/v1/guides/manage-users.html#get_all_users). You can use the alias `my_customer` to represent your account's `customerId`. As a reseller administrator, you can use the resold customer account's `customerId`. To get a `customerId`, use the account's primary domain in the `domain` parameter of a [users.list](/admin-sdk/directory/v1/reference/users/list) request.",
          "readOnly": true
        },
        "gender": {
          "description": "The user's gender. The maximum allowed data size for this field is 1Kb.",
          "type": "any"
        },
        "archived": {
          "type": "boolean",
          "description": "Indicates if user is archived."
        },
        "deletionTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "isAdmin": {
          "readOnly": true,
          "description": "Output only. Indicates a user with super admininistrator privileges. The `isAdmin` property can only be edited in the [Make a user an administrator](/admin-sdk/directory/v1/guides/manage-users.html#make_admin) operation ( [makeAdmin](/admin-sdk/directory/v1/reference/users/makeAdmin.html) method). If edited in the user [insert](/admin-sdk/directory/v1/reference/users/insert.html) or [update](/admin-sdk/directory/v1/reference/users/update.html) methods, the edit is ignored by the API service.",
          "type": "boolean"
        },
        "isDelegatedAdmin": {
          "type": "boolean",
          "description": "Output only. Indicates if the user is a delegated administrator. Delegated administrators are supported by the API but cannot create or undelete users, or make users administrators. These requests are ignored by the API service. Roles and privileges for administrators are assigned using the [Admin console](https://support.google.com/a/answer/33325).",
          "readOnly": true
        },
        "languages": {
          "type": "any",
          "description": "The user's languages. The maximum allowed data size for this field is 1Kb."
        },
        "suspensionReason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Has the reason a user account is suspended either by the administrator or by Google at the time of suspension. The property is returned only if the `suspended` property is `true`."
        },
        "thumbnailPhotoEtag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ETag of the user's photo (Read-only)"
        },
        "primaryEmail": {
          "description": "The user's primary email address. This property is required in a request to create a user account. The `primaryEmail` must be unique and cannot be an alias of another user.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          }
        },
        "thumbnailPhotoUrl": {
          "type": "string",
          "description": "Output only. Photo Url of the user (Read-only)",
          "readOnly": true
        },
        "lastLoginTime": {
          "type": "string",
          "description": "User's last login time. (Read-only)",
          "format": "date-time",
          "readOnly": true
        },
        "customSchemas": {
          "additionalProperties": {
            "$ref": "UserCustomProperties"
          },
          "description": "Custom fields of the user. The key is a `schema_name` and its values are `'field_name': 'field_value'`.",
          "type": "object"
        },
        "creationTime": {
          "readOnly": true,
          "format": "date-time",
          "description": "User's G Suite account creation time. (Read-only)",
          "type": "string"
        },
        "password": {
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string",
          "description": "User's password"
        },
        "orgUnitPath": {
          "description": "The full path of the parent organization associated with the user. If the parent organization is the top-level, it is represented as a forward slash (`/`).",
          "type": "string"
        },
        "organizations": {
          "type": "any",
          "description": "The list of organizations the user belongs to. The maximum allowed data size for this field is 10Kb."
        },
        "phones": {
          "type": "any",
          "description": "The list of the user's phone numbers. The maximum allowed data size for this field is 1Kb."
        },
        "addresses": {
          "description": "The list of the user's addresses. The maximum allowed data size for this field is 10Kb.",
          "type": "any"
        },
        "keywords": {
          "description": "The list of the user's keywords. The maximum allowed data size for this field is 1Kb.",
          "type": "any"
        },
        "sshPublicKeys": {
          "type": "any",
          "description": "A list of SSH public keys."
        },
        "suspended": {
          "type": "boolean",
          "description": "Indicates if user is suspended."
        },
        "locations": {
          "description": "The user's locations. The maximum allowed data size for this field is 10Kb.",
          "type": "any"
        },
        "isEnrolledIn2Sv": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Is enrolled in 2-step verification (Read-only)"
        },
        "nonEditableAliases": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of the user's non-editable alias email addresses. These are typically outside the account's primary domain or sub-domain.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListPrintServersResponse": {
      "type": "object",
      "id": "ListPrintServersResponse",
      "properties": {
        "printServers": {
          "items": {
            "$ref": "PrintServer"
          },
          "type": "array",
          "description": "List of print servers."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` in a request to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "Role": {
      "properties": {
        "roleId": {
          "description": "ID of the role.",
          "format": "int64",
          "type": "string"
        },
        "rolePrivileges": {
          "description": "The set of privileges that are granted to this role.",
          "items": {
            "type": "object",
            "properties": {
              "serviceId": {
                "description": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](/admin-sdk/directory/v1/reference/privileges/list).",
                "type": "string"
              },
              "privilegeName": {
                "type": "string",
                "description": "The name of the privilege."
              }
            }
          },
          "type": "array",
          "annotations": {
            "required": [
              "directory.roles.insert"
            ]
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "roleDescription": {
          "description": "A short description of the role.",
          "type": "string"
        },
        "isSuperAdminRole": {
          "type": "boolean",
          "description": "Returns `true` if the role is a super admin role."
        },
        "roleName": {
          "annotations": {
            "required": [
              "directory.roles.insert"
            ]
          },
          "type": "string",
          "description": "Name of the role."
        },
        "isSystemRole": {
          "description": "Returns `true` if this is a pre-defined system role.",
          "type": "boolean"
        },
        "kind": {
          "default": "admin#directory#role",
          "description": "The type of the API resource. This is always `admin#directory#role`.",
          "type": "string"
        }
      },
      "id": "Role",
      "type": "object"
    },
    "Members": {
      "id": "Members",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "description": "A list of member objects.",
          "items": {
            "$ref": "Member"
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#members"
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        }
      }
    },
    "Customer": {
      "type": "object",
      "properties": {
        "language": {
          "type": "string",
          "description": "The customer's ISO 639-2 language code. See the [Language Codes](/admin-sdk/directory/v1/languages) page for the list of supported codes. Valid language codes outside the supported set will be accepted by the API but may lead to unexpected behavior. The default value is `en`."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The customer's contact phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format."
        },
        "kind": {
          "default": "admin#directory#customer",
          "type": "string",
          "description": "Identifies the resource as a customer. Value: `admin#directory#customer`"
        },
        "alternateEmail": {
          "type": "string",
          "description": "The customer's secondary contact email address. This email address cannot be on the same domain as the `customerDomain`"
        },
        "postalAddress": {
          "$ref": "CustomerPostalAddress",
          "description": "The customer's postal address information."
        },
        "customerCreationTime": {
          "format": "date-time",
          "type": "string",
          "description": "The customer's creation time (Readonly)"
        },
        "customerDomain": {
          "type": "string",
          "description": "The customer's primary domain name string. Do not include the `www` prefix when creating a new customer."
        },
        "id": {
          "type": "string",
          "description": "The unique ID for the customer's Google Workspace account. (Readonly)"
        }
      },
      "id": "Customer"
    },
    "UserName": {
      "properties": {
        "familyName": {
          "description": "The user's last name. Required when creating a user account.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          }
        },
        "fullName": {
          "description": "The user's full name formed by concatenating the first and last name values.",
          "type": "string"
        },
        "givenName": {
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string",
          "description": "The user's first name. Required when creating a user account."
        }
      },
      "type": "object",
      "id": "UserName"
    },
    "Alias": {
      "description": "JSON template for Alias object in Directory API.",
      "properties": {
        "etag": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#alias"
        },
        "id": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "primaryEmail": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Alias"
    },
    "Features": {
      "description": "Public API: Resources.features",
      "id": "Features",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "features": {
          "type": "array",
          "description": "The Features in this page of results.",
          "items": {
            "$ref": "Feature"
          }
        },
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#resources#features#featuresList"
        }
      },
      "type": "object"
    },
    "ChromeOsDevices": {
      "id": "ChromeOsDevices",
      "type": "object",
      "properties": {
        "chromeosdevices": {
          "description": "A list of Chrome OS Device objects.",
          "type": "array",
          "items": {
            "$ref": "ChromeOsDevice"
          }
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. To access the next page, use this token's value in the `pageToken` query string of this request.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "description": "Kind of resource this is.",
          "default": "admin#directory#chromeosdevices",
          "type": "string"
        }
      }
    },
    "UserAddress": {
      "id": "UserAddress",
      "properties": {
        "poBox": {
          "description": "Other parts of address.",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "Country."
        },
        "locality": {
          "type": "string",
          "description": "Locality."
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard values of that entry. For example address could be of home work etc. In addition to the standard type an entry can have a custom type and can take any value. Such type should have the CUSTOM value as type and also have a customType value."
        },
        "formatted": {
          "type": "string",
          "description": "Formatted address."
        },
        "extendedAddress": {
          "description": "Extended Address.",
          "type": "string"
        },
        "customType": {
          "type": "string",
          "description": "Custom type."
        },
        "primary": {
          "description": "If this is user's primary address. Only one entry could be marked as primary.",
          "type": "boolean"
        },
        "postalCode": {
          "type": "string",
          "description": "Postal code."
        },
        "countryCode": {
          "description": "Country code.",
          "type": "string"
        },
        "streetAddress": {
          "description": "Street.",
          "type": "string"
        },
        "region": {
          "description": "Region.",
          "type": "string"
        },
        "sourceIsStructured": {
          "type": "boolean",
          "description": "User supplied address was structured. Structured addresses are NOT supported at this time. You might be able to write structured addresses but any values will eventually be clobbered."
        }
      },
      "type": "object",
      "description": "JSON template for address."
    },
    "ListPrintersResponse": {
      "id": "ListPrintersResponse",
      "properties": {
        "printers": {
          "type": "array",
          "items": {
            "$ref": "Printer"
          },
          "description": "List of printers. If `org_unit_id` was given in the request, then only printers visible for this OU will be returned. If `org_unit_id` was not given in the request, then all printers will be returned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response for listing printers."
    },
    "OsUpdateStatus": {
      "description": "Contains information regarding the current OS update status.",
      "id": "OsUpdateStatus",
      "properties": {
        "updateCheckTime": {
          "description": "Date and time of the last update check.",
          "type": "string"
        },
        "targetKioskAppVersion": {
          "type": "string",
          "description": "New required platform version from the pending updated kiosk app."
        },
        "targetOsVersion": {
          "description": "New platform version of the OS image being downloaded and applied. It is only set when update status is UPDATE_STATUS_DOWNLOAD_IN_PROGRESS or UPDATE_STATUS_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for UPDATE_STATUS_NEED_REBOOT for some edge cases, e.g. update engine is restarted without a reboot.",
          "type": "string"
        },
        "updateTime": {
          "description": "Date and time of the last successful OS update.",
          "type": "string"
        },
        "rebootTime": {
          "type": "string",
          "description": "Date and time of the last reboot."
        },
        "state": {
          "enumDescriptions": [
            "The update state is unspecified.",
            "There is an update pending but it hasn't started.",
            "The pending update is being downloaded.",
            "The device is ready to install the update, but must reboot."
          ],
          "type": "string",
          "description": "The update state of an OS update.",
          "enum": [
            "updateStateUnspecified",
            "updateStateNotStarted",
            "updateStateDownloadInProgress",
            "updateStateNeedReboot"
          ]
        }
      },
      "type": "object"
    },
    "UserGender": {
      "type": "object",
      "id": "UserGender",
      "properties": {
        "customGender": {
          "description": "Custom gender.",
          "type": "string"
        },
        "type": {
          "description": "Gender.",
          "type": "string"
        },
        "addressMeAs": {
          "description": "AddressMeAs. A human-readable string containing the proper way to refer to the profile owner by humans for example he/him/his or they/them/their.",
          "type": "string"
        }
      }
    },
    "OrgUnits": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "organizationUnits": {
          "type": "array",
          "items": {
            "$ref": "OrgUnit"
          },
          "description": "A list of organizational unit objects."
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. For Org Unit resources, the type is `admin#directory#orgUnits`.",
          "default": "admin#directory#orgUnits"
        }
      },
      "id": "OrgUnits"
    },
    "PrintServerFailureInfo": {
      "description": "Info about failures",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Failure reason message."
        },
        "printServerId": {
          "type": "string",
          "description": "ID of a failed print server."
        },
        "errorCode": {
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
[...]
