{
  "revision": "20221020",
  "ownerName": "Google",
  "name": "admin",
  "id": "admin:directory_v1",
  "baseUrl": "https://admin.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.directory.user.alias.readonly": {
          "description": "View user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly": {
          "description": "View calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly": {
          "description": "View your Chrome OS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.user.security": {
          "description": "Manage data access permissions for users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit": {
          "description": "View and manage organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers.readonly": {
          "description": "See the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias": {
          "description": "View and manage user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/admin.directory.domain.readonly": {
          "description": "View domains related to your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.action": {
          "description": "Manage your mobile devices by performing administrative tasks"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement": {
          "description": "Manage delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.customer": {
          "description": "View and manage customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.domain": {
          "description": "View and manage the provisioning of domains for your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.user.readonly": {
          "description": "See info about users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.readonly": {
          "description": "View groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.customer.readonly": {
          "description": "View customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member": {
          "description": "View and manage group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers": {
          "description": "See, add, edit, and permanently delete the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly": {
          "description": "View delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member.readonly": {
          "description": "View group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile": {
          "description": "View and manage your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos": {
          "description": "View and manage your Chrome OS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit.readonly": {
          "description": "View organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema": {
          "description": "View and manage the provisioning of user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar": {
          "description": "View and manage the provisioning of calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema.readonly": {
          "description": "View user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly": {
          "description": "View your mobile devices' metadata"
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    }
  },
  "title": "Admin SDK API",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "rootUrl": "https://admin.googleapis.com/",
  "documentationLink": "https://developers.google.com/admin-sdk/",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "canonicalName": "directory",
  "resources": {
    "schemas": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Schema"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema",
            "https://www.googleapis.com/auth/admin.directory.userschema.readonly"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "description": "Retrieves a schema.",
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "parameters": {
            "schemaKey": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Name or immutable ID of the schema."
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "directory.schemas.get"
        },
        "update": {
          "response": {
            "$ref": "Schema"
          },
          "description": "Updates a schema.",
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Immutable ID of the Google Workspace account."
            },
            "schemaKey": {
              "required": true,
              "description": "Name or immutable ID of the schema.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Schema"
          },
          "id": "directory.schemas.update",
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}"
        },
        "delete": {
          "id": "directory.schemas.delete",
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "parameters": {
            "schemaKey": {
              "location": "path",
              "description": "Name or immutable ID of the schema.",
              "type": "string",
              "required": true
            },
            "customerId": {
              "type": "string",
              "location": "path",
              "description": "Immutable ID of the Google Workspace account.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "httpMethod": "DELETE",
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "description": "Deletes a schema."
        },
        "insert": {
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "path": "admin/directory/v1/customer/{customerId}/schemas",
          "id": "directory.schemas.insert",
          "response": {
            "$ref": "Schema"
          },
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas",
          "httpMethod": "POST",
          "parameterOrder": [
            "customerId"
          ],
          "description": "Creates a schema.",
          "request": {
            "$ref": "Schema"
          }
        },
        "list": {
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas",
          "path": "admin/directory/v1/customer/{customerId}/schemas",
          "parameters": {
            "customerId": {
              "required": true,
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Schemas"
          },
          "id": "directory.schemas.list",
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema",
            "https://www.googleapis.com/auth/admin.directory.userschema.readonly"
          ],
          "description": "Retrieves all schemas for a customer.",
          "httpMethod": "GET"
        },
        "patch": {
          "parameters": {
            "schemaKey": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Name or immutable ID of the schema."
            },
            "customerId": {
              "required": true,
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path"
            }
          },
          "id": "directory.schemas.patch",
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Schema"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "description": "Patches a schema.",
          "request": {
            "$ref": "Schema"
          }
        }
      }
    },
    "privileges": {
      "methods": {
        "list": {
          "flatPath": "admin/directory/v1/customer/{customer}/roles/ALL/privileges",
          "id": "directory.privileges.list",
          "parameters": {
            "customer": {
              "location": "path",
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "required": true
            }
          },
          "path": "admin/directory/v1/customer/{customer}/roles/ALL/privileges",
          "response": {
            "$ref": "Privileges"
          },
          "description": "Retrieves a paginated list of all privileges for a customer.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "customer"
          ]
        }
      }
    },
    "customer": {
      "resources": {
        "devices": {
          "resources": {
            "chromeos": {
              "methods": {
                "issueCommand": {
                  "id": "admin.customer.devices.chromeos.issueCommand",
                  "request": {
                    "$ref": "DirectoryChromeosdevicesIssueCommandRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.directory.device.chromeos"
                  ],
                  "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}:issueCommand",
                  "parameters": {
                    "deviceId": {
                      "required": true,
                      "description": "Immutable. ID of Chrome OS Device.",
                      "type": "string",
                      "location": "path"
                    },
                    "customerId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Immutable. ID of the Google Workspace account."
                    }
                  },
                  "description": "Issues a command for the device to execute.",
                  "parameterOrder": [
                    "customerId",
                    "deviceId"
                  ],
                  "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}:issueCommand",
                  "response": {
                    "$ref": "DirectoryChromeosdevicesIssueCommandResponse"
                  },
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "commands": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.device.chromeos",
                        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
                      ],
                      "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}/commands/{commandId}",
                      "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}/commands/{commandId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "customerId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Immutable. ID of the Google Workspace account."
                        },
                        "commandId": {
                          "description": "Immutable. ID of Chrome OS Device Command.",
                          "format": "int64",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "deviceId": {
                          "location": "path",
                          "required": true,
                          "description": "Immutable. ID of Chrome OS Device.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "DirectoryChromeosdevicesCommand"
                      },
                      "id": "admin.customer.devices.chromeos.commands.get",
                      "description": "Gets command data a specific command issued to the device.",
                      "parameterOrder": [
                        "customerId",
                        "deviceId",
                        "commandId"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "path": "admin/directory/v1/users",
          "parameters": {
            "customer": {
              "location": "query",
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, fill this field instead of domain. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users). Either the `customer` or the `domain` parameter must be provided."
            },
            "sortOrder": {
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Whether to return results in ascending or descending order, ignoring case.",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "event": {
              "description": "Event on which subscription is intended (if subscribing)",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "User Created Event",
                "User Deleted Event",
                "User Admin Status Change Event",
                "User Undeleted Event",
                "User Updated Event"
              ],
              "enum": [
                "add",
                "delete",
                "makeAdmin",
                "undelete",
                "update"
              ]
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify next page in the list"
            },
            "customFieldMask": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when `projection=custom`."
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "100",
              "minimum": "1",
              "type": "integer",
              "maximum": "500"
            },
            "projection": {
              "enumDescriptions": [
                "Do not include any custom fields for the user.",
                "Include custom fields from schemas requested in `customFieldMask`.",
                "Include all fields associated with this user."
              ],
              "default": "basic",
              "type": "string",
              "location": "query",
              "enum": [
                "basic",
                "custom",
                "full"
              ],
              "description": "What subset of fields to fetch for this user."
            },
            "showDeleted": {
              "location": "query",
              "description": "If set to `true`, retrieves the list of deleted users. (Default: `false`)",
              "type": "string"
            },
            "domain": {
              "location": "query",
              "type": "string",
              "description": "The domain name. Use this field to get groups from only one domain. To return all domains for a customer account, use the `customer` query parameter instead. Either the `customer` or the `domain` parameter must be provided."
            },
            "query": {
              "description": "Query string for searching user fields. For more information on constructing user queries, see [Search for Users](/admin-sdk/directory/v1/guides/search-users).",
              "type": "string",
              "location": "query"
            },
            "viewType": {
              "default": "admin_view",
              "type": "string",
              "enum": [
                "admin_view",
                "domain_public"
              ],
              "description": "Whether to fetch the administrator-only or domain-wide public view of the user. For more information, see [Retrieve a user as a non-administrator](/admin-sdk/directory/v1/guides/manage-users#retrieve_users_non_admin).",
              "enumDescriptions": [
                "Results include both administrator-only and domain-public fields for the user.",
                "Results only include fields for the user that are publicly visible to other users in the domain."
              ],
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Primary email of the user.",
                "User's family name.",
                "User's given name."
              ],
              "description": "Property to use for sorting results.",
              "enum": [
                "email",
                "familyName",
                "givenName"
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "flatPath": "admin/directory/v1/users",
          "response": {
            "$ref": "Users"
          },
          "id": "directory.users.list",
          "description": "Retrieves a paginated list of either deleted users or all users in a domain."
        },
        "insert": {
          "request": {
            "$ref": "User"
          },
          "parameters": {},
          "httpMethod": "POST",
          "id": "directory.users.insert",
          "path": "admin/directory/v1/users",
          "parameterOrder": [],
          "response": {
            "$ref": "User"
          },
          "description": "Creates a user.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "flatPath": "admin/directory/v1/users"
        },
        "undelete": {
          "description": "Undeletes a deleted user.",
          "parameters": {
            "userKey": {
              "required": true,
              "location": "path",
              "description": "The immutable id of the user",
              "type": "string"
            }
          },
          "flatPath": "admin/directory/v1/users/{userKey}/undelete",
          "request": {
            "$ref": "UserUndelete"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "httpMethod": "POST",
          "id": "directory.users.undelete",
          "parameterOrder": [
            "userKey"
          ],
          "path": "admin/directory/v1/users/{userKey}/undelete"
        },
        "watch": {
          "parameters": {
            "pageToken": {
              "description": "Token to specify next page in the list",
              "type": "string",
              "location": "query"
            },
            "customer": {
              "description": "Immutable ID of the Google Workspace account. In case of multi-domain, to fetch all users for a customer, fill this field instead of domain.",
              "type": "string",
              "location": "query"
            },
            "domain": {
              "description": "Name of the domain. Fill this field to get users from only this domain. To return all users in a multi-domain fill customer field instead.\"",
              "location": "query",
              "type": "string"
            },
            "projection": {
              "enumDescriptions": [
                "Do not include any custom fields for the user.",
                "Include custom fields from schemas mentioned in customFieldMask.",
                "Include all fields associated with this user."
              ],
              "location": "query",
              "default": "basic",
              "type": "string",
              "enum": [
                "basic",
                "custom",
                "full"
              ],
              "description": "What subset of fields to fetch for this user."
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "Query string search. Should be of the form \"\". Complete documentation is at https: //developers.google.com/admin-sdk/directory/v1/guides/search-users"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Whether to return results in ascending or descending order.",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "enumDescriptions": [
                "Primary email of the user.",
                "User's family name.",
                "User's given name."
              ],
              "type": "string",
              "enum": [
                "email",
                "familyName",
                "givenName"
              ],
              "description": "Column to use for sorting results"
            },
            "maxResults": {
              "location": "query",
              "maximum": "500",
              "default": "100",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "type": "integer",
              "minimum": "1"
            },
            "viewType": {
              "description": "Whether to fetch the administrator-only or domain-wide public view of the user. For more information, see [Retrieve a user as a non-administrator](/admin-sdk/directory/v1/guides/manage-users#retrieve_users_non_admin).",
              "default": "admin_view",
              "enum": [
                "admin_view",
                "domain_public"
              ],
              "enumDescriptions": [
                "Results include both administrator-only and domain-public fields.",
                "Results only include fields for the user that are publicly visible to other users in the domain."
              ],
              "location": "query",
              "type": "string"
            },
            "event": {
              "location": "query",
              "description": "Events to watch for.",
              "enumDescriptions": [
                "User Created Event",
                "User Deleted Event",
                "User Admin Status Change Event",
                "User Undeleted Event",
                "User Updated Event"
              ],
              "enum": [
                "add",
                "delete",
                "makeAdmin",
                "undelete",
                "update"
              ],
              "type": "string"
            },
            "customFieldMask": {
              "type": "string",
              "description": "Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.",
              "location": "query"
            },
            "showDeleted": {
              "description": "If set to true, retrieves the list of deleted users. (Default: false)",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Watches for changes in users list.",
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Channel"
          },
          "flatPath": "admin/directory/v1/users/watch",
          "httpMethod": "POST",
          "id": "directory.users.watch",
          "parameterOrder": [],
          "path": "admin/directory/v1/users/watch"
        },
        "patch": {
          "request": {
            "$ref": "User"
          },
          "id": "directory.users.patch",
          "description": "Updates a user using patch semantics. The update method should be used instead, since it also supports patch semantics and has better performance. This method is unable to clear fields that contain repeated objects (`addresses`, `phones`, etc). Use the update method instead.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "parameterOrder": [
            "userKey"
          ],
          "parameters": {
            "userKey": {
              "location": "path",
              "required": true,
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "path": "admin/directory/v1/users/{userKey}",
          "flatPath": "admin/directory/v1/users/{userKey}",
          "response": {
            "$ref": "User"
          }
        },
        "get": {
          "flatPath": "admin/directory/v1/users/{userKey}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.readonly"
          ],
          "parameters": {
            "customFieldMask": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when `projection=custom`."
            },
            "projection": {
              "location": "query",
              "default": "basic",
              "description": "What subset of fields to fetch for this user.",
              "type": "string",
              "enum": [
                "basic",
                "custom",
                "full"
              ],
              "enumDescriptions": [
                "Do not include any custom fields for the user.",
                "Include custom fields from schemas requested in `customFieldMask`.",
                "Include all fields associated with this user."
              ]
            },
            "userKey": {
              "required": true,
              "type": "string",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "location": "path"
            },
            "viewType": {
              "enumDescriptions": [
                "Results include both administrator-only and domain-public fields for the user.",
                "Results only include fields for the user that are publicly visible to other users in the domain."
              ],
              "location": "query",
              "type": "string",
              "description": "Whether to fetch the administrator-only or domain-wide public view of the user. For more information, see [Retrieve a user as a non-administrator](/admin-sdk/directory/v1/guides/manage-users#retrieve_users_non_admin).",
              "default": "admin_view",
              "enum": [
                "admin_view",
                "domain_public"
              ]
            }
          },
          "id": "directory.users.get",
          "description": "Retrieves a user.",
          "path": "admin/directory/v1/users/{userKey}",
          "response": {
            "$ref": "User"
          },
          "parameterOrder": [
            "userKey"
          ]
        },
        "makeAdmin": {
          "httpMethod": "POST",
          "description": "Makes a user a super administrator.",
          "parameterOrder": [
            "userKey"
          ],
          "id": "directory.users.makeAdmin",
          "path": "admin/directory/v1/users/{userKey}/makeAdmin",
          "flatPath": "admin/directory/v1/users/{userKey}/makeAdmin",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "request": {
            "$ref": "UserMakeAdmin"
          },
          "parameters": {
            "userKey": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID."
            }
          }
        },
        "delete": {
          "path": "admin/directory/v1/users/{userKey}",
          "description": "Deletes a user.",
          "flatPath": "admin/directory/v1/users/{userKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "parameterOrder": [
            "userKey"
          ],
          "parameters": {
            "userKey": {
              "required": true,
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "directory.users.delete",
          "httpMethod": "DELETE"
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "User"
          },
          "description": "Updates a user. This method supports patch semantics, meaning you only need to include the fields you wish to update. Fields that are not present in the request will be preserved, and fields set to `null` will be cleared.",
          "path": "admin/directory/v1/users/{userKey}",
          "parameters": {
            "userKey": {
              "location": "path",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "parameterOrder": [
            "userKey"
          ],
          "response": {
            "$ref": "User"
          },
          "id": "directory.users.update",
          "flatPath": "admin/directory/v1/users/{userKey}"
        },
        "signOut": {
          "description": "Signs a user out of all web and device sessions and reset their sign-in cookies. User will have to sign in by authenticating again.",
          "httpMethod": "POST",
          "path": "admin/directory/v1/users/{userKey}/signOut",
          "flatPath": "admin/directory/v1/users/{userKey}/signOut",
          "id": "directory.users.signOut",
          "parameters": {
            "userKey": {
              "description": "Identifies the target user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "parameterOrder": [
            "userKey"
          ]
        }
      },
      "resources": {
        "aliases": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.alias",
                "https://www.googleapis.com/auth/admin.directory.user.alias.readonly",
                "https://www.googleapis.com/auth/admin.directory.user.readonly"
              ],
              "id": "directory.users.aliases.list",
              "description": "Lists all aliases for a user.",
              "flatPath": "admin/directory/v1/users/{userKey}/aliases",
              "path": "admin/directory/v1/users/{userKey}/aliases",
              "parameterOrder": [
                "userKey"
              ],
              "response": {
                "$ref": "Aliases"
              },
              "httpMethod": "GET",
              "parameters": {
                "event": {
                  "enum": [
                    "add",
                    "delete"
                  ],
                  "description": "Events to watch for.",
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Alias Created Event",
                    "Alias Deleted Event"
                  ]
                },
                "userKey": {
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "insert": {
              "request": {
                "$ref": "Alias"
              },
              "path": "admin/directory/v1/users/{userKey}/aliases",
              "httpMethod": "POST",
              "response": {
                "$ref": "Alias"
              },
              "parameterOrder": [
                "userKey"
              ],
              "id": "directory.users.aliases.insert",
              "flatPath": "admin/directory/v1/users/{userKey}/aliases",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.alias"
              ],
              "parameters": {
                "userKey": {
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Adds an alias."
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "admin/directory/v1/users/{userKey}/aliases/{alias}",
              "parameters": {
                "userKey": {
                  "location": "path",
                  "required": true,
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string"
                },
                "alias": {
                  "description": "The alias to be removed.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "directory.users.aliases.delete",
              "parameterOrder": [
                "userKey",
                "alias"
              ],
              "description": "Removes an alias.",
              "flatPath": "admin/directory/v1/users/{userKey}/aliases/{alias}",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.alias"
              ]
            },
            "watch": {
              "parameters": {
                "event": {
                  "description": "Events to watch for.",
                  "location": "query",
                  "enum": [
                    "add",
                    "delete"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Alias Created Event",
                    "Alias Deleted Event"
                  ]
                },
                "userKey": {
                  "description": "Email or immutable ID of the user",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "admin/directory/v1/users/{userKey}/aliases/watch",
              "id": "directory.users.aliases.watch",
              "flatPath": "admin/directory/v1/users/{userKey}/aliases/watch",
              "httpMethod": "POST",
              "response": {
                "$ref": "Channel"
              },
              "request": {
                "$ref": "Channel"
              },
              "description": "Watches for changes in users list.",
              "parameterOrder": [
                "userKey"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.alias",
                "https://www.googleapis.com/auth/admin.directory.user.alias.readonly",
                "https://www.googleapis.com/auth/admin.directory.user.readonly"
              ]
            }
          }
        },
        "photos": {
          "methods": {
            "get": {
              "description": "Retrieves the user's photo.",
              "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "response": {
                "$ref": "UserPhoto"
              },
              "id": "directory.users.photos.get",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "userKey": {
                  "location": "path",
                  "required": true,
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string"
                }
              },
              "flatPath": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "parameterOrder": [
                "userKey"
              ]
            },
            "patch": {
              "parameterOrder": [
                "userKey"
              ],
              "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "request": {
                "$ref": "UserPhoto"
              },
              "id": "directory.users.photos.patch",
              "description": "Adds a photo for the user. This method supports [patch semantics](/admin-sdk/directory/v1/guides/performance#patch).",
              "parameters": {
                "userKey": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user"
              ],
              "flatPath": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "response": {
                "$ref": "UserPhoto"
              },
              "httpMethod": "PATCH"
            },
            "delete": {
              "parameters": {
                "userKey": {
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "userKey"
              ],
              "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "flatPath": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "description": "Removes the user's photo.",
              "httpMethod": "DELETE",
              "id": "directory.users.photos.delete",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user"
              ]
            },
            "update": {
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user"
              ],
              "request": {
                "$ref": "UserPhoto"
              },
              "description": "Adds a photo for the user.",
              "parameterOrder": [
                "userKey"
              ],
              "response": {
                "$ref": "UserPhoto"
              },
              "parameters": {
                "userKey": {
                  "location": "path",
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "id": "directory.users.photos.update"
            }
          }
        }
      }
    },
    "roleAssignments": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ],
          "path": "admin/directory/v1/customer/{customer}/roleassignments",
          "parameters": {
            "roleId": {
              "description": "Immutable ID of a role. If included in the request, returns only role assignments containing this role ID.",
              "type": "string",
              "location": "query"
            },
            "customer": {
              "description": "Immutable ID of the Google Workspace account.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token to specify the next page in the list."
            },
            "userKey": {
              "description": "The user's primary email address, alias email address, or unique user ID. If included in the request, returns role assignments only for this user.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "minimum": "1",
              "format": "int32",
              "maximum": "200",
              "location": "query"
            }
          },
          "description": "Retrieves a paginated list of all roleAssignments.",
          "parameterOrder": [
            "customer"
          ],
          "httpMethod": "GET",
          "id": "directory.roleAssignments.list",
          "response": {
            "$ref": "RoleAssignments"
          },
          "flatPath": "admin/directory/v1/customer/{customer}/roleassignments"
        },
        "delete": {
          "description": "Deletes a role assignment.",
          "parameters": {
            "customer": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Immutable ID of the Google Workspace account."
            },
            "roleAssignmentId": {
              "description": "Immutable ID of the role assignment.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ],
          "path": "admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}",
          "flatPath": "admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}",
          "parameterOrder": [
            "customer",
            "roleAssignmentId"
          ],
          "id": "directory.roleAssignments.delete",
          "httpMethod": "DELETE"
        },
        "insert": {
          "id": "directory.roleAssignments.insert",
          "parameterOrder": [
            "customer"
          ],
          "flatPath": "admin/directory/v1/customer/{customer}/roleassignments",
          "response": {
            "$ref": "RoleAssignment"
          },
          "parameters": {
            "customer": {
              "location": "path",
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "description": "Creates a role assignment.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ],
          "request": {
            "$ref": "RoleAssignment"
          },
          "path": "admin/directory/v1/customer/{customer}/roleassignments"
        },
        "get": {
          "response": {
            "$ref": "RoleAssignment"
          },
          "parameterOrder": [
            "customer",
            "roleAssignmentId"
          ],
          "parameters": {
            "roleAssignmentId": {
              "required": true,
              "description": "Immutable ID of the role assignment.",
              "location": "path",
              "type": "string"
            },
            "customer": {
              "description": "Immutable ID of the Google Workspace account.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Retrieves a role assignment.",
          "httpMethod": "GET",
          "path": "admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}",
          "id": "directory.roleAssignments.get",
          "flatPath": "admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ]
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "parameterOrder": [],
          "request": {
            "$ref": "Channel"
          },
          "id": "admin.channels.stop",
          "flatPath": "admin/directory_v1/channels/stop",
          "httpMethod": "POST",
          "description": "Stops watching resources through this channel.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.alias",
            "https://www.googleapis.com/auth/admin.directory.user.alias.readonly",
            "https://www.googleapis.com/auth/admin.directory.user.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "admin/directory_v1/channels/stop"
        }
      }
    },
    "groups": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "request": {
            "$ref": "Group"
          },
          "response": {
            "$ref": "Group"
          },
          "parameters": {
            "groupKey": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID."
            }
          },
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "groupKey"
          ],
          "id": "directory.groups.update",
          "path": "admin/directory/v1/groups/{groupKey}",
          "description": "Updates a group's properties."
        },
        "delete": {
          "parameterOrder": [
            "groupKey"
          ],
          "id": "directory.groups.delete",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "description": "Deletes a group.",
          "path": "admin/directory/v1/groups/{groupKey}",
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "DELETE"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "request": {
            "$ref": "Group"
          },
          "description": "Updates a group's properties. This method supports [patch semantics](/admin-sdk/directory/v1/guides/performance#patch).",
          "path": "admin/directory/v1/groups/{groupKey}",
          "parameterOrder": [
            "groupKey"
          ],
          "response": {
            "$ref": "Group"
          },
          "httpMethod": "PATCH",
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "parameters": {
            "groupKey": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID."
            }
          },
          "id": "directory.groups.patch"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "Groups"
          },
          "path": "admin/directory/v1/groups",
          "id": "directory.groups.list",
          "parameters": {
            "customer": {
              "location": "query",
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, fill in this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. Either the `customer` or the `domain` parameter must be provided.",
              "type": "string"
            },
            "query": {
              "description": "Query string search. Should be of the form \"\". Complete documentation is at https: //developers.google.com/admin-sdk/directory/v1/guides/search-groups",
              "type": "string",
              "location": "query"
            },
            "domain": {
              "type": "string",
              "location": "query",
              "description": "The domain name. Use this field to get groups from only one domain. To return all domains for a customer account, use the `customer` query parameter instead."
            },
            "orderBy": {
              "enum": [
                "email"
              ],
              "type": "string",
              "description": "Column to use for sorting results",
              "enumDescriptions": [
                "Email of the group."
              ],
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Token to specify next page in the list",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return. Max allowed value is 200.",
              "default": "200",
              "type": "integer",
              "minimum": "1",
              "location": "query"
            },
            "userKey": {
              "description": "Email or immutable ID of the user if only those groups are to be listed, the given user is a member of. If it's an ID, it should match with the ID of the user object.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "location": "query",
              "description": "Whether to return results in ascending or descending order. Only of use when orderBy is also used",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            }
          },
          "description": "Retrieves all groups of a domain or of a user given a userKey (paginated).",
          "httpMethod": "GET",
          "flatPath": "admin/directory/v1/groups"
        },
        "get": {
          "path": "admin/directory/v1/groups/{groupKey}",
          "httpMethod": "GET",
          "description": "Retrieves a group's properties.",
          "response": {
            "$ref": "Group"
          },
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ],
          "id": "directory.groups.get",
          "parameters": {
            "groupKey": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID."
            }
          },
          "parameterOrder": [
            "groupKey"
          ]
        },
        "insert": {
          "path": "admin/directory/v1/groups",
          "description": "Creates a group.",
          "id": "directory.groups.insert",
          "flatPath": "admin/directory/v1/groups",
          "parameterOrder": [],
          "response": {
            "$ref": "Group"
          },
          "request": {
            "$ref": "Group"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "parameters": {}
        }
      },
      "resources": {
        "aliases": {
          "methods": {
            "list": {
              "parameters": {
                "groupKey": {
                  "type": "string",
                  "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "admin/directory/v1/groups/{groupKey}/aliases",
              "id": "directory.groups.aliases.list",
              "response": {
                "$ref": "Aliases"
              },
              "path": "admin/directory/v1/groups/{groupKey}/aliases",
              "parameterOrder": [
                "groupKey"
              ],
              "httpMethod": "GET",
              "description": "Lists all aliases for a group.",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group",
                "https://www.googleapis.com/auth/admin.directory.group.readonly"
              ]
            },
            "delete": {
              "parameters": {
                "groupKey": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID."
                },
                "alias": {
                  "location": "path",
                  "description": "The alias to be removed",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "admin/directory/v1/groups/{groupKey}/aliases/{alias}",
              "parameterOrder": [
                "groupKey",
                "alias"
              ],
              "id": "directory.groups.aliases.delete",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group"
              ],
              "flatPath": "admin/directory/v1/groups/{groupKey}/aliases/{alias}",
              "httpMethod": "DELETE",
              "description": "Removes an alias."
            },
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group"
              ],
              "request": {
                "$ref": "Alias"
              },
              "parameters": {
                "groupKey": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID."
                }
              },
              "id": "directory.groups.aliases.insert",
              "httpMethod": "POST",
              "path": "admin/directory/v1/groups/{groupKey}/aliases",
              "description": "Adds an alias for the group.",
              "parameterOrder": [
                "groupKey"
              ],
              "response": {
                "$ref": "Alias"
              },
              "flatPath": "admin/directory/v1/groups/{groupKey}/aliases"
            }
          }
        }
      }
    },
    "roles": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "maximum": "100",
              "minimum": "1",
              "location": "query",
              "format": "int32"
            },
            "customer": {
              "description": "Immutable ID of the Google Workspace account.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "directory.roles.list",
          "parameterOrder": [
            "customer"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a paginated list of all the roles in a domain.",
          "flatPath": "admin/directory/v1/customer/{customer}/roles",
          "response": {
            "$ref": "Roles"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ],
          "path": "admin/directory/v1/customer/{customer}/roles"
        },
        "update": {
          "request": {
            "$ref": "Role"
          },
          "description": "Updates a role.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ],
          "httpMethod": "PUT",
          "path": "admin/directory/v1/customer/{customer}/roles/{roleId}",
          "parameterOrder": [
            "customer",
            "roleId"
          ],
          "flatPath": "admin/directory/v1/customer/{customer}/roles/{roleId}",
          "id": "directory.roles.update",
          "parameters": {
            "customer": {
              "location": "path",
              "required": true,
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            },
            "roleId": {
              "required": true,
              "description": "Immutable ID of the role.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Role"
          }
        },
        "delete": {
          "flatPath": "admin/directory/v1/customer/{customer}/roles/{roleId}",
          "parameterOrder": [
            "customer",
            "roleId"
          ],
          "parameters": {
            "roleId": {
              "description": "Immutable ID of the role.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "customer": {
              "type": "string",
              "required": true,
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ],
          "description": "Deletes a role.",
          "httpMethod": "DELETE",
          "path": "admin/directory/v1/customer/{customer}/roles/{roleId}",
          "id": "directory.roles.delete"
        },
        "insert": {
          "parameterOrder": [
            "customer"
          ],
          "flatPath": "admin/directory/v1/customer/{customer}/roles",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ],
          "path": "admin/directory/v1/customer/{customer}/roles",
          "httpMethod": "POST",
          "request": {
            "$ref": "Role"
          },
          "id": "directory.roles.insert",
          "description": "Creates a role.",
          "response": {
            "$ref": "Role"
          },
          "parameters": {
            "customer": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path",
              "required": true
            }
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "customer": {
              "required": true,
              "location": "path",
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            },
            "roleId": {
              "description": "Immutable ID of the role.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "customer",
            "roleId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ],
          "id": "directory.roles.patch",
          "description": "Patches a role.",
          "response": {
            "$ref": "Role"
          },
          "request": {
            "$ref": "Role"
          },
          "flatPath": "admin/directory/v1/customer/{customer}/roles/{roleId}",
          "path": "admin/directory/v1/customer/{customer}/roles/{roleId}"
        },
        "get": {
          "parameters": {
            "roleId": {
              "location": "path",
              "description": "Immutable ID of the role.",
              "required": true,
              "type": "string"
            },
            "customer": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Immutable ID of the Google Workspace account."
            }
          },
          "description": "Retrieves a role.",
          "flatPath": "admin/directory/v1/customer/{customer}/roles/{roleId}",
          "id": "directory.roles.get",
          "response": {
            "$ref": "Role"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ],
          "parameterOrder": [
            "customer",
            "roleId"
          ],
          "httpMethod": "GET",
          "path": "admin/directory/v1/customer/{customer}/roles/{roleId}"
        }
      }
    },
    "customers": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Customer"
          },
          "path": "admin/directory/v1/customers/{customerKey}",
          "parameters": {
            "customerKey": {
              "location": "path",
              "type": "string",
              "description": "Id of the customer to be updated",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.customer"
          ],
          "description": "Patches a customer.",
          "parameterOrder": [
            "customerKey"
          ],
          "id": "directory.customers.patch",
          "flatPath": "admin/directory/v1/customers/{customerKey}",
          "response": {
            "$ref": "Customer"
          }
        },
        "update": {
          "path": "admin/directory/v1/customers/{customerKey}",
          "id": "directory.customers.update",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.customer"
          ],
          "response": {
            "$ref": "Customer"
          },
          "flatPath": "admin/directory/v1/customers/{customerKey}",
          "request": {
            "$ref": "Customer"
          },
          "description": "Updates a customer.",
          "httpMethod": "PUT",
          "parameters": {
            "customerKey": {
              "type": "string",
              "location": "path",
              "description": "Id of the customer to be updated",
              "required": true
            }
          },
          "parameterOrder": [
            "customerKey"
          ]
        },
        "get": {
          "parameterOrder": [
            "customerKey"
          ],
          "parameters": {
            "customerKey": {
              "location": "path",
              "type": "string",
              "description": "Id of the customer to be retrieved",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.customer",
            "https://www.googleapis.com/auth/admin.directory.customer.readonly"
          ],
          "description": "Retrieves a customer.",
          "path": "admin/directory/v1/customers/{customerKey}",
          "httpMethod": "GET",
          "id": "directory.customers.get",
          "flatPath": "admin/directory/v1/customers/{customerKey}",
          "response": {
            "$ref": "Customer"
          }
        }
      },
      "resources": {
        "chrome": {
          "resources": {
            "printers": {
              "methods": {
                "batchDeletePrinters": {
                  "response": {
                    "$ref": "BatchDeletePrintersResponse"
                  },
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers:batchDeletePrinters",
                  "id": "admin.customers.chrome.printers.batchDeletePrinters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "BatchDeletePrintersRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "description": "Deletes printers in batch.",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the customer. Format: customers/{customer_id}"
                    }
                  },
                  "path": "admin/directory/v1/{+parent}/chrome/printers:batchDeletePrinters",
                  "httpMethod": "POST"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers",
                    "https://www.googleapis.com/auth/admin.chrome.printers.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Printer"
                  },
                  "id": "admin.customers.chrome.printers.get",
                  "httpMethod": "GET",
                  "path": "admin/directory/v1/{+name}",
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers/{printersId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+/chrome/printers/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the printer to retrieve. Format: customers/{customer_id}/chrome/printers/{printer_id}"
                    }
                  },
                  "description": "Returns a `Printer` resource (printer's config)."
                },
                "delete": {
                  "path": "admin/directory/v1/{+name}",
                  "description": "Deletes a `Printer`.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers/{printersId}",
                  "id": "admin.customers.chrome.printers.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+/chrome/printers/[^/]+$",
                      "description": "Required. The name of the printer to be updated. Format: customers/{customer_id}/chrome/printers/{printer_id}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "listPrinterModels": {
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers",
                    "https://www.googleapis.com/auth/admin.chrome.printers.readonly"
                  ],
                  "response": {
                    "$ref": "ListPrinterModelsResponse"
                  },
                  "id": "admin.customers.chrome.printers.listPrinterModels",
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers:listPrinterModels",
                  "httpMethod": "GET",
                  "description": "Lists the supported printer models.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous call."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Filer to list only models by a given manufacturer in format: \"manufacturer:Brother\". Search syntax is shared between this api and Admin Console printers pages."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of objects to return. The service may return fewer than this value.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The name of the customer who owns this collection of printers. Format: customers/{customer_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "admin/directory/v1/{+parent}/chrome/printers:listPrinterModels"
                },
                "batchCreatePrinters": {
                  "path": "admin/directory/v1/{+parent}/chrome/printers:batchCreatePrinters",
                  "request": {
                    "$ref": "BatchCreatePrintersRequest"
                  },
                  "response": {
                    "$ref": "BatchCreatePrintersResponse"
                  },
                  "id": "admin.customers.chrome.printers.batchCreatePrinters",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the customer. Format: customers/{customer_id}",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates printers under given Organization Unit.",
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers:batchCreatePrinters",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ]
                },
                "create": {
                  "id": "admin.customers.chrome.printers.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Printer"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "path": "admin/directory/v1/{+parent}/chrome/printers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Printer"
                  },
                  "description": "Creates a printer under given Organization Unit.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The name of the customer. Format: customers/{customer_id}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers"
                },
                "patch": {
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers/{printersId}",
                  "request": {
                    "$ref": "Printer"
                  },
                  "response": {
                    "$ref": "Printer"
                  },
                  "parameters": {
                    "clearMask": {
                      "description": "The list of fields to be cleared. Note, some of the fields are read only and cannot be updated. Values for not specified fields will be patched.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "The list of fields to be updated. Note, some of the fields are read only and cannot be updated. Values for not specified fields will be patched.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "The resource name of the Printer object, in the format customers/{customer-id}/printers/{printer-id} (During printer creation leave empty)",
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+/chrome/printers/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "admin.customers.chrome.printers.patch",
                  "path": "admin/directory/v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates a `Printer` resource.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of objects to return. The service may return fewer than this value.",
                      "location": "query"
                    },
                    "orgUnitId": {
                      "location": "query",
                      "type": "string",
                      "description": "Organization Unit that we want to list the printers for. When org_unit is not present in the request then all printers of the customer are returned (or filtered). When org_unit is present in the request then only printers available to this OU will be returned (owned or inherited). You may see if printer is owned or inherited for this OU by looking at Printer.org_unit_id."
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "The order to sort results by. Must be one of display_name, description, make_and_model, or create_time. Default order is ascending, but descending order can be returned by appending \"desc\" to the order_by field. For instance, \"description desc\" will return the printers sorted by description in descending order.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous call.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Search query. Search syntax is shared between this api and Admin Console printers pages.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The name of the customer who owns this collection of printers. Format: customers/{customer_id}",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers",
                    "https://www.googleapis.com/auth/admin.chrome.printers.readonly"
                  ],
                  "path": "admin/directory/v1/{+parent}/chrome/printers",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers",
                  "id": "admin.customers.chrome.printers.list",
                  "description": "List printers configs.",
                  "response": {
                    "$ref": "ListPrintersResponse"
                  }
                }
              }
            },
            "printServers": {
              "methods": {
                "list": {
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printServers",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers",
                    "https://www.googleapis.com/auth/admin.chrome.printers.readonly"
                  ],
                  "id": "admin.customers.chrome.printServers.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "description": "Required. The [unique ID](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers) of the customer's Google Workspace account. Format: `customers/{id}`"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Sort order for results. Supported values are `display_name`, `description`, or `create_time`. Default order is ascending, but descending order can be returned by appending \"desc\" to the `order_by` field. For instance, `orderBy=='description desc'` returns the print servers sorted by description in descending order."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Search query in [Common Expression Language syntax](https://github.com/google/cel-spec). Supported filters are `display_name`, `description`, and `uri`. Example: `printServer.displayName=='marketing-queue'`."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A generated token to paginate results (the `next_page_token` from a previous call).",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of objects to return (default `100`, max `100`). The service might return fewer than this value.",
                      "type": "integer"
                    },
                    "orgUnitId": {
                      "location": "query",
                      "type": "string",
                      "description": "If `org_unit_id` is present in the request, only print servers owned or inherited by the organizational unit (OU) are returned. If the `PrintServer` resource's `org_unit_id` matches the one in the request, the OU owns the server. If `org_unit_id` is not specified in the request, all print servers are returned or filtered against."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "admin/directory/v1/{+parent}/chrome/printServers",
                  "description": "Lists print server configurations.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListPrintServersResponse"
                  }
                },
                "batchCreatePrintServers": {
                  "id": "admin.customers.chrome.printServers.batchCreatePrintServers",
                  "description": "Creates multiple print servers.",
                  "response": {
                    "$ref": "BatchCreatePrintServersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printServers:batchCreatePrintServers",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The [unique ID](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers) of the customer's Google Workspace account. Format: `customers/{id}`",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "admin/directory/v1/{+parent}/chrome/printServers:batchCreatePrintServers",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "request": {
                    "$ref": "BatchCreatePrintServersRequest"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "PrintServer"
                  },
                  "response": {
                    "$ref": "PrintServer"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "The list of fields to update. Some fields are read-only and cannot be updated. Values for unspecified fields are patched.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^customers/[^/]+/chrome/printServers/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Immutable. Resource name of the print server. Leave empty when creating. Format: `customers/{customer.id}/printServers/{print_server.id}`",
                      "type": "string"
                    }
                  },
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printServers/{printServersId}",
                  "description": "Updates a print server's configuration.",
                  "httpMethod": "PATCH",
                  "id": "admin.customers.chrome.printServers.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "path": "admin/directory/v1/{+name}"
                },
                "batchDeletePrintServers": {
                  "id": "admin.customers.chrome.printServers.batchDeletePrintServers",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "response": {
                    "$ref": "BatchDeletePrintServersResponse"
                  },
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printServers:batchDeletePrintServers",
                  "path": "admin/directory/v1/{+parent}/chrome/printServers:batchDeletePrintServers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "BatchDeletePrintServersRequest"
                  },
                  "description": "Deletes multiple print servers.",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The [unique ID](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers) of the customer's Google Workspace account. Format: `customers/{customer.id}`",
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "description": "Returns a print server's configuration.",
                  "httpMethod": "GET",
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printServers/{printServersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/chrome/printServers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The [unique ID](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers) of the customer's Google Workspace account. Format: `customers/{id}`",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "PrintServer"
                  },
                  "id": "admin.customers.chrome.printServers.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers",
                    "https://www.googleapis.com/auth/admin.chrome.printers.readonly"
                  ],
                  "path": "admin/directory/v1/{+name}"
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The [unique ID](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers) of the customer's Google Workspace account. Format: `customers/{id}`",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "admin.customers.chrome.printServers.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "request": {
                    "$ref": "PrintServer"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "admin/directory/v1/{+parent}/chrome/printServers",
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printServers",
                  "description": "Creates a print server.",
                  "response": {
                    "$ref": "PrintServer"
                  }
                },
                "delete": {
                  "path": "admin/directory/v1/{+name}",
                  "id": "admin.customers.chrome.printServers.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a print server.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/chrome/printServers/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the print server to be deleted. Format: `customers/{customer.id}/chrome/printServers/{print_server.id}`",
                      "location": "path"
                    }
                  },
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printServers/{printServersId}"
                }
              }
            }
          }
        }
      }
    },
    "verificationCodes": {
      "methods": {
        "invalidate": {
          "flatPath": "admin/directory/v1/users/{userKey}/verificationCodes/invalidate",
          "id": "directory.verificationCodes.invalidate",
          "parameterOrder": [
            "userKey"
          ],
          "scopes": [
[...]
