{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidmanagement": {
          "description": "Manage Android devices and apps for your customers"
        }
      }
    }
  },
  "version_module": true,
  "description": "The Android Management API provides remote enterprise management of Android devices and apps.",
  "revision": "20221017",
  "discoveryVersion": "v1",
  "rootUrl": "https://androidmanagement.googleapis.com/",
  "id": "androidmanagement:v1",
  "schemas": {
    "OncWifiContext": {
      "properties": {
        "wifiGuid": {
          "type": "string",
          "description": "The GUID of non-compliant Wi-Fi configuration."
        }
      },
      "id": "OncWifiContext",
      "type": "object",
      "description": "Additional context for non-compliance related to Wi-Fi configuration."
    },
    "UsageLogEvent": {
      "description": "An event logged on the device.",
      "type": "object",
      "id": "UsageLogEvent",
      "properties": {
        "filePushedEvent": {
          "description": "A file was uploaded onto the device. Part of SECURITY_LOGS.",
          "$ref": "FilePushedEvent"
        },
        "logBufferSizeCriticalEvent": {
          "$ref": "LogBufferSizeCriticalEvent",
          "description": "The audit log buffer has reached 90% of its capacity, therefore older events may be dropped. Part of SECURITY_LOGS."
        },
        "filePulledEvent": {
          "$ref": "FilePulledEvent",
          "description": "A file was downloaded from the device. Part of SECURITY_LOGS."
        },
        "eventType": {
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ADB_SHELL_COMMAND",
            "ADB_SHELL_INTERACTIVE",
            "APP_PROCESS_START",
            "KEYGUARD_DISMISSED",
            "KEYGUARD_DISMISS_AUTH_ATTEMPT",
            "KEYGUARD_SECURED",
            "FILE_PULLED",
            "FILE_PUSHED",
            "CERT_AUTHORITY_INSTALLED",
            "CERT_AUTHORITY_REMOVED",
            "CERT_VALIDATION_FAILURE",
            "CRYPTO_SELF_TEST_COMPLETED",
            "KEY_DESTRUCTION",
            "KEY_GENERATED",
            "KEY_IMPORT",
            "KEY_INTEGRITY_VIOLATION",
            "LOGGING_STARTED",
            "LOGGING_STOPPED",
            "LOG_BUFFER_SIZE_CRITICAL",
            "MEDIA_MOUNT",
            "MEDIA_UNMOUNT",
            "OS_SHUTDOWN",
            "OS_STARTUP",
            "REMOTE_LOCK",
            "WIPE_FAILURE",
            "CONNECT",
            "DNS"
          ],
          "enumDescriptions": [
            "This value is not used",
            "Indicates adb_shell_command_event has been set.",
            "Indicates adb_shell_interactive_event has been set.",
            "Indicates app_process_start_event has been set.",
            "Indicates keyguard_dismissed_event has been set.",
            "Indicates keyguard_dismiss_auth_attempt_event has been set.",
            "Indicates keyguard_secured_event has been set.",
            "Indicates file_pulled_event has been set.",
            "Indicates file_pushed_event has been set.",
            "Indicates cert_authority_installed_event has been set.",
            "Indicates cert_authority_removed_event has been set.",
            "Indicates cert_validation_failure_event has been set.",
            "Indicates crypto_self_test_completed_event has been set.",
            "Indicates key_destruction_event has been set.",
            "Indicates key_generated_event has been set.",
            "Indicates key_import_event has been set.",
            "Indicates key_integrity_violation_event has been set.",
            "Indicates logging_started_event has been set.",
            "Indicates logging_stopped_event has been set.",
            "Indicates log_buffer_size_critical_event has been set.",
            "Indicates media_mount_event has been set.",
            "Indicates media_unmount_event has been set.",
            "Indicates os_shutdown_event has been set.",
            "Indicates os_startup_event has been set.",
            "Indicates remote_lock_event has been set.",
            "Indicates wipe_failure_event has been set.",
            "Indicates connect_event has been set.",
            "Indicates dns_event has been set."
          ],
          "description": "The particular usage log event type that was reported on the device. Use this to determine which event field to access."
        },
        "mediaMountEvent": {
          "description": "Removable media was mounted. Part of SECURITY_LOGS.",
          "$ref": "MediaMountEvent"
        },
        "remoteLockEvent": {
          "$ref": "RemoteLockEvent",
          "description": "The device or profile has been remotely locked via the LOCK command. Part of SECURITY_LOGS."
        },
        "keyguardDismissedEvent": {
          "description": "The keyguard was dismissed. Part of SECURITY_LOGS.",
          "$ref": "KeyguardDismissedEvent"
        },
        "eventId": {
          "type": "string",
          "description": "Unique id of the event.",
          "format": "int64"
        },
        "loggingStoppedEvent": {
          "$ref": "LoggingStoppedEvent",
          "description": "usageLog policy has been disabled. Part of SECURITY_LOGS."
        },
        "keyIntegrityViolationEvent": {
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is determined to be corrupted due to storage corruption, hardware failure or some OS issue. Part of SECURITY_LOGS.",
          "$ref": "KeyIntegrityViolationEvent"
        },
        "keyDestructionEvent": {
          "$ref": "KeyDestructionEvent",
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is removed from the device either by the user or management. Part of SECURITY_LOGS."
        },
        "certValidationFailureEvent": {
          "$ref": "CertValidationFailureEvent",
          "description": "An X.509v3 certificate failed to validate, currently this validation is performed on the Wi-FI access point and failure may be due to a mismatch upon server certificate validation. However it may in the future include other validation events of an X.509v3 certificate. Part of SECURITY_LOGS."
        },
        "keyImportEvent": {
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is imported on the device either by the user or management. Part of SECURITY_LOGS.",
          "$ref": "KeyImportEvent"
        },
        "keyGeneratedEvent": {
          "$ref": "KeyGeneratedEvent",
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is installed on the device either by the user or management. Part of SECURITY_LOGS."
        },
        "adbShellCommandEvent": {
          "$ref": "AdbShellCommandEvent",
          "description": "A shell command was issued over ADB via “adb shell command”. Part of SECURITY_LOGS."
        },
        "dnsEvent": {
          "$ref": "DnsEvent",
          "description": "A DNS lookup event was initiated through the standard network stack. Part of NETWORK_ACTIVITY_LOGS."
        },
        "osShutdownEvent": {
          "description": "Device was shutdown. Part of SECURITY_LOGS.",
          "$ref": "OsShutdownEvent"
        },
        "eventTime": {
          "description": "Device timestamp when the event was logged.",
          "type": "string",
          "format": "google-datetime"
        },
        "adbShellInteractiveEvent": {
          "$ref": "AdbShellInteractiveEvent",
          "description": "An ADB interactive shell was opened via “adb shell”. Part of SECURITY_LOGS."
        },
        "cryptoSelfTestCompletedEvent": {
          "$ref": "CryptoSelfTestCompletedEvent",
          "description": "Validates whether Android’s built-in cryptographic library (BoringSSL) is valid. Should always succeed on device boot, if it fails, the device should be considered untrusted. Part of SECURITY_LOGS."
        },
        "wipeFailureEvent": {
          "$ref": "WipeFailureEvent",
          "description": "The work profile or company-owned device failed to wipe when requested. This could be user initiated or admin initiated e.g. delete was received. Part of SECURITY_LOGS."
        },
        "keyguardDismissAuthAttemptEvent": {
          "$ref": "KeyguardDismissAuthAttemptEvent",
          "description": "An attempt was made to unlock the device. Part of SECURITY_LOGS."
        },
        "keyguardSecuredEvent": {
          "description": "The device was locked either by user or timeout. Part of SECURITY_LOGS.",
          "$ref": "KeyguardSecuredEvent"
        },
        "connectEvent": {
          "$ref": "ConnectEvent",
          "description": "A TCP connect event was initiated through the standard network stack. Part of NETWORK_ACTIVITY_LOGS."
        },
        "osStartupEvent": {
          "$ref": "OsStartupEvent",
          "description": "Device was started. Part of SECURITY_LOGS."
        },
        "certAuthorityRemovedEvent": {
          "description": "A root certificate was removed from the system's trusted credential storage. Part of SECURITY_LOGS.",
          "$ref": "CertAuthorityRemovedEvent"
        },
        "loggingStartedEvent": {
          "$ref": "LoggingStartedEvent",
          "description": "usageLog policy has been enabled. Part of SECURITY_LOGS."
        },
        "certAuthorityInstalledEvent": {
          "description": "A new root certificate was installed into the system's trusted credential storage. Part of SECURITY_LOGS.",
          "$ref": "CertAuthorityInstalledEvent"
        },
        "mediaUnmountEvent": {
          "description": "Removable media was unmounted. Part of SECURITY_LOGS.",
          "$ref": "MediaUnmountEvent"
        },
        "appProcessStartEvent": {
          "$ref": "AppProcessStartEvent",
          "description": "An app process was started. Part of SECURITY_LOGS."
        }
      }
    },
    "Policy": {
      "type": "object",
      "description": "A policy resource represents a group of settings that govern the behavior of a managed device and the apps installed on it.",
      "id": "Policy",
      "properties": {
        "wifiConfigsLockdownEnabled": {
          "type": "boolean",
          "description": "DEPRECATED - Use wifi_config_disabled."
        },
        "networkResetDisabled": {
          "description": "Whether resetting network settings is disabled.",
          "type": "boolean"
        },
        "version": {
          "type": "string",
          "description": "The version of the policy. This is a read-only field. The version is incremented each time the policy is updated.",
          "format": "int64"
        },
        "microphoneAccess": {
          "enum": [
            "MICROPHONE_ACCESS_UNSPECIFIED",
            "MICROPHONE_ACCESS_USER_CHOICE",
            "MICROPHONE_ACCESS_DISABLED",
            "MICROPHONE_ACCESS_ENFORCED"
          ],
          "type": "string",
          "description": "Controls the use of the microphone and whether the user has access to the microphone access toggle. This applies only on fully managed devices.",
          "enumDescriptions": [
            "If unmute_microphone_disabled is true, this is equivalent to MICROPHONE_ACCESS_DISABLED. Otherwise, this is equivalent to MICROPHONE_ACCESS_USER_CHOICE.",
            "The field unmute_microphone_disabled is ignored. This is the default device behaviour: the microphone on the device is available. On Android 12 and above, the user can use the microphone access toggle.",
            "The field unmute_microphone_disabled is ignored. The microphone on the device is disabled (for fully managed devices, this applies device-wide).The microphone access toggle has no effect as the microphone is disabled.",
            "The field unmute_microphone_disabled is ignored. The microphone on the device is available. On devices running Android 12 and above, the user is unable to use the microphone access toggle. On devices which run Android 11 or below, this is equivalent to MICROPHONE_ACCESS_USER_CHOICE."
          ]
        },
        "bluetoothConfigDisabled": {
          "type": "boolean",
          "description": "Whether configuring bluetooth is disabled."
        },
        "blockApplicationsEnabled": {
          "description": "Whether applications other than the ones configured in applications are blocked from being installed. When set, applications that were installed under a previous policy but no longer appear in the policy are automatically uninstalled.",
          "type": "boolean"
        },
        "installAppsDisabled": {
          "type": "boolean",
          "description": "Whether user installation of apps is disabled."
        },
        "choosePrivateKeyRules": {
          "description": "Rules for determining apps' access to private keys. See ChoosePrivateKeyRule for details.",
          "type": "array",
          "items": {
            "$ref": "ChoosePrivateKeyRule"
          }
        },
        "privateKeySelectionEnabled": {
          "description": "Allows showing UI on a device for a user to choose a private key alias if there are no matching rules in ChoosePrivateKeyRules. For devices below Android P, setting this may leave enterprise keys vulnerable.",
          "type": "boolean"
        },
        "defaultPermissionPolicy": {
          "type": "string",
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ],
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "description": "The default permission policy for runtime permission requests."
        },
        "kioskCustomization": {
          "description": "Settings controlling the behavior of a device in kiosk mode. To enable kiosk mode, set kioskCustomLauncherEnabled to true or specify an app in the policy with installType KIOSK.",
          "$ref": "KioskCustomization"
        },
        "wifiConfigDisabled": {
          "description": "Whether configuring Wi-Fi access points is disabled. Note: If a network connection can't be made at boot time and configuring Wi-Fi is disabled then network escape hatch will be shown in order to refresh the device policy (see networkEscapeHatchEnabled).",
          "type": "boolean"
        },
        "safeBootDisabled": {
          "description": "Whether rebooting the device into safe boot is disabled.",
          "type": "boolean"
        },
        "systemUpdate": {
          "$ref": "SystemUpdate",
          "description": "The system update policy, which controls how OS updates are applied. If the update type is WINDOWED, the update window will automatically apply to Play app updates as well."
        },
        "skipFirstUseHintsEnabled": {
          "type": "boolean",
          "description": "Flag to skip hints on the first use. Enterprise admin can enable the system recommendation for apps to skip their user tutorial and other introductory hints on first start-up."
        },
        "recommendedGlobalProxy": {
          "$ref": "ProxyInfo",
          "description": "The network-independent global HTTP proxy. Typically proxies should be configured per-network in open_network_configuration. However for unusual configurations like general internal filtering a global HTTP proxy may be useful. If the proxy is not accessible, network access may break. The global proxy is only a recommendation and some apps may ignore it."
        },
        "stayOnPluggedModes": {
          "description": "The battery plugged in modes for which the device stays on. When using this setting, it is recommended to clear maximum_time_to_lock so that the device doesn't lock itself while it stays on.",
          "type": "array",
          "items": {
            "enum": [
              "BATTERY_PLUGGED_MODE_UNSPECIFIED",
              "AC",
              "USB",
              "WIRELESS"
            ],
            "enumDescriptions": [
              "This value is ignored.",
              "Power source is an AC charger.",
              "Power source is a USB port.",
              "Power source is wireless."
            ],
            "type": "string"
          }
        },
        "tetheringConfigDisabled": {
          "description": "Whether configuring tethering and portable hotspots is disabled.",
          "type": "boolean"
        },
        "removeUserDisabled": {
          "type": "boolean",
          "description": "Whether removing other users is disabled."
        },
        "cameraDisabled": {
          "type": "boolean",
          "description": "If camera_access is set to any value other than CAMERA_ACCESS_UNSPECIFIED, this has no effect. Otherwise this field controls whether cameras are disabled: If true, all cameras are disabled, otherwise they are available. For fully managed devices this field applies for all apps on the device. For work profiles, this field applies only to apps in the work profile, and the camera access of apps outside the work profile is unaffected."
        },
        "locationMode": {
          "enumDescriptions": [
            "Defaults to LOCATION_USER_CHOICE.",
            "On Android 8 and below, all location detection methods are enabled, including GPS, networks, and other sensors. On Android 9 and above, this is equivalent to LOCATION_ENFORCED.",
            "On Android 8 and below, only GPS and other sensors are enabled. On Android 9 and above, this is equivalent to LOCATION_ENFORCED.",
            "On Android 8 and below, only the network location provider is enabled. On Android 9 and above, this is equivalent to LOCATION_ENFORCED.",
            "On Android 8 and below, location setting and accuracy are disabled. On Android 9 and above, this is equivalent to LOCATION_DISABLED.",
            "Location setting is not restricted on the device. No specific behavior is set or enforced.",
            "Enable location setting on the device.",
            "Disable location setting on the device."
          ],
          "enum": [
            "LOCATION_MODE_UNSPECIFIED",
            "HIGH_ACCURACY",
            "SENSORS_ONLY",
            "BATTERY_SAVING",
            "OFF",
            "LOCATION_USER_CHOICE",
            "LOCATION_ENFORCED",
            "LOCATION_DISABLED"
          ],
          "type": "string",
          "description": "The degree of location detection enabled."
        },
        "dataRoamingDisabled": {
          "type": "boolean",
          "description": "Whether roaming data services are disabled."
        },
        "smsDisabled": {
          "type": "boolean",
          "description": "Whether sending and receiving SMS messages is disabled."
        },
        "name": {
          "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}.",
          "type": "string"
        },
        "screenCaptureDisabled": {
          "type": "boolean",
          "description": "Whether screen capture is disabled."
        },
        "applications": {
          "description": "Policy applied to apps.",
          "type": "array",
          "items": {
            "$ref": "ApplicationPolicy"
          }
        },
        "vpnConfigDisabled": {
          "description": "Whether configuring VPN is disabled.",
          "type": "boolean"
        },
        "outgoingCallsDisabled": {
          "description": "Whether outgoing calls are disabled.",
          "type": "boolean"
        },
        "passwordPolicies": {
          "items": {
            "$ref": "PasswordRequirements"
          },
          "description": "Password requirement policies. Different policies can be set for work profile or fully managed devices by setting the password_scope field in the policy.",
          "type": "array"
        },
        "mountPhysicalMediaDisabled": {
          "type": "boolean",
          "description": "Whether the user mounting physical external media is disabled."
        },
        "autoDateAndTimeZone": {
          "enum": [
            "AUTO_DATE_AND_TIME_ZONE_UNSPECIFIED",
            "AUTO_DATE_AND_TIME_ZONE_USER_CHOICE",
            "AUTO_DATE_AND_TIME_ZONE_ENFORCED"
          ],
          "type": "string",
          "description": "Whether auto date, time, and time zone are enabled on a company-owned device. If this is set, then autoTimeRequired is ignored.",
          "enumDescriptions": [
            "Unspecified. Defaults to AUTO_DATE_AND_TIME_ZONE_USER_CHOICE.",
            "Auto date, time, and time zone are left to user's choice.",
            "Enforce auto date, time, and time zone on the device."
          ]
        },
        "accountTypesWithManagementDisabled": {
          "items": {
            "type": "string"
          },
          "description": "Account types that can't be managed by the user.",
          "type": "array"
        },
        "keyguardDisabledFeatures": {
          "description": "Disabled keyguard customizations, such as widgets.",
          "type": "array",
          "items": {
            "enum": [
              "KEYGUARD_DISABLED_FEATURE_UNSPECIFIED",
              "CAMERA",
              "NOTIFICATIONS",
              "UNREDACTED_NOTIFICATIONS",
              "TRUST_AGENTS",
              "DISABLE_FINGERPRINT",
              "DISABLE_REMOTE_INPUT",
              "FACE",
              "IRIS",
              "BIOMETRICS",
              "ALL_FEATURES"
            ],
            "enumDescriptions": [
              "This value is ignored.",
              "Disable the camera on secure keyguard screens (e.g. PIN).",
              "Disable showing all notifications on secure keyguard screens.",
              "Disable unredacted notifications on secure keyguard screens.",
              "Ignore trust agent state on secure keyguard screens.",
              "Disable fingerprint sensor on secure keyguard screens.",
              "On devices running Android 6 and below, disables text entry into notifications on secure keyguard screens. Has no effect on Android 7 and above.",
              "Disable face authentication on secure keyguard screens.",
              "Disable iris authentication on secure keyguard screens.",
              "Disable all biometric authentication on secure keyguard screens.",
              "Disable all current and future keyguard customizations."
            ],
            "type": "string"
          }
        },
        "persistentPreferredActivities": {
          "items": {
            "$ref": "PersistentPreferredActivity"
          },
          "description": "Default intent handler activities.",
          "type": "array"
        },
        "permittedInputMethods": {
          "$ref": "PackageNameList",
          "description": "If present, only the input methods provided by packages in this list are permitted. If this field is present, but the list is empty, then only system input methods are permitted."
        },
        "minimumApiLevel": {
          "description": "The minimum allowed Android API level.",
          "type": "integer",
          "format": "int32"
        },
        "usbMassStorageEnabled": {
          "description": "Whether USB storage is enabled. Deprecated.",
          "type": "boolean"
        },
        "installUnknownSourcesAllowed": {
          "type": "boolean",
          "description": "This field has no effect."
        },
        "keyguardDisabled": {
          "description": "If true, this disables the Lock Screen (https://source.android.com/docs/core/display/multi_display/lock-screen) for primary and/or secondary displays.",
          "type": "boolean"
        },
        "setUserIconDisabled": {
          "type": "boolean",
          "description": "Whether changing the user icon is disabled."
        },
        "setWallpaperDisabled": {
          "type": "boolean",
          "description": "Whether changing the wallpaper is disabled."
        },
        "policyEnforcementRules": {
          "items": {
            "$ref": "PolicyEnforcementRule"
          },
          "description": "Rules that define the behavior when a particular policy can not be applied on device",
          "type": "array"
        },
        "openNetworkConfiguration": {
          "description": "Network configuration for the device. See configure networks for more information.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "funDisabled": {
          "description": "Whether the user is allowed to have fun. Controls whether the Easter egg game in Settings is disabled.",
          "type": "boolean"
        },
        "encryptionPolicy": {
          "enum": [
            "ENCRYPTION_POLICY_UNSPECIFIED",
            "ENABLED_WITHOUT_PASSWORD",
            "ENABLED_WITH_PASSWORD"
          ],
          "enumDescriptions": [
            "This value is ignored, i.e. no encryption required",
            "Encryption required but no password required to boot",
            "Encryption required with password required to boot"
          ],
          "type": "string",
          "description": "Whether encryption is enabled"
        },
        "passwordRequirements": {
          "description": "Password requirements. The field password_requirements.require_password_unlock must not be set. DEPRECATED - Use passwordPolicies.Note:Complexity-based values of PasswordQuality, that is, COMPLEXITY_LOW, COMPLEXITY_MEDIUM, and COMPLEXITY_HIGH, cannot be used here. unified_lock_settings cannot be used here.",
          "$ref": "PasswordRequirements"
        },
        "unmuteMicrophoneDisabled": {
          "description": "If microphone_access is set to any value other than MICROPHONE_ACCESS_UNSPECIFIED, this has no effect. Otherwise this field controls whether microphones are disabled: If true, all microphones are disabled, otherwise they are available. This is available only on fully managed devices.",
          "type": "boolean"
        },
        "bluetoothDisabled": {
          "type": "boolean",
          "description": "Whether bluetooth is disabled. Prefer this setting over bluetooth_config_disabled because bluetooth_config_disabled can be bypassed by the user."
        },
        "adjustVolumeDisabled": {
          "type": "boolean",
          "description": "Whether adjusting the master volume is disabled. Also mutes the device."
        },
        "statusReportingSettings": {
          "$ref": "StatusReportingSettings",
          "description": "Status reporting settings"
        },
        "mobileNetworksConfigDisabled": {
          "type": "boolean",
          "description": "Whether configuring mobile networks is disabled."
        },
        "factoryResetDisabled": {
          "type": "boolean",
          "description": "Whether factory resetting from settings is disabled."
        },
        "crossProfilePolicies": {
          "$ref": "CrossProfilePolicies",
          "description": "Cross-profile policies applied on the device."
        },
        "ensureVerifyAppsEnabled": {
          "type": "boolean",
          "description": "Whether app verification is force-enabled."
        },
        "preferentialNetworkService": {
          "enum": [
            "PREFERENTIAL_NETWORK_SERVICE_UNSPECIFIED",
            "PREFERENTIAL_NETWORK_SERVICE_DISABLED",
            "PREFERENTIAL_NETWORK_SERVICE_ENABLED"
          ],
          "description": "Controls whether preferential network service is enabled on the work profile. For example, an organization may have an agreement with a carrier that all of the work data from its employees' devices will be sent via a network service dedicated for enterprise use. An example of a supported preferential network service is the enterprise slice on 5G networks. This has no effect on fully managed devices.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to PREFERENTIAL_NETWORK_SERVICES_DISABLED.",
            "Preferential network service is disabled on the work profile.",
            "Preferential network service is enabled on the work profile."
          ]
        },
        "modifyAccountsDisabled": {
          "description": "Whether adding or removing accounts is disabled.",
          "type": "boolean"
        },
        "deviceOwnerLockScreenInfo": {
          "$ref": "UserFacingMessage",
          "description": "The device owner information to be shown on the lock screen."
        },
        "shortSupportMessage": {
          "$ref": "UserFacingMessage",
          "description": "A message displayed to the user in the settings screen wherever functionality has been disabled by the admin. If the message is longer than 200 characters it may be truncated."
        },
        "statusBarDisabled": {
          "description": "Whether the status bar is disabled. This disables notifications, quick settings, and other screen overlays that allow escape from full-screen mode. DEPRECATED. To disable the status bar on a kiosk device, use InstallType KIOSK or kioskCustomLauncherEnabled.",
          "type": "boolean"
        },
        "longSupportMessage": {
          "description": "A message displayed to the user in the device administators settings screen.",
          "$ref": "UserFacingMessage"
        },
        "oncCertificateProviders": {
          "type": "array",
          "description": "This feature is not generally available.",
          "items": {
            "$ref": "OncCertificateProvider"
          }
        },
        "permittedAccessibilityServices": {
          "$ref": "PackageNameList",
          "description": "Specifies permitted accessibility services. If the field is not set, any accessibility service can be used. If the field is set, only the accessibility services in this list and the system's built-in accessibility service can be used. In particular, if the field is set to empty, only the system's built-in accessibility servicess can be used. This can be set on fully managed devices and on work profiles. When applied to a work profile, this affects both the personal profile and the work profile."
        },
        "usageLog": {
          "$ref": "UsageLog",
          "description": "Configuration of device activity logging."
        },
        "bluetoothContactSharingDisabled": {
          "description": "Whether bluetooth contact sharing is disabled.",
          "type": "boolean"
        },
        "permissionGrants": {
          "type": "array",
          "description": "Explicit permission or group grants or denials for all apps. These values override the default_permission_policy.",
          "items": {
            "$ref": "PermissionGrant"
          }
        },
        "kioskCustomLauncherEnabled": {
          "description": "Whether the kiosk custom launcher is enabled. This replaces the home screen with a launcher that locks down the device to the apps installed via the applications setting. Apps appear on a single page in alphabetical order. Use kioskCustomization to further configure the kiosk device behavior.",
          "type": "boolean"
        },
        "personalUsagePolicies": {
          "description": "Policies managing personal usage on a company-owned device.",
          "$ref": "PersonalUsagePolicies"
        },
        "cameraAccess": {
          "type": "string",
          "enum": [
            "CAMERA_ACCESS_UNSPECIFIED",
            "CAMERA_ACCESS_USER_CHOICE",
            "CAMERA_ACCESS_DISABLED",
            "CAMERA_ACCESS_ENFORCED"
          ],
          "description": "Controls the use of the camera and whether the user has access to the camera access toggle.",
          "enumDescriptions": [
            "If camera_disabled is true, this is equivalent to CAMERA_ACCESS_DISABLED. Otherwise, this is equivalent to CAMERA_ACCESS_USER_CHOICE.",
            "The field camera_disabled is ignored. This is the default device behaviour: all cameras on the device are available. On Android 12 and above, the user can use the camera access toggle.",
            "The field camera_disabled is ignored. All cameras on the device are disabled (for fully managed devices, this applies device-wide and for work profiles this applies only to the work profile).There are no explicit restrictions placed on the camera access toggle on Android 12 and above: on fully managed devices, the camera access toggle has no effect as all cameras are disabled. On devices with a work profile, this toggle has no effect on apps in the work profile, but it affects apps outside the work profile.",
            "The field camera_disabled is ignored. All cameras on the device are available. On fully managed devices running Android 12 and above, the user is unable to use the camera access toggle. On devices which are not fully managed or which run Android 11 or below, this is equivalent to CAMERA_ACCESS_USER_CHOICE."
          ]
        },
        "outgoingBeamDisabled": {
          "description": "Whether using NFC to beam data from apps is disabled.",
          "type": "boolean"
        },
        "uninstallAppsDisabled": {
          "description": "Whether user uninstallation of applications is disabled. This prevents apps from being uninstalled, even those removed using applications",
          "type": "boolean"
        },
        "setupActions": {
          "description": "Action to take during the setup process. At most one action may be specified.",
          "type": "array",
          "items": {
            "$ref": "SetupAction"
          }
        },
        "appAutoUpdatePolicy": {
          "enum": [
            "APP_AUTO_UPDATE_POLICY_UNSPECIFIED",
            "CHOICE_TO_THE_USER",
            "NEVER",
            "WIFI_ONLY",
            "ALWAYS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The auto-update policy is not set. Equivalent to CHOICE_TO_THE_USER.",
            "The user can control auto-updates.",
            "Apps are never auto-updated.",
            "Apps are auto-updated over Wi-Fi only.",
            "Apps are auto-updated at any time. Data charges may apply."
          ],
          "description": "Deprecated. Use autoUpdateMode instead.When autoUpdateMode is set to AUTO_UPDATE_POSTPONED or AUTO_UPDATE_HIGH_PRIORITY, this field has no effect.The app auto update policy, which controls when automatic app updates can be applied."
        },
        "alwaysOnVpnPackage": {
          "$ref": "AlwaysOnVpnPackage",
          "description": "Configuration for an always-on VPN connection. Use with vpn_config_disabled to prevent modification of this setting."
        },
        "autoTimeRequired": {
          "description": "Whether auto time is required, which prevents the user from manually setting the date and time. If autoDateAndTimeZone is set, this field is ignored.",
          "type": "boolean"
        },
        "maximumTimeToLock": {
          "description": "Maximum time in milliseconds for user activity until the device locks. A value of 0 means there is no restriction.",
          "format": "int64",
          "type": "string"
        },
        "debuggingFeaturesAllowed": {
          "type": "boolean",
          "description": "Whether the user is allowed to enable debugging features."
        },
        "frpAdminEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Email addresses of device administrators for factory reset protection. When the device is factory reset, it will require one of these admins to log in with the Google account email and password to unlock the device. If no admins are specified, the device won't provide factory reset protection."
        },
        "androidDevicePolicyTracks": {
          "items": {
            "enum": [
              "APP_TRACK_UNSPECIFIED",
              "PRODUCTION",
              "BETA"
            ],
            "type": "string",
            "enumDescriptions": [
              "This value is ignored.",
              "The production track, which provides the latest stable release.",
              "The beta track, which provides the latest beta release."
            ]
          },
          "type": "array",
          "description": "The app tracks for Android Device Policy the device can access. The device receives the latest version among all accessible tracks. If no tracks are specified, then the device only uses the production track."
        },
        "usbFileTransferDisabled": {
          "description": "Whether transferring files over USB is disabled. This is supported only on company-owned devices.",
          "type": "boolean"
        },
        "playStoreMode": {
          "type": "string",
          "description": "This mode controls which apps are available to the user in the Play Store and the behavior on the device when apps are removed from the policy.",
          "enumDescriptions": [
            "Unspecified. Defaults to WHITELIST.",
            "Only apps that are in the policy are available and any app not in the policy will be automatically uninstalled from the device.",
            "All apps are available and any app that should not be on the device should be explicitly marked as 'BLOCKED' in the applications policy."
          ],
          "enum": [
            "PLAY_STORE_MODE_UNSPECIFIED",
            "WHITELIST",
            "BLACKLIST"
          ]
        },
        "createWindowsDisabled": {
          "type": "boolean",
          "description": "Whether creating windows besides app windows is disabled."
        },
        "addUserDisabled": {
          "type": "boolean",
          "description": "Whether adding new users and profiles is disabled."
        },
        "complianceRules": {
          "type": "array",
          "items": {
            "$ref": "ComplianceRule"
          },
          "description": "Rules declaring which mitigating actions to take when a device is not compliant with its policy. When the conditions for multiple rules are satisfied, all of the mitigating actions for the rules are taken. There is a maximum limit of 100 rules. Use policy enforcement rules instead."
        },
        "cellBroadcastsConfigDisabled": {
          "description": "Whether configuring cell broadcast is disabled.",
          "type": "boolean"
        },
        "shareLocationDisabled": {
          "type": "boolean",
          "description": "Whether location sharing is disabled. share_location_disabled is supported for both fully managed devices and personally owned work profiles."
        },
        "advancedSecurityOverrides": {
          "description": "Security policies set to secure values by default. To maintain the security posture of a device, we don't recommend overriding any of the default values.",
          "$ref": "AdvancedSecurityOverrides"
        },
        "networkEscapeHatchEnabled": {
          "type": "boolean",
          "description": "Whether the network escape hatch is enabled. If a network connection can't be made at boot time, the escape hatch prompts the user to temporarily connect to a network in order to refresh the device policy. After applying policy, the temporary network will be forgotten and the device will continue booting. This prevents being unable to connect to a network if there is no suitable network in the last policy and the device boots into an app in lock task mode, or the user is otherwise unable to reach device settings.Note: Setting wifiConfigDisabled to true will override this setting under specific circumstances. Please see wifiConfigDisabled for further details."
        },
        "credentialsConfigDisabled": {
          "type": "boolean",
          "description": "Whether configuring user credentials is disabled."
        }
      }
    },
    "AppVersion": {
      "id": "AppVersion",
      "type": "object",
      "description": "This represents a single version of the app.",
      "properties": {
        "versionString": {
          "type": "string",
          "description": "The string used in the Play store by the app developer to identify the version. The string is not necessarily unique or localized (for example, the string could be \"1.4\")."
        },
        "production": {
          "description": "If the value is True, it indicates that this version is a production track.",
          "type": "boolean"
        },
        "versionCode": {
          "description": "Unique increasing identifier for the app version.",
          "type": "integer",
          "format": "int32"
        },
        "trackIds": {
          "description": "Track identifiers that the app version is published in. This does not include the production track (see production instead).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "PersonalApplicationPolicy": {
      "description": "Policies for apps in the personal profile of a company-owned device with a work profile.",
      "id": "PersonalApplicationPolicy",
      "properties": {
        "installType": {
          "description": "The type of installation to perform.",
          "enum": [
            "INSTALL_TYPE_UNSPECIFIED",
            "BLOCKED",
            "AVAILABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to AVAILABLE.",
            "The app is blocked and can't be installed in the personal profile.",
            "The app is available to install in the personal profile."
          ]
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the application."
        }
      },
      "type": "object"
    },
    "ContactInfo": {
      "type": "object",
      "id": "ContactInfo",
      "properties": {
        "dataProtectionOfficerPhone": {
          "description": "The phone number of the data protection officer The phone number is validated but not verified.",
          "type": "string"
        },
        "dataProtectionOfficerName": {
          "description": "The name of the data protection officer.",
          "type": "string"
        },
        "euRepresentativePhone": {
          "type": "string",
          "description": "The phone number of the EU representative. The phone number is validated but not verified."
        },
        "euRepresentativeEmail": {
          "description": "The email of the EU representative. The email is validated but not verified.",
          "type": "string"
        },
        "euRepresentativeName": {
          "description": "The name of the EU representative.",
          "type": "string"
        },
        "dataProtectionOfficerEmail": {
          "type": "string",
          "description": "The email of the data protection officer. The email is validated but not verified."
        },
        "contactEmail": {
          "description": "Email address for a point of contact, which will be used to send important announcements related to managed Google Play.",
          "type": "string"
        }
      },
      "description": "Contact details for managed Google Play enterprises."
    },
    "HardwareStatus": {
      "properties": {
        "fanSpeeds": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array",
          "description": "Fan speeds in RPM for each fan on the device. Empty array means that there are no fans or fan speed is not supported on the system."
        },
        "skinTemperatures": {
          "type": "array",
          "description": "Current device skin temperatures in Celsius.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the measurements were taken."
        },
        "cpuTemperatures": {
          "type": "array",
          "description": "Current CPU temperatures in Celsius for each CPU on the device.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "batteryTemperatures": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array",
          "description": "Current battery temperatures in Celsius for each battery on the device."
        },
        "gpuTemperatures": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "Current GPU temperatures in Celsius for each GPU on the device."
        },
        "cpuUsages": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "CPU usages in percentage for each core available on the device. Usage is 0 for each unplugged core. Empty array implies that CPU usage is not supported in the system.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "HardwareStatus",
      "description": "Hardware status. Temperatures may be compared to the temperature thresholds available in hardwareInfo to determine hardware health."
    },
    "OncCertificateProvider": {
      "description": "This feature is not generally available.",
      "properties": {
        "certificateReferences": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "This feature is not generally available."
        },
        "contentProviderEndpoint": {
          "$ref": "ContentProviderEndpoint",
          "description": "This feature is not generally available."
        }
      },
      "id": "OncCertificateProvider",
      "type": "object"
    },
    "KeyguardSecuredEvent": {
      "id": "KeyguardSecuredEvent",
      "type": "object",
      "description": "The device was locked either by user or timeout. Intentionally empty.",
      "properties": {}
    },
    "CommonCriteriaModeInfo": {
      "properties": {
        "commonCriteriaModeStatus": {
          "description": "Whether Common Criteria Mode is enabled.",
          "enumDescriptions": [
            "Unknown status.",
            "Common Criteria Mode is currently disabled.",
            "Common Criteria Mode is currently enabled."
          ],
          "enum": [
            "COMMON_CRITERIA_MODE_STATUS_UNKNOWN",
            "COMMON_CRITERIA_MODE_DISABLED",
            "COMMON_CRITERIA_MODE_ENABLED"
          ],
          "type": "string"
        }
      },
      "id": "CommonCriteriaModeInfo",
      "type": "object",
      "description": "Information about Common Criteria Mode—security standards defined in the Common Criteria for Information Technology Security Evaluation (https://www.commoncriteriaportal.org/) (CC).This information is only available if statusReportingSettings.commonCriteriaModeEnabled is true in the device's policy."
    },
    "ApplicationEvent": {
      "properties": {
        "eventType": {
          "enum": [
            "APPLICATION_EVENT_TYPE_UNSPECIFIED",
            "INSTALLED",
            "CHANGED",
            "DATA_CLEARED",
            "REMOVED",
            "REPLACED",
            "RESTARTED",
            "PINNED",
            "UNPINNED"
          ],
          "enumDescriptions": [
            "This value is disallowed.",
            "The app was installed.",
            "The app was changed, for example, a component was enabled or disabled.",
            "The app data was cleared.",
            "The app was removed.",
            "A new version of the app has been installed, replacing the old version.",
            "The app was restarted.",
            "The app was pinned to the foreground.",
            "The app was unpinned."
          ],
          "type": "string",
          "description": "App event type."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the event."
        }
      },
      "id": "ApplicationEvent",
      "description": "An app-related event.",
      "type": "object"
    },
    "SigninDetail": {
      "type": "object",
      "id": "SigninDetail",
      "description": "A resource containing sign in details for an enterprise.",
      "properties": {
        "signinUrl": {
          "type": "string",
          "description": "Sign-in URL for authentication when device is provisioned with a sign-in enrollment token. The sign-in endpoint should finish authentication flow with a URL in the form of https://enterprise.google.com/android/enroll?et= for a successful login, or https://enterprise.google.com/android/enroll/invalid for a failed login."
        },
        "signinEnrollmentToken": {
          "type": "string",
          "description": "An enterprise wide enrollment token used to trigger custom sign-in flow. This is a read-only field generated by the server."
        },
        "allowPersonalUsage": {
          "description": "Controls whether personal usage is allowed on a device provisioned with this enrollment token.For company-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage requires the user provision the device as a fully managed device.For personally-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage will prevent the device from provisioning. Personal usage cannot be disabled on personally-owned device.",
          "enumDescriptions": [
            "Personal usage restriction is not specified",
            "Personal usage is allowed",
            "Personal usage is disallowed"
          ],
          "type": "string",
          "enum": [
            "ALLOW_PERSONAL_USAGE_UNSPECIFIED",
            "PERSONAL_USAGE_ALLOWED",
            "PERSONAL_USAGE_DISALLOWED"
          ]
        },
        "qrCode": {
          "description": "A JSON string whose UTF-8 representation can be used to generate a QR code to enroll a device with this enrollment token. To enroll a device using NFC, the NFC record must contain a serialized java.util.Properties representation of the properties in the JSON. This is a read-only field generated by the server.",
          "type": "string"
        }
      }
    },
    "KeyedAppState": {
      "type": "object",
      "id": "KeyedAppState",
      "description": "Keyed app state reported by the app.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key for the app state. Acts as a point of reference for what the app is providing state for. For example, when providing managed configuration feedback, this key could be the managed configuration key."
        },
        "lastUpdateTime": {
          "type": "string",
          "description": "The time the app state was most recently updated.",
          "format": "google-datetime"
        },
        "message": {
          "description": "Optionally, a free-form message string to explain the app state. If the state was triggered by a particular value (e.g. a managed configuration value), it should be included in the message.",
          "type": "string"
        },
        "createTime": {
          "description": "The creation time of the app state on the device.",
          "type": "string",
          "format": "google-datetime"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified severity level.",
            "Information severity level.",
            "Error severity level. This should only be set for genuine error conditions that a management organization needs to take action to fix."
          ],
          "description": "The severity of the app state.",
          "type": "string"
        },
        "data": {
          "description": "Optionally, a machine-readable value to be read by the EMM. For example, setting values that the admin can choose to query against in the EMM console (e.g. “notify me if the battery_warning data \u003c 10”).",
          "type": "string"
        }
      }
    },
    "SecurityPosture": {
      "description": "The security posture of the device, as determined by the current device state and the policies applied.",
      "properties": {
        "devicePosture": {
          "enum": [
            "POSTURE_UNSPECIFIED",
            "SECURE",
            "AT_RISK",
            "POTENTIALLY_COMPROMISED"
          ],
          "enumDescriptions": [
            "Unspecified. There is no posture detail for this posture value.",
            "This device is secure.",
            "This device may be more vulnerable to malicious actors than is recommended for use with corporate data.",
            "This device may be compromised and corporate data may be accessible to unauthorized actors."
          ],
          "description": "Device's security posture value.",
          "type": "string"
        },
        "postureDetails": {
          "items": {
            "$ref": "PostureDetail"
          },
          "description": "Additional details regarding the security posture of the device.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "SecurityPosture"
    },
    "ListEnrollmentTokensResponse": {
      "id": "ListEnrollmentTokensResponse",
      "description": "Response to a request to list enrollment tokens for a given enterprise.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results, a token to retrieve next page of results."
        },
        "enrollmentTokens": {
          "items": {
            "$ref": "EnrollmentToken"
          },
          "type": "array",
          "description": "The list of enrollment tokens."
        }
      }
    },
    "Application": {
      "type": "object",
      "id": "Application",
      "description": "Information about an app.",
      "properties": {
        "recentChanges": {
          "description": "A localised description of the recent changes made to the app.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the app. Localized."
        },
        "author": {
          "description": "The name of the author of the apps (for example, the app developer).",
          "type": "string"
        },
        "appPricing": {
          "type": "string",
          "enum": [
            "APP_PRICING_UNSPECIFIED",
            "FREE",
            "FREE_WITH_IN_APP_PURCHASE",
            "PAID"
          ],
          "description": "Whether this app is free, free with in-app purchases, or paid. If the pricing is unspecified, this means the app is not generally available anymore (even though it might still be available to people who own it).",
          "enumDescriptions": [
            "Unknown pricing, used to denote an approved app that is not generally available.",
            "The app is free.",
            "The app is free, but offers in-app purchases.",
            "The app is paid."
          ]
        },
        "managedProperties": {
          "items": {
            "$ref": "ManagedProperty"
          },
          "type": "array",
          "description": "The set of managed properties available to be pre-configured for the app."
        },
        "smallIconUrl": {
          "type": "string",
          "description": "A link to a smaller image that can be used as an icon for the app. This image is suitable for use up to a pixel size of 128 x 128."
        },
        "contentRating": {
          "description": "The content rating for this app.",
          "enum": [
            "CONTENT_RATING_UNSPECIFIED",
            "THREE_YEARS",
            "SEVEN_YEARS",
            "TWELVE_YEARS",
            "SIXTEEN_YEARS",
            "EIGHTEEN_YEARS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Content suitable for ages 3 and above only.",
            "Content suitable for ages 7 and above only.",
            "Content suitable for ages 12 and above only.",
            "Content suitable for ages 16 and above only.",
            "Content suitable for ages 18 and above only."
          ]
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The approximate time (within 7 days) the app was last published."
        },
        "minAndroidSdkVersion": {
          "description": "The minimum Android SDK necessary to run the app.",
          "type": "integer",
          "format": "int32"
        },
        "screenshotUrls": {
          "description": "A list of screenshot links representing the app.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "playStoreUrl": {
          "type": "string",
          "description": "A link to the (consumer) Google Play details page for the app."
        },
        "appTracks": {
          "description": "Application tracks visible to the enterprise.",
          "items": {
            "$ref": "AppTrackInfo"
          },
          "type": "array"
        },
        "availableCountries": {
          "items": {
            "type": "string"
          },
          "description": "The countries which this app is available in as per ISO 3166-1 alpha-2.",
          "type": "array"
        },
        "appVersions": {
          "type": "array",
          "description": "Versions currently available for this app.",
          "items": {
            "$ref": "AppVersion"
          }
        },
        "features": {
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "The app is a VPN."
            ],
            "enum": [
              "APP_FEATURE_UNSPECIFIED",
              "VPN_APP"
            ],
            "type": "string"
          },
          "description": "Noteworthy features (if any) of this app.",
          "type": "array"
        },
        "permissions": {
          "description": "The permissions required by the app.",
          "type": "array",
          "items": {
            "$ref": "ApplicationPermission"
          }
        },
        "distributionChannel": {
          "enumDescriptions": [
            "Unspecified.",
            "Package is available through the Play store and not restricted to a specific enterprise.",
            "Package is a private app (restricted to an enterprise) but hosted by Google.",
            "Private app (restricted to an enterprise) and is privately hosted."
          ],
          "enum": [
            "DISTRIBUTION_CHANNEL_UNSPECIFIED",
            "PUBLIC_GOOGLE_HOSTED",
            "PRIVATE_GOOGLE_HOSTED",
            "PRIVATE_SELF_HOSTED"
          ],
          "type": "string",
          "description": "How and to whom the package is made available."
        },
        "name": {
          "type": "string",
          "description": "The name of the app in the form enterprises/{enterprise}/applications/{package_name}."
        },
        "description": {
          "type": "string",
          "description": "The localized promotional description, if available."
        },
        "fullDescription": {
          "type": "string",
          "description": "Full app description, if available."
        },
        "iconUrl": {
          "description": "A link to an image that can be used as an icon for the app. This image is suitable for use up to a pixel size of 512 x 512.",
          "type": "string"
        },
        "category": {
          "description": "The app category (e.g. RACING, SOCIAL, etc.)",
          "type": "string"
        }
      }
    },
    "PermissionGrant": {
      "type": "object",
      "id": "PermissionGrant",
      "description": "Configuration for an Android permission and its grant state.",
      "properties": {
        "permission": {
          "description": "The Android permission or group, e.g. android.permission.READ_CALENDAR or android.permission_group.CALENDAR.",
          "type": "string"
        },
        "policy": {
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "type": "string",
          "description": "The policy for granting the permission.",
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ]
        }
      }
    },
    "PowerManagementEvent": {
      "properties": {
        "batteryLevel": {
          "description": "For BATTERY_LEVEL_COLLECTED events, the battery level as a percentage.",
          "type": "number",
          "format": "float"
        },
        "createTime": {
          "description": "The creation time of the event.",
          "format": "google-datetime",
          "type": "string"
        },
        "eventType": {
          "enumDescriptions": [
            "Unspecified. No events have this type.",
            "Battery level was measured.",
            "The device started charging.",
            "The device stopped charging.",
            "The device entered low-power mode.",
            "The device exited low-power mode.",
            "The device booted.",
            "The device shut down."
          ],
          "enum": [
            "POWER_MANAGEMENT_EVENT_TYPE_UNSPECIFIED",
            "BATTERY_LEVEL_COLLECTED",
            "POWER_CONNECTED",
            "POWER_DISCONNECTED",
            "BATTERY_LOW",
            "BATTERY_OKAY",
            "BOOT_COMPLETED",
            "SHUTDOWN"
          ],
          "type": "string",
          "description": "Event type."
        }
      },
      "id": "PowerManagementEvent",
      "type": "object",
      "description": "A power management event."
    },
    "PolicyEnforcementRule": {
      "type": "object",
      "properties": {
        "wipeAction": {
          "$ref": "WipeAction",
          "description": "An action to reset a company owned device or delete a work profile. Note: blockAction must also be specified."
        },
        "settingName": {
          "description": "The top-level policy to enforce. For example, applications or passwordPolicies.",
          "type": "string"
        },
        "blockAction": {
          "$ref": "BlockAction",
          "description": "An action to block access to apps and data on a company owned device or in a work profile. This action also triggers a user-facing notification with information (where possible) on how to correct the compliance issue. Note: wipeAction must also be specified."
        }
      },
      "description": "A rule that defines the actions to take if a device or work profile is not compliant with the policy specified in settingName.",
      "id": "PolicyEnforcementRule"
    },
    "MemoryEvent": {
      "type": "object",
      "description": "An event related to memory and storage measurements.",
      "properties": {
        "byteCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of free bytes in the medium, or for EXTERNAL_STORAGE_DETECTED, the total capacity in bytes of the storage medium."
        },
        "createTime": {
          "description": "The creation time of the event.",
          "format": "google-datetime",
          "type": "string"
        },
        "eventType": {
          "description": "Event type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. No events have this type.",
            "Free space in RAM was measured.",
            "Free space in internal storage was measured.",
            "A new external storage medium was detected. The reported byte count is the total capacity of the storage medium.",
            "An external storage medium was removed. The reported byte count is zero.",
            "Free space in an external storage medium was measured."
          ],
          "enum": [
            "MEMORY_EVENT_TYPE_UNSPECIFIED",
            "RAM_MEASURED",
            "INTERNAL_STORAGE_MEASURED",
            "EXTERNAL_STORAGE_DETECTED",
            "EXTERNAL_STORAGE_REMOVED",
            "EXTERNAL_STORAGE_MEASURED"
          ]
        }
      },
      "id": "MemoryEvent"
    },
    "FilePulledEvent": {
      "description": "A file was downloaded from the device.",
      "type": "object",
      "id": "FilePulledEvent",
      "properties": {
        "filePath": {
          "type": "string",
          "description": "The path of the file being pulled."
        }
      }
    },
    "StatusReportingSettings": {
      "properties": {
        "systemPropertiesEnabled": {
          "description": "Whether system properties reporting is enabled.",
          "type": "boolean"
        },
        "memoryInfoEnabled": {
          "description": "Whether memory event reporting is enabled.",
          "type": "boolean"
        },
        "softwareInfoEnabled": {
          "type": "boolean",
          "description": "Whether software info reporting is enabled."
        },
        "deviceSettingsEnabled": {
          "description": "Whether device settings reporting is enabled.",
          "type": "boolean"
        },
        "hardwareStatusEnabled": {
          "description": "Whether hardware status reporting is enabled. Report data is not available for personally owned devices with work profiles.",
          "type": "boolean"
        },
        "applicationReportingSettings": {
          "description": "Application reporting settings. Only applicable if application_reports_enabled is true.",
          "$ref": "ApplicationReportingSettings"
        },
        "powerManagementEventsEnabled": {
          "type": "boolean",
          "description": "Whether power management event reporting is enabled. Report data is not available for personally owned devices with work profiles."
        },
        "networkInfoEnabled": {
          "description": "Whether network info reporting is enabled.",
          "type": "boolean"
        },
        "applicationReportsEnabled": {
          "type": "boolean",
          "description": "Whether app reports are enabled."
        },
        "commonCriteriaModeEnabled": {
          "description": "Whether Common Criteria Mode reporting is enabled.",
          "type": "boolean"
        },
        "displayInfoEnabled": {
          "description": "Whether displays reporting is enabled. Report data is not available for personally owned devices with work profiles.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Settings controlling the behavior of status reports.",
      "id": "StatusReportingSettings"
    },
    "PostureDetail": {
      "properties": {
        "advice": {
          "type": "array",
          "items": {
            "$ref": "UserFacingMessage"
          },
          "description": "Corresponding admin-facing advice to mitigate this security risk and improve the security posture of the device."
        },
        "securityRisk": {
          "type": "string",
          "enum": [
            "SECURITY_RISK_UNSPECIFIED",
            "UNKNOWN_OS",
            "COMPROMISED_OS",
            "HARDWARE_BACKED_EVALUATION_FAILED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "SafetyNet detects that the device is running an unknown OS (basicIntegrity check succeeds but ctsProfileMatch fails).",
            "SafetyNet detects that the device is running a compromised OS (basicIntegrity check fails).",
            "SafetyNet detects that the device does not have a strong guarantee of system integrity, such as a hardware-backed keystore (https://developer.android.com/training/articles/security-key-attestation)."
          ],
          "description": "A specific security risk that negatively affects the security posture of the device."
        }
      },
      "id": "PostureDetail",
      "type": "object",
      "description": "Additional details regarding the security posture of the device."
    },
    "KeyGeneratedEvent": {
      "id": "KeyGeneratedEvent",
      "properties": {
        "success": {
          "description": "Whether the operation was successful.",
          "type": "boolean"
        },
        "keyAlias": {
          "type": "string",
          "description": "Alias of the key."
        },
        "applicationUid": {
          "format": "int32",
          "description": "UID of the application which generated the key.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "A cryptographic key including user installed, admin installed and system maintained private key is installed on the device either by the user or management.This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile."
    },
    "MediaUnmountEvent": {
      "properties": {
        "mountPoint": {
          "type": "string",
          "description": "Mount point."
        },
        "volumeLabel": {
          "description": "Volume label. Redacted to empty string on organization-owned managed profile devices.",
          "type": "string"
        }
      },
      "id": "MediaUnmountEvent",
      "type": "object",
      "description": "Removable media was unmounted."
    },
    "PerAppResult": {
      "id": "PerAppResult",
      "type": "object",
      "description": "The result of an attempt to clear the data of a single app.",
      "properties": {
        "clearingResult": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified result.",
            "This app’s data was successfully cleared.",
            "This app’s data could not be cleared because the app was not found.",
            "This app’s data could not be cleared because the app is protected. For example, this may apply to apps critical to the functioning of the device, such as Google Play Store.",
            "This app’s data could not be cleared because the device API level does not support this command."
          ],
          "description": "The result of an attempt to clear the data of a single app.",
          "enum": [
            "CLEARING_RESULT_UNSPECIFIED",
            "SUCCESS",
            "APP_NOT_FOUND",
            "APP_PROTECTED",
            "API_LEVEL"
          ]
        }
      }
    },
    "CrossProfilePolicies": {
      "type": "object",
      "description": "Cross-profile policies applied on the device.",
      "properties": {
        "crossProfileCopyPaste": {
          "enum": [
            "CROSS_PROFILE_COPY_PASTE_UNSPECIFIED",
            "COPY_FROM_WORK_TO_PERSONAL_DISALLOWED",
            "CROSS_PROFILE_COPY_PASTE_ALLOWED"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to COPY_FROM_WORK_TO_PERSONAL_DISALLOWED",
            "Default. Prevents users from pasting into the personal profile text copied from the work profile. Text copied from the personal profile can be pasted into the work profile, and text copied from the work profile can be pasted into the work profile.",
            "Text copied in either profile can be pasted in the other profile."
          ],
          "description": "Whether text copied from one profile (personal or work) can be pasted in the other profile.",
          "type": "string"
        },
        "showWorkContactsInPersonalProfile": {
          "enumDescriptions": [
            "Unspecified. Defaults to SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_ALLOWED.",
            "Prevents work profile contacts from appearing in personal profile contact searches and incoming calls",
            "Default. Allows work profile contacts to appear in personal profile contact searches and incoming calls"
          ],
          "type": "string",
          "description": "Whether contacts stored in the work profile can be shown in personal profile contact searches and incoming calls.",
          "enum": [
            "SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_UNSPECIFIED",
            "SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_DISALLOWED",
            "SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_ALLOWED"
          ]
        },
        "crossProfileDataSharing": {
          "enum": [
            "CROSS_PROFILE_DATA_SHARING_UNSPECIFIED",
            "CROSS_PROFILE_DATA_SHARING_DISALLOWED",
            "DATA_SHARING_FROM_WORK_TO_PERSONAL_DISALLOWED",
            "CROSS_PROFILE_DATA_SHARING_ALLOWED"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to DATA_SHARING_FROM_WORK_TO_PERSONAL_DISALLOWED.",
            "Prevents data from being shared from both the personal profile to the work profile and the work profile to the personal profile.",
            "Default. Prevents users from sharing data from the work profile to apps in the personal profile. Personal data can be shared with work apps.",
            "Data from either profile can be shared with the other profile."
          ],
          "type": "string",
          "description": "Whether data from one profile (personal or work) can be shared with apps in the other profile. Specifically controls simple data sharing via intents. Management of other cross-profile communication channels, such as contact search, copy/paste, or connected work & personal apps, are configured separately."
        }
      },
      "id": "CrossProfilePolicies"
    },
    "PackageNameList": {
      "type": "object",
      "description": "A list of package names.",
      "properties": {
        "packageNames": {
          "description": "A list of package names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "PackageNameList"
    },
    "SystemUpdate": {
      "properties": {
        "endMinutes": {
          "format": "int32",
          "type": "integer",
          "description": "If the type is WINDOWED, the end of the maintenance window, measured as the number of minutes after midnight in device's local time. This value must be between 0 and 1439, inclusive. If this value is less than start_minutes, then the maintenance window spans midnight. If the maintenance window specified is smaller than 30 minutes, the actual window is extended to 30 minutes beyond the start time."
        },
        "freezePeriods": {
          "items": {
            "$ref": "FreezePeriod"
          },
          "description": "An annually repeating time period in which over-the-air (OTA) system updates are postponed to freeze the OS version running on a device. To prevent freezing the device indefinitely, each freeze period must be separated by at least 60 days.",
          "type": "array"
        },
        "type": {
          "enumDescriptions": [
            "Follow the default update behavior for the device, which typically requires the user to accept system updates.",
            "Install automatically as soon as an update is available.",
            "Install automatically within a daily maintenance window. This also configures Play apps to be updated within the window. This is strongly recommended for kiosk devices because this is the only way apps persistently pinned to the foreground can be updated by Play.If autoUpdateMode is set to AUTO_UPDATE_HIGH_PRIORITY for an app, then the maintenance window is ignored for that app and it is updated as soon as possible even outside of the maintenance window.",
            "Postpone automatic install up to a maximum of 30 days."
          ],
          "enum": [
            "SYSTEM_UPDATE_TYPE_UNSPECIFIED",
            "AUTOMATIC",
            "WINDOWED",
            "POSTPONE"
          ],
          "type": "string",
          "description": "The type of system update to configure."
        },
        "startMinutes": {
          "description": "If the type is WINDOWED, the start of the maintenance window, measured as the number of minutes after midnight in the device's local time. This value must be between 0 and 1439, inclusive.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Configuration for managing system updates",
      "type": "object",
      "id": "SystemUpdate"
    },
    "KeyImportEvent": {
      "id": "KeyImportEvent",
      "description": "A cryptographic key including user installed, admin installed and system maintained private key is imported on the device either by the user or management. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.",
      "properties": {
        "keyAlias": {
          "description": "Alias of the key.",
          "type": "string"
        },
        "applicationUid": {
          "description": "UID of the application which imported the key",
          "format": "int32",
          "type": "integer"
        },
        "success": {
          "type": "boolean",
          "description": "Whether the operation was successful."
        }
      },
      "type": "object"
    },
    "ManagedConfigurationTemplate": {
      "description": "The managed configurations template for the app, saved from the managed configurations iframe.",
      "id": "ManagedConfigurationTemplate",
      "type": "object",
      "properties": {
        "configurationVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional, a map containing configuration variables defined for the configuration.",
          "type": "object"
        },
        "templateId": {
          "description": "The ID of the managed configurations template.",
          "type": "string"
        }
      }
    },
    "WebAppIcon": {
      "description": "An icon for a web app. Supported formats are: png, jpg and webp.",
      "type": "object",
      "id": "WebAppIcon",
      "properties": {
        "imageData": {
          "type": "string",
          "description": "The actual bytes of the image in a base64url encoded string (c.f. RFC4648, section 5 \"Base 64 Encoding with URL and Filename Safe Alphabet\"). - The image type can be png or jpg. - The image should ideally be square. - The image should ideally have a size of 512x512. "
        }
      }
    },
    "AdbShellCommandEvent": {
      "type": "object",
      "properties": {
        "shellCmd": {
          "description": "Shell command that was issued over ADB via \"adb shell command\". Redacted to empty string on organization-owned managed profile devices.",
          "type": "string"
        }
      },
      "description": "A shell command was issued over ADB via “adb shell command”.",
      "id": "AdbShellCommandEvent"
    },
    "ContentProviderEndpoint": {
      "properties": {
        "uri": {
          "description": "This feature is not generally available.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "This feature is not generally available."
        },
        "signingCertsSha256": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. This feature is not generally available."
        }
      },
      "type": "object",
      "description": "This feature is not generally available.",
      "id": "ContentProviderEndpoint"
    },
    "ApplicationReport": {
      "description": "Information reported about an installed app.",
      "type": "object",
      "properties": {
        "applicationSource": {
          "type": "string",
          "description": "The source of the package.",
          "enum": [
            "APPLICATION_SOURCE_UNSPECIFIED",
            "SYSTEM_APP_FACTORY_VERSION",
            "SYSTEM_APP_UPDATED_VERSION",
            "INSTALLED_FROM_PLAY_STORE"
          ],
          "enumDescriptions": [
            "The app was sideloaded from an unspecified source.",
            "This is a system app from the device's factory image.",
            "This is an updated system app.",
            "The app was installed from the Google Play Store."
          ]
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the app."
        },
        "keyedAppStates": {
          "description": "List of keyed app states reported by the app.",
          "items": {
            "$ref": "KeyedAppState"
          },
          "type": "array"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "ApplicationEvent"
          },
          "description": "List of app events. The most recent 20 events are stored in the list."
        },
        "versionCode": {
          "format": "int32",
          "description": "The app version code, which can be used to determine whether one version is more recent than another.",
          "type": "integer"
        },
        "installerPackageName": {
          "type": "string",
          "description": "The package name of the app that installed this app."
        },
        "signingKeyCertFingerprints": {
          "description": "The SHA-1 hash of each android.content.pm.Signature (https://developer.android.com/reference/android/content/pm/Signature.html) associated with the app package. Each byte of each hash value is represented as a two-digit hexadecimal number.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "packageSha256Hash": {
          "description": "The SHA-256 hash of the app's APK file, which can be used to verify the app hasn't been modified. Each byte of the hash value is represented as a two-digit hexadecimal number.",
          "type": "string"
        },
        "versionName": {
          "description": "The app version as displayed to the user.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the app.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "APPLICATION_STATE_UNSPECIFIED",
            "REMOVED",
            "INSTALLED"
          ],
          "enumDescriptions": [
            "App state is unspecified",
            "App was removed from the device",
            "App is installed on the device"
          ],
          "description": "Application state."
        }
      },
      "id": "ApplicationReport"
    },
    "IssueCommandResponse": {
      "description": "Response on issuing a command. This is currently empty as a placeholder.",
      "type": "object",
      "properties": {},
      "id": "IssueCommandResponse"
    },
    "AppProcessInfo": {
      "type": "object",
      "description": "Information about a process. It contains process name, start time, app Uid, app Pid, seinfo tag, hash of the base APK.",
      "properties": {
        "apkSha256Hash": {
          "description": "SHA-256 hash of the base APK, in hexadecimal format.",
          "type": "string"
        },
        "processName": {
          "type": "string",
          "description": "Process name."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Process start time.",
          "type": "string"
        },
        "pid": {
          "type": "integer",
          "format": "int32",
          "description": "Process ID."
        },
        "uid": {
          "description": "UID of the package.",
          "format": "int32",
          "type": "integer"
        },
        "packageNames": {
          "description": "Package names of all packages that are associated with the particular user ID. In most cases, this will be a single package name, the package that has been assigned that user ID. If multiple application share a UID then all packages sharing UID will be included.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "seinfo": {
          "type": "string",
          "description": "SELinux policy info."
        }
      },
      "id": "AppProcessInfo"
    },
    "CertAuthorityRemovedEvent": {
      "description": "A root certificate was removed from the system's trusted credential storage. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.",
      "type": "object",
      "id": "CertAuthorityRemovedEvent",
      "properties": {
        "certificate": {
          "type": "string",
          "description": "Subject of the certificate."
        },
        "success": {
          "description": "Whether the removal succeeded.",
          "type": "boolean"
        },
        "userId": {
          "description": "The user in which the certificate removal event occurred. Only available for devices running Android 11 and above.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SignupUrl": {
      "id": "SignupUrl",
      "description": "An enterprise signup URL.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource. Use this value in the signupUrl field when calling enterprises.create to complete the enterprise signup flow."
        },
        "url": {
          "description": "A URL where an enterprise admin can register their enterprise. The page can't be rendered in an iframe.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WebApp": {
      "description": "A web app.",
      "properties": {
        "versionCode": {
          "description": "The current version of the app.Note that the version can automatically increase during the lifetime of the web app, while Google does internal housekeeping to keep the web app up-to-date.",
          "type": "string",
          "format": "int64"
        },
        "title": {
          "description": "The title of the web app as displayed to the user (e.g., amongst a list of other applications, or as a label for an icon).",
          "type": "string"
        },
        "icons": {
          "items": {
            "$ref": "WebAppIcon"
          },
          "type": "array",
          "description": "A list of icons for the web app. Must have at least one element."
        },
        "displayMode": {
          "description": "The display mode of the web app.",
          "enumDescriptions": [
            "Not used.",
            "Opens the web app with a minimal set of browser UI elements for controlling navigation and viewing the page URL.",
            "Opens the web app to look and feel like a standalone native application. The browser UI elements and page URL are not visible, however the system status bar and back button are visible.",
            "Opens the web app in full screen without any visible controls. The browser UI elements, page URL, system status bar and back button are not visible, and the web app takes up the entirety of the available display area."
          ],
          "enum": [
            "DISPLAY_MODE_UNSPECIFIED",
            "MINIMAL_UI",
            "STANDALONE",
            "FULL_SCREEN"
          ],
          "type": "string"
        },
        "startUrl": {
          "type": "string",
          "description": "The start URL, i.e. the URL that should load when the user opens the application."
        },
        "name": {
          "description": "The name of the web app, which is generated by the server during creation in the form enterprises/{enterpriseId}/webApps/{packageName}.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WebApp"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "id": "Empty"
    },
    "PersistentPreferredActivity": {
      "type": "object",
      "description": "A default activity for handling intents that match a particular intent filter. Note: To set up a kiosk, use InstallType to KIOSK rather than use persistent preferred activities.",
      "properties": {
        "categories": {
          "description": "The intent categories to match in the filter. An intent includes the categories that it requires, all of which must be included in the filter in order to match. In other words, adding a category to the filter has no impact on matching unless that category is specified in the intent.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "receiverActivity": {
          "description": "The activity that should be the default intent handler. This should be an Android component name, e.g. com.android.enterprise.app/.MainActivity. Alternatively, the value may be the package name of an app, which causes Android Device Policy to choose an appropriate activity from the app to handle the intent.",
          "type": "string"
        },
        "actions": {
          "items": {
            "type": "string"
          },
          "description": "The intent actions to match in the filter. If any actions are included in the filter, then an intent's action must be one of those values for it to match. If no actions are included, the intent action is ignored.",
          "type": "array"
        }
      },
      "id": "PersistentPreferredActivity"
    },
    "SetupAction": {
      "id": "SetupAction",
      "properties": {
        "launchApp": {
          "description": "An action to launch an app. The app will be launched with an intent containing an extra with key com.google.android.apps.work.clouddpc.EXTRA_LAUNCHED_AS_SETUP_ACTION set to the boolean value true to indicate that this is a setup action flow.",
          "$ref": "LaunchAppAction"
        },
        "description": {
          "$ref": "UserFacingMessage",
          "description": "Description of this action."
        },
        "title": {
          "$ref": "UserFacingMessage",
          "description": "Title of this action."
        }
      },
      "description": "An action executed during setup.",
      "type": "object"
    },
    "ApplicationPermission": {
      "id": "ApplicationPermission",
      "properties": {
        "name": {
          "description": "The name of the permission. Localized.",
          "type": "string"
        },
        "description": {
          "description": "A longer description of the permission, providing more detail on what it affects. Localized.",
          "type": "string"
        },
        "permissionId": {
          "type": "string",
          "description": "An opaque string uniquely identifying the permission. Not localized."
        }
      },
      "type": "object",
      "description": "A permission required by the app."
    },
    "CryptoSelfTestCompletedEvent": {
      "id": "CryptoSelfTestCompletedEvent",
      "type": "object",
      "properties": {
        "success": {
          "description": "Whether the test succeeded.",
          "type": "boolean"
        }
      },
      "description": "Validates whether Android’s built-in cryptographic library (BoringSSL) is valid. Should always succeed on device boot, if it fails, the device should be considered untrusted."
    },
    "TermsAndConditions": {
      "id": "TermsAndConditions",
      "type": "object",
      "properties": {
        "content": {
          "$ref": "UserFacingMessage",
          "description": "A well-formatted HTML string. It will be parsed on the client with android.text.Html#fromHtml."
        },
        "header": {
          "description": "A short header which appears above the HTML content.",
          "$ref": "UserFacingMessage"
        }
      },
      "description": "A terms and conditions page to be accepted during provisioning."
    },
    "ExtensionConfig": {
      "type": "object",
      "properties": {
        "signingKeyFingerprintsSha256": {
          "description": "Hex-encoded SHA-256 hash of the signing certificate of the extension app. Only hexadecimal string representations of 64 characters are valid.If not specified, the signature for the corresponding package name is obtained from the Play Store instead.If this list is empty, the signature of the extension app on the device must match the signature obtained from the Play Store for the app to be able to communicate with Android Device Policy.If this list is not empty, the signature of the extension app on the device must match one of the entries in this list for the app to be able to communicate with Android Device Policy.In production use cases, it is recommended to leave this empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "notificationReceiver": {
          "type": "string",
          "description": "Fully qualified class name of the receiver service class for Android Device Policy to notify the extension app of any local command status updates."
        }
      },
      "description": "Configuration to enable an app as an extension app, with the capability of interacting with Android Device Policy offline.",
      "id": "ExtensionConfig"
    },
    "WebToken": {
      "id": "WebToken",
      "description": "A web token used to access the managed Google Play iframe.",
      "properties": {
        "permissions": {
          "items": {
            "enumDescriptions": [
              "This value is ignored.",
              "The permission to approve apps for the enterprise."
            ],
            "enum": [
              "WEB_TOKEN_PERMISSION_UNSPECIFIED",
              "APPROVE_APPS"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Permissions available to an admin in the embedded UI. An admin must have all of these permissions in order to view the UI. This field is deprecated."
        },
        "name": {
          "description": "The name of the web token, which is generated by the server during creation in the form enterprises/{enterpriseId}/webTokens/{webTokenId}.",
          "type": "string"
        },
        "value": {
          "description": "The token value which is used in the hosting page to generate the iframe with the embedded UI. This is a read-only field generated by the server.",
          "type": "string"
        },
        "enabledFeatures": {
          "items": {
            "enumDescriptions": [
              "Unspecified feature.",
              "The Managed Play search apps page (https://developers.google.com/android/management/apps#search-apps).",
              "The private apps page (https://developers.google.com/android/management/apps#private-apps).",
              "The Web Apps page (https://developers.google.com/android/management/apps#web-apps).",
              "The organize apps page (https://developers.google.com/android/management/apps#organize-apps).",
              "The managed configurations page (https://developers.google.com/android/management/managed-configurations-iframe).",
              "The zero-touch iframe (https://developers.google.com/android/management/zero-touch-iframe)."
            ],
            "enum": [
              "FEATURE_UNSPECIFIED",
              "PLAY_SEARCH",
              "PRIVATE_APPS",
              "WEB_APPS",
              "STORE_BUILDER",
              "MANAGED_CONFIGURATIONS",
              "ZERO_TOUCH_CUSTOMER_MANAGEMENT"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "The features to enable. Use this if you want to control exactly which feature(s) will be activated; leave empty to allow all features.Restrictions / things to note: - If no features are listed here, all features are enabled — this is the default behavior where you give access to all features to your admins. - This must not contain any FEATURE_UNSPECIFIED values. - Repeated values are ignored "
        },
        "parentFrameUrl": {
          "description": "The URL of the parent frame hosting the iframe with the embedded UI. To prevent XSS, the iframe may not be hosted at other URLs. The URL must use the https scheme.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AppTrackInfo": {
      "properties": {
        "trackId": {
          "type": "string",
          "description": "The unmodifiable unique track identifier, taken from the releaseTrackId in the URL of the Play Console page that displays the app’s track information."
        },
        "trackAlias": {
          "description": "The track name associated with the trackId, set in the Play Console. The name is modifiable from Play Console.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AppTrackInfo",
      "description": "Id to name association of a app track."
    },
    "TelephonyInfo": {
      "properties": {
        "carrierName": {
          "type": "string",
          "description": "The carrier name associated with this SIM card."
        },
        "phoneNumber": {
          "description": "The phone number associated with this SIM card.",
          "type": "string"
        }
      },
      "description": "Telephony information associated with a given SIM card on the device. Only supported on fully managed devices starting from Android API level 23.",
      "type": "object",
      "id": "TelephonyInfo"
    },
    "PasswordPoliciesContext": {
      "id": "PasswordPoliciesContext",
      "properties": {
        "passwordPolicyScope": {
          "enumDescriptions": [
            "The scope is unspecified. The password requirements are applied to the work profile for work profile devices and the whole device for fully managed or dedicated devices.",
            "The password requirements are only applied to the device.",
            "The password requirements are only applied to the work profile."
          ],
          "description": "The scope of non-compliant password.",
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_DEVICE",
            "SCOPE_PROFILE"
          ]
        }
      },
      "description": "Additional context for non-compliance related to password policies.",
      "type": "object"
    },
    "ApiLevelCondition": {
      "properties": {
        "minApiLevel": {
          "type": "integer",
          "description": "The minimum desired Android Framework API level. If the device doesn't meet the minimum requirement, this condition is satisfied. Must be greater than zero.",
          "format": "int32"
        }
      },
[...]
