{
  "name": "androidpublisher",
  "documentationLink": "https://developers.google.com/android-publisher",
  "revision": "20221025",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "version": "v3",
  "basePath": "",
  "ownerName": "Google",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "id": "androidpublisher:v3",
  "ownerDomain": "google.com",
  "servicePath": "",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "canonicalName": "Android Publisher",
  "schemas": {
    "SubscribeWithGoogleInfo": {
      "properties": {
        "profileId": {
          "type": "string",
          "description": "The Google profile id of the user when the subscription was purchased."
        },
        "givenName": {
          "type": "string",
          "description": "The given name of the user when the subscription was purchased."
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of the user when the subscription was purchased."
        },
        "familyName": {
          "description": "The family name of the user when the subscription was purchased.",
          "type": "string"
        },
        "profileName": {
          "description": "The profile name of the user when the subscription was purchased.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information associated with purchases made with 'Subscribe with Google'.",
      "id": "SubscribeWithGoogleInfo"
    },
    "RegionalSubscriptionOfferPhaseConfig": {
      "description": "Configuration for a single phase of a subscription offer in a single region.",
      "id": "RegionalSubscriptionOfferPhaseConfig",
      "type": "object",
      "properties": {
        "absoluteDiscount": {
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for this region.",
          "$ref": "Money"
        },
        "price": {
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for this region.",
          "$ref": "Money"
        },
        "relativeDiscount": {
          "type": "number",
          "format": "double",
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in this region."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Immutable. The region to which this config applies."
        }
      }
    },
    "SystemFeature": {
      "id": "SystemFeature",
      "description": "Representation of a system feature.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the feature."
        }
      },
      "type": "object"
    },
    "TrackTargetedCountry": {
      "type": "object",
      "properties": {
        "countryCode": {
          "type": "string",
          "description": "The country to target, as a two-letter CLDR code."
        }
      },
      "id": "TrackTargetedCountry",
      "description": "Representation of a single country where the contents of a track are available."
    },
    "RegionalBasePlanConfig": {
      "description": "Configuration for a base plan specific to a region.",
      "type": "object",
      "id": "RegionalBasePlanConfig",
      "properties": {
        "newSubscriberAvailability": {
          "description": "Whether the base plan in the specified region is available for new subscribers. Existing subscribers will not have their subscription canceled if this value is set to false. If not specified, this will default to false.",
          "type": "boolean"
        },
        "price": {
          "description": "The price of the base plan in the specified region. Must be set if the base plan is available to new subscribers. Must be set in the currency that is linked to the specified region.",
          "$ref": "Money"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\"."
        }
      }
    },
    "ProductPurchase": {
      "type": "object",
      "id": "ProductPurchase",
      "description": "A ProductPurchase resource indicates the status of a user's inapp product purchase.",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The inapp product SKU. May not be present."
        },
        "acknowledgementState": {
          "description": "The acknowledgement state of the inapp product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged",
          "format": "int32",
          "type": "integer"
        },
        "quantity": {
          "format": "int32",
          "description": "The quantity associated with the purchase of the inapp product. If not present, the quantity is 1.",
          "type": "integer"
        },
        "purchaseState": {
          "description": "The purchase state of the order. Possible values are: 0. Purchased 1. Canceled 2. Pending",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "description": "This kind represents an inappPurchase object in the androidpublisher service.",
          "type": "string"
        },
        "obfuscatedExternalAccountId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made."
        },
        "obfuscatedExternalProfileId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made."
        },
        "purchaseToken": {
          "type": "string",
          "description": "The purchase token generated to identify this purchase. May not be present."
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted."
        },
        "orderId": {
          "type": "string",
          "description": "The order id associated with the purchase of the inapp product."
        },
        "consumptionState": {
          "format": "int32",
          "description": "The consumption state of the inapp product. Possible values are: 0. Yet to be consumed 1. Consumed",
          "type": "integer"
        },
        "purchaseTimeMillis": {
          "description": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
          "type": "string",
          "format": "int64"
        },
        "purchaseType": {
          "description": "The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code) 2. Rewarded (i.e. from watching a video ad instead of paying)",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SubscriptionListing": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Required. The language of this listing, as defined by BCP-47, e.g. \"en-US\"."
        },
        "benefits": {
          "description": "A list of benefits shown to the user on platforms such as the Play Store and in restoration flows in the language of this listing. Plain text. Ordered list of at most four benefits.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "The description of this subscription in the language of this listing. Maximum length - 80 characters. Plain text."
        },
        "title": {
          "description": "Required. The title of this subscription in the language of this listing. Plain text.",
          "type": "string"
        }
      },
      "id": "SubscriptionListing",
      "description": "The consumer-visible metadata of a subscription.",
      "type": "object"
    },
    "ReviewsListResponse": {
      "properties": {
        "reviews": {
          "description": "List of reviews.",
          "items": {
            "$ref": "Review"
          },
          "type": "array"
        },
        "pageInfo": {
          "description": "Information about the current page.",
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "description": "Pagination token, to handle a number of products that is over one page."
        }
      },
      "type": "object",
      "id": "ReviewsListResponse",
      "description": "Response listing reviews."
    },
    "TrackRelease": {
      "id": "TrackRelease",
      "description": "A release within a track.",
      "properties": {
        "inAppUpdatePriority": {
          "type": "integer",
          "format": "int32",
          "description": "In-app update priority of the release. All newly added APKs in the release will be considered at this priority. Can take values in the range [0, 5], with 5 the highest priority. Defaults to 0. in_app_update_priority can not be updated once the release is rolled out. See https://developer.android.com/guide/playcore/in-app-updates."
        },
        "releaseNotes": {
          "items": {
            "$ref": "LocalizedText"
          },
          "description": "A description of what is new in this release.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The release name. Not required to be unique. If not set, the name is generated from the APK's version_name. If the release contains multiple APKs, the name is generated from the date."
        },
        "userFraction": {
          "format": "double",
          "type": "number",
          "description": "Fraction of users who are eligible for a staged release. 0 \u003c fraction \u003c 1. Can only be set when status is \"inProgress\" or \"halted\"."
        },
        "status": {
          "enumDescriptions": [
            "Unspecified status.",
            "The release's APKs are not being served to users.",
            "The release's APKs are being served to a fraction of users, determined by 'user_fraction'.",
            "The release's APKs will no longer be served to users. Users who already have these APKs are unaffected.",
            "The release will have no further changes. Its APKs are being served to all users, unless they are eligible to APKs of a more recent release."
          ],
          "enum": [
            "statusUnspecified",
            "draft",
            "inProgress",
            "halted",
            "completed"
          ],
          "description": "The status of the release.",
          "type": "string"
        },
        "countryTargeting": {
          "$ref": "CountryTargeting",
          "description": "Restricts a release to a specific set of countries."
        },
        "versionCodes": {
          "description": "Version codes of all APKs in the release. Must include version codes to retain from previous releases.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ProductPurchasesAcknowledgeRequest": {
      "description": "Request for the product.purchases.acknowledge API.",
      "id": "ProductPurchasesAcknowledgeRequest",
      "properties": {
        "developerPayload": {
          "type": "string",
          "description": "Payload to attach to the purchase."
        }
      },
      "type": "object"
    },
    "VoidedPurchase": {
      "description": "A VoidedPurchase resource indicates a purchase that was either canceled/refunded/charged-back.",
      "properties": {
        "purchaseTimeMillis": {
          "description": "The time at which the purchase was made, in milliseconds since the epoch (Jan 1, 1970).",
          "type": "string",
          "format": "int64"
        },
        "orderId": {
          "type": "string",
          "description": "The order id which uniquely identifies a one-time purchase, subscription purchase, or subscription renewal."
        },
        "purchaseToken": {
          "description": "The token which uniquely identifies a one-time purchase or subscription. To uniquely identify subscription renewals use order_id (available starting from version 3 of the API).",
          "type": "string"
        },
        "voidedTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The time at which the purchase was canceled/refunded/charged-back, in milliseconds since the epoch (Jan 1, 1970)."
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a voided purchase object in the androidpublisher service."
        },
        "voidedReason": {
          "type": "integer",
          "format": "int32",
          "description": "The reason why the purchase was voided, possible values are: 0. Other 1. Remorse 2. Not_received 3. Defective 4. Accidental_purchase 5. Fraud 6. Friendly_fraud 7. Chargeback"
        },
        "voidedSource": {
          "type": "integer",
          "format": "int32",
          "description": "The initiator of voided purchase, possible values are: 0. User 1. Developer 2. Google"
        }
      },
      "type": "object",
      "id": "VoidedPurchase"
    },
    "SubscriptionOfferTargeting": {
      "id": "SubscriptionOfferTargeting",
      "properties": {
        "acquisitionRule": {
          "$ref": "AcquisitionTargetingRule",
          "description": "Offer targeting rule for new user acquisition."
        },
        "upgradeRule": {
          "description": "Offer targeting rule for upgrading users' existing plans.",
          "$ref": "UpgradeTargetingRule"
        }
      },
      "description": "Defines the rule a user needs to satisfy to receive this offer.",
      "type": "object"
    },
    "TestPurchase": {
      "id": "TestPurchase",
      "properties": {},
      "type": "object",
      "description": "Whether this subscription purchase is a test purchase."
    },
    "VoidedPurchasesListResponse": {
      "type": "object",
      "properties": {
        "voidedPurchases": {
          "type": "array",
          "items": {
            "$ref": "VoidedPurchase"
          }
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "description": "Pagination information for token pagination."
        }
      },
      "id": "VoidedPurchasesListResponse",
      "description": "Response for the voidedpurchases.list API."
    },
    "Subscription": {
      "description": "A single subscription for an app.",
      "properties": {
        "packageName": {
          "description": "Immutable. Package name of the parent app.",
          "type": "string"
        },
        "taxAndComplianceSettings": {
          "$ref": "SubscriptionTaxAndComplianceSettings",
          "description": "Details about taxes and legal compliance."
        },
        "productId": {
          "type": "string",
          "description": "Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must be composed of lower-case letters (a-z), numbers (0-9), underscores (_) and dots (.). It must start with a lower-case letter or number, and be between 1 and 40 (inclusive) characters in length."
        },
        "listings": {
          "items": {
            "$ref": "SubscriptionListing"
          },
          "description": "Required. List of localized listings for this subscription. Must contain at least an entry for the default language of the parent app.",
          "type": "array"
        },
        "basePlans": {
          "type": "array",
          "items": {
            "$ref": "BasePlan"
          },
          "description": "The set of base plans for this subscription. Represents the prices and duration of the subscription if no other offers apply."
        },
        "archived": {
          "description": "Output only. Whether this subscription is archived. Archived subscriptions are not available to any subscriber any longer, cannot be updated, and are not returned in list requests unless the show archived flag is passed in.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Subscription"
    },
    "PausedStateContext": {
      "id": "PausedStateContext",
      "description": "Information specific to a subscription in paused state.",
      "properties": {
        "autoResumeTime": {
          "description": "Time at which the subscription will be automatically resumed.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LocalizedText": {
      "description": "Localized text in given language.",
      "id": "LocalizedText",
      "properties": {
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        },
        "text": {
          "description": "The text in the given language.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListSubscriptionOffersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "subscriptionOffers": {
          "type": "array",
          "items": {
            "$ref": "SubscriptionOffer"
          },
          "description": "The subscription offers from the specified subscription."
        }
      },
      "type": "object",
      "id": "ListSubscriptionOffersResponse",
      "description": "Response message for ListSubscriptionOffers."
    },
    "ManagedProductTaxAndComplianceSettings": {
      "properties": {
        "taxRateInfoByRegionCode": {
          "type": "object",
          "additionalProperties": {
            "$ref": "RegionalTaxRateInfo"
          },
          "description": "A mapping from region code to tax rate details. The keys are region codes as defined by Unicode's \"CLDR\"."
        },
        "eeaWithdrawalRightType": {
          "description": "Digital content or service classification for products distributed to users in the European Economic Area (EEA). The withdrawal regime under EEA consumer laws depends on this classification. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ]
        }
      },
      "type": "object",
      "id": "ManagedProductTaxAndComplianceSettings",
      "description": "Details about taxation and legal compliance for managed products."
    },
    "ExternallyHostedApk": {
      "type": "object",
      "properties": {
        "iconBase64": {
          "description": "The icon image from the APK, as a base64 encoded byte array.",
          "type": "string"
        },
        "usesPermissions": {
          "description": "The permissions requested by this APK.",
          "items": {
            "$ref": "UsesPermission"
          },
          "type": "array"
        },
        "usesFeatures": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The features required by this APK (optional)."
        },
        "fileSize": {
          "type": "string",
          "description": "The file size in bytes of this APK.",
          "format": "int64"
        },
        "versionName": {
          "description": "The version name of this APK.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "The package name."
        },
        "maximumSdk": {
          "type": "integer",
          "description": "The maximum SDK supported by this APK (optional).",
          "format": "int32"
        },
        "certificateBase64s": {
          "type": "array",
          "description": "A certificate (or array of certificates if a certificate-chain is used) used to sign this APK, represented as a base64 encoded byte array.",
          "items": {
            "type": "string"
          }
        },
        "externallyHostedUrl": {
          "type": "string",
          "description": "The URL at which the APK is hosted. This must be an https URL."
        },
        "applicationLabel": {
          "type": "string",
          "description": "The application label."
        },
        "fileSha256Base64": {
          "type": "string",
          "description": "The sha256 checksum of this APK, represented as a base64 encoded byte array."
        },
        "fileSha1Base64": {
          "description": "The sha1 checksum of this APK, represented as a base64 encoded byte array.",
          "type": "string"
        },
        "versionCode": {
          "format": "int32",
          "type": "integer",
          "description": "The version code of this APK."
        },
        "minimumSdk": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum SDK targeted by this APK."
        },
        "nativeCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The native code environments supported by this APK (optional)."
        }
      },
      "description": "Defines an APK available for this application that is hosted externally and not uploaded to Google Play. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
      "id": "ExternallyHostedApk"
    },
    "DeveloperInitiatedCancellation": {
      "description": "Information specific to cancellations initiated by developers.",
      "type": "object",
      "id": "DeveloperInitiatedCancellation",
      "properties": {}
    },
    "RegionalPriceMigrationConfig": {
      "description": "Configuration for a price migration.",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        },
        "oldestAllowedPriceVersionTime": {
          "description": "Required. The cutoff time for historical prices that subscribers can remain paying. Subscribers who are on a price that was created before this cutoff time will be migrated to the currently-offered price. These subscribers will receive a notification that they will be paying a different price. Subscribers who do not agree to the new price will have their subscription ended at the next renewal.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "RegionalPriceMigrationConfig"
    },
    "BasePlan": {
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the base plan, i.e. whether it's active. Draft and inactive base plans can be activated or deleted. Active base plans can be made inactive. Inactive base plans can be canceled. This field cannot be changed by updating the resource. Use the dedicated endpoints instead.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The base plan is currently in a draft state, and hasn't been activated. It can be safely deleted at this point.",
            "The base plan is active and available for new subscribers.",
            "The base plan is inactive and only available for existing subscribers."
          ]
        },
        "regionalConfigs": {
          "type": "array",
          "items": {
            "$ref": "RegionalBasePlanConfig"
          },
          "description": "Region-specific information for this base plan."
        },
        "prepaidBasePlanType": {
          "description": "Set when the base plan does not automatically renew at the end of the billing period.",
          "$ref": "PrepaidBasePlanType"
        },
        "otherRegionsConfig": {
          "$ref": "OtherRegionsBasePlanConfig",
          "description": "Pricing information for any new locations Play may launch in the future. If omitted, the BasePlan will not be automatically available any new locations Play may launch in the future."
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. Immutable. The unique identifier of this base plan. Must be unique within the subscription, and conform with RFC-1034. That is, this ID can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 63 characters."
        },
        "offerTags": {
          "type": "array",
          "description": "List of up to 20 custom tags specified for this base plan, and returned to the app through the billing library. Subscription offers for this base plan will also receive these offer tags in the billing library.",
          "items": {
            "$ref": "OfferTag"
          }
        },
        "autoRenewingBasePlanType": {
          "description": "Set when the base plan automatically renews at a regular interval.",
          "$ref": "AutoRenewingBasePlanType"
        }
      },
      "type": "object",
      "description": "A single base plan for a subscription.",
      "id": "BasePlan"
    },
    "User": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Immutable. The user's email address."
        },
        "partial": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether there are more permissions for the user that are not represented here. This can happen if the caller does not have permission to manage all apps in the account. This is also `true` if this user is the account owner. If this field is `true`, it should be taken as a signal that this user cannot be fully managed via the API. That is, the API caller is not be able to manage all of the permissions this user holds, either because it doesn't know about them or because the user is the account owner."
        },
        "name": {
          "type": "string",
          "description": "Required. Resource name for this user, following the pattern \"developers/{developer}/users/{email}\"."
        },
        "accessState": {
          "readOnly": true,
          "description": "Output only. The state of the user's access to the Play Console.",
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified access state.",
            "User is invited but has not yet accepted the invitation.",
            "Invitation has expired.",
            "User has accepted an invitation and has access to the Play Console.",
            "Account access has expired."
          ],
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "INVITED",
            "INVITATION_EXPIRED",
            "ACCESS_GRANTED",
            "ACCESS_EXPIRED"
          ]
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the user's access expires, if set. When setting this value, it must always be in the future."
        },
        "grants": {
          "type": "array",
          "description": "Output only. Per-app permissions for the user.",
          "readOnly": true,
          "items": {
            "$ref": "Grant"
          }
        },
        "developerAccountPermissions": {
          "description": "Permissions for the user which apply across the developer account.",
          "items": {
            "enum": [
              "DEVELOPER_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_SEE_ALL_APPS",
              "CAN_VIEW_FINANCIAL_DATA_GLOBAL",
              "CAN_MANAGE_PERMISSIONS_GLOBAL",
              "CAN_EDIT_GAMES_GLOBAL",
              "CAN_PUBLISH_GAMES_GLOBAL",
              "CAN_REPLY_TO_REVIEWS_GLOBAL",
              "CAN_MANAGE_PUBLIC_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_USERS_GLOBAL",
              "CAN_MANAGE_PUBLIC_LISTING_GLOBAL",
              "CAN_MANAGE_DRAFT_APPS_GLOBAL",
              "CAN_CREATE_MANAGED_PLAY_APPS_GLOBAL",
              "CAN_CHANGE_MANAGED_PLAY_SETTING_GLOBAL",
              "CAN_MANAGE_ORDERS_GLOBAL"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information and download bulk reports (read-only).",
              "View financial data, orders, and cancellation survey responses.",
              "Admin (all permissions).",
              "Edit Play Games Services projects.",
              "Publish Play Games Services projects.",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Create, edit, and delete draft apps.",
              "Create and publish private apps to your organization.",
              "Choose whether apps are public, or only available to your organization.",
              "Manage orders and subscriptions."
            ]
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A user resource.",
      "id": "User"
    },
    "ConvertRegionPricesResponse": {
      "type": "object",
      "id": "ConvertRegionPricesResponse",
      "description": "Response message for ConvertRegionPrices.",
      "properties": {
        "convertedRegionPrices": {
          "description": "Map from region code to converted region price.",
          "additionalProperties": {
            "$ref": "ConvertedRegionPrice"
          },
          "type": "object"
        },
        "convertedOtherRegionsPrice": {
          "$ref": "ConvertedOtherRegionsPrice",
          "description": "Converted other regions prices in USD and EUR, to use for countries where Play doesn't support a country's local currency."
        }
      }
    },
    "SubscriptionDeferralInfo": {
      "properties": {
        "desiredExpiryTimeMillis": {
          "type": "string",
          "description": "The desired next expiry time to assign to the subscription, in milliseconds since the Epoch. The given time must be later/greater than the current expiry time for the subscription.",
          "format": "int64"
        },
        "expectedExpiryTimeMillis": {
          "type": "string",
          "description": "The expected expiry time for the subscription. If the current expiry time for the subscription is not the value specified here, the deferral will not occur.",
          "format": "int64"
        }
      },
      "description": "A SubscriptionDeferralInfo contains the data needed to defer a subscription purchase to a future expiry time.",
      "type": "object",
      "id": "SubscriptionDeferralInfo"
    },
    "GeneratedStandaloneApk": {
      "properties": {
        "downloadId": {
          "type": "string",
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method."
        },
        "variantId": {
          "format": "int32",
          "type": "integer",
          "description": "ID of the generated variant."
        }
      },
      "id": "GeneratedStandaloneApk",
      "type": "object",
      "description": "Download metadata for a standalone APK."
    },
    "DeviceTierConfig": {
      "properties": {
        "deviceTierConfigId": {
          "type": "string",
          "description": "Output only. The device tier config ID.",
          "format": "int64",
          "readOnly": true
        },
        "deviceTierSet": {
          "description": "Definition of the set of device tiers for the app.",
          "$ref": "DeviceTierSet"
        },
        "deviceGroups": {
          "description": "Definition of device groups for the app.",
          "items": {
            "$ref": "DeviceGroup"
          },
          "type": "array"
        }
      },
      "description": "LINT.IfChange Configuration describing device targeting criteria for the content of an app.",
      "id": "DeviceTierConfig",
      "type": "object"
    },
    "DeobfuscationFilesUploadResponse": {
      "properties": {
        "deobfuscationFile": {
          "description": "The uploaded Deobfuscation File configuration.",
          "$ref": "DeobfuscationFile"
        }
      },
      "description": "Responses for the upload.",
      "id": "DeobfuscationFilesUploadResponse",
      "type": "object"
    },
    "TracksListResponse": {
      "properties": {
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "Track"
          },
          "description": "All tracks."
        },
        "kind": {
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\").",
          "type": "string"
        }
      },
      "id": "TracksListResponse",
      "type": "object",
      "description": "Response listing all tracks."
    },
    "SubscriptionPurchaseV2": {
      "properties": {
        "externalAccountIdentifiers": {
          "$ref": "ExternalAccountIdentifiers",
          "description": "User account identifier in the third-party service."
        },
        "canceledStateContext": {
          "$ref": "CanceledStateContext",
          "description": "Additional context around canceled subscriptions. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_CANCELED."
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a SubscriptionPurchaseV2 object in the androidpublisher service."
        },
        "pausedStateContext": {
          "$ref": "PausedStateContext",
          "description": "Additional context around paused subscriptions. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_PAUSED."
        },
        "testPurchase": {
          "description": "Only present if this subscription purchase is a test purchase.",
          "$ref": "TestPurchase"
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted."
        },
        "linkedPurchaseToken": {
          "type": "string",
          "description": "The purchase token of the old subscription if this subscription is one of the following: * Re-signup of a canceled but non-lapsed subscription * Upgrade/downgrade from a previous subscription. * Convert from prepaid to auto renewing subscription. * Convert from an auto renewing subscription to prepaid. * Topup a prepaid subscription."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time at which the subscription was granted. Not set for pending subscriptions (subscription was created but awaiting payment during signup).",
          "type": "string"
        },
        "acknowledgementState": {
          "type": "string",
          "description": "The acknowledgement state of the subscription.",
          "enum": [
            "ACKNOWLEDGEMENT_STATE_UNSPECIFIED",
            "ACKNOWLEDGEMENT_STATE_PENDING",
            "ACKNOWLEDGEMENT_STATE_ACKNOWLEDGED"
          ],
          "enumDescriptions": [
            "Unspecified acknowledgement state.",
            "The subscription is not acknowledged yet.",
            "The subscription is acknowledged."
          ]
        },
        "subscribeWithGoogleInfo": {
          "$ref": "SubscribeWithGoogleInfo",
          "description": "User profile associated with purchases made with 'Subscribe with Google'."
        },
        "lineItems": {
          "description": "Item-level info for a subscription purchase. The items in the same purchase should be either all with AutoRenewingPlan or all with PrepaidPlan.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionPurchaseLineItem"
          }
        },
        "subscriptionState": {
          "description": "The current state of the subscription.",
          "enumDescriptions": [
            "Unspecified subscription state.",
            "Subscription was created but awaiting payment during signup. In this state, all items are awaiting payment.",
            "Subscription is active. - (1) If the subscription is an auto renewing plan, at least one item is auto_renew_enabled and not expired. - (2) If the subscription is a prepaid plan, at least one item is not expired.",
            "Subscription is paused. The state is only available when the subscription is an auto renewing plan. In this state, all items are in paused state.",
            "Subscription is in grace period. The state is only available when the subscription is an auto renewing plan. In this state, all items are in grace period.",
            "Subscription is on hold (suspended). The state is only available when the subscription is an auto renewing plan. In this state, all items are on hold.",
            "Subscription is canceled but not expired yet. The state is only available when the subscription is an auto renewing plan. All items have auto_renew_enabled set to false.",
            "Subscription is expired. All items have expiry_time in the past."
          ],
          "enum": [
            "SUBSCRIPTION_STATE_UNSPECIFIED",
            "SUBSCRIPTION_STATE_PENDING",
            "SUBSCRIPTION_STATE_ACTIVE",
            "SUBSCRIPTION_STATE_PAUSED",
            "SUBSCRIPTION_STATE_IN_GRACE_PERIOD",
            "SUBSCRIPTION_STATE_ON_HOLD",
            "SUBSCRIPTION_STATE_CANCELED",
            "SUBSCRIPTION_STATE_EXPIRED"
          ],
          "type": "string"
        },
        "latestOrderId": {
          "type": "string",
          "description": "The order id of the latest order associated with the purchase of the subscription. For autoRenewing subscription, this is the order id of signup order if it is not renewed yet, or the last recurring order id (success, pending, or declined order). For prepaid subscription, this is the order id associated with the queried purchase token."
        }
      },
      "type": "object",
      "description": "Indicates the status of a user's subscription purchase.",
      "id": "SubscriptionPurchaseV2"
    },
    "SubscriptionPurchasesAcknowledgeRequest": {
      "properties": {
        "developerPayload": {
          "type": "string",
          "description": "Payload to attach to the purchase."
        }
      },
      "id": "SubscriptionPurchasesAcknowledgeRequest",
      "description": "Request for the purchases.subscriptions.acknowledge API.",
      "type": "object"
    },
    "AutoRenewingPlan": {
      "properties": {
        "autoRenewEnabled": {
          "description": "If the subscription is currently set to auto-renew, e.g. the user has not canceled the subscription",
          "type": "boolean"
        }
      },
      "id": "AutoRenewingPlan",
      "description": "Information related to an auto renewing plan.",
      "type": "object"
    },
    "DeactivateSubscriptionOfferRequest": {
      "id": "DeactivateSubscriptionOfferRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for DeactivateSubscriptionOffer."
    },
    "OtherRegionsSubscriptionOfferConfig": {
      "properties": {
        "otherRegionsNewSubscriberAvailability": {
          "type": "boolean",
          "description": "Whether the subscription offer in any new locations Play may launch in the future. If not specified, this will default to false."
        }
      },
      "description": "Configuration for any new locations Play may launch in specified on a subscription offer.",
      "id": "OtherRegionsSubscriptionOfferConfig",
      "type": "object"
    },
    "SystemInitiatedCancellation": {
      "type": "object",
      "description": "Information specific to cancellations initiated by Google system.",
      "properties": {},
      "id": "SystemInitiatedCancellation"
    },
    "InternalAppSharingArtifact": {
      "description": "An artifact resource which gets created when uploading an APK or Android App Bundle through internal app sharing.",
      "id": "InternalAppSharingArtifact",
      "type": "object",
      "properties": {
        "sha256": {
          "description": "The sha256 hash of the artifact represented as a lowercase hexadecimal number, matching the output of the sha256sum command.",
          "type": "string"
        },
        "downloadUrl": {
          "description": "The download URL generated for the uploaded artifact. Users that are authorized to download can follow the link to the Play Store app to install it.",
          "type": "string"
        },
        "certificateFingerprint": {
          "description": "The sha256 fingerprint of the certificate used to sign the generated artifact.",
          "type": "string"
        }
      }
    },
    "ImagesDeleteAllResponse": {
      "properties": {
        "deleted": {
          "type": "array",
          "description": "The deleted images.",
          "items": {
            "$ref": "Image"
          }
        }
      },
      "id": "ImagesDeleteAllResponse",
      "description": "Response for deleting all images.",
      "type": "object"
    },
    "UpgradeTargetingRule": {
      "id": "UpgradeTargetingRule",
      "type": "object",
      "properties": {
        "billingPeriodDuration": {
          "description": "The specific billing period duration, specified in ISO 8601 format, that a user must be currently subscribed to to be eligible for this rule. If not specified, users subscribed to any billing period are matched.",
          "type": "string"
        },
        "scope": {
          "description": "Required. The scope of subscriptions this rule considers. Only allows \"this subscription\" and \"specific subscription in app\".",
          "$ref": "TargetingRuleScope"
        },
        "oncePerUser": {
          "type": "boolean",
          "description": "Limit this offer to only once per user. If set to true, a user can never be eligible for this offer again if they ever subscribed to this offer."
        }
      },
      "description": "Represents a targeting rule of the form: User currently has {scope} [with billing period {billing_period}]."
    },
    "SubscriptionPurchaseLineItem": {
      "properties": {
        "prepaidPlan": {
          "$ref": "PrepaidPlan",
          "description": "The item is prepaid."
        },
        "autoRenewingPlan": {
          "$ref": "AutoRenewingPlan",
          "description": "The item is auto renewing."
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the subscription expired or will expire unless the access is extended (ex. renews)."
        },
        "productId": {
          "type": "string",
          "description": "The purchased product ID (for example, 'monthly001')."
        }
      },
      "id": "SubscriptionPurchaseLineItem",
      "description": "Item-level info for a subscription purchase.",
      "type": "object"
    },
    "Track": {
      "description": "A track configuration. The resource for TracksService.",
      "properties": {
        "track": {
          "type": "string",
          "description": "Identifier of the track."
        },
        "releases": {
          "items": {
            "$ref": "TrackRelease"
          },
          "type": "array",
          "description": "In a read request, represents all active releases in the track. In an update request, represents desired changes."
        }
      },
      "id": "Track",
      "type": "object"
    },
    "ReviewReplyResult": {
      "properties": {
        "replyText": {
          "description": "The reply text that was applied.",
          "type": "string"
        },
        "lastEdited": {
          "$ref": "Timestamp",
          "description": "The time at which the reply took effect."
        }
      },
      "type": "object",
      "description": "The result of replying/updating a reply to review.",
      "id": "ReviewReplyResult"
    },
    "TargetingRuleScope": {
      "properties": {
        "specificSubscriptionInApp": {
          "description": "The scope of the current targeting rule is the subscription with the specified subscription ID. Must be a subscription within the same parent app.",
          "type": "string"
        }
      },
      "id": "TargetingRuleScope",
      "description": "Defines the scope of subscriptions which a targeting rule can match to target offers to users based on past or current entitlement.",
      "type": "object"
    },
    "ExpansionFile": {
      "type": "object",
      "description": "An expansion file. The resource for ExpansionFilesService.",
      "properties": {
        "fileSize": {
          "type": "string",
          "format": "int64",
          "description": "If set, this field indicates that this APK has an expansion file uploaded to it: this APK does not reference another APK's expansion file. The field's value is the size of the uploaded expansion file in bytes."
        },
        "referencesVersion": {
          "type": "integer",
          "format": "int32",
          "description": "If set, this APK's expansion file references another APK's expansion file. The file_size field will not be set."
        }
      },
      "id": "ExpansionFile"
    },
    "ArchiveSubscriptionRequest": {
      "id": "ArchiveSubscriptionRequest",
      "type": "object",
      "description": "Request message for ArchiveSubscription.",
      "properties": {}
    },
    "TrackCountryAvailability": {
      "properties": {
        "syncWithProduction": {
          "description": "Whether this track's availability is synced with the default production track. See https://support.google.com/googleplay/android-developer/answer/7550024 for more information on syncing country availability with production. Note that if this is true, the returned \"countries\" and \"rest_of_world\" fields will reflect the values for the default production track.",
          "type": "boolean"
        },
        "countries": {
          "description": "A list of one or more countries where artifacts in this track are available. This list includes all countries that are targeted by the track, even if only specific carriers are targeted in that country.",
          "type": "array",
          "items": {
            "$ref": "TrackTargetedCountry"
          }
        },
        "restOfWorld": {
          "type": "boolean",
          "description": "Whether artifacts in this track are available to \"rest of the world\" countries."
        }
      },
      "type": "object",
      "id": "TrackCountryAvailability",
      "description": "Resource for per-track country availability information."
    },
    "CountryTargeting": {
      "properties": {
        "countries": {
          "description": "Countries to target, specified as two letter [CLDR codes](https://unicode.org/cldr/charts/latest/supplemental/territory_containment_un_m_49.html).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "includeRestOfWorld": {
          "description": "Include \"rest of world\" as well as explicitly targeted countries.",
          "type": "boolean"
        }
      },
      "id": "CountryTargeting",
      "description": "Country targeting specification.",
      "type": "object"
    },
    "CanceledStateContext": {
      "id": "CanceledStateContext",
      "description": "Information specific to a subscription in canceled state.",
      "type": "object",
      "properties": {
        "developerInitiatedCancellation": {
          "description": "Subscription was canceled by the developer.",
          "$ref": "DeveloperInitiatedCancellation"
        },
        "userInitiatedCancellation": {
          "description": "Subscription was canceled by user.",
          "$ref": "UserInitiatedCancellation"
        },
        "replacementCancellation": {
          "$ref": "ReplacementCancellation",
          "description": "Subscription was replaced by a new subscription."
        },
        "systemInitiatedCancellation": {
          "$ref": "SystemInitiatedCancellation",
          "description": "Subscription was canceled by the system, for example because of a billing problem."
        }
      }
    },
    "Variant": {
      "properties": {
        "variantId": {
          "format": "uint32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The ID of a previously created system APK variant."
        },
        "deviceSpec": {
          "$ref": "DeviceSpec",
          "description": "The device spec used to generate the APK."
        }
      },
      "description": "APK that is suitable for inclusion in a system image. The resource of SystemApksService.",
      "id": "Variant",
      "type": "object"
    },
    "Comment": {
      "description": "An entry of conversation between user and developer.",
      "properties": {
        "developerComment": {
          "description": "A comment from a developer.",
          "$ref": "DeveloperComment"
        },
        "userComment": {
          "$ref": "UserComment",
          "description": "A comment from a user."
        }
      },
      "type": "object",
      "id": "Comment"
    },
    "InAppProduct": {
      "description": "An in-app product. The resource for InappproductsService.",
      "id": "InAppProduct",
      "type": "object",
      "properties": {
        "listings": {
          "additionalProperties": {
            "$ref": "InAppProductListing"
          },
          "type": "object",
          "description": "List of localized title and description data. Map key is the language of the localized data, as defined by BCP-47, e.g. \"en-US\"."
        },
        "managedProductTaxesAndComplianceSettings": {
          "$ref": "ManagedProductTaxAndComplianceSettings",
          "description": "Details about taxes and legal compliance. Only applicable to managed products."
        },
        "status": {
          "enum": [
            "statusUnspecified",
            "active",
            "inactive"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "The product is published and active in the store.",
            "The product is not published and therefore inactive in the store."
          ],
          "type": "string",
          "description": "The status of the product, e.g. whether it's active."
        },
        "defaultLanguage": {
          "description": "Default language of the localized data, as defined by BCP-47. e.g. \"en-US\".",
          "type": "string"
        },
        "packageName": {
          "description": "Package name of the parent app.",
          "type": "string"
        },
        "gracePeriod": {
          "type": "string",
          "description": "Grace period of the subscription, specified in ISO 8601 format. Allows developers to give their subscribers a grace period when the payment for the new recurrence period is declined. Acceptable values are P0D (zero days), P3D (three days), P7D (seven days), P14D (14 days), and P30D (30 days)."
        },
        "subscriptionPeriod": {
          "type": "string",
          "description": "Subscription period, specified in ISO 8601 format. Acceptable values are P1W (one week), P1M (one month), P3M (three months), P6M (six months), and P1Y (one year)."
        },
        "defaultPrice": {
          "description": "Default price. Cannot be zero, as in-app products are never free. Always in the developer's Checkout merchant currency.",
          "$ref": "Price"
        },
        "subscriptionTaxesAndComplianceSettings": {
          "description": "Details about taxes and legal compliance. Only applicable to subscription products.",
          "$ref": "SubscriptionTaxAndComplianceSettings"
        },
        "sku": {
          "type": "string",
          "description": "Stock-keeping-unit (SKU) of the product, unique within an app."
        },
        "prices": {
          "additionalProperties": {
            "$ref": "Price"
          },
          "description": "Prices per buyer region. None of these can be zero, as in-app products are never free. Map key is region code, as defined by ISO 3166-2.",
          "type": "object"
        },
        "trialPeriod": {
          "type": "string",
          "description": "Trial period, specified in ISO 8601 format. Acceptable values are anything between P7D (seven days) and P999D (999 days)."
        },
        "purchaseType": {
          "enumDescriptions": [
            "Unspecified purchase type.",
            "The default product type - one time purchase.",
            "In-app product with a recurring period."
          ],
          "enum": [
            "purchaseTypeUnspecified",
            "managedUser",
            "subscription"
          ],
          "type": "string",
          "description": "The type of the product, e.g. a recurring subscription."
        }
      }
    },
    "SubscriptionPurchasesDeferRequest": {
      "id": "SubscriptionPurchasesDeferRequest",
      "description": "Request for the purchases.subscriptions.defer API.",
      "properties": {
        "deferralInfo": {
          "description": "The information about the new desired expiry time for the subscription.",
          "$ref": "SubscriptionDeferralInfo"
        }
      },
      "type": "object"
    },
    "UserComment": {
      "properties": {
        "appVersionCode": {
          "type": "integer",
          "description": "Integer version code of the app as installed at the time the review was written. May be absent.",
          "format": "int32"
        },
        "thumbsUpCount": {
          "format": "int32",
          "description": "Number of users who have given this review a thumbs up.",
          "type": "integer"
        },
        "thumbsDownCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of users who have given this review a thumbs down."
        },
        "text": {
          "description": "The content of the comment, i.e. review body. In some cases users have been able to write a review with separate title and body; in those cases the title and body are concatenated and separated by a tab character.",
          "type": "string"
        },
        "appVersionName": {
          "type": "string",
          "description": "String version name of the app as installed at the time the review was written. May be absent."
        },
        "androidOsVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Integer Android SDK version of the user's device at the time the review was written, e.g. 23 is Marshmallow. May be absent."
        },
        "device": {
          "description": "Codename for the reviewer's device, e.g. klte, flounder. May be absent.",
          "type": "string"
        },
        "originalText": {
          "type": "string",
          "description": "Untranslated text of the review, where the review was translated. If the review was not translated this is left blank."
        },
        "starRating": {
          "type": "integer",
          "format": "int32",
          "description": "The star rating associated with the review, from 1 to 5."
        },
        "reviewerLanguage": {
          "type": "string",
          "description": "Language code for the reviewer. This is taken from the device settings so is not guaranteed to match the language the review is written in. May be absent."
        },
        "lastModified": {
          "description": "The last time at which this comment was updated.",
          "$ref": "Timestamp"
        },
        "deviceMetadata": {
          "description": "Information about the characteristics of the user's device.",
          "$ref": "DeviceMetadata"
        }
      },
      "description": "User entry from conversation between user and developer.",
      "id": "UserComment",
      "type": "object"
    },
    "OtherRegionsSubscriptionOfferPhaseConfig": {
      "type": "object",
      "properties": {
        "otherRegionsPrices": {
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices"
        },
        "absoluteDiscounts": {
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices"
        },
        "relativeDiscount": {
          "type": "number",
          "format": "double",
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in any new locations Play may launch in."
        }
      },
      "description": "Configuration for any new locations Play may launch in for a single offer phase.",
      "id": "OtherRegionsSubscriptionOfferPhaseConfig"
    },
    "MigrateBasePlanPricesRequest": {
      "description": "Request message for MigrateBasePlanPrices.",
      "type": "object",
      "properties": {
        "regionsVersion": {
          "$ref": "RegionsVersion",
          "description": "Required. The version of the available regions being used for the regional_price_migrations."
        },
        "regionalPriceMigrations": {
          "description": "Required. The regional prices to update.",
          "type": "array",
          "items": {
            "$ref": "RegionalPriceMigrationConfig"
          }
        }
      },
      "id": "MigrateBasePlanPricesRequest"
    },
    "DeviceTierSet": {
      "description": "A set of device tiers. A tier set determines what variation of app content gets served to a specific device, for device-targeted content. You should assign a priority level to each tier, which determines the ordering by which they are evaluated by Play. See the documentation of DeviceTier.level for more details.",
      "properties": {
        "deviceTiers": {
          "items": {
            "$ref": "DeviceTier"
          },
          "description": "Device tiers belonging to the set.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "DeviceTierSet"
    },
    "SubscriptionOffer": {
      "type": "object",
      "properties": {
        "basePlanId": {
          "description": "Required. Immutable. The ID of the base plan to which this offer is an extension.",
          "type": "string"
        },
        "phases": {
          "type": "array",
          "items": {
            "$ref": "SubscriptionOfferPhase"
          },
          "description": "Required. The phases of this subscription offer. Must contain at least one entry, and may contain at most five. Users will always receive all these phases in the specified order. Phases may not be added, removed, or reordered after initial creation."
        },
        "productId": {
          "type": "string",
          "description": "Required. Immutable. The ID of the parent subscription this offer belongs to."
        },
        "targeting": {
          "$ref": "SubscriptionOfferTargeting",
          "description": "The requirements that users need to fulfil to be eligible for this offer. Represents the requirements that Play will evaluate to decide whether an offer should be returned. Developers may further filter these offers themselves."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Output only. The current state of this offer. Can be changed using Activate and Deactivate actions. NB: the base plan state supersedes this state, so an active offer may not be available if the base plan is not active.",
          "enumDescriptions": [
            "Default value, should never be used.",
            "The subscription offer is not and has never been available to users.",
            "The subscription offer is available to new and existing users.",
            "The subscription offer is not available to new users. Existing users retain access."
          ]
        },
        "otherRegionsConfig": {
          "description": "The configuration for any new locations Play may launch in the future.",
          "$ref": "OtherRegionsSubscriptionOfferConfig"
        },
        "regionalConfigs": {
          "description": "Required. The region-specific configuration of this offer. Must contain at least one entry.",
          "items": {
            "$ref": "RegionalSubscriptionOfferConfig"
          },
          "type": "array"
        },
        "packageName": {
          "description": "Required. Immutable. The package name of the app the parent subscription belongs to.",
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "description": "Required. Immutable. Unique ID of this subscription offer. Must be unique within the base plan."
        },
        "offerTags": {
          "items": {
            "$ref": "OfferTag"
          },
          "type": "array",
          "description": "List of up to 20 custom tags specified for this offer, and returned to the app through the billing library."
        }
      },
      "id": "SubscriptionOffer",
      "description": "A single, temporary offer"
    },
    "ImagesListResponse": {
      "properties": {
        "images": {
          "description": "All listed Images.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        }
      },
      "description": "Response listing all images.",
      "id": "ImagesListResponse",
      "type": "object"
    },
    "DeviceGroup": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the group."
        },
        "deviceSelectors": {
          "items": {
            "$ref": "DeviceSelector"
          },
          "type": "array",
          "description": "Device selectors for this group. A device matching any of the selectors is included in this group."
        }
      },
      "description": "LINT.IfChange A group of devices. A group is defined by a set of device selectors. A device belongs to the group if it matches any selector (logical OR).",
      "type": "object",
      "id": "DeviceGroup"
    },
    "ReplacementCancellation": {
      "id": "ReplacementCancellation",
      "description": "Information specific to cancellations caused by subscription replacement.",
      "type": "object",
      "properties": {}
    },
    "ActivateSubscriptionOfferRequest": {
      "description": "Request message for ActivateSubscriptionOffer.",
      "id": "ActivateSubscriptionOfferRequest",
      "type": "object",
      "properties": {}
    },
    "InappproductsListResponse": {
      "type": "object",
      "description": "Response listing all in-app products.",
      "properties": {
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "Deprecated and unset."
        },
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#inappproductsListResponse\")."
        },
        "inappproduct": {
          "description": "All in-app products.",
          "items": {
            "$ref": "InAppProduct"
          },
          "type": "array"
        },
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        }
      },
      "id": "InappproductsListResponse"
    },
    "Money": {
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        },
        "units": {
          "format": "int64",
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "type": "object"
    },
    "OtherRegionsBasePlanConfig": {
      "id": "OtherRegionsBasePlanConfig",
      "type": "object",
      "properties": {
        "eurPrice": {
          "description": "Required. Price in EUR to use for any new locations Play may launch in.",
          "$ref": "Money"
        },
        "newSubscriberAvailability": {
          "description": "Whether the base plan is available for new subscribers in any new locations Play may launch in. If not specified, this will default to false.",
          "type": "boolean"
        },
        "usdPrice": {
          "description": "Required. Price in USD to use for any new locations Play may launch in.",
          "$ref": "Money"
        }
      },
      "description": "Pricing information for any new locations Play may launch in."
    },
    "RegionsVersion": {
      "id": "RegionsVersion",
      "properties": {
        "version": {
          "description": "Required. A string representing version of the available regions being used for the specified resource. The current version is 2022/01.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The version of the available regions being used for the specified resource."
    },
    "AcquisitionTargetingRule": {
      "id": "AcquisitionTargetingRule",
      "type": "object",
      "properties": {
        "scope": {
          "$ref": "TargetingRuleScope",
          "description": "Required. The scope of subscriptions this rule considers. Only allows \"this subscription\" and \"any subscription in app\"."
        }
      },
      "description": "Represents a targeting rule of the form: User never had {scope} before."
    },
    "PrepaidBasePlanType": {
      "id": "PrepaidBasePlanType",
      "type": "object",
      "description": "Represents a base plan that does not automatically renew at the end of the base plan, and must be manually renewed by the user.",
      "properties": {
        "timeExtension": {
          "type": "string",
          "description": "Whether users should be able to extend this prepaid base plan in Google Play surfaces. Defaults to TIME_EXTENSION_ACTIVE if not specified.",
          "enumDescriptions": [
            "Unspecified state.",
            "Time extension is active. Users are allowed to top-up or extend their prepaid plan.",
            "Time extension is inactive. Users cannot top-up or extend their prepaid plan."
          ],
          "enum": [
            "TIME_EXTENSION_UNSPECIFIED",
            "TIME_EXTENSION_ACTIVE",
            "TIME_EXTENSION_INACTIVE"
          ]
        },
        "billingPeriodDuration": {
          "type": "string",
          "description": "Required. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center."
        }
      }
    },
    "PageInfo": {
      "type": "object",
      "id": "PageInfo",
      "properties": {
        "startIndex": {
          "description": "Index of the first result returned in the current page.",
          "format": "int32",
          "type": "integer"
        },
        "totalResults": {
          "description": "Total number of results available on the backend ! The total number of results in the result set.",
          "type": "integer",
          "format": "int32"
        },
        "resultPerPage": {
          "description": "Maximum number of results returned in one page. ! The number of results included in the API response.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Information about the current page. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned."
    },
    "ListDeviceTierConfigsResponse": {
      "properties": {
        "deviceTierConfigs": {
          "description": "Device tier configs created by the developer.",
          "type": "array",
          "items": {
            "$ref": "DeviceTierConfig"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListDeviceTierConfigsResponse",
      "type": "object",
      "description": "Response listing existing device tier configs."
    },
    "RegionalTaxRateInfo": {
      "properties": {
        "eligibleForStreamingServiceTaxRate": {
          "description": "You must tell us if your app contains streaming products to correctly charge US state and local sales tax. Field only supported in United States.",
          "type": "boolean"
        },
        "streamingTaxType": {
          "description": "To collect communications or amusement taxes in the United States, choose the appropriate tax category. By default Google will determine the collected rate based on the buyer ZIP code. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498#streaming_tax).",
          "enum": [
            "STREAMING_TAX_TYPE_UNSPECIFIED",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_SALES",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_MULTI_CHANNEL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_SALES",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_MULTI_CHANNEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "No telecommunications tax collected.",
            "US-specific telecommunications tax tier for video streaming, on demand, rentals / subscriptions / pay-per-view.",
            "US-specific telecommunications tax tier for video streaming of pre-recorded content like movies, tv shows.",
            "US-specific telecommunications tax tier for video streaming of multi-channel programming.",
            "US-specific telecommunications tax tier for audio streaming, rental / subscription.",
            "US-specific telecommunications tax tier for audio streaming, sale / permanent download.",
            "US-specific telecommunications tax tier for multi channel audio streaming like radio."
          ]
        },
        "taxTier": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TAX_TIER_UNSPECIFIED",
            "TAX_TIER_BOOKS_1",
            "TAX_TIER_NEWS_1",
            "TAX_TIER_NEWS_2",
            "TAX_TIER_MUSIC_OR_AUDIO_1",
            "TAX_TIER_LIVE_OR_BROADCAST_1"
          ],
          "type": "string",
          "description": "Tax tier to specify reduced tax rate. Developers who sell digital news, magazines, newspapers, books, or audiobooks in various regions may be eligible for reduced tax rates. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498)."
        }
      },
      "id": "RegionalTaxRateInfo",
      "description": "Specified details about taxation in a given geographical region.",
      "type": "object"
    },
    "SystemApksListResponse": {
      "properties": {
        "variants": {
          "description": "All system APK variants created.",
          "items": {
            "$ref": "Variant"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "SystemApksListResponse",
      "description": "Response to list previously created system APK variants."
    },
    "ConvertedOtherRegionsPrice": {
      "properties": {
        "usdPrice": {
          "description": "Price in USD to use for the \"Other regions\" location exclusive of taxes.",
          "$ref": "Money"
        },
        "eurPrice": {
          "description": "Price in EUR to use for the \"Other regions\" location exclusive of taxes.",
          "$ref": "Money"
        }
      },
      "id": "ConvertedOtherRegionsPrice",
      "type": "object",
      "description": "Converted other regions prices."
    },
    "DeactivateBasePlanRequest": {
      "description": "Request message for DeactivateBasePlan.",
      "id": "DeactivateBasePlanRequest",
      "properties": {},
      "type": "object"
    },
    "AppEdit": {
      "id": "AppEdit",
      "type": "object",
      "properties": {
        "expiryTimeSeconds": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time (as seconds since Epoch) at which the edit will expire and will be no longer valid for use."
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier of the edit. Can be used in subsequent API calls."
        }
      },
      "description": "An app edit. The resource for EditsService."
    },
    "ApkBinary": {
      "properties": {
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command."
        },
        "sha256": {
          "description": "A sha256 hash of the APK payload, encoded as a hex string and matching the output of the sha256sum command.",
          "type": "string"
        }
      },
      "description": "Represents the binary payload of an APK.",
      "id": "ApkBinary",
      "type": "object"
    },
    "ListingsListResponse": {
      "description": "Response listing all localized listings.",
      "id": "ListingsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#listingsListResponse\")."
        },
        "listings": {
          "items": {
            "$ref": "Listing"
          },
          "description": "All localized listings.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "DeviceSpec": {
      "type": "object",
      "properties": {
        "screenDensity": {
          "description": "Screen dpi.",
          "type": "integer",
          "format": "uint32"
        },
        "supportedLocales": {
          "description": "All installed locales represented as BCP-47 strings, e.g. \"en-US\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportedAbis": {
          "description": "Supported ABI architectures in the order of preference. The values should be the string as reported by the platform, e.g. \"armeabi-v7a\", \"x86_64\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DeviceSpec",
      "description": "The device spec used to generate a system APK."
    },
    "SubscriptionTaxAndComplianceSettings": {
      "properties": {
        "taxRateInfoByRegionCode": {
          "type": "object",
          "description": "A mapping from region code to tax rate details. The keys are region codes as defined by Unicode's \"CLDR\".",
          "additionalProperties": {
            "$ref": "RegionalTaxRateInfo"
          }
        },
        "eeaWithdrawalRightType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Digital content or service classification for products distributed to users in the European Economic Area (EEA). The withdrawal regime under EEA consumer laws depends on this classification. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ]
        }
      },
      "id": "SubscriptionTaxAndComplianceSettings",
      "description": "Details about taxation, Google Play policy and legal compliance for subscription products.",
      "type": "object"
    },
    "SubscriptionPurchasesDeferResponse": {
      "properties": {
        "newExpiryTimeMillis": {
          "description": "The new expiry time for the subscription in milliseconds since the Epoch.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SubscriptionPurchasesDeferResponse",
      "type": "object",
      "description": "Response for the purchases.subscriptions.defer API."
    },
    "ApksListResponse": {
      "description": "Response listing all APKs.",
      "type": "object",
      "id": "ApksListResponse",
      "properties": {
        "apks": {
          "type": "array",
          "description": "All APKs.",
          "items": {
            "$ref": "Apk"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#apksListResponse\")."
        }
      }
    },
    "MigrateBasePlanPricesResponse": {
      "properties": {},
      "description": "Response message for MigrateBasePlanPrices.",
      "type": "object",
      "id": "MigrateBasePlanPricesResponse"
    },
    "SubscriptionOfferPhase": {
      "properties": {
        "regionalConfigs": {
          "items": {
            "$ref": "RegionalSubscriptionOfferPhaseConfig"
          },
          "description": "Required. The region-specific configuration of this offer phase. This list must contain exactly one entry for each region for which the subscription offer has a regional config.",
          "type": "array"
        },
        "otherRegionsConfig": {
          "description": "Pricing information for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhaseConfig"
        },
        "duration": {
          "type": "string",
          "description": "Required. The duration of a single recurrence of this phase. Specified in ISO 8601 format."
        },
        "recurrenceCount": {
          "format": "int32",
          "description": "Required. The number of times this phase repeats. If this offer phase is not free, each recurrence charges the user the price of this offer phase.",
          "type": "integer"
        }
      },
      "id": "SubscriptionOfferPhase",
      "description": "A single phase of a subscription offer.",
      "type": "object"
    },
    "ExternalAccountIdentifiers": {
      "description": "User account identifier in the third-party service.",
      "type": "object",
      "id": "ExternalAccountIdentifiers",
      "properties": {
        "externalAccountId": {
          "type": "string",
          "description": "User account identifier in the third-party service. Only present if account linking happened as part of the subscription purchase flow."
        },
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        },
        "obfuscatedExternalAccountId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Present for the following purchases: * If account linking happened as part of the subscription purchase flow. * It was specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made."
        }
      }
    },
    "IntroductoryPriceInfo": {
      "type": "object",
      "description": "Contains the introductory price information for a subscription.",
      "properties": {
        "introductoryPriceAmountMicros": {
          "type": "string",
          "description": "Introductory price of the subscription, not including tax. The currency is the same as price_currency_code. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000.",
          "format": "int64"
        },
        "introductoryPricePeriod": {
          "type": "string",
          "description": "Introductory price period, specified in ISO 8601 format. Common values are (but not limited to) \"P1W\" (one week), \"P1M\" (one month), \"P3M\" (three months), \"P6M\" (six months), and \"P1Y\" (one year)."
        },
        "introductoryPriceCycles": {
          "format": "int32",
          "type": "integer",
          "description": "The number of billing period to offer introductory pricing."
        },
        "introductoryPriceCurrencyCode": {
          "type": "string",
          "description": "ISO 4217 currency code for the introductory subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is \"GBP\"."
        }
      },
      "id": "IntroductoryPriceInfo"
    },
    "ActivateBasePlanRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for ActivateBasePlan.",
      "id": "ActivateBasePlanRequest"
    },
    "Grant": {
      "properties": {
        "appLevelPermissions": {
          "items": {
            "type": "string",
            "enum": [
              "APP_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_ACCESS_APP",
              "CAN_VIEW_FINANCIAL_DATA",
              "CAN_MANAGE_PERMISSIONS",
              "CAN_REPLY_TO_REVIEWS",
              "CAN_MANAGE_PUBLIC_APKS",
              "CAN_MANAGE_TRACK_APKS",
              "CAN_MANAGE_TRACK_USERS",
              "CAN_MANAGE_PUBLIC_LISTING",
              "CAN_MANAGE_DRAFT_APPS",
              "CAN_MANAGE_ORDERS"
            ],
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information (read-only).",
              "View financial data.",
              "Admin (all permissions).",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Edit and delete draft apps.",
              "Manage orders and subscriptions."
            ]
          },
          "type": "array",
          "description": "The permissions granted to the user for this app."
        },
        "packageName": {
          "type": "string",
          "description": "Immutable. The package name of the app. This will be empty for draft apps."
        },
        "name": {
          "type": "string",
          "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name."
        }
      },
      "id": "Grant",
      "description": "An access grant resource.",
      "type": "object"
    },
    "GeneratedUniversalApk": {
      "description": "Download metadata for a universal APK.",
      "type": "object",
      "id": "GeneratedUniversalApk",
      "properties": {
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        }
      }
    },
    "InAppProductListing": {
      "id": "InAppProductListing",
      "type": "object",
      "description": "Store listing of a single in-app product.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description for the store listing."
        },
        "benefits": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Localized entitlement benefits for a subscription."
        },
        "title": {
          "type": "string",
          "description": "Title for the store listing."
        }
      }
    },
    "GeneratedSplitApk": {
      "id": "GeneratedSplitApk",
      "description": "Download metadata for a split APK.",
      "type": "object",
      "properties": {
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "splitId": {
          "description": "Split ID. Empty for the main split of the base module.",
          "type": "string"
        },
        "moduleName": {
          "description": "Name of the module that this APK belongs to.",
          "type": "string"
        },
        "variantId": {
          "format": "int32",
          "description": "ID of the generated variant.",
          "type": "integer"
        }
      }
    },
    "ApksAddExternallyHostedResponse": {
      "properties": {
        "externallyHostedApk": {
          "description": "The definition of the externally-hosted APK and where it is located.",
          "$ref": "ExternallyHostedApk"
        }
      },
      "id": "ApksAddExternallyHostedResponse",
      "type": "object",
      "description": "Response for creating a new externally hosted APK."
    },
    "UsesPermission": {
      "id": "UsesPermission",
      "properties": {
        "name": {
          "description": "The name of the permission requested.",
          "type": "string"
        },
        "maxSdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optionally, the maximum SDK version for which the permission is required."
        }
      },
      "description": "A permission used by this APK.",
      "type": "object"
    },
    "Image": {
      "type": "object",
      "description": "An uploaded image. The resource for ImagesService.",
      "id": "Image",
      "properties": {
        "id": {
          "description": "A unique id representing this image.",
          "type": "string"
        },
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the image."
        },
        "sha256": {
          "type": "string",
          "description": "A sha256 hash of the image."
        },
        "url": {
          "description": "A URL that will serve a preview of the image.",
          "type": "string"
        }
      }
    },
    "Bundle": {
      "id": "Bundle",
      "properties": {
        "sha1": {
          "description": "A sha1 hash of the upload payload, encoded as a hex string and matching the output of the sha1sum command.",
          "type": "string"
        },
        "sha256": {
          "type": "string",
          "description": "A sha256 hash of the upload payload, encoded as a hex string and matching the output of the sha256sum command."
        },
        "versionCode": {
          "format": "int32",
          "type": "integer",
          "description": "The version code of the Android App Bundle, as specified in the Android App Bundle's base module APK manifest file."
        }
      },
      "type": "object",
      "description": "Information about an app bundle. The resource for BundlesService."
    },
    "Apk": {
      "id": "Apk",
      "type": "object",
      "properties": {
        "versionCode": {
          "type": "integer",
          "description": "The version code of the APK, as specified in the manifest file.",
          "format": "int32"
        },
        "binary": {
          "description": "Information about the binary payload of this APK.",
          "$ref": "ApkBinary"
        }
      },
      "description": "Information about an APK. The resource for ApksService."
    },
    "GeneratedAssetPackSlice": {
      "type": "object",
      "description": "Download metadata for an asset pack slice.",
      "properties": {
        "version": {
          "description": "Asset module version.",
          "format": "int64",
          "type": "string"
        },
        "moduleName": {
          "description": "Name of the module that this asset slice belongs to.",
          "type": "string"
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "sliceId": {
          "type": "string",
          "description": "Asset slice ID."
        }
      },
      "id": "GeneratedAssetPackSlice"
    },
    "Listing": {
      "id": "Listing",
      "description": "A localized store listing. The resource for ListingsService.",
      "properties": {
        "title": {
          "description": "Localized title of the app.",
          "type": "string"
        },
        "shortDescription": {
          "type": "string",
          "description": "Short description of the app."
        },
        "fullDescription": {
          "description": "Full description of the app.",
          "type": "string"
        },
        "video": {
          "type": "string",
          "description": "URL of a promotional YouTube video for the app."
        },
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PrepaidPlan": {
      "description": "Information related to a prepaid plan.",
      "id": "PrepaidPlan",
      "type": "object",
      "properties": {
        "allowExtendAfterTime": {
          "type": "string",
          "description": "If present, this is the time after which top up purchases are allowed for the prepaid plan. Will not be present for expired prepaid plans.",
          "format": "google-datetime"
        }
      }
    },
    "Review": {
      "id": "Review",
      "properties": {
        "reviewId": {
          "type": "string",
          "description": "Unique identifier for this review."
        },
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "description": "A repeated field containing comments for the review.",
          "type": "array"
        },
        "authorName": {
          "type": "string",
          "description": "The name of the user who wrote the review."
        }
      },
      "description": "An Android app review.",
      "type": "object"
    },
    "OfferTag": {
      "properties": {
        "tag": {
          "type": "string",
          "description": "Must conform with RFC-1034. That is, this string can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 20 characters."
        }
      },
      "description": "Represents a custom tag specified for base plans and subscription offers.",
      "id": "OfferTag",
      "type": "object"
    },
    "ReviewsReplyResponse": {
      "description": "Response on status of replying to a review.",
      "properties": {
        "result": {
          "$ref": "ReviewReplyResult",
          "description": "The result of replying/updating a reply to review."
        }
      },
      "type": "object",
      "id": "ReviewsReplyResponse"
    },
    "DeviceId": {
      "description": "Identifier of a device.",
      "id": "DeviceId",
      "properties": {
        "buildDevice": {
          "type": "string",
          "description": "Value of Build.DEVICE."
        },
        "buildBrand": {
          "description": "Value of Build.BRAND.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeviceRam": {
      "description": "Conditions about a device's RAM capabilities.",
      "type": "object",
      "id": "DeviceRam",
      "properties": {
        "maxBytes": {
          "type": "string",
          "format": "int64",
          "description": "Maximum RAM in bytes (bound excluded)."
        },
        "minBytes": {
          "format": "int64",
          "description": "Minimum RAM in bytes (bound included).",
          "type": "string"
        }
      }
    },
    "Testers": {
      "properties": {
        "googleGroups": {
          "items": {
            "type": "string"
          },
          "description": "All testing Google Groups, as email addresses.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The testers of an app. The resource for TestersService. Note: while it is possible in the Play Console UI to add testers via email lists, email lists are not supported by this resource.",
      "id": "Testers"
    },
    "Price": {
      "description": "Definition of a price, i.e. currency and units.",
      "id": "Price",
      "type": "object",
      "properties": {
[...]
