{
  "basePath": "/bigquery/v2/",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "servicePath": "bigquery/v2/",
  "title": "BigQuery API",
  "ownerName": "Google",
  "rootUrl": "https://bigquery.googleapis.com/",
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "parameters": {
    "userIp": {
      "type": "string",
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    }
  },
  "batchPath": "batch/bigquery/v2",
  "description": "A data platform for customers to create, manage, share and query data.",
  "id": "bigquery:v2",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "protocol": "rest",
  "revision": "20221015",
  "version": "v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        }
      }
    }
  },
  "resources": {
    "models": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "description": "Deletes the model specified by modelId from the dataset.",
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the model to delete.",
              "type": "string"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Dataset ID of the model to delete."
            },
            "modelId": {
              "description": "Required. Model ID of the model to delete.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "id": "bigquery.models.delete",
          "httpMethod": "DELETE",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ]
        },
        "list": {
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the models to list.",
              "pattern": "^[^/]+$"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "uint32",
              "type": "integer"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Dataset ID of the models to list.",
              "type": "string"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call to request the next page of results",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListModelsResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "id": "bigquery.models.list",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "id": "bigquery.models.get",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "description": "Gets the specified model resource by model ID.",
          "parameters": {
            "modelId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Model ID of the requested model."
            },
            "datasetId": {
              "required": true,
              "description": "Required. Dataset ID of the requested model.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Project ID of the requested model.",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "response": {
            "$ref": "Model"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}"
        },
        "patch": {
          "response": {
            "$ref": "Model"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "id": "bigquery.models.patch",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "httpMethod": "PATCH",
          "description": "Patch specific fields in the specified model.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "request": {
            "$ref": "Model"
          },
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Dataset ID of the model to patch.",
              "type": "string"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the model to patch.",
              "required": true
            },
            "modelId": {
              "required": true,
              "location": "path",
              "description": "Required. Model ID of the model to patch.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        }
      }
    },
    "tables": {
      "methods": {
        "getIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "resource": {
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "id": "bigquery.tables.getIamPolicy",
          "path": "{+resource}:getIamPolicy",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "TableList"
          },
          "parameters": {
            "projectId": {
              "description": "Project ID of the tables to list",
              "location": "path",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Dataset ID of the tables to list"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.tables.list",
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role."
        },
        "delete": {
          "id": "bigquery.tables.delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "tableId": {
              "location": "path",
              "required": true,
              "description": "Table ID of the table to delete",
              "type": "string"
            },
            "datasetId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Dataset ID of the table to delete"
            },
            "projectId": {
              "description": "Project ID of the table to delete",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "httpMethod": "DELETE",
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted."
        },
        "setIamPolicy": {
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "required": true
            }
          },
          "httpMethod": "POST",
          "path": "{+resource}:setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "id": "bigquery.tables.setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ]
        },
        "testIamPermissions": {
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "path": "{+resource}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "id": "bigquery.tables.testIamPermissions",
          "httpMethod": "POST"
        },
        "update": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "httpMethod": "PUT",
          "id": "bigquery.tables.update",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "request": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "tableId": {
              "description": "Table ID of the table to update",
              "type": "string",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "required": true,
              "description": "Dataset ID of the table to update",
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Project ID of the table to update",
              "location": "path"
            },
            "autodetect_schema": {
              "description": "When true will autodetect schema, else will keep original schema",
              "location": "query",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "Table"
          },
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource."
        },
        "patch": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Project ID of the table to update",
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the table to update",
              "required": true,
              "type": "string"
            },
            "autodetect_schema": {
              "location": "query",
              "description": "When true will autodetect schema, else will keep original schema",
              "type": "boolean"
            },
            "tableId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Table ID of the table to update"
            }
          },
          "httpMethod": "PATCH",
          "id": "bigquery.tables.patch",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "response": {
            "$ref": "Table"
          },
          "request": {
            "$ref": "Table"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Table"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the new table"
            },
            "datasetId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Dataset ID of the new table"
            }
          },
          "id": "bigquery.tables.insert",
          "description": "Creates a new, empty table in the dataset.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "httpMethod": "POST",
          "response": {
            "$ref": "Table"
          }
        },
        "get": {
          "parameters": {
            "view": {
              "enum": [
                "BASIC",
                "FULL",
                "STORAGE_STATS",
                "TABLE_METADATA_VIEW_UNSPECIFIED"
              ],
              "description": "Specifies the view that determines which table information is returned. By default, basic table information and storage statistics (STORAGE_STATS) are returned.",
              "enumDescriptions": [
                "Includes basic table information including schema and partitioning specification. This view does not include storage statistics such as numRows or numBytes. This view is significantly more efficient and should be used to support high query rates.",
                "Includes all table information, including storage statistics. It returns same information as STORAGE_STATS view, but may contain additional information in the future.",
                "Includes all information in the BASIC view as well as storage statistics (numBytes, numLongTermBytes, numRows and lastModifiedTime).",
                "The default value. Default to the STORAGE_STATS view."
              ],
              "location": "query",
              "type": "string"
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string",
              "location": "query"
            },
            "tableId": {
              "required": true,
              "type": "string",
              "description": "Table ID of the requested table",
              "location": "path"
            },
            "datasetId": {
              "description": "Dataset ID of the requested table",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the requested table",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "httpMethod": "GET",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.get",
          "response": {
            "$ref": "Table"
          }
        }
      }
    },
    "routines": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "readMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "uint32",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "description": "If set, then only the Routines matching this filter are returned. The current supported form is either \"routine_type:\" or \"routineType:\", where is a RoutineType enum. Example: \"routineType:SCALAR_FUNCTION\".",
              "type": "string"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Dataset ID of the routines to list",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "description": "Required. Project ID of the routines to list",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "id": "bigquery.routines.list",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines"
        },
        "insert": {
          "response": {
            "$ref": "Routine"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the new routine",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the new routine",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "id": "bigquery.routines.insert",
          "request": {
            "$ref": "Routine"
          },
          "description": "Creates a new routine in the dataset."
        },
        "get": {
          "description": "Gets the specified routine resource by routine ID.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "readMask": {
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the requested routine"
            },
            "routineId": {
              "description": "Required. Routine ID of the requested routine",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "description": "Required. Project ID of the requested routine",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "id": "bigquery.routines.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "response": {
            "$ref": "Routine"
          }
        },
        "update": {
          "parameters": {
            "projectId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the routine to update",
              "required": true
            },
            "routineId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Routine ID of the routine to update",
              "type": "string",
              "location": "path"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the routine to update",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "response": {
            "$ref": "Routine"
          },
          "id": "bigquery.routines.update",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Routine"
          },
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "delete": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Dataset ID of the routine to delete",
              "required": true
            },
            "projectId": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the routine to delete",
              "location": "path"
            },
            "routineId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Routine ID of the routine to delete"
            }
          },
          "httpMethod": "DELETE",
          "id": "bigquery.routines.delete",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "description": "Deletes the routine specified by routineId from the dataset."
        }
      }
    },
    "projects": {
      "methods": {
        "getServiceAccount": {
          "httpMethod": "GET",
          "id": "bigquery.projects.getServiceAccount",
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "path": "projects/{projectId}/serviceAccount",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID for which the service account is requested.",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "response": {
            "$ref": "ProjectList"
          },
          "path": "projects",
          "id": "bigquery.projects.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            }
          },
          "httpMethod": "GET",
          "description": "Lists all projects to which you have been granted any project role."
        }
      }
    },
    "jobs": {
      "methods": {
        "get": {
          "parameters": {
            "jobId": {
              "location": "path",
              "description": "[Required] Job ID of the requested job",
              "required": true,
              "type": "string"
            },
            "location": {
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string"
            },
            "projectId": {
              "description": "[Required] Project ID of the requested job",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "response": {
            "$ref": "Job"
          },
          "path": "projects/{projectId}/jobs/{jobId}",
          "httpMethod": "GET",
          "id": "bigquery.jobs.get",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that will be billed for the job",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Job"
          },
          "request": {
            "$ref": "Job"
          },
          "path": "projects/{projectId}/jobs",
          "parameterOrder": [
            "projectId"
          ],
          "id": "bigquery.jobs.insert",
          "httpMethod": "POST",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "supportsMediaUpload": true
        },
        "delete": {
          "description": "Requests the deletion of the metadata of a job. This call returns when the job's metadata is deleted.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "id": "bigquery.jobs.delete",
          "path": "projects/{+projectId}/jobs/{+jobId}/delete",
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/delete",
          "parameters": {
            "location": {
              "location": "query",
              "type": "string",
              "description": "The geographic location of the job. Required. See details at: https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "jobId": {
              "location": "path",
              "description": "Required. Job ID of the job for which metadata is to be deleted. If this is a parent job which has child jobs, the metadata from all child jobs will be deleted as well. Direct deletion of the metadata of child jobs is not allowed.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "description": "Required. Project ID of the job for which metadata is to be deleted.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getQueryResults": {
          "description": "Retrieves the results of a query job.",
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "location": {
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "description": "[Required] Project ID of the query job",
              "type": "string",
              "required": true
            },
            "jobId": {
              "description": "[Required] Job ID of the query job",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "startIndex": {
              "format": "uint64",
              "description": "Zero-based index of the starting row",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to read"
            },
            "timeoutMs": {
              "type": "integer",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false",
              "location": "query",
              "format": "uint32"
            }
          },
          "id": "bigquery.jobs.getQueryResults",
          "path": "projects/{projectId}/queries/{jobId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "list": {
          "response": {
            "$ref": "JobList"
          },
          "path": "projects/{projectId}/jobs",
          "id": "bigquery.jobs.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32"
            },
            "projection": {
              "type": "string",
              "description": "Restrict information returned to a set of selected fields",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "enum": [
                "full",
                "minimal"
              ],
              "location": "query"
            },
            "maxCreationTime": {
              "type": "string",
              "format": "uint64",
              "location": "query",
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned"
            },
            "minCreationTime": {
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "type": "string",
              "location": "query",
              "format": "uint64"
            },
            "parentJobId": {
              "type": "string",
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent",
              "location": "query"
            },
            "allUsers": {
              "location": "query",
              "description": "Whether to display jobs owned by all users in the project. Default false",
              "type": "boolean"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Project ID of the jobs to list",
              "location": "path"
            },
            "stateFilter": {
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "type": "string",
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "description": "Filter for job state",
              "location": "query",
              "repeated": true
            }
          }
        },
        "cancel": {
          "id": "bigquery.jobs.cancel",
          "httpMethod": "POST",
          "parameters": {
            "jobId": {
              "description": "[Required] Job ID of the job to cancel",
              "location": "path",
              "type": "string",
              "required": true
            },
            "projectId": {
              "description": "[Required] Project ID of the job to cancel",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "location": {
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "JobCancelResponse"
          }
        },
        "query": {
          "parameterOrder": [
            "projectId"
          ],
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "id": "bigquery.jobs.query",
          "path": "projects/{projectId}/queries",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project billed for the query",
              "location": "path"
            }
          },
          "request": {
            "$ref": "QueryRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "QueryResponse"
          }
        }
      }
    },
    "tabledata": {
      "methods": {
        "insertAll": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.tabledata.insertAll",
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "tableId": {
              "location": "path",
              "required": true,
              "description": "Table ID of the destination table.",
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Dataset ID of the destination table."
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the destination table.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "TableDataInsertAllResponse"
          }
        },
        "list": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "response": {
            "$ref": "TableDataList"
          },
          "id": "bigquery.tabledata.list",
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the table to read",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, identifying the result set",
              "type": "string",
              "location": "query"
            },
            "selectedFields": {
              "type": "string",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "location": "query"
            },
            "startIndex": {
              "type": "string",
              "description": "Zero-based index of the starting row to read",
              "location": "query",
              "format": "uint64"
            },
            "tableId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Table ID of the table to read"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Dataset ID of the table to read"
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "type": "integer",
              "format": "uint32",
              "location": "query"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "datasets": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.datasets.delete",
          "parameters": {
            "deleteContents": {
              "location": "query",
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
              "type": "boolean"
            },
            "projectId": {
              "description": "Project ID of the dataset being deleted",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "description": "Dataset ID of dataset being deleted",
              "location": "path"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "httpMethod": "DELETE"
        },
        "update": {
          "request": {
            "$ref": "Dataset"
          },
          "id": "bigquery.datasets.update",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "response": {
            "$ref": "Dataset"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the dataset being updated",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "description": "Dataset ID of the dataset being updated",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "get": {
          "path": "projects/{projectId}/datasets/{datasetId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "id": "bigquery.datasets.get",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Project ID of the requested dataset",
              "location": "path"
            },
            "datasetId": {
              "description": "Dataset ID of the requested dataset",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "description": "Returns the dataset specified by datasetID."
        },
        "patch": {
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "id": "bigquery.datasets.patch",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "request": {
            "$ref": "Dataset"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Project ID of the dataset being updated",
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "description": "Dataset ID of the dataset being updated",
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "DatasetList"
          },
          "path": "projects/{projectId}/datasets",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Project ID of the datasets to be listed",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of results to return",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            },
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query"
            },
            "all": {
              "description": "Whether to list all datasets, including hidden ones",
              "type": "boolean",
              "location": "query"
            },
            "filter": {
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.datasets.list",
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "httpMethod": "GET"
        },
        "insert": {
          "request": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.datasets.insert",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Dataset"
          },
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the new dataset"
            }
          },
          "description": "Creates a new empty dataset."
        }
      }
    },
    "rowAccessPolicies": {
      "methods": {
        "getIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "path": "{+resource}:getIamPolicy",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy",
          "parameters": {
            "resource": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.rowAccessPolicies.getIamPolicy",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "httpMethod": "POST"
        },
        "setIamPolicy": {
          "path": "{+resource}:setIamPolicy",
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "id": "bigquery.rowAccessPolicies.setIamPolicy",
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:setIamPolicy"
        },
        "testIamPermissions": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "path": "{+resource}:testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions",
          "parameters": {
            "resource": {
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "id": "bigquery.rowAccessPolicies.testIamPermissions"
        },
        "list": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          },
          "description": "Lists all row access policies on the specified table.",
          "parameters": {
            "tableId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. Table ID of the table to list row access policies."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results."
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of row access policies to list."
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "location": "query"
            },
            "projectId": {
              "description": "Required. Project ID of the row access policies to list.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "id": "bigquery.rowAccessPolicies.list",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    }
  },
  "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
  "name": "bigquery",
  "schemas": {
    "JobConfiguration": {
      "id": "JobConfiguration",
      "properties": {
        "dryRun": {
          "type": "boolean",
          "description": "[Optional] If set, don't actually run this job. A valid query will return a mostly empty response with some processing statistics, while an invalid query will return the same error it would if it wasn't a dry run. Behavior of non-query jobs is undefined."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key."
        },
        "load": {
          "$ref": "JobConfigurationLoad",
          "description": "[Pick one] Configures a load job."
        },
        "jobTimeoutMs": {
          "description": "[Optional] Job timeout in milliseconds. If this time limit is exceeded, BigQuery may attempt to terminate the job.",
          "format": "int64",
          "type": "string"
        },
        "copy": {
          "$ref": "JobConfigurationTableCopy",
          "description": "[Pick one] Copies a table."
        },
        "extract": {
          "description": "[Pick one] Configures an extract job.",
          "$ref": "JobConfigurationExtract"
        },
        "query": {
          "$ref": "JobConfigurationQuery",
          "description": "[Pick one] Configures a query job."
        },
        "jobType": {
          "description": "[Output-only] The type of the job. Can be QUERY, LOAD, EXTRACT, COPY or UNKNOWN.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Explanation": {
      "id": "Explanation",
      "properties": {
        "attribution": {
          "type": "number",
          "format": "double",
          "description": "Attribution of feature."
        },
        "featureName": {
          "description": "The full feature name. For non-numerical features, will be formatted like `.`. Overall size of feature name will always be truncated to first 120 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Explanation for a single feature."
    },
    "BinaryConfusionMatrix": {
      "properties": {
        "accuracy": {
          "description": "The fraction of predictions given the correct label.",
          "format": "double",
          "type": "number"
        },
        "trueNegatives": {
          "format": "int64",
          "description": "Number of true samples predicted as false.",
          "type": "string"
        },
        "precision": {
          "description": "The fraction of actual positive predictions that had positive actual labels.",
          "format": "double",
          "type": "number"
        },
        "f1Score": {
          "format": "double",
          "description": "The equally weighted average of recall and precision.",
          "type": "number"
        },
        "falsePositives": {
          "format": "int64",
          "type": "string",
          "description": "Number of false samples predicted as true."
        },
        "positiveClassThreshold": {
          "type": "number",
          "format": "double",
          "description": "Threshold value used when computing each of the following metric."
        },
        "falseNegatives": {
          "type": "string",
          "format": "int64",
          "description": "Number of false samples predicted as false."
        },
        "truePositives": {
          "format": "int64",
          "type": "string",
          "description": "Number of true samples predicted as true."
        },
        "recall": {
          "type": "number",
          "format": "double",
          "description": "The fraction of actual positive labels that were given a positive prediction."
        }
      },
      "id": "BinaryConfusionMatrix",
      "description": "Confusion matrix for binary classification models.",
      "type": "object"
    },
    "JobCancelResponse": {
      "id": "JobCancelResponse",
      "properties": {
        "kind": {
          "default": "bigquery#jobCancelResponse",
          "description": "The resource type of the response.",
          "type": "string"
        },
        "job": {
          "description": "The final state of the job.",
          "$ref": "Job"
        }
      },
      "type": "object"
    },
    "Dataset": {
      "properties": {
        "lastModifiedTime": {
          "type": "string",
          "description": "[Output-only] The date when this dataset or any of its tables was last modified, in milliseconds since the epoch.",
          "format": "int64"
        },
        "etag": {
          "description": "[Output-only] A hash of the resource.",
          "type": "string"
        },
        "datasetReference": {
          "$ref": "DatasetReference",
          "description": "[Required] A reference that identifies the dataset."
        },
        "defaultCollation": {
          "type": "string",
          "description": "[Output-only] The default collation of the dataset."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See Creating and Updating Dataset Labels for more information.",
          "type": "object"
        },
        "defaultPartitionExpirationMs": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] The default partition expiration for all partitioned tables in the dataset, in milliseconds. Once this property is set, all newly-created partitioned tables in the dataset will have an expirationMs property in the timePartitioning settings set to this value, and changing the value will only affect new tables, not existing ones. The storage in a partition will have an expiration time of its partition time plus this value. Setting this property overrides the use of defaultTableExpirationMs for partitioned tables: only one of defaultTableExpirationMs and defaultPartitionExpirationMs will be used for any new partitioned table. If you provide an explicit timePartitioning.expirationMs when creating or updating a partitioned table, that value takes precedence over the default partition expiration time indicated by this property."
        },
        "maxTimeTravelHours": {
          "type": "string",
          "description": "[Optional] Number of hours for the max time travel for all tables in the dataset.",
          "format": "int64"
        },
        "defaultEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration"
        },
        "location": {
          "type": "string",
          "description": "The geographic location where the dataset should reside. The default value is US. See details at https://cloud.google.com/bigquery/docs/locations."
        },
        "kind": {
          "description": "[Output-only] The resource type.",
          "default": "bigquery#dataset",
          "type": "string"
        },
        "access": {
          "type": "array",
          "description": "[Optional] An array of objects that define dataset access for one or more entities. You can set this property when inserting or updating a dataset in order to control who is allowed to access the data. If unspecified at dataset creation time, BigQuery adds default dataset access for the following entities: access.specialGroup: projectReaders; access.role: READER; access.specialGroup: projectWriters; access.role: WRITER; access.specialGroup: projectOwners; access.role: OWNER; access.userByEmail: [dataset creator email]; access.role: OWNER;",
          "items": {
            "type": "object",
            "properties": {
              "groupByEmail": {
                "type": "string",
                "description": "[Pick one] An email address of a Google Group to grant access to. Maps to IAM policy member \"group:GROUP\"."
              },
              "routine": {
                "$ref": "RoutineReference",
                "description": "[Pick one] A routine from a different dataset to grant access to. Queries executed against that routine will have read access to views/tables/routines in this dataset. Only UDF is supported for now. The role field is not required when this field is set. If that routine is updated by any user, access to the routine needs to be granted again via an update operation."
              },
              "view": {
                "description": "[Pick one] A view from a different dataset to grant access to. Queries executed against that view will have read access to tables in this dataset. The role field is not required when this field is set. If that view is updated by any user, access to the view needs to be granted again via an update operation.",
                "$ref": "TableReference"
              },
              "userByEmail": {
                "type": "string",
                "description": "[Pick one] An email address of a user to grant access to. For example: fred@example.com. Maps to IAM policy member \"user:EMAIL\" or \"serviceAccount:EMAIL\"."
              },
              "domain": {
                "type": "string",
                "description": "[Pick one] A domain to grant access to. Any users signed in with the domain specified will be granted the specified access. Example: \"example.com\". Maps to IAM policy member \"domain:DOMAIN\"."
              },
              "specialGroup": {
                "description": "[Pick one] A special group to grant access to. Possible values include: projectOwners: Owners of the enclosing project. projectReaders: Readers of the enclosing project. projectWriters: Writers of the enclosing project. allAuthenticatedUsers: All authenticated BigQuery users. Maps to similarly-named IAM members.",
                "type": "string"
              },
              "iamMember": {
                "description": "[Pick one] Some other type of member that appears in the IAM Policy but isn't a user, group, domain, or special group.",
                "type": "string"
              },
              "dataset": {
                "description": "[Pick one] A grant authorizing all resources of a particular type in a particular dataset access to this dataset. Only views are supported for now. The role field is not required when this field is set. If that dataset is deleted and re-created, its access needs to be granted again via an update operation.",
                "$ref": "DatasetAccessEntry"
              },
              "role": {
                "type": "string",
                "description": "[Required] An IAM role ID that should be granted to the user, group, or domain specified in this access entry. The following legacy mappings will be applied: OWNER  roles/bigquery.dataOwner WRITER  roles/bigquery.dataEditor READER  roles/bigquery.dataViewer This field will accept any of the above formats, but will return only the legacy format. For example, if you set this field to \"roles/bigquery.dataOwner\", it will be returned back as \"OWNER\"."
              }
            }
          }
        },
        "creationTime": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] The time when this dataset was created, in milliseconds since the epoch."
        },
        "description": {
          "type": "string",
          "description": "[Optional] A user-friendly description of the dataset."
        },
        "tags": {
          "items": {
            "properties": {
              "tagValue": {
                "type": "string",
                "description": "[Required] Friendly short name of the tag value, e.g. \"production\"."
              },
              "tagKey": {
                "type": "string",
                "description": "[Required] The namespaced friendly name of the tag key, e.g. \"12345/environment\" where 12345 is org id."
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "[Optional]The tags associated with this dataset. Tag keys are globally unique."
        },
        "id": {
          "description": "[Output-only] The fully-qualified unique name of the dataset in the format projectId:datasetId. The dataset name without the project name is given in the datasetId field. When creating a new dataset, leave this field blank, and instead specify the datasetId field.",
          "type": "string"
        },
        "storageBillingModel": {
          "type": "string",
          "description": "[Optional] Storage billing model to be used for all tables in the dataset. Can be set to PHYSICAL. Default is LOGICAL."
        },
        "defaultTableExpirationMs": {
          "format": "int64",
          "description": "[Optional] The default lifetime of all tables in the dataset, in milliseconds. The minimum value is 3600000 milliseconds (one hour). Once this property is set, all newly-created tables in the dataset will have an expirationTime property set to the creation time plus the value in this property, and changing the value will only affect new tables, not existing ones. When the expirationTime for a given table is reached, that table will be deleted automatically. If a table's expirationTime is modified or removed before the table expires, or if you provide an explicit expirationTime when creating a table, that value takes precedence over the default expiration time indicated by this property.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "[Output-only] A URL that can be used to access the resource again. You can use this URL in Get or Update requests to the resource."
        },
        "friendlyName": {
          "type": "string",
          "description": "[Optional] A descriptive name for the dataset."
        },
        "isCaseInsensitive": {
          "type": "boolean",
          "description": "[Optional] Indicates if table names are case insensitive in the dataset."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "[Output-only] Reserved for future use."
        }
      },
      "id": "Dataset",
      "type": "object"
    },
    "ModelDefinition": {
      "properties": {
        "trainingRuns": {
          "description": "[Output-only, Beta] Information about ml training runs, each training run comprises of multiple iterations and there may be multiple training runs for the model if warm start is used or if a user decides to continue a previously cancelled query.",
          "items": {
            "$ref": "BqmlTrainingRun"
          },
          "type": "array"
        },
        "modelOptions": {
          "description": "[Output-only, Beta] Model options used for the first training run. These options are immutable for subsequent training runs. Default values are used for any options not specified in the input query.",
          "type": "object",
          "properties": {
            "lossType": {
              "type": "string"
            },
            "labels": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "modelType": {
              "type": "string"
            }
          }
        }
      },
      "type": "object",
      "id": "ModelDefinition"
    },
    "TableList": {
      "properties": {
        "tables": {
          "description": "Tables in the requested dataset.",
          "items": {
            "properties": {
              "timePartitioning": {
                "description": "The time-based partitioning specification for this table, if configured.",
                "$ref": "TimePartitioning"
              },
              "tableReference": {
                "$ref": "TableReference",
                "description": "A reference uniquely identifying the table."
              },
              "expirationTime": {
                "type": "string",
                "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed.",
                "format": "int64"
              },
              "labels": {
                "type": "object",
                "description": "The labels associated with this table. You can use these to organize and group your tables.",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "id": {
                "type": "string",
                "description": "An opaque ID of the table"
              },
              "kind": {
                "default": "bigquery#table",
                "description": "The resource type.",
                "type": "string"
              },
              "view": {
                "properties": {
                  "useLegacySql": {
                    "description": "True if view is defined in legacy SQL dialect, false if in standard SQL.",
                    "type": "boolean"
                  }
                },
                "description": "Additional details for a view.",
                "type": "object"
              },
              "friendlyName": {
                "description": "The user-friendly name for this table.",
                "type": "string"
              },
              "rangePartitioning": {
                "description": "The range partitioning specification for this table, if configured.",
                "$ref": "RangePartitioning"
              },
              "clustering": {
                "$ref": "Clustering",
                "description": "[Beta] Clustering specification for this table, if configured."
              },
              "type": {
                "description": "The type of table. Possible values are: TABLE, VIEW.",
                "type": "string"
              },
              "creationTime": {
                "description": "The time when this table was created, in milliseconds since the epoch.",
                "type": "string",
                "format": "int64"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        },
        "kind": {
          "default": "bigquery#tableList",
          "description": "The type of list.",
          "type": "string"
        },
        "totalItems": {
          "type": "integer",
          "description": "The total number of tables in the dataset.",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "description": "A hash of this page of results."
        }
      },
      "type": "object",
      "id": "TableList"
    },
    "SnapshotDefinition": {
      "id": "SnapshotDefinition",
      "type": "object",
      "properties": {
        "snapshotTime": {
          "type": "string",
          "description": "[Required] The time at which the base table was snapshot. This value is reported in the JSON response using RFC3339 format.",
          "format": "date-time"
        },
        "baseTableReference": {
          "description": "[Required] Reference describing the ID of the table that was snapshot.",
          "$ref": "TableReference"
        }
      }
    },
    "JobConfigurationExtract": {
      "type": "object",
      "id": "JobConfigurationExtract",
      "properties": {
        "printHeader": {
          "default": "true",
          "description": "[Optional] Whether to print out a header row in the results. Default is true. Not applicable when extracting models.",
          "type": "boolean"
        },
        "useAvroLogicalTypes": {
          "type": "boolean",
          "description": "[Optional] If destinationFormat is set to \"AVRO\", this flag indicates whether to enable extracting applicable column types (such as TIMESTAMP) to their corresponding AVRO logical types (timestamp-micros), instead of only using their raw types (avro-long). Not applicable when extracting models."
        },
        "destinationFormat": {
          "type": "string",
          "description": "[Optional] The exported file format. Possible values include CSV, NEWLINE_DELIMITED_JSON, PARQUET or AVRO for tables and ML_TF_SAVED_MODEL or ML_XGBOOST_BOOSTER for models. The default value for tables is CSV. Tables with nested or repeated fields cannot be exported as CSV. The default value for models is ML_TF_SAVED_MODEL."
        },
        "destinationUri": {
          "description": "[Pick one] DEPRECATED: Use destinationUris instead, passing only one URI as necessary. The fully-qualified Google Cloud Storage URI where the extracted table should be written.",
          "type": "string"
        },
        "sourceModel": {
          "description": "A reference to the model being exported.",
          "$ref": "ModelReference"
        },
        "compression": {
          "type": "string",
          "description": "[Optional] The compression type to use for exported files. Possible values include GZIP, DEFLATE, SNAPPY, and NONE. The default value is NONE. DEFLATE and SNAPPY are only supported for Avro. Not applicable when extracting models."
        },
        "destinationUris": {
          "description": "[Pick one] A list of fully-qualified Google Cloud Storage URIs where the extracted table should be written.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fieldDelimiter": {
          "description": "[Optional] Delimiter to use between fields in the exported data. Default is ','. Not applicable when extracting models.",
          "type": "string"
        },
        "sourceTable": {
          "$ref": "TableReference",
          "description": "A reference to the table being exported."
        }
      }
    },
    "TimePartitioning": {
      "type": "object",
      "id": "TimePartitioning",
      "properties": {
        "requirePartitionFilter": {
          "type": "boolean"
        },
        "field": {
          "type": "string",
          "description": "[Beta] [Optional] If not set, the table is partitioned by pseudo column, referenced via either '_PARTITIONTIME' as TIMESTAMP type, or '_PARTITIONDATE' as DATE type. If field is specified, the table is instead partitioned by this field. The field must be a top-level TIMESTAMP or DATE field. Its mode must be NULLABLE or REQUIRED."
        },
        "expirationMs": {
          "description": "[Optional] Number of milliseconds for which to keep the storage for partitions in the table. The storage in a partition will have an expiration time of its partition time plus this value.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "description": "[Required] The supported types are DAY, HOUR, MONTH, and YEAR, which will generate one partition per day, hour, month, and year, respectively. When the type is not specified, the default behavior is DAY.",
          "type": "string"
        }
      }
    },
    "RowAccessPolicyReference": {
      "type": "object",
      "properties": {
        "policyId": {
          "type": "string",
          "description": "[Required] The ID of the row access policy. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters."
        },
        "datasetId": {
          "description": "[Required] The ID of the dataset containing this row access policy.",
          "type": "string"
        },
        "tableId": {
          "type": "string",
          "description": "[Required] The ID of the table containing this row access policy."
        },
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this row access policy."
        }
      },
      "id": "RowAccessPolicyReference"
    },
    "ArimaForecastingMetrics": {
      "type": "object",
      "properties": {
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          },
          "type": "array"
        },
        "nonSeasonalOrder": {
          "type": "array",
          "items": {
            "$ref": "ArimaOrder"
          },
          "description": "Non-seasonal order."
        },
        "arimaFittingMetrics": {
          "type": "array",
          "items": {
            "$ref": "ArimaFittingMetrics"
          },
          "description": "Arima model fitting metrics."
        },
        "hasDrift": {
          "items": {
            "type": "boolean"
          },
          "type": "array",
          "description": "Whether Arima model fitted with drift or not. It is always false when d is not 1."
        },
        "arimaSingleModelForecastingMetrics": {
          "description": "Repeated as there can be many metric sets (one for each model) in auto-arima and the large-scale case.",
          "items": {
            "$ref": "ArimaSingleModelForecastingMetrics"
          },
          "type": "array"
        },
        "timeSeriesId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Id to differentiate different time series for the large-scale case."
        }
      },
      "description": "Model evaluation metrics for ARIMA forecasting models.",
      "id": "ArimaForecastingMetrics"
    },
    "DatasetAccessEntry": {
      "properties": {
        "targetTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Do not use. You must set a target type explicitly.",
              "This entry applies to views in the dataset."
            ],
            "enum": [
              "TARGET_TYPE_UNSPECIFIED",
              "VIEWS"
            ]
          },
          "type": "array"
        },
        "dataset": {
          "description": "[Required] The dataset this entry applies to.",
          "$ref": "DatasetReference"
        }
      },
      "id": "DatasetAccessEntry",
      "type": "object"
    },
    "JobStatistics3": {
      "type": "object",
      "properties": {
        "outputRows": {
          "description": "[Output-only] Number of rows imported in a load job. Note that while an import job is in the running state, this value may change.",
          "format": "int64",
          "type": "string"
        },
        "outputBytes": {
          "format": "int64",
          "description": "[Output-only] Size of the loaded data in bytes. Note that while a load job is in the running state, this value may change.",
          "type": "string"
        },
        "inputFiles": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Number of source files in a load job."
        },
        "badRecords": {
          "format": "int64",
          "description": "[Output-only] The number of bad records encountered. Note that if the job has failed because of more bad records encountered than the maximum allowed in the load job configuration, then this number can be less than the total number of bad records present in the input data.",
          "type": "string"
        },
        "inputFileBytes": {
          "type": "string",
          "description": "[Output-only] Number of bytes of source data in a load job.",
          "format": "int64"
        }
      },
      "id": "JobStatistics3"
    },
    "FeatureValue": {
      "properties": {
        "categoricalValue": {
          "$ref": "CategoricalValue",
          "description": "The categorical feature value."
        },
        "featureColumn": {
          "type": "string",
          "description": "The feature column name."
        },
        "numericalValue": {
          "description": "The numerical feature value. This is the centroid value for this feature.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Representative value of a single feature within the cluster.",
      "id": "FeatureValue",
      "type": "object"
    },
    "RoutineReference": {
      "type": "object",
      "properties": {
        "routineId": {
          "description": "[Required] The ID of the routine. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this routine."
        },
        "datasetId": {
          "description": "[Required] The ID of the dataset containing this routine.",
          "type": "string"
        }
      },
      "id": "RoutineReference"
    },
    "ExplainQueryStage": {
      "type": "object",
      "id": "ExplainQueryStage",
      "properties": {
        "recordsRead": {
          "type": "string",
          "description": "Number of records read into the stage.",
          "format": "int64"
        },
        "inputStages": {
          "type": "array",
          "description": "IDs for stages that are inputs to this stage.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "startMs": {
          "format": "int64",
          "description": "Stage start time represented as milliseconds since epoch.",
          "type": "string"
        },
        "shuffleOutputBytesSpilled": {
          "type": "string",
          "format": "int64",
          "description": "Total number of bytes written to shuffle and spilled to disk."
        },
        "waitRatioMax": {
          "format": "double",
          "type": "number",
          "description": "Relative amount of time the slowest shard spent waiting to be scheduled."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "Unique ID for stage within plan."
        },
        "slotMs": {
          "description": "Slot-milliseconds used by the stage.",
          "format": "int64",
          "type": "string"
        },
        "waitMsMax": {
          "format": "int64",
          "description": "Milliseconds the slowest shard spent waiting to be scheduled.",
          "type": "string"
        },
        "steps": {
          "items": {
            "$ref": "ExplainQueryStep"
          },
          "type": "array",
          "description": "List of operations within the stage in dependency order (approximately chronological)."
        },
        "waitMsAvg": {
          "format": "int64",
          "description": "Milliseconds the average shard spent waiting to be scheduled.",
          "type": "string"
        },
        "writeMsAvg": {
          "format": "int64",
          "description": "Milliseconds the average shard spent on writing output.",
          "type": "string"
        },
        "writeRatioAvg": {
          "description": "Relative amount of time the average shard spent on writing output.",
          "format": "double",
          "type": "number"
        },
        "computeMsMax": {
          "type": "string",
          "format": "int64",
          "description": "Milliseconds the slowest shard spent on CPU-bound tasks."
        },
        "writeMsMax": {
          "type": "string",
          "format": "int64",
          "description": "Milliseconds the slowest shard spent on writing output."
        },
        "computeRatioAvg": {
          "type": "number",
          "format": "double",
          "description": "Relative amount of time the average shard spent on CPU-bound tasks."
        },
        "name": {
          "description": "Human-readable name for stage.",
          "type": "string"
        },
        "parallelInputs": {
          "format": "int64",
          "type": "string",
          "description": "Number of parallel input segments to be processed."
        },
        "computeRatioMax": {
          "format": "double",
          "description": "Relative amount of time the slowest shard spent on CPU-bound tasks.",
          "type": "number"
        },
        "readRatioAvg": {
          "description": "Relative amount of time the average shard spent reading input.",
          "type": "number",
          "format": "double"
        },
[...]
