{
  "id": "bigquery:v2",
  "discoveryVersion": "v1",
  "batchPath": "batch/bigquery/v2",
  "name": "bigquery",
  "basePath": "/bigquery/v2/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "description": "A data platform for customers to create, manage, share and query data.",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/search-16.gif",
    "x32": "https://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/bigquery/",
  "rootUrl": "https://bigquery.googleapis.com/",
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "schemas": {
    "PrincipalComponentInfo": {
      "properties": {
        "explainedVariance": {
          "description": "Explained variance by this principal component, which is simply the eigenvalue.",
          "type": "number",
          "format": "double"
        },
        "cumulativeExplainedVarianceRatio": {
          "format": "double",
          "description": "The explained_variance is pre-ordered in the descending order to compute the cumulative explained variance ratio.",
          "type": "number"
        },
        "explainedVarianceRatio": {
          "format": "double",
          "description": "Explained_variance over the total explained variance.",
          "type": "number"
        },
        "principalComponentId": {
          "format": "int64",
          "type": "string",
          "description": "Id of the principal component."
        }
      },
      "id": "PrincipalComponentInfo",
      "type": "object",
      "description": "Principal component infos, used only for eigen decomposition based models, e.g., PCA. Ordered by explained_variance in the descending order."
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object"
    },
    "DoubleHparamSearchSpace": {
      "type": "object",
      "properties": {
        "candidates": {
          "description": "Candidates of the double hyperparameter.",
          "$ref": "DoubleCandidates"
        },
        "range": {
          "$ref": "DoubleRange",
          "description": "Range of the double hyperparameter."
        }
      },
      "description": "Search space for a double hyperparameter.",
      "id": "DoubleHparamSearchSpace"
    },
    "BiEngineStatistics": {
      "properties": {
        "biEngineMode": {
          "description": "[Output-only] Specifies which mode of BI Engine acceleration was performed (if any).",
          "default": "$(stats.bi_engine_mode)",
          "type": "string"
        },
        "biEngineReasons": {
          "items": {
            "$ref": "BiEngineReason"
          },
          "type": "array",
          "description": "In case of DISABLED or PARTIAL bi_engine_mode, these contain the explanatory reasons as to why BI Engine could not accelerate. In case the full query was accelerated, this field is not populated."
        }
      },
      "id": "BiEngineStatistics",
      "type": "object"
    },
    "ArimaFittingMetrics": {
      "id": "ArimaFittingMetrics",
      "type": "object",
      "description": "ARIMA model fitting metrics.",
      "properties": {
        "logLikelihood": {
          "description": "Log-likelihood.",
          "type": "number",
          "format": "double"
        },
        "variance": {
          "description": "Variance.",
          "format": "double",
          "type": "number"
        },
        "aic": {
          "description": "AIC.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "CloneDefinition": {
      "type": "object",
      "properties": {
        "baseTableReference": {
          "$ref": "TableReference",
          "description": "[Required] Reference describing the ID of the table that was cloned."
        },
        "cloneTime": {
          "type": "string",
          "format": "date-time",
          "description": "[Required] The time at which the base table was cloned. This value is reported in the JSON response using RFC3339 format."
        }
      },
      "id": "CloneDefinition"
    },
    "ExternalDataConfiguration": {
      "type": "object",
      "properties": {
        "maxBadRecords": {
          "description": "[Optional] The maximum number of bad records that BigQuery can ignore when reading data. If the number of bad records exceeds this value, an invalid error is returned in the job result. This is only valid for CSV, JSON, and Google Sheets. The default value is 0, which requires that all records are valid. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats.",
          "type": "integer",
          "format": "int32"
        },
        "sourceUris": {
          "description": "[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one '*' wildcard character and it must come after the 'bucket' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups, exactly one URI can be specified. Also, the '*' wildcard character is not allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "connectionId": {
          "description": "[Optional, Trusted Tester] Connection for external data source.",
          "type": "string"
        },
        "csvOptions": {
          "$ref": "CsvOptions",
          "description": "Additional properties to set if sourceFormat is set to CSV."
        },
        "decimalTargetTypes": {
          "items": {
            "type": "string"
          },
          "description": "[Optional] Defines the list of possible SQL data types to which the source decimal values are converted. This list and the precision and the scale parameters of the decimal field determine the target type. In the order of NUMERIC, BIGNUMERIC, and STRING, a type is picked if it is in the specified list and if it supports the precision and the scale. STRING supports all precision and scale values. If none of the listed types supports the precision and the scale, the type supporting the widest range in the specified list is picked, and if a value exceeds the supported range when reading the data, an error will be thrown. Example: Suppose the value of this field is [\"NUMERIC\", \"BIGNUMERIC\"]. If (precision,scale) is: (38,9) -\u003e NUMERIC; (39,9) -\u003e BIGNUMERIC (NUMERIC cannot hold 30 integer digits); (38,10) -\u003e BIGNUMERIC (NUMERIC cannot hold 10 fractional digits); (76,38) -\u003e BIGNUMERIC; (77,38) -\u003e BIGNUMERIC (error if value exeeds supported range). This field cannot contain duplicate types. The order of the types in this field is ignored. For example, [\"BIGNUMERIC\", \"NUMERIC\"] is the same as [\"NUMERIC\", \"BIGNUMERIC\"] and NUMERIC always takes precedence over BIGNUMERIC. Defaults to [\"NUMERIC\", \"STRING\"] for ORC and [\"NUMERIC\"] for the other file formats.",
          "type": "array"
        },
        "bigtableOptions": {
          "description": "[Optional] Additional options if sourceFormat is set to BIGTABLE.",
          "$ref": "BigtableOptions"
        },
        "objectMetadata": {
          "description": "ObjectMetadata is used to create Object Tables. Object Tables contain a listing of objects (with their metadata) found at the source_uris. If ObjectMetadata is set, source_format should be omitted. Currently SIMPLE is the only supported Object Metadata type.",
          "type": "string"
        },
        "referenceFileSchemaUri": {
          "type": "string",
          "description": "[Optional] Provide a referencing file with the expected table schema. Enabled for the format: AVRO, PARQUET, ORC."
        },
        "compression": {
          "description": "[Optional] The compression type of the data source. Possible values include GZIP and NONE. The default value is NONE. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats.",
          "type": "string"
        },
        "parquetOptions": {
          "$ref": "ParquetOptions",
          "description": "Additional properties to set if sourceFormat is set to Parquet."
        },
        "autodetect": {
          "description": "Try to detect schema and format options automatically. Any option specified explicitly will be honored.",
          "type": "boolean"
        },
        "hivePartitioningOptions": {
          "$ref": "HivePartitioningOptions",
          "description": "[Optional] Options to configure hive partitioning support."
        },
        "avroOptions": {
          "description": "Additional properties to set if sourceFormat is set to Avro.",
          "$ref": "AvroOptions"
        },
        "sourceFormat": {
          "type": "string",
          "description": "[Required] The data format. For CSV files, specify \"CSV\". For Google sheets, specify \"GOOGLE_SHEETS\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro files, specify \"AVRO\". For Google Cloud Datastore backups, specify \"DATASTORE_BACKUP\". [Beta] For Google Cloud Bigtable, specify \"BIGTABLE\"."
        },
        "ignoreUnknownValues": {
          "type": "boolean",
          "description": "[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don't match any column names Google Cloud Bigtable: This setting is ignored. Google Cloud Datastore backups: This setting is ignored. Avro: This setting is ignored."
        },
        "googleSheetsOptions": {
          "$ref": "GoogleSheetsOptions",
          "description": "[Optional] Additional options if sourceFormat is set to GOOGLE_SHEETS."
        },
        "metadataCacheMode": {
          "type": "string",
          "description": "[Optional] Metadata Cache Mode for the table. Set this to enable caching of metadata from external data source."
        },
        "schema": {
          "description": "[Optional] The schema for the data. Schema is required for CSV and JSON formats. Schema is disallowed for Google Cloud Bigtable, Cloud Datastore backups, and Avro formats.",
          "$ref": "TableSchema"
        }
      },
      "id": "ExternalDataConfiguration"
    },
    "LocationMetadata": {
      "properties": {
        "legacyLocationId": {
          "description": "The legacy BigQuery location ID, e.g. “EU” for the “europe” location. This is for any API consumers that need the legacy “US” and “EU” locations.",
          "type": "string"
        }
      },
      "id": "LocationMetadata",
      "description": "BigQuery-specific metadata about a location. This will be set on google.cloud.location.Location.metadata in Cloud Location API responses.",
      "type": "object"
    },
    "ArimaCoefficients": {
      "id": "ArimaCoefficients",
      "type": "object",
      "properties": {
        "autoRegressiveCoefficients": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array",
          "description": "Auto-regressive coefficients, an array of double."
        },
        "interceptCoefficient": {
          "type": "number",
          "description": "Intercept coefficient, just a double not an array.",
          "format": "double"
        },
        "movingAverageCoefficients": {
          "type": "array",
          "description": "Moving-average coefficients, an array of double.",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "description": "Arima coefficients."
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "ArimaOrder": {
      "id": "ArimaOrder",
      "properties": {
        "d": {
          "type": "string",
          "format": "int64",
          "description": "Order of the differencing part."
        },
        "p": {
          "type": "string",
          "description": "Order of the autoregressive part.",
          "format": "int64"
        },
        "q": {
          "format": "int64",
          "type": "string",
          "description": "Order of the moving-average part."
        }
      },
      "type": "object",
      "description": "Arima order, can be used for both non-seasonal and seasonal parts."
    },
    "HivePartitioningOptions": {
      "properties": {
        "sourceUriPrefix": {
          "description": "[Optional] When hive partition detection is requested, a common prefix for all source uris should be supplied. The prefix must end immediately before the partition key encoding begins. For example, consider files following this data layout. gs://bucket/path_to_table/dt=2019-01-01/country=BR/id=7/file.avro gs://bucket/path_to_table/dt=2018-12-31/country=CA/id=3/file.avro When hive partitioning is requested with either AUTO or STRINGS detection, the common prefix can be either of gs://bucket/path_to_table or gs://bucket/path_to_table/ (trailing slash does not matter).",
          "type": "string"
        },
        "mode": {
          "description": "[Optional] When set, what mode of hive partitioning to use when reading data. The following modes are supported. (1) AUTO: automatically infer partition key name(s) and type(s). (2) STRINGS: automatically infer partition key name(s). All types are interpreted as strings. (3) CUSTOM: partition key schema is encoded in the source URI prefix. Not all storage formats support hive partitioning. Requesting hive partitioning on an unsupported format will lead to an error. Currently supported types include: AVRO, CSV, JSON, ORC and Parquet.",
          "type": "string"
        },
        "requirePartitionFilter": {
          "description": "[Optional] If set to true, queries over this table require a partition filter that can be used for partition elimination to be specified. Note that this field should only be true when creating a permanent external table or querying a temporary external table. Hive-partitioned loads with requirePartitionFilter explicitly set to true will fail.",
          "type": "boolean"
        }
      },
      "id": "HivePartitioningOptions",
      "type": "object"
    },
    "BigQueryModelTraining": {
      "properties": {
        "currentIteration": {
          "format": "int32",
          "description": "[Output-only, Beta] Index of current ML training iteration. Updated during create model query job to show job progress.",
          "type": "integer"
        },
        "expectedTotalIterations": {
          "format": "int64",
          "description": "[Output-only, Beta] Expected number of iterations for the create model query job specified as num_iterations in the input query. The actual total number of iterations may be less than this number due to early stop.",
          "type": "string"
        }
      },
      "id": "BigQueryModelTraining",
      "type": "object"
    },
    "ExplainQueryStep": {
      "id": "ExplainQueryStep",
      "properties": {
        "kind": {
          "description": "Machine-readable operation type.",
          "type": "string"
        },
        "substeps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Human-readable stage descriptions."
        }
      },
      "type": "object"
    },
    "ModelDefinition": {
      "id": "ModelDefinition",
      "type": "object",
      "properties": {
        "trainingRuns": {
          "items": {
            "$ref": "BqmlTrainingRun"
          },
          "type": "array",
          "description": "[Output-only, Beta] Information about ml training runs, each training run comprises of multiple iterations and there may be multiple training runs for the model if warm start is used or if a user decides to continue a previously cancelled query."
        },
        "modelOptions": {
          "description": "[Output-only, Beta] Model options used for the first training run. These options are immutable for subsequent training runs. Default values are used for any options not specified in the input query.",
          "properties": {
            "labels": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "lossType": {
              "type": "string"
            },
            "modelType": {
              "type": "string"
            }
          },
          "type": "object"
        }
      }
    },
    "DimensionalityReductionMetrics": {
      "description": "Model evaluation metrics for dimensionality reduction models.",
      "properties": {
        "totalExplainedVarianceRatio": {
          "type": "number",
          "format": "double",
          "description": "Total percentage of variance explained by the selected principal components."
        }
      },
      "id": "DimensionalityReductionMetrics",
      "type": "object"
    },
    "TrainingRun": {
      "properties": {
        "vertexAiModelId": {
          "description": "The model id in the [Vertex AI Model Registry](https://cloud.google.com/vertex-ai/docs/model-registry/introduction) for this training run.",
          "type": "string"
        },
        "dataSplitResult": {
          "description": "Output only. Data split result of the training run. Only set when the input data is actually split.",
          "readOnly": true,
          "$ref": "DataSplitResult"
        },
        "vertexAiModelVersion": {
          "readOnly": true,
          "description": "Output only. The model version in the [Vertex AI Model Registry](https://cloud.google.com/vertex-ai/docs/model-registry/introduction) for this training run.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The start time of this training run.",
          "type": "string",
          "readOnly": true
        },
        "classLevelGlobalExplanations": {
          "readOnly": true,
          "items": {
            "$ref": "GlobalExplanation"
          },
          "description": "Output only. Global explanation contains the explanation of top features on the class level. Applies to classification models only.",
          "type": "array"
        },
        "trainingOptions": {
          "readOnly": true,
          "description": "Output only. Options that were used for this training run, includes user specified and default options that were used.",
          "$ref": "TrainingOptions"
        },
        "results": {
          "readOnly": true,
          "items": {
            "$ref": "IterationResult"
          },
          "description": "Output only. Output of each iteration run, results.size() \u003c= max_iterations.",
          "type": "array"
        },
        "evaluationMetrics": {
          "$ref": "EvaluationMetrics",
          "readOnly": true,
          "description": "Output only. The evaluation metrics over training/eval data that were computed at the end of training."
        },
        "trainingStartTime": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The start time of this training run, in milliseconds since epoch.",
          "readOnly": true
        },
        "modelLevelGlobalExplanation": {
          "readOnly": true,
          "description": "Output only. Global explanation contains the explanation of top features on the model level. Applies to both regression and classification models.",
          "$ref": "GlobalExplanation"
        }
      },
      "id": "TrainingRun",
      "description": "Information about a single training query run for the model.",
      "type": "object"
    },
    "RankingMetrics": {
      "properties": {
        "meanSquaredError": {
          "description": "Similar to the mean squared error computed in regression and explicit recommendation models except instead of computing the rating directly, the output from evaluate is computed against a preference which is 1 or 0 depending on if the rating exists or not.",
          "format": "double",
          "type": "number"
        },
        "normalizedDiscountedCumulativeGain": {
          "format": "double",
          "type": "number",
          "description": "A metric to determine the goodness of a ranking calculated from the predicted confidence by comparing it to an ideal rank measured by the original ratings."
        },
        "meanAveragePrecision": {
          "format": "double",
          "description": "Calculates a precision per user for all the items by ranking them and then averages all the precisions across all the users.",
          "type": "number"
        },
        "averageRank": {
          "type": "number",
          "description": "Determines the goodness of a ranking by computing the percentile rank from the predicted confidence and dividing it by the original rank.",
          "format": "double"
        }
      },
      "id": "RankingMetrics",
      "description": "Evaluation metrics used by weighted-ALS models specified by feedback_type=implicit.",
      "type": "object"
    },
    "ExplainQueryStage": {
      "properties": {
        "name": {
          "description": "Human-readable name for stage.",
          "type": "string"
        },
        "computeMsAvg": {
          "description": "Milliseconds the average shard spent on CPU-bound tasks.",
          "format": "int64",
          "type": "string"
        },
        "computeRatioAvg": {
          "type": "number",
          "description": "Relative amount of time the average shard spent on CPU-bound tasks.",
          "format": "double"
        },
        "recordsWritten": {
          "description": "Number of records written by the stage.",
          "format": "int64",
          "type": "string"
        },
        "waitRatioMax": {
          "description": "Relative amount of time the slowest shard spent waiting to be scheduled.",
          "format": "double",
          "type": "number"
        },
        "writeMsMax": {
          "description": "Milliseconds the slowest shard spent on writing output.",
          "type": "string",
          "format": "int64"
        },
        "status": {
          "description": "Current status for the stage.",
          "type": "string"
        },
        "waitMsMax": {
          "description": "Milliseconds the slowest shard spent waiting to be scheduled.",
          "type": "string",
          "format": "int64"
        },
        "completedParallelInputs": {
          "format": "int64",
          "type": "string",
          "description": "Number of parallel input segments completed."
        },
        "parallelInputs": {
          "format": "int64",
          "description": "Number of parallel input segments to be processed.",
          "type": "string"
        },
        "waitMsAvg": {
          "type": "string",
          "description": "Milliseconds the average shard spent waiting to be scheduled.",
          "format": "int64"
        },
        "writeRatioMax": {
          "description": "Relative amount of time the slowest shard spent on writing output.",
          "format": "double",
          "type": "number"
        },
        "inputStages": {
          "type": "array",
          "description": "IDs for stages that are inputs to this stage.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "readRatioAvg": {
          "description": "Relative amount of time the average shard spent reading input.",
          "type": "number",
          "format": "double"
        },
        "startMs": {
          "description": "Stage start time represented as milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "readRatioMax": {
          "description": "Relative amount of time the slowest shard spent reading input.",
          "format": "double",
          "type": "number"
        },
        "readMsMax": {
          "description": "Milliseconds the slowest shard spent reading input.",
          "type": "string",
          "format": "int64"
        },
        "computeMsMax": {
          "format": "int64",
          "type": "string",
          "description": "Milliseconds the slowest shard spent on CPU-bound tasks."
        },
        "steps": {
          "type": "array",
          "description": "List of operations within the stage in dependency order (approximately chronological).",
          "items": {
            "$ref": "ExplainQueryStep"
          }
        },
        "writeRatioAvg": {
          "type": "number",
          "format": "double",
          "description": "Relative amount of time the average shard spent on writing output."
        },
        "shuffleOutputBytesSpilled": {
          "description": "Total number of bytes written to shuffle and spilled to disk.",
          "format": "int64",
          "type": "string"
        },
        "endMs": {
          "format": "int64",
          "type": "string",
          "description": "Stage end time represented as milliseconds since epoch."
        },
        "computeRatioMax": {
          "format": "double",
          "description": "Relative amount of time the slowest shard spent on CPU-bound tasks.",
          "type": "number"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Unique ID for stage within plan."
        },
        "readMsAvg": {
          "format": "int64",
          "type": "string",
          "description": "Milliseconds the average shard spent reading input."
        },
        "recordsRead": {
          "format": "int64",
          "type": "string",
          "description": "Number of records read into the stage."
        },
        "writeMsAvg": {
          "type": "string",
          "description": "Milliseconds the average shard spent on writing output.",
          "format": "int64"
        },
        "shuffleOutputBytes": {
          "format": "int64",
          "type": "string",
          "description": "Total number of bytes written to shuffle."
        },
        "slotMs": {
          "format": "int64",
          "description": "Slot-milliseconds used by the stage.",
          "type": "string"
        },
        "waitRatioAvg": {
          "description": "Relative amount of time the average shard spent waiting to be scheduled.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "ExplainQueryStage"
    },
    "TableReference": {
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this table.",
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          }
        },
        "datasetId": {
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "type": "string",
          "description": "[Required] The ID of the dataset containing this table."
        },
        "tableId": {
          "description": "[Required] The ID of the table. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "type": "string",
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          }
        }
      },
      "id": "TableReference"
    },
    "ErrorProto": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Specifies where the error occurred, if present."
        },
        "reason": {
          "description": "A short error code that summarizes the error.",
          "type": "string"
        },
        "message": {
          "description": "A human-readable description of the error.",
          "type": "string"
        },
        "debugInfo": {
          "description": "Debugging information. This property is internal to Google and should not be used.",
          "type": "string"
        }
      },
      "id": "ErrorProto",
      "type": "object"
    },
    "EvaluationMetrics": {
      "type": "object",
      "properties": {
        "clusteringMetrics": {
          "$ref": "ClusteringMetrics",
          "description": "Populated for clustering models."
        },
        "rankingMetrics": {
          "description": "Populated for implicit feedback type matrix factorization models.",
          "$ref": "RankingMetrics"
        },
        "multiClassClassificationMetrics": {
          "$ref": "MultiClassClassificationMetrics",
          "description": "Populated for multi-class classification/classifier models."
        },
        "dimensionalityReductionMetrics": {
          "$ref": "DimensionalityReductionMetrics",
          "description": "Evaluation metrics when the model is a dimensionality reduction model, which currently includes PCA."
        },
        "binaryClassificationMetrics": {
          "$ref": "BinaryClassificationMetrics",
          "description": "Populated for binary classification/classifier models."
        },
        "arimaForecastingMetrics": {
          "$ref": "ArimaForecastingMetrics",
          "description": "Populated for ARIMA models."
        },
        "regressionMetrics": {
          "description": "Populated for regression models and explicit feedback type matrix factorization models.",
          "$ref": "RegressionMetrics"
        }
      },
      "description": "Evaluation metrics of a model. These are either computed on all training data or just the eval data based on whether eval data was used during training. These are not present for imported models.",
      "id": "EvaluationMetrics"
    },
    "Routine": {
      "type": "object",
      "description": "A user-defined function or a stored procedure.",
      "id": "Routine",
      "properties": {
        "routineType": {
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "SCALAR_FUNCTION",
            "PROCEDURE",
            "TABLE_VALUED_FUNCTION"
          ],
          "enumDescriptions": [
            "",
            "Non-builtin permanent scalar function.",
            "Stored procedure.",
            "Non-builtin permanent TVF."
          ],
          "description": "Required. The type of routine.",
          "type": "string"
        },
        "determinismLevel": {
          "enum": [
            "DETERMINISM_LEVEL_UNSPECIFIED",
            "DETERMINISTIC",
            "NOT_DETERMINISTIC"
          ],
          "description": "Optional. The determinism level of the JavaScript UDF, if defined.",
          "type": "string",
          "enumDescriptions": [
            "The determinism of the UDF is unspecified.",
            "The UDF is deterministic, meaning that 2 function calls with the same inputs always produce the same result, even across 2 query runs.",
            "The UDF is not deterministic."
          ]
        },
        "remoteFunctionOptions": {
          "$ref": "RemoteFunctionOptions",
          "description": "Optional. Remote function specific options."
        },
        "creationTime": {
          "type": "string",
          "description": "Output only. The time when this routine was created, in milliseconds since the epoch.",
          "readOnly": true,
          "format": "int64"
        },
        "returnTableType": {
          "$ref": "StandardSqlTableType",
          "description": "Optional. Can be set only if routine_type = \"TABLE_VALUED_FUNCTION\". If absent, the return table type is inferred from definition_body at query time in each query that references this routine. If present, then the columns in the evaluated table result will be cast to match the column types specificed in return table type, at query time."
        },
        "lastModifiedTime": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when this routine was last modified, in milliseconds since the epoch."
        },
        "sparkOptions": {
          "$ref": "SparkOptions",
          "description": "Optional. Spark specific options."
        },
        "arguments": {
          "type": "array",
          "items": {
            "$ref": "Argument"
          },
          "description": "Optional."
        },
        "routineReference": {
          "$ref": "RoutineReference",
          "description": "Required. Reference describing the ID of this routine."
        },
        "strictMode": {
          "description": "Optional. Can be set for procedures only. If true (default), the definition body will be validated in the creation and the updates of the procedure. For procedures with an argument of ANY TYPE, the definition body validtion is not supported at creation/update time, and thus this field must be set to false explicitly.",
          "type": "boolean"
        },
        "language": {
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "SQL",
            "JAVASCRIPT",
            "PYTHON"
          ],
          "description": "Optional. Defaults to \"SQL\".",
          "enumDescriptions": [
            "",
            "SQL language.",
            "JavaScript language.",
            "Python language."
          ],
          "type": "string"
        },
        "importedLibraries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. If language = \"JAVASCRIPT\", this field stores the path of the imported JAVASCRIPT libraries."
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A hash of this resource."
        },
        "definitionBody": {
          "type": "string",
          "description": "Required. The body of the routine. For functions, this is the expression in the AS clause. If language=SQL, it is the substring inside (but excluding) the parentheses. For example, for the function created with the following statement: `CREATE FUNCTION JoinLines(x string, y string) as (concat(x, \"\\n\", y))` The definition_body is `concat(x, \"\\n\", y)` (\\n is not replaced with linebreak). If language=JAVASCRIPT, it is the evaluated string in the AS clause. For example, for the function created with the following statement: `CREATE FUNCTION f() RETURNS STRING LANGUAGE js AS 'return \"\\n\";\\n'` The definition_body is `return \"\\n\";\\n` Note that both \\n are replaced with linebreaks."
        },
        "returnType": {
          "$ref": "StandardSqlDataType",
          "description": "Optional if language = \"SQL\"; required otherwise. Cannot be set if routine_type = \"TABLE_VALUED_FUNCTION\". If absent, the return type is inferred from definition_body at query time in each query that references this routine. If present, then the evaluated result will be cast to the specified returned type at query time. For example, for the functions created with the following statements: * `CREATE FUNCTION Add(x FLOAT64, y FLOAT64) RETURNS FLOAT64 AS (x + y);` * `CREATE FUNCTION Increment(x FLOAT64) AS (Add(x, 1));` * `CREATE FUNCTION Decrement(x FLOAT64) RETURNS FLOAT64 AS (Add(x, -1));` The return_type is `{type_kind: \"FLOAT64\"}` for `Add` and `Decrement`, and is absent for `Increment` (inferred as FLOAT64 at query time). Suppose the function `Add` is replaced by `CREATE OR REPLACE FUNCTION Add(x INT64, y INT64) AS (x + y);` Then the inferred return type of `Increment` is automatically changed to INT64 at query time, while the return type of `Decrement` remains FLOAT64."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the routine, if defined."
        }
      }
    },
    "RemoteFunctionOptions": {
      "type": "object",
      "description": "Options for a remote user-defined function.",
      "id": "RemoteFunctionOptions",
      "properties": {
        "connection": {
          "type": "string",
          "description": "Fully qualified name of the user-provided connection object which holds the authentication information to send requests to the remote service. Format: ```\"projects/{projectId}/locations/{locationId}/connections/{connectionId}\"```"
        },
        "maxBatchingRows": {
          "format": "int64",
          "description": "Max number of rows in each batch sent to the remote service. If absent or if 0, BigQuery dynamically decides the number of rows in a batch.",
          "type": "string"
        },
        "userDefinedContext": {
          "type": "object",
          "description": "User-defined context as a set of key/value pairs, which will be sent as function invocation context together with batched arguments in the requests to the remote service. The total number of bytes of keys and values must be less than 8KB.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "endpoint": {
          "type": "string",
          "description": "Endpoint of the user-provided remote service, e.g. ```https://us-east1-my_gcf_project.cloudfunctions.net/remote_add```"
        }
      }
    },
    "DoubleRange": {
      "type": "object",
      "description": "Range of a double hyperparameter.",
      "properties": {
        "min": {
          "format": "double",
          "description": "Min value of the double parameter.",
          "type": "number"
        },
        "max": {
          "description": "Max value of the double parameter.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "DoubleRange"
    },
    "TransactionInfo": {
      "type": "object",
      "properties": {
        "transactionId": {
          "type": "string",
          "description": "[Output-only] // [Alpha] Id of the transaction."
        }
      },
      "id": "TransactionInfo"
    },
    "RowLevelSecurityStatistics": {
      "type": "object",
      "properties": {
        "rowLevelSecurityApplied": {
          "type": "boolean",
          "description": "[Output-only] [Preview] Whether any accessed data was protected by row access policies."
        }
      },
      "id": "RowLevelSecurityStatistics"
    },
    "BigtableColumn": {
      "type": "object",
      "properties": {
        "encoding": {
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. 'encoding' can also be set at the column family level. However, the setting at this level takes precedence if 'encoding' is set at both levels.",
          "type": "string"
        },
        "onlyReadLatest": {
          "type": "boolean",
          "description": "[Optional] If this is set, only the latest version of value in this column are exposed. 'onlyReadLatest' can also be set at the column family level. However, the setting at this level takes precedence if 'onlyReadLatest' is set at both levels."
        },
        "type": {
          "type": "string",
          "description": "[Optional] The type to convert the value in cells of this column. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. 'type' can also be set at the column family level. However, the setting at this level takes precedence if 'type' is set at both levels."
        },
        "fieldName": {
          "description": "[Optional] If the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as the column field name and is used as field name in queries.",
          "type": "string"
        },
        "qualifierString": {
          "type": "string"
        },
        "qualifierEncoded": {
          "format": "byte",
          "type": "string",
          "description": "[Required] Qualifier of the column. Columns in the parent column family that has this exact qualifier are exposed as . field. If the qualifier is valid UTF-8 string, it can be specified in the qualifier_string field. Otherwise, a base-64 encoded value must be set to qualifier_encoded. The column field name is the same as the column qualifier. However, if the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as field_name."
        }
      },
      "id": "BigtableColumn"
    },
    "IntArrayHparamSearchSpace": {
      "description": "Search space for int array.",
      "properties": {
        "candidates": {
          "items": {
            "$ref": "IntArray"
          },
          "type": "array",
          "description": "Candidates for the int array parameter."
        }
      },
      "id": "IntArrayHparamSearchSpace",
      "type": "object"
    },
    "ClusteringMetrics": {
      "description": "Evaluation metrics for clustering models.",
      "id": "ClusteringMetrics",
      "properties": {
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "description": "Information for all clusters.",
          "type": "array"
        },
        "meanSquaredDistance": {
          "description": "Mean of squared distances between each sample to its cluster centroid.",
          "type": "number",
          "format": "double"
        },
        "daviesBouldinIndex": {
          "description": "Davies-Bouldin index.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "QueryParameter": {
      "type": "object",
      "id": "QueryParameter",
      "properties": {
        "name": {
          "description": "[Optional] If unset, this is a positional parameter. Otherwise, should be unique within a query.",
          "type": "string"
        },
        "parameterValue": {
          "description": "[Required] The value of this parameter.",
          "$ref": "QueryParameterValue"
        },
        "parameterType": {
          "description": "[Required] The type of this parameter.",
          "$ref": "QueryParameterType"
        }
      }
    },
    "TimePartitioning": {
      "properties": {
        "field": {
          "type": "string",
          "description": "[Beta] [Optional] If not set, the table is partitioned by pseudo column, referenced via either '_PARTITIONTIME' as TIMESTAMP type, or '_PARTITIONDATE' as DATE type. If field is specified, the table is instead partitioned by this field. The field must be a top-level TIMESTAMP or DATE field. Its mode must be NULLABLE or REQUIRED."
        },
        "type": {
          "description": "[Required] The supported types are DAY, HOUR, MONTH, and YEAR, which will generate one partition per day, hour, month, and year, respectively. When the type is not specified, the default behavior is DAY.",
          "type": "string"
        },
        "requirePartitionFilter": {
          "type": "boolean"
        },
        "expirationMs": {
          "description": "[Optional] Number of milliseconds for which to keep the storage for partitions in the table. The storage in a partition will have an expiration time of its partition time plus this value.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "TimePartitioning",
      "type": "object"
    },
    "Row": {
      "description": "A single row in the confusion matrix.",
      "id": "Row",
      "type": "object",
      "properties": {
        "actualLabel": {
          "type": "string",
          "description": "The original label of this row."
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "Entry"
          },
          "description": "Info describing predicted label distribution."
        }
      }
    },
    "ListModelsResponse": {
      "id": "ListModelsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "models": {
          "type": "array",
          "items": {
            "$ref": "Model"
          },
          "description": "Models in the requested dataset. Only the following fields are populated: model_reference, model_type, creation_time, last_modified_time and labels."
        }
      }
    },
    "BqmlIterationResult": {
      "properties": {
        "trainingLoss": {
          "type": "number",
          "description": "[Output-only, Beta] Training loss computed on the training data at the end of the iteration. The training loss function is defined by model type.",
          "format": "double"
        },
        "index": {
          "description": "[Output-only, Beta] Index of the ML training iteration, starting from zero for each training run.",
          "format": "int32",
          "type": "integer"
        },
        "durationMs": {
          "description": "[Output-only, Beta] Time taken to run the training iteration in milliseconds.",
          "type": "string",
          "format": "int64"
        },
        "learnRate": {
          "description": "[Output-only, Beta] Learning rate used for this iteration, it varies for different training iterations if learn_rate_strategy option is not constant.",
          "format": "double",
          "type": "number"
        },
        "evalLoss": {
          "type": "number",
          "format": "double",
          "description": "[Output-only, Beta] Eval loss computed on the eval data at the end of the iteration. The eval loss is used for early stopping to avoid overfitting. No eval loss if eval_split_method option is specified as no_split or auto_split with input data size less than 500 rows."
        }
      },
      "id": "BqmlIterationResult",
      "type": "object"
    },
    "AggregateClassificationMetrics": {
      "properties": {
        "f1Score": {
          "description": "The F1 score is an average of recall and precision. For multiclass this is a macro-averaged metric.",
          "type": "number",
          "format": "double"
        },
        "threshold": {
          "description": "Threshold at which the metrics are computed. For binary classification models this is the positive class threshold. For multi-class classfication models this is the confidence threshold.",
          "format": "double",
          "type": "number"
        },
        "accuracy": {
          "type": "number",
          "format": "double",
          "description": "Accuracy is the fraction of predictions given the correct label. For multiclass this is a micro-averaged metric."
        },
        "precision": {
          "description": "Precision is the fraction of actual positive predictions that had positive actual labels. For multiclass this is a macro-averaged metric treating each class as a binary classifier.",
          "format": "double",
          "type": "number"
        },
        "rocAuc": {
          "type": "number",
          "format": "double",
          "description": "Area Under a ROC Curve. For multiclass this is a macro-averaged metric."
        },
        "logLoss": {
          "description": "Logarithmic Loss. For multiclass this is a macro-averaged metric.",
          "type": "number",
          "format": "double"
        },
        "recall": {
          "type": "number",
          "format": "double",
          "description": "Recall is the fraction of actual positive labels that were given a positive prediction. For multiclass this is a macro-averaged metric."
        }
      },
      "id": "AggregateClassificationMetrics",
      "type": "object",
      "description": "Aggregate metrics for classification/classifier models. For multi-class models, the metrics are either macro-averaged or micro-averaged. When macro-averaged, the metrics are calculated for each label and then an unweighted average is taken of those values. When micro-averaged, the metric is calculated globally by counting the total number of correctly predicted rows."
    },
    "JobConfigurationTableCopy": {
      "type": "object",
      "properties": {
        "sourceTable": {
          "$ref": "TableReference",
          "description": "[Pick one] Source table to copy."
        },
        "sourceTables": {
          "description": "[Pick one] Source tables to copy.",
          "type": "array",
          "items": {
            "$ref": "TableReference"
          }
        },
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "destinationExpirationTime": {
          "description": "[Optional] The time when the destination table expires. Expired tables will be deleted and their storage reclaimed.",
          "type": "any"
        },
        "destinationTable": {
          "$ref": "TableReference",
          "description": "[Required] The destination table"
        },
        "destinationEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "operationType": {
          "type": "string",
          "description": "[Optional] Supported operation types in table copy job."
        }
      },
      "id": "JobConfigurationTableCopy"
    },
    "JobConfigurationQuery": {
      "properties": {
        "destinationEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "allowLargeResults": {
          "default": "false",
          "description": "[Optional] If true and query uses legacy SQL dialect, allows the query to produce arbitrarily large result tables at a slight cost in performance. Requires destinationTable to be set. For standard SQL queries, this flag is ignored and large results are always allowed. However, you must still set destinationTable when result size exceeds the allowed maximum response size.",
          "type": "boolean"
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data and uses the schema from the query result. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "queryParameters": {
          "items": {
            "$ref": "QueryParameter"
          },
          "description": "Query parameters for standard SQL queries.",
          "type": "array"
        },
        "connectionProperties": {
          "description": "Connection properties.",
          "type": "array",
          "items": {
            "$ref": "ConnectionProperty"
          }
        },
        "maximumBillingTier": {
          "default": "1",
          "description": "[Optional] Limits the billing tier for this job. Queries that have resource usage beyond this tier will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "format": "int32",
          "type": "integer"
        },
        "rangePartitioning": {
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "RangePartitioning"
        },
        "useLegacySql": {
          "default": "true",
          "type": "boolean",
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false."
        },
        "clustering": {
          "$ref": "Clustering",
          "description": "[Beta] Clustering specification for the destination table. Must be specified with time-based partitioning, data in the table will be first partitioned and subsequently clustered."
        },
        "priority": {
          "description": "[Optional] Specifies a priority for the query. Possible values include INTERACTIVE and BATCH. The default value is INTERACTIVE.",
          "type": "string"
        },
        "preserveNulls": {
          "type": "boolean",
          "description": "[Deprecated] This property is deprecated."
        },
        "createSession": {
          "description": "If true, creates a new session, where session id will be a server generated random id. If false, runs query with an existing session_id passed in ConnectionProperty, otherwise runs query in non-session mode.",
          "type": "boolean"
        },
        "tableDefinitions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ExternalDataConfiguration"
          },
          "description": "[Optional] If querying an external data source outside of BigQuery, describes the data format, location and other properties of the data source. By defining these properties, the data source can then be queried as if it were a standard BigQuery table."
        },
        "timePartitioning": {
          "description": "Time-based partitioning specification for the destination table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "TimePartitioning"
        },
        "userDefinedFunctionResources": {
          "items": {
            "$ref": "UserDefinedFunctionResource"
          },
          "type": "array",
          "description": "Describes user-defined function resources used in the query."
        },
        "schemaUpdateOptions": {
          "description": "Allows the schema of the destination table to be updated as a side effect of the query job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "useQueryCache": {
          "default": "true",
          "type": "boolean",
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. Moreover, the query cache is only available when a query does not have a destination table specified. The default value is true."
        },
        "maximumBytesBilled": {
          "type": "string",
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "format": "int64"
        },
        "flattenResults": {
          "description": "[Optional] If true and query uses legacy SQL dialect, flattens all nested and repeated fields in the query results. allowLargeResults must be true if this is set to false. For standard SQL queries, this flag is ignored and results are never flattened.",
          "default": "true",
          "type": "boolean"
        },
        "createDisposition": {
          "type": "string",
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "parameterMode": {
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query.",
          "type": "string"
        },
        "destinationTable": {
          "description": "[Optional] Describes the table where the query results should be stored. If not present, a new table will be created to store the results. This property must be set for large results that exceed the maximum response size.",
          "$ref": "TableReference"
        },
        "query": {
          "description": "[Required] SQL query text to execute. The useLegacySql field can be used to indicate whether the query uses legacy SQL or standard SQL.",
          "type": "string"
        },
        "defaultDataset": {
          "description": "[Optional] Specifies the default dataset to use for unqualified table names in the query. Note that this does not alter behavior of unqualified dataset names.",
          "$ref": "DatasetReference"
        }
      },
      "id": "JobConfigurationQuery",
      "type": "object"
    },
    "Table": {
      "type": "object",
      "properties": {
        "snapshotDefinition": {
          "description": "[Output-only] Snapshot definition.",
          "$ref": "SnapshotDefinition"
        },
        "materializedView": {
          "description": "[Optional] Materialized view definition.",
          "$ref": "MaterializedViewDefinition"
        },
        "numPhysicalBytes": {
          "description": "[Output-only] [TrustedTester] The physical size of this table in bytes, excluding any data in the streaming buffer. This includes compression and storage used for time travel.",
          "format": "int64",
          "type": "string"
        },
        "defaultCollation": {
          "type": "string",
          "description": "[Output-only] The default collation of the table."
        },
        "num_total_physical_bytes": {
          "type": "string",
          "description": "[Output-only] The physical size of this table in bytes. This also includes storage used for time travel. This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "format": "int64"
        },
        "cloneDefinition": {
          "$ref": "CloneDefinition",
          "description": "[Output-only] Clone definition."
        },
        "location": {
          "type": "string",
          "description": "[Output-only] The geographic location where the table resides. This value is inherited from the dataset."
        },
        "num_total_logical_bytes": {
          "description": "[Output-only] Total number of logical bytes in the table or materialized view.",
          "type": "string",
          "format": "int64"
        },
        "num_time_travel_physical_bytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Number of physical bytes used by time travel storage (deleted or changed data). This data is not kept in real time, and might be delayed by a few seconds to a few minutes."
        },
        "encryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "streamingBuffer": {
          "$ref": "Streamingbuffer",
          "description": "[Output-only] Contains information regarding this table's streaming buffer, if one is present. This field will be absent if the table is not being streamed to or if there is no data in the streaming buffer."
        },
        "numBytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] The size of this table in bytes, excluding any data in the streaming buffer."
        },
        "timePartitioning": {
          "$ref": "TimePartitioning",
          "description": "Time-based partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "schema": {
          "description": "[Optional] Describes the schema of this table.",
          "$ref": "TableSchema"
        },
        "view": {
          "description": "[Optional] The view definition.",
          "$ref": "ViewDefinition"
        },
        "labels": {
          "description": "The labels associated with this table. You can use these to organize and group your tables. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "numRows": {
          "type": "string",
          "description": "[Output-only] The number of rows of data in this table, excluding any data in the streaming buffer.",
          "format": "uint64"
        },
        "num_long_term_physical_bytes": {
          "type": "string",
          "description": "[Output-only] Number of physical bytes more than 90 days old. This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "format": "int64"
        },
        "friendlyName": {
          "description": "[Optional] A descriptive name for this table.",
          "type": "string"
        },
        "expirationTime": {
          "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed. The defaultTableExpirationMs property of the encapsulating dataset can be used to set a default expirationTime on newly created tables.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "[Output-only] Describes the table type. The following values are supported: TABLE: A normal BigQuery table. VIEW: A virtual table defined by a SQL query. SNAPSHOT: An immutable, read-only table that is a copy of another table. [TrustedTester] MATERIALIZED_VIEW: SQL query whose result is persisted. EXTERNAL: A table that references data stored in an external storage system, such as Google Cloud Storage. The default value is TABLE."
        },
        "id": {
          "description": "[Output-only] An opaque ID uniquely identifying the table.",
          "type": "string"
        },
        "num_active_physical_bytes": {
          "description": "[Output-only] Number of physical bytes less than 90 days old. This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "type": "string",
          "format": "int64"
        },
        "requirePartitionFilter": {
          "type": "boolean",
          "default": "false",
          "description": "[Optional] If set to true, queries over this table require a partition filter that can be used for partition elimination to be specified."
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access this resource again.",
          "type": "string"
        },
        "num_long_term_logical_bytes": {
          "description": "[Output-only] Number of logical bytes that are more than 90 days old.",
          "type": "string",
          "format": "int64"
        },
        "tableReference": {
          "description": "[Required] Reference describing the ID of this table.",
          "$ref": "TableReference"
        },
        "maxStaleness": {
          "description": "[Optional] Max staleness of data that could be returned when table or materialized view is queried (formatted as Google SQL Interval type).",
          "format": "byte",
          "type": "string"
        },
        "description": {
          "description": "[Optional] A user-friendly description of this table.",
          "type": "string"
        },
        "numLongTermBytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] The number of bytes in the table that are considered \"long-term storage\"."
        },
        "model": {
          "description": "[Output-only, Beta] Present iff this table represents a ML model. Describes the training information for the model, and it is required to run 'PREDICT' queries.",
          "$ref": "ModelDefinition"
        },
        "lastModifiedTime": {
          "description": "[Output-only] The time when this table was last modified, in milliseconds since the epoch.",
          "type": "string",
          "format": "uint64"
        },
        "clustering": {
          "$ref": "Clustering",
          "description": "[Beta] Clustering specification for the table. Must be specified with partitioning, data in the table will be first partitioned and subsequently clustered."
        },
        "rangePartitioning": {
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "RangePartitioning"
        },
        "kind": {
          "default": "bigquery#table",
          "description": "[Output-only] The type of the resource.",
          "type": "string"
        },
        "num_active_logical_bytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Number of logical bytes that are less than 90 days old."
        },
        "etag": {
          "description": "[Output-only] A hash of the table metadata. Used to ensure there were no concurrent modifications to the resource when attempting an update. Not guaranteed to change when the table contents or the fields numRows, numBytes, numLongTermBytes or lastModifiedTime change.",
          "type": "string"
        },
        "externalDataConfiguration": {
          "description": "[Optional] Describes the data format, location, and other properties of a table stored outside of BigQuery. By defining these properties, the data source can then be queried as if it were a standard BigQuery table.",
          "$ref": "ExternalDataConfiguration"
        },
        "num_partitions": {
          "description": "[Output-only] The number of partitions present in the table or materialized view. This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "type": "string",
          "format": "int64"
        },
        "creationTime": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] The time when this table was created, in milliseconds since the epoch."
        }
      },
      "id": "Table"
    },
    "SnapshotDefinition": {
      "properties": {
        "snapshotTime": {
          "type": "string",
          "description": "[Required] The time at which the base table was snapshot. This value is reported in the JSON response using RFC3339 format.",
          "format": "date-time"
        },
        "baseTableReference": {
          "description": "[Required] Reference describing the ID of the table that was snapshot.",
          "$ref": "TableReference"
        }
      },
      "id": "SnapshotDefinition",
      "type": "object"
    },
    "ConnectionProperty": {
      "type": "object",
      "id": "ConnectionProperty",
      "properties": {
        "value": {
          "description": "[Required] Value of the connection property.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "[Required] Name of the connection property to set."
        }
      }
    },
    "ArimaForecastingMetrics": {
      "type": "object",
      "id": "ArimaForecastingMetrics",
      "description": "Model evaluation metrics for ARIMA forecasting models.",
      "properties": {
        "seasonalPeriods": {
          "items": {
            "type": "string",
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ],
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ]
          },
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array"
        },
        "arimaFittingMetrics": {
          "type": "array",
          "items": {
            "$ref": "ArimaFittingMetrics"
          },
          "description": "Arima model fitting metrics."
        },
        "nonSeasonalOrder": {
          "description": "Non-seasonal order.",
          "items": {
            "$ref": "ArimaOrder"
          },
          "type": "array"
        },
        "hasDrift": {
          "description": "Whether Arima model fitted with drift or not. It is always false when d is not 1.",
          "items": {
            "type": "boolean"
          },
          "type": "array"
        },
        "timeSeriesId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Id to differentiate different time series for the large-scale case."
        },
        "arimaSingleModelForecastingMetrics": {
          "description": "Repeated as there can be many metric sets (one for each model) in auto-arima and the large-scale case.",
          "items": {
            "$ref": "ArimaSingleModelForecastingMetrics"
          },
          "type": "array"
        }
      }
    },
    "JobStatus": {
      "type": "object",
      "id": "JobStatus",
      "properties": {
        "errorResult": {
          "$ref": "ErrorProto",
          "description": "[Output-only] Final error result of the job. If present, indicates that the job has completed and was unsuccessful."
        },
        "errors": {
          "items": {
            "$ref": "ErrorProto"
          },
          "description": "[Output-only] The first errors encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "type": "array"
        },
        "state": {
          "type": "string",
          "description": "[Output-only] Running state of the job."
        }
      }
    },
    "JobCancelResponse": {
      "properties": {
        "kind": {
          "description": "The resource type of the response.",
          "default": "bigquery#jobCancelResponse",
          "type": "string"
        },
        "job": {
          "$ref": "Job",
          "description": "The final state of the job."
        }
      },
      "type": "object",
      "id": "JobCancelResponse"
    },
    "TableList": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "A hash of this page of results."
        },
        "kind": {
          "description": "The type of list.",
          "type": "string",
          "default": "bigquery#tableList"
        },
        "totalItems": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of tables in the dataset."
        },
        "tables": {
          "type": "array",
          "items": {
            "properties": {
              "clustering": {
                "description": "[Beta] Clustering specification for this table, if configured.",
                "$ref": "Clustering"
              },
              "timePartitioning": {
                "$ref": "TimePartitioning",
                "description": "The time-based partitioning specification for this table, if configured."
              },
              "creationTime": {
                "format": "int64",
                "description": "The time when this table was created, in milliseconds since the epoch.",
                "type": "string"
              },
              "kind": {
                "description": "The resource type.",
                "type": "string",
                "default": "bigquery#table"
              },
              "tableReference": {
                "description": "A reference uniquely identifying the table.",
                "$ref": "TableReference"
              },
              "view": {
                "type": "object",
                "properties": {
                  "useLegacySql": {
                    "type": "boolean",
                    "description": "True if view is defined in legacy SQL dialect, false if in standard SQL."
                  }
                },
                "description": "Additional details for a view."
              },
              "friendlyName": {
                "type": "string",
                "description": "The user-friendly name for this table."
              },
              "id": {
                "description": "An opaque ID of the table",
                "type": "string"
              },
              "rangePartitioning": {
                "$ref": "RangePartitioning",
                "description": "The range partitioning specification for this table, if configured."
              },
              "labels": {
                "description": "The labels associated with this table. You can use these to organize and group your tables.",
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "type": {
                "description": "The type of table. Possible values are: TABLE, VIEW.",
                "type": "string"
              },
              "expirationTime": {
                "format": "int64",
                "type": "string",
                "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed."
              }
            },
            "type": "object"
          },
          "description": "Tables in the requested dataset."
        }
      },
      "id": "TableList"
    },
    "JobReference": {
      "type": "object",
      "id": "JobReference",
      "properties": {
        "jobId": {
          "type": "string",
          "description": "[Required] The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 1,024 characters.",
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          }
        },
        "location": {
          "description": "The geographic location of the job. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          },
          "description": "[Required] The ID of the project containing this job."
        }
      }
    },
    "IntHparamSearchSpace": {
      "properties": {
        "range": {
          "$ref": "IntRange",
          "description": "Range of the int hyperparameter."
        },
        "candidates": {
          "$ref": "IntCandidates",
          "description": "Candidates of the int hyperparameter."
        }
      },
      "description": "Search space for an int hyperparameter.",
      "type": "object",
      "id": "IntHparamSearchSpace"
    },
    "TableRow": {
      "properties": {
        "f": {
          "description": "Represents a single row in the result set, consisting of one or more fields.",
          "type": "array",
          "items": {
            "$ref": "TableCell"
          }
        }
      },
      "type": "object",
      "id": "TableRow"
    },
    "MultiClassClassificationMetrics": {
      "id": "MultiClassClassificationMetrics",
      "type": "object",
      "properties": {
        "aggregateClassificationMetrics": {
          "description": "Aggregate classification metrics.",
          "$ref": "AggregateClassificationMetrics"
        },
        "confusionMatrixList": {
          "description": "Confusion matrix at different thresholds.",
          "items": {
            "$ref": "ConfusionMatrix"
          },
          "type": "array"
        }
      },
      "description": "Evaluation metrics for multi-class classification/classifier models."
    },
    "BigtableColumnFamily": {
      "id": "BigtableColumnFamily",
      "properties": {
        "encoding": {
          "type": "string",
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. This can be overridden for a specific column by listing that column in 'columns' and specifying an encoding for it."
        },
        "familyId": {
          "description": "Identifier of the column family.",
          "type": "string"
        },
        "onlyReadLatest": {
          "description": "[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in 'columns' and specifying a different setting for that column.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "description": "[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in 'columns' and specifying a type for it."
        },
        "columns": {
          "description": "[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field.",
          "items": {
            "$ref": "BigtableColumn"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CsvOptions": {
      "id": "CsvOptions",
      "properties": {
        "quote": {
          "default": "\"",
          "description": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.",
          "type": "string",
          "pattern": ".?"
        },
        "encoding": {
          "type": "string",
          "description": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties."
        },
        "skipLeadingRows": {
          "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped. When autodetect is on, the behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N \u003e 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema.",
          "format": "int64",
          "type": "string"
        },
        "null_marker": {
          "description": "[Optional] An custom string that will represent a NULL value in CSV import data.",
          "type": "string"
        },
        "allowJaggedRows": {
          "type": "boolean",
          "description": "[Optional] Indicates if BigQuery should accept rows that are missing trailing optional columns. If true, BigQuery treats missing trailing columns as null values. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false."
        },
        "fieldDelimiter": {
          "type": "string",
          "description": "[Optional] The separator for fields in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',')."
        },
        "allowQuotedNewlines": {
          "type": "boolean",
          "description": "[Optional] Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false."
        },
        "preserveAsciiControlCharacters": {
          "type": "boolean",
          "description": "[Optional] Preserves the embedded ASCII control characters (the first 32 characters in the ASCII-table, from '\\x00' to '\\x1F') when loading from CSV. Only applicable to CSV, ignored for other formats."
        }
      },
      "type": "object"
    },
    "DatasetAccessEntry": {
      "id": "DatasetAccessEntry",
      "type": "object",
      "properties": {
        "targetTypes": {
          "items": {
            "enum": [
              "TARGET_TYPE_UNSPECIFIED",
              "VIEWS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Do not use. You must set a target type explicitly.",
              "This entry applies to views in the dataset."
            ]
          },
          "type": "array"
        },
        "dataset": {
          "$ref": "DatasetReference",
          "description": "[Required] The dataset this entry applies to."
        }
      }
    },
    "DestinationTableProperties": {
      "id": "DestinationTableProperties",
      "type": "object",
      "properties": {
        "description": {
          "description": "[Optional] The description for the destination table. This will only be used if the destination table is newly created. If the table already exists and a value different than the current description is provided, the job will fail.",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "description": "[Internal] This field is for Google internal use only.",
          "format": "date-time"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "[Optional] The labels associated with this table. You can use these to organize and group your tables. This will only be used if the destination table is newly created. If the table already exists and labels are different than the current labels are provided, the job will fail.",
          "type": "object"
        },
        "friendlyName": {
          "type": "string",
          "description": "[Optional] The friendly name for the destination table. This will only be used if the destination table is newly created. If the table already exists and a value different than the current friendly name is provided, the job will fail."
        }
      }
    },
    "TableDataList": {
      "properties": {
        "etag": {
          "description": "A hash of this page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "bigquery#tableDataList",
          "description": "The resource type of the response."
        },
        "pageToken": {
          "type": "string",
          "description": "A token used for paging results. Providing this token instead of the startIndex parameter can help you retrieve stable results when an underlying table is changing."
        },
        "totalRows": {
          "type": "string",
          "description": "The total number of rows in the complete table.",
          "format": "int64"
        },
        "rows": {
          "items": {
            "$ref": "TableRow"
          },
          "type": "array",
          "description": "Rows of results."
        }
      },
      "id": "TableDataList",
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "DataMaskingStatistics": {
      "properties": {
        "dataMaskingApplied": {
          "default": "false",
          "type": "boolean",
          "description": "[Output-only] [Preview] Whether any accessed data was protected by data masking. The actual evaluation is done by accessStats.masked_field_count \u003e 0. Since this is only used for the discovery_doc generation purpose, as long as the type (boolean) matches, client library can leverage this. The actual evaluation of the variable is done else-where."
        }
      },
      "id": "DataMaskingStatistics",
      "type": "object"
    },
    "JobStatistics": {
      "type": "object",
      "id": "JobStatistics",
      "properties": {
        "transactionInfo": {
          "$ref": "TransactionInfo",
          "description": "[Output-only] [Alpha] Information of the multi-statement transaction if this job is part of one."
        },
        "load": {
          "description": "[Output-only] Statistics for a load job.",
          "$ref": "JobStatistics3"
        },
        "dataMaskingStatistics": {
          "description": "[Output-only] Statistics for data masking. Present only for query and extract jobs.",
          "$ref": "DataMaskingStatistics"
        },
        "quotaDeferments": {
          "type": "array",
          "description": "[Output-only] Quotas which delayed this job's start time.",
          "items": {
            "type": "string"
          }
        },
        "numChildJobs": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Number of child jobs executed."
        },
        "rowLevelSecurityStatistics": {
          "description": "[Output-only] [Preview] Statistics for row-level security. Present only for query and extract jobs.",
          "$ref": "RowLevelSecurityStatistics"
        },
        "parentJobId": {
          "description": "[Output-only] If this is a child job, the id of the parent.",
          "type": "string"
        },
        "scriptStatistics": {
          "$ref": "ScriptStatistics",
          "description": "[Output-only] Statistics for a child job of a script."
        },
        "totalSlotMs": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Slot-milliseconds for the job."
        },
        "creationTime": {
          "description": "[Output-only] Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs.",
          "type": "string",
          "format": "int64"
        },
        "extract": {
          "description": "[Output-only] Statistics for an extract job.",
          "$ref": "JobStatistics4"
        },
        "query": {
          "description": "[Output-only] Statistics for a query job.",
          "$ref": "JobStatistics2"
        },
        "endTime": {
          "format": "int64",
          "description": "[Output-only] End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state.",
          "type": "string"
        },
        "reservationUsage": {
          "items": {
            "properties": {
              "slotMs": {
                "type": "string",
                "format": "int64",
                "description": "[Output-only] Slot-milliseconds the job spent in the given reservation."
              },
              "name": {
                "type": "string",
                "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage."
              }
            },
            "type": "object"
          },
          "description": "[Output-only] Job resource usage breakdown by reservation.",
          "type": "array"
        },
        "sessionInfo": {
          "$ref": "SessionInfo",
          "description": "[Output-only] [Preview] Information of the session if this job is part of one."
        },
        "reservation_id": {
          "description": "[Output-only] Name of the primary reservation assigned to this job. Note that this could be different than reservations reported in the reservation usage field if parent reservations were used to execute this job.",
          "type": "string"
        },
        "completionRatio": {
          "type": "number",
          "format": "double",
          "description": "[TrustedTester] [Output-only] Job progress (0.0 -\u003e 1.0) for LOAD and EXTRACT jobs."
        },
        "copy": {
          "$ref": "JobStatistics5",
          "description": "[Output-only] Statistics for a copy job."
        },
        "totalBytesProcessed": {
          "description": "[Output-only] [Deprecated] Use the bytes processed in the query statistics instead.",
          "format": "int64",
          "type": "string"
        },
        "startTime": {
          "description": "[Output-only] Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "JobStatistics2": {
      "type": "object",
      "properties": {
        "schema": {
          "$ref": "TableSchema",
          "description": "[Output only] The schema of the results. Present only for successful dry run of non-legacy SQL queries."
        },
        "totalPartitionsProcessed": {
          "description": "[Output only] Total number of partitions processed from all partitioned tables referenced in the job.",
          "type": "string",
          "format": "int64"
        },
        "modelTrainingExpectedTotalIteration": {
          "description": "[Output only, Beta] Deprecated; do not use.",
          "type": "string",
          "format": "int64"
        },
        "sparkStatistics": {
          "description": "[Output only] Statistics of a Spark procedure job.",
          "$ref": "SparkStatistics"
        },
        "mlStatistics": {
          "description": "[Output only] Statistics of a BigQuery ML training job.",
          "$ref": "MlStatistics"
        },
        "queryPlan": {
          "items": {
            "$ref": "ExplainQueryStage"
          },
          "description": "[Output only] Describes execution plan for the query.",
          "type": "array"
        },
        "billingTier": {
          "format": "int32",
          "description": "[Output only] Billing tier for the job.",
          "type": "integer"
        },
        "modelTrainingCurrentIteration": {
          "description": "[Output only, Beta] Deprecated; do not use.",
          "format": "int32",
          "type": "integer"
        },
        "reservationUsage": {
          "description": "[Output only] Job resource usage breakdown by reservation.",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "[Output only] Reservation name or \"unreserved\" for on-demand resources usage.",
                "type": "string"
              },
              "slotMs": {
[...]
