{
  "documentationLink": "https://cloud.google.com/bigquery/",
  "ownerName": "Google",
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "revision": "20221015",
  "rootUrl": "https://bigquery.googleapis.com/",
  "description": "A data platform for customers to create, manage, share and query data.",
  "resources": {
    "routines": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "projectId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the routines to list",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Dataset ID of the routines to list"
            },
            "readMask": {
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "If set, then only the Routines matching this filter are returned. The current supported form is either \"routine_type:\" or \"routineType:\", where is a RoutineType enum. Example: \"routineType:SCALAR_FUNCTION\"."
            }
          },
          "id": "bigquery.routines.list"
        },
        "insert": {
          "description": "Creates a new routine in the dataset.",
          "parameters": {
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the new routine",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the new routine",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Routine"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.routines.insert",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Routine"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines"
        },
        "delete": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "id": "bigquery.routines.delete",
          "httpMethod": "DELETE",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. Dataset ID of the routine to delete"
            },
            "projectId": {
              "description": "Required. Project ID of the routine to delete",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "routineId": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Routine ID of the routine to delete",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Deletes the routine specified by routineId from the dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the routine to update",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the routine to update",
              "required": true,
              "type": "string"
            },
            "routineId": {
              "required": true,
              "type": "string",
              "description": "Required. Routine ID of the routine to update",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "id": "bigquery.routines.update",
          "response": {
            "$ref": "Routine"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Routine"
          }
        },
        "get": {
          "response": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "description": "Gets the specified routine resource by routine ID.",
          "id": "bigquery.routines.get",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "parameters": {
            "projectId": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the requested routine",
              "type": "string"
            },
            "readMask": {
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the requested routine",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "routineId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Routine ID of the requested routine",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}"
        }
      }
    },
    "rowAccessPolicies": {
      "methods": {
        "testIamPermissions": {
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "id": "bigquery.rowAccessPolicies.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "path": "{+resource}:testIamPermissions"
        },
        "setIamPolicy": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "path": "{+resource}:setIamPolicy",
          "id": "bigquery.rowAccessPolicies.setIamPolicy"
        },
        "getIamPolicy": {
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "type": "string"
            }
          },
          "path": "{+resource}:getIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy",
          "id": "bigquery.rowAccessPolicies.getIamPolicy",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "list": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "description": "Lists all row access policies on the specified table.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.rowAccessPolicies.list",
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Required. Project ID of the row access policies to list.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results."
            },
            "datasetId": {
              "description": "Required. Dataset ID of row access policies to list.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "tableId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Table ID of the table to list row access policies."
            }
          }
        }
      }
    },
    "datasets": {
      "methods": {
        "delete": {
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "id": "bigquery.datasets.delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Dataset ID of dataset being deleted"
            },
            "projectId": {
              "description": "Project ID of the dataset being deleted",
              "type": "string",
              "location": "path",
              "required": true
            },
            "deleteContents": {
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "DELETE",
          "path": "projects/{projectId}/datasets/{datasetId}"
        },
        "patch": {
          "id": "bigquery.datasets.patch",
          "response": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "request": {
            "$ref": "Dataset"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the dataset being updated",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the dataset being updated",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.datasets.get",
          "parameters": {
            "projectId": {
              "description": "Project ID of the requested dataset",
              "type": "string",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "description": "Dataset ID of the requested dataset",
              "required": true
            }
          },
          "description": "Returns the dataset specified by datasetID.",
          "path": "projects/{projectId}/datasets/{datasetId}"
        },
        "list": {
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the datasets to be listed"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of results to return",
              "format": "uint32",
              "type": "integer"
            },
            "filter": {
              "type": "string",
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "all": {
              "description": "Whether to list all datasets, including hidden ones",
              "location": "query",
              "type": "boolean"
            }
          },
          "httpMethod": "GET",
          "id": "bigquery.datasets.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/datasets",
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "response": {
            "$ref": "DatasetList"
          }
        },
        "update": {
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "request": {
            "$ref": "Dataset"
          },
          "parameters": {
            "datasetId": {
              "required": true,
              "location": "path",
              "description": "Dataset ID of the dataset being updated",
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the dataset being updated",
              "required": true
            }
          },
          "id": "bigquery.datasets.update"
        },
        "insert": {
          "response": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the new dataset",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "description": "Creates a new empty dataset.",
          "id": "bigquery.datasets.insert"
        }
      }
    },
    "tables": {
      "methods": {
        "setIamPolicy": {
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "id": "bigquery.tables.setIamPolicy",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "{+resource}:setIamPolicy"
        },
        "patch": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "response": {
            "$ref": "Table"
          },
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "request": {
            "$ref": "Table"
          },
          "parameters": {
            "datasetId": {
              "location": "path",
              "type": "string",
              "description": "Dataset ID of the table to update",
              "required": true
            },
            "autodetect_schema": {
              "description": "When true will autodetect schema, else will keep original schema",
              "location": "query",
              "type": "boolean"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Project ID of the table to update",
              "location": "path"
            },
            "tableId": {
              "type": "string",
              "required": true,
              "description": "Table ID of the table to update",
              "location": "path"
            }
          },
          "id": "bigquery.tables.patch",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "delete": {
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "tableId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Table ID of the table to delete"
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "description": "Dataset ID of the table to delete",
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the table to delete",
              "required": true
            }
          },
          "id": "bigquery.tables.delete",
          "httpMethod": "DELETE"
        },
        "list": {
          "id": "bigquery.tables.list",
          "response": {
            "$ref": "TableList"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "parameters": {
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the tables to list"
            },
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the tables to list"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            }
          },
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables"
        },
        "get": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Table"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.get",
          "parameters": {
            "view": {
              "location": "query",
              "enum": [
                "BASIC",
                "FULL",
                "STORAGE_STATS",
                "TABLE_METADATA_VIEW_UNSPECIFIED"
              ],
              "enumDescriptions": [
                "Includes basic table information including schema and partitioning specification. This view does not include storage statistics such as numRows or numBytes. This view is significantly more efficient and should be used to support high query rates.",
                "Includes all table information, including storage statistics. It returns same information as STORAGE_STATS view, but may contain additional information in the future.",
                "Includes all information in the BASIC view as well as storage statistics (numBytes, numLongTermBytes, numRows and lastModifiedTime).",
                "The default value. Default to the STORAGE_STATS view."
              ],
              "type": "string",
              "description": "Specifies the view that determines which table information is returned. By default, basic table information and storage statistics (STORAGE_STATS) are returned."
            },
            "tableId": {
              "description": "Table ID of the requested table",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "selectedFields": {
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the requested table"
            },
            "datasetId": {
              "description": "Dataset ID of the requested table",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "datasetId": {
              "required": true,
              "type": "string",
              "description": "Dataset ID of the table to update",
              "location": "path"
            },
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the table to update"
            },
            "autodetect_schema": {
              "type": "boolean",
              "location": "query",
              "description": "When true will autodetect schema, else will keep original schema"
            },
            "tableId": {
              "required": true,
              "description": "Table ID of the table to update",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Table"
          },
          "response": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.update"
        },
        "insert": {
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Project ID of the new table",
              "type": "string",
              "location": "path"
            },
            "datasetId": {
              "required": true,
              "description": "Dataset ID of the new table",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "request": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.tables.insert",
          "response": {
            "$ref": "Table"
          },
          "description": "Creates a new, empty table in the dataset."
        },
        "getIamPolicy": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "httpMethod": "POST",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "id": "bigquery.tables.getIamPolicy",
          "path": "{+resource}:getIamPolicy"
        },
        "testIamPermissions": {
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "id": "bigquery.tables.testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "path": "{+resource}:testIamPermissions",
          "httpMethod": "POST"
        }
      }
    },
    "jobs": {
      "methods": {
        "delete": {
          "description": "Requests the deletion of the metadata of a job. This call returns when the job's metadata is deleted.",
          "httpMethod": "DELETE",
          "path": "projects/{+projectId}/jobs/{+jobId}/delete",
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/delete",
          "id": "bigquery.jobs.delete",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "jobId": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Job ID of the job for which metadata is to be deleted. If this is a parent job which has child jobs, the metadata from all child jobs will be deleted as well. Direct deletion of the metadata of child jobs is not allowed."
            },
            "projectId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the job for which metadata is to be deleted.",
              "type": "string",
              "location": "path"
            },
            "location": {
              "description": "The geographic location of the job. Required. See details at: https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "insert": {
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              },
              "resumable": {
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "path": "projects/{projectId}/jobs",
          "httpMethod": "POST",
          "request": {
            "$ref": "Job"
          },
          "supportsMediaUpload": true,
          "response": {
            "$ref": "Job"
          },
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "parameterOrder": [
            "projectId"
          ],
          "id": "bigquery.jobs.insert",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that will be billed for the job"
            }
          }
        },
        "cancel": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "id": "bigquery.jobs.cancel",
          "response": {
            "$ref": "JobCancelResponse"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "description": "[Required] Project ID of the job to cancel",
              "type": "string",
              "location": "path",
              "required": true
            },
            "jobId": {
              "description": "[Required] Job ID of the job to cancel",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "list": {
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "path": "projects/{projectId}/jobs",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "allUsers": {
              "type": "boolean",
              "description": "Whether to display jobs owned by all users in the project. Default false",
              "location": "query"
            },
            "projection": {
              "location": "query",
              "enum": [
                "full",
                "minimal"
              ],
              "type": "string",
              "description": "Restrict information returned to a set of selected fields",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ]
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Project ID of the jobs to list",
              "location": "path"
            },
            "stateFilter": {
              "location": "query",
              "repeated": true,
              "description": "Filter for job state",
              "type": "string",
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ]
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "Maximum number of results to return",
              "type": "integer"
            },
            "parentJobId": {
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent",
              "location": "query",
              "type": "string"
            },
            "maxCreationTime": {
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "location": "query",
              "format": "uint64",
              "type": "string"
            },
            "minCreationTime": {
              "type": "string",
              "location": "query",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "format": "uint64"
            }
          },
          "httpMethod": "GET",
          "id": "bigquery.jobs.list",
          "response": {
            "$ref": "JobList"
          }
        },
        "getQueryResults": {
          "httpMethod": "GET",
          "description": "Retrieves the results of a query job.",
          "path": "projects/{projectId}/queries/{jobId}",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "startIndex": {
              "type": "string",
              "location": "query",
              "description": "Zero-based index of the starting row",
              "format": "uint64"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "[Required] Project ID of the query job"
            },
            "location": {
              "type": "string",
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "description": "Maximum number of results to read",
              "type": "integer",
              "location": "query"
            },
            "jobId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "[Required] Job ID of the query job"
            },
            "timeoutMs": {
              "format": "uint32",
              "location": "query",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "id": "bigquery.jobs.getQueryResults"
        },
        "query": {
          "id": "bigquery.jobs.query",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project billed for the query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "path": "projects/{projectId}/queries",
          "httpMethod": "POST",
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "request": {
            "$ref": "QueryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "QueryResponse"
          }
        },
        "get": {
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "[Required] Project ID of the requested job"
            },
            "jobId": {
              "type": "string",
              "required": true,
              "description": "[Required] Job ID of the requested job",
              "location": "path"
            },
            "location": {
              "type": "string",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/jobs/{jobId}",
          "id": "bigquery.jobs.get",
          "httpMethod": "GET"
        }
      }
    },
    "models": {
      "methods": {
        "get": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. Dataset ID of the requested model."
            },
            "projectId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. Project ID of the requested model."
            },
            "modelId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Model ID of the requested model.",
              "required": true,
              "type": "string"
            }
          },
          "id": "bigquery.models.get",
          "description": "Gets the specified model resource by model ID.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Model"
          },
          "httpMethod": "GET",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}"
        },
        "list": {
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the models to list.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call to request the next page of results"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the models to list."
            }
          },
          "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method.",
          "httpMethod": "GET",
          "id": "bigquery.models.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "ListModelsResponse"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models"
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.models.delete",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "httpMethod": "DELETE",
          "description": "Deletes the model specified by modelId from the dataset.",
          "parameters": {
            "modelId": {
              "pattern": "^[^/]+$",
              "description": "Required. Model ID of the model to delete.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the model to delete.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "description": "Required. Dataset ID of the model to delete.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}"
        },
        "patch": {
          "description": "Patch specific fields in the specified model.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Model"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "httpMethod": "PATCH",
          "id": "bigquery.models.patch",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "response": {
            "$ref": "Model"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "parameters": {
            "modelId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Model ID of the model to patch.",
              "type": "string",
              "location": "path"
            },
            "datasetId": {
              "type": "string",
              "description": "Required. Dataset ID of the model to patch.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            },
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the model to patch."
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "getServiceAccount": {
          "parameterOrder": [
            "projectId"
          ],
          "id": "bigquery.projects.getServiceAccount",
          "path": "projects/{projectId}/serviceAccount",
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID for which the service account is requested."
            }
          },
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS."
        },
        "list": {
          "httpMethod": "GET",
          "id": "bigquery.projects.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "ProjectList"
          },
          "path": "projects",
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            }
          },
          "description": "Lists all projects to which you have been granted any project role."
        }
      }
    },
    "tabledata": {
      "methods": {
        "insertAll": {
          "id": "bigquery.tabledata.insertAll",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "required": true,
              "description": "Dataset ID of the destination table.",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the destination table."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID of the destination table.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll"
        },
        "list": {
          "id": "bigquery.tabledata.list",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, identifying the result set",
              "location": "query",
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "description": "Dataset ID of the table to read",
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the table to read",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the table to read",
              "required": true,
              "type": "string"
            },
            "startIndex": {
              "format": "uint64",
              "type": "string",
              "location": "query",
              "description": "Zero-based index of the starting row to read"
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "TableDataList"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role."
        }
      }
    }
  },
  "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
  "id": "bigquery:v2",
  "protocol": "rest",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/search-32.gif",
    "x16": "https://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "servicePath": "bigquery/v2/",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "alt": {
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "version": "v2",
  "basePath": "/bigquery/v2/",
  "title": "BigQuery API",
  "batchPath": "batch/bigquery/v2",
  "name": "bigquery",
  "schemas": {
    "EvaluationMetrics": {
      "id": "EvaluationMetrics",
      "properties": {
        "dimensionalityReductionMetrics": {
          "$ref": "DimensionalityReductionMetrics",
          "description": "Evaluation metrics when the model is a dimensionality reduction model, which currently includes PCA."
        },
        "multiClassClassificationMetrics": {
          "description": "Populated for multi-class classification/classifier models.",
          "$ref": "MultiClassClassificationMetrics"
        },
        "binaryClassificationMetrics": {
          "$ref": "BinaryClassificationMetrics",
          "description": "Populated for binary classification/classifier models."
        },
        "regressionMetrics": {
          "$ref": "RegressionMetrics",
          "description": "Populated for regression models and explicit feedback type matrix factorization models."
        },
        "arimaForecastingMetrics": {
          "description": "Populated for ARIMA models.",
          "$ref": "ArimaForecastingMetrics"
        },
        "clusteringMetrics": {
          "$ref": "ClusteringMetrics",
          "description": "Populated for clustering models."
        },
        "rankingMetrics": {
          "$ref": "RankingMetrics",
          "description": "Populated for implicit feedback type matrix factorization models."
        }
      },
      "type": "object",
      "description": "Evaluation metrics of a model. These are either computed on all training data or just the eval data based on whether eval data was used during training. These are not present for imported models."
    },
    "ConfusionMatrix": {
      "id": "ConfusionMatrix",
      "properties": {
        "confidenceThreshold": {
          "format": "double",
          "description": "Confidence threshold used when computing the entries of the confusion matrix.",
          "type": "number"
        },
        "rows": {
          "description": "One row per actual label.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Confusion matrix for multi-class classification models."
    },
    "SparkStatistics": {
      "properties": {
        "spark_job_location": {
          "type": "string",
          "description": "[Output-only] Location where the Spark job is executed."
        },
        "logging_info": {
          "$ref": "SparkLoggingInfo",
          "description": "[Output-only] Logging info is used to generate a link to Cloud Logging."
        },
        "endpoints": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "[Output-only] Endpoints generated for the Spark job."
        },
        "spark_job_id": {
          "type": "string",
          "description": "[Output-only] Spark job id if a Spark job is created successfully."
        }
      },
      "id": "SparkStatistics",
      "type": "object"
    },
    "TableDataList": {
      "id": "TableDataList",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The resource type of the response.",
          "default": "bigquery#tableDataList",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "A token used for paging results. Providing this token instead of the startIndex parameter can help you retrieve stable results when an underlying table is changing."
        },
        "etag": {
          "type": "string",
          "description": "A hash of this page of results."
        },
        "totalRows": {
          "description": "The total number of rows in the complete table.",
          "format": "int64",
          "type": "string"
        },
        "rows": {
          "items": {
            "$ref": "TableRow"
          },
          "description": "Rows of results.",
          "type": "array"
        }
      }
    },
    "CategoryCount": {
      "id": "CategoryCount",
      "properties": {
        "category": {
          "type": "string",
          "description": "The name of category."
        },
        "count": {
          "format": "int64",
          "description": "The count of training samples matching the category within the cluster.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the count of a single category within the cluster."
    },
    "FeatureValue": {
      "properties": {
        "categoricalValue": {
          "$ref": "CategoricalValue",
          "description": "The categorical feature value."
        },
        "featureColumn": {
          "description": "The feature column name.",
          "type": "string"
        },
        "numericalValue": {
          "format": "double",
          "type": "number",
          "description": "The numerical feature value. This is the centroid value for this feature."
        }
      },
      "type": "object",
      "description": "Representative value of a single feature within the cluster.",
      "id": "FeatureValue"
    },
    "JobConfigurationQuery": {
      "id": "JobConfigurationQuery",
      "type": "object",
      "properties": {
        "maximumBytesBilled": {
          "type": "string",
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "format": "int64"
        },
        "queryParameters": {
          "description": "Query parameters for standard SQL queries.",
          "type": "array",
          "items": {
            "$ref": "QueryParameter"
          }
        },
        "flattenResults": {
          "type": "boolean",
          "description": "[Optional] If true and query uses legacy SQL dialect, flattens all nested and repeated fields in the query results. allowLargeResults must be true if this is set to false. For standard SQL queries, this flag is ignored and results are never flattened.",
          "default": "true"
        },
        "parameterMode": {
          "type": "string",
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query."
        },
        "rangePartitioning": {
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "RangePartitioning"
        },
        "query": {
          "description": "[Required] SQL query text to execute. The useLegacySql field can be used to indicate whether the query uses legacy SQL or standard SQL.",
          "type": "string"
        },
        "schemaUpdateOptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Allows the schema of the destination table to be updated as a side effect of the query job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable."
        },
        "priority": {
          "type": "string",
          "description": "[Optional] Specifies a priority for the query. Possible values include INTERACTIVE and BATCH. The default value is INTERACTIVE."
        },
        "connectionProperties": {
          "type": "array",
          "items": {
            "$ref": "ConnectionProperty"
          },
          "description": "Connection properties."
        },
        "timePartitioning": {
          "description": "Time-based partitioning specification for the destination table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "TimePartitioning"
        },
        "useQueryCache": {
          "type": "boolean",
          "default": "true",
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. Moreover, the query cache is only available when a query does not have a destination table specified. The default value is true."
        },
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false.",
          "default": "true",
          "type": "boolean"
        },
        "maximumBillingTier": {
          "type": "integer",
          "format": "int32",
          "description": "[Optional] Limits the billing tier for this job. Queries that have resource usage beyond this tier will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "default": "1"
        },
        "writeDisposition": {
          "type": "string",
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data and uses the schema from the query result. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "destinationEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "clustering": {
          "$ref": "Clustering",
          "description": "[Beta] Clustering specification for the destination table. Must be specified with time-based partitioning, data in the table will be first partitioned and subsequently clustered."
        },
        "preserveNulls": {
          "type": "boolean",
          "description": "[Deprecated] This property is deprecated."
        },
        "createDisposition": {
          "type": "string",
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "userDefinedFunctionResources": {
          "description": "Describes user-defined function resources used in the query.",
          "items": {
            "$ref": "UserDefinedFunctionResource"
          },
          "type": "array"
        },
        "destinationTable": {
          "$ref": "TableReference",
          "description": "[Optional] Describes the table where the query results should be stored. If not present, a new table will be created to store the results. This property must be set for large results that exceed the maximum response size."
        },
        "allowLargeResults": {
          "description": "[Optional] If true and query uses legacy SQL dialect, allows the query to produce arbitrarily large result tables at a slight cost in performance. Requires destinationTable to be set. For standard SQL queries, this flag is ignored and large results are always allowed. However, you must still set destinationTable when result size exceeds the allowed maximum response size.",
          "type": "boolean",
          "default": "false"
        },
        "createSession": {
          "type": "boolean",
          "description": "If true, creates a new session, where session id will be a server generated random id. If false, runs query with an existing session_id passed in ConnectionProperty, otherwise runs query in non-session mode."
        },
        "tableDefinitions": {
          "additionalProperties": {
            "$ref": "ExternalDataConfiguration"
          },
          "description": "[Optional] If querying an external data source outside of BigQuery, describes the data format, location and other properties of the data source. By defining these properties, the data source can then be queried as if it were a standard BigQuery table.",
          "type": "object"
        },
        "defaultDataset": {
          "$ref": "DatasetReference",
          "description": "[Optional] Specifies the default dataset to use for unqualified table names in the query. Note that this does not alter behavior of unqualified dataset names."
        }
      }
    },
    "CloneDefinition": {
      "properties": {
        "cloneTime": {
          "type": "string",
          "format": "date-time",
          "description": "[Required] The time at which the base table was cloned. This value is reported in the JSON response using RFC3339 format."
        },
        "baseTableReference": {
          "description": "[Required] Reference describing the ID of the table that was cloned.",
          "$ref": "TableReference"
        }
      },
      "id": "CloneDefinition",
      "type": "object"
    },
    "Table": {
      "properties": {
        "requirePartitionFilter": {
          "default": "false",
          "type": "boolean",
          "description": "[Optional] If set to true, queries over this table require a partition filter that can be used for partition elimination to be specified."
        },
        "num_total_physical_bytes": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] The physical size of this table in bytes. This also includes storage used for time travel. This data is not kept in real time, and might be delayed by a few seconds to a few minutes."
        },
        "numLongTermBytes": {
          "type": "string",
          "description": "[Output-only] The number of bytes in the table that are considered \"long-term storage\".",
          "format": "int64"
        },
        "schema": {
          "description": "[Optional] Describes the schema of this table.",
          "$ref": "TableSchema"
        },
        "creationTime": {
          "description": "[Output-only] The time when this table was created, in milliseconds since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "numBytes": {
          "type": "string",
          "description": "[Output-only] The size of this table in bytes, excluding any data in the streaming buffer.",
          "format": "int64"
        },
        "num_long_term_logical_bytes": {
          "format": "int64",
          "description": "[Output-only] Number of logical bytes that are more than 90 days old.",
          "type": "string"
        },
        "num_active_physical_bytes": {
          "format": "int64",
          "description": "[Output-only] Number of physical bytes less than 90 days old. This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "type": "string"
        },
        "kind": {
          "default": "bigquery#table",
          "type": "string",
          "description": "[Output-only] The type of the resource."
        },
        "num_time_travel_physical_bytes": {
          "description": "[Output-only] Number of physical bytes used by time travel storage (deleted or changed data). This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "[Output-only] Describes the table type. The following values are supported: TABLE: A normal BigQuery table. VIEW: A virtual table defined by a SQL query. SNAPSHOT: An immutable, read-only table that is a copy of another table. [TrustedTester] MATERIALIZED_VIEW: SQL query whose result is persisted. EXTERNAL: A table that references data stored in an external storage system, such as Google Cloud Storage. The default value is TABLE."
        },
        "timePartitioning": {
          "description": "Time-based partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "TimePartitioning"
        },
        "numRows": {
          "format": "uint64",
          "type": "string",
          "description": "[Output-only] The number of rows of data in this table, excluding any data in the streaming buffer."
        },
        "lastModifiedTime": {
          "format": "uint64",
          "type": "string",
          "description": "[Output-only] The time when this table was last modified, in milliseconds since the epoch."
        },
        "etag": {
          "type": "string",
          "description": "[Output-only] A hash of the table metadata. Used to ensure there were no concurrent modifications to the resource when attempting an update. Not guaranteed to change when the table contents or the fields numRows, numBytes, numLongTermBytes or lastModifiedTime change."
        },
        "location": {
          "description": "[Output-only] The geographic location where the table resides. This value is inherited from the dataset.",
          "type": "string"
        },
        "tableReference": {
          "$ref": "TableReference",
          "description": "[Required] Reference describing the ID of this table."
        },
        "encryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys).",
          "$ref": "EncryptionConfiguration"
        },
        "cloneDefinition": {
          "description": "[Output-only] Clone definition.",
          "$ref": "CloneDefinition"
        },
        "snapshotDefinition": {
          "$ref": "SnapshotDefinition",
          "description": "[Output-only] Snapshot definition."
        },
        "maxStaleness": {
          "type": "string",
          "description": "[Optional] Max staleness of data that could be returned when table or materialized view is queried (formatted as Google SQL Interval type).",
          "format": "byte"
        },
        "view": {
          "description": "[Optional] The view definition.",
          "$ref": "ViewDefinition"
        },
        "selfLink": {
          "type": "string",
          "description": "[Output-only] A URL that can be used to access this resource again."
        },
        "streamingBuffer": {
          "description": "[Output-only] Contains information regarding this table's streaming buffer, if one is present. This field will be absent if the table is not being streamed to or if there is no data in the streaming buffer.",
          "$ref": "Streamingbuffer"
        },
        "defaultCollation": {
          "type": "string",
          "description": "[Output-only] The default collation of the table."
        },
        "externalDataConfiguration": {
          "$ref": "ExternalDataConfiguration",
          "description": "[Optional] Describes the data format, location, and other properties of a table stored outside of BigQuery. By defining these properties, the data source can then be queried as if it were a standard BigQuery table."
        },
        "id": {
          "description": "[Output-only] An opaque ID uniquely identifying the table.",
          "type": "string"
        },
        "expirationTime": {
          "format": "int64",
          "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed. The defaultTableExpirationMs property of the encapsulating dataset can be used to set a default expirationTime on newly created tables.",
          "type": "string"
        },
        "num_active_logical_bytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Number of logical bytes that are less than 90 days old."
        },
        "materializedView": {
          "description": "[Optional] Materialized view definition.",
          "$ref": "MaterializedViewDefinition"
        },
        "numPhysicalBytes": {
          "type": "string",
          "description": "[Output-only] [TrustedTester] The physical size of this table in bytes, excluding any data in the streaming buffer. This includes compression and storage used for time travel.",
          "format": "int64"
        },
        "rangePartitioning": {
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "RangePartitioning"
        },
        "num_partitions": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] The number of partitions present in the table or materialized view. This data is not kept in real time, and might be delayed by a few seconds to a few minutes."
        },
        "model": {
          "description": "[Output-only, Beta] Present iff this table represents a ML model. Describes the training information for the model, and it is required to run 'PREDICT' queries.",
          "$ref": "ModelDefinition"
        },
        "labels": {
          "description": "The labels associated with this table. You can use these to organize and group your tables. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "num_total_logical_bytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Total number of logical bytes in the table or materialized view."
        },
        "clustering": {
          "$ref": "Clustering",
          "description": "[Beta] Clustering specification for the table. Must be specified with partitioning, data in the table will be first partitioned and subsequently clustered."
        },
        "description": {
          "type": "string",
          "description": "[Optional] A user-friendly description of this table."
        },
        "friendlyName": {
          "type": "string",
          "description": "[Optional] A descriptive name for this table."
        },
        "num_long_term_physical_bytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Number of physical bytes more than 90 days old. This data is not kept in real time, and might be delayed by a few seconds to a few minutes."
        }
      },
      "id": "Table",
      "type": "object"
    },
    "BigQueryModelTraining": {
      "id": "BigQueryModelTraining",
      "properties": {
        "currentIteration": {
          "type": "integer",
          "format": "int32",
          "description": "[Output-only, Beta] Index of current ML training iteration. Updated during create model query job to show job progress."
        },
        "expectedTotalIterations": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only, Beta] Expected number of iterations for the create model query job specified as num_iterations in the input query. The actual total number of iterations may be less than this number due to early stop."
        }
      },
      "type": "object"
    },
    "IntArrayHparamSearchSpace": {
      "properties": {
        "candidates": {
          "items": {
            "$ref": "IntArray"
          },
          "description": "Candidates for the int array parameter.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Search space for int array.",
      "id": "IntArrayHparamSearchSpace"
    },
    "ArimaResult": {
      "description": "(Auto-)arima fitting result. Wrap everything in ArimaResult for easier refactoring if we want to use model-specific iteration results.",
      "id": "ArimaResult",
      "type": "object",
      "properties": {
        "arimaModelInfo": {
          "description": "This message is repeated because there are multiple arima models fitted in auto-arima. For non-auto-arima model, its size is one.",
          "type": "array",
          "items": {
            "$ref": "ArimaModelInfo"
          }
        },
        "seasonalPeriods": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "type": "string",
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          },
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series."
        }
      }
    },
    "Job": {
      "id": "Job",
      "type": "object",
      "properties": {
        "jobReference": {
          "description": "[Optional] Reference describing the unique-per-user name of the job.",
          "$ref": "JobReference"
        },
        "status": {
          "description": "[Output-only] The status of this job. Examine this value when polling an asynchronous job to see if the job is complete.",
          "$ref": "JobStatus"
        },
        "id": {
          "type": "string",
          "description": "[Output-only] Opaque ID field of the job"
        },
        "kind": {
          "description": "[Output-only] The type of the resource.",
          "type": "string",
          "default": "bigquery#job"
        },
        "user_email": {
          "type": "string",
          "description": "[Output-only] Email address of the user who ran the job."
        },
        "etag": {
          "description": "[Output-only] A hash of this resource.",
          "type": "string"
        },
        "configuration": {
          "$ref": "JobConfiguration",
          "description": "[Required] Describes the job configuration."
        },
        "statistics": {
          "description": "[Output-only] Information about the job, including starting time and ending time of the job.",
          "$ref": "JobStatistics"
        },
        "selfLink": {
          "type": "string",
          "description": "[Output-only] A URL that can be used to access this resource again."
        }
      }
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest"
    },
    "JobStatus": {
      "type": "object",
      "properties": {
        "errorResult": {
          "description": "[Output-only] Final error result of the job. If present, indicates that the job has completed and was unsuccessful.",
          "$ref": "ErrorProto"
        },
        "errors": {
          "description": "[Output-only] The first errors encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "items": {
            "$ref": "ErrorProto"
          },
          "type": "array"
        },
        "state": {
          "description": "[Output-only] Running state of the job.",
          "type": "string"
        }
      },
      "id": "JobStatus"
    },
    "Cluster": {
      "id": "Cluster",
      "type": "object",
      "properties": {
        "featureValues": {
          "type": "array",
          "description": "Values of highly variant features for this cluster.",
          "items": {
            "$ref": "FeatureValue"
          }
        },
        "centroidId": {
          "format": "int64",
          "description": "Centroid id.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Count of training data rows that were assigned to this cluster."
        }
      },
      "description": "Message containing the information about one cluster."
    },
    "CsvOptions": {
      "type": "object",
      "id": "CsvOptions",
      "properties": {
        "fieldDelimiter": {
          "description": "[Optional] The separator for fields in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',').",
          "type": "string"
        },
        "skipLeadingRows": {
          "type": "string",
          "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped. When autodetect is on, the behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N \u003e 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema.",
          "format": "int64"
        },
        "quote": {
          "description": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.",
          "pattern": ".?",
          "default": "\"",
          "type": "string"
        },
        "preserveAsciiControlCharacters": {
          "type": "boolean",
          "description": "[Optional] Preserves the embedded ASCII control characters (the first 32 characters in the ASCII-table, from '\\x00' to '\\x1F') when loading from CSV. Only applicable to CSV, ignored for other formats."
        },
        "encoding": {
          "type": "string",
          "description": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties."
        },
        "allowJaggedRows": {
          "description": "[Optional] Indicates if BigQuery should accept rows that are missing trailing optional columns. If true, BigQuery treats missing trailing columns as null values. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false.",
          "type": "boolean"
        },
        "allowQuotedNewlines": {
          "description": "[Optional] Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.",
[...]
