{
  "servicePath": "bigquery/v2/",
  "kind": "discovery#restDescription",
  "rootUrl": "https://bigquery.googleapis.com/",
  "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
  "version": "v2",
  "name": "bigquery",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "basePath": "/bigquery/v2/",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/search-32.gif",
    "x16": "https://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "SparkStatistics": {
      "properties": {
        "logging_info": {
          "$ref": "SparkLoggingInfo",
          "description": "[Output-only] Logging info is used to generate a link to Cloud Logging."
        },
        "spark_job_id": {
          "description": "[Output-only] Spark job id if a Spark job is created successfully.",
          "type": "string"
        },
        "spark_job_location": {
          "type": "string",
          "description": "[Output-only] Location where the Spark job is executed."
        },
        "endpoints": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "[Output-only] Endpoints generated for the Spark job."
        }
      },
      "type": "object",
      "id": "SparkStatistics"
    },
    "CloneDefinition": {
      "type": "object",
      "id": "CloneDefinition",
      "properties": {
        "cloneTime": {
          "type": "string",
          "format": "date-time",
          "description": "[Required] The time at which the base table was cloned. This value is reported in the JSON response using RFC3339 format."
        },
        "baseTableReference": {
          "$ref": "TableReference",
          "description": "[Required] Reference describing the ID of the table that was cloned."
        }
      }
    },
    "RoutineReference": {
      "properties": {
        "projectId": {
          "description": "[Required] The ID of the project containing this routine.",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "description": "[Required] The ID of the dataset containing this routine."
        },
        "routineId": {
          "description": "[Required] The ID of the routine. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters.",
          "type": "string"
        }
      },
      "id": "RoutineReference",
      "type": "object"
    },
    "TableDataInsertAllResponse": {
      "properties": {
        "insertErrors": {
          "description": "An array of errors for rows that were not inserted.",
          "type": "array",
          "items": {
            "properties": {
              "index": {
                "format": "uint32",
                "description": "The index of the row that error applies to.",
                "type": "integer"
              },
              "errors": {
                "type": "array",
                "description": "Error information for the row indicated by the index property.",
                "items": {
                  "$ref": "ErrorProto"
                }
              }
            },
            "type": "object"
          }
        },
        "kind": {
          "description": "The resource type of the response.",
          "default": "bigquery#tableDataInsertAllResponse",
          "type": "string"
        }
      },
      "id": "TableDataInsertAllResponse",
      "type": "object"
    },
    "ListModelsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        },
        "models": {
          "description": "Models in the requested dataset. Only the following fields are populated: model_reference, model_type, creation_time, last_modified_time and labels.",
          "items": {
            "$ref": "Model"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListModelsResponse"
    },
    "BinaryConfusionMatrix": {
      "type": "object",
      "description": "Confusion matrix for binary classification models.",
      "properties": {
        "recall": {
          "format": "double",
          "type": "number",
          "description": "The fraction of actual positive labels that were given a positive prediction."
        },
        "f1Score": {
          "type": "number",
          "description": "The equally weighted average of recall and precision.",
          "format": "double"
        },
        "truePositives": {
          "format": "int64",
          "description": "Number of true samples predicted as true.",
          "type": "string"
        },
        "falsePositives": {
          "type": "string",
          "description": "Number of false samples predicted as true.",
          "format": "int64"
        },
        "falseNegatives": {
          "type": "string",
          "format": "int64",
          "description": "Number of false samples predicted as false."
        },
        "accuracy": {
          "format": "double",
          "description": "The fraction of predictions given the correct label.",
          "type": "number"
        },
        "precision": {
          "type": "number",
          "format": "double",
          "description": "The fraction of actual positive predictions that had positive actual labels."
        },
        "trueNegatives": {
          "type": "string",
          "description": "Number of true samples predicted as false.",
          "format": "int64"
        },
        "positiveClassThreshold": {
          "type": "number",
          "description": "Threshold value used when computing each of the following metric.",
          "format": "double"
        }
      },
      "id": "BinaryConfusionMatrix"
    },
    "JobConfigurationExtract": {
      "id": "JobConfigurationExtract",
      "properties": {
        "useAvroLogicalTypes": {
          "description": "[Optional] If destinationFormat is set to \"AVRO\", this flag indicates whether to enable extracting applicable column types (such as TIMESTAMP) to their corresponding AVRO logical types (timestamp-micros), instead of only using their raw types (avro-long). Not applicable when extracting models.",
          "type": "boolean"
        },
        "sourceModel": {
          "description": "A reference to the model being exported.",
          "$ref": "ModelReference"
        },
        "destinationUris": {
          "description": "[Pick one] A list of fully-qualified Google Cloud Storage URIs where the extracted table should be written.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "destinationUri": {
          "type": "string",
          "description": "[Pick one] DEPRECATED: Use destinationUris instead, passing only one URI as necessary. The fully-qualified Google Cloud Storage URI where the extracted table should be written."
        },
        "sourceTable": {
          "$ref": "TableReference",
          "description": "A reference to the table being exported."
        },
        "printHeader": {
          "type": "boolean",
          "description": "[Optional] Whether to print out a header row in the results. Default is true. Not applicable when extracting models.",
          "default": "true"
        },
        "compression": {
          "description": "[Optional] The compression type to use for exported files. Possible values include GZIP, DEFLATE, SNAPPY, and NONE. The default value is NONE. DEFLATE and SNAPPY are only supported for Avro. Not applicable when extracting models.",
          "type": "string"
        },
        "destinationFormat": {
          "type": "string",
          "description": "[Optional] The exported file format. Possible values include CSV, NEWLINE_DELIMITED_JSON, PARQUET or AVRO for tables and ML_TF_SAVED_MODEL or ML_XGBOOST_BOOSTER for models. The default value for tables is CSV. Tables with nested or repeated fields cannot be exported as CSV. The default value for models is ML_TF_SAVED_MODEL."
        },
        "fieldDelimiter": {
          "type": "string",
          "description": "[Optional] Delimiter to use between fields in the exported data. Default is ','. Not applicable when extracting models."
        }
      },
      "type": "object"
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig"
    },
    "Row": {
      "description": "A single row in the confusion matrix.",
      "properties": {
        "actualLabel": {
          "description": "The original label of this row.",
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "Entry"
          },
          "description": "Info describing predicted label distribution."
        }
      },
      "id": "Row",
      "type": "object"
    },
    "TableReference": {
      "properties": {
        "datasetId": {
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "description": "[Required] The ID of the dataset containing this table.",
          "type": "string"
        },
        "tableId": {
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "type": "string",
          "description": "[Required] The ID of the table. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters."
        },
        "projectId": {
          "type": "string",
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "description": "[Required] The ID of the project containing this table."
        }
      },
      "id": "TableReference",
      "type": "object"
    },
    "DoubleRange": {
      "type": "object",
      "description": "Range of a double hyperparameter.",
      "properties": {
        "max": {
          "format": "double",
          "description": "Max value of the double parameter.",
          "type": "number"
        },
        "min": {
          "type": "number",
          "format": "double",
          "description": "Min value of the double parameter."
        }
      },
      "id": "DoubleRange"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "description": "The log type that this config enables."
        }
      },
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "MlStatistics": {
      "properties": {
        "iterationResults": {
          "description": "Results for all completed iterations.",
          "items": {
            "$ref": "IterationResult"
          },
          "type": "array"
        },
        "maxIterations": {
          "description": "Maximum number of iterations specified as max_iterations in the 'CREATE MODEL' query. The actual number of iterations may be less than this number due to early stop.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "MlStatistics",
      "type": "object"
    },
    "DoubleCandidates": {
      "properties": {
        "candidates": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array",
          "description": "Candidates for the double parameter in increasing order."
        }
      },
      "id": "DoubleCandidates",
      "description": "Discrete candidates of a double hyperparameter.",
      "type": "object"
    },
    "BqmlIterationResult": {
      "type": "object",
      "id": "BqmlIterationResult",
      "properties": {
        "learnRate": {
          "description": "[Output-only, Beta] Learning rate used for this iteration, it varies for different training iterations if learn_rate_strategy option is not constant.",
          "format": "double",
          "type": "number"
        },
        "evalLoss": {
          "description": "[Output-only, Beta] Eval loss computed on the eval data at the end of the iteration. The eval loss is used for early stopping to avoid overfitting. No eval loss if eval_split_method option is specified as no_split or auto_split with input data size less than 500 rows.",
          "type": "number",
          "format": "double"
        },
        "durationMs": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only, Beta] Time taken to run the training iteration in milliseconds."
        },
        "index": {
          "description": "[Output-only, Beta] Index of the ML training iteration, starting from zero for each training run.",
          "type": "integer",
          "format": "int32"
        },
        "trainingLoss": {
          "type": "number",
          "format": "double",
          "description": "[Output-only, Beta] Training loss computed on the training data at the end of the iteration. The training loss function is defined by model type."
        }
      }
    },
    "IntArray": {
      "id": "IntArray",
      "type": "object",
      "description": "An array of int.",
      "properties": {
        "elements": {
          "description": "Elements in the int array.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "QueryRequest": {
      "id": "QueryRequest",
      "type": "object",
      "properties": {
        "createSession": {
          "description": "If true, creates a new session, where session id will be a server generated random id. If false, runs query with an existing session_id passed in ConnectionProperty, otherwise runs query in non-session mode.",
          "type": "boolean"
        },
        "queryParameters": {
          "description": "Query parameters for Standard SQL queries.",
          "items": {
            "$ref": "QueryParameter"
          },
          "type": "array"
        },
        "parameterMode": {
          "type": "string",
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query."
        },
        "defaultDataset": {
          "description": "[Optional] Specifies the default datasetId and projectId to assume for any unqualified table names in the query. If not set, all table names in the query string must be qualified in the format 'datasetId.tableId'.",
          "$ref": "DatasetReference"
        },
        "dryRun": {
          "type": "boolean",
          "description": "[Optional] If set to true, BigQuery doesn't run the job. Instead, if the query is valid, BigQuery returns statistics about the job such as how many bytes would be processed. If the query is invalid, an error returns. The default value is false."
        },
        "labels": {
          "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "preserveNulls": {
          "type": "boolean",
          "description": "[Deprecated] This property is deprecated."
        },
        "maxResults": {
          "format": "uint32",
          "description": "[Optional] The maximum number of rows of data to return per page of results. Setting this flag to a small value such as 1000 and then paging through results might improve reliability when the query result set is large. In addition to this limit, responses are also limited to 10 MB. By default, there is no maximum row count, and only the byte limit applies.",
          "type": "integer"
        },
        "connectionProperties": {
          "description": "Connection properties.",
          "type": "array",
          "items": {
            "$ref": "ConnectionProperty"
          }
        },
        "maximumBytesBilled": {
          "format": "int64",
          "type": "string",
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default."
        },
        "location": {
          "type": "string",
          "description": "The geographic location where the job should run. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
        },
        "useQueryCache": {
          "type": "boolean",
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. The default value is true.",
          "default": "true"
        },
        "timeoutMs": {
          "format": "uint32",
          "description": "[Optional] How long to wait for the query to complete, in milliseconds, before the request times out and returns. Note that this is only a timeout for the request, not the query. If the query takes longer to run than the timeout value, the call returns without any results and with the 'jobComplete' flag set to false. You can call GetQueryResults() to wait for the query to complete and read the results. The default value is 10000 milliseconds (10 seconds).",
          "type": "integer"
        },
        "query": {
          "type": "string",
          "description": "[Required] A query string, following the BigQuery query syntax, of the query to execute. Example: \"SELECT count(f1) FROM [myProjectId:myDatasetId.myTableId]\".",
          "annotations": {
            "required": [
              "bigquery.jobs.query"
            ]
          }
        },
        "requestId": {
          "type": "string",
          "description": "A unique user provided identifier to ensure idempotent behavior for queries. Note that this is different from the job_id. It has the following properties: 1. It is case-sensitive, limited to up to 36 ASCII characters. A UUID is recommended. 2. Read only queries can ignore this token since they are nullipotent by definition. 3. For the purposes of idempotency ensured by the request_id, a request is considered duplicate of another only if they have the same request_id and are actually duplicates. When determining whether a request is a duplicate of the previous request, all parameters in the request that may affect the behavior are considered. For example, query, connection_properties, query_parameters, use_legacy_sql are parameters that affect the result and are considered when determining whether a request is a duplicate, but properties like timeout_ms don't affect the result and are thus not considered. Dry run query requests are never considered duplicate of another request. 4. When a duplicate mutating query request is detected, it returns: a. the results of the mutation if it completes successfully within the timeout. b. the running operation if it is still in progress at the end of the timeout. 5. Its lifetime is limited to 15 minutes. In other words, if two requests are sent with the same request_id, but more than 15 minutes apart, idempotency is not guaranteed."
        },
        "kind": {
          "default": "bigquery#queryRequest",
          "description": "The resource type of the request.",
          "type": "string"
        },
        "useLegacySql": {
          "type": "boolean",
          "default": "true",
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false."
        }
      }
    },
    "JobStatistics4": {
      "properties": {
        "inputBytes": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Number of user bytes extracted into the result. This is the byte count as computed by BigQuery for billing purposes."
        },
        "destinationUriFileCounts": {
          "type": "array",
          "description": "[Output-only] Number of files per destination URI or URI pattern specified in the extract configuration. These values will be in the same order as the URIs specified in the 'destinationUris' field.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "JobStatistics4"
    },
    "StringHparamSearchSpace": {
      "id": "StringHparamSearchSpace",
      "description": "Search space for string and enum.",
      "properties": {
        "candidates": {
          "description": "Canididates for the string or enum parameter in lower case.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "RowAccessPolicyReference": {
      "type": "object",
      "id": "RowAccessPolicyReference",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "[Required] The ID of the dataset containing this row access policy."
        },
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this row access policy."
        },
        "tableId": {
          "type": "string",
          "description": "[Required] The ID of the table containing this row access policy."
        },
        "policyId": {
          "type": "string",
          "description": "[Required] The ID of the row access policy. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters."
        }
      }
    },
    "MultiClassClassificationMetrics": {
      "description": "Evaluation metrics for multi-class classification/classifier models.",
      "properties": {
        "confusionMatrixList": {
          "description": "Confusion matrix at different thresholds.",
          "items": {
            "$ref": "ConfusionMatrix"
          },
          "type": "array"
        },
        "aggregateClassificationMetrics": {
          "$ref": "AggregateClassificationMetrics",
          "description": "Aggregate classification metrics."
        }
      },
      "type": "object",
      "id": "MultiClassClassificationMetrics"
    },
    "Job": {
      "properties": {
        "kind": {
          "default": "bigquery#job",
          "type": "string",
          "description": "[Output-only] The type of the resource."
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "[Optional] Reference describing the unique-per-user name of the job."
        },
        "id": {
          "description": "[Output-only] Opaque ID field of the job",
          "type": "string"
        },
        "status": {
          "$ref": "JobStatus",
          "description": "[Output-only] The status of this job. Examine this value when polling an asynchronous job to see if the job is complete."
        },
        "configuration": {
          "$ref": "JobConfiguration",
          "description": "[Required] Describes the job configuration."
        },
        "etag": {
          "description": "[Output-only] A hash of this resource.",
          "type": "string"
        },
        "statistics": {
          "$ref": "JobStatistics",
          "description": "[Output-only] Information about the job, including starting time and ending time of the job."
        },
        "user_email": {
          "description": "[Output-only] Email address of the user who ran the job.",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access this resource again.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Job"
    },
    "TableList": {
      "id": "TableList",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The type of list.",
          "type": "string",
          "default": "bigquery#tableList"
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "totalItems": {
          "description": "The total number of tables in the dataset.",
          "format": "int32",
          "type": "integer"
        },
        "etag": {
          "description": "A hash of this page of results.",
          "type": "string"
        },
        "tables": {
          "type": "array",
          "description": "Tables in the requested dataset.",
          "items": {
            "type": "object",
            "properties": {
              "tableReference": {
                "$ref": "TableReference",
                "description": "A reference uniquely identifying the table."
              },
              "view": {
                "description": "Additional details for a view.",
                "type": "object",
                "properties": {
                  "useLegacySql": {
                    "type": "boolean",
                    "description": "True if view is defined in legacy SQL dialect, false if in standard SQL."
                  }
                }
              },
              "friendlyName": {
                "type": "string",
                "description": "The user-friendly name for this table."
              },
              "kind": {
                "description": "The resource type.",
                "default": "bigquery#table",
                "type": "string"
              },
              "creationTime": {
                "format": "int64",
                "type": "string",
                "description": "The time when this table was created, in milliseconds since the epoch."
              },
              "type": {
                "type": "string",
                "description": "The type of table. Possible values are: TABLE, VIEW."
              },
              "labels": {
                "description": "The labels associated with this table. You can use these to organize and group your tables.",
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object"
              },
              "clustering": {
                "description": "[Beta] Clustering specification for this table, if configured.",
                "$ref": "Clustering"
              },
              "timePartitioning": {
                "description": "The time-based partitioning specification for this table, if configured.",
                "$ref": "TimePartitioning"
              },
              "rangePartitioning": {
                "description": "The range partitioning specification for this table, if configured.",
                "$ref": "RangePartitioning"
              },
              "expirationTime": {
                "format": "int64",
                "type": "string",
                "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed."
              },
              "id": {
                "type": "string",
                "description": "An opaque ID of the table"
              }
            }
          }
        }
      }
    },
    "BiEngineReason": {
      "type": "object",
      "properties": {
        "message": {
          "description": "[Output-only] Free form human-readable reason for partial or disabled acceleration.",
          "default": "$(reason.message)",
          "type": "string"
        },
        "code": {
          "description": "[Output-only] High-level BI Engine reason for partial or disabled acceleration.",
          "default": "$(reason.code)",
          "type": "string"
        }
      },
      "id": "BiEngineReason"
    },
    "GetServiceAccountResponse": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The service account email address."
        },
        "kind": {
          "type": "string",
          "default": "bigquery#getServiceAccountResponse",
          "description": "The resource type of the response."
        }
      },
      "id": "GetServiceAccountResponse"
    },
    "StandardSqlDataType": {
      "description": "The data type of a variable such as a function argument. Examples include: * INT64: `{\"typeKind\": \"INT64\"}` * ARRAY: { \"typeKind\": \"ARRAY\", \"arrayElementType\": {\"typeKind\": \"STRING\"} } * STRUCT\u003e: { \"typeKind\": \"STRUCT\", \"structType\": { \"fields\": [ { \"name\": \"x\", \"type\": {\"typeKind\": \"STRING\"} }, { \"name\": \"y\", \"type\": { \"typeKind\": \"ARRAY\", \"arrayElementType\": {\"typeKind\": \"DATE\"} } } ] } }",
      "id": "StandardSqlDataType",
      "properties": {
        "typeKind": {
          "enum": [
            "TYPE_KIND_UNSPECIFIED",
            "INT64",
            "BOOL",
            "FLOAT64",
            "STRING",
            "BYTES",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "DATETIME",
            "INTERVAL",
            "GEOGRAPHY",
            "NUMERIC",
            "BIGNUMERIC",
            "JSON",
            "ARRAY",
            "STRUCT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid type.",
            "Encoded as a string in decimal format.",
            "Encoded as a boolean \"false\" or \"true\".",
            "Encoded as a number, or string \"NaN\", \"Infinity\" or \"-Infinity\".",
            "Encoded as a string value.",
            "Encoded as a base64 string per RFC 4648, section 4.",
            "Encoded as an RFC 3339 timestamp with mandatory \"Z\" time zone string: 1985-04-12T23:20:50.52Z",
            "Encoded as RFC 3339 full-date format string: 1985-04-12",
            "Encoded as RFC 3339 partial-time format string: 23:20:50.52",
            "Encoded as RFC 3339 full-date \"T\" partial-time: 1985-04-12T23:20:50.52",
            "Encoded as fully qualified 3 part: 0-5 15 2:30:45.6",
            "Encoded as WKT",
            "Encoded as a decimal string.",
            "Encoded as a decimal string.",
            "Encoded as a string.",
            "Encoded as a list with types matching Type.array_type.",
            "Encoded as a list with fields of type Type.struct_type[i]. List is used because a JSON object cannot have duplicate field names."
          ],
          "description": "Required. The top level type of this field. Can be any standard SQL data type (e.g., \"INT64\", \"DATE\", \"ARRAY\")."
        },
        "arrayElementType": {
          "$ref": "StandardSqlDataType",
          "description": "The type of the array's elements, if type_kind = \"ARRAY\"."
        },
        "structType": {
          "description": "The fields of this struct, in order, if type_kind = \"STRUCT\".",
          "$ref": "StandardSqlStructType"
        }
      },
      "type": "object"
    },
    "IndexUnusedReason": {
      "properties": {
        "code": {
          "type": "string",
          "default": "$(reason.code)",
          "description": "[Output-only] Specifies the high-level reason for the scenario when no search index was used."
        },
        "index_name": {
          "description": "[Output-only] Specifies the name of the unused search index, if available.",
          "default": "$(reason.index_name)",
          "type": "string"
        },
        "base_table": {
          "$ref": "TableReference",
          "description": "[Output-only] Specifies the base table involved in the reason that no search index was used."
        },
        "message": {
          "default": "$(reason.message)",
          "description": "[Output-only] Free form human-readable reason for the scenario when no search index was used.",
          "type": "string"
        }
      },
      "id": "IndexUnusedReason",
      "type": "object"
    },
    "UserDefinedFunctionResource": {
      "description": "This is used for defining User Defined Function (UDF) resources only when using legacy SQL. Users of Standard SQL should leverage either DDL (e.g. CREATE [TEMPORARY] FUNCTION ... ) or the Routines API to define UDF resources. For additional information on migrating, see: https://cloud.google.com/bigquery/docs/reference/standard-sql/migrating-from-legacy-sql#differences_in_user-defined_javascript_functions",
      "id": "UserDefinedFunctionResource",
      "type": "object",
      "properties": {
        "inlineCode": {
          "type": "string",
          "description": "[Pick one] An inline resource that contains code for a user-defined function (UDF). Providing a inline code resource is equivalent to providing a URI for a file containing the same code."
        },
        "resourceUri": {
          "type": "string",
          "description": "[Pick one] A code resource to load from a Google Cloud Storage URI (gs://bucket/path)."
        }
      }
    },
    "GetQueryResultsResponse": {
      "id": "GetQueryResultsResponse",
      "properties": {
        "jobReference": {
          "description": "Reference to the BigQuery Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults).",
          "$ref": "JobReference"
        },
        "pageToken": {
          "description": "A token used for paging results.",
          "type": "string"
        },
        "kind": {
          "default": "bigquery#getQueryResultsResponse",
          "description": "The resource type of the response.",
          "type": "string"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "TableRow"
          },
          "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above. Present only when the query completes successfully."
        },
        "cacheHit": {
          "type": "boolean",
          "description": "Whether the query result was fetched from the query cache."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ErrorProto"
          },
          "description": "[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful."
        },
        "schema": {
          "description": "The schema of the results. Present only when the query completes successfully.",
          "$ref": "TableSchema"
        },
        "numDmlAffectedRows": {
          "format": "int64",
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
          "type": "string"
        },
        "totalBytesProcessed": {
          "type": "string",
          "description": "The total number of bytes processed for this query.",
          "format": "int64"
        },
        "etag": {
          "description": "A hash of this response.",
          "type": "string"
        },
        "totalRows": {
          "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results. Present only when the query completes successfully.",
          "format": "uint64",
          "type": "string"
        },
        "jobComplete": {
          "type": "boolean",
          "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available."
        }
      },
      "type": "object"
    },
    "PrincipalComponentInfo": {
      "description": "Principal component infos, used only for eigen decomposition based models, e.g., PCA. Ordered by explained_variance in the descending order.",
      "id": "PrincipalComponentInfo",
      "properties": {
        "explainedVarianceRatio": {
          "format": "double",
          "type": "number",
          "description": "Explained_variance over the total explained variance."
        },
        "principalComponentId": {
          "type": "string",
          "description": "Id of the principal component.",
          "format": "int64"
        },
        "explainedVariance": {
          "description": "Explained variance by this principal component, which is simply the eigenvalue.",
          "type": "number",
          "format": "double"
        },
        "cumulativeExplainedVarianceRatio": {
          "format": "double",
          "description": "The explained_variance is pre-ordered in the descending order to compute the cumulative explained variance ratio.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "JobStatistics5": {
      "id": "JobStatistics5",
      "type": "object",
      "properties": {
        "copied_rows": {
          "type": "string",
          "description": "[Output-only] Number of rows copied to the destination table.",
          "format": "int64"
        },
        "copied_logical_bytes": {
          "format": "int64",
          "description": "[Output-only] Number of logical bytes copied to the destination table.",
          "type": "string"
        }
      }
    },
    "LocationMetadata": {
      "properties": {
        "legacyLocationId": {
          "type": "string",
          "description": "The legacy BigQuery location ID, e.g. “EU” for the “europe” location. This is for any API consumers that need the legacy “US” and “EU” locations."
        }
      },
      "description": "BigQuery-specific metadata about a location. This will be set on google.cloud.location.Location.metadata in Cloud Location API responses.",
      "type": "object",
      "id": "LocationMetadata"
    },
    "FeatureValue": {
      "properties": {
        "featureColumn": {
          "description": "The feature column name.",
          "type": "string"
        },
        "numericalValue": {
          "description": "The numerical feature value. This is the centroid value for this feature.",
          "format": "double",
          "type": "number"
        },
        "categoricalValue": {
          "description": "The categorical feature value.",
          "$ref": "CategoricalValue"
        }
      },
      "description": "Representative value of a single feature within the cluster.",
      "id": "FeatureValue",
      "type": "object"
    },
    "DatasetAccessEntry": {
      "properties": {
        "targetTypes": {
          "items": {
            "type": "string",
            "enum": [
              "TARGET_TYPE_UNSPECIFIED",
              "VIEWS"
            ],
            "enumDescriptions": [
              "Do not use. You must set a target type explicitly.",
              "This entry applies to views in the dataset."
            ]
          },
          "type": "array"
        },
        "dataset": {
          "description": "[Required] The dataset this entry applies to.",
          "$ref": "DatasetReference"
        }
      },
      "id": "DatasetAccessEntry",
      "type": "object"
    },
    "TimePartitioning": {
      "properties": {
        "requirePartitionFilter": {
          "type": "boolean"
        },
        "field": {
          "type": "string",
          "description": "[Beta] [Optional] If not set, the table is partitioned by pseudo column, referenced via either '_PARTITIONTIME' as TIMESTAMP type, or '_PARTITIONDATE' as DATE type. If field is specified, the table is instead partitioned by this field. The field must be a top-level TIMESTAMP or DATE field. Its mode must be NULLABLE or REQUIRED."
        },
        "type": {
          "description": "[Required] The supported types are DAY, HOUR, MONTH, and YEAR, which will generate one partition per day, hour, month, and year, respectively. When the type is not specified, the default behavior is DAY.",
          "type": "string"
        },
        "expirationMs": {
          "description": "[Optional] Number of milliseconds for which to keep the storage for partitions in the table. The storage in a partition will have an expiration time of its partition time plus this value.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "TimePartitioning",
      "type": "object"
    },
    "StandardSqlTableType": {
      "id": "StandardSqlTableType",
      "description": "A table type",
      "type": "object",
      "properties": {
        "columns": {
          "description": "The columns in this table type",
          "items": {
            "$ref": "StandardSqlField"
          },
          "type": "array"
        }
      }
    },
    "ErrorProto": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A human-readable description of the error.",
          "type": "string"
        },
        "debugInfo": {
          "description": "Debugging information. This property is internal to Google and should not be used.",
          "type": "string"
        },
        "reason": {
          "description": "A short error code that summarizes the error.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Specifies where the error occurred, if present."
        }
      },
      "id": "ErrorProto"
    },
    "JobConfigurationTableCopy": {
      "type": "object",
      "id": "JobConfigurationTableCopy",
      "properties": {
        "destinationExpirationTime": {
          "type": "any",
          "description": "[Optional] The time when the destination table expires. Expired tables will be deleted and their storage reclaimed."
        },
        "sourceTable": {
          "description": "[Pick one] Source table to copy.",
          "$ref": "TableReference"
        },
        "sourceTables": {
          "items": {
            "$ref": "TableReference"
          },
          "type": "array",
          "description": "[Pick one] Source tables to copy."
        },
        "writeDisposition": {
          "type": "string",
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "operationType": {
          "type": "string",
          "description": "[Optional] Supported operation types in table copy job."
        },
        "destinationEncryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys).",
          "$ref": "EncryptionConfiguration"
        },
        "destinationTable": {
          "description": "[Required] The destination table",
          "$ref": "TableReference"
        }
      }
    },
    "ConnectionProperty": {
      "properties": {
        "key": {
          "type": "string",
          "description": "[Required] Name of the connection property to set."
        },
        "value": {
          "type": "string",
          "description": "[Required] Value of the connection property."
        }
      },
      "type": "object",
      "id": "ConnectionProperty"
    },
    "BigQueryModelTraining": {
      "id": "BigQueryModelTraining",
      "properties": {
        "expectedTotalIterations": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only, Beta] Expected number of iterations for the create model query job specified as num_iterations in the input query. The actual total number of iterations may be less than this number due to early stop."
        },
        "currentIteration": {
          "description": "[Output-only, Beta] Index of current ML training iteration. Updated during create model query job to show job progress.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "RowLevelSecurityStatistics": {
      "properties": {
        "rowLevelSecurityApplied": {
          "type": "boolean",
          "description": "[Output-only] [Preview] Whether any accessed data was protected by row access policies."
        }
      },
      "type": "object",
      "id": "RowLevelSecurityStatistics"
    },
    "IntRange": {
      "type": "object",
      "properties": {
        "min": {
          "format": "int64",
          "description": "Min value of the int parameter.",
          "type": "string"
        },
        "max": {
          "format": "int64",
          "description": "Max value of the int parameter.",
          "type": "string"
        }
      },
      "id": "IntRange",
      "description": "Range of an int hyperparameter."
    },
    "ScriptStatistics": {
      "id": "ScriptStatistics",
      "type": "object",
      "properties": {
        "evaluationKind": {
          "description": "[Output-only] Whether this child job was a statement or expression.",
          "type": "string"
        },
        "stackFrames": {
          "items": {
            "$ref": "ScriptStackFrame"
          },
          "description": "Stack trace showing the line/column/procedure name of each frame on the stack at the point where the current evaluation happened. The leaf frame is first, the primary script is last. Never empty.",
          "type": "array"
        }
      }
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object"
    },
    "BigtableColumn": {
      "type": "object",
      "id": "BigtableColumn",
      "properties": {
        "qualifierString": {
          "type": "string"
        },
        "encoding": {
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. 'encoding' can also be set at the column family level. However, the setting at this level takes precedence if 'encoding' is set at both levels.",
          "type": "string"
        },
        "onlyReadLatest": {
          "description": "[Optional] If this is set, only the latest version of value in this column are exposed. 'onlyReadLatest' can also be set at the column family level. However, the setting at this level takes precedence if 'onlyReadLatest' is set at both levels.",
          "type": "boolean"
        },
        "fieldName": {
          "description": "[Optional] If the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as the column field name and is used as field name in queries.",
          "type": "string"
        },
        "qualifierEncoded": {
          "description": "[Required] Qualifier of the column. Columns in the parent column family that has this exact qualifier are exposed as . field. If the qualifier is valid UTF-8 string, it can be specified in the qualifier_string field. Otherwise, a base-64 encoded value must be set to qualifier_encoded. The column field name is the same as the column qualifier. However, if the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as field_name.",
          "type": "string",
          "format": "byte"
        },
        "type": {
          "description": "[Optional] The type to convert the value in cells of this column. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. 'type' can also be set at the column family level. However, the setting at this level takes precedence if 'type' is set at both levels.",
          "type": "string"
        }
      }
    },
    "TrainingRun": {
      "description": "Information about a single training query run for the model.",
      "type": "object",
      "properties": {
        "trainingOptions": {
          "$ref": "TrainingOptions",
          "readOnly": true,
          "description": "Output only. Options that were used for this training run, includes user specified and default options that were used."
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The start time of this training run."
        },
        "trainingStartTime": {
          "type": "string",
          "description": "Output only. The start time of this training run, in milliseconds since epoch.",
          "format": "int64",
          "readOnly": true
        },
        "vertexAiModelId": {
          "type": "string",
          "description": "The model id in the [Vertex AI Model Registry](https://cloud.google.com/vertex-ai/docs/model-registry/introduction) for this training run."
        },
        "evaluationMetrics": {
          "description": "Output only. The evaluation metrics over training/eval data that were computed at the end of training.",
          "readOnly": true,
          "$ref": "EvaluationMetrics"
        },
        "modelLevelGlobalExplanation": {
          "readOnly": true,
          "description": "Output only. Global explanation contains the explanation of top features on the model level. Applies to both regression and classification models.",
          "$ref": "GlobalExplanation"
        },
        "dataSplitResult": {
          "readOnly": true,
          "$ref": "DataSplitResult",
          "description": "Output only. Data split result of the training run. Only set when the input data is actually split."
        },
        "vertexAiModelVersion": {
          "description": "Output only. The model version in the [Vertex AI Model Registry](https://cloud.google.com/vertex-ai/docs/model-registry/introduction) for this training run.",
          "readOnly": true,
          "type": "string"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "IterationResult"
          },
          "description": "Output only. Output of each iteration run, results.size() \u003c= max_iterations.",
          "readOnly": true
        },
        "classLevelGlobalExplanations": {
          "items": {
            "$ref": "GlobalExplanation"
          },
          "description": "Output only. Global explanation contains the explanation of top features on the class level. Applies to classification models only.",
          "type": "array",
          "readOnly": true
        }
      },
      "id": "TrainingRun"
    },
    "IntHparamSearchSpace": {
      "properties": {
        "candidates": {
          "$ref": "IntCandidates",
          "description": "Candidates of the int hyperparameter."
        },
        "range": {
          "$ref": "IntRange",
          "description": "Range of the int hyperparameter."
        }
      },
      "id": "IntHparamSearchSpace",
      "description": "Search space for an int hyperparameter.",
      "type": "object"
    },
    "IterationResult": {
      "type": "object",
      "id": "IterationResult",
      "properties": {
        "evalLoss": {
          "type": "number",
          "format": "double",
          "description": "Loss computed on the eval data at the end of iteration."
        },
        "index": {
          "format": "int32",
          "description": "Index of the iteration, 0 based.",
          "type": "integer"
        },
        "durationMs": {
          "type": "string",
          "description": "Time taken to run the iteration in milliseconds.",
          "format": "int64"
        },
        "learnRate": {
          "type": "number",
          "format": "double",
          "description": "Learn rate used for this iteration."
        },
        "trainingLoss": {
          "type": "number",
          "description": "Loss computed on the training data at the end of iteration.",
          "format": "double"
        }
      }
    },
    "IntArrayHparamSearchSpace": {
      "description": "Search space for int array.",
      "type": "object",
      "id": "IntArrayHparamSearchSpace",
      "properties": {
        "candidates": {
          "items": {
            "$ref": "IntArray"
          },
          "description": "Candidates for the int array parameter.",
          "type": "array"
        }
      }
    },
    "BinaryClassificationMetrics": {
      "id": "BinaryClassificationMetrics",
      "type": "object",
      "properties": {
        "aggregateClassificationMetrics": {
          "description": "Aggregate classification metrics.",
          "$ref": "AggregateClassificationMetrics"
        },
        "positiveLabel": {
          "type": "string",
          "description": "Label representing the positive class."
        },
        "binaryConfusionMatrixList": {
          "type": "array",
          "items": {
            "$ref": "BinaryConfusionMatrix"
          },
          "description": "Binary confusion matrix at multiple thresholds."
        },
        "negativeLabel": {
          "description": "Label representing the negative class.",
          "type": "string"
        }
      },
      "description": "Evaluation metrics for binary classification/classifier models."
    },
    "TableSchema": {
      "id": "TableSchema",
      "type": "object",
      "properties": {
        "fields": {
          "items": {
            "$ref": "TableFieldSchema"
          },
          "description": "Describes the fields in a table.",
          "type": "array"
        }
      }
    },
    "TableRow": {
      "id": "TableRow",
      "type": "object",
      "properties": {
        "f": {
          "items": {
            "$ref": "TableCell"
          },
          "description": "Represents a single row in the result set, consisting of one or more fields.",
          "type": "array"
        }
      }
    },
    "BigtableColumnFamily": {
      "id": "BigtableColumnFamily",
      "type": "object",
      "properties": {
        "columns": {
          "type": "array",
          "items": {
            "$ref": "BigtableColumn"
          },
          "description": "[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field."
        },
        "onlyReadLatest": {
          "type": "boolean",
          "description": "[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in 'columns' and specifying a different setting for that column."
        },
        "type": {
          "type": "string",
          "description": "[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in 'columns' and specifying a type for it."
        },
        "encoding": {
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. This can be overridden for a specific column by listing that column in 'columns' and specifying an encoding for it.",
          "type": "string"
        },
        "familyId": {
          "type": "string",
          "description": "Identifier of the column family."
        }
      }
    },
    "JsonValue": {
      "type": "any",
      "id": "JsonValue"
    },
    "BigtableOptions": {
      "id": "BigtableOptions",
      "type": "object",
      "properties": {
        "ignoreUnspecifiedColumnFamilies": {
          "description": "[Optional] If field is true, then the column families that are not specified in columnFamilies list are not exposed in the table schema. Otherwise, they are read with BYTES type values. The default value is false.",
          "type": "boolean"
        },
        "columnFamilies": {
          "description": "[Optional] List of column families to expose in the table schema along with their types. This list restricts the column families that can be referenced in queries and specifies their value types. You can use this list to do type conversions - see the 'type' field for more details. If you leave this list empty, all column families are present in the table schema and their values are read as BYTES. During a query only the column families referenced in that query are read from Bigtable.",
          "type": "array",
          "items": {
            "$ref": "BigtableColumnFamily"
          }
        },
        "readRowkeyAsString": {
          "type": "boolean",
          "description": "[Optional] If field is true, then the rowkey column families will be read and converted to string. Otherwise they are read with BYTES type values and users need to manually cast them with CAST if necessary. The default value is false."
        }
      }
    },
    "JobConfigurationLoad": {
      "type": "object",
      "properties": {
        "allowQuotedNewlines": {
          "description": "Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.",
          "type": "boolean"
        },
        "createDisposition": {
          "type": "string",
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "autodetect": {
          "type": "boolean",
          "description": "[Optional] Indicates if we should automatically infer the options and schema for CSV and JSON sources."
        },
        "schemaInlineFormat": {
          "type": "string",
          "description": "[Deprecated] The format of the schemaInline property."
        },
        "destinationEncryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys).",
          "$ref": "EncryptionConfiguration"
        },
        "fieldDelimiter": {
          "description": "[Optional] The separator for fields in a CSV file. The separator can be any ISO-8859-1 single-byte character. To use a character in the range 128-255, you must encode the character as UTF8. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',').",
          "type": "string"
        },
        "hivePartitioningOptions": {
          "$ref": "HivePartitioningOptions",
          "description": "[Optional] Options to configure hive partitioning support."
        },
        "maxBadRecords": {
          "type": "integer",
          "description": "[Optional] The maximum number of bad records that BigQuery can ignore when running the job. If the number of bad records exceeds this value, an invalid error is returned in the job result. This is only valid for CSV and JSON. The default value is 0, which requires that all records are valid.",
          "format": "int32"
        },
        "encoding": {
          "description": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties.",
          "type": "string"
        },
        "timePartitioning": {
          "$ref": "TimePartitioning",
          "description": "Time-based partitioning specification for the destination table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "createSession": {
          "description": "If true, creates a new session, where session id will be a server generated random id. If false, runs query with an existing session_id passed in ConnectionProperty, otherwise runs the load job in non-session mode.",
          "type": "boolean"
        },
        "rangePartitioning": {
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "RangePartitioning"
        },
        "allowJaggedRows": {
          "type": "boolean",
          "description": "[Optional] Accept rows that are missing trailing optional columns. The missing values are treated as nulls. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. Only applicable to CSV, ignored for other formats."
        },
        "nullMarker": {
          "description": "[Optional] Specifies a string that represents a null value in a CSV file. For example, if you specify \"\\N\", BigQuery interprets \"\\N\" as a null value when loading a CSV file. The default value is the empty string. If you set this property to a custom value, BigQuery throws an error if an empty string is present for all data types except for STRING and BYTE. For STRING and BYTE columns, BigQuery interprets the empty string as an empty value.",
          "type": "string"
        },
        "clustering": {
          "description": "[Beta] Clustering specification for the destination table. Must be specified with time-based partitioning, data in the table will be first partitioned and subsequently clustered.",
          "$ref": "Clustering"
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Optional] The schema for the destination table. The schema can be omitted if the destination table already exists, or if you're loading data from Google Cloud Datastore."
        },
        "decimalTargetTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Optional] Defines the list of possible SQL data types to which the source decimal values are converted. This list and the precision and the scale parameters of the decimal field determine the target type. In the order of NUMERIC, BIGNUMERIC, and STRING, a type is picked if it is in the specified list and if it supports the precision and the scale. STRING supports all precision and scale values. If none of the listed types supports the precision and the scale, the type supporting the widest range in the specified list is picked, and if a value exceeds the supported range when reading the data, an error will be thrown. Example: Suppose the value of this field is [\"NUMERIC\", \"BIGNUMERIC\"]. If (precision,scale) is: (38,9) -\u003e NUMERIC; (39,9) -\u003e BIGNUMERIC (NUMERIC cannot hold 30 integer digits); (38,10) -\u003e BIGNUMERIC (NUMERIC cannot hold 10 fractional digits); (76,38) -\u003e BIGNUMERIC; (77,38) -\u003e BIGNUMERIC (error if value exeeds supported range). This field cannot contain duplicate types. The order of the types in this field is ignored. For example, [\"BIGNUMERIC\", \"NUMERIC\"] is the same as [\"NUMERIC\", \"BIGNUMERIC\"] and NUMERIC always takes precedence over BIGNUMERIC. Defaults to [\"NUMERIC\", \"STRING\"] for ORC and [\"NUMERIC\"] for the other file formats."
        },
        "skipLeadingRows": {
          "type": "integer",
          "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when loading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped.",
          "format": "int32"
        },
        "connectionProperties": {
          "items": {
            "$ref": "ConnectionProperty"
          },
          "description": "Connection properties.",
          "type": "array"
        },
        "useAvroLogicalTypes": {
          "description": "[Optional] If sourceFormat is set to \"AVRO\", indicates whether to interpret logical types as the corresponding BigQuery data type (for example, TIMESTAMP), instead of using the raw type (for example, INTEGER).",
          "type": "boolean"
        },
        "projectionFields": {
          "description": "If sourceFormat is set to \"DATASTORE_BACKUP\", indicates which entity properties to load into BigQuery from a Cloud Datastore backup. Property names are case sensitive and must be top-level properties. If no properties are specified, BigQuery loads all properties. If any named property isn't found in the Cloud Datastore backup, an invalid error is returned in the job result.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_APPEND. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "sourceUris": {
          "description": "[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one '*' wildcard character and it must come after the 'bucket' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups: Exactly one URI can be specified. Also, the '*' wildcard character is not allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ignoreUnknownValues": {
          "description": "[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don't match any column names",
          "type": "boolean"
        },
        "jsonExtension": {
          "type": "string",
          "description": "[Optional] If sourceFormat is set to newline-delimited JSON, indicates whether it should be processed as a JSON variant such as GeoJSON. For a sourceFormat other than JSON, omit this field. If the sourceFormat is newline-delimited JSON: - for newline-delimited GeoJSON: set to GEOJSON."
        },
        "preserveAsciiControlCharacters": {
          "type": "boolean",
          "description": "[Optional] Preserves the embedded ASCII control characters (the first 32 characters in the ASCII-table, from '\\x00' to '\\x1F') when loading from CSV. Only applicable to CSV, ignored for other formats."
        },
        "schemaUpdateOptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Allows the schema of the destination table to be updated as a side effect of the load job if a schema is autodetected or supplied in the job configuration. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable."
        },
        "schemaInline": {
          "type": "string",
          "description": "[Deprecated] The inline schema. For CSV schemas, specify as \"Field1:Type1[,Field2:Type2]*\". For example, \"foo:STRING, bar:INTEGER, baz:FLOAT\"."
        },
        "sourceFormat": {
          "type": "string",
          "description": "[Optional] The format of the data files. For CSV files, specify \"CSV\". For datastore backups, specify \"DATASTORE_BACKUP\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro, specify \"AVRO\". For parquet, specify \"PARQUET\". For orc, specify \"ORC\". The default value is CSV."
        },
        "parquetOptions": {
          "$ref": "ParquetOptions",
          "description": "[Optional] Options to configure parquet support."
        },
        "destinationTableProperties": {
          "description": "[Beta] [Optional] Properties with which to create the destination table if it is new.",
          "$ref": "DestinationTableProperties"
        },
        "quote": {
          "type": "string",
          "description": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.",
          "pattern": ".?",
          "default": "\""
        },
        "destinationTable": {
          "description": "[Required] The destination table to load the data into.",
          "$ref": "TableReference"
        },
        "referenceFileSchemaUri": {
          "type": "string",
          "description": "User provided referencing file with the expected reader schema, Available for the format: AVRO, PARQUET, ORC."
        }
      },
      "id": "JobConfigurationLoad"
    },
    "TableDataInsertAllRequest": {
      "id": "TableDataInsertAllRequest",
      "type": "object",
      "properties": {
        "ignoreUnknownValues": {
          "type": "boolean",
          "description": "[Optional] Accept rows that contain values that do not match the schema. The unknown values are ignored. Default is false, which treats unknown values as errors."
        },
        "rows": {
          "description": "The rows to insert.",
          "items": {
            "type": "object",
            "properties": {
              "insertId": {
                "type": "string",
                "description": "[Optional] A unique ID for each row. BigQuery uses this property to detect duplicate insertion requests on a best-effort basis."
              },
              "json": {
                "description": "[Required] A JSON object that contains a row of data. The object's properties and values must match the destination table's schema.",
                "$ref": "JsonObject"
              }
            }
          },
          "type": "array"
        },
        "skipInvalidRows": {
          "description": "[Optional] Insert all valid rows of a request, even if invalid rows exist. The default value is false, which causes the entire request to fail if any invalid rows exist.",
          "type": "boolean"
        },
        "templateSuffix": {
          "type": "string",
          "description": "If specified, treats the destination table as a base template, and inserts the rows into an instance table named \"{destination}{templateSuffix}\". BigQuery will manage creation of the instance table, using the schema of the base template table. See https://cloud.google.com/bigquery/streaming-data-into-bigquery#template-tables for considerations when working with templates tables."
        },
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#tableDataInsertAllRequest"
        }
      }
    },
    "RangePartitioning": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string",
          "description": "[TrustedTester] [Required] The table is partitioned by this field. The field must be a top-level NULLABLE/REQUIRED field. The only supported type is INTEGER/INT64."
        },
        "range": {
          "description": "[TrustedTester] [Required] Defines the ranges for range partitioning.",
          "properties": {
            "interval": {
              "description": "[TrustedTester] [Required] The width of each interval.",
              "format": "int64",
              "type": "string"
            },
            "start": {
              "format": "int64",
              "description": "[TrustedTester] [Required] The start of range partitioning, inclusive.",
              "type": "string"
            },
            "end": {
              "format": "int64",
              "description": "[TrustedTester] [Required] The end of range partitioning, exclusive.",
              "type": "string"
            }
          },
          "type": "object"
        }
      },
      "id": "RangePartitioning"
    },
    "ArimaResult": {
      "description": "(Auto-)arima fitting result. Wrap everything in ArimaResult for easier refactoring if we want to use model-specific iteration results.",
      "type": "object",
      "properties": {
        "seasonalPeriods": {
          "type": "array",
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          }
        },
        "arimaModelInfo": {
          "description": "This message is repeated because there are multiple arima models fitted in auto-arima. For non-auto-arima model, its size is one.",
          "type": "array",
          "items": {
            "$ref": "ArimaModelInfo"
          }
        }
      },
      "id": "ArimaResult"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "GlobalExplanation": {
      "type": "object",
      "properties": {
        "classLabel": {
          "type": "string",
          "description": "Class label for this set of global explanations. Will be empty/null for binary logistic and linear regression models. Sorted alphabetically in descending order."
        },
        "explanations": {
          "items": {
            "$ref": "Explanation"
          },
          "description": "A list of the top global explanations. Sorted by absolute value of attribution in descending order.",
          "type": "array"
        }
      },
      "description": "Global explanations containing the top most important features after training.",
      "id": "GlobalExplanation"
    },
    "Routine": {
      "id": "Routine",
      "description": "A user-defined function or a stored procedure.",
      "type": "object",
      "properties": {
        "returnTableType": {
          "description": "Optional. Can be set only if routine_type = \"TABLE_VALUED_FUNCTION\". If absent, the return table type is inferred from definition_body at query time in each query that references this routine. If present, then the columns in the evaluated table result will be cast to match the column types specificed in return table type, at query time.",
          "$ref": "StandardSqlTableType"
        },
        "language": {
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "SQL",
            "JAVASCRIPT",
            "PYTHON"
          ],
          "enumDescriptions": [
            "",
            "SQL language.",
            "JavaScript language.",
            "Python language."
          ],
          "description": "Optional. Defaults to \"SQL\".",
          "type": "string"
        },
        "importedLibraries": {
          "description": "Optional. If language = \"JAVASCRIPT\", this field stores the path of the imported JAVASCRIPT libraries.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "definitionBody": {
          "description": "Required. The body of the routine. For functions, this is the expression in the AS clause. If language=SQL, it is the substring inside (but excluding) the parentheses. For example, for the function created with the following statement: `CREATE FUNCTION JoinLines(x string, y string) as (concat(x, \"\\n\", y))` The definition_body is `concat(x, \"\\n\", y)` (\\n is not replaced with linebreak). If language=JAVASCRIPT, it is the evaluated string in the AS clause. For example, for the function created with the following statement: `CREATE FUNCTION f() RETURNS STRING LANGUAGE js AS 'return \"\\n\";\\n'` The definition_body is `return \"\\n\";\\n` Note that both \\n are replaced with linebreaks.",
          "type": "string"
        },
        "determinismLevel": {
          "enumDescriptions": [
            "The determinism of the UDF is unspecified.",
            "The UDF is deterministic, meaning that 2 function calls with the same inputs always produce the same result, even across 2 query runs.",
            "The UDF is not deterministic."
          ],
          "enum": [
            "DETERMINISM_LEVEL_UNSPECIFIED",
            "DETERMINISTIC",
            "NOT_DETERMINISTIC"
          ],
          "description": "Optional. The determinism level of the JavaScript UDF, if defined.",
          "type": "string"
        },
        "routineReference": {
          "$ref": "RoutineReference",
          "description": "Required. Reference describing the ID of this routine."
        },
        "sparkOptions": {
          "description": "Optional. Spark specific options.",
          "$ref": "SparkOptions"
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "Output only. The time when this routine was last modified, in milliseconds since the epoch.",
          "format": "int64",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the routine, if defined."
        },
        "creationTime": {
          "format": "int64",
          "description": "Output only. The time when this routine was created, in milliseconds since the epoch.",
          "readOnly": true,
          "type": "string"
        },
        "returnType": {
          "description": "Optional if language = \"SQL\"; required otherwise. Cannot be set if routine_type = \"TABLE_VALUED_FUNCTION\". If absent, the return type is inferred from definition_body at query time in each query that references this routine. If present, then the evaluated result will be cast to the specified returned type at query time. For example, for the functions created with the following statements: * `CREATE FUNCTION Add(x FLOAT64, y FLOAT64) RETURNS FLOAT64 AS (x + y);` * `CREATE FUNCTION Increment(x FLOAT64) AS (Add(x, 1));` * `CREATE FUNCTION Decrement(x FLOAT64) RETURNS FLOAT64 AS (Add(x, -1));` The return_type is `{type_kind: \"FLOAT64\"}` for `Add` and `Decrement`, and is absent for `Increment` (inferred as FLOAT64 at query time). Suppose the function `Add` is replaced by `CREATE OR REPLACE FUNCTION Add(x INT64, y INT64) AS (x + y);` Then the inferred return type of `Increment` is automatically changed to INT64 at query time, while the return type of `Decrement` remains FLOAT64.",
          "$ref": "StandardSqlDataType"
        },
        "arguments": {
          "description": "Optional.",
          "items": {
            "$ref": "Argument"
          },
          "type": "array"
        },
        "routineType": {
          "enumDescriptions": [
            "",
            "Non-builtin permanent scalar function.",
            "Stored procedure.",
            "Non-builtin permanent TVF."
          ],
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "SCALAR_FUNCTION",
            "PROCEDURE",
            "TABLE_VALUED_FUNCTION"
          ],
          "type": "string",
          "description": "Required. The type of routine."
        },
        "remoteFunctionOptions": {
          "$ref": "RemoteFunctionOptions",
          "description": "Optional. Remote function specific options."
        },
        "strictMode": {
          "description": "Optional. Can be set for procedures only. If true (default), the definition body will be validated in the creation and the updates of the procedure. For procedures with an argument of ANY TYPE, the definition body validtion is not supported at creation/update time, and thus this field must be set to false explicitly.",
          "type": "boolean"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A hash of this resource."
        }
      }
    },
    "BiEngineStatistics": {
      "properties": {
        "biEngineReasons": {
          "description": "In case of DISABLED or PARTIAL bi_engine_mode, these contain the explanatory reasons as to why BI Engine could not accelerate. In case the full query was accelerated, this field is not populated.",
          "type": "array",
          "items": {
            "$ref": "BiEngineReason"
          }
        },
        "biEngineMode": {
          "description": "[Output-only] Specifies which mode of BI Engine acceleration was performed (if any).",
          "default": "$(stats.bi_engine_mode)",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BiEngineStatistics"
    },
    "HparamTuningTrial": {
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Scheduled but not started.",
            "Running state.",
            "The trial succeeded.",
            "The trial failed.",
            "The trial is infeasible due to the invalid params.",
            "Trial stopped early because it's not promising."
          ],
          "enum": [
            "TRIAL_STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "INFEASIBLE",
            "STOPPED_EARLY"
          ],
          "description": "The status of the trial."
        },
        "evaluationMetrics": {
          "description": "Evaluation metrics of this trial calculated on the test data. Empty in Job API.",
          "$ref": "EvaluationMetrics"
        },
        "startTimeMs": {
          "format": "int64",
          "type": "string",
          "description": "Starting time of the trial."
        },
        "errorMessage": {
          "description": "Error message for FAILED and INFEASIBLE trial.",
          "type": "string"
        },
        "evalLoss": {
          "type": "number",
          "description": "Loss computed on the eval data at the end of trial.",
          "format": "double"
        },
        "endTimeMs": {
          "description": "Ending time of the trial.",
          "format": "int64",
          "type": "string"
        },
        "trainingLoss": {
          "format": "double",
          "description": "Loss computed on the training data at the end of trial.",
          "type": "number"
        },
        "hparams": {
          "$ref": "TrainingOptions",
          "description": "The hyperprameters selected for this trial."
        },
        "trialId": {
          "description": "1-based index of the trial.",
          "type": "string",
          "format": "int64"
        },
        "hparamTuningEvaluationMetrics": {
          "description": "Hyperparameter tuning evaluation metrics of this trial calculated on the eval data. Unlike evaluation_metrics, only the fields corresponding to the hparam_tuning_objectives are set.",
          "$ref": "EvaluationMetrics"
        }
      },
      "type": "object",
      "description": "Training info of a trial in [hyperparameter tuning](/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) models.",
      "id": "HparamTuningTrial"
    },
    "CategoryCount": {
      "id": "CategoryCount",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The count of training samples matching the category within the cluster."
        },
        "category": {
          "type": "string",
          "description": "The name of category."
        }
      },
      "type": "object",
      "description": "Represents the count of a single category within the cluster."
    },
    "ParquetOptions": {
      "properties": {
        "enableListInference": {
          "description": "[Optional] Indicates whether to use schema inference specifically for Parquet LIST logical type.",
          "type": "boolean"
        },
        "enumAsString": {
          "description": "[Optional] Indicates whether to infer Parquet ENUM logical type as STRING instead of BYTES by default.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ParquetOptions"
    },
    "TransactionInfo": {
      "id": "TransactionInfo",
      "properties": {
        "transactionId": {
          "description": "[Output-only] // [Alpha] Id of the transaction.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TableCell": {
      "type": "object",
      "properties": {
        "v": {
          "type": "any"
        }
      },
      "id": "TableCell"
    },
    "ArimaOrder": {
      "type": "object",
      "description": "Arima order, can be used for both non-seasonal and seasonal parts.",
      "id": "ArimaOrder",
      "properties": {
        "d": {
          "description": "Order of the differencing part.",
          "type": "string",
          "format": "int64"
        },
        "p": {
          "format": "int64",
          "type": "string",
          "description": "Order of the autoregressive part."
        },
        "q": {
          "format": "int64",
          "type": "string",
          "description": "Order of the moving-average part."
        }
      }
    },
    "Model": {
      "properties": {
        "featureColumns": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Input feature columns that were used to train this model.",
          "items": {
            "$ref": "StandardSqlField"
          }
        },
        "lastModifiedTime": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The time when this model was last modified, in millisecs since the epoch.",
          "readOnly": true
        },
        "optimalTrialIds": {
          "readOnly": true,
          "description": "Output only. For single-objective [hyperparameter tuning](/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) models, it only contains the best trial. For multi-objective [hyperparameter tuning](/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) models, it contains all Pareto optimal trials sorted by trial_id.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "modelType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of the model resource.",
          "enumDescriptions": [
            "",
            "Linear regression model.",
            "Logistic regression based classification model.",
            "K-means clustering model.",
            "Matrix factorization model.",
            "DNN classifier model.",
            "An imported TensorFlow model.",
            "DNN regressor model.",
            "Boosted tree regressor model.",
            "Boosted tree classifier model.",
            "ARIMA model.",
            "AutoML Tables regression model.",
            "AutoML Tables classification model.",
            "Prinpical Component Analysis model.",
            "Wide-and-deep classifier model.",
            "Wide-and-deep regressor model.",
            "Autoencoder model.",
            "New name for the ARIMA model."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "LINEAR_REGRESSION",
            "LOGISTIC_REGRESSION",
            "KMEANS",
            "MATRIX_FACTORIZATION",
            "DNN_CLASSIFIER",
            "TENSORFLOW",
            "DNN_REGRESSOR",
            "BOOSTED_TREE_REGRESSOR",
            "BOOSTED_TREE_CLASSIFIER",
            "ARIMA",
            "AUTOML_REGRESSOR",
            "AUTOML_CLASSIFIER",
            "PCA",
            "DNN_LINEAR_COMBINED_CLASSIFIER",
            "DNN_LINEAR_COMBINED_REGRESSOR",
            "AUTOENCODER",
            "ARIMA_PLUS"
          ]
        },
        "bestTrialId": {
          "type": "string",
          "format": "int64",
          "description": "The best trial_id across all training runs."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels associated with this model. You can use these to organize and group your models. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key."
        },
        "defaultTrialId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The default trial_id to use in TVFs when the trial_id is not passed in. For single-objective [hyperparameter tuning](/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) models, this is the best trial ID. For multi-objective [hyperparameter tuning](/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) models, this is the smallest trial ID among all Pareto optimal trials.",
          "format": "int64"
        },
        "location": {
          "description": "Output only. The geographic location where the model resides. This value is inherited from the dataset.",
          "readOnly": true,
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The time when this model expires, in milliseconds since the epoch. If not present, the model will persist indefinitely. Expired models will be deleted and their storage reclaimed. The defaultTableExpirationMs property of the encapsulating dataset can be used to set a default expirationTime on newly created models."
        },
        "creationTime": {
          "description": "Output only. The time when this model was created, in millisecs since the epoch.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "modelReference": {
          "$ref": "ModelReference",
          "description": "Required. Unique identifier for this model."
        },
        "friendlyName": {
          "type": "string",
          "description": "Optional. A descriptive name for this model."
        },
        "description": {
          "type": "string",
          "description": "Optional. A user-friendly description of this model."
        },
        "encryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys). This shows the encryption configuration of the model data while stored in BigQuery storage. This field can be used with PatchModel to update encryption key for an already encrypted model."
        },
        "etag": {
          "type": "string",
          "description": "Output only. A hash of this resource.",
          "readOnly": true
        },
        "hparamSearchSpaces": {
          "description": "Output only. All hyperparameter search spaces in this model.",
[...]
