{
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "rootUrl": "https://bigquery.googleapis.com/",
  "ownerName": "Google",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/search-32.gif",
    "x16": "https://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
  "title": "BigQuery API",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "batchPath": "batch/bigquery/v2",
  "id": "bigquery:v2",
  "basePath": "/bigquery/v2/",
  "servicePath": "bigquery/v2/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "version": "v2",
  "description": "A data platform for customers to create, manage, share and query data.",
  "revision": "20221015",
  "schemas": {
    "StandardSqlField": {
      "type": "object",
      "id": "StandardSqlField",
      "description": "A field or a column.",
      "properties": {
        "name": {
          "description": "Optional. The name of this field. Can be absent for struct fields.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The type of this parameter. Absent if not explicitly specified (e.g., CREATE FUNCTION statement can omit the return type; in this case the output parameter does not have this \"type\" field).",
          "$ref": "StandardSqlDataType"
        }
      }
    },
    "DatasetAccessEntry": {
      "type": "object",
      "id": "DatasetAccessEntry",
      "properties": {
        "dataset": {
          "$ref": "DatasetReference",
          "description": "[Required] The dataset this entry applies to."
        },
        "targetTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Do not use. You must set a target type explicitly.",
              "This entry applies to views in the dataset."
            ],
            "enum": [
              "TARGET_TYPE_UNSPECIFIED",
              "VIEWS"
            ],
            "type": "string"
          }
        }
      }
    },
    "TableFieldSchema": {
      "id": "TableFieldSchema",
      "properties": {
        "fields": {
          "items": {
            "$ref": "TableFieldSchema"
          },
          "type": "array",
          "description": "[Optional] Describes the nested schema fields if the type property is set to RECORD."
        },
        "policyTags": {
          "type": "object",
          "properties": {
            "names": {
              "description": "A list of category resource names. For example, \"projects/1/location/eu/taxonomies/2/policyTags/3\". At most 1 policy tag is allowed.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "type": {
          "description": "[Required] The field data type. Possible values include STRING, BYTES, INTEGER, INT64 (same as INTEGER), FLOAT, FLOAT64 (same as FLOAT), NUMERIC, BIGNUMERIC, BOOLEAN, BOOL (same as BOOLEAN), TIMESTAMP, DATE, TIME, DATETIME, INTERVAL, RECORD (where RECORD indicates that the field contains a nested schema) or STRUCT (same as RECORD).",
          "type": "string"
        },
        "scale": {
          "format": "int64",
          "type": "string",
          "description": "[Optional] See documentation for precision."
        },
        "precision": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] Precision (maximum number of total digits in base 10) and scale (maximum number of digits in the fractional part in base 10) constraints for values of this field for NUMERIC or BIGNUMERIC. It is invalid to set precision or scale if type ≠ \"NUMERIC\" and ≠ \"BIGNUMERIC\". If precision and scale are not specified, no value range constraint is imposed on this field insofar as values are permitted by the type. Values of this NUMERIC or BIGNUMERIC field must be in this range when: - Precision (P) and scale (S) are specified: [-10P-S + 10-S, 10P-S - 10-S] - Precision (P) is specified but not scale (and thus scale is interpreted to be equal to zero): [-10P + 1, 10P - 1]. Acceptable values for precision and scale if both are specified: - If type = \"NUMERIC\": 1 ≤ precision - scale ≤ 29 and 0 ≤ scale ≤ 9. - If type = \"BIGNUMERIC\": 1 ≤ precision - scale ≤ 38 and 0 ≤ scale ≤ 38. Acceptable values for precision if only precision is specified but not scale (and thus scale is interpreted to be equal to zero): - If type = \"NUMERIC\": 1 ≤ precision ≤ 29. - If type = \"BIGNUMERIC\": 1 ≤ precision ≤ 38. If scale is specified but not precision, then it is invalid."
        },
        "collation": {
          "type": "string",
          "description": "Optional. Collation specification of the field. It only can be set on string type field."
        },
        "categories": {
          "description": "[Optional] The categories attached to this field, used for field-level access control.",
          "properties": {
            "names": {
              "description": "A list of category resource names. For example, \"projects/1/taxonomies/2/categories/3\". At most 5 categories are allowed.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "type": "object"
        },
        "maxLength": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] Maximum length of values of this field for STRINGS or BYTES. If max_length is not specified, no maximum length constraint is imposed on this field. If type = \"STRING\", then max_length represents the maximum UTF-8 length of strings in this field. If type = \"BYTES\", then max_length represents the maximum number of bytes in this field. It is invalid to set this field if type ≠ \"STRING\" and ≠ \"BYTES\"."
        },
        "defaultValueExpression": {
          "description": "Optional. A SQL expression to specify the default value for this field. It can only be set for top level fields (columns). You can use struct or array expression to specify default value for the entire struct or array. The valid SQL expressions are: - Literals for all data types, including STRUCT and ARRAY. - Following functions: - CURRENT_TIMESTAMP - CURRENT_TIME - CURRENT_DATE - CURRENT_DATETIME - GENERATE_UUID - RAND - SESSION_USER - ST_GEOGPOINT - Struct or array composed with the above allowed functions, for example, [CURRENT_DATE(), DATE '2020-01-01']",
          "type": "string"
        },
        "mode": {
          "description": "[Optional] The field mode. Possible values include NULLABLE, REQUIRED and REPEATED. The default value is NULLABLE.",
          "type": "string"
        },
        "description": {
          "description": "[Optional] The field description. The maximum length is 1,024 characters.",
          "type": "string"
        },
        "name": {
          "description": "[Required] The field name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 300 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Table": {
      "id": "Table",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "[Output-only] An opaque ID uniquely identifying the table."
        },
        "view": {
          "description": "[Optional] The view definition.",
          "$ref": "ViewDefinition"
        },
        "num_time_travel_physical_bytes": {
          "type": "string",
          "description": "[Output-only] Number of physical bytes used by time travel storage (deleted or changed data). This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "format": "int64"
        },
        "type": {
          "description": "[Output-only] Describes the table type. The following values are supported: TABLE: A normal BigQuery table. VIEW: A virtual table defined by a SQL query. SNAPSHOT: An immutable, read-only table that is a copy of another table. [TrustedTester] MATERIALIZED_VIEW: SQL query whose result is persisted. EXTERNAL: A table that references data stored in an external storage system, such as Google Cloud Storage. The default value is TABLE.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "[Output-only] A URL that can be used to access this resource again."
        },
        "materializedView": {
          "description": "[Optional] Materialized view definition.",
          "$ref": "MaterializedViewDefinition"
        },
        "numLongTermBytes": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] The number of bytes in the table that are considered \"long-term storage\"."
        },
        "kind": {
          "description": "[Output-only] The type of the resource.",
          "default": "bigquery#table",
          "type": "string"
        },
        "streamingBuffer": {
          "description": "[Output-only] Contains information regarding this table's streaming buffer, if one is present. This field will be absent if the table is not being streamed to or if there is no data in the streaming buffer.",
          "$ref": "Streamingbuffer"
        },
        "friendlyName": {
          "type": "string",
          "description": "[Optional] A descriptive name for this table."
        },
        "tableReference": {
          "$ref": "TableReference",
          "description": "[Required] Reference describing the ID of this table."
        },
        "numRows": {
          "description": "[Output-only] The number of rows of data in this table, excluding any data in the streaming buffer.",
          "format": "uint64",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed. The defaultTableExpirationMs property of the encapsulating dataset can be used to set a default expirationTime on newly created tables."
        },
        "location": {
          "type": "string",
          "description": "[Output-only] The geographic location where the table resides. This value is inherited from the dataset."
        },
        "numBytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] The size of this table in bytes, excluding any data in the streaming buffer."
        },
        "creationTime": {
          "type": "string",
          "description": "[Output-only] The time when this table was created, in milliseconds since the epoch.",
          "format": "int64"
        },
        "requirePartitionFilter": {
          "type": "boolean",
          "default": "false",
          "description": "[Optional] If set to true, queries over this table require a partition filter that can be used for partition elimination to be specified."
        },
        "model": {
          "$ref": "ModelDefinition",
          "description": "[Output-only, Beta] Present iff this table represents a ML model. Describes the training information for the model, and it is required to run 'PREDICT' queries."
        },
        "etag": {
          "description": "[Output-only] A hash of the table metadata. Used to ensure there were no concurrent modifications to the resource when attempting an update. Not guaranteed to change when the table contents or the fields numRows, numBytes, numLongTermBytes or lastModifiedTime change.",
          "type": "string"
        },
        "timePartitioning": {
          "$ref": "TimePartitioning",
          "description": "Time-based partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "description": {
          "type": "string",
          "description": "[Optional] A user-friendly description of this table."
        },
        "numPhysicalBytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] [TrustedTester] The physical size of this table in bytes, excluding any data in the streaming buffer. This includes compression and storage used for time travel."
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Optional] Describes the schema of this table."
        },
        "defaultCollation": {
          "type": "string",
          "description": "[Output-only] The default collation of the table."
        },
        "num_partitions": {
          "description": "[Output-only] The number of partitions present in the table or materialized view. This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "format": "int64",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this table. You can use these to organize and group your tables. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "type": "object"
        },
        "clustering": {
          "description": "[Beta] Clustering specification for the table. Must be specified with partitioning, data in the table will be first partitioned and subsequently clustered.",
          "$ref": "Clustering"
        },
        "snapshotDefinition": {
          "$ref": "SnapshotDefinition",
          "description": "[Output-only] Snapshot definition."
        },
        "num_active_physical_bytes": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Number of physical bytes less than 90 days old. This data is not kept in real time, and might be delayed by a few seconds to a few minutes."
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "[Output-only] The time when this table was last modified, in milliseconds since the epoch.",
          "format": "uint64"
        },
        "num_long_term_physical_bytes": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Number of physical bytes more than 90 days old. This data is not kept in real time, and might be delayed by a few seconds to a few minutes."
        },
        "num_total_physical_bytes": {
          "type": "string",
          "description": "[Output-only] The physical size of this table in bytes. This also includes storage used for time travel. This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "format": "int64"
        },
        "num_total_logical_bytes": {
          "description": "[Output-only] Total number of logical bytes in the table or materialized view.",
          "format": "int64",
          "type": "string"
        },
        "num_long_term_logical_bytes": {
          "type": "string",
          "description": "[Output-only] Number of logical bytes that are more than 90 days old.",
          "format": "int64"
        },
        "num_active_logical_bytes": {
          "description": "[Output-only] Number of logical bytes that are less than 90 days old.",
          "type": "string",
          "format": "int64"
        },
        "rangePartitioning": {
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "RangePartitioning"
        },
        "encryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys).",
          "$ref": "EncryptionConfiguration"
        },
        "maxStaleness": {
          "format": "byte",
          "type": "string",
          "description": "[Optional] Max staleness of data that could be returned when table or materialized view is queried (formatted as Google SQL Interval type)."
        },
        "cloneDefinition": {
          "$ref": "CloneDefinition",
          "description": "[Output-only] Clone definition."
        },
        "externalDataConfiguration": {
          "description": "[Optional] Describes the data format, location, and other properties of a table stored outside of BigQuery. By defining these properties, the data source can then be queried as if it were a standard BigQuery table.",
          "$ref": "ExternalDataConfiguration"
        }
      }
    },
    "Explanation": {
      "properties": {
        "attribution": {
          "description": "Attribution of feature.",
          "format": "double",
          "type": "number"
        },
        "featureName": {
          "description": "The full feature name. For non-numerical features, will be formatted like `.`. Overall size of feature name will always be truncated to first 120 characters.",
          "type": "string"
        }
      },
      "id": "Explanation",
      "description": "Explanation for a single feature.",
      "type": "object"
    },
    "JobStatistics5": {
      "id": "JobStatistics5",
      "properties": {
        "copied_rows": {
          "format": "int64",
          "description": "[Output-only] Number of rows copied to the destination table.",
          "type": "string"
        },
        "copied_logical_bytes": {
          "description": "[Output-only] Number of logical bytes copied to the destination table.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "TrainingOptions": {
      "properties": {
        "learnRateStrategy": {
          "description": "The strategy to determine learn rate for the current iteration.",
          "enumDescriptions": [
            "",
            "Use line search to determine learning rate.",
            "Use a constant learning rate."
          ],
          "enum": [
            "LEARN_RATE_STRATEGY_UNSPECIFIED",
            "LINE_SEARCH",
            "CONSTANT"
          ],
          "type": "string"
        },
        "holidayRegion": {
          "type": "string",
          "enum": [
            "HOLIDAY_REGION_UNSPECIFIED",
            "GLOBAL",
            "NA",
            "JAPAC",
            "EMEA",
            "LAC",
            "AE",
            "AR",
            "AT",
            "AU",
            "BE",
            "BR",
            "CA",
            "CH",
            "CL",
            "CN",
            "CO",
            "CS",
            "CZ",
            "DE",
            "DK",
            "DZ",
            "EC",
            "EE",
            "EG",
            "ES",
            "FI",
            "FR",
            "GB",
            "GR",
            "HK",
            "HU",
            "ID",
            "IE",
            "IL",
            "IN",
            "IR",
            "IT",
            "JP",
            "KR",
            "LV",
            "MA",
            "MX",
            "MY",
            "NG",
            "NL",
            "NO",
            "NZ",
            "PE",
            "PH",
            "PK",
            "PL",
            "PT",
            "RO",
            "RS",
            "RU",
            "SA",
            "SE",
            "SG",
            "SI",
            "SK",
            "TH",
            "TR",
            "TW",
            "UA",
            "US",
            "VE",
            "VN",
            "ZA"
          ],
          "enumDescriptions": [
            "Holiday region unspecified.",
            "Global.",
            "North America.",
            "Japan and Asia Pacific: Korea, Greater China, India, Australia, and New Zealand.",
            "Europe, the Middle East and Africa.",
            "Latin America and the Caribbean.",
            "United Arab Emirates",
            "Argentina",
            "Austria",
            "Australia",
            "Belgium",
            "Brazil",
            "Canada",
            "Switzerland",
            "Chile",
            "China",
            "Colombia",
            "Czechoslovakia",
            "Czech Republic",
            "Germany",
            "Denmark",
            "Algeria",
            "Ecuador",
            "Estonia",
            "Egypt",
            "Spain",
            "Finland",
            "France",
            "Great Britain (United Kingdom)",
            "Greece",
            "Hong Kong",
            "Hungary",
            "Indonesia",
            "Ireland",
            "Israel",
            "India",
            "Iran",
            "Italy",
            "Japan",
            "Korea (South)",
            "Latvia",
            "Morocco",
            "Mexico",
            "Malaysia",
            "Nigeria",
            "Netherlands",
            "Norway",
            "New Zealand",
            "Peru",
            "Philippines",
            "Pakistan",
            "Poland",
            "Portugal",
            "Romania",
            "Serbia",
            "Russian Federation",
            "Saudi Arabia",
            "Sweden",
            "Singapore",
            "Slovenia",
            "Slovakia",
            "Thailand",
            "Turkey",
            "Taiwan",
            "Ukraine",
            "United States",
            "Venezuela",
            "Viet Nam",
            "South Africa"
          ],
          "description": "The geographical region based on which the holidays are considered in time series modeling. If a valid value is specified, then holiday effects modeling is enabled."
        },
        "colsampleBytree": {
          "description": "Subsample ratio of columns when constructing each tree for boosted tree models.",
          "format": "double",
          "type": "number"
        },
        "kmeansInitializationMethod": {
          "type": "string",
          "enum": [
            "KMEANS_INITIALIZATION_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "KMEANS_PLUS_PLUS"
          ],
          "description": "The method used to initialize the centroids for kmeans algorithm.",
          "enumDescriptions": [
            "Unspecified initialization method.",
            "Initializes the centroids randomly.",
            "Initializes the centroids using data specified in kmeans_initialization_column.",
            "Initializes with kmeans++."
          ]
        },
        "trendSmoothingWindowSize": {
          "format": "int64",
          "type": "string",
          "description": "The smoothing window size for the trend component of the time series."
        },
        "userColumn": {
          "description": "User column specified for matrix factorization models.",
          "type": "string"
        },
        "dataSplitColumn": {
          "description": "The column to split data with. This column won't be used as a feature. 1. When data_split_method is CUSTOM, the corresponding column should be boolean. The rows with true value tag are eval data, and the false are training data. 2. When data_split_method is SEQ, the first DATA_SPLIT_EVAL_FRACTION rows (from smallest to largest) in the corresponding column are used as training data, and the rest are eval data. It respects the order in Orderable data types: https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#data-type-properties",
          "type": "string"
        },
        "boosterType": {
          "enumDescriptions": [
            "Unspecified booster type.",
            "Gbtree booster.",
            "Dart booster."
          ],
          "description": "Booster type for boosted tree models.",
          "enum": [
            "BOOSTER_TYPE_UNSPECIFIED",
            "GBTREE",
            "DART"
          ],
          "type": "string"
        },
        "minSplitLoss": {
          "format": "double",
          "description": "Minimum split loss for boosted tree models.",
          "type": "number"
        },
        "integratedGradientsNumSteps": {
          "description": "Number of integral steps for the integrated gradients explain method.",
          "format": "int64",
          "type": "string"
        },
        "itemColumn": {
          "type": "string",
          "description": "Item column specified for matrix factorization models."
        },
        "timeSeriesDataColumn": {
          "description": "Column to be designated as time series data for ARIMA model.",
          "type": "string"
        },
        "feedbackType": {
          "enumDescriptions": [
            "",
            "Use weighted-als for implicit feedback problems.",
            "Use nonweighted-als for explicit feedback problems."
          ],
          "enum": [
            "FEEDBACK_TYPE_UNSPECIFIED",
            "IMPLICIT",
            "EXPLICIT"
          ],
          "description": "Feedback type that specifies which algorithm to run for matrix factorization.",
          "type": "string"
        },
        "batchSize": {
          "description": "Batch size for dnn models.",
          "format": "int64",
          "type": "string"
        },
        "colsampleBynode": {
          "type": "number",
          "format": "double",
          "description": "Subsample ratio of columns for each node(split) for boosted tree models."
        },
        "nonSeasonalOrder": {
          "$ref": "ArimaOrder",
          "description": "A specification of the non-seasonal part of the ARIMA model: the three components (p, d, q) are the AR order, the degree of differencing, and the MA order."
        },
        "warmStart": {
          "description": "Whether to train a model from the last checkpoint.",
          "type": "boolean"
        },
        "timeSeriesIdColumn": {
          "description": "The time series id column that was used during ARIMA model training.",
          "type": "string"
        },
        "autoArimaMaxOrder": {
          "description": "The max value of non-seasonal p and q.",
          "type": "string",
          "format": "int64"
        },
        "subsample": {
          "description": "Subsample fraction of the training data to grow tree to prevent overfitting for boosted tree models.",
          "format": "double",
          "type": "number"
        },
        "includeDrift": {
          "type": "boolean",
          "description": "Include drift when fitting an ARIMA model."
        },
        "adjustStepChanges": {
          "type": "boolean",
          "description": "If true, detect step changes and make data adjustment in the input time series."
        },
        "kmeansInitializationColumn": {
          "type": "string",
          "description": "The column used to provide the initial centroids for kmeans algorithm when kmeans_initialization_method is CUSTOM."
        },
        "labelClassWeights": {
          "additionalProperties": {
            "type": "number",
            "format": "double"
          },
          "type": "object",
          "description": "Weights associated with each label class, for rebalancing the training data. Only applicable for classification models."
        },
        "dartNormalizeType": {
          "description": "Type of normalization algorithm for boosted tree models using dart booster.",
          "enumDescriptions": [
            "Unspecified dart normalize type.",
            "New trees have the same weight of each of dropped trees.",
            "New trees have the same weight of sum of dropped trees."
          ],
          "type": "string",
          "enum": [
            "DART_NORMALIZE_TYPE_UNSPECIFIED",
            "TREE",
            "FOREST"
          ]
        },
        "timeSeriesTimestampColumn": {
          "type": "string",
          "description": "Column to be designated as time series timestamp for ARIMA model."
        },
        "minTimeSeriesLength": {
          "description": "Set fast trend ARIMA_PLUS model minimum training length. Use in pair with time_series_length_fraction.",
          "type": "string",
          "format": "int64"
        },
        "maxParallelTrials": {
          "description": "Maximum number of trials to run in parallel.",
          "format": "int64",
          "type": "string"
        },
        "hiddenUnits": {
          "type": "array",
          "description": "Hidden units for dnn models.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "timeSeriesLengthFraction": {
          "type": "number",
          "format": "double",
          "description": "Get truncated length by fraction in time series."
        },
        "lossType": {
          "enum": [
            "LOSS_TYPE_UNSPECIFIED",
            "MEAN_SQUARED_LOSS",
            "MEAN_LOG_LOSS"
          ],
          "enumDescriptions": [
            "",
            "Mean squared loss, used for linear regression.",
            "Mean log loss, used for logistic regression."
          ],
          "type": "string",
          "description": "Type of loss function used during training run."
        },
        "numParallelTree": {
          "description": "Number of parallel trees constructed during each iteration for boosted tree models.",
          "format": "int64",
          "type": "string"
        },
        "minRelativeProgress": {
          "type": "number",
          "description": "When early_stop is true, stops training when accuracy improvement is less than 'min_relative_progress'. Used only for iterative training algorithms.",
          "format": "double"
        },
        "initialLearnRate": {
          "format": "double",
          "type": "number",
          "description": "Specifies the initial learning rate for the line search learn rate strategy."
        },
        "distanceType": {
          "enum": [
            "DISTANCE_TYPE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE"
          ],
          "enumDescriptions": [
            "",
            "Eculidean distance.",
            "Cosine distance."
          ],
          "type": "string",
          "description": "Distance type for clustering models."
        },
        "colsampleBylevel": {
          "type": "number",
          "format": "double",
          "description": "Subsample ratio of columns for each level for boosted tree models."
        },
        "treeMethod": {
          "description": "Tree construction algorithm for boosted tree models.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified tree method.",
            "Use heuristic to choose the fastest method.",
            "Exact greedy algorithm.",
            "Approximate greedy algorithm using quantile sketch and gradient histogram.",
            "Fast histogram optimized approximate greedy algorithm."
          ],
          "enum": [
            "TREE_METHOD_UNSPECIFIED",
            "AUTO",
            "EXACT",
            "APPROX",
            "HIST"
          ]
        },
        "maxTimeSeriesLength": {
          "type": "string",
          "format": "int64",
          "description": "Get truncated length by last n points in time series. Use separately from time_series_length_fraction and min_time_series_length."
        },
        "dataFrequency": {
          "description": "The data frequency of a time series.",
          "enumDescriptions": [
            "",
            "Automatically inferred from timestamps.",
            "Yearly data.",
            "Quarterly data.",
            "Monthly data.",
            "Weekly data.",
            "Daily data.",
            "Hourly data.",
            "Per-minute data."
          ],
          "enum": [
            "DATA_FREQUENCY_UNSPECIFIED",
            "AUTO_FREQUENCY",
            "YEARLY",
            "QUARTERLY",
            "MONTHLY",
            "WEEKLY",
            "DAILY",
            "HOURLY",
            "PER_MINUTE"
          ],
          "type": "string"
        },
        "cleanSpikesAndDips": {
          "description": "If true, clean spikes and dips in the input time series.",
          "type": "boolean"
        },
        "l2Regularization": {
          "format": "double",
          "description": "L2 regularization coefficient.",
          "type": "number"
        },
        "walsAlpha": {
          "type": "number",
          "format": "double",
          "description": "Hyperparameter for matrix factoration when implicit feedback type is specified."
        },
        "dataSplitMethod": {
          "type": "string",
          "description": "The data split type for training and evaluation, e.g. RANDOM.",
          "enumDescriptions": [
            "",
            "Splits data randomly.",
            "Splits data with the user provided tags.",
            "Splits data sequentially.",
            "Data split will be skipped.",
            "Splits data automatically: Uses NO_SPLIT if the data size is small. Otherwise uses RANDOM."
          ],
          "enum": [
            "DATA_SPLIT_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "SEQUENTIAL",
            "NO_SPLIT",
            "AUTO_SPLIT"
          ]
        },
        "timeSeriesIdColumns": {
          "description": "The time series id columns that were used during ARIMA model training.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "decomposeTimeSeries": {
          "type": "boolean",
          "description": "If true, perform decompose time series and save the results."
        },
        "preserveInputStructs": {
          "description": "Whether to preserve the input structs in output feature names. Suppose there is a struct A with field b. When false (default), the output feature name is A_b. When true, the output feature name is A.b.",
          "type": "boolean"
        },
        "dropout": {
          "description": "Dropout probability for dnn models.",
          "format": "double",
          "type": "number"
        },
        "numClusters": {
          "format": "int64",
          "description": "Number of clusters for clustering models.",
          "type": "string"
        },
        "maxIterations": {
          "format": "int64",
          "description": "The maximum number of iterations in training. Used only for iterative training algorithms.",
          "type": "string"
        },
        "hparamTuningObjectives": {
          "items": {
            "enum": [
              "HPARAM_TUNING_OBJECTIVE_UNSPECIFIED",
              "MEAN_ABSOLUTE_ERROR",
              "MEAN_SQUARED_ERROR",
              "MEAN_SQUARED_LOG_ERROR",
              "MEDIAN_ABSOLUTE_ERROR",
              "R_SQUARED",
              "EXPLAINED_VARIANCE",
              "PRECISION",
              "RECALL",
              "ACCURACY",
              "F1_SCORE",
              "LOG_LOSS",
              "ROC_AUC",
              "DAVIES_BOULDIN_INDEX",
              "MEAN_AVERAGE_PRECISION",
              "NORMALIZED_DISCOUNTED_CUMULATIVE_GAIN",
              "AVERAGE_RANK"
            ],
            "enumDescriptions": [
              "Unspecified evaluation metric.",
              "Mean absolute error. mean_absolute_error = AVG(ABS(label - predicted))",
              "Mean squared error. mean_squared_error = AVG(POW(label - predicted, 2))",
              "Mean squared log error. mean_squared_log_error = AVG(POW(LN(1 + label) - LN(1 + predicted), 2))",
              "Mean absolute error. median_absolute_error = APPROX_QUANTILES(absolute_error, 2)[OFFSET(1)]",
              "R^2 score. This corresponds to r2_score in ML.EVALUATE. r_squared = 1 - SUM(squared_error)/(COUNT(label)*VAR_POP(label))",
              "Explained variance. explained_variance = 1 - VAR_POP(label_error)/VAR_POP(label)",
              "Precision is the fraction of actual positive predictions that had positive actual labels. For multiclass this is a macro-averaged metric treating each class as a binary classifier.",
              "Recall is the fraction of actual positive labels that were given a positive prediction. For multiclass this is a macro-averaged metric.",
              "Accuracy is the fraction of predictions given the correct label. For multiclass this is a globally micro-averaged metric.",
              "The F1 score is an average of recall and precision. For multiclass this is a macro-averaged metric.",
              "Logorithmic Loss. For multiclass this is a macro-averaged metric.",
              "Area Under an ROC Curve. For multiclass this is a macro-averaged metric.",
              "Davies-Bouldin Index.",
              "Mean Average Precision.",
              "Normalized Discounted Cumulative Gain.",
              "Average Rank."
            ],
            "type": "string"
          },
          "description": "The target evaluation metrics to optimize the hyperparameters for.",
          "type": "array"
        },
        "maxTreeDepth": {
          "description": "Maximum depth of a tree for boosted tree models.",
          "format": "int64",
          "type": "string"
        },
        "calculatePValues": {
          "description": "Whether or not p-value test should be computed for this model. Only available for linear and logistic regression models.",
          "type": "boolean"
        },
        "minTreeChildWeight": {
          "type": "string",
          "format": "int64",
          "description": "Minimum sum of instance weight needed in a child for boosted tree models."
        },
        "numTrials": {
          "type": "string",
          "description": "Number of trials to run this hyperparameter tuning job.",
          "format": "int64"
        },
        "l1Regularization": {
          "description": "L1 regularization coefficient.",
          "format": "double",
          "type": "number"
        },
        "learnRate": {
          "type": "number",
          "description": "Learning rate in training. Used only for iterative training algorithms.",
          "format": "double"
        },
        "colorSpace": {
          "description": "Enums for color space, used for processing images in Object Table. See more details at https://www.tensorflow.org/io/tutorials/colorspace.",
          "enum": [
            "COLOR_SPACE_UNSPECIFIED",
            "RGB",
            "HSV",
            "YIQ",
            "YUV",
            "GRAYSCALE"
          ],
          "enumDescriptions": [
            "Unspecified color space",
            "RGB",
            "HSV",
            "YIQ",
            "YUV",
            "GRAYSCALE"
          ],
          "type": "string"
        },
        "numFactors": {
          "format": "int64",
          "type": "string",
          "description": "Num factors specified for matrix factorization models."
        },
        "optimizationStrategy": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Uses an iterative batch gradient descent algorithm.",
            "Uses a normal equation to solve linear regression problem."
          ],
          "description": "Optimization strategy for training linear regression models.",
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "BATCH_GRADIENT_DESCENT",
            "NORMAL_EQUATION"
          ]
        },
        "inputLabelColumns": {
          "items": {
            "type": "string"
          },
          "description": "Name of input label columns in training data.",
          "type": "array"
        },
        "enableGlobalExplain": {
          "type": "boolean",
          "description": "If true, enable global explanation during training."
        },
        "autoArima": {
          "description": "Whether to enable auto ARIMA or not.",
          "type": "boolean"
        },
        "earlyStop": {
          "description": "Whether to stop early when the loss doesn't improve significantly any more (compared to min_relative_progress). Used only for iterative training algorithms.",
          "type": "boolean"
        },
        "dataSplitEvalFraction": {
          "format": "double",
          "type": "number",
          "description": "The fraction of evaluation data over the whole input data. The rest of data will be used as training data. The format should be double. Accurate to two decimal places. Default value is 0.2."
        },
        "horizon": {
          "description": "The number of periods ahead that need to be forecasted.",
          "format": "int64",
          "type": "string"
        },
        "sampledShapleyNumPaths": {
          "description": "Number of paths for the sampled Shapley explain method.",
          "format": "int64",
          "type": "string"
        },
        "modelUri": {
          "type": "string",
          "description": "Google Cloud Storage URI from which the model was imported. Only applicable for imported models."
        }
      },
      "description": "Options used in model training.",
      "id": "TrainingOptions",
      "type": "object"
    },
    "Argument": {
      "id": "Argument",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. The name of this argument. Can be absent for function return argument."
        },
        "argumentKind": {
          "type": "string",
          "description": "Optional. Defaults to FIXED_TYPE.",
          "enum": [
            "ARGUMENT_KIND_UNSPECIFIED",
            "FIXED_TYPE",
            "ANY_TYPE"
          ],
          "enumDescriptions": [
            "",
            "The argument is a variable with fully specified type, which can be a struct or an array, but not a table.",
            "The argument is any type, including struct or array, but not a table. To be added: FIXED_TABLE, ANY_TABLE"
          ]
        },
        "dataType": {
          "description": "Required unless argument_kind = ANY_TYPE.",
          "$ref": "StandardSqlDataType"
        },
        "mode": {
          "enumDescriptions": [
            "",
            "The argument is input-only.",
            "The argument is output-only.",
            "The argument is both an input and an output."
          ],
          "description": "Optional. Specifies whether the argument is input or output. Can be set for procedures only.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "IN",
            "OUT",
            "INOUT"
          ]
        }
      },
      "type": "object",
      "description": "Input/output argument of a function or a stored procedure."
    },
    "SessionInfo": {
      "properties": {
        "sessionId": {
          "description": "[Output-only] // [Preview] Id of the session.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SessionInfo"
    },
    "ArimaCoefficients": {
      "properties": {
        "autoRegressiveCoefficients": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array",
          "description": "Auto-regressive coefficients, an array of double."
        },
        "movingAverageCoefficients": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array",
          "description": "Moving-average coefficients, an array of double."
        },
        "interceptCoefficient": {
          "format": "double",
          "description": "Intercept coefficient, just a double not an array.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Arima coefficients.",
      "id": "ArimaCoefficients"
    },
    "ListRoutinesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "routines": {
          "description": "Routines in the requested dataset. Unless read_mask is set in the request, only the following fields are populated: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
          "items": {
            "$ref": "Routine"
          },
          "type": "array"
        }
      },
      "id": "ListRoutinesResponse"
    },
    "Dataset": {
      "id": "Dataset",
      "properties": {
        "defaultCollation": {
          "description": "[Output-only] The default collation of the dataset.",
          "type": "string"
        },
        "description": {
          "description": "[Optional] A user-friendly description of the dataset.",
          "type": "string"
        },
        "friendlyName": {
          "type": "string",
          "description": "[Optional] A descriptive name for the dataset."
        },
        "storageBillingModel": {
          "description": "[Optional] Storage billing model to be used for all tables in the dataset. Can be set to PHYSICAL. Default is LOGICAL.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The geographic location where the dataset should reside. The default value is US. See details at https://cloud.google.com/bigquery/docs/locations."
        },
        "access": {
          "items": {
            "properties": {
              "userByEmail": {
                "description": "[Pick one] An email address of a user to grant access to. For example: fred@example.com. Maps to IAM policy member \"user:EMAIL\" or \"serviceAccount:EMAIL\".",
                "type": "string"
              },
              "specialGroup": {
                "type": "string",
                "description": "[Pick one] A special group to grant access to. Possible values include: projectOwners: Owners of the enclosing project. projectReaders: Readers of the enclosing project. projectWriters: Writers of the enclosing project. allAuthenticatedUsers: All authenticated BigQuery users. Maps to similarly-named IAM members."
              },
              "groupByEmail": {
                "description": "[Pick one] An email address of a Google Group to grant access to. Maps to IAM policy member \"group:GROUP\".",
                "type": "string"
              },
              "domain": {
                "type": "string",
                "description": "[Pick one] A domain to grant access to. Any users signed in with the domain specified will be granted the specified access. Example: \"example.com\". Maps to IAM policy member \"domain:DOMAIN\"."
              },
              "view": {
                "description": "[Pick one] A view from a different dataset to grant access to. Queries executed against that view will have read access to tables in this dataset. The role field is not required when this field is set. If that view is updated by any user, access to the view needs to be granted again via an update operation.",
                "$ref": "TableReference"
              },
              "iamMember": {
                "description": "[Pick one] Some other type of member that appears in the IAM Policy but isn't a user, group, domain, or special group.",
                "type": "string"
              },
              "dataset": {
                "$ref": "DatasetAccessEntry",
                "description": "[Pick one] A grant authorizing all resources of a particular type in a particular dataset access to this dataset. Only views are supported for now. The role field is not required when this field is set. If that dataset is deleted and re-created, its access needs to be granted again via an update operation."
              },
              "routine": {
                "description": "[Pick one] A routine from a different dataset to grant access to. Queries executed against that routine will have read access to views/tables/routines in this dataset. Only UDF is supported for now. The role field is not required when this field is set. If that routine is updated by any user, access to the routine needs to be granted again via an update operation.",
                "$ref": "RoutineReference"
              },
              "role": {
                "type": "string",
                "description": "[Required] An IAM role ID that should be granted to the user, group, or domain specified in this access entry. The following legacy mappings will be applied: OWNER  roles/bigquery.dataOwner WRITER  roles/bigquery.dataEditor READER  roles/bigquery.dataViewer This field will accept any of the above formats, but will return only the legacy format. For example, if you set this field to \"roles/bigquery.dataOwner\", it will be returned back as \"OWNER\"."
              }
            },
            "type": "object"
          },
          "description": "[Optional] An array of objects that define dataset access for one or more entities. You can set this property when inserting or updating a dataset in order to control who is allowed to access the data. If unspecified at dataset creation time, BigQuery adds default dataset access for the following entities: access.specialGroup: projectReaders; access.role: READER; access.specialGroup: projectWriters; access.role: WRITER; access.specialGroup: projectOwners; access.role: OWNER; access.userByEmail: [dataset creator email]; access.role: OWNER;",
          "type": "array"
        },
        "satisfiesPzs": {
          "description": "[Output-only] Reserved for future use.",
          "type": "boolean"
        },
        "etag": {
          "type": "string",
          "description": "[Output-only] A hash of the resource."
        },
        "kind": {
          "type": "string",
          "description": "[Output-only] The resource type.",
          "default": "bigquery#dataset"
        },
        "id": {
          "description": "[Output-only] The fully-qualified unique name of the dataset in the format projectId:datasetId. The dataset name without the project name is given in the datasetId field. When creating a new dataset, leave this field blank, and instead specify the datasetId field.",
          "type": "string"
        },
        "defaultPartitionExpirationMs": {
          "description": "[Optional] The default partition expiration for all partitioned tables in the dataset, in milliseconds. Once this property is set, all newly-created partitioned tables in the dataset will have an expirationMs property in the timePartitioning settings set to this value, and changing the value will only affect new tables, not existing ones. The storage in a partition will have an expiration time of its partition time plus this value. Setting this property overrides the use of defaultTableExpirationMs for partitioned tables: only one of defaultTableExpirationMs and defaultPartitionExpirationMs will be used for any new partitioned table. If you provide an explicit timePartitioning.expirationMs when creating or updating a partitioned table, that value takes precedence over the default partition expiration time indicated by this property.",
          "type": "string",
          "format": "int64"
        },
        "isCaseInsensitive": {
          "description": "[Optional] Indicates if table names are case insensitive in the dataset.",
          "type": "boolean"
        },
        "defaultTableExpirationMs": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] The default lifetime of all tables in the dataset, in milliseconds. The minimum value is 3600000 milliseconds (one hour). Once this property is set, all newly-created tables in the dataset will have an expirationTime property set to the creation time plus the value in this property, and changing the value will only affect new tables, not existing ones. When the expirationTime for a given table is reached, that table will be deleted automatically. If a table's expirationTime is modified or removed before the table expires, or if you provide an explicit expirationTime when creating a table, that value takes precedence over the default expiration time indicated by this property."
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access the resource again. You can use this URL in Get or Update requests to the resource.",
          "type": "string"
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] The date when this dataset or any of its tables was last modified, in milliseconds since the epoch."
        },
        "defaultEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration"
        },
        "tags": {
          "type": "array",
          "description": "[Optional]The tags associated with this dataset. Tag keys are globally unique.",
          "items": {
            "type": "object",
            "properties": {
              "tagKey": {
                "description": "[Required] The namespaced friendly name of the tag key, e.g. \"12345/environment\" where 12345 is org id.",
                "type": "string"
              },
              "tagValue": {
                "description": "[Required] Friendly short name of the tag value, e.g. \"production\".",
                "type": "string"
              }
            }
          }
        },
        "creationTime": {
          "type": "string",
          "description": "[Output-only] The time when this dataset was created, in milliseconds since the epoch.",
          "format": "int64"
        },
        "maxTimeTravelHours": {
          "format": "int64",
          "description": "[Optional] Number of hours for the max time travel for all tables in the dataset.",
          "type": "string"
        },
        "labels": {
          "description": "The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See Creating and Updating Dataset Labels for more information.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "datasetReference": {
          "description": "[Required] A reference that identifies the dataset.",
          "$ref": "DatasetReference"
        }
      },
      "type": "object"
    },
    "BinaryConfusionMatrix": {
      "id": "BinaryConfusionMatrix",
      "type": "object",
      "description": "Confusion matrix for binary classification models.",
      "properties": {
        "truePositives": {
          "format": "int64",
          "description": "Number of true samples predicted as true.",
          "type": "string"
        },
        "precision": {
          "description": "The fraction of actual positive predictions that had positive actual labels.",
          "type": "number",
          "format": "double"
        },
        "positiveClassThreshold": {
          "format": "double",
          "description": "Threshold value used when computing each of the following metric.",
          "type": "number"
        },
        "falsePositives": {
          "format": "int64",
          "description": "Number of false samples predicted as true.",
          "type": "string"
        },
        "f1Score": {
          "description": "The equally weighted average of recall and precision.",
          "type": "number",
          "format": "double"
        },
        "accuracy": {
          "type": "number",
          "description": "The fraction of predictions given the correct label.",
          "format": "double"
        },
        "recall": {
          "description": "The fraction of actual positive labels that were given a positive prediction.",
          "format": "double",
          "type": "number"
        },
        "falseNegatives": {
          "description": "Number of false samples predicted as false.",
          "format": "int64",
          "type": "string"
        },
        "trueNegatives": {
          "type": "string",
          "description": "Number of true samples predicted as false.",
          "format": "int64"
        }
      }
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "type": "object",
      "id": "AuditConfig"
    },
    "SparkStatistics": {
      "id": "SparkStatistics",
      "type": "object",
      "properties": {
        "spark_job_id": {
          "description": "[Output-only] Spark job id if a Spark job is created successfully.",
          "type": "string"
        },
        "endpoints": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "[Output-only] Endpoints generated for the Spark job."
        },
        "spark_job_location": {
          "type": "string",
          "description": "[Output-only] Location where the Spark job is executed."
        },
        "logging_info": {
          "description": "[Output-only] Logging info is used to generate a link to Cloud Logging.",
          "$ref": "SparkLoggingInfo"
        }
      }
    },
    "ClusteringMetrics": {
      "properties": {
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "description": "Information for all clusters.",
          "type": "array"
        },
        "meanSquaredDistance": {
          "format": "double",
          "type": "number",
          "description": "Mean of squared distances between each sample to its cluster centroid."
        },
        "daviesBouldinIndex": {
          "description": "Davies-Bouldin index.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "ClusteringMetrics",
      "description": "Evaluation metrics for clustering models.",
      "type": "object"
    },
    "Binding": {
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding"
    },
    "JobStatistics2": {
      "properties": {
        "totalSlotMs": {
          "format": "int64",
          "description": "[Output only] Slot-milliseconds for the job.",
          "type": "string"
        },
        "referencedRoutines": {
          "type": "array",
          "items": {
            "$ref": "RoutineReference"
          },
          "description": "[Output only] Referenced routines (persistent user-defined functions and stored procedures) for the job."
        },
        "ddlTargetRowAccessPolicy": {
          "$ref": "RowAccessPolicyReference",
          "description": "[Output only] [Preview] The DDL target row access policy. Present only for CREATE/DROP ROW ACCESS POLICY queries."
        },
        "mlStatistics": {
          "$ref": "MlStatistics",
          "description": "[Output only] Statistics of a BigQuery ML training job."
        },
        "ddlOperationPerformed": {
          "description": "The DDL operation performed, possibly dependent on the pre-existence of the DDL target. Possible values (new values might be added in the future): \"CREATE\": The query created the DDL target. \"SKIP\": No-op. Example cases: the query is CREATE TABLE IF NOT EXISTS while the table already exists, or the query is DROP TABLE IF EXISTS while the table does not exist. \"REPLACE\": The query replaced the DDL target. Example case: the query is CREATE OR REPLACE TABLE, and the table already exists. \"DROP\": The query deleted the DDL target.",
          "type": "string"
        },
        "timeline": {
          "items": {
            "$ref": "QueryTimelineSample"
          },
          "type": "array",
          "description": "[Output only] [Beta] Describes a timeline of job execution."
        },
        "billingTier": {
          "description": "[Output only] Billing tier for the job.",
          "format": "int32",
          "type": "integer"
        },
        "transferredBytes": {
          "description": "[Output-only] Total bytes transferred for cross-cloud queries such as Cross Cloud Transfer and CREATE TABLE AS SELECT (CTAS).",
          "format": "int64",
          "type": "string"
        },
        "modelTrainingCurrentIteration": {
          "format": "int32",
          "description": "[Output only, Beta] Deprecated; do not use.",
          "type": "integer"
        },
        "referencedTables": {
          "items": {
            "$ref": "TableReference"
          },
          "description": "[Output only] Referenced tables for the job. Queries that reference more than 50 tables will not have a complete list.",
          "type": "array"
        },
        "modelTrainingExpectedTotalIteration": {
          "format": "int64",
          "description": "[Output only, Beta] Deprecated; do not use.",
          "type": "string"
        },
        "reservationUsage": {
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "[Output only] Reservation name or \"unreserved\" for on-demand resources usage.",
                "type": "string"
              },
              "slotMs": {
                "format": "int64",
                "description": "[Output only] Slot-milliseconds the job spent in the given reservation.",
                "type": "string"
              }
            }
          },
          "type": "array",
          "description": "[Output only] Job resource usage breakdown by reservation."
        },
        "biEngineStatistics": {
          "$ref": "BiEngineStatistics",
          "description": "BI Engine specific Statistics. [Output only] BI Engine specific Statistics."
        },
        "numDmlAffectedRows": {
          "description": "[Output only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
          "type": "string",
          "format": "int64"
        },
        "dmlStats": {
          "description": "[Output only] Detailed statistics for DML statements Present only for DML statements INSERT, UPDATE, DELETE or TRUNCATE.",
          "$ref": "DmlStatistics"
        },
        "searchStatistics": {
          "$ref": "SearchStatistics",
          "description": "[Output only] Search query specific statistics."
        },
        "queryPlan": {
          "description": "[Output only] Describes execution plan for the query.",
          "items": {
            "$ref": "ExplainQueryStage"
          },
          "type": "array"
        },
        "modelTraining": {
          "$ref": "BigQueryModelTraining",
          "description": "[Output only, Beta] Information about create model query job progress."
        },
        "totalPartitionsProcessed": {
          "description": "[Output only] Total number of partitions processed from all partitioned tables referenced in the job.",
          "format": "int64",
          "type": "string"
        },
        "ddlTargetDataset": {
          "description": "[Output only] The DDL target dataset. Present only for CREATE/ALTER/DROP SCHEMA queries.",
          "$ref": "DatasetReference"
        },
        "estimatedBytesProcessed": {
          "format": "int64",
          "description": "[Output only] The original estimate of bytes processed for the job.",
          "type": "string"
        },
        "totalBytesProcessedAccuracy": {
          "type": "string",
          "description": "[Output only] For dry-run jobs, totalBytesProcessed is an estimate and this field specifies the accuracy of the estimate. Possible values can be: UNKNOWN: accuracy of the estimate is unknown. PRECISE: estimate is precise. LOWER_BOUND: estimate is lower bound of what the query would cost. UPPER_BOUND: estimate is upper bound of what the query would cost."
        },
        "statementType": {
          "description": "The type of query statement, if valid. Possible values (new values might be added in the future): \"SELECT\": SELECT query. \"INSERT\": INSERT query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"UPDATE\": UPDATE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"DELETE\": DELETE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"MERGE\": MERGE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"ALTER_TABLE\": ALTER TABLE query. \"ALTER_VIEW\": ALTER VIEW query. \"ASSERT\": ASSERT condition AS 'description'. \"CREATE_FUNCTION\": CREATE FUNCTION query. \"CREATE_MODEL\": CREATE [OR REPLACE] MODEL ... AS SELECT ... . \"CREATE_PROCEDURE\": CREATE PROCEDURE query. \"CREATE_TABLE\": CREATE [OR REPLACE] TABLE without AS SELECT. \"CREATE_TABLE_AS_SELECT\": CREATE [OR REPLACE] TABLE ... AS SELECT ... . \"CREATE_VIEW\": CREATE [OR REPLACE] VIEW ... AS SELECT ... . \"DROP_FUNCTION\" : DROP FUNCTION query. \"DROP_PROCEDURE\": DROP PROCEDURE query. \"DROP_TABLE\": DROP TABLE query. \"DROP_VIEW\": DROP VIEW query.",
          "type": "string"
        },
        "schema": {
          "description": "[Output only] The schema of the results. Present only for successful dry run of non-legacy SQL queries.",
          "$ref": "TableSchema"
        },
        "ddlTargetRoutine": {
          "description": "The DDL target routine. Present only for CREATE/DROP FUNCTION/PROCEDURE queries.",
          "$ref": "RoutineReference"
        },
        "cacheHit": {
          "type": "boolean",
          "description": "[Output only] Whether the query result was fetched from the query cache."
        },
        "totalBytesBilled": {
          "type": "string",
          "format": "int64",
          "description": "[Output only] Total bytes billed for the job."
        },
        "ddlAffectedRowAccessPolicyCount": {
          "format": "int64",
          "description": "[Output only] [Preview] The number of row access policies affected by a DDL statement. Present only for DROP ALL ROW ACCESS POLICIES queries.",
          "type": "string"
        },
        "sparkStatistics": {
          "description": "[Output only] Statistics of a Spark procedure job.",
          "$ref": "SparkStatistics"
        },
        "ddlTargetTable": {
          "$ref": "TableReference",
          "description": "[Output only] The DDL target table. Present only for CREATE/DROP TABLE/VIEW and DROP ALL ROW ACCESS POLICIES queries."
        },
        "totalBytesProcessed": {
          "type": "string",
          "description": "[Output only] Total bytes processed for the job.",
          "format": "int64"
        },
        "undeclaredQueryParameters": {
          "items": {
            "$ref": "QueryParameter"
          },
          "type": "array",
          "description": "Standard SQL only: list of undeclared query parameters detected during a dry run validation."
        },
        "ddlDestinationTable": {
          "$ref": "TableReference",
          "description": "[Output only] The DDL destination table. Present only for ALTER TABLE RENAME TO queries. Note that ddl_target_table is used just for its type information."
        }
      },
      "id": "JobStatistics2",
      "type": "object"
    },
    "AggregateClassificationMetrics": {
      "description": "Aggregate metrics for classification/classifier models. For multi-class models, the metrics are either macro-averaged or micro-averaged. When macro-averaged, the metrics are calculated for each label and then an unweighted average is taken of those values. When micro-averaged, the metric is calculated globally by counting the total number of correctly predicted rows.",
      "type": "object",
      "id": "AggregateClassificationMetrics",
      "properties": {
        "threshold": {
          "format": "double",
          "type": "number",
          "description": "Threshold at which the metrics are computed. For binary classification models this is the positive class threshold. For multi-class classfication models this is the confidence threshold."
        },
        "accuracy": {
          "description": "Accuracy is the fraction of predictions given the correct label. For multiclass this is a micro-averaged metric.",
          "format": "double",
          "type": "number"
        },
        "f1Score": {
          "format": "double",
          "type": "number",
          "description": "The F1 score is an average of recall and precision. For multiclass this is a macro-averaged metric."
        },
        "precision": {
          "description": "Precision is the fraction of actual positive predictions that had positive actual labels. For multiclass this is a macro-averaged metric treating each class as a binary classifier.",
          "type": "number",
          "format": "double"
        },
        "rocAuc": {
          "description": "Area Under a ROC Curve. For multiclass this is a macro-averaged metric.",
          "format": "double",
          "type": "number"
        },
        "recall": {
          "description": "Recall is the fraction of actual positive labels that were given a positive prediction. For multiclass this is a macro-averaged metric.",
          "type": "number",
          "format": "double"
        },
        "logLoss": {
          "format": "double",
          "type": "number",
          "description": "Logarithmic Loss. For multiclass this is a macro-averaged metric."
        }
      }
    },
    "DatasetList": {
      "id": "DatasetList",
      "type": "object",
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "description": "The fully-qualified, unique, opaque ID of the dataset.",
                "type": "string"
              },
              "kind": {
                "description": "The resource type. This property always returns the value \"bigquery#dataset\".",
                "default": "bigquery#dataset",
                "type": "string"
              },
              "labels": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "The labels associated with this dataset. You can use these to organize and group your datasets."
              },
              "location": {
                "type": "string",
                "description": "The geographic location where the data resides."
              },
              "datasetReference": {
                "$ref": "DatasetReference",
                "description": "The dataset reference. Use this property to access specific parts of the dataset's ID, such as project ID or dataset ID."
              },
              "friendlyName": {
                "description": "A descriptive name for the dataset, if one exists.",
                "type": "string"
              }
            }
          },
          "description": "An array of the dataset resources in the project. Each resource contains basic information. For full information about a particular dataset resource, use the Datasets: get method. This property is omitted when there are no datasets in the project."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be used to request the next results page. This property is omitted on the final results page."
        },
        "etag": {
          "type": "string",
          "description": "A hash value of the results page. You can use this property to determine if the page has changed since the last request."
        },
        "kind": {
          "default": "bigquery#datasetList",
          "description": "The list type. This property always returns the value \"bigquery#datasetList\".",
          "type": "string"
        }
      }
    },
    "BqmlTrainingRun": {
      "id": "BqmlTrainingRun",
      "type": "object",
      "properties": {
        "state": {
          "description": "[Output-only, Beta] Different state applicable for a training run. IN PROGRESS: Training run is in progress. FAILED: Training run ended due to a non-retryable failure. SUCCEEDED: Training run successfully completed. CANCELLED: Training run cancelled by the user.",
          "type": "string"
        },
        "iterationResults": {
          "items": {
            "$ref": "BqmlIterationResult"
          },
          "type": "array",
          "description": "[Output-only, Beta] List of each iteration results."
        },
        "startTime": {
          "description": "[Output-only, Beta] Training run start time in milliseconds since the epoch.",
          "type": "string",
          "format": "date-time"
        },
        "trainingOptions": {
          "type": "object",
          "description": "[Output-only, Beta] Training options used by this training run. These options are mutable for subsequent training runs. Default values are explicitly stored for options not specified in the input query of the first training run. For subsequent training runs, any option not explicitly specified in the input query will be copied from the previous training run.",
          "properties": {
            "l2Reg": {
              "format": "double",
              "type": "number"
            },
            "minRelProgress": {
              "type": "number",
              "format": "double"
            },
            "earlyStop": {
              "type": "boolean"
            },
            "warmStart": {
              "type": "boolean"
            },
            "l1Reg": {
              "format": "double",
              "type": "number"
            },
            "learnRateStrategy": {
              "type": "string"
            },
            "maxIteration": {
              "format": "int64",
              "type": "string"
            },
            "lineSearchInitLearnRate": {
              "type": "number",
              "format": "double"
            },
            "learnRate": {
              "format": "double",
              "type": "number"
            }
          }
        }
      }
    },
    "QueryTimelineSample": {
      "properties": {
        "pendingUnits": {
          "type": "string",
          "description": "Total units of work remaining for the query. This number can be revised (increased or decreased) while the query is running.",
          "format": "int64"
        },
        "elapsedMs": {
          "type": "string",
          "format": "int64",
          "description": "Milliseconds elapsed since the start of query execution."
        },
        "completedUnits": {
          "description": "Total parallel units of work completed by this query.",
          "type": "string",
          "format": "int64"
        },
        "activeUnits": {
          "description": "Total number of units currently being processed by workers. This does not correspond directly to slot usage. This is the largest value observed since the last sample.",
          "type": "string",
          "format": "int64"
        },
        "totalSlotMs": {
          "description": "Cumulative slot-ms consumed by the query.",
          "type": "string",
          "format": "int64"
        },
        "estimatedRunnableUnits": {
          "type": "string",
          "description": "Units of work that can be scheduled immediately. Providing additional slots for these units of work will speed up the query, provided no other query in the reservation needs additional slots.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "QueryTimelineSample"
    },
    "BqmlIterationResult": {
      "type": "object",
      "id": "BqmlIterationResult",
      "properties": {
        "learnRate": {
          "format": "double",
          "type": "number",
          "description": "[Output-only, Beta] Learning rate used for this iteration, it varies for different training iterations if learn_rate_strategy option is not constant."
        },
        "trainingLoss": {
          "format": "double",
          "type": "number",
          "description": "[Output-only, Beta] Training loss computed on the training data at the end of the iteration. The training loss function is defined by model type."
        },
        "evalLoss": {
          "description": "[Output-only, Beta] Eval loss computed on the eval data at the end of the iteration. The eval loss is used for early stopping to avoid overfitting. No eval loss if eval_split_method option is specified as no_split or auto_split with input data size less than 500 rows.",
          "type": "number",
          "format": "double"
        },
        "durationMs": {
          "format": "int64",
          "description": "[Output-only, Beta] Time taken to run the training iteration in milliseconds.",
          "type": "string"
        },
        "index": {
          "description": "[Output-only, Beta] Index of the ML training iteration, starting from zero for each training run.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CategoryCount": {
      "description": "Represents the count of a single category within the cluster.",
      "id": "CategoryCount",
      "properties": {
        "category": {
          "description": "The name of category.",
          "type": "string"
        },
        "count": {
          "type": "string",
          "description": "The count of training samples matching the category within the cluster.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "JobList": {
      "properties": {
        "jobs": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "status": {
                "$ref": "JobStatus",
                "description": "[Full-projection-only] Describes the state of the job."
              },
              "jobReference": {
                "$ref": "JobReference",
                "description": "Job reference uniquely identifying the job."
              },
              "id": {
                "type": "string",
                "description": "Unique opaque ID of the job."
              },
              "configuration": {
                "$ref": "JobConfiguration",
                "description": "[Full-projection-only] Specifies the job configuration."
              },
              "statistics": {
                "description": "[Output-only] Information about the job, including starting time and ending time of the job.",
                "$ref": "JobStatistics"
              },
              "kind": {
                "type": "string",
                "default": "bigquery#job",
                "description": "The resource type."
              },
              "errorResult": {
                "$ref": "ErrorProto",
                "description": "A result object that will be present only if the job has failed."
              },
              "state": {
                "description": "Running state of the job. When the state is DONE, errorResult can be checked to determine whether the job succeeded or failed.",
                "type": "string"
              },
              "user_email": {
                "type": "string",
                "description": "[Full-projection-only] Email address of the user who ran the job."
              }
            }
          },
          "description": "List of jobs that were requested."
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "etag": {
          "description": "A hash of this page of results.",
          "type": "string"
        },
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#jobList"
        }
      },
      "type": "object",
      "id": "JobList"
    },
    "DatasetReference": {
      "id": "DatasetReference",
      "type": "object",
      "properties": {
        "datasetId": {
          "annotations": {
            "required": [
              "bigquery.datasets.update"
            ]
          },
          "type": "string",
          "description": "[Required] A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters."
        },
        "projectId": {
          "description": "[Optional] The ID of the project containing this dataset.",
          "type": "string",
          "annotations": {
            "required": [
              "bigquery.datasets.update"
            ]
          }
        }
      }
    },
    "ModelDefinition": {
      "properties": {
        "trainingRuns": {
          "items": {
            "$ref": "BqmlTrainingRun"
          },
          "description": "[Output-only, Beta] Information about ml training runs, each training run comprises of multiple iterations and there may be multiple training runs for the model if warm start is used or if a user decides to continue a previously cancelled query.",
          "type": "array"
        },
        "modelOptions": {
          "properties": {
            "modelType": {
              "type": "string"
            },
            "lossType": {
              "type": "string"
            },
            "labels": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "description": "[Output-only, Beta] Model options used for the first training run. These options are immutable for subsequent training runs. Default values are used for any options not specified in the input query.",
          "type": "object"
        }
      },
      "id": "ModelDefinition",
      "type": "object"
    },
    "AvroOptions": {
      "type": "object",
      "properties": {
        "useAvroLogicalTypes": {
          "description": "[Optional] If sourceFormat is set to \"AVRO\", indicates whether to interpret logical types as the corresponding BigQuery data type (for example, TIMESTAMP), instead of using the raw type (for example, INTEGER).",
          "type": "boolean"
        }
      },
      "id": "AvroOptions"
    },
    "ArimaModelInfo": {
      "id": "ArimaModelInfo",
      "type": "object",
      "description": "Arima model information.",
      "properties": {
        "arimaFittingMetrics": {
          "description": "Arima fitting metrics.",
          "$ref": "ArimaFittingMetrics"
        },
        "timeSeriesId": {
          "type": "string",
          "description": "The time_series_id value for this time series. It will be one of the unique values from the time_series_id_column specified during ARIMA model training. Only present when time_series_id_column training option was used."
        },
        "timeSeriesIds": {
          "type": "array",
          "description": "The tuple of time_series_ids identifying this time series. It will be one of the unique tuples of values present in the time_series_id_columns specified during ARIMA model training. Only present when time_series_id_columns training option was used and the order of values here are same as the order of time_series_id_columns.",
          "items": {
            "type": "string"
          }
        },
        "arimaCoefficients": {
          "description": "Arima coefficients.",
          "$ref": "ArimaCoefficients"
        },
        "seasonalPeriods": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          },
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series."
        },
        "hasHolidayEffect": {
          "description": "If true, holiday_effect is a part of time series decomposition result.",
          "type": "boolean"
        },
        "nonSeasonalOrder": {
          "description": "Non-seasonal order.",
          "$ref": "ArimaOrder"
        },
        "hasSpikesAndDips": {
          "description": "If true, spikes_and_dips is a part of time series decomposition result.",
          "type": "boolean"
        },
        "hasStepChanges": {
          "description": "If true, step_changes is a part of time series decomposition result.",
          "type": "boolean"
        },
        "hasDrift": {
          "type": "boolean",
          "description": "Whether Arima model fitted with drift or not. It is always false when d is not 1."
        }
      }
    },
    "ProjectList": {
      "id": "ProjectList",
      "type": "object",
      "properties": {
        "kind": {
          "default": "bigquery#projectList",
          "type": "string",
          "description": "The type of list."
        },
        "totalItems": {
          "format": "int32",
          "description": "The total number of projects in the list.",
          "type": "integer"
        },
        "projects": {
          "description": "Projects to which you have at least READ access.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "kind": {
                "description": "The resource type.",
                "type": "string",
                "default": "bigquery#project"
              },
              "numericId": {
                "format": "uint64",
                "description": "The numeric ID of this project.",
                "type": "string"
              },
              "friendlyName": {
                "type": "string",
                "description": "A descriptive name for this project."
              },
              "id": {
                "type": "string",
                "description": "An opaque ID of this project."
              },
              "projectReference": {
                "description": "A unique reference to this project.",
                "$ref": "ProjectReference"
              }
            }
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "A hash of the page of results"
        }
      }
    },
    "JobConfigurationTableCopy": {
      "id": "JobConfigurationTableCopy",
      "properties": {
        "sourceTables": {
          "description": "[Pick one] Source tables to copy.",
          "items": {
            "$ref": "TableReference"
          },
          "type": "array"
        },
        "destinationEncryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys).",
          "$ref": "EncryptionConfiguration"
        },
        "destinationTable": {
          "$ref": "TableReference",
          "description": "[Required] The destination table"
        },
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "destinationExpirationTime": {
          "type": "any",
          "description": "[Optional] The time when the destination table expires. Expired tables will be deleted and their storage reclaimed."
        },
        "operationType": {
          "description": "[Optional] Supported operation types in table copy job.",
          "type": "string"
        },
        "sourceTable": {
          "$ref": "TableReference",
          "description": "[Pick one] Source table to copy."
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LocationMetadata": {
      "properties": {
        "legacyLocationId": {
          "description": "The legacy BigQuery location ID, e.g. “EU” for the “europe” location. This is for any API consumers that need the legacy “US” and “EU” locations.",
          "type": "string"
        }
      },
      "id": "LocationMetadata",
      "description": "BigQuery-specific metadata about a location. This will be set on google.cloud.location.Location.metadata in Cloud Location API responses.",
      "type": "object"
    },
    "DoubleHparamSearchSpace": {
      "id": "DoubleHparamSearchSpace",
      "description": "Search space for a double hyperparameter.",
      "type": "object",
      "properties": {
        "candidates": {
          "$ref": "DoubleCandidates",
          "description": "Candidates of the double hyperparameter."
        },
        "range": {
          "description": "Range of the double hyperparameter.",
          "$ref": "DoubleRange"
        }
      }
    },
    "JobConfigurationExtract": {
      "type": "object",
      "id": "JobConfigurationExtract",
      "properties": {
        "sourceTable": {
          "$ref": "TableReference",
          "description": "A reference to the table being exported."
        },
        "useAvroLogicalTypes": {
          "type": "boolean",
          "description": "[Optional] If destinationFormat is set to \"AVRO\", this flag indicates whether to enable extracting applicable column types (such as TIMESTAMP) to their corresponding AVRO logical types (timestamp-micros), instead of only using their raw types (avro-long). Not applicable when extracting models."
        },
        "destinationFormat": {
          "description": "[Optional] The exported file format. Possible values include CSV, NEWLINE_DELIMITED_JSON, PARQUET or AVRO for tables and ML_TF_SAVED_MODEL or ML_XGBOOST_BOOSTER for models. The default value for tables is CSV. Tables with nested or repeated fields cannot be exported as CSV. The default value for models is ML_TF_SAVED_MODEL.",
          "type": "string"
        },
        "destinationUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Pick one] A list of fully-qualified Google Cloud Storage URIs where the extracted table should be written."
        },
        "compression": {
          "type": "string",
          "description": "[Optional] The compression type to use for exported files. Possible values include GZIP, DEFLATE, SNAPPY, and NONE. The default value is NONE. DEFLATE and SNAPPY are only supported for Avro. Not applicable when extracting models."
        },
        "sourceModel": {
          "$ref": "ModelReference",
          "description": "A reference to the model being exported."
        },
[...]
