{
  "id": "chat:v1",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/hangouts/chat",
  "servicePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "rootUrl": "https://chat.googleapis.com/",
  "baseUrl": "https://chat.googleapis.com/",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chat.memberships": {
          "description": "View, add, and remove members from conversations in Google Chat"
        }
      }
    }
  },
  "name": "chat",
  "version_module": true,
  "title": "Google Chat API",
  "kind": "discovery#restDescription",
  "resources": {
    "media": {
      "methods": {
        "download": {
          "parameterOrder": [
            "resourceName"
          ],
          "flatPath": "v1/media/{mediaId}",
          "description": "Downloads media. Download is supported on the URI `/v1/media/{+name}?alt=media`.",
          "path": "v1/media/{+resourceName}",
          "response": {
            "$ref": "Media"
          },
          "id": "chat.media.download",
          "parameters": {
            "resourceName": {
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "required": true,
              "location": "path",
              "pattern": "^.*$",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "supportsMediaDownload": true
        }
      }
    },
    "rooms": {
      "methods": {
        "webhooks": {
          "httpMethod": "POST",
          "id": "chat.rooms.webhooks",
          "path": "v1/{+parent}/webhooks",
          "response": {
            "$ref": "Message"
          },
          "flatPath": "v1/rooms/{roomsId}/webhooks",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "messageId": {
              "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message).",
              "location": "query",
              "type": "string"
            },
            "requestId": {
              "type": "string",
              "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
              "location": "query"
            },
            "threadKey": {
              "location": "query",
              "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
              "type": "string"
            },
            "messageReplyOption": {
              "enumDescriptions": [
                "Default. Starts a thread.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                "REPLY_MESSAGE_OR_FAIL"
              ],
              "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces."
            },
            "parent": {
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "pattern": "^rooms/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "Message"
          },
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response."
        },
        "messages": {
          "response": {
            "$ref": "Message"
          },
          "parameterOrder": [
            "parent"
          ],
          "id": "chat.rooms.messages",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "flatPath": "v1/rooms/{roomsId}/messages",
          "httpMethod": "POST",
          "path": "v1/{+parent}/messages",
          "parameters": {
            "requestId": {
              "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
              "type": "string",
              "location": "query"
            },
            "messageReplyOption": {
              "location": "query",
              "type": "string",
              "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces.",
              "enum": [
                "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                "REPLY_MESSAGE_OR_FAIL"
              ],
              "enumDescriptions": [
                "Default. Starts a thread.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
              ]
            },
            "threadKey": {
              "type": "string",
              "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
              "location": "query"
            },
            "messageId": {
              "type": "string",
              "location": "query",
              "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message)."
            },
            "parent": {
              "location": "path",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "type": "string",
              "required": true,
              "pattern": "^rooms/[^/]+$"
            }
          },
          "request": {
            "$ref": "Message"
          }
        }
      },
      "resources": {
        "conversations": {
          "methods": {
            "messages": {
              "httpMethod": "POST",
              "parameters": {
                "threadKey": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread)."
                },
                "parent": {
                  "required": true,
                  "pattern": "^rooms/[^/]+/conversations/[^/]+$",
                  "type": "string",
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
                  "location": "path"
                },
                "requestId": {
                  "location": "query",
                  "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
                  "type": "string"
                },
                "messageId": {
                  "type": "string",
                  "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message).",
                  "location": "query"
                },
                "messageReplyOption": {
                  "location": "query",
                  "enumDescriptions": [
                    "Default. Starts a thread.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
                  ],
                  "enum": [
                    "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                    "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                    "REPLY_MESSAGE_OR_FAIL"
                  ],
                  "type": "string",
                  "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces."
                }
              },
              "path": "v1/{+parent}/messages",
              "flatPath": "v1/rooms/{roomsId}/conversations/{conversationsId}/messages",
              "request": {
                "$ref": "Message"
              },
              "id": "chat.rooms.conversations.messages",
              "parameterOrder": [
                "parent"
              ],
              "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
              "response": {
                "$ref": "Message"
              }
            }
          }
        }
      }
    },
    "spaces": {
      "resources": {
        "messages": {
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^spaces/[^/]+/messages/[^/]+/attachments/[^/]+$",
                      "location": "path",
                      "description": "Required. Resource name of the attachment, in the form \"spaces/*/messages/*/attachments/*\".",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Attachment"
                  },
                  "id": "chat.spaces.messages.attachments.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}/attachments/{attachmentsId}",
                  "description": "Gets the metadata of a message attachment. The attachment data is fetched using the media API. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts)."
                }
              }
            }
          },
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the message to be deleted, in the form \"spaces/*/messages/*\" Example: spaces/AAAAAAAAAAA/messages/BBBBBBBBBBB.BBBBBBBBBBB",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^spaces/[^/]+/messages/[^/]+$"
                }
              },
              "description": "Deletes a message. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts). [Developer Preview](https://developers.google.com/workspace/preview): Deletes a message. Requires [user authentication](https://developers.google.com/chat/api/guides/auth/users) and the `chat.messages` authorization scope.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "id": "chat.spaces.messages.delete"
            },
            "get": {
              "id": "chat.spaces.messages.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "response": {
                "$ref": "Message"
              },
              "httpMethod": "GET",
              "description": "Returns a message. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts). [Developer Preview](https://developers.google.com/workspace/preview): Returns a message. Requires [user authentication](https://developers.google.com/chat/api/guides/auth/users) and the `chat.messages` or `chat.messages.readonly` authorization scope. Messages from a blocked member or messages from a blocked space can also be fetched.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Resource name of the message to retrieve. Format: spaces/{space}/messages/{message} If the message begins with `client-`, then it has a custom name assigned by a Chat app that created it with the Chat REST API. That Chat app (but not others) can pass the custom name to get, update, or delete the message. To learn more, see [create and name a message] (https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message)."
                }
              },
              "path": "v1/{+name}"
            },
            "update": {
              "id": "chat.spaces.messages.update",
              "request": {
                "$ref": "Message"
              },
              "parameters": {
                "updateMask": {
                  "description": "Required. The field paths to update. Separate multiple values with commas. Currently supported field paths: - text - cards (Requires [service account authentication](/chat/api/guides/auth/service-accounts).) - cards_v2 ",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "allowMissing": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. If `true` and the message is not found, a new message is created and `updateMask` is ignored. The specified message ID must be [client-assigned](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message) or the request fails."
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "description": "Resource name in the form `spaces/*/messages/*`. Example: `spaces/AAAAAAAAAAA/messages/BBBBBBBBBBB.BBBBBBBBBBB`"
                }
              },
              "httpMethod": "PUT",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Message"
              },
              "description": "Updates a message. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts).",
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}"
            },
            "create": {
              "id": "chat.spaces.messages.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/messages",
              "parameters": {
                "messageId": {
                  "location": "query",
                  "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message).",
                  "type": "string"
                },
                "messageReplyOption": {
                  "location": "query",
                  "enum": [
                    "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                    "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                    "REPLY_MESSAGE_OR_FAIL"
                  ],
                  "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces.",
                  "enumDescriptions": [
                    "Default. Starts a thread.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
                  ],
                  "type": "string"
                },
                "requestId": {
                  "location": "query",
                  "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^spaces/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
                  "location": "path"
                },
                "threadKey": {
                  "type": "string",
                  "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
                  "location": "query"
                }
              },
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Creates a message. Requires [authentication](https://developers.google.com/chat/api/guides/auth).",
              "flatPath": "v1/spaces/{spacesId}/messages",
              "httpMethod": "POST",
              "response": {
                "$ref": "Message"
              },
              "request": {
                "$ref": "Message"
              }
            }
          }
        },
        "members": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "flatPath": "v1/spaces/{spacesId}/members",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists human memberships in a space for joined members. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts).",
              "scopes": [
                "https://www.googleapis.com/auth/chat.memberships"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/members",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous list memberships call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of memberships to return. The service may return fewer than this value. If unspecified, at most 100 memberships are returned. The maximum value is 1000; values above 1000 are coerced to 1000. Negative values return an INVALID_ARGUMENT error."
                },
                "parent": {
                  "description": "Required. The resource name of the space for which to fetch a membership list. Format: spaces/{space}",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^spaces/[^/]+$"
                }
              },
              "id": "chat.spaces.members.list"
            },
            "get": {
              "httpMethod": "GET",
              "id": "chat.spaces.members.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^spaces/[^/]+/members/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of the membership to retrieve. Format: spaces/{space}/members/{member}",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Returns a membership. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts).",
              "flatPath": "v1/spaces/{spacesId}/members/{membersId}",
              "scopes": [
                "https://www.googleapis.com/auth/chat.memberships"
              ],
              "response": {
                "$ref": "Membership"
              }
            }
          }
        }
      },
      "methods": {
        "list": {
          "description": "Lists spaces the caller is a member of. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts). ",
          "response": {
            "$ref": "ListSpacesResponse"
          },
          "flatPath": "v1/spaces",
          "httpMethod": "GET",
          "path": "v1/spaces",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous list spaces call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided must match the call that provided the page token.",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of spaces to return. The service may return fewer than this value. If unspecified, at most 100 spaces are returned. The maximum value is 1000; values above 1000 are coerced to 1000. Negative values return an INVALID_ARGUMENT error.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "id": "chat.spaces.list"
        },
        "webhooks": {
          "id": "chat.spaces.webhooks",
          "flatPath": "v1/spaces/{spacesId}/webhooks",
          "response": {
            "$ref": "Message"
          },
          "parameterOrder": [
            "parent"
          ],
          "path": "v1/{+parent}/webhooks",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "httpMethod": "POST",
          "request": {
            "$ref": "Message"
          },
          "parameters": {
            "requestId": {
              "type": "string",
              "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
              "location": "query"
            },
            "messageReplyOption": {
              "enum": [
                "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                "REPLY_MESSAGE_OR_FAIL"
              ],
              "location": "query",
              "enumDescriptions": [
                "Default. Starts a thread.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
              ],
              "type": "string",
              "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces."
            },
            "threadKey": {
              "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "pattern": "^spaces/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA"
            },
            "messageId": {
              "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message).",
              "type": "string",
              "location": "query"
            }
          }
        },
        "get": {
          "flatPath": "v1/spaces/{spacesId}",
          "description": "Returns a space. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts).",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Resource name of the space, in the form \"spaces/*\". Format: spaces/{space}",
              "pattern": "^spaces/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "chat.spaces.get",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "response": {
            "$ref": "Space"
          }
        }
      }
    },
    "dms": {
      "resources": {
        "conversations": {
          "methods": {
            "messages": {
              "path": "v1/{+parent}/messages",
              "request": {
                "$ref": "Message"
              },
              "httpMethod": "POST",
              "parameters": {
                "messageReplyOption": {
                  "enumDescriptions": [
                    "Default. Starts a thread.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces.",
                  "enum": [
                    "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                    "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                    "REPLY_MESSAGE_OR_FAIL"
                  ]
                },
                "messageId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message)."
                },
                "requestId": {
                  "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
                  "type": "string",
                  "location": "query"
                },
                "threadKey": {
                  "type": "string",
                  "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^dms/[^/]+/conversations/[^/]+$",
                  "type": "string",
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA"
                }
              },
              "id": "chat.dms.conversations.messages",
              "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
              "response": {
                "$ref": "Message"
              },
              "flatPath": "v1/dms/{dmsId}/conversations/{conversationsId}/messages",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      },
      "methods": {
        "webhooks": {
          "path": "v1/{+parent}/webhooks",
          "request": {
            "$ref": "Message"
          },
          "httpMethod": "POST",
          "id": "chat.dms.webhooks",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "parameters": {
            "threadKey": {
              "location": "query",
              "type": "string",
              "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread)."
            },
            "parent": {
              "type": "string",
              "required": true,
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "pattern": "^dms/[^/]+$",
              "location": "path"
            },
            "requestId": {
              "type": "string",
              "location": "query",
              "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message."
            },
            "messageId": {
              "type": "string",
              "location": "query",
              "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message)."
            },
            "messageReplyOption": {
              "enum": [
                "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                "REPLY_MESSAGE_OR_FAIL"
              ],
              "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces.",
              "location": "query",
              "enumDescriptions": [
                "Default. Starts a thread.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
              ],
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "Message"
          },
          "flatPath": "v1/dms/{dmsId}/webhooks"
        },
        "messages": {
          "response": {
            "$ref": "Message"
          },
          "request": {
            "$ref": "Message"
          },
          "parameterOrder": [
            "parent"
          ],
          "path": "v1/{+parent}/messages",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "parameters": {
            "requestId": {
              "type": "string",
              "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
              "location": "query"
            },
            "messageId": {
              "type": "string",
              "location": "query",
              "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message)."
            },
            "parent": {
              "pattern": "^dms/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "location": "path"
            },
            "messageReplyOption": {
              "type": "string",
              "enumDescriptions": [
                "Default. Starts a thread.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
              ],
              "location": "query",
              "enum": [
                "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                "REPLY_MESSAGE_OR_FAIL"
              ],
              "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces."
            },
            "threadKey": {
              "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
              "type": "string",
              "location": "query"
            }
          },
          "id": "chat.dms.messages",
          "flatPath": "v1/dms/{dmsId}/messages",
          "httpMethod": "POST"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20221020",
  "protocol": "rest",
  "version": "v1",
  "mtlsRootUrl": "https://chat.mtls.googleapis.com/",
  "schemas": {
    "Space": {
      "properties": {
        "spaceThreadingState": {
          "readOnly": true,
          "description": "Output only. The threading state in the Chat space.",
          "type": "string",
          "enum": [
            "SPACE_THREADING_STATE_UNSPECIFIED",
            "THREADED_MESSAGES",
            "GROUPED_MESSAGES",
            "UNTHREADED_MESSAGES"
          ],
          "enumDescriptions": [
            "Reserved.",
            "Named spaces that support message threads. When users respond to a message, they can reply in-thread, which keeps their response in the context of the original message.",
            "Named spaces where the conversation is organized by topic. Topics and their replies are grouped together.",
            "Direct messages (DMs) between two people and group conversations between 3 or more people."
          ]
        },
        "threaded": {
          "description": "Output only. Deprecated: Use `spaceThreadingState` instead. Whether messages are threaded in this space.",
          "readOnly": true,
          "type": "boolean"
        },
        "spaceDetails": {
          "description": "Details about the space including description and rules.",
          "$ref": "SpaceDetails"
        },
        "singleUserBotDm": {
          "description": "Optional. Whether the space is a DM between a Chat app and a single human.",
          "type": "boolean"
        },
        "name": {
          "description": "Resource name of the space. Format: spaces/{space}",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The space's display name. For direct messages between humans, this field might be empty."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "Conversations between two or more humans.",
            "1:1 Direct Message between a human and a Chat app, where all messages are flat. Note that this does not include direct messages between two humans."
          ],
          "description": "Output only. Deprecated: Use `singleUserBotDm` or `spaceType` (developer preview) instead. The type of a space.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ROOM",
            "DM"
          ]
        }
      },
      "id": "Space",
      "type": "object",
      "description": "A space in Google Chat. Spaces are conversations between two or more users or 1:1 messages between a user and a Chat app."
    },
    "Inputs": {
      "id": "Inputs",
      "description": "Types of data inputs for widgets. Users enter data with these inputs.",
      "properties": {
        "dateInput": {
          "$ref": "DateInput",
          "description": "Date input values. Not supported by Chat apps."
        },
        "stringInputs": {
          "$ref": "StringInputs",
          "description": "Input parameter for regular widgets. For single-valued widgets, it is a single value list. For multi-valued widgets, such as checkbox, all the values are presented."
        },
        "timeInput": {
          "$ref": "TimeInput",
          "description": "Time input values. Not supported by Chat apps."
        },
        "dateTimeInput": {
          "description": "Date and time input values. Not supported by Chat apps.",
          "$ref": "DateTimeInput"
        }
      },
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Annotation": {
      "properties": {
        "startIndex": {
          "description": "Start index (0-based, inclusive) in the plain-text message body this annotation corresponds to.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "USER_MENTION",
            "SLASH_COMMAND"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A user is mentioned.",
            "A slash command is invoked."
          ],
          "description": "The type of this annotation."
        },
        "length": {
          "description": "Length of the substring in the plain-text message body this annotation corresponds to.",
          "format": "int32",
          "type": "integer"
        },
        "userMention": {
          "description": "The metadata of user mention.",
          "$ref": "UserMentionMetadata"
        },
        "slashCommand": {
          "$ref": "SlashCommandMetadata",
          "description": "The metadata for a slash command."
        }
      },
      "type": "object",
      "description": "Annotations associated with the plain-text body of the message. Example plain-text message body: ``` Hello @FooBot how are you!\" ``` The corresponding annotations metadata: ``` \"annotations\":[{ \"type\":\"USER_MENTION\", \"startIndex\":6, \"length\":7, \"userMention\": { \"user\": { \"name\":\"users/107946847022116401880\", \"displayName\":\"FooBot\", \"avatarUrl\":\"https://goo.gl/aeDtrS\", \"type\":\"BOT\" }, \"type\":\"MENTION\" } }] ```",
      "id": "Annotation"
    },
    "GoogleAppsCardV1Divider": {
      "type": "object",
      "id": "GoogleAppsCardV1Divider",
      "description": "A divider that appears in between widgets.",
      "properties": {}
    },
    "DateInput": {
      "id": "DateInput",
      "type": "object",
      "description": "Date input values. Not supported by Chat apps.",
      "properties": {
        "msSinceEpoch": {
          "format": "int64",
          "type": "string",
          "description": "Time since epoch time, in milliseconds."
        }
      }
    },
    "GoogleAppsCardV1ImageComponent": {
      "type": "object",
      "id": "GoogleAppsCardV1ImageComponent",
      "properties": {
        "cropStyle": {
          "$ref": "GoogleAppsCardV1ImageCropStyle",
          "description": "The crop style to apply to the image."
        },
        "altText": {
          "description": "The accessibility label for the image.",
          "type": "string"
        },
        "imageUri": {
          "type": "string",
          "description": "The image URL."
        },
        "borderStyle": {
          "description": "The border style to apply to the image.",
          "$ref": "GoogleAppsCardV1BorderStyle"
        }
      },
      "description": "Represents an image."
    },
    "GoogleAppsCardV1TextInput": {
      "type": "object",
      "properties": {
        "label": {
          "description": "At least one of label and hintText must be specified.",
          "type": "string"
        },
        "hintText": {
          "description": "The hint text.",
          "type": "string"
        },
        "autoCompleteAction": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "The refresh function that returns suggestions based on the user's input text. If the callback is not specified, autocomplete is done in client side based on the initial suggestion items."
        },
        "type": {
          "description": "The style of the text, for example, a single line or multiple lines.",
          "type": "string",
          "enumDescriptions": [
            "The text is put into a single line.",
            "The text is put into multiple lines."
          ],
          "enum": [
            "SINGLE_LINE",
            "MULTIPLE_LINE"
          ]
        },
        "initialSuggestions": {
          "$ref": "GoogleAppsCardV1Suggestions",
          "description": "The initial suggestions made before any user input."
        },
        "value": {
          "description": "The default value when there is no input from the user.",
          "type": "string"
        },
        "onChangeAction": {
          "description": "The onChange action, for example, invoke a function.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "name": {
          "description": "The name of the text input which is used in `formInput`.",
          "type": "string"
        }
      },
      "description": "A text input is a UI item where users can input text. A text input can also have an onChange action and suggestions.",
      "id": "GoogleAppsCardV1TextInput"
    },
    "DeprecatedEvent": {
      "properties": {
        "token": {
          "description": "A secret value that legacy Chat apps can use to verify if a request is from Google. Google randomly generates the token, and its value remains static. You can obtain, revoke, or regenerate the token from the [Chat API configuration page](https://console.cloud.google.com/apis/api/chat.googleapis.com/hangouts-chat) in the Google Cloud Console. Modern Chat apps don't use this field. It is absent from API responses and the [Chat API configuration page](https://console.cloud.google.com/apis/api/chat.googleapis.com/hangouts-chat).",
          "type": "string"
        },
        "threadKey": {
          "type": "string",
          "description": "The Chat app-defined key for the thread related to the event. See the thread_key field of the `spaces.message.create` request for more information."
        },
        "type": {
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A message was sent in a space.",
            "The Chat app was added to a space.",
            "The Chat app was removed from a space.",
            "The Chat app's interactive card was clicked."
          ],
          "enum": [
            "UNSPECIFIED",
            "MESSAGE",
            "ADDED_TO_SPACE",
            "REMOVED_FROM_SPACE",
            "CARD_CLICKED"
          ],
          "description": "The type of the event.",
          "type": "string"
        },
        "dialogEventType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "REQUEST_DIALOG",
            "SUBMIT_DIALOG",
            "CANCEL_DIALOG"
          ],
          "enumDescriptions": [
            "This could be used when the corresponding event is not dialog related. For example an @mention.",
            "Any user action that opens a [dialog](https://developers.google.com/chat/how-tos/dialogs).",
            "A card click event from a [dialog](https://developers.google.com/chat/how-tos/dialogs).",
            "The [dialog](https://developers.google.com/chat/how-tos/dialogs) was cancelled."
          ],
          "type": "string",
          "description": "The type of [dialog](https://developers.google.com/chat/how-tos/dialogs) event received."
        },
        "common": {
          "$ref": "CommonEventObject",
          "description": "Represents information about the user's client, such as locale, host app, and platform. For Chat apps, `CommonEventObject` includes information submitted by users interacting with [dialogs](https://developers.google.com/chat/how-tos/dialogs), like data entered on a card."
        },
        "isDialogEvent": {
          "type": "boolean",
          "description": "True when the event is related to [dialogs](https://developers.google.com/chat/how-tos/dialogs)."
        },
        "user": {
          "description": "The user that triggered the event.",
          "$ref": "User"
        },
        "action": {
          "description": "The form action data associated with an interactive card that was clicked. Only populated for CARD_CLICKED events. See the [Interactive Cards guide](/chat/how-tos/cards-onclick) for more information.",
          "$ref": "FormAction"
        },
        "message": {
          "$ref": "Message",
          "description": "The message that triggered the event, if applicable."
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp indicating when the event occurred."
        },
        "space": {
          "$ref": "Space",
          "description": "The space in which the event occurred."
        },
        "configCompleteRedirectUrl": {
          "type": "string",
          "description": "The URL the Chat app should redirect the user to after they have completed an authorization or configuration flow outside of Google Chat. See the [Authorizing access to 3p services guide](/chat/how-tos/auth-3p) for more information."
        }
      },
      "id": "DeprecatedEvent",
      "type": "object",
      "description": "Google Chat events."
    },
    "TextParagraph": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "description": "A paragraph of text. Formatted text supported.",
      "id": "TextParagraph",
      "type": "object"
    },
    "CommonEventObject": {
      "type": "object",
      "id": "CommonEventObject",
      "description": "Represents information about the user's client, such as locale, host app, and platform. For Chat apps, `CommonEventObject` includes data submitted by users interacting with cards, like data entered in [dialogs](https://developers.google.com/chat/how-tos/dialogs).",
      "properties": {
        "parameters": {
          "description": "Custom [parameters](/chat/api/reference/rest/v1/cards#ActionParameter) passed to the invoked function. Both keys and values must be strings.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "invokedFunction": {
          "description": "Name of the invoked function associated with the widget. Only set for Chat apps.",
          "type": "string"
        },
        "userLocale": {
          "type": "string",
          "description": "The full `locale.displayName` in the format of [ISO 639 language code]-[ISO 3166 country/region code] such as \"en-US\". Not supported by Chat apps."
        },
        "hostApp": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_HOST_APP",
            "GMAIL",
            "CALENDAR",
            "DRIVE",
            "DEMO",
            "DOCS",
            "MEET",
            "SHEETS",
            "SLIDES",
            "DRAWINGS",
            "CHAT"
          ],
          "description": "The hostApp enum which indicates the app the add-on is invoked from. Always `CHAT` for Chat apps.",
          "enumDescriptions": [
            "Google can't identify a host app.",
            "The add-on launches from Gmail.",
            "The add-on launches from Google Calendar.",
            "The add-on launches from Google Drive.",
            "Not used.",
            "The add-on launches from Google Docs.",
            "The add-on launches from Google Meet.",
            "The add-on launches from Google Sheets.",
            "The add-on launches from Google Slides.",
            "The add-on launches from Google Drawings.",
            "A Google Chat app. Not used for Google Workspace Add-ons."
          ]
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "The timezone ID and offset from Coordinated Universal Time (UTC)."
        },
        "formInputs": {
          "description": "A map containing the current values of the widgets in a card. The map keys are the string IDs assigned to each widget, and the values represent inputs to the widget. Depending on the input data type, a different object represents each input: For single-value widgets, `StringInput`. For multi-value widgets, an array of `StringInput` objects. For a date-time picker, a `DateTimeInput`. For a date-only picker, a `DateInput`. For a time-only picker, a `TimeInput`. Corresponds with the data entered by a user on a card in a [dialog](https://developers.google.com/chat/how-tos/dialogs).",
          "additionalProperties": {
            "$ref": "Inputs"
          },
          "type": "object"
        },
        "platform": {
          "type": "string",
          "enum": [
            "UNKNOWN_PLATFORM",
            "WEB",
            "IOS",
            "ANDROID"
          ],
          "description": "The platform enum which indicates the platform where the event originates (`WEB`, `IOS`, or `ANDROID`). Not supported by Chat apps.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleAppsCardV1Button": {
      "type": "object",
      "description": "A button. Can be a text button or an image button.",
      "properties": {
        "disabled": {
          "description": "If `true`, the button is displayed in a disabled state and doesn't respond to user actions.",
          "type": "boolean"
        },
        "altText": {
          "description": "The alternative text used for accessibility. Has no effect when an icon is set; use `icon.alt_text` instead.",
          "type": "string"
        },
        "color": {
          "$ref": "Color",
          "description": "If set, the button is filled with a solid background."
        },
        "onClick": {
          "$ref": "GoogleAppsCardV1OnClick",
          "description": "The action to perform when the button is clicked."
        },
        "icon": {
          "$ref": "GoogleAppsCardV1Icon",
          "description": "The icon image."
        },
        "text": {
          "description": "The text of the button.",
          "type": "string"
        }
      },
      "id": "GoogleAppsCardV1Button"
    },
    "Media": {
      "type": "object",
      "description": "Media resource.",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Name of the media resource."
        }
      },
      "id": "Media"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleAppsCardV1Image": {
      "id": "GoogleAppsCardV1Image",
      "type": "object",
      "properties": {
        "imageUrl": {
          "type": "string",
          "description": "An image URL."
        },
        "altText": {
          "type": "string",
          "description": "The alternative text of this image, used for accessibility."
        },
        "onClick": {
          "description": "The action triggered by an `onClick` event.",
          "$ref": "GoogleAppsCardV1OnClick"
        }
      },
      "description": "An image that is specified by a URL and can have an `onClick` action."
    },
    "Dialog": {
      "type": "object",
      "properties": {
        "body": {
          "$ref": "GoogleAppsCardV1Card",
          "description": "Input only. Body of the dialog, which is rendered in a modal. Google Chat apps do not support the following card entities: `DateTimePicker`, `OnChangeAction`."
        }
      },
      "description": "Wrapper around the card body of the dialog.",
      "id": "Dialog"
    },
    "ActionParameter": {
      "properties": {
        "value": {
          "description": "The value of the parameter.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "The name of the parameter for the action script."
        }
      },
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze 1 day, snooze next week. You might use action method = snooze(), passing the snooze type and snooze time in the list of string parameters.",
      "id": "ActionParameter",
      "type": "object"
    },
    "GoogleAppsCardV1ImageCropStyle": {
      "description": "Represents the crop style applied to an image.",
      "id": "GoogleAppsCardV1ImageCropStyle",
      "properties": {
        "aspectRatio": {
          "type": "number",
          "description": "The aspect ratio to use if the crop type is `RECTANGLE_CUSTOM`.",
          "format": "double"
        },
        "type": {
          "description": "The crop type.",
          "enum": [
            "IMAGE_CROP_TYPE_UNSPECIFIED",
            "SQUARE",
            "CIRCLE",
            "RECTANGLE_CUSTOM",
            "RECTANGLE_4_3"
          ],
          "enumDescriptions": [
            "No value specified.",
            "Applies a square crop.",
            "Applies a circular crop.",
            "Applies a rectangular crop with a custom aspect ratio.",
            "Applies a rectangular crop with a 4:3 aspect ratio."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1CardHeader": {
      "properties": {
        "imageType": {
          "type": "string",
          "enum": [
            "SQUARE",
            "CIRCLE"
          ],
          "enumDescriptions": [
            "Applies no cropping to the image.",
            "Applies a circular mask to the image."
          ],
          "description": "The image's type."
        },
        "title": {
          "type": "string",
          "description": "Required. The title of the card header. The header has a fixed height: if both a title and subtitle are specified, each takes up one line. If only the title is specified, it takes up both lines."
        },
        "imageAltText": {
          "type": "string",
          "description": "The alternative text of this image which is used for accessibility."
        },
        "imageUrl": {
          "description": "The URL of the image in the card header.",
          "type": "string"
        },
        "subtitle": {
          "description": "The subtitle of the card header.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a card header.",
      "id": "GoogleAppsCardV1CardHeader"
    },
    "Button": {
      "properties": {
        "textButton": {
          "description": "A button with text and onclick action.",
          "$ref": "TextButton"
        },
        "imageButton": {
          "description": "A button with image and onclick action.",
          "$ref": "ImageButton"
        }
      },
      "type": "object",
      "description": "A button. Can be a text button or an image button.",
      "id": "Button"
    },
    "GoogleAppsCardV1BorderStyle": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "BORDER_TYPE_UNSPECIFIED",
            "NO_BORDER",
            "STROKE"
          ],
          "type": "string",
          "enumDescriptions": [
            "No value specified.",
            "No border.",
            "Outline."
          ],
          "description": "The border type."
        },
        "strokeColor": {
          "$ref": "Color",
          "description": "The colors to use when the type is `BORDER_TYPE_STROKE`."
        },
        "cornerRadius": {
          "type": "integer",
          "format": "int32",
          "description": "The corner radius for the border."
        }
      },
      "description": "Represents the complete border style applied to widgets.",
      "id": "GoogleAppsCardV1BorderStyle"
    },
    "GoogleAppsCardV1Action": {
      "id": "GoogleAppsCardV1Action",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "List of action parameters.",
          "items": {
            "$ref": "GoogleAppsCardV1ActionParameter"
          }
        },
        "loadIndicator": {
          "type": "string",
          "enum": [
            "SPINNER",
            "NONE"
          ],
          "enumDescriptions": [
            "Displays a spinner to indicate that content is loading.",
            "Nothing is displayed."
          ],
          "description": "Specifies the loading indicator that the action displays while making the call to the action."
        },
        "function": {
          "description": "Apps Script function to invoke when the containing element is clicked/activated.",
          "type": "string"
        },
        "persistValues": {
          "description": "Indicates whether form values persist after the action. The default value is `false`. If `true`, form values remain after the action is triggered. When using [LoadIndicator.NONE](https://developers.google.com/workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) for actions, `persist_values` = `true`is recommended, as it ensures that any changes made by the user after form or on change actions are sent to the server are not overwritten by the response. If `false`, the form values are cleared when the action is triggered. When `persist_values` is set to `false`, it is strongly recommended that the card use [LoadIndicator.SPINNER](https://developers.google.com/workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) for all actions, as this locks the UI to ensure no changes are made by the user while the action is being processed. Not supported by Google Chat apps.",
          "type": "boolean"
        }
      },
      "description": "An action that describes the behavior when the form is submitted. For example, an Apps Script can be invoked to handle the form."
    },
    "GoogleAppsCardV1SwitchControl": {
      "type": "object",
      "properties": {
        "selected": {
          "description": "If the switch is selected.",
          "type": "boolean"
        },
        "controlType": {
          "description": "The control type, either switch or checkbox.",
          "type": "string",
          "enum": [
            "SWITCH",
            "CHECKBOX",
            "CHECK_BOX"
          ],
          "enumDescriptions": [
            "A toggle-style switch.",
            "Deprecated in favor of `CHECK_BOX`.",
            "A checkbox."
          ]
        },
        "onChangeAction": {
          "description": "The action when the switch state is changed.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "value": {
          "description": "The value is what is passed back in the callback.",
          "type": "string"
        },
        "name": {
          "description": "The name of the switch widget that's used in `formInput`.",
          "type": "string"
        }
      },
      "description": "Either a toggle-style switch or a checkbox.",
      "id": "GoogleAppsCardV1SwitchControl"
    },
    "DateTimeInput": {
      "description": "Date and time input values. Not supported by Chat apps.",
      "id": "DateTimeInput",
      "type": "object",
      "properties": {
        "msSinceEpoch": {
          "type": "string",
          "format": "int64",
          "description": "Time since epoch time, in milliseconds."
        },
        "hasDate": {
          "description": "Whether the `datetime` input includes a calendar date.",
          "type": "boolean"
        },
        "hasTime": {
          "type": "boolean",
          "description": "Whether the `datetime` input includes a timestamp."
        }
      }
    },
    "Membership": {
      "properties": {
        "role": {
          "enum": [
            "MEMBERSHIP_ROLE_UNSPECIFIED",
            "ROLE_MEMBER",
            "ROLE_MANAGER"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. The user isn't a member of the space, but might be invited.",
            "A member of the space. The user has basic permissions, like sending messages to the space. In 1:1 and unnamed group conversations, everyone has this role.",
            "A space manager. The user has all basic permissions plus administrative permissions that allow them to manage the space, like adding or removing members. Only supports SpaceType.SPACE."
          ],
          "description": "Output only. User's role within a Chat space, which determines their permitted actions in the space."
        },
        "member": {
          "$ref": "User",
          "description": "A Google Chat user or app. Format: `users/{user}` or `users/app` When `users/{user}`, represents a [person](https://developers.google.com/people/api/rest/v1/people) in the People API or a [user](https://developers.google.com/admin-sdk/directory/reference/rest/v1/users) in the Admin SDK Directory API. When `users/app`, represents a Chat app creating membership for itself."
        },
        "state": {
          "enum": [
            "MEMBERSHIP_STATE_UNSPECIFIED",
            "JOINED",
            "INVITED",
            "NOT_A_MEMBER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default, do not use.",
            "The user has joined the space.",
            "The user has been invited, is able to join the space, but currently has not joined.",
            "The user is not a member of the space, has not been invited and is not able to join the space."
          ],
          "readOnly": true,
          "description": "Output only. State of the membership."
        },
        "createTime": {
          "description": "Output only. The creation time of the membership, such as when a member joined or was invited to join a space.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the membership. Format: spaces/{space}/members/{member}"
        }
      },
      "id": "Membership",
      "type": "object",
      "description": "Represents a membership relation in Google Chat, such as whether a user or Chat app is invited to, part of, or absent from a space."
    },
    "CardHeader": {
      "type": "object",
      "properties": {
        "imageUrl": {
          "description": "The URL of the image in the card header.",
          "type": "string"
        },
        "subtitle": {
          "description": "The subtitle of the card header.",
          "type": "string"
        },
        "title": {
          "description": "The title must be specified. The header has a fixed height: if both a title and subtitle is specified, each will take up 1 line. If only the title is specified, it will take up both lines.",
          "type": "string"
        },
        "imageStyle": {
          "enum": [
            "IMAGE_STYLE_UNSPECIFIED",
            "IMAGE",
            "AVATAR"
          ],
          "type": "string",
          "description": "The image's type (e.g. square border or circular border).",
          "enumDescriptions": [
            "",
            "Square border.",
            "Circular border."
          ]
        }
      },
      "id": "CardHeader"
    },
    "User": {
      "description": "A user in Google Chat.",
      "properties": {
        "displayName": {
          "description": "Output only. The user's display name.",
          "type": "string",
          "readOnly": true
        },
        "isAnonymous": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. When `true`, the user is deleted or their profile is not visible."
        },
        "name": {
          "type": "string",
          "description": "Resource name for a Google Chat user. For human users, represents a person in the People API or a user in the Admin SDK Directory API. Format: `users/{user}`"
        },
        "type": {
          "type": "string",
          "description": "User type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "HUMAN",
            "BOT"
          ],
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Human user.",
            "Chat app user."
          ]
        },
        "domainId": {
          "type": "string",
          "description": "Unique identifier of the user's Google Workspace domain."
        }
      },
      "type": "object",
      "id": "User"
    },
    "GoogleAppsCardV1OnClick": {
      "properties": {
        "openLink": {
          "$ref": "GoogleAppsCardV1OpenLink",
          "description": "If specified, this `onClick` triggers an open link action."
        },
        "card": {
          "description": "A new card is pushed to the card stack after clicking if specified.",
          "$ref": "GoogleAppsCardV1Card"
        },
        "openDynamicLinkAction": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "An add-on triggers this action when the action needs to open a link. This differs from the `open_link` above in that this needs to talk to server to get the link. Thus some preparation work is required for web client to do before the open link action response comes back."
        },
        "action": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "If specified, an action is triggered by this `onClick`."
        }
      },
      "id": "GoogleAppsCardV1OnClick",
      "description": "Represents the response to an `onClick` event.",
      "type": "object"
    },
    "DriveDataRef": {
      "type": "object",
      "properties": {
        "driveFileId": {
          "type": "string",
          "description": "The id for the drive file, for use with the Drive API."
        }
      },
      "id": "DriveDataRef",
      "description": "A reference to the data of a drive attachment."
    },
    "GoogleAppsCardV1CardFixedFooter": {
      "properties": {
        "secondaryButton": {
          "$ref": "GoogleAppsCardV1Button",
          "description": "The secondary button of the fixed footer. The button must be a text button with text and color set. `primaryButton` must be set if `secondaryButton` is set."
        },
        "primaryButton": {
          "description": "The primary button of the fixed footer. The button must be a text button with text and color set.",
          "$ref": "GoogleAppsCardV1Button"
        }
      },
      "type": "object",
      "description": "A persistent (sticky) footer that is added to the bottom of the card.",
      "id": "GoogleAppsCardV1CardFixedFooter"
    },
    "Image": {
      "description": "An image that is specified by a URL and can have an onclick action.",
      "type": "object",
      "properties": {
        "aspectRatio": {
          "type": "number",
          "format": "double",
          "description": "The aspect ratio of this image (width/height). This field allows clients to reserve the right height for the image while waiting for it to load. It's not meant to override the native aspect ratio of the image. If unset, the server fills it by prefetching the image."
        },
        "onClick": {
          "description": "The onclick action.",
          "$ref": "OnClick"
        },
        "imageUrl": {
          "description": "The URL of the image.",
          "type": "string"
        }
      },
      "id": "Image"
    },
    "GoogleAppsCardV1DateTimePicker": {
      "id": "GoogleAppsCardV1DateTimePicker",
      "type": "object",
      "description": "The widget that lets users to specify a date and time. Not supported by Google Chat apps.",
      "properties": {
        "type": {
          "enum": [
            "DATE_AND_TIME",
            "DATE_ONLY",
            "TIME_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The user can select a date and time.",
            "The user can only select a date.",
            "The user can only select a time."
          ],
          "description": "The type of the date/time picker."
        },
        "timezoneOffsetDate": {
          "type": "integer",
          "description": "The number representing the time zone offset from UTC, in minutes. If set, the `value_ms_epoch` is displayed in the specified time zone. If not set, it uses the user's time zone setting on the client side.",
          "format": "int32"
        },
        "label": {
          "description": "The label for the field that displays to the user.",
          "type": "string"
        },
        "onChangeAction": {
          "description": "Triggered when the user clicks Save or Clear from the date/time picker dialog. This is only triggered if the value changed as a result of the Save/Clear operation.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "name": {
          "type": "string",
          "description": "The name of the text input that's used in `formInput`, and uniquely identifies this input."
        },
        "valueMsEpoch": {
          "format": "int64",
          "type": "string",
          "description": "The value to display as the default value before user input or previous user input. It is represented in milliseconds (Epoch time). For `DATE_AND_TIME` type, the full epoch value is used. For `DATE_ONLY` type, only date of the epoch time is used. For `TIME_ONLY` type, only time of the epoch time is used. For example, you can set epoch time to `3 * 60 * 60 * 1000` to represent 3am."
        }
      }
    },
    "Message": {
      "id": "Message",
      "properties": {
        "argumentText": {
          "type": "string",
          "description": "Plain-text body of the message with all Chat app mentions stripped out."
        },
        "name": {
          "description": "Resource name in the form `spaces/*/messages/*`. Example: `spaces/AAAAAAAAAAA/messages/BBBBBBBBBBB.BBBBBBBBBBB`",
          "type": "string"
        },
        "matchedUrl": {
          "description": "Output only. A URL in `spaces.messages.text` that matches a link preview pattern. For more information, refer to [Preview links](https://developers.google.com/chat/how-tos/preview-links).",
          "$ref": "MatchedUrl",
          "readOnly": true
        },
        "attachment": {
          "items": {
            "$ref": "Attachment"
          },
          "description": "User uploaded attachment.",
          "type": "array"
        },
        "clientAssignedMessageId": {
          "type": "string",
          "description": "A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message)."
        },
        "sender": {
          "readOnly": true,
          "$ref": "User",
          "description": "Output only. The user who created the message."
        },
        "space": {
          "$ref": "Space",
          "description": "The space the message belongs to. When accessed with [user authentication](https://developers.google.com/chat/api/guides/auth/users), only the name of the Space is populated."
        },
        "actionResponse": {
          "description": "Input only. Parameters that a Chat app can use to configure how its response is posted.",
          "$ref": "ActionResponse"
        },
        "fallbackText": {
          "type": "string",
          "description": "A plain-text description of the message's cards, used when the actual cards cannot be displayed (e.g. mobile notifications)."
        },
        "annotations": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Annotation"
          },
          "description": "Output only. Annotations associated with the text in this message."
        },
        "cardsV2": {
          "type": "array",
          "items": {
            "$ref": "CardWithId"
          },
          "description": "Richly formatted and interactive cards that display UI elements and editable widgets, such as: - Formatted text - Buttons - Clickable images - Checkboxes - Radio buttons - Input widgets. Cards are usually displayed below the text-body of a Chat message, but can situationally appear other places, such as [dialogs](https://developers.google.com/chat/how-tos/dialogs). The `cardId` is a unique identifier among cards in the same message and for identifying user input values. Currently supported widgets include: - `TextParagraph` - `DecoratedText` - `Image` - `ButtonList` - `Divider`"
        },
        "slashCommand": {
          "$ref": "SlashCommand",
          "readOnly": true,
          "description": "Output only. Slash command information, if applicable."
        },
        "lastUpdateTime": {
          "description": "Output only. The time at which the message was last edited by a user. If the message has never been edited, this field is empty.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "thread": {
          "description": "The thread the message belongs to. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
          "$ref": "Thread"
        },
        "cards": {
          "description": "Deprecated: Use `cards_v2` instead. Rich, formatted and interactive cards that can be used to display UI elements such as: formatted texts, buttons, clickable images. Cards are normally displayed below the plain-text body of the message.",
          "items": {
            "$ref": "Card"
          },
          "type": "array"
        },
        "text": {
          "type": "string",
          "description": "Plain-text body of the message. The first link to an image, video, web page, or other preview-able item generates a preview chip."
        },
        "threadReply": {
          "description": "Output only. When `true`, the message is a response in a reply thread. When `false`, the message is visible in the space's top-level conversation as either the first message of a thread or a message with no threaded replies. If the space doesn't support reply in threads, this field is always `false`.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the message was created in Google Chat server.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A message in Google Chat."
    },
    "Section": {
      "id": "Section",
      "properties": {
        "widgets": {
          "items": {
            "$ref": "WidgetMarkup"
          },
          "type": "array",
          "description": "A section must contain at least 1 widget."
        },
        "header": {
          "type": "string",
          "description": "The header of the section, text formatted supported."
        }
      },
      "description": "A section contains a collection of widgets that are rendered (vertically) in the order that they are specified. Across all platforms, cards have a narrow fixed width, so there is currently no need for layout properties (e.g. float).",
      "type": "object"
    },
    "Attachment": {
      "type": "object",
      "description": "An attachment in Google Chat.",
      "properties": {
        "name": {
          "description": "Resource name of the attachment, in the form \"spaces/*/messages/*/attachments/*\".",
          "type": "string"
        },
        "attachmentDataRef": {
          "description": "A reference to the attachment data. This is used with the media API to download the attachment data.",
          "$ref": "AttachmentDataRef"
        },
        "contentType": {
          "description": "The content type (MIME type) of the file.",
          "type": "string"
        },
        "thumbnailUri": {
          "description": "Output only. The thumbnail URL which should be used to preview the attachment to a human user. Chat apps should not use this URL to download attachment content.",
          "type": "string",
          "readOnly": true
        },
        "contentName": {
          "description": "The original file name for the content, not the full path.",
          "type": "string"
        },
        "downloadUri": {
          "type": "string",
          "description": "Output only. The download URL which should be used to allow a human user to download the attachment. Chat apps should not use this URL to download attachment content.",
          "readOnly": true
        },
        "driveDataRef": {
          "description": "A reference to the drive attachment. This is used with the Drive API.",
          "$ref": "DriveDataRef"
        },
        "source": {
          "description": "The source of the attachment.",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "DRIVE_FILE",
            "UPLOADED_CONTENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "Attachment"
    },
    "TextButton": {
      "type": "object",
      "id": "TextButton",
      "properties": {
        "onClick": {
          "description": "The onclick action of the button.",
          "$ref": "OnClick"
        },
        "text": {
          "description": "The text of the button.",
          "type": "string"
        }
      },
      "description": "A button with text and onclick action."
    },
    "OnClick": {
      "properties": {
        "openLink": {
          "description": "This onclick triggers an open link action if specified.",
          "$ref": "OpenLink"
        },
        "action": {
          "$ref": "FormAction",
          "description": "A form action will be triggered by this onclick if specified."
        }
      },
      "id": "OnClick",
      "type": "object",
      "description": "An onclick action (e.g. open a link)."
    },
    "GoogleAppsCardV1SelectionInput": {
      "properties": {
        "label": {
          "type": "string",
          "description": "The label displayed ahead of the switch control."
        },
        "items": {
          "description": "An array of the selected items.",
          "items": {
            "$ref": "GoogleAppsCardV1SelectionItem"
          },
          "type": "array"
        },
        "onChangeAction": {
          "description": "If specified, the form is submitted when the selection changes. If not specified, you must specify a separate button.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "type": {
          "enumDescriptions": [
            "A checkbox.",
            "A radio button.",
            "A switch.",
            "A dropdown menu."
          ],
          "description": "The type of the selection.",
          "enum": [
            "CHECK_BOX",
            "RADIO_BUTTON",
            "SWITCH",
            "DROPDOWN"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the text input which is used in `formInput`."
        }
      },
      "id": "GoogleAppsCardV1SelectionInput",
      "description": "A widget that creates a UI item with options for users to select. For example, a dropdown menu.",
      "type": "object"
    },
    "GoogleAppsCardV1Card": {
      "type": "object",
      "id": "GoogleAppsCardV1Card",
      "properties": {
        "cardActions": {
          "type": "array",
          "description": "The card's actions. Actions are added to the card's generated toolbar menu. Not supported by Google Chat apps. For example, the following JSON constructs a card action menu with Settings and Send Feedback options: ``` \"card_actions\": [ { \"actionLabel\": \"Settings\", \"onClick\": { \"action\": { \"functionName\": \"goToView\", \"parameters\": [ { \"key\": \"viewType\", \"value\": \"SETTING\" } ], \"loadIndicator\": \"LoadIndicator.SPINNER\" } } }, { \"actionLabel\": \"Send Feedback\", \"onClick\": { \"openLink\": { \"url\": \"https://example.com/feedback\" } } } ] ```",
          "items": {
            "$ref": "GoogleAppsCardV1CardAction"
          }
        },
        "header": {
          "description": "The header of the card. A header usually contains a title and an image.",
          "$ref": "GoogleAppsCardV1CardHeader"
        },
        "peekCardHeader": {
          "$ref": "GoogleAppsCardV1CardHeader",
          "description": "When displaying contextual content, the peek card header acts as a placeholder so that the user can navigate forward between the homepage cards and the contextual cards. Not supported by Google Chat apps."
        },
        "sections": {
          "description": "Sections are separated by a line divider.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1Section"
          }
        },
        "fixedFooter": {
          "$ref": "GoogleAppsCardV1CardFixedFooter",
          "description": "The fixed footer shown at the bottom of this card."
        },
        "displayStyle": {
          "type": "string",
          "description": "The `peekCardHeader` display style for. Not supported by Google Chat apps.",
          "enum": [
            "DISPLAY_STYLE_UNSPECIFIED",
            "PEEK",
            "REPLACE"
          ],
          "enumDescriptions": [
            "Do not use.",
            "The header of the card appears at the bottom of the sidebar, partially covering the current top card of the stack. Clicking the header pops the card into the card stack. If the card has no header, a generated header is used instead.",
            "Default value. The card is shown by replacing the view of the top card in the card stack."
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of the card. Used as a card identifier in card navigation."
        }
      },
      "description": "Cards support a defined layout, interactive UI elements like buttons, and rich media like images. Use cards to present detailed information, gather information from users, and guide users to take a next step. In Google Chat, cards appear in several places: - As stand-alone messages. - Accompanying a text message, just beneath the text message. - As a [dialog](https://developers.google.com/chat/how-tos/dialogs). The following example JSON creates a \"contact card\" that features: - A header with the contact's name, job title, avatar picture. - A section with the contact information, including formatted text. - Buttons that users can click to share the contact or see more or less info. ![Example contact card](/chat/images/card_api_reference.png) ``` { \"cardsV2\": [ { \"cardId\": \"unique-card-id\", \"card\": { \"header\": { \"title\": \"Sasha\", \"subtitle\": \"Software Engineer\", \"imageUrl\": \"https://developers.google.com/chat/images/quickstart-app-avatar.png\", \"imageType\": \"CIRCLE\", \"imageAltText\": \"Avatar for Sasha\", }, \"sections\": [ { \"header\": \"Contact Info\", \"collapsible\": true, \"uncollapsibleWidgetsCount\": 1, \"widgets\": [ { \"decoratedText\": { \"startIcon\": { \"knownIcon\": \"EMAIL\", }, \"text\": \"sasha@example.com\", } }, { \"decoratedText\": { \"startIcon\": { \"knownIcon\": \"PERSON\", }, \"text\": \"Online\", }, }, { \"decoratedText\": { \"startIcon\": { \"knownIcon\": \"PHONE\", }, \"text\": \"+1 (555) 555-1234\", } }, { \"buttonList\": { \"buttons\": [ { \"text\": \"Share\", \"onClick\": { \"openLink\": { \"url\": \"https://example.com/share\", } } }, { \"text\": \"Edit\", \"onClick\": { \"action\": { \"function\": \"goToView\", \"parameters\": [ { \"key\": \"viewType\", \"value\": \"EDIT\", } ], } } }, ], } }, ], }, ], }, } ], } ```"
    },
    "GoogleAppsCardV1SelectionItem": {
      "properties": {
        "value": {
          "description": "The value associated with this item. The client should use this as a form input value.",
          "type": "string"
        },
        "selected": {
          "type": "boolean",
          "description": "If more than one item is selected for `RADIO_BUTTON` and `DROPDOWN`, the first selected item is treated as selected and the ones after are ignored."
        },
        "text": {
          "type": "string",
          "description": "The text to be displayed."
        }
      },
      "type": "object",
      "description": "A selectable item in the switch control.",
      "id": "GoogleAppsCardV1SelectionItem"
    },
    "GoogleAppsCardV1OpenLink": {
      "properties": {
        "onClose": {
          "type": "string",
          "enumDescriptions": [
            "Default value. The card does not reload; nothing happens.",
            "Reloads the card after the child window closes. If used in conjunction with [OpenAs.OVERLAY](https://developers.google.com/workspace/add-ons/reference/rpc/google.apps.card.v1#openas), the child window acts as a modal dialog and the parent card is blocked until the child window closes."
          ],
          "enum": [
            "NOTHING",
            "RELOAD"
          ],
          "description": "Whether the client forgets about a link after opening it, or observes it until the window closes. Not supported by Chat apps."
        },
        "openAs": {
          "type": "string",
          "enumDescriptions": [
            "The link opens as a full size window (if that's the frame used by the client.",
            "The link opens as an overlay, such as a pop-up."
          ],
          "enum": [
            "FULL_SIZE",
            "OVERLAY"
          ],
          "description": "How to open a link. Not supported by Chat apps."
        },
        "url": {
          "description": "The URL to open.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1OpenLink",
      "description": "Represents an `onClick` event that opens a hyperlink."
    },
    "UserMentionMetadata": {
      "type": "object",
      "id": "UserMentionMetadata",
      "description": "Annotation metadata for user mentions (@).",
      "properties": {
        "user": {
          "$ref": "User",
          "description": "The user mentioned."
        },
        "type": {
          "description": "The type of user mention.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "MENTION"
          ],
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Add user to space.",
            "Mention user in space."
          ]
        }
      }
    },
    "GoogleAppsCardV1DecoratedText": {
      "description": "A widget that displays text with optional decorations such as a label above or below the text, an icon in front of the text, a selection widget or a button after the text.",
      "type": "object",
      "id": "GoogleAppsCardV1DecoratedText",
      "properties": {
        "icon": {
          "description": "Deprecated in favor of start_icon.",
          "$ref": "GoogleAppsCardV1Icon"
        },
        "startIcon": {
          "description": "The icon displayed in front of the text.",
          "$ref": "GoogleAppsCardV1Icon"
        },
        "switchControl": {
          "$ref": "GoogleAppsCardV1SwitchControl",
          "description": "A switch widget can be clicked to change its state or trigger an action."
        },
        "topLabel": {
          "type": "string",
          "description": "The formatted text label that shows above the main text."
        },
        "onClick": {
          "description": "Only the top and bottom label and content region are clickable.",
          "$ref": "GoogleAppsCardV1OnClick"
        },
        "bottomLabel": {
          "description": "The formatted text label that shows below the main text.",
          "type": "string"
        },
        "button": {
          "$ref": "GoogleAppsCardV1Button",
          "description": "A button that can be clicked to trigger an action."
        },
        "endIcon": {
          "$ref": "GoogleAppsCardV1Icon",
          "description": "An icon displayed after the text."
        },
        "wrapText": {
          "type": "boolean",
          "description": "The wrap text setting. If `true`, the text is wrapped and displayed in multiline. Otherwise, the text is truncated."
        },
        "text": {
          "type": "string",
          "description": "Required. The main widget formatted text. See Text formatting for details."
        }
      }
    },
    "ImageButton": {
      "id": "ImageButton",
      "properties": {
        "iconUrl": {
          "description": "The icon specified by a URL.",
          "type": "string"
        },
        "icon": {
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The icon specified by an enum that indices to an icon provided by Chat API."
        },
        "onClick": {
          "$ref": "OnClick",
          "description": "The onclick action."
        },
        "name": {
          "type": "string",
          "description": "The name of this image_button which will be used for accessibility. Default value will be provided if developers don't specify."
        }
      },
      "type": "object",
      "description": "An image button with an onclick action."
    },
    "Thread": {
      "properties": {
        "threadKey": {
[...]
