{
  "canonicalName": "Hangouts Chat",
  "version_module": true,
  "revision": "20221020",
  "documentationLink": "https://developers.google.com/hangouts/chat",
  "name": "chat",
  "discoveryVersion": "v1",
  "id": "chat:v1",
  "basePath": "",
  "kind": "discovery#restDescription",
  "baseUrl": "https://chat.googleapis.com/",
  "resources": {
    "dms": {
      "resources": {
        "conversations": {
          "methods": {
            "messages": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Message"
              },
              "flatPath": "v1/dms/{dmsId}/conversations/{conversationsId}/messages",
              "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
              "request": {
                "$ref": "Message"
              },
              "id": "chat.dms.conversations.messages",
              "httpMethod": "POST",
              "parameters": {
                "messageId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message)."
                },
                "requestId": {
                  "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
                  "location": "query",
                  "type": "string"
                },
                "threadKey": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread)."
                },
                "messageReplyOption": {
                  "location": "query",
                  "enum": [
                    "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                    "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                    "REPLY_MESSAGE_OR_FAIL"
                  ],
                  "type": "string",
                  "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces.",
                  "enumDescriptions": [
                    "Default. Starts a thread.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
                  ]
                },
                "parent": {
                  "pattern": "^dms/[^/]+/conversations/[^/]+$",
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/{+parent}/messages"
            }
          }
        }
      },
      "methods": {
        "webhooks": {
          "response": {
            "$ref": "Message"
          },
          "httpMethod": "POST",
          "parameters": {
            "messageId": {
              "type": "string",
              "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message).",
              "location": "query"
            },
            "threadKey": {
              "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
              "type": "string",
              "location": "query"
            },
            "messageReplyOption": {
              "enumDescriptions": [
                "Default. Starts a thread.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                "REPLY_MESSAGE_OR_FAIL"
              ],
              "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces."
            },
            "requestId": {
              "location": "query",
              "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
              "type": "string"
            },
            "parent": {
              "location": "path",
              "pattern": "^dms/[^/]+$",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "path": "v1/{+parent}/webhooks",
          "flatPath": "v1/dms/{dmsId}/webhooks",
          "id": "chat.dms.webhooks",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "request": {
            "$ref": "Message"
          }
        },
        "messages": {
          "flatPath": "v1/dms/{dmsId}/messages",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "Message"
          },
          "id": "chat.dms.messages",
          "httpMethod": "POST",
          "parameters": {
            "requestId": {
              "location": "query",
              "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
              "type": "string"
            },
            "threadKey": {
              "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
              "type": "string",
              "location": "query"
            },
            "messageReplyOption": {
              "enum": [
                "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                "REPLY_MESSAGE_OR_FAIL"
              ],
              "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Default. Starts a thread.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
              ]
            },
            "parent": {
              "pattern": "^dms/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "type": "string"
            },
            "messageId": {
              "type": "string",
              "location": "query",
              "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message)."
            }
          },
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "path": "v1/{+parent}/messages",
          "response": {
            "$ref": "Message"
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "flatPath": "v1/media/{mediaId}",
          "parameterOrder": [
            "resourceName"
          ],
          "parameters": {
            "resourceName": {
              "location": "path",
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "pattern": "^.*$",
              "required": true,
              "type": "string"
            }
          },
          "id": "chat.media.download",
          "response": {
            "$ref": "Media"
          },
          "path": "v1/media/{+resourceName}",
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "description": "Downloads media. Download is supported on the URI `/v1/media/{+name}?alt=media`."
        }
      }
    },
    "rooms": {
      "methods": {
        "webhooks": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Message"
          },
          "parameters": {
            "messageReplyOption": {
              "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces.",
              "enumDescriptions": [
                "Default. Starts a thread.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
              ],
              "enum": [
                "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                "REPLY_MESSAGE_OR_FAIL"
              ],
              "type": "string",
              "location": "query"
            },
            "parent": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^rooms/[^/]+$",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA"
            },
            "messageId": {
              "type": "string",
              "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message).",
              "location": "query"
            },
            "requestId": {
              "type": "string",
              "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
              "location": "query"
            },
            "threadKey": {
              "type": "string",
              "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
              "location": "query"
            }
          },
          "id": "chat.rooms.webhooks",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "Message"
          },
          "flatPath": "v1/rooms/{roomsId}/webhooks",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "path": "v1/{+parent}/webhooks"
        },
        "messages": {
          "request": {
            "$ref": "Message"
          },
          "path": "v1/{+parent}/messages",
          "response": {
            "$ref": "Message"
          },
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "required": true,
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "pattern": "^rooms/[^/]+$",
              "type": "string",
              "location": "path"
            },
            "threadKey": {
              "type": "string",
              "location": "query",
              "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread)."
            },
            "messageReplyOption": {
              "location": "query",
              "enum": [
                "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                "REPLY_MESSAGE_OR_FAIL"
              ],
              "enumDescriptions": [
                "Default. Starts a thread.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
              ],
              "type": "string",
              "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces."
            },
            "messageId": {
              "location": "query",
              "type": "string",
              "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message)."
            },
            "requestId": {
              "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1/rooms/{roomsId}/messages",
          "httpMethod": "POST",
          "id": "chat.rooms.messages",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response."
        }
      },
      "resources": {
        "conversations": {
          "methods": {
            "messages": {
              "path": "v1/{+parent}/messages",
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "chat.rooms.conversations.messages",
              "parameters": {
                "messageId": {
                  "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message).",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
                  "pattern": "^rooms/[^/]+/conversations/[^/]+$"
                },
                "messageReplyOption": {
                  "enumDescriptions": [
                    "Default. Starts a thread.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
                  ],
                  "type": "string",
                  "enum": [
                    "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                    "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                    "REPLY_MESSAGE_OR_FAIL"
                  ],
                  "location": "query",
                  "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces."
                },
                "threadKey": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread)."
                },
                "requestId": {
                  "location": "query",
                  "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
                  "type": "string"
                }
              },
              "flatPath": "v1/rooms/{roomsId}/conversations/{conversationsId}/messages",
              "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
              "request": {
                "$ref": "Message"
              },
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "spaces": {
      "resources": {
        "messages": {
          "methods": {
            "delete": {
              "description": "Deletes a message. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts). [Developer Preview](https://developers.google.com/workspace/preview): Deletes a message. Requires [user authentication](https://developers.google.com/chat/api/guides/auth/users) and the `chat.messages` authorization scope.",
              "id": "chat.spaces.messages.delete",
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of the message to be deleted, in the form \"spaces/*/messages/*\" Example: spaces/AAAAAAAAAAA/messages/BBBBBBBBBBB.BBBBBBBBBBB"
                }
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              }
            },
            "update": {
              "httpMethod": "PUT",
              "response": {
                "$ref": "Message"
              },
              "id": "chat.spaces.messages.update",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Resource name in the form `spaces/*/messages/*`. Example: `spaces/AAAAAAAAAAA/messages/BBBBBBBBBBB.BBBBBBBBBBB`",
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "required": true
                },
                "allowMissing": {
                  "type": "boolean",
                  "description": "Optional. If `true` and the message is not found, a new message is created and `updateMask` is ignored. The specified message ID must be [client-assigned](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message) or the request fails.",
                  "location": "query"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The field paths to update. Separate multiple values with commas. Currently supported field paths: - text - cards (Requires [service account authentication](/chat/api/guides/auth/service-accounts).) - cards_v2 "
                }
              },
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "path": "v1/{+name}",
              "request": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a message. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts)."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "id": "chat.spaces.messages.get",
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "response": {
                "$ref": "Message"
              },
              "description": "Returns a message. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts). [Developer Preview](https://developers.google.com/workspace/preview): Returns a message. Requires [user authentication](https://developers.google.com/chat/api/guides/auth/users) and the `chat.messages` or `chat.messages.readonly` authorization scope. Messages from a blocked member or messages from a blocked space can also be fetched.",
              "parameters": {
                "name": {
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name of the message to retrieve. Format: spaces/{space}/messages/{message} If the message begins with `client-`, then it has a custom name assigned by a Chat app that created it with the Chat REST API. That Chat app (but not others) can pass the custom name to get, update, or delete the message. To learn more, see [create and name a message] (https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message).",
                  "type": "string"
                }
              }
            },
            "create": {
              "parameters": {
                "messageReplyOption": {
                  "type": "string",
                  "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces.",
                  "enumDescriptions": [
                    "Default. Starts a thread.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
                  ],
                  "enum": [
                    "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                    "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                    "REPLY_MESSAGE_OR_FAIL"
                  ],
                  "location": "query"
                },
                "threadKey": {
                  "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
                  "location": "query",
                  "type": "string"
                },
                "messageId": {
                  "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message).",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
                  "pattern": "^spaces/[^/]+$"
                },
                "requestId": {
                  "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Creates a message. Requires [authentication](https://developers.google.com/chat/api/guides/auth).",
              "id": "chat.spaces.messages.create",
              "httpMethod": "POST",
              "flatPath": "v1/spaces/{spacesId}/messages",
              "request": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/messages",
              "response": {
                "$ref": "Message"
              }
            }
          },
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "id": "chat.spaces.messages.attachments.get",
                  "response": {
                    "$ref": "Attachment"
                  },
                  "description": "Gets the metadata of a message attachment. The attachment data is fetched using the media API. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts).",
                  "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}/attachments/{attachmentsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the attachment, in the form \"spaces/*/messages/*/attachments/*\".",
                      "type": "string",
                      "pattern": "^spaces/[^/]+/messages/[^/]+/attachments/[^/]+$"
                    }
                  }
                }
              }
            }
          }
        },
        "members": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1/spaces/{spacesId}/members/{membersId}",
              "response": {
                "$ref": "Membership"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "chat.spaces.members.get",
              "description": "Returns a membership. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts).",
              "scopes": [
                "https://www.googleapis.com/auth/chat.memberships"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the membership to retrieve. Format: spaces/{space}/members/{member}",
                  "pattern": "^spaces/[^/]+/members/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+name}"
            },
            "list": {
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/spaces/{spacesId}/members",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous list memberships call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided must match the call that provided the page token."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of memberships to return. The service may return fewer than this value. If unspecified, at most 100 memberships are returned. The maximum value is 1000; values above 1000 are coerced to 1000. Negative values return an INVALID_ARGUMENT error.",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of the space for which to fetch a membership list. Format: spaces/{space}",
                  "pattern": "^spaces/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chat.memberships"
              ],
              "description": "Lists human memberships in a space for joined members. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts).",
              "id": "chat.spaces.members.list",
              "path": "v1/{+parent}/members",
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "list": {
          "response": {
            "$ref": "ListSpacesResponse"
          },
          "id": "chat.spaces.list",
          "flatPath": "v1/spaces",
          "description": "Lists spaces the caller is a member of. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts). ",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous list spaces call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The maximum number of spaces to return. The service may return fewer than this value. If unspecified, at most 100 spaces are returned. The maximum value is 1000; values above 1000 are coerced to 1000. Negative values return an INVALID_ARGUMENT error.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "path": "v1/spaces",
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "webhooks": {
          "id": "chat.spaces.webhooks",
          "response": {
            "$ref": "Message"
          },
          "flatPath": "v1/spaces/{spacesId}/webhooks",
          "path": "v1/{+parent}/webhooks",
          "request": {
            "$ref": "Message"
          },
          "parameters": {
            "threadKey": {
              "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "type": "string",
              "pattern": "^spaces/[^/]+$",
              "location": "path",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "required": true
            },
            "messageId": {
              "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message).",
              "type": "string",
              "location": "query"
            },
            "messageReplyOption": {
              "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces.",
              "enumDescriptions": [
                "Default. Starts a thread.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
              ],
              "enum": [
                "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                "REPLY_MESSAGE_OR_FAIL"
              ],
              "location": "query",
              "type": "string"
            },
            "requestId": {
              "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "description": "Returns a space. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts).",
          "id": "chat.spaces.get",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. Resource name of the space, in the form \"spaces/*\". Format: spaces/{space}",
              "pattern": "^spaces/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Space"
          },
          "flatPath": "v1/spaces/{spacesId}",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  },
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "servicePath": "",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Google Chat API",
  "ownerName": "Google",
  "schemas": {
    "GoogleAppsCardV1TextParagraph": {
      "type": "object",
      "properties": {
        "text": {
          "description": "The text that's shown in the widget.",
          "type": "string"
        }
      },
      "id": "GoogleAppsCardV1TextParagraph",
      "description": "A paragraph of text that supports formatting. See [Text formatting](https://developers.google.com/workspace/add-ons/concepts/widgets#text_formatting) for details."
    },
    "ChatAppLogEntry": {
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error code and message."
        },
        "deploymentFunction": {
          "type": "string",
          "description": "The unencrypted `callback_method` name that was running when the error was encountered."
        },
        "deployment": {
          "type": "string",
          "description": "The deployment that caused the error. For Chat apps built in Apps Script, this is the deployment ID defined by Apps Script."
        }
      },
      "description": "JSON payload of error messages. If the Cloud Logging API is enabled, these error messages are logged to [Google Cloud Logging](https://cloud.google.com/logging/docs).",
      "id": "ChatAppLogEntry",
      "type": "object"
    },
    "GoogleAppsCardV1ActionParameter": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the parameter."
        },
        "key": {
          "type": "string",
          "description": "The name of the parameter for the action script."
        }
      },
      "id": "GoogleAppsCardV1ActionParameter",
      "type": "object",
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze 1 day, snooze next week. You might use action method = snooze(), passing the snooze type and snooze time in the list of string parameters."
    },
    "GoogleAppsCardV1SuggestionItem": {
      "description": "A suggestion item.",
      "type": "object",
      "id": "GoogleAppsCardV1SuggestionItem",
      "properties": {
        "text": {
          "description": "The suggested autocomplete result.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCardV1BorderStyle": {
      "properties": {
        "strokeColor": {
          "description": "The colors to use when the type is `BORDER_TYPE_STROKE`.",
          "$ref": "Color"
        },
        "cornerRadius": {
          "type": "integer",
          "description": "The corner radius for the border.",
          "format": "int32"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "No value specified.",
            "No border.",
            "Outline."
          ],
          "description": "The border type.",
          "enum": [
            "BORDER_TYPE_UNSPECIFIED",
            "NO_BORDER",
            "STROKE"
          ]
        }
      },
      "id": "GoogleAppsCardV1BorderStyle",
      "type": "object",
      "description": "Represents the complete border style applied to widgets."
    },
    "CardHeader": {
      "id": "CardHeader",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title must be specified. The header has a fixed height: if both a title and subtitle is specified, each will take up 1 line. If only the title is specified, it will take up both lines."
        },
        "imageUrl": {
          "description": "The URL of the image in the card header.",
          "type": "string"
        },
        "imageStyle": {
          "type": "string",
          "description": "The image's type (e.g. square border or circular border).",
          "enum": [
            "IMAGE_STYLE_UNSPECIFIED",
            "IMAGE",
            "AVATAR"
          ],
          "enumDescriptions": [
            "",
            "Square border.",
            "Circular border."
          ]
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the card header."
        }
      }
    },
    "ActionParameter": {
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze 1 day, snooze next week. You might use action method = snooze(), passing the snooze type and snooze time in the list of string parameters.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The name of the parameter for the action script."
        },
        "value": {
          "type": "string",
          "description": "The value of the parameter."
        }
      },
      "id": "ActionParameter",
      "type": "object"
    },
    "UserMentionMetadata": {
      "type": "object",
      "description": "Annotation metadata for user mentions (@).",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "MENTION"
          ],
          "type": "string",
          "description": "The type of user mention.",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Add user to space.",
            "Mention user in space."
          ]
        },
        "user": {
          "$ref": "User",
          "description": "The user mentioned."
        }
      },
      "id": "UserMentionMetadata"
    },
    "CommonEventObject": {
      "id": "CommonEventObject",
      "properties": {
        "platform": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_PLATFORM",
            "WEB",
            "IOS",
            "ANDROID"
          ],
          "description": "The platform enum which indicates the platform where the event originates (`WEB`, `IOS`, or `ANDROID`). Not supported by Chat apps."
        },
        "timeZone": {
          "description": "The timezone ID and offset from Coordinated Universal Time (UTC).",
          "$ref": "TimeZone"
        },
        "userLocale": {
          "description": "The full `locale.displayName` in the format of [ISO 639 language code]-[ISO 3166 country/region code] such as \"en-US\". Not supported by Chat apps.",
          "type": "string"
        },
        "formInputs": {
          "type": "object",
          "description": "A map containing the current values of the widgets in a card. The map keys are the string IDs assigned to each widget, and the values represent inputs to the widget. Depending on the input data type, a different object represents each input: For single-value widgets, `StringInput`. For multi-value widgets, an array of `StringInput` objects. For a date-time picker, a `DateTimeInput`. For a date-only picker, a `DateInput`. For a time-only picker, a `TimeInput`. Corresponds with the data entered by a user on a card in a [dialog](https://developers.google.com/chat/how-tos/dialogs).",
          "additionalProperties": {
            "$ref": "Inputs"
          }
        },
        "parameters": {
          "type": "object",
          "description": "Custom [parameters](/chat/api/reference/rest/v1/cards#ActionParameter) passed to the invoked function. Both keys and values must be strings.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "invokedFunction": {
          "description": "Name of the invoked function associated with the widget. Only set for Chat apps.",
          "type": "string"
        },
        "hostApp": {
          "type": "string",
          "description": "The hostApp enum which indicates the app the add-on is invoked from. Always `CHAT` for Chat apps.",
          "enumDescriptions": [
            "Google can't identify a host app.",
            "The add-on launches from Gmail.",
            "The add-on launches from Google Calendar.",
            "The add-on launches from Google Drive.",
            "Not used.",
            "The add-on launches from Google Docs.",
            "The add-on launches from Google Meet.",
            "The add-on launches from Google Sheets.",
            "The add-on launches from Google Slides.",
            "The add-on launches from Google Drawings.",
            "A Google Chat app. Not used for Google Workspace Add-ons."
          ],
          "enum": [
            "UNSPECIFIED_HOST_APP",
            "GMAIL",
            "CALENDAR",
            "DRIVE",
            "DEMO",
            "DOCS",
            "MEET",
            "SHEETS",
            "SLIDES",
            "DRAWINGS",
            "CHAT"
          ]
        }
      },
      "type": "object",
      "description": "Represents information about the user's client, such as locale, host app, and platform. For Chat apps, `CommonEventObject` includes data submitted by users interacting with cards, like data entered in [dialogs](https://developers.google.com/chat/how-tos/dialogs)."
    },
    "Space": {
      "properties": {
        "spaceDetails": {
          "$ref": "SpaceDetails",
          "description": "Details about the space including description and rules."
        },
        "spaceThreadingState": {
          "description": "Output only. The threading state in the Chat space.",
          "enumDescriptions": [
            "Reserved.",
            "Named spaces that support message threads. When users respond to a message, they can reply in-thread, which keeps their response in the context of the original message.",
            "Named spaces where the conversation is organized by topic. Topics and their replies are grouped together.",
            "Direct messages (DMs) between two people and group conversations between 3 or more people."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "SPACE_THREADING_STATE_UNSPECIFIED",
            "THREADED_MESSAGES",
            "GROUPED_MESSAGES",
            "UNTHREADED_MESSAGES"
          ]
        },
        "threaded": {
          "type": "boolean",
          "description": "Output only. Deprecated: Use `spaceThreadingState` instead. Whether messages are threaded in this space.",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "",
            "Conversations between two or more humans.",
            "1:1 Direct Message between a human and a Chat app, where all messages are flat. Note that this does not include direct messages between two humans."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ROOM",
            "DM"
          ],
          "readOnly": true,
          "description": "Output only. Deprecated: Use `singleUserBotDm` or `spaceType` (developer preview) instead. The type of a space."
        },
        "displayName": {
          "type": "string",
          "description": "The space's display name. For direct messages between humans, this field might be empty."
        },
        "singleUserBotDm": {
          "description": "Optional. Whether the space is a DM between a Chat app and a single human.",
          "type": "boolean"
        },
        "name": {
          "description": "Resource name of the space. Format: spaces/{space}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Space",
      "description": "A space in Google Chat. Spaces are conversations between two or more users or 1:1 messages between a user and a Chat app."
    },
    "GoogleAppsCardV1TextInput": {
      "properties": {
        "hintText": {
          "type": "string",
          "description": "The hint text."
        },
        "autoCompleteAction": {
          "description": "The refresh function that returns suggestions based on the user's input text. If the callback is not specified, autocomplete is done in client side based on the initial suggestion items.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "label": {
          "description": "At least one of label and hintText must be specified.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The text is put into a single line.",
            "The text is put into multiple lines."
          ],
          "description": "The style of the text, for example, a single line or multiple lines.",
          "enum": [
            "SINGLE_LINE",
            "MULTIPLE_LINE"
          ]
        },
        "value": {
          "type": "string",
          "description": "The default value when there is no input from the user."
        },
        "onChangeAction": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "The onChange action, for example, invoke a function."
        },
        "initialSuggestions": {
          "description": "The initial suggestions made before any user input.",
          "$ref": "GoogleAppsCardV1Suggestions"
        },
        "name": {
          "type": "string",
          "description": "The name of the text input which is used in `formInput`."
        }
      },
      "type": "object",
      "description": "A text input is a UI item where users can input text. A text input can also have an onChange action and suggestions.",
      "id": "GoogleAppsCardV1TextInput"
    },
    "GoogleAppsCardV1ButtonList": {
      "description": "A list of buttons layed out horizontally.",
      "properties": {
        "buttons": {
          "description": "An array of buttons.",
          "items": {
            "$ref": "GoogleAppsCardV1Button"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1ButtonList"
    },
    "GoogleAppsCardV1Suggestions": {
      "properties": {
        "items": {
          "description": "A list of suggestions used for autocomplete recommendations.",
          "items": {
            "$ref": "GoogleAppsCardV1SuggestionItem"
          },
          "type": "array"
        }
      },
      "id": "GoogleAppsCardV1Suggestions",
      "type": "object",
      "description": "A container wrapping elements necessary for showing suggestion items used in text input autocomplete."
    },
    "SlashCommandMetadata": {
      "id": "SlashCommandMetadata",
      "description": "Annotation metadata for slash commands (/).",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of slash command.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "INVOKE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Add Chat app to space.",
            "Invoke slash command in space."
          ]
        },
        "commandName": {
          "type": "string",
          "description": "The name of the invoked slash command."
        },
        "triggersDialog": {
          "type": "boolean",
          "description": "Indicating whether the slash command is for a dialog."
        },
        "commandId": {
          "type": "string",
          "description": "The command id of the invoked slash command.",
          "format": "int64"
        },
        "bot": {
          "description": "The Chat app whose command was invoked.",
          "$ref": "User"
        }
      }
    },
    "Dialog": {
      "description": "Wrapper around the card body of the dialog.",
      "id": "Dialog",
      "type": "object",
      "properties": {
        "body": {
          "$ref": "GoogleAppsCardV1Card",
          "description": "Input only. Body of the dialog, which is rendered in a modal. Google Chat apps do not support the following card entities: `DateTimePicker`, `OnChangeAction`."
        }
      }
    },
    "TextButton": {
      "description": "A button with text and onclick action.",
      "id": "TextButton",
      "properties": {
        "text": {
          "description": "The text of the button.",
          "type": "string"
        },
        "onClick": {
          "description": "The onclick action of the button.",
          "$ref": "OnClick"
        }
      },
      "type": "object"
    },
    "Button": {
      "description": "A button. Can be a text button or an image button.",
      "id": "Button",
      "properties": {
        "imageButton": {
          "$ref": "ImageButton",
          "description": "A button with image and onclick action."
        },
        "textButton": {
          "$ref": "TextButton",
          "description": "A button with text and onclick action."
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1Action": {
      "properties": {
        "persistValues": {
          "type": "boolean",
          "description": "Indicates whether form values persist after the action. The default value is `false`. If `true`, form values remain after the action is triggered. When using [LoadIndicator.NONE](https://developers.google.com/workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) for actions, `persist_values` = `true`is recommended, as it ensures that any changes made by the user after form or on change actions are sent to the server are not overwritten by the response. If `false`, the form values are cleared when the action is triggered. When `persist_values` is set to `false`, it is strongly recommended that the card use [LoadIndicator.SPINNER](https://developers.google.com/workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) for all actions, as this locks the UI to ensure no changes are made by the user while the action is being processed. Not supported by Google Chat apps."
        },
        "parameters": {
          "items": {
            "$ref": "GoogleAppsCardV1ActionParameter"
          },
          "description": "List of action parameters.",
          "type": "array"
        },
        "loadIndicator": {
          "enum": [
            "SPINNER",
            "NONE"
          ],
          "type": "string",
          "description": "Specifies the loading indicator that the action displays while making the call to the action.",
          "enumDescriptions": [
            "Displays a spinner to indicate that content is loading.",
            "Nothing is displayed."
          ]
        },
        "function": {
          "description": "Apps Script function to invoke when the containing element is clicked/activated.",
          "type": "string"
        }
      },
      "description": "An action that describes the behavior when the form is submitted. For example, an Apps Script can be invoked to handle the form.",
      "type": "object",
      "id": "GoogleAppsCardV1Action"
    },
    "Color": {
      "type": "object",
      "id": "Color",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to/from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't carry information about the absolute color space that should be used to interpret the RGB value (e.g. sRGB, Adobe RGB, DCI-P3, BT.2020, etc.). By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most 1e-5. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha \u003c= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red \u003c\u003c 16) | (green \u003c\u003c 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i \u003c missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "properties": {
        "blue": {
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "green": {
          "type": "number",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "alpha": {
          "format": "float",
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        },
        "red": {
          "type": "number",
          "format": "float",
          "description": "The amount of red in the color as a value in the interval [0, 1]."
        }
      }
    },
    "CardAction": {
      "type": "object",
      "id": "CardAction",
      "properties": {
        "actionLabel": {
          "description": "The label used to be displayed in the action menu item.",
          "type": "string"
        },
        "onClick": {
          "description": "The onclick action for this action item.",
          "$ref": "OnClick"
        }
      },
      "description": "A card action is the action associated with the card. For an invoice card, a typical action would be: delete invoice, email invoice or open the invoice in browser. Not supported by Google Chat apps."
    },
    "Card": {
      "id": "Card",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the card."
        },
        "header": {
          "description": "The header of the card. A header usually contains a title and an image.",
          "$ref": "CardHeader"
        },
        "sections": {
          "description": "Sections are separated by a line divider.",
          "items": {
            "$ref": "Section"
          },
          "type": "array"
        },
        "cardActions": {
          "items": {
            "$ref": "CardAction"
          },
          "description": "The actions of this card.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A card is a UI element that can contain UI widgets such as texts, images."
    },
    "GoogleAppsCardV1ImageComponent": {
      "properties": {
        "imageUri": {
          "description": "The image URL.",
          "type": "string"
        },
        "altText": {
          "description": "The accessibility label for the image.",
          "type": "string"
        },
        "cropStyle": {
          "$ref": "GoogleAppsCardV1ImageCropStyle",
          "description": "The crop style to apply to the image."
        },
        "borderStyle": {
          "$ref": "GoogleAppsCardV1BorderStyle",
          "description": "The border style to apply to the image."
        }
      },
      "id": "GoogleAppsCardV1ImageComponent",
      "type": "object",
      "description": "Represents an image."
    },
    "GoogleAppsCardV1OpenLink": {
      "type": "object",
      "id": "GoogleAppsCardV1OpenLink",
      "description": "Represents an `onClick` event that opens a hyperlink.",
      "properties": {
        "url": {
          "description": "The URL to open.",
          "type": "string"
        },
        "openAs": {
          "enumDescriptions": [
            "The link opens as a full size window (if that's the frame used by the client.",
            "The link opens as an overlay, such as a pop-up."
          ],
          "enum": [
            "FULL_SIZE",
            "OVERLAY"
          ],
          "type": "string",
          "description": "How to open a link. Not supported by Chat apps."
        },
        "onClose": {
          "description": "Whether the client forgets about a link after opening it, or observes it until the window closes. Not supported by Chat apps.",
          "type": "string",
          "enum": [
            "NOTHING",
            "RELOAD"
          ],
          "enumDescriptions": [
            "Default value. The card does not reload; nothing happens.",
            "Reloads the card after the child window closes. If used in conjunction with [OpenAs.OVERLAY](https://developers.google.com/workspace/add-ons/reference/rpc/google.apps.card.v1#openas), the child window acts as a modal dialog and the parent card is blocked until the child window closes."
          ]
        }
      }
    },
    "FormAction": {
      "description": "A form action describes the behavior when the form is submitted. For example, an Apps Script can be invoked to handle the form.",
      "type": "object",
      "id": "FormAction",
      "properties": {
        "actionMethodName": {
          "description": "The method name is used to identify which part of the form triggered the form submission. This information is echoed back to the Chat app as part of the card click event. The same method name can be used for several elements that trigger a common behavior if desired.",
          "type": "string"
        },
        "parameters": {
          "description": "List of action parameters.",
          "type": "array",
          "items": {
            "$ref": "ActionParameter"
          }
        }
      }
    },
    "OnClick": {
      "description": "An onclick action (e.g. open a link).",
      "id": "OnClick",
      "properties": {
        "action": {
          "description": "A form action will be triggered by this onclick if specified.",
          "$ref": "FormAction"
        },
        "openLink": {
          "$ref": "OpenLink",
          "description": "This onclick triggers an open link action if specified."
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "DeprecatedEvent": {
      "type": "object",
      "description": "Google Chat events.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A message was sent in a space.",
            "The Chat app was added to a space.",
            "The Chat app was removed from a space.",
            "The Chat app's interactive card was clicked."
          ],
          "type": "string",
          "description": "The type of the event.",
          "enum": [
            "UNSPECIFIED",
            "MESSAGE",
            "ADDED_TO_SPACE",
            "REMOVED_FROM_SPACE",
            "CARD_CLICKED"
          ]
        },
        "eventTime": {
          "description": "The timestamp indicating when the event occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "message": {
          "description": "The message that triggered the event, if applicable.",
          "$ref": "Message"
        },
        "space": {
          "$ref": "Space",
          "description": "The space in which the event occurred."
        },
        "user": {
          "$ref": "User",
          "description": "The user that triggered the event."
        },
        "threadKey": {
          "description": "The Chat app-defined key for the thread related to the event. See the thread_key field of the `spaces.message.create` request for more information.",
          "type": "string"
        },
        "common": {
          "$ref": "CommonEventObject",
          "description": "Represents information about the user's client, such as locale, host app, and platform. For Chat apps, `CommonEventObject` includes information submitted by users interacting with [dialogs](https://developers.google.com/chat/how-tos/dialogs), like data entered on a card."
        },
        "action": {
          "$ref": "FormAction",
          "description": "The form action data associated with an interactive card that was clicked. Only populated for CARD_CLICKED events. See the [Interactive Cards guide](/chat/how-tos/cards-onclick) for more information."
        },
        "dialogEventType": {
          "description": "The type of [dialog](https://developers.google.com/chat/how-tos/dialogs) event received.",
          "type": "string",
          "enumDescriptions": [
            "This could be used when the corresponding event is not dialog related. For example an @mention.",
            "Any user action that opens a [dialog](https://developers.google.com/chat/how-tos/dialogs).",
            "A card click event from a [dialog](https://developers.google.com/chat/how-tos/dialogs).",
            "The [dialog](https://developers.google.com/chat/how-tos/dialogs) was cancelled."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "REQUEST_DIALOG",
            "SUBMIT_DIALOG",
            "CANCEL_DIALOG"
          ]
        },
        "configCompleteRedirectUrl": {
          "description": "The URL the Chat app should redirect the user to after they have completed an authorization or configuration flow outside of Google Chat. See the [Authorizing access to 3p services guide](/chat/how-tos/auth-3p) for more information.",
          "type": "string"
        },
        "token": {
          "description": "A secret value that legacy Chat apps can use to verify if a request is from Google. Google randomly generates the token, and its value remains static. You can obtain, revoke, or regenerate the token from the [Chat API configuration page](https://console.cloud.google.com/apis/api/chat.googleapis.com/hangouts-chat) in the Google Cloud Console. Modern Chat apps don't use this field. It is absent from API responses and the [Chat API configuration page](https://console.cloud.google.com/apis/api/chat.googleapis.com/hangouts-chat).",
          "type": "string"
        },
        "isDialogEvent": {
          "type": "boolean",
          "description": "True when the event is related to [dialogs](https://developers.google.com/chat/how-tos/dialogs)."
        }
      },
      "id": "DeprecatedEvent"
    },
    "GoogleAppsCardV1CardHeader": {
      "id": "GoogleAppsCardV1CardHeader",
      "type": "object",
      "properties": {
        "title": {
          "description": "Required. The title of the card header. The header has a fixed height: if both a title and subtitle are specified, each takes up one line. If only the title is specified, it takes up both lines.",
          "type": "string"
        },
        "imageAltText": {
          "type": "string",
          "description": "The alternative text of this image which is used for accessibility."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the card header."
        },
        "imageType": {
          "enum": [
            "SQUARE",
            "CIRCLE"
          ],
          "enumDescriptions": [
            "Applies no cropping to the image.",
            "Applies a circular mask to the image."
          ],
          "type": "string",
          "description": "The image's type."
        },
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image in the card header."
        }
      },
      "description": "Represents a card header."
    },
    "KeyValue": {
      "type": "object",
      "id": "KeyValue",
      "description": "A UI element contains a key (label) and a value (content). And this element may also contain some actions such as onclick button.",
      "properties": {
        "contentMultiline": {
          "type": "boolean",
          "description": "If the content should be multiline."
        },
        "bottomLabel": {
          "description": "The text of the bottom label. Formatted text supported.",
          "type": "string"
        },
        "button": {
          "$ref": "Button",
          "description": "A button that can be clicked to trigger an action."
        },
        "onClick": {
          "description": "The onclick action. Only the top label, bottom label and content region are clickable.",
          "$ref": "OnClick"
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon specified by a URL."
        },
        "topLabel": {
          "type": "string",
          "description": "The text of the top label. Formatted text supported."
        },
        "content": {
          "description": "The text of the content. Formatted text supported and always required.",
          "type": "string"
        },
        "icon": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ],
          "description": "An enum value that will be replaced by the Chat API with the corresponding icon image."
        }
      }
    },
    "TextParagraph": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "TextParagraph",
      "description": "A paragraph of text. Formatted text supported."
    },
    "GoogleAppsCardV1DateTimePicker": {
      "id": "GoogleAppsCardV1DateTimePicker",
      "type": "object",
      "description": "The widget that lets users to specify a date and time. Not supported by Google Chat apps.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "DATE_AND_TIME",
            "DATE_ONLY",
            "TIME_ONLY"
          ],
          "enumDescriptions": [
            "The user can select a date and time.",
            "The user can only select a date.",
            "The user can only select a time."
          ],
          "description": "The type of the date/time picker."
        },
        "name": {
          "type": "string",
          "description": "The name of the text input that's used in `formInput`, and uniquely identifies this input."
        },
        "valueMsEpoch": {
          "description": "The value to display as the default value before user input or previous user input. It is represented in milliseconds (Epoch time). For `DATE_AND_TIME` type, the full epoch value is used. For `DATE_ONLY` type, only date of the epoch time is used. For `TIME_ONLY` type, only time of the epoch time is used. For example, you can set epoch time to `3 * 60 * 60 * 1000` to represent 3am.",
          "type": "string",
          "format": "int64"
        },
        "timezoneOffsetDate": {
          "type": "integer",
          "format": "int32",
          "description": "The number representing the time zone offset from UTC, in minutes. If set, the `value_ms_epoch` is displayed in the specified time zone. If not set, it uses the user's time zone setting on the client side."
        },
        "onChangeAction": {
          "description": "Triggered when the user clicks Save or Clear from the date/time picker dialog. This is only triggered if the value changed as a result of the Save/Clear operation.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "label": {
          "description": "The label for the field that displays to the user.",
          "type": "string"
        }
      }
    },
    "DialogAction": {
      "description": "Contains a [dialog](https://developers.google.com/chat/how-tos/dialogs) and request status code.",
      "properties": {
        "dialog": {
          "$ref": "Dialog",
          "description": "Input only. [Dialog](https://developers.google.com/chat/how-tos/dialogs) for the request."
        },
        "actionStatus": {
          "description": "Input only. Status for a request to either invoke or submit a [dialog](https://developers.google.com/chat/how-tos/dialogs). Displays a status and message to users, if necessary. For example, in case of an error or success.",
          "$ref": "ActionStatus"
        }
      },
      "id": "DialogAction",
      "type": "object"
    },
    "GoogleAppsCardV1Card": {
      "description": "Cards support a defined layout, interactive UI elements like buttons, and rich media like images. Use cards to present detailed information, gather information from users, and guide users to take a next step. In Google Chat, cards appear in several places: - As stand-alone messages. - Accompanying a text message, just beneath the text message. - As a [dialog](https://developers.google.com/chat/how-tos/dialogs). The following example JSON creates a \"contact card\" that features: - A header with the contact's name, job title, avatar picture. - A section with the contact information, including formatted text. - Buttons that users can click to share the contact or see more or less info. ![Example contact card](/chat/images/card_api_reference.png) ``` { \"cardsV2\": [ { \"cardId\": \"unique-card-id\", \"card\": { \"header\": { \"title\": \"Sasha\", \"subtitle\": \"Software Engineer\", \"imageUrl\": \"https://developers.google.com/chat/images/quickstart-app-avatar.png\", \"imageType\": \"CIRCLE\", \"imageAltText\": \"Avatar for Sasha\", }, \"sections\": [ { \"header\": \"Contact Info\", \"collapsible\": true, \"uncollapsibleWidgetsCount\": 1, \"widgets\": [ { \"decoratedText\": { \"startIcon\": { \"knownIcon\": \"EMAIL\", }, \"text\": \"sasha@example.com\", } }, { \"decoratedText\": { \"startIcon\": { \"knownIcon\": \"PERSON\", }, \"text\": \"Online\", }, }, { \"decoratedText\": { \"startIcon\": { \"knownIcon\": \"PHONE\", }, \"text\": \"+1 (555) 555-1234\", } }, { \"buttonList\": { \"buttons\": [ { \"text\": \"Share\", \"onClick\": { \"openLink\": { \"url\": \"https://example.com/share\", } } }, { \"text\": \"Edit\", \"onClick\": { \"action\": { \"function\": \"goToView\", \"parameters\": [ { \"key\": \"viewType\", \"value\": \"EDIT\", } ], } } }, ], } }, ], }, ], }, } ], } ```",
      "type": "object",
      "properties": {
        "fixedFooter": {
          "description": "The fixed footer shown at the bottom of this card.",
          "$ref": "GoogleAppsCardV1CardFixedFooter"
        },
        "peekCardHeader": {
          "$ref": "GoogleAppsCardV1CardHeader",
          "description": "When displaying contextual content, the peek card header acts as a placeholder so that the user can navigate forward between the homepage cards and the contextual cards. Not supported by Google Chat apps."
        },
        "header": {
          "$ref": "GoogleAppsCardV1CardHeader",
          "description": "The header of the card. A header usually contains a title and an image."
        },
        "sections": {
          "items": {
            "$ref": "GoogleAppsCardV1Section"
          },
          "description": "Sections are separated by a line divider.",
          "type": "array"
        },
        "cardActions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1CardAction"
          },
          "description": "The card's actions. Actions are added to the card's generated toolbar menu. Not supported by Google Chat apps. For example, the following JSON constructs a card action menu with Settings and Send Feedback options: ``` \"card_actions\": [ { \"actionLabel\": \"Settings\", \"onClick\": { \"action\": { \"functionName\": \"goToView\", \"parameters\": [ { \"key\": \"viewType\", \"value\": \"SETTING\" } ], \"loadIndicator\": \"LoadIndicator.SPINNER\" } } }, { \"actionLabel\": \"Send Feedback\", \"onClick\": { \"openLink\": { \"url\": \"https://example.com/feedback\" } } } ] ```"
        },
        "displayStyle": {
          "enum": [
            "DISPLAY_STYLE_UNSPECIFIED",
            "PEEK",
            "REPLACE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not use.",
            "The header of the card appears at the bottom of the sidebar, partially covering the current top card of the stack. Clicking the header pops the card into the card stack. If the card has no header, a generated header is used instead.",
            "Default value. The card is shown by replacing the view of the top card in the card stack."
          ],
          "description": "The `peekCardHeader` display style for. Not supported by Google Chat apps."
        },
        "name": {
          "type": "string",
          "description": "Name of the card. Used as a card identifier in card navigation."
        }
      },
      "id": "GoogleAppsCardV1Card"
    },
    "GoogleAppsCardV1Icon": {
      "type": "object",
      "properties": {
        "knownIcon": {
          "description": "The icon specified by the string name of a list of known icons.",
          "type": "string"
        },
        "iconUrl": {
          "description": "The icon specified by a URL.",
          "type": "string"
        },
        "imageType": {
          "enum": [
            "SQUARE",
            "CIRCLE"
          ],
          "enumDescriptions": [
            "Applies no cropping to the image.",
            "Applies a circular mask to the image."
          ],
          "description": "The crop style applied to the image. In some cases, applying a `CIRCLE` crop causes the image to be drawn larger than a standard icon.",
          "type": "string"
        },
        "altText": {
          "description": "The description of the icon, used for accessibility. The default value is provided if you don't specify one.",
          "type": "string"
        }
      },
      "id": "GoogleAppsCardV1Icon"
    },
    "DateTimeInput": {
      "type": "object",
      "description": "Date and time input values. Not supported by Chat apps.",
      "properties": {
        "hasDate": {
          "description": "Whether the `datetime` input includes a calendar date.",
          "type": "boolean"
        },
        "msSinceEpoch": {
          "description": "Time since epoch time, in milliseconds.",
          "type": "string",
          "format": "int64"
        },
        "hasTime": {
          "description": "Whether the `datetime` input includes a timestamp.",
          "type": "boolean"
        }
      },
      "id": "DateTimeInput"
    },
    "AttachmentDataRef": {
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The resource name of the attachment data. This is used with the media API to download the attachment data."
        }
      },
      "description": "A reference to the data of an attachment.",
      "id": "AttachmentDataRef",
      "type": "object"
    },
    "SlashCommand": {
      "description": "A [slash command](https://developers.google.com/chat/how-tos/slash-commands) in Google Chat.",
      "properties": {
        "commandId": {
          "format": "int64",
          "type": "string",
          "description": "The id of the slash command invoked."
        }
      },
      "id": "SlashCommand",
      "type": "object"
    },
    "TimeZone": {
      "description": "The timezone ID and offset from Coordinated Universal Time (UTC). Not supported by Chat apps.",
      "properties": {
        "offset": {
          "type": "integer",
          "format": "int32",
          "description": "The user timezone offset, in milliseconds, from Coordinated Universal Time (UTC)."
        },
        "id": {
          "type": "string",
          "description": "The [IANA TZ](https://www.iana.org/time-zones) time zone database code, such as \"America/Toronto\"."
        }
      },
      "id": "TimeZone",
      "type": "object"
    },
    "GoogleAppsCardV1Widget": {
      "id": "GoogleAppsCardV1Widget",
      "description": "A widget is a UI element that presents texts, images, etc.",
      "type": "object",
      "properties": {
        "buttonList": {
          "$ref": "GoogleAppsCardV1ButtonList",
          "description": "A list of buttons. For example, the following JSON creates two buttons. The first is a filled text button and the second is an image button that opens a link: ``` \"buttonList\": { \"buttons\": [ \"button\": { \"text\": \"Edit\", \"Color\": { \"Red\": 255 \"Green\": 255 \"Blue\": 255 } \"disabled\": true }, \"button\": { \"icon\": { \"knownIcon\": \"INVITE\" \"altText\": \"check calendar\" }, \"onClick\": { \"openLink\": { \"url\": \"https://example.com/calendar\" } } }, ] } ```"
        },
        "textInput": {
          "description": "Displays a text input in this widget. For example, the following JSON creates a text input for mail address: ``` \"textInput\": { \"name\": \"mailing_address\", \"label\": \"Mailing Address\" } ``` As another example, the following JSON creates a text input for programming language with static suggestions: ``` \"textInput\": { \"name\": \"preferred_programing_language\", \"label\": \"Preferred Language\", \"initialSuggestions\": { \"items\": [ { \"text\": \"C++\" }, { \"text\": \"Java\" }, { \"text\": \"JavaScript\" }, { \"text\": \"Python\" } ] } } ```",
          "$ref": "GoogleAppsCardV1TextInput"
        },
        "horizontalAlignment": {
          "description": "The horizontal alignment of this widget.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified alignment.",
            "Alignment to the start position.",
            "Alignment to the center position.",
            "Alignment to the end position."
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ]
        },
        "grid": {
          "description": "Displays a grid with a collection of items. For example, the following JSON creates a 2 column grid with a single item: ``` \"grid\": { \"title\": \"A fine collection of items\", \"numColumns\": 2, \"borderStyle\": { \"type\": \"STROKE\", \"cornerRadius\": 4.0 }, \"items\": [ \"image\": { \"imageUri\": \"https://www.example.com/image.png\", \"cropStyle\": { \"type\": \"SQUARE\" }, \"borderStyle\": { \"type\": \"STROKE\" } }, \"title\": \"An item\", \"textAlignment\": \"CENTER\" ], \"onClick\": { \"openLink\": { \"url\":\"https://www.example.com\" } } } ```",
          "$ref": "GoogleAppsCardV1Grid"
        },
        "textParagraph": {
          "description": "Displays a text paragraph in this widget. For example, the following JSON creates a bolded text: ``` \"textParagraph\": { \"text\": \" *bold text*\" } ```",
          "$ref": "GoogleAppsCardV1TextParagraph"
        },
        "image": {
          "$ref": "GoogleAppsCardV1Image",
          "description": "Displays an image in this widget. For example, the following JSON creates an image with alternative text: ``` \"image\": { \"imageUrl\": \"https://example.com/sasha.png\" \"altText\": \"Avatar for Sasha\" } ```"
        },
        "selectionInput": {
          "description": "Displays a switch control in this widget. For example, the following JSON creates a dropdown selection for size: ``` \"switchControl\": { \"name\": \"size\", \"label\": \"Size\" \"type\": \"SelectionType.DROPDOWN\", \"items\": [ { \"text\": \"S\", \"value\": \"small\", \"selected\": false }, { \"text\": \"M\", \"value\": \"medium\", \"selected\": true }, { \"text\": \"L\", \"value\": \"large\", \"selected\": false }, { \"text\": \"XL\", \"value\": \"extra_large\", \"selected\": false } ] } ```",
          "$ref": "GoogleAppsCardV1SelectionInput"
        },
        "dateTimePicker": {
          "description": "Displays a selection/input widget for date/time. For example, the following JSON creates a date/time picker for an appointment time: ``` \"date_time_picker\": { \"name\": \"appointment_time\", \"label\": \"Book your appointment at:\", \"type\": \"DateTimePickerType.DATE_AND_TIME\", \"valueMsEpoch\": \"796435200000\" } ```",
          "$ref": "GoogleAppsCardV1DateTimePicker"
        },
        "divider": {
          "description": "Displays a divider. For example, the following JSON creates a divider: ``` \"divider\": { } ```",
          "$ref": "GoogleAppsCardV1Divider"
        },
        "decoratedText": {
          "$ref": "GoogleAppsCardV1DecoratedText",
          "description": "Displays a decorated text item in this widget. For example, the following JSON creates a decorated text widget showing email address: ``` \"decoratedText\": { \"icon\": { \"knownIcon\": \"EMAIL\" }, \"topLabel\": \"Email Address\", \"content\": \"sasha@example.com\", \"bottomLabel\": \"This is a new Email address!\", \"switchWidget\": { \"name\": \"has_send_welcome_email_to_sasha\", \"selected\": false, \"controlType\": \"ControlType.CHECKBOX\" } } ```"
        }
      }
    },
    "StringInputs": {
      "description": "Input parameter for regular widgets. For single-valued widgets, it is a single value list. For multi-valued widgets, such as checkbox, all the values are presented.",
      "id": "StringInputs",
      "type": "object",
      "properties": {
        "value": {
          "description": "An array of strings entered by the user.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleAppsCardV1SwitchControl": {
      "properties": {
        "value": {
          "description": "The value is what is passed back in the callback.",
          "type": "string"
        },
        "name": {
          "description": "The name of the switch widget that's used in `formInput`.",
          "type": "string"
        },
        "selected": {
          "description": "If the switch is selected.",
          "type": "boolean"
        },
        "controlType": {
          "enumDescriptions": [
            "A toggle-style switch.",
            "Deprecated in favor of `CHECK_BOX`.",
            "A checkbox."
          ],
          "type": "string",
          "enum": [
            "SWITCH",
            "CHECKBOX",
            "CHECK_BOX"
          ],
          "description": "The control type, either switch or checkbox."
        },
        "onChangeAction": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "The action when the switch state is changed."
        }
      },
      "description": "Either a toggle-style switch or a checkbox.",
      "type": "object",
      "id": "GoogleAppsCardV1SwitchControl"
    },
    "ActionStatus": {
      "properties": {
        "statusCode": {
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "description": "The status code.",
          "type": "string",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
[...]
