{
  "canonicalName": "Hangouts Chat",
  "basePath": "",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "title": "Google Chat API",
  "rootUrl": "https://chat.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chat.memberships": {
          "description": "View, add, and remove members from conversations in Google Chat"
        }
      }
    }
  },
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://developers.google.com/hangouts/chat",
  "description": "Enables apps to fetch information and perform actions in Google Chat. Authentication is a prerequisite for using the Google Chat REST API.",
  "name": "chat",
  "servicePath": "",
  "mtlsRootUrl": "https://chat.mtls.googleapis.com/",
  "version": "v1",
  "version_module": true,
  "revision": "20221020",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "id": "chat:v1",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://chat.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "resources": {
    "media": {
      "methods": {
        "download": {
          "parameters": {
            "resourceName": {
              "pattern": "^.*$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name."
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Downloads media. Download is supported on the URI `/v1/media/{+name}?alt=media`.",
          "id": "chat.media.download",
          "httpMethod": "GET",
          "flatPath": "v1/media/{mediaId}",
          "supportsMediaDownload": true,
          "path": "v1/media/{+resourceName}",
          "response": {
            "$ref": "Media"
          }
        }
      }
    },
    "rooms": {
      "resources": {
        "conversations": {
          "methods": {
            "messages": {
              "response": {
                "$ref": "Message"
              },
              "path": "v1/{+parent}/messages",
              "parameters": {
                "messageReplyOption": {
                  "type": "string",
                  "enumDescriptions": [
                    "Default. Starts a thread.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
                  ],
                  "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces.",
                  "enum": [
                    "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                    "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                    "REPLY_MESSAGE_OR_FAIL"
                  ],
                  "location": "query"
                },
                "requestId": {
                  "type": "string",
                  "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
                  "pattern": "^rooms/[^/]+/conversations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "threadKey": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread)."
                },
                "messageId": {
                  "location": "query",
                  "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message).",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Message"
              },
              "httpMethod": "POST",
              "id": "chat.rooms.conversations.messages",
              "flatPath": "v1/rooms/{roomsId}/conversations/{conversationsId}/messages",
              "description": "Legacy path for creating message. Calling these will result in a BadRequest response."
            }
          }
        }
      },
      "methods": {
        "webhooks": {
          "httpMethod": "POST",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "Message"
          },
          "parameters": {
            "messageId": {
              "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message).",
              "type": "string",
              "location": "query"
            },
            "threadKey": {
              "location": "query",
              "type": "string",
              "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread)."
            },
            "parent": {
              "location": "path",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "required": true,
              "type": "string",
              "pattern": "^rooms/[^/]+$"
            },
            "messageReplyOption": {
              "enum": [
                "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                "REPLY_MESSAGE_OR_FAIL"
              ],
              "type": "string",
              "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces.",
              "location": "query",
              "enumDescriptions": [
                "Default. Starts a thread.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
              ]
            },
            "requestId": {
              "type": "string",
              "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
              "location": "query"
            }
          },
          "path": "v1/{+parent}/webhooks",
          "flatPath": "v1/rooms/{roomsId}/webhooks",
          "id": "chat.rooms.webhooks",
          "request": {
            "$ref": "Message"
          }
        },
        "messages": {
          "request": {
            "$ref": "Message"
          },
          "id": "chat.rooms.messages",
          "httpMethod": "POST",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "response": {
            "$ref": "Message"
          },
          "parameters": {
            "messageId": {
              "type": "string",
              "location": "query",
              "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message)."
            },
            "messageReplyOption": {
              "type": "string",
              "location": "query",
              "enum": [
                "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                "REPLY_MESSAGE_OR_FAIL"
              ],
              "enumDescriptions": [
                "Default. Starts a thread.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
              ],
              "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces."
            },
            "requestId": {
              "type": "string",
              "location": "query",
              "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message."
            },
            "threadKey": {
              "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "location": "path",
              "pattern": "^rooms/[^/]+$",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+parent}/messages",
          "flatPath": "v1/rooms/{roomsId}/messages",
          "parameterOrder": [
            "parent"
          ]
        }
      }
    },
    "dms": {
      "methods": {
        "messages": {
          "flatPath": "v1/dms/{dmsId}/messages",
          "id": "chat.dms.messages",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "Message"
          },
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "location": "path",
              "required": true,
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "type": "string",
              "pattern": "^dms/[^/]+$"
            },
            "messageReplyOption": {
              "enum": [
                "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                "REPLY_MESSAGE_OR_FAIL"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Default. Starts a thread.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
              ],
              "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces."
            },
            "messageId": {
              "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message).",
              "location": "query",
              "type": "string"
            },
            "threadKey": {
              "type": "string",
              "location": "query",
              "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread)."
            },
            "requestId": {
              "type": "string",
              "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Message"
          },
          "path": "v1/{+parent}/messages"
        },
        "webhooks": {
          "path": "v1/{+parent}/webhooks",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "httpMethod": "POST",
          "id": "chat.dms.webhooks",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "messageReplyOption": {
              "enumDescriptions": [
                "Default. Starts a thread.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
              ],
              "location": "query",
              "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces.",
              "type": "string",
              "enum": [
                "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                "REPLY_MESSAGE_OR_FAIL"
              ]
            },
            "threadKey": {
              "type": "string",
              "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
              "location": "query"
            },
            "requestId": {
              "type": "string",
              "location": "query",
              "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message."
            },
            "messageId": {
              "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message).",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "pattern": "^dms/[^/]+$",
              "location": "path",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "Message"
          },
          "flatPath": "v1/dms/{dmsId}/webhooks",
          "response": {
            "$ref": "Message"
          }
        }
      },
      "resources": {
        "conversations": {
          "methods": {
            "messages": {
              "flatPath": "v1/dms/{dmsId}/conversations/{conversationsId}/messages",
              "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
              "parameters": {
                "threadKey": {
                  "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^dms/[^/]+/conversations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
                  "location": "path"
                },
                "messageReplyOption": {
                  "enum": [
                    "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                    "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                    "REPLY_MESSAGE_OR_FAIL"
                  ],
                  "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces.",
                  "enumDescriptions": [
                    "Default. Starts a thread.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
                  ],
                  "type": "string",
                  "location": "query"
                },
                "requestId": {
                  "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
                  "type": "string",
                  "location": "query"
                },
                "messageId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message)."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Message"
              },
              "httpMethod": "POST",
              "id": "chat.dms.conversations.messages",
              "path": "v1/{+parent}/messages",
              "response": {
                "$ref": "Message"
              }
            }
          }
        }
      }
    },
    "spaces": {
      "methods": {
        "get": {
          "path": "v1/{+name}",
          "description": "Returns a space. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts).",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. Resource name of the space, in the form \"spaces/*\". Format: spaces/{space}",
              "pattern": "^spaces/[^/]+$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Space"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/spaces/{spacesId}",
          "id": "chat.spaces.get"
        },
        "list": {
          "id": "chat.spaces.list",
          "path": "v1/spaces",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous list spaces call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided must match the call that provided the page token.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "Optional. The maximum number of spaces to return. The service may return fewer than this value. If unspecified, at most 100 spaces are returned. The maximum value is 1000; values above 1000 are coerced to 1000. Negative values return an INVALID_ARGUMENT error.",
              "location": "query",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "ListSpacesResponse"
          },
          "description": "Lists spaces the caller is a member of. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts). ",
          "parameterOrder": [],
          "flatPath": "v1/spaces",
          "httpMethod": "GET"
        },
        "webhooks": {
          "httpMethod": "POST",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "flatPath": "v1/spaces/{spacesId}/webhooks",
          "response": {
            "$ref": "Message"
          },
          "parameterOrder": [
            "parent"
          ],
          "id": "chat.spaces.webhooks",
          "path": "v1/{+parent}/webhooks",
          "parameters": {
            "messageId": {
              "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message).",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "required": true,
              "pattern": "^spaces/[^/]+$",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "location": "path"
            },
            "requestId": {
              "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
              "type": "string",
              "location": "query"
            },
            "threadKey": {
              "location": "query",
              "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
              "type": "string"
            },
            "messageReplyOption": {
              "type": "string",
              "enumDescriptions": [
                "Default. Starts a thread.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
              ],
              "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces.",
              "enum": [
                "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                "REPLY_MESSAGE_OR_FAIL"
              ],
              "location": "query"
            }
          },
          "request": {
            "$ref": "Message"
          }
        }
      },
      "resources": {
        "members": {
          "methods": {
            "get": {
              "description": "Returns a membership. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts).",
              "flatPath": "v1/spaces/{spacesId}/members/{membersId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chat.memberships"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Membership"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the membership to retrieve. Format: spaces/{space}/members/{member}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^spaces/[^/]+/members/[^/]+$",
                  "required": true
                }
              },
              "id": "chat.spaces.members.get"
            },
            "list": {
              "description": "Lists human memberships in a space for joined members. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts).",
              "flatPath": "v1/spaces/{spacesId}/members",
              "path": "v1/{+parent}/members",
              "scopes": [
                "https://www.googleapis.com/auth/chat.memberships"
              ],
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "id": "chat.spaces.members.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^spaces/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the space for which to fetch a membership list. Format: spaces/{space}",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of memberships to return. The service may return fewer than this value. If unspecified, at most 100 memberships are returned. The maximum value is 1000; values above 1000 are coerced to 1000. Negative values return an INVALID_ARGUMENT error."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous list memberships call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided must match the call that provided the page token."
                }
              }
            }
          }
        },
        "messages": {
          "methods": {
            "update": {
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "httpMethod": "PUT",
              "id": "chat.spaces.messages.update",
              "description": "Updates a message. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts).",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Message"
              },
              "request": {
                "$ref": "Message"
              },
              "parameters": {
                "allowMissing": {
                  "description": "Optional. If `true` and the message is not found, a new message is created and `updateMask` is ignored. The specified message ID must be [client-assigned](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message) or the request fails.",
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Resource name in the form `spaces/*/messages/*`. Example: `spaces/AAAAAAAAAAA/messages/BBBBBBBBBBB.BBBBBBBBBBB`",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The field paths to update. Separate multiple values with commas. Currently supported field paths: - text - cards (Requires [service account authentication](/chat/api/guides/auth/service-accounts).) - cards_v2 ",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "get": {
              "id": "chat.spaces.messages.get",
              "description": "Returns a message. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts). [Developer Preview](https://developers.google.com/workspace/preview): Returns a message. Requires [user authentication](https://developers.google.com/chat/api/guides/auth/users) and the `chat.messages` or `chat.messages.readonly` authorization scope. Messages from a blocked member or messages from a blocked space can also be fetched.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the message to retrieve. Format: spaces/{space}/messages/{message} If the message begins with `client-`, then it has a custom name assigned by a Chat app that created it with the Chat REST API. That Chat app (but not others) can pass the custom name to get, update, or delete the message. To learn more, see [create and name a message] (https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message).",
                  "type": "string",
                  "location": "path",
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Message"
              },
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "path": "v1/{+name}",
              "httpMethod": "GET"
            },
            "create": {
              "httpMethod": "POST",
              "id": "chat.spaces.messages.create",
              "parameters": {
                "messageReplyOption": {
                  "enum": [
                    "MESSAGE_REPLY_OPTION_UNSPECIFIED",
                    "REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD",
                    "REPLY_MESSAGE_OR_FAIL"
                  ],
                  "type": "string",
                  "description": "Optional. Specifies whether a message starts a thread or replies to one. Only supported in named spaces.",
                  "location": "query",
                  "enumDescriptions": [
                    "Default. Starts a thread.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, the message starts a new thread instead.",
                    "Creates the message as a reply to the thread specified by thread ID or thread_key. If it fails, a NOT_FOUND error is returned instead."
                  ]
                },
                "requestId": {
                  "location": "query",
                  "description": "Optional. A unique request ID for this message. Specifying an existing request ID returns the message created with that ID instead of creating a new message.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
                  "location": "path",
                  "type": "string",
                  "pattern": "^spaces/[^/]+$",
                  "required": true
                },
                "messageId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message)."
                },
                "threadKey": {
                  "type": "string",
                  "description": "Optional. Deprecated: Use thread_key instead. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread).",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/messages",
              "request": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Message"
              },
              "flatPath": "v1/spaces/{spacesId}/messages",
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Creates a message. Requires [authentication](https://developers.google.com/chat/api/guides/auth)."
            },
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "location": "path",
                  "description": "Required. Resource name of the message to be deleted, in the form \"spaces/*/messages/*\" Example: spaces/AAAAAAAAAAA/messages/BBBBBBBBBBB.BBBBBBBBBBB"
                }
              },
              "description": "Deletes a message. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts). [Developer Preview](https://developers.google.com/workspace/preview): Deletes a message. Requires [user authentication](https://developers.google.com/chat/api/guides/auth/users) and the `chat.messages` authorization scope.",
              "httpMethod": "DELETE",
              "id": "chat.spaces.messages.delete",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "response": {
                "$ref": "Empty"
              }
            }
          },
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Attachment"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the metadata of a message attachment. The attachment data is fetched using the media API. Requires [service account authentication](https://developers.google.com/chat/api/guides/auth/service-accounts).",
                  "id": "chat.spaces.messages.attachments.get",
                  "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}/attachments/{attachmentsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^spaces/[^/]+/messages/[^/]+/attachments/[^/]+$",
                      "description": "Required. Resource name of the attachment, in the form \"spaces/*/messages/*/attachments/*\".",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "CommonEventObject": {
      "id": "CommonEventObject",
      "properties": {
        "hostApp": {
          "enumDescriptions": [
            "Google can't identify a host app.",
            "The add-on launches from Gmail.",
            "The add-on launches from Google Calendar.",
            "The add-on launches from Google Drive.",
            "Not used.",
            "The add-on launches from Google Docs.",
            "The add-on launches from Google Meet.",
            "The add-on launches from Google Sheets.",
            "The add-on launches from Google Slides.",
            "The add-on launches from Google Drawings.",
            "A Google Chat app. Not used for Google Workspace Add-ons."
          ],
          "enum": [
            "UNSPECIFIED_HOST_APP",
            "GMAIL",
            "CALENDAR",
            "DRIVE",
            "DEMO",
            "DOCS",
            "MEET",
            "SHEETS",
            "SLIDES",
            "DRAWINGS",
            "CHAT"
          ],
          "description": "The hostApp enum which indicates the app the add-on is invoked from. Always `CHAT` for Chat apps.",
          "type": "string"
        },
        "timeZone": {
          "description": "The timezone ID and offset from Coordinated Universal Time (UTC).",
          "$ref": "TimeZone"
        },
        "parameters": {
          "description": "Custom [parameters](/chat/api/reference/rest/v1/cards#ActionParameter) passed to the invoked function. Both keys and values must be strings.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "userLocale": {
          "description": "The full `locale.displayName` in the format of [ISO 639 language code]-[ISO 3166 country/region code] such as \"en-US\". Not supported by Chat apps.",
          "type": "string"
        },
        "invokedFunction": {
          "description": "Name of the invoked function associated with the widget. Only set for Chat apps.",
          "type": "string"
        },
        "formInputs": {
          "description": "A map containing the current values of the widgets in a card. The map keys are the string IDs assigned to each widget, and the values represent inputs to the widget. Depending on the input data type, a different object represents each input: For single-value widgets, `StringInput`. For multi-value widgets, an array of `StringInput` objects. For a date-time picker, a `DateTimeInput`. For a date-only picker, a `DateInput`. For a time-only picker, a `TimeInput`. Corresponds with the data entered by a user on a card in a [dialog](https://developers.google.com/chat/how-tos/dialogs).",
          "additionalProperties": {
            "$ref": "Inputs"
          },
          "type": "object"
        },
        "platform": {
          "description": "The platform enum which indicates the platform where the event originates (`WEB`, `IOS`, or `ANDROID`). Not supported by Chat apps.",
          "type": "string",
          "enum": [
            "UNKNOWN_PLATFORM",
            "WEB",
            "IOS",
            "ANDROID"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "description": "Represents information about the user's client, such as locale, host app, and platform. For Chat apps, `CommonEventObject` includes data submitted by users interacting with cards, like data entered in [dialogs](https://developers.google.com/chat/how-tos/dialogs)."
    },
    "GoogleAppsCardV1ImageComponent": {
      "id": "GoogleAppsCardV1ImageComponent",
      "description": "Represents an image.",
      "properties": {
        "imageUri": {
          "description": "The image URL.",
          "type": "string"
        },
        "cropStyle": {
          "description": "The crop style to apply to the image.",
          "$ref": "GoogleAppsCardV1ImageCropStyle"
        },
        "altText": {
          "type": "string",
          "description": "The accessibility label for the image."
        },
        "borderStyle": {
          "description": "The border style to apply to the image.",
          "$ref": "GoogleAppsCardV1BorderStyle"
        }
      },
      "type": "object"
    },
    "SlashCommand": {
      "id": "SlashCommand",
      "properties": {
        "commandId": {
          "format": "int64",
          "description": "The id of the slash command invoked.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A [slash command](https://developers.google.com/chat/how-tos/slash-commands) in Google Chat."
    },
    "TextParagraph": {
      "description": "A paragraph of text. Formatted text supported.",
      "id": "TextParagraph",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1CardHeader": {
      "properties": {
        "imageAltText": {
          "type": "string",
          "description": "The alternative text of this image which is used for accessibility."
        },
        "imageType": {
          "enumDescriptions": [
            "Applies no cropping to the image.",
            "Applies a circular mask to the image."
          ],
          "description": "The image's type.",
          "enum": [
            "SQUARE",
            "CIRCLE"
          ],
          "type": "string"
        },
        "title": {
          "description": "Required. The title of the card header. The header has a fixed height: if both a title and subtitle are specified, each takes up one line. If only the title is specified, it takes up both lines.",
          "type": "string"
        },
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image in the card header."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the card header."
        }
      },
      "id": "GoogleAppsCardV1CardHeader",
      "description": "Represents a card header.",
      "type": "object"
    },
    "GoogleAppsCardV1TextParagraph": {
      "id": "GoogleAppsCardV1TextParagraph",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text that's shown in the widget."
        }
      },
      "description": "A paragraph of text that supports formatting. See [Text formatting](https://developers.google.com/workspace/add-ons/concepts/widgets#text_formatting) for details."
    },
    "AttachmentDataRef": {
      "id": "AttachmentDataRef",
      "description": "A reference to the data of an attachment.",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The resource name of the attachment data. This is used with the media API to download the attachment data."
        }
      },
      "type": "object"
    },
    "Color": {
      "type": "object",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to/from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't carry information about the absolute color space that should be used to interpret the RGB value (e.g. sRGB, Adobe RGB, DCI-P3, BT.2020, etc.). By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most 1e-5. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha \u003c= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red \u003c\u003c 16) | (green \u003c\u003c 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i \u003c missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "properties": {
        "alpha": {
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float",
          "type": "number"
        },
        "red": {
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "blue": {
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "green": {
          "type": "number",
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1]."
        }
      },
      "id": "Color"
    },
    "GoogleAppsCardV1Action": {
      "id": "GoogleAppsCardV1Action",
      "type": "object",
      "properties": {
        "persistValues": {
          "description": "Indicates whether form values persist after the action. The default value is `false`. If `true`, form values remain after the action is triggered. When using [LoadIndicator.NONE](https://developers.google.com/workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) for actions, `persist_values` = `true`is recommended, as it ensures that any changes made by the user after form or on change actions are sent to the server are not overwritten by the response. If `false`, the form values are cleared when the action is triggered. When `persist_values` is set to `false`, it is strongly recommended that the card use [LoadIndicator.SPINNER](https://developers.google.com/workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) for all actions, as this locks the UI to ensure no changes are made by the user while the action is being processed. Not supported by Google Chat apps.",
          "type": "boolean"
        },
        "loadIndicator": {
          "enumDescriptions": [
            "Displays a spinner to indicate that content is loading.",
            "Nothing is displayed."
          ],
          "type": "string",
          "enum": [
            "SPINNER",
            "NONE"
          ],
          "description": "Specifies the loading indicator that the action displays while making the call to the action."
        },
        "parameters": {
          "items": {
            "$ref": "GoogleAppsCardV1ActionParameter"
          },
          "type": "array",
          "description": "List of action parameters."
        },
        "function": {
          "type": "string",
          "description": "Apps Script function to invoke when the containing element is clicked/activated."
        }
      },
      "description": "An action that describes the behavior when the form is submitted. For example, an Apps Script can be invoked to handle the form."
    },
    "TimeZone": {
      "type": "object",
      "description": "The timezone ID and offset from Coordinated Universal Time (UTC). Not supported by Chat apps.",
      "id": "TimeZone",
      "properties": {
        "id": {
          "type": "string",
          "description": "The [IANA TZ](https://www.iana.org/time-zones) time zone database code, such as \"America/Toronto\"."
        },
        "offset": {
          "format": "int32",
          "type": "integer",
          "description": "The user timezone offset, in milliseconds, from Coordinated Universal Time (UTC)."
        }
      }
    },
    "GoogleAppsCardV1ButtonList": {
      "description": "A list of buttons layed out horizontally.",
      "properties": {
        "buttons": {
          "type": "array",
          "description": "An array of buttons.",
          "items": {
            "$ref": "GoogleAppsCardV1Button"
          }
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1ButtonList"
    },
    "Attachment": {
      "id": "Attachment",
      "properties": {
        "contentType": {
          "type": "string",
          "description": "The content type (MIME type) of the file."
        },
        "thumbnailUri": {
          "description": "Output only. The thumbnail URL which should be used to preview the attachment to a human user. Chat apps should not use this URL to download attachment content.",
          "type": "string",
          "readOnly": true
        },
        "driveDataRef": {
          "description": "A reference to the drive attachment. This is used with the Drive API.",
          "$ref": "DriveDataRef"
        },
        "attachmentDataRef": {
          "$ref": "AttachmentDataRef",
          "description": "A reference to the attachment data. This is used with the media API to download the attachment data."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the attachment, in the form \"spaces/*/messages/*/attachments/*\"."
        },
        "contentName": {
          "description": "The original file name for the content, not the full path.",
          "type": "string"
        },
        "source": {
          "description": "The source of the attachment.",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "DRIVE_FILE",
            "UPLOADED_CONTENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "downloadUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The download URL which should be used to allow a human user to download the attachment. Chat apps should not use this URL to download attachment content."
        }
      },
      "type": "object",
      "description": "An attachment in Google Chat."
    },
    "GoogleAppsCardV1CardFixedFooter": {
      "description": "A persistent (sticky) footer that is added to the bottom of the card.",
      "id": "GoogleAppsCardV1CardFixedFooter",
      "type": "object",
      "properties": {
        "secondaryButton": {
          "description": "The secondary button of the fixed footer. The button must be a text button with text and color set. `primaryButton` must be set if `secondaryButton` is set.",
          "$ref": "GoogleAppsCardV1Button"
        },
        "primaryButton": {
          "description": "The primary button of the fixed footer. The button must be a text button with text and color set.",
          "$ref": "GoogleAppsCardV1Button"
        }
      }
    },
    "OpenLink": {
      "description": "A link that opens a new window.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL to open.",
          "type": "string"
        }
      },
      "id": "OpenLink"
    },
    "GoogleAppsCardV1CardAction": {
      "id": "GoogleAppsCardV1CardAction",
      "properties": {
        "actionLabel": {
          "type": "string",
          "description": "The label that displays as the action menu item."
        },
        "onClick": {
          "$ref": "GoogleAppsCardV1OnClick",
          "description": "The `onClick` action for this action item."
        }
      },
      "type": "object",
      "description": "A card action is the action associated with the card. For example, an invoice card might include actions such as delete invoice, email invoice, or open the invoice in a browser. Not supported by Google Chat apps."
    },
    "GoogleAppsCardV1SwitchControl": {
      "id": "GoogleAppsCardV1SwitchControl",
      "description": "Either a toggle-style switch or a checkbox.",
      "type": "object",
      "properties": {
        "controlType": {
          "enum": [
            "SWITCH",
            "CHECKBOX",
            "CHECK_BOX"
          ],
          "description": "The control type, either switch or checkbox.",
          "type": "string",
          "enumDescriptions": [
            "A toggle-style switch.",
            "Deprecated in favor of `CHECK_BOX`.",
            "A checkbox."
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the switch widget that's used in `formInput`."
        },
        "onChangeAction": {
          "description": "The action when the switch state is changed.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "value": {
          "type": "string",
          "description": "The value is what is passed back in the callback."
        },
        "selected": {
          "type": "boolean",
          "description": "If the switch is selected."
        }
      }
    },
    "GoogleAppsCardV1Grid": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1GridItem"
          },
          "description": "The items to display in the grid."
        },
        "columnCount": {
          "type": "integer",
          "description": "The number of columns to display in the grid. A default value is used if this field isn't specified, and that default value is different depending on where the grid is shown (dialog versus companion).",
          "format": "int32"
        },
        "title": {
          "description": "The text that displays in the grid header.",
          "type": "string"
        },
        "onClick": {
          "description": "This callback is reused by each individual grid item, but with the item's identifier and index in the items list added to the callback's parameters.",
          "$ref": "GoogleAppsCardV1OnClick"
        },
        "borderStyle": {
          "$ref": "GoogleAppsCardV1BorderStyle",
          "description": "The border style to apply to each grid item."
        }
      },
      "id": "GoogleAppsCardV1Grid",
      "type": "object",
      "description": "Represents a Grid widget that displays items in a configurable grid layout."
    },
    "DateInput": {
      "id": "DateInput",
      "description": "Date input values. Not supported by Chat apps.",
      "type": "object",
      "properties": {
        "msSinceEpoch": {
          "description": "Time since epoch time, in milliseconds.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Membership": {
      "type": "object",
      "description": "Represents a membership relation in Google Chat, such as whether a user or Chat app is invited to, part of, or absent from a space.",
      "properties": {
        "name": {
          "description": "Resource name of the membership. Format: spaces/{space}/members/{member}",
          "type": "string"
        },
        "state": {
          "enum": [
            "MEMBERSHIP_STATE_UNSPECIFIED",
            "JOINED",
            "INVITED",
            "NOT_A_MEMBER"
          ],
          "description": "Output only. State of the membership.",
          "readOnly": true,
          "enumDescriptions": [
            "Default, do not use.",
            "The user has joined the space.",
            "The user has been invited, is able to join the space, but currently has not joined.",
            "The user is not a member of the space, has not been invited and is not able to join the space."
          ],
          "type": "string"
        },
        "role": {
          "description": "Output only. User's role within a Chat space, which determines their permitted actions in the space.",
          "readOnly": true,
          "enum": [
            "MEMBERSHIP_ROLE_UNSPECIFIED",
            "ROLE_MEMBER",
            "ROLE_MANAGER"
          ],
          "enumDescriptions": [
            "Default value. The user isn't a member of the space, but might be invited.",
            "A member of the space. The user has basic permissions, like sending messages to the space. In 1:1 and unnamed group conversations, everyone has this role.",
            "A space manager. The user has all basic permissions plus administrative permissions that allow them to manage the space, like adding or removing members. Only supports SpaceType.SPACE."
          ],
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation time of the membership, such as when a member joined or was invited to join a space.",
          "type": "string",
          "readOnly": true
        },
        "member": {
          "description": "A Google Chat user or app. Format: `users/{user}` or `users/app` When `users/{user}`, represents a [person](https://developers.google.com/people/api/rest/v1/people) in the People API or a [user](https://developers.google.com/admin-sdk/directory/reference/rest/v1/users) in the Admin SDK Directory API. When `users/app`, represents a Chat app creating membership for itself.",
          "$ref": "User"
        }
      },
      "id": "Membership"
    },
    "SlashCommandMetadata": {
      "type": "object",
      "properties": {
        "commandId": {
          "type": "string",
          "format": "int64",
          "description": "The command id of the invoked slash command."
        },
        "bot": {
          "description": "The Chat app whose command was invoked.",
          "$ref": "User"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "INVOKE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Add Chat app to space.",
            "Invoke slash command in space."
          ],
          "description": "The type of slash command."
        },
        "commandName": {
          "description": "The name of the invoked slash command.",
          "type": "string"
        },
        "triggersDialog": {
          "type": "boolean",
          "description": "Indicating whether the slash command is for a dialog."
        }
      },
      "description": "Annotation metadata for slash commands (/).",
      "id": "SlashCommandMetadata"
    },
    "GoogleAppsCardV1DateTimePicker": {
      "description": "The widget that lets users to specify a date and time. Not supported by Google Chat apps.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the text input that's used in `formInput`, and uniquely identifies this input.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "The label for the field that displays to the user."
        },
        "type": {
          "description": "The type of the date/time picker.",
          "enum": [
            "DATE_AND_TIME",
            "DATE_ONLY",
            "TIME_ONLY"
          ],
          "enumDescriptions": [
            "The user can select a date and time.",
            "The user can only select a date.",
            "The user can only select a time."
          ],
          "type": "string"
        },
        "valueMsEpoch": {
          "type": "string",
          "format": "int64",
          "description": "The value to display as the default value before user input or previous user input. It is represented in milliseconds (Epoch time). For `DATE_AND_TIME` type, the full epoch value is used. For `DATE_ONLY` type, only date of the epoch time is used. For `TIME_ONLY` type, only time of the epoch time is used. For example, you can set epoch time to `3 * 60 * 60 * 1000` to represent 3am."
        },
        "onChangeAction": {
          "description": "Triggered when the user clicks Save or Clear from the date/time picker dialog. This is only triggered if the value changed as a result of the Save/Clear operation.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "timezoneOffsetDate": {
          "format": "int32",
          "description": "The number representing the time zone offset from UTC, in minutes. If set, the `value_ms_epoch` is displayed in the specified time zone. If not set, it uses the user's time zone setting on the client side.",
          "type": "integer"
        }
      },
      "id": "GoogleAppsCardV1DateTimePicker"
    },
    "GoogleAppsCardV1BorderStyle": {
      "id": "GoogleAppsCardV1BorderStyle",
      "description": "Represents the complete border style applied to widgets.",
      "type": "object",
      "properties": {
        "strokeColor": {
          "$ref": "Color",
          "description": "The colors to use when the type is `BORDER_TYPE_STROKE`."
        },
        "type": {
          "description": "The border type.",
          "enum": [
            "BORDER_TYPE_UNSPECIFIED",
            "NO_BORDER",
            "STROKE"
          ],
          "type": "string",
          "enumDescriptions": [
            "No value specified.",
            "No border.",
            "Outline."
          ]
        },
        "cornerRadius": {
          "type": "integer",
          "format": "int32",
          "description": "The corner radius for the border."
        }
      }
    },
    "GoogleAppsCardV1Widget": {
      "properties": {
        "grid": {
          "description": "Displays a grid with a collection of items. For example, the following JSON creates a 2 column grid with a single item: ``` \"grid\": { \"title\": \"A fine collection of items\", \"numColumns\": 2, \"borderStyle\": { \"type\": \"STROKE\", \"cornerRadius\": 4.0 }, \"items\": [ \"image\": { \"imageUri\": \"https://www.example.com/image.png\", \"cropStyle\": { \"type\": \"SQUARE\" }, \"borderStyle\": { \"type\": \"STROKE\" } }, \"title\": \"An item\", \"textAlignment\": \"CENTER\" ], \"onClick\": { \"openLink\": { \"url\":\"https://www.example.com\" } } } ```",
          "$ref": "GoogleAppsCardV1Grid"
        },
        "horizontalAlignment": {
          "enumDescriptions": [
            "Unspecified alignment.",
            "Alignment to the start position.",
            "Alignment to the center position.",
            "Alignment to the end position."
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "description": "The horizontal alignment of this widget.",
          "type": "string"
        },
        "divider": {
          "$ref": "GoogleAppsCardV1Divider",
          "description": "Displays a divider. For example, the following JSON creates a divider: ``` \"divider\": { } ```"
        },
        "dateTimePicker": {
          "description": "Displays a selection/input widget for date/time. For example, the following JSON creates a date/time picker for an appointment time: ``` \"date_time_picker\": { \"name\": \"appointment_time\", \"label\": \"Book your appointment at:\", \"type\": \"DateTimePickerType.DATE_AND_TIME\", \"valueMsEpoch\": \"796435200000\" } ```",
          "$ref": "GoogleAppsCardV1DateTimePicker"
        },
        "decoratedText": {
          "$ref": "GoogleAppsCardV1DecoratedText",
          "description": "Displays a decorated text item in this widget. For example, the following JSON creates a decorated text widget showing email address: ``` \"decoratedText\": { \"icon\": { \"knownIcon\": \"EMAIL\" }, \"topLabel\": \"Email Address\", \"content\": \"sasha@example.com\", \"bottomLabel\": \"This is a new Email address!\", \"switchWidget\": { \"name\": \"has_send_welcome_email_to_sasha\", \"selected\": false, \"controlType\": \"ControlType.CHECKBOX\" } } ```"
        },
        "buttonList": {
          "$ref": "GoogleAppsCardV1ButtonList",
          "description": "A list of buttons. For example, the following JSON creates two buttons. The first is a filled text button and the second is an image button that opens a link: ``` \"buttonList\": { \"buttons\": [ \"button\": { \"text\": \"Edit\", \"Color\": { \"Red\": 255 \"Green\": 255 \"Blue\": 255 } \"disabled\": true }, \"button\": { \"icon\": { \"knownIcon\": \"INVITE\" \"altText\": \"check calendar\" }, \"onClick\": { \"openLink\": { \"url\": \"https://example.com/calendar\" } } }, ] } ```"
        },
        "image": {
          "$ref": "GoogleAppsCardV1Image",
          "description": "Displays an image in this widget. For example, the following JSON creates an image with alternative text: ``` \"image\": { \"imageUrl\": \"https://example.com/sasha.png\" \"altText\": \"Avatar for Sasha\" } ```"
        },
        "textInput": {
          "description": "Displays a text input in this widget. For example, the following JSON creates a text input for mail address: ``` \"textInput\": { \"name\": \"mailing_address\", \"label\": \"Mailing Address\" } ``` As another example, the following JSON creates a text input for programming language with static suggestions: ``` \"textInput\": { \"name\": \"preferred_programing_language\", \"label\": \"Preferred Language\", \"initialSuggestions\": { \"items\": [ { \"text\": \"C++\" }, { \"text\": \"Java\" }, { \"text\": \"JavaScript\" }, { \"text\": \"Python\" } ] } } ```",
          "$ref": "GoogleAppsCardV1TextInput"
        },
        "textParagraph": {
          "description": "Displays a text paragraph in this widget. For example, the following JSON creates a bolded text: ``` \"textParagraph\": { \"text\": \" *bold text*\" } ```",
          "$ref": "GoogleAppsCardV1TextParagraph"
        },
        "selectionInput": {
          "$ref": "GoogleAppsCardV1SelectionInput",
          "description": "Displays a switch control in this widget. For example, the following JSON creates a dropdown selection for size: ``` \"switchControl\": { \"name\": \"size\", \"label\": \"Size\" \"type\": \"SelectionType.DROPDOWN\", \"items\": [ { \"text\": \"S\", \"value\": \"small\", \"selected\": false }, { \"text\": \"M\", \"value\": \"medium\", \"selected\": true }, { \"text\": \"L\", \"value\": \"large\", \"selected\": false }, { \"text\": \"XL\", \"value\": \"extra_large\", \"selected\": false } ] } ```"
        }
      },
      "id": "GoogleAppsCardV1Widget",
      "description": "A widget is a UI element that presents texts, images, etc.",
      "type": "object"
    },
    "ActionResponse": {
      "type": "object",
      "description": "Parameters that a Chat app can use to configure how it's response is posted.",
      "id": "ActionResponse",
      "properties": {
        "url": {
          "description": "Input only. URL for users to auth or config. (Only for REQUEST_CONFIG response types.)",
          "type": "string"
        },
        "dialogAction": {
          "$ref": "DialogAction",
          "description": "Input only. A response to an event related to a [dialog](https://developers.google.com/chat/how-tos/dialogs). Must be accompanied by `ResponseType.Dialog`."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NEW_MESSAGE",
            "UPDATE_MESSAGE",
            "UPDATE_USER_MESSAGE_CARDS",
            "REQUEST_CONFIG",
            "DIALOG"
          ],
          "description": "Input only. The type of Chat app response.",
          "enumDescriptions": [
            "Default type; will be handled as NEW_MESSAGE.",
            "Post as a new message in the topic.",
            "Update the Chat app's message. This is only permitted on a CARD_CLICKED event where the message sender type is BOT.",
            "Update the cards on a user's message. This is only permitted as a response to a MESSAGE event with a matched url, or a CARD_CLICKED event where the message sender type is HUMAN. Text will be ignored.",
            "Privately ask the user for additional auth or config.",
            "Presents a [dialog](https://developers.google.com/chat/how-tos/dialogs)."
          ]
        }
      }
    },
    "GoogleAppsCardV1TextInput": {
      "id": "GoogleAppsCardV1TextInput",
      "properties": {
        "value": {
          "type": "string",
          "description": "The default value when there is no input from the user."
        },
        "hintText": {
          "type": "string",
          "description": "The hint text."
        },
        "autoCompleteAction": {
          "description": "The refresh function that returns suggestions based on the user's input text. If the callback is not specified, autocomplete is done in client side based on the initial suggestion items.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "type": {
          "enumDescriptions": [
            "The text is put into a single line.",
            "The text is put into multiple lines."
          ],
          "description": "The style of the text, for example, a single line or multiple lines.",
          "enum": [
            "SINGLE_LINE",
            "MULTIPLE_LINE"
          ],
          "type": "string"
        },
        "initialSuggestions": {
          "description": "The initial suggestions made before any user input.",
          "$ref": "GoogleAppsCardV1Suggestions"
        },
        "label": {
          "description": "At least one of label and hintText must be specified.",
          "type": "string"
        },
        "onChangeAction": {
          "description": "The onChange action, for example, invoke a function.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "name": {
          "type": "string",
          "description": "The name of the text input which is used in `formInput`."
        }
      },
      "type": "object",
      "description": "A text input is a UI item where users can input text. A text input can also have an onChange action and suggestions."
    },
    "TextButton": {
      "type": "object",
      "properties": {
        "text": {
          "description": "The text of the button.",
          "type": "string"
        },
        "onClick": {
          "$ref": "OnClick",
          "description": "The onclick action of the button."
        }
      },
      "description": "A button with text and onclick action.",
      "id": "TextButton"
    },
    "Space": {
      "description": "A space in Google Chat. Spaces are conversations between two or more users or 1:1 messages between a user and a Chat app.",
      "id": "Space",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ROOM",
            "DM"
          ],
          "description": "Output only. Deprecated: Use `singleUserBotDm` or `spaceType` (developer preview) instead. The type of a space.",
          "enumDescriptions": [
            "",
            "Conversations between two or more humans.",
            "1:1 Direct Message between a human and a Chat app, where all messages are flat. Note that this does not include direct messages between two humans."
          ]
        },
        "displayName": {
          "description": "The space's display name. For direct messages between humans, this field might be empty.",
          "type": "string"
        },
        "threaded": {
          "type": "boolean",
          "description": "Output only. Deprecated: Use `spaceThreadingState` instead. Whether messages are threaded in this space.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Resource name of the space. Format: spaces/{space}"
        },
        "spaceDetails": {
          "description": "Details about the space including description and rules.",
          "$ref": "SpaceDetails"
        },
        "singleUserBotDm": {
          "type": "boolean",
          "description": "Optional. Whether the space is a DM between a Chat app and a single human."
        },
        "spaceThreadingState": {
          "readOnly": true,
          "description": "Output only. The threading state in the Chat space.",
          "type": "string",
          "enumDescriptions": [
            "Reserved.",
            "Named spaces that support message threads. When users respond to a message, they can reply in-thread, which keeps their response in the context of the original message.",
            "Named spaces where the conversation is organized by topic. Topics and their replies are grouped together.",
            "Direct messages (DMs) between two people and group conversations between 3 or more people."
          ],
          "enum": [
            "SPACE_THREADING_STATE_UNSPECIFIED",
            "THREADED_MESSAGES",
            "GROUPED_MESSAGES",
            "UNTHREADED_MESSAGES"
          ]
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1Divider": {
      "type": "object",
      "id": "GoogleAppsCardV1Divider",
      "description": "A divider that appears in between widgets.",
      "properties": {}
    },
    "GoogleAppsCardV1Button": {
      "type": "object",
      "description": "A button. Can be a text button or an image button.",
      "properties": {
        "color": {
          "description": "If set, the button is filled with a solid background.",
          "$ref": "Color"
        },
        "icon": {
          "description": "The icon image.",
          "$ref": "GoogleAppsCardV1Icon"
        },
        "text": {
          "type": "string",
          "description": "The text of the button."
        },
        "onClick": {
          "description": "The action to perform when the button is clicked.",
          "$ref": "GoogleAppsCardV1OnClick"
        },
        "disabled": {
          "type": "boolean",
          "description": "If `true`, the button is displayed in a disabled state and doesn't respond to user actions."
        },
        "altText": {
          "type": "string",
          "description": "The alternative text used for accessibility. Has no effect when an icon is set; use `icon.alt_text` instead."
        }
      },
      "id": "GoogleAppsCardV1Button"
    },
    "Thread": {
      "type": "object",
      "id": "Thread",
      "properties": {
        "name": {
          "description": "Resource name of the thread. Example: spaces/{space}/threads/{thread}",
          "type": "string"
        },
        "threadKey": {
          "description": "Optional. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread). For other requests, this is an output only field.",
          "type": "string"
        }
      },
      "description": "A thread in Google Chat."
    },
    "StringInputs": {
      "id": "StringInputs",
      "properties": {
        "value": {
          "description": "An array of strings entered by the user.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Input parameter for regular widgets. For single-valued widgets, it is a single value list. For multi-valued widgets, such as checkbox, all the values are presented."
    },
    "Inputs": {
      "properties": {
        "dateInput": {
          "description": "Date input values. Not supported by Chat apps.",
          "$ref": "DateInput"
        },
        "dateTimeInput": {
          "description": "Date and time input values. Not supported by Chat apps.",
          "$ref": "DateTimeInput"
        },
        "stringInputs": {
          "description": "Input parameter for regular widgets. For single-valued widgets, it is a single value list. For multi-valued widgets, such as checkbox, all the values are presented.",
          "$ref": "StringInputs"
        },
        "timeInput": {
          "description": "Time input values. Not supported by Chat apps.",
          "$ref": "TimeInput"
        }
      },
      "id": "Inputs",
      "type": "object",
      "description": "Types of data inputs for widgets. Users enter data with these inputs."
    },
    "GoogleAppsCardV1ActionParameter": {
      "id": "GoogleAppsCardV1ActionParameter",
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze 1 day, snooze next week. You might use action method = snooze(), passing the snooze type and snooze time in the list of string parameters.",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The name of the parameter for the action script."
        },
        "value": {
          "description": "The value of the parameter.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCardV1OnClick": {
      "description": "Represents the response to an `onClick` event.",
      "id": "GoogleAppsCardV1OnClick",
      "type": "object",
      "properties": {
        "action": {
          "description": "If specified, an action is triggered by this `onClick`.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "openLink": {
          "$ref": "GoogleAppsCardV1OpenLink",
          "description": "If specified, this `onClick` triggers an open link action."
        },
        "openDynamicLinkAction": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "An add-on triggers this action when the action needs to open a link. This differs from the `open_link` above in that this needs to talk to server to get the link. Thus some preparation work is required for web client to do before the open link action response comes back."
        },
        "card": {
          "description": "A new card is pushed to the card stack after clicking if specified.",
          "$ref": "GoogleAppsCardV1Card"
        }
      }
    },
    "Button": {
      "description": "A button. Can be a text button or an image button.",
      "type": "object",
      "properties": {
        "textButton": {
          "$ref": "TextButton",
          "description": "A button with text and onclick action."
        },
        "imageButton": {
          "$ref": "ImageButton",
          "description": "A button with image and onclick action."
        }
      },
      "id": "Button"
    },
    "ActionParameter": {
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze 1 day, snooze next week. You might use action method = snooze(), passing the snooze type and snooze time in the list of string parameters.",
      "id": "ActionParameter",
      "properties": {
        "value": {
          "description": "The value of the parameter.",
          "type": "string"
        },
        "key": {
          "description": "The name of the parameter for the action script.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CardAction": {
      "properties": {
        "onClick": {
          "$ref": "OnClick",
          "description": "The onclick action for this action item."
        },
        "actionLabel": {
          "description": "The label used to be displayed in the action menu item.",
          "type": "string"
        }
      },
      "id": "CardAction",
      "type": "object",
      "description": "A card action is the action associated with the card. For an invoice card, a typical action would be: delete invoice, email invoice or open the invoice in browser. Not supported by Google Chat apps."
    },
    "User": {
      "properties": {
        "isAnonymous": {
          "description": "Output only. When `true`, the user is deleted or their profile is not visible.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Resource name for a Google Chat user. For human users, represents a person in the People API or a user in the Admin SDK Directory API. Format: `users/{user}`"
        },
        "displayName": {
          "description": "Output only. The user's display name.",
          "type": "string",
          "readOnly": true
        },
        "domainId": {
          "type": "string",
          "description": "Unique identifier of the user's Google Workspace domain."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Human user.",
            "Chat app user."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "HUMAN",
            "BOT"
          ],
          "description": "User type."
        }
      },
      "id": "User",
      "type": "object",
      "description": "A user in Google Chat."
    },
    "FormAction": {
      "properties": {
        "actionMethodName": {
          "description": "The method name is used to identify which part of the form triggered the form submission. This information is echoed back to the Chat app as part of the card click event. The same method name can be used for several elements that trigger a common behavior if desired.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "description": "List of action parameters.",
          "items": {
            "$ref": "ActionParameter"
          }
        }
      },
      "id": "FormAction",
      "description": "A form action describes the behavior when the form is submitted. For example, an Apps Script can be invoked to handle the form.",
      "type": "object"
    },
    "OnClick": {
      "id": "OnClick",
      "description": "An onclick action (e.g. open a link).",
      "type": "object",
      "properties": {
        "openLink": {
          "$ref": "OpenLink",
          "description": "This onclick triggers an open link action if specified."
        },
        "action": {
          "$ref": "FormAction",
          "description": "A form action will be triggered by this onclick if specified."
        }
      }
    },
    "GoogleAppsCardV1SuggestionItem": {
      "type": "object",
      "id": "GoogleAppsCardV1SuggestionItem",
      "description": "A suggestion item.",
      "properties": {
        "text": {
          "description": "The suggested autocomplete result.",
          "type": "string"
        }
      }
    },
    "ListSpacesResponse": {
      "id": "ListSpacesResponse",
      "type": "object",
      "properties": {
        "spaces": {
          "description": "List of spaces in the requested (or first) page.",
          "items": {
            "$ref": "Space"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `pageToken` to retrieve the next page of results. If empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCardV1Icon": {
      "id": "GoogleAppsCardV1Icon",
      "properties": {
        "knownIcon": {
          "type": "string",
          "description": "The icon specified by the string name of a list of known icons."
        },
        "altText": {
          "description": "The description of the icon, used for accessibility. The default value is provided if you don't specify one.",
          "type": "string"
        },
        "imageType": {
          "enumDescriptions": [
            "Applies no cropping to the image.",
            "Applies a circular mask to the image."
          ],
          "enum": [
            "SQUARE",
            "CIRCLE"
          ],
          "type": "string",
          "description": "The crop style applied to the image. In some cases, applying a `CIRCLE` crop causes the image to be drawn larger than a standard icon."
        },
        "iconUrl": {
          "description": "The icon specified by a URL.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ImageButton": {
      "id": "ImageButton",
      "type": "object",
      "description": "An image button with an onclick action.",
      "properties": {
        "icon": {
          "description": "The icon specified by an enum that indices to an icon provided by Chat API.",
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon specified by a URL."
        },
        "onClick": {
          "description": "The onclick action.",
          "$ref": "OnClick"
        },
        "name": {
          "description": "The name of this image_button which will be used for accessibility. Default value will be provided if developers don't specify.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCardV1GridItem": {
      "id": "GoogleAppsCardV1GridItem",
      "type": "object",
      "properties": {
        "image": {
          "$ref": "GoogleAppsCardV1ImageComponent",
          "description": "The image that displays in the grid item."
        },
        "id": {
          "description": "A user-specified identifier for this grid item. This identifier is returned in the parent Grid's onClick callback parameters.",
          "type": "string"
        },
        "textAlignment": {
          "enumDescriptions": [
            "Unspecified alignment.",
            "Alignment to the start position.",
            "Alignment to the center position.",
            "Alignment to the end position."
          ],
          "description": "The horizontal alignment of the grid item's text.",
          "type": "string",
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ]
        },
        "layout": {
          "enumDescriptions": [
            "No layout specified.",
            "The title and subtitle are shown below the grid item's image.",
            "The title and subtitle are shown above the grid item's image."
          ],
          "description": "The layout to use for the grid item.",
          "enum": [
            "GRID_ITEM_LAYOUT_UNSPECIFIED",
            "TEXT_BELOW",
            "TEXT_ABOVE"
          ],
          "type": "string"
        },
        "subtitle": {
          "description": "The grid item's subtitle.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The grid item's title."
        }
      },
      "description": "Represents a single item in the grid layout."
    },
    "GoogleAppsCardV1OpenLink": {
      "id": "GoogleAppsCardV1OpenLink",
      "description": "Represents an `onClick` event that opens a hyperlink.",
      "type": "object",
      "properties": {
        "onClose": {
          "enum": [
            "NOTHING",
            "RELOAD"
          ],
          "enumDescriptions": [
            "Default value. The card does not reload; nothing happens.",
            "Reloads the card after the child window closes. If used in conjunction with [OpenAs.OVERLAY](https://developers.google.com/workspace/add-ons/reference/rpc/google.apps.card.v1#openas), the child window acts as a modal dialog and the parent card is blocked until the child window closes."
          ],
          "type": "string",
          "description": "Whether the client forgets about a link after opening it, or observes it until the window closes. Not supported by Chat apps."
        },
        "openAs": {
          "enum": [
            "FULL_SIZE",
            "OVERLAY"
          ],
          "type": "string",
          "description": "How to open a link. Not supported by Chat apps.",
          "enumDescriptions": [
            "The link opens as a full size window (if that's the frame used by the client.",
            "The link opens as an overlay, such as a pop-up."
          ]
        },
        "url": {
          "description": "The URL to open.",
          "type": "string"
        }
      }
    },
    "UserMentionMetadata": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Add user to space.",
            "Mention user in space."
          ],
          "description": "The type of user mention.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "MENTION"
          ],
          "type": "string"
        },
        "user": {
          "description": "The user mentioned.",
          "$ref": "User"
        }
      },
      "id": "UserMentionMetadata",
      "description": "Annotation metadata for user mentions (@).",
      "type": "object"
    },
    "MatchedUrl": {
      "description": "A matched url in a Chat message. Chat apps can preview matched URLs. For more information, refer to [Preview links](https://developers.google.com/chat/how-tos/preview-links).",
      "id": "MatchedUrl",
      "properties": {
        "url": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The url that was matched."
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1Image": {
      "type": "object",
      "properties": {
        "onClick": {
          "description": "The action triggered by an `onClick` event.",
          "$ref": "GoogleAppsCardV1OnClick"
        },
        "altText": {
          "description": "The alternative text of this image, used for accessibility.",
          "type": "string"
        },
        "imageUrl": {
          "description": "An image URL.",
          "type": "string"
        }
      },
      "description": "An image that is specified by a URL and can have an `onClick` action.",
      "id": "GoogleAppsCardV1Image"
    },
    "GoogleAppsCardV1Section": {
      "description": "A section contains a collection of widgets that are rendered vertically in the order that they are specified. Across all platforms, cards have a narrow fixed width, so there is currently no need for layout properties, for example, float.",
      "type": "object",
      "id": "GoogleAppsCardV1Section",
      "properties": {
        "uncollapsibleWidgetsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of uncollapsible widgets. For example, when a section contains five widgets and the `uncollapsibleWidgetsCount` is set to `2`, the first two widgets are always shown and the last three are collapsed as default. The `uncollapsibleWidgetsCount` is taken into account only when `collapsible` is `true`."
        },
        "collapsible": {
          "description": "Indicates whether this section is collapsible. If a section is collapsible, the description must be given.",
          "type": "boolean"
        },
        "widgets": {
          "description": "A section must contain at least 1 widget.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1Widget"
          }
        },
        "header": {
          "description": "The header of the section. Formatted text is supported.",
          "type": "string"
        }
      }
    },
    "DeprecatedEvent": {
      "properties": {
        "threadKey": {
          "type": "string",
          "description": "The Chat app-defined key for the thread related to the event. See the thread_key field of the `spaces.message.create` request for more information."
        },
        "user": {
          "$ref": "User",
          "description": "The user that triggered the event."
        },
        "common": {
          "$ref": "CommonEventObject",
[...]
