{
  "discoveryVersion": "v1",
  "version": "v1",
  "revision": "20221020",
  "baseUrl": "https://chromepolicy.googleapis.com/",
  "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
  "version_module": true,
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "title": "Chrome Policy API",
  "name": "chromepolicy",
  "canonicalName": "Chrome Policy",
  "rootUrl": "https://chromepolicy.googleapis.com/",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "ownerDomain": "google.com",
  "documentationLink": "http://developers.google.com/chrome/policy",
  "basePath": "",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "parameterOrder": [
            "customer"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/chrome.management.policy"
          ],
          "parameters": {
            "customer": {
              "type": "string",
              "pattern": "^customers/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The customer for which the file upload will apply."
            }
          },
          "id": "chromepolicy.media.upload",
          "response": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
          },
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/{+customer}/policies/files:uploadPolicyFile"
              }
            }
          },
          "description": "Creates an enterprise file from the content provided by user. Returns a public download url for end user.",
          "path": "v1/{+customer}/policies/files:uploadPolicyFile",
          "flatPath": "v1/customers/{customersId}/policies/files:uploadPolicyFile",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
          }
        }
      }
    },
    "customers": {
      "resources": {
        "policySchemas": {
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The schema filter used to find a particular schema based on fields like its resource name, description and `additionalTargetKeyNames`."
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The customer for which the listing request will apply.",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of policy schemas to return, defaults to 100 and has a maximum of 1000.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The page token used to retrieve a specific page of the listing request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse"
              },
              "id": "chromepolicy.customers.policySchemas.list",
              "description": "Gets a list of policy schemas that match a specified filter value for a given customer.",
              "flatPath": "v1/customers/{customersId}/policySchemas",
              "httpMethod": "GET",
              "path": "v1/{+parent}/policySchemas"
            },
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
              },
              "flatPath": "v1/customers/{customersId}/policySchemas/{policySchemasId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/policySchemas/.*$",
                  "description": "Required. The policy schema resource name to query."
                }
              },
              "httpMethod": "GET",
              "id": "chromepolicy.customers.policySchemas.get",
              "description": "Get a specific policy schema for a customer by its resource name."
            }
          }
        },
        "policies": {
          "resources": {
            "groups": {
              "methods": {
                "batchModify": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "chromepolicy.customers.policies.groups.batchModify",
                  "httpMethod": "POST",
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchModify",
                  "path": "v1/{+customer}/policies/groups:batchModify",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "required": true,
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "location": "path",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "description": "Modify multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status."
                },
                "listGroupPriorityOrdering": {
                  "description": "Retrieve a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/groups:listGroupPriorityOrdering",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse"
                  },
                  "path": "v1/{+customer}/policies/groups:listGroupPriorityOrdering",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
                  },
                  "httpMethod": "POST",
                  "id": "chromepolicy.customers.policies.groups.listGroupPriorityOrdering",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy",
                    "https://www.googleapis.com/auth/chrome.management.policy.readonly"
                  ],
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "customer": {
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "updateGroupPriorityOrdering": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "chromepolicy.customers.policies.groups.updateGroupPriorityOrdering",
                  "flatPath": "v1/customers/{customersId}/policies/groups:updateGroupPriorityOrdering",
                  "parameters": {
                    "customer": {
                      "required": true,
                      "location": "path",
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "pattern": "^customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Update a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest"
                  },
                  "path": "v1/{+customer}/policies/groups:updateGroupPriorityOrdering",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameterOrder": [
                    "customer"
                  ]
                },
                "batchDelete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "description": "Delete multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameterOrder": [
                    "customer"
                  ],
                  "id": "chromepolicy.customers.policies.groups.batchDelete",
                  "path": "v1/{+customer}/policies/groups:batchDelete",
                  "httpMethod": "POST",
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchDelete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest"
                  },
                  "parameters": {
                    "customer": {
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "networks": {
              "methods": {
                "defineNetwork": {
                  "id": "chromepolicy.customers.policies.networks.defineNetwork",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "description": "Required. The customer who will own this new network."
                    }
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineNetwork",
                  "path": "v1/{+customer}/policies/networks:defineNetwork",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkResponse"
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkRequest"
                  },
                  "description": "Define a new network."
                },
                "removeCertificate": {
                  "path": "v1/{+customer}/policies/networks:removeCertificate",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
                  },
                  "description": "Remove an existing certificate by guid.",
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The customer whose certificate will be removed.",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateRequest"
                  },
                  "id": "chromepolicy.customers.policies.networks.removeCertificate",
                  "parameterOrder": [
                    "customer"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeCertificate",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "httpMethod": "POST"
                },
                "removeNetwork": {
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The customer whose network will be removed."
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeNetwork",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "path": "v1/{+customer}/policies/networks:removeNetwork",
                  "description": "Remove an existing network by guid.",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkResponse"
                  },
                  "id": "chromepolicy.customers.policies.networks.removeNetwork",
                  "parameterOrder": [
                    "customer"
                  ],
                  "httpMethod": "POST"
                },
                "defineCertificate": {
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer for which the certificate will apply."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+customer}/policies/networks:defineCertificate",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
                  },
                  "description": "Creates a certificate at a specified OU for a customer.",
                  "id": "chromepolicy.customers.policies.networks.defineCertificate",
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineCertificate"
                }
              }
            },
            "orgunits": {
              "methods": {
                "batchInherit": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchInherit",
                  "path": "v1/{+customer}/policies/orgunits:batchInherit",
                  "description": "Modify multiple policy values that are applied to a specific org unit so that they now inherit the value from a parent (if applicable). All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest"
                  },
                  "httpMethod": "POST",
                  "id": "chromepolicy.customers.policies.orgunits.batchInherit",
                  "parameters": {
                    "customer": {
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request."
                    }
                  }
                },
                "batchModify": {
                  "path": "v1/{+customer}/policies/orgunits:batchModify",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchModify",
                  "description": "Modify multiple policy values that are applied to a specific org unit. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "id": "chromepolicy.customers.policies.orgunits.batchModify",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "customer": {
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ]
                }
              }
            }
          },
          "methods": {
            "resolve": {
              "request": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveRequest"
              },
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveResponse"
              },
              "flatPath": "v1/customers/{customersId}/policies:resolve",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "httpMethod": "POST",
              "id": "chromepolicy.customers.policies.resolve",
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/policies:resolve",
              "parameters": {
                "customer": {
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request."
                }
              },
              "description": "Gets the resolved policy values for a list of policies that match a search query."
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.policy": {
          "description": "See, edit, create or delete policies applied to Chrome OS and Chrome Browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.policy.readonly": {
          "description": "See policies applied to Chrome OS and Chrome Browsers managed within your organization"
        }
      }
    }
  },
  "id": "chromepolicy:v1",
  "protocol": "rest",
  "mtlsRootUrl": "https://chromepolicy.mtls.googleapis.com/",
  "schemas": {
    "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest": {
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        },
        "policyValue": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "The new value for the policy."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'."
        }
      },
      "description": "Request parameters for modifying a policy value for a specific group target.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
    },
    "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle": {
      "id": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
      "properties": {
        "endSupport": {
          "description": "End supporting date for current policy.",
          "$ref": "GoogleTypeDate"
        },
        "description": {
          "description": "Description about current life cycle.",
          "type": "string"
        },
        "policyApiLifecycleStage": {
          "description": "Indicate current life cycle stage of the policy API.",
          "type": "string",
          "enum": [
            "API_UNSPECIFIED",
            "API_PREVIEW",
            "API_DEVELOPMENT",
            "API_CURRENT",
            "API_DEPRECATED"
          ],
          "enumDescriptions": [
            "unspecified.",
            "Policy is not working yet, but giving developers heads up on format. This stage can transfer to API_DEVELOPEMNT or API_CURRENT.",
            "Policy can change format in backward incompatible way (breaking change). This stage can transfer to API_CURRENT or API_DEPRECATED. This could be used for policies launched only to TTs or launched to selected customers for emergency usage.",
            "Policy in official format. Policy can change format in backward compatible way (non-breaking change). Example: this policy can introduce a new field, which is considered non-breaking change, when field masks are properly utilized. This stage can transfer to API_DEPRECATED.",
            "Please stop using this policy. This policy is deprecated and may/will be removed in the future. Most likely a new policy was introduced to replace this one."
          ]
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest": {
      "id": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest",
      "type": "object",
      "description": "Request parameters for modifying a policy value for a specific org unit target.",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        },
        "policyValue": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "The new value for the policy."
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies": {
      "properties": {
        "sourceField": {
          "description": "The source field which this field depends on.",
          "type": "string"
        },
        "sourceFieldValue": {
          "type": "string",
          "description": "The value which the source field must have for this field to be allowed to be set."
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies",
      "description": "The field and the value it must have for another field to be allowed to be set."
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkResponse": {
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkResponse",
      "type": "object",
      "properties": {},
      "description": "Response object for removing a network."
    },
    "Proto2OneofDescriptorProto": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "Proto2OneofDescriptorProto",
      "description": "Describes a oneof."
    },
    "GoogleChromePolicyVersionsV1ListPolicySchemasResponse": {
      "id": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token used to get the next page of policy schemas.",
          "type": "string"
        },
        "policySchemas": {
          "description": "The list of policy schemas that match the query.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
          },
          "type": "array"
        }
      },
      "description": "Response message for listing policy schemas that match a filter."
    },
    "GoogleChromePolicyVersionsV1DefineNetworkRequest": {
      "id": "GoogleChromePolicyVersionsV1DefineNetworkRequest",
      "properties": {
        "settings": {
          "description": "Required. Detailed network settings.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "type": "array"
        },
        "name": {
          "description": "Required. Name of the new created network.",
          "type": "string"
        },
        "targetResource": {
          "description": "Required. The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request object for creating a new network."
    },
    "Proto2FieldDescriptorProto": {
      "properties": {
        "proto3Optional": {
          "description": "If true, this is a proto3 \"optional\". When a proto3 field is optional, it tracks presence regardless of field type. When proto3_optional is true, this field must be belong to a oneof to signal to old proto3 clients that presence is tracked for this field. This oneof is known as a \"synthetic\" oneof, and this field must be its sole member (each proto3 optional field gets its own synthetic oneof). Synthetic oneofs exist in the descriptor only, and do not generate any API. Synthetic oneofs must be ordered after all \"real\" oneofs. For message fields, proto3_optional doesn't create any semantic change, since non-repeated message fields always track presence. However it still indicates the semantic detail of whether the user wrote \"optional\" or not. This can be useful for round-tripping the .proto file. For consistency we give message fields a synthetic oneof also, even though it is not required to track presence. This is especially important because the parser can't tell if a field is a message or an enum, so it must always create a synthetic oneof. Proto2 optional fields do not set this flag, because they already indicate optional with `LABEL_OPTIONAL`.",
          "type": "boolean"
        },
        "oneofIndex": {
          "type": "integer",
          "format": "int32",
          "description": "If set, gives the index of a oneof in the containing type's oneof_decl list. This field is a member of that oneof."
        },
        "label": {
          "enum": [
            "LABEL_OPTIONAL",
            "LABEL_REQUIRED",
            "LABEL_REPEATED"
          ],
          "enumDescriptions": [
            "0 is reserved for errors",
            "",
            ""
          ],
          "type": "string"
        },
        "typeName": {
          "description": "For message and enum types, this is the name of the type. If the name starts with a '.', it is fully-qualified. Otherwise, C++-like scoping rules are used to find the type (i.e. first the nested types within this message are searched, then within the parent, on up to the root namespace).",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "0 is reserved for errors. Order is weird for historical reasons.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT64 if negative values are likely.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT32 if negative values are likely.",
            "",
            "",
            "",
            "",
            "Tag-delimited aggregate. Group type is deprecated and not supported in proto3. However, Proto3 implementations should still be able to parse the group wire format and treat group fields as unknown fields.",
            "Length-delimited aggregate.",
            "New in version 2.",
            "",
            "",
            "",
            "",
            "Uses ZigZag encoding.",
            "Uses ZigZag encoding."
          ],
          "enum": [
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "type": "string",
          "description": "If type_name is set, this need not be set. If both this and type_name are set, this must be one of TYPE_ENUM, TYPE_MESSAGE or TYPE_GROUP."
        },
        "jsonName": {
          "description": "JSON name of this field. The value is set by protocol compiler. If the user has set a \"json_name\" option on this field, that option's value will be used. Otherwise, it's deduced from the field's name by converting it to camelCase.",
          "type": "string"
        },
        "defaultValue": {
          "description": "For numeric types, contains the original text representation of the value. For booleans, \"true\" or \"false\". For strings, contains the default text contents (not escaped in any way). For bytes, contains the C escaped value. All bytes \u003e= 128 are escaped.",
          "type": "string"
        },
        "number": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Proto2FieldDescriptorProto",
      "description": "Describes a field within a message."
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileResponse": {
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse",
      "properties": {
        "downloadUri": {
          "type": "string",
          "description": "The uri for end user to download the file."
        }
      },
      "description": "Response message for downloading an uploaded file.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1CertificateReference": {
      "type": "object",
      "description": "Error information for removing of a specific certificate on a specific target. A reference to a certificate.",
      "id": "GoogleChromePolicyVersionsV1CertificateReference",
      "properties": {
        "orgUnitId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The obfuscated id of the org unit the referencing network is in."
        },
        "network": {
          "type": "string",
          "description": "Output only. The name of the referencing network.",
          "readOnly": true
        }
      }
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleChromePolicyVersionsV1PolicySchema": {
      "description": "Resource representing a policy schema.",
      "properties": {
        "definition": {
          "$ref": "Proto2FileDescriptorProto",
          "description": "Schema definition using proto descriptor."
        },
        "name": {
          "type": "string",
          "description": "Format: name=customers/{customer}/policySchemas/{schema_namespace}"
        },
        "policyApiLifeycle": {
          "description": "Deprecated field because of typo.",
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle"
        },
        "additionalTargetKeyNames": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName"
          },
          "description": "Output only. Additional key names that will be used to identify the target of the policy value. When specifying a `policyTargetKey`, each of the additional keys specified here will have to be included in the `additionalTargetKeys` map.",
          "readOnly": true
        },
        "accessRestrictions": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Specific access restrictions related to this policy.",
          "type": "array"
        },
        "schemaName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fully qualified name of the policy schema. This value is used to fill the field `policy_schema` in PolicyValue when calling BatchInheritOrgUnitPolicies BatchModifyOrgUnitPolicies BatchModifyGroupPolicies or BatchDeleteGroupPolicies."
        },
        "notices": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Special notice messages related to setting certain values in certain fields in the schema.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
          }
        },
        "fieldDescriptions": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "readOnly": true,
          "description": "Output only. Detailed description of each field that is part of the schema."
        },
        "validTargetResources": {
          "type": "array",
          "description": "Output only. Information about applicable target resources for the policy.",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "Unspecified target resource.",
              "Organizational Unit target resource.",
              "Group target resource."
            ],
            "type": "string",
            "enum": [
              "TARGET_RESOURCE_UNSPECIFIED",
              "ORG_UNIT",
              "GROUP"
            ]
          }
        },
        "policyApiLifecycle": {
          "description": "Output only. Current lifecycle information.",
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
          "readOnly": true
        },
        "supportUri": {
          "type": "string",
          "description": "Output only. URI to related support article for this schema.",
          "readOnly": true
        },
        "policyDescription": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description about the policy schema for user consumption."
        },
        "categoryTitle": {
          "description": "Title of the category in which a setting belongs.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchema",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkRequest": {
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this network will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "networkId": {
          "description": "Required. The GUID of the network to remove.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkRequest",
      "type": "object",
      "description": "Request object for removing a network"
    },
    "GoogleChromePolicyVersionsV1ResolvedPolicy": {
      "id": "GoogleChromePolicyVersionsV1ResolvedPolicy",
      "properties": {
        "targetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true,
          "description": "Output only. The target resource for which the resolved policy value applies."
        },
        "sourceKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The source resource from which this policy value is obtained. May be the same as `targetKey` if the policy is directly modified on the target, otherwise it would be another resource from which the policy gets its value (if applicable). If not present, the source is the default value for the customer.",
          "readOnly": true
        },
        "value": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "Output only. The resolved value of the policy.",
          "readOnly": true
        },
        "addedSourceKey": {
          "readOnly": true,
          "description": "Output only. The added source key establishes at which level an entity was explicitly added for management. This is useful for certain type of policies that are only applied if they are explicitly added for management. For example: apps and networks. An entity can only be deleted from management in an Organizational Unit that it was explicitly added to. If this is not present it means that the policy is managed without the need to explicitly add an entity, for example: standard user or device policies.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      },
      "type": "object",
      "description": "The resolved value of a policy for a given target."
    },
    "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems": {
      "type": "object",
      "description": "The fields that will become required based on the value of this field.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems",
      "properties": {
        "fieldConditions": {
          "items": {
            "type": "string"
          },
          "description": "The value(s) of the field that provoke required field enforcement. An empty field_conditions implies that any value assigned to this field will provoke required field enforcement.",
          "type": "array"
        },
        "requiredFields": {
          "type": "array",
          "description": "The fields that are required as a consequence of the field conditions.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription": {
      "description": "Provides special notice messages related to a particular value in a field that is part of a PolicySchema.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription",
      "properties": {
        "acknowledgementRequired": {
          "description": "Output only. Whether the user needs to acknowledge the notice message before the value can be set.",
          "type": "boolean",
          "readOnly": true
        },
        "noticeValue": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The value of the field that has a notice. When setting the field to this value, the user may be required to acknowledge the notice message in order for the value to be set."
        },
        "noticeMessage": {
          "type": "string",
          "description": "Output only. The notice message associate with the value of the field.",
          "readOnly": true
        },
        "field": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The field name associated with the notice."
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ResolveResponse": {
      "description": "Response message for getting the resolved policy value for a specific target.",
      "properties": {
        "nextPageToken": {
          "description": "The page token used to get the next set of resolved policies found by the request.",
          "type": "string"
        },
        "resolvedPolicies": {
          "type": "array",
          "description": "The list of resolved policies found by the resolve request.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ResolvedPolicy"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1ResolveResponse",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest": {
      "id": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
          },
          "description": "List of policies that will be deleted as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. "
        }
      },
      "description": "Request message for specifying that multiple policy values will be deleted."
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails": {
      "properties": {
        "certificateReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1CertificateReference"
          },
          "readOnly": true,
          "description": "Output only. If the certificate was not removed, a list of references to the certificate that prevented it from being removed. Only unreferenced certificates can be removed."
        }
      },
      "description": "Details of the errors encountered during a remove certificate request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails"
    },
    "Proto2FileDescriptorProto": {
      "type": "object",
      "id": "Proto2FileDescriptorProto",
      "properties": {
        "package": {
          "description": "e.g. \"foo\", \"foo.bar\", etc.",
          "type": "string"
        },
        "syntax": {
          "description": "The syntax of the proto file. The supported values are \"proto2\", \"proto3\", and \"editions\". If `edition` is present, this value must be \"editions\".",
          "type": "string"
        },
        "name": {
          "description": "file name, relative to root of source tree",
          "type": "string"
        },
        "messageType": {
          "items": {
            "$ref": "Proto2DescriptorProto"
          },
          "type": "array",
          "description": "All top-level definitions in this file."
        },
        "enumType": {
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          },
          "type": "array"
        }
      },
      "description": "Describes a complete .proto file."
    },
    "GoogleChromePolicyVersionsV1DefineNetworkResponse": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineNetworkResponse",
      "properties": {
        "networkId": {
          "type": "string",
          "description": "Network ID of the new created network."
        },
        "settings": {
          "type": "array",
          "description": "Detailed network settings of the new created network",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "targetResource": {
          "type": "string",
          "description": "The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        }
      },
      "description": "Response object for creating a network."
    },
    "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest": {
      "description": "Request parameters for inheriting policy value of a specific org unit target from the policy value of its parent org unit.",
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        },
        "policySchema": {
          "description": "The fully qualified name of the policy schema that is being inherited.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
    },
    "GoogleChromePolicyVersionsV1PolicyModificationFieldError": {
      "type": "object",
      "properties": {
        "field": {
          "description": "Output only. The name of the field with the error.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error message related to the field."
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyModificationFieldError",
      "description": "Error information for a modification request of a specific field on a specific policy."
    },
    "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest": {
      "properties": {
        "requests": {
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest",
      "type": "object",
      "description": "Request message for modifying multiple policy values for a specific target."
    },
    "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest": {
      "properties": {
        "policyNamespace": {
          "description": "Required. The namespace of the policy type for the request.",
          "type": "string"
        },
        "groupIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The group IDs, in desired priority ordering."
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to update the group priority ordering. The target resource must point to an app.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      },
      "type": "object",
      "description": "Request message for updating the group priority ordering of an app.",
      "id": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest"
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest": {
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest",
      "type": "object",
      "description": "Request message for listing the group priority ordering of an app.",
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to retrieve the group priority ordering. The target resource must point to an app.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policyNamespace": {
          "type": "string",
          "description": "Required. The namespace of the policy type for the request."
        }
      }
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateResponse": {
      "type": "object",
      "description": "Response object for removing a certificate.",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateResponse",
      "properties": {}
    },
    "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
          },
          "description": "List of policies that have to inherit their values as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. "
        }
      },
      "description": "Request message for specifying that multiple policy values inherit their value from their parents.",
      "id": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyTargetKey": {
      "description": "The key used to identify the target on which the policy will be applied.",
      "properties": {
        "additionalTargetKeys": {
          "description": "Map containing the additional target key name and value pairs used to further identify the target of the policy.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetResource": {
          "type": "string",
          "description": "The target resource on which this policy is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\") * Group (\"groups/{group_id}\")"
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyTargetKey",
      "type": "object"
    },
    "Proto2EnumValueDescriptorProto": {
      "type": "object",
      "id": "Proto2EnumValueDescriptorProto",
      "description": "Describes a value within an enum.",
      "properties": {
        "name": {
          "type": "string"
        },
        "number": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromePolicyVersionsV1DefineCertificateRequest": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineCertificateRequest",
      "properties": {
        "targetResource": {
          "description": "Required. The target resource on which this certificate is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "settings": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "description": "Optional. Certificate settings within the chrome.networks.certificates namespace."
        },
        "certificate": {
          "description": "Required. The raw contents of the .PEM, .CRT, or .CER file.",
          "type": "string"
        },
        "ceritificateName": {
          "description": "Optional. The optional name of the certificate. If not specified, the certificate issuer will be used as the name.",
          "type": "string"
        }
      },
      "description": "Request object for creating a certificate."
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription",
      "description": "Provides detailed information about a known value that is allowed for a particular field in a PolicySchema.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Output only. Additional description for this value.",
          "readOnly": true
        },
        "value": {
          "readOnly": true,
          "description": "Output only. The string represenstation of the value that can be set for the field.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest": {
      "properties": {
        "requests": {
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
          },
          "type": "array"
        }
      },
      "description": "Request message for modifying multiple policy values for a specific group-based target.",
      "id": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateRequest": {
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateRequest",
      "properties": {
        "networkId": {
          "type": "string",
          "description": "Required. The GUID of the certificate to remove."
        },
        "targetResource": {
          "description": "Required. The target resource on which this certificate will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        }
      },
      "description": "Request object for removing a certificate.",
      "type": "object"
    },
    "Proto2DescriptorProto": {
      "type": "object",
      "id": "Proto2DescriptorProto",
      "properties": {
        "nestedType": {
          "type": "array",
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        },
        "field": {
          "items": {
            "$ref": "Proto2FieldDescriptorProto"
          },
          "type": "array"
        },
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        },
        "oneofDecl": {
          "type": "array",
          "items": {
            "$ref": "Proto2OneofDescriptorProto"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "description": "Describes a message type."
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileRequest": {
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest",
      "properties": {
        "policyField": {
          "type": "string",
          "description": "Required. The fully qualified policy schema and field name this file is uploaded for. This information will be used to validate the content type of the file."
        }
      },
      "type": "object",
      "description": "Request message for uploading a file for a policy."
    },
    "GoogleChromePolicyVersionsV1PolicyValue": {
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema associated with this policy."
        },
        "value": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The value of the policy that is compatible with the schema that it is associated with."
        }
      },
      "type": "object",
      "description": "A particular value for a policy managed by the service.",
      "id": "GoogleChromePolicyVersionsV1PolicyValue"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription": {
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription",
      "description": "Provides detailed information for a particular field that is part of a PolicySchema.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Deprecated. Use name and field_description instead. The description for the field."
        },
        "inputConstraint": {
          "description": "Output only. Any input constraints associated on the values for the field.",
          "type": "string",
          "readOnly": true
        },
        "nestedFieldDescriptions": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "description": "Output only. Provides the description of the fields nested in this field, if the field is a message type that defines multiple fields.",
          "readOnly": true
        },
        "fieldDependencies": {
          "readOnly": true,
          "description": "Output only. Provides a list of fields and values. At least one of the fields must have the corresponding value in order for this field to be allowed to be set.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          }
        },
        "fieldDescription": {
          "description": "Output only. The description of the field.",
          "readOnly": true,
          "type": "string"
        },
        "requiredItems": {
          "description": "Output only. Provides a list of fields that are required to be set if this field has a certain value.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the field."
        },
        "defaultValue": {
          "type": "any",
          "readOnly": true,
          "description": "Output only. Client default if the policy is unset."
        },
        "knownValueDescriptions": {
          "type": "array",
          "description": "Output only. If the field has a set of known values, this field will provide a description for these values.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
          }
        },
        "field": {
          "description": "Output only. The name of the field for associated with this description.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1DefineCertificateResponse": {
      "description": "Response object for creating a certificate.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineCertificateResponse",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "the resource at which the certificate is defined."
        },
        "settings": {
          "description": "the affiliated settings of the certificate (NOT IMPLEMENTED)",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "networkId": {
          "description": "The guid of the certificate created by the action.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1ResolveRequest": {
      "description": "Request message for getting the resolved policy value for a specific target.",
      "id": "GoogleChromePolicyVersionsV1ResolveRequest",
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target resource on which the policies should be resolved. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "pageToken": {
          "type": "string",
          "description": "The page token used to retrieve a specific page of the request."
        },
        "policySchemaFilter": {
          "description": "The schema filter to apply to the resolve request. Specify a schema name to view a particular schema, for example: chrome.users.ShowLogoutButton Wildcards are supported, but only in the leaf portion of the schema name. Wildcards cannot be used in namespace directly. Please read https://developers.google.com/chrome/policy/guides/policy-schemas for details on schema namespaces. For example: Valid: \"chrome.users.*\", \"chrome.users.apps.*\", \"chrome.printers.*\" Invalid: \"*\", \"*.users\", \"chrome.*\", \"chrome.*.apps.*\"",
          "type": "string"
        },
        "pageSize": {
          "description": "The maximum number of policies to return, defaults to 100 and has a maximum of 1000.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse": {
      "properties": {
        "policyNamespace": {
          "description": "Output only. The namespace of the policy type of the group IDs.",
          "readOnly": true,
          "type": "string"
        },
        "groupIds": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The group IDs, in priority ordering."
        },
        "policyTargetKey": {
          "readOnly": true,
          "description": "Output only. The target resource for which the group priority ordering has been retrieved.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse",
      "description": "Response message for listing the group priority ordering of an app."
    },
    "GoogleChromePolicyVersionsV1AdditionalTargetKeyName": {
      "description": "Additional key names that will be used to identify the target of the policy value.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName",
      "properties": {
        "key": {
          "description": "Key name.",
          "type": "string"
        },
        "keyDescription": {
          "description": "Key description.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest": {
      "id": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest",
      "description": "Request parameters for deleting the policy value of a specific group target.",
      "type": "object",
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema that is being inherited."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        }
      }
    },
    "Proto2EnumDescriptorProto": {
      "description": "Describes an enum type.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumValueDescriptorProto"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Proto2EnumDescriptorProto"
    },
    "GoogleChromePolicyVersionsV1NetworkSetting": {
      "description": "A network setting contains network configurations.",
      "id": "GoogleChromePolicyVersionsV1NetworkSetting",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the network setting.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the network setting."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty"
    }
  },
  "ownerName": "Google",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true
}
