{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "title": "Chrome Policy API",
  "canonicalName": "Chrome Policy",
  "revision": "20221020",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.policy.readonly": {
          "description": "See policies applied to Chrome OS and Chrome Browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.policy": {
          "description": "See, edit, create or delete policies applied to Chrome OS and Chrome Browsers managed within your organization"
        }
      }
    }
  },
  "ownerName": "Google",
  "basePath": "",
  "baseUrl": "https://chromepolicy.googleapis.com/",
  "id": "chromepolicy:v1",
  "documentationLink": "http://developers.google.com/chrome/policy",
  "batchPath": "batch",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "version": "v1",
  "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
  "servicePath": "",
  "ownerDomain": "google.com",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "name": "chromepolicy",
  "mtlsRootUrl": "https://chromepolicy.mtls.googleapis.com/",
  "rootUrl": "https://chromepolicy.googleapis.com/",
  "schemas": {
    "Proto2FileDescriptorProto": {
      "properties": {
        "name": {
          "type": "string",
          "description": "file name, relative to root of source tree"
        },
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        },
        "messageType": {
          "type": "array",
          "description": "All top-level definitions in this file.",
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        },
        "package": {
          "description": "e.g. \"foo\", \"foo.bar\", etc.",
          "type": "string"
        },
        "syntax": {
          "description": "The syntax of the proto file. The supported values are \"proto2\", \"proto3\", and \"editions\". If `edition` is present, this value must be \"editions\".",
          "type": "string"
        }
      },
      "description": "Describes a complete .proto file.",
      "type": "object",
      "id": "Proto2FileDescriptorProto"
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest": {
      "description": "Request message for listing the group priority ordering of an app.",
      "properties": {
        "policyNamespace": {
          "type": "string",
          "description": "Required. The namespace of the policy type for the request."
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to retrieve the group priority ordering. The target resource must point to an app.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription": {
      "properties": {
        "field": {
          "description": "Output only. The name of the field for associated with this description.",
          "readOnly": true,
          "type": "string"
        },
        "defaultValue": {
          "readOnly": true,
          "description": "Output only. Client default if the policy is unset.",
          "type": "any"
        },
        "nestedFieldDescriptions": {
          "readOnly": true,
          "description": "Output only. Provides the description of the fields nested in this field, if the field is a message type that defines multiple fields.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          }
        },
        "fieldDescription": {
          "description": "Output only. The description of the field.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Deprecated. Use name and field_description instead. The description for the field.",
          "type": "string"
        },
        "knownValueDescriptions": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
          },
          "readOnly": true,
          "description": "Output only. If the field has a set of known values, this field will provide a description for these values."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the field."
        },
        "inputConstraint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Any input constraints associated on the values for the field."
        },
        "fieldDependencies": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          },
          "readOnly": true,
          "description": "Output only. Provides a list of fields and values. At least one of the fields must have the corresponding value in order for this field to be allowed to be set.",
          "type": "array"
        },
        "requiredItems": {
          "description": "Output only. Provides a list of fields that are required to be set if this field has a certain value.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems"
          }
        }
      },
      "description": "Provides detailed information for a particular field that is part of a PolicySchema.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems": {
      "properties": {
        "fieldConditions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The value(s) of the field that provoke required field enforcement. An empty field_conditions implies that any value assigned to this field will provoke required field enforcement."
        },
        "requiredFields": {
          "type": "array",
          "description": "The fields that are required as a consequence of the field conditions.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems",
      "description": "The fields that will become required based on the value of this field."
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse": {
      "type": "object",
      "properties": {
        "policyTargetKey": {
          "description": "Output only. The target resource for which the group priority ordering has been retrieved.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true
        },
        "policyNamespace": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The namespace of the policy type of the group IDs."
        },
        "groupIds": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The group IDs, in priority ordering.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Response message for listing the group priority ordering of an app.",
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse"
    },
    "GoogleChromePolicyVersionsV1DefineNetworkResponse": {
      "description": "Response object for creating a network.",
      "properties": {
        "targetResource": {
          "description": "The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "networkId": {
          "type": "string",
          "description": "Network ID of the new created network."
        },
        "settings": {
          "description": "Detailed network settings of the new created network",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1DefineNetworkResponse",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest": {
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema that is being inherited."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        }
      },
      "type": "object",
      "description": "Request parameters for deleting the policy value of a specific group target.",
      "id": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
    },
    "GoogleChromePolicyVersionsV1NetworkSetting": {
      "properties": {
        "value": {
          "type": "object",
          "description": "The value of the network setting.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the network setting."
        }
      },
      "type": "object",
      "description": "A network setting contains network configurations.",
      "id": "GoogleChromePolicyVersionsV1NetworkSetting"
    },
    "GoogleChromePolicyVersionsV1DefineCertificateRequest": {
      "type": "object",
      "description": "Request object for creating a certificate.",
      "id": "GoogleChromePolicyVersionsV1DefineCertificateRequest",
      "properties": {
        "ceritificateName": {
          "type": "string",
          "description": "Optional. The optional name of the certificate. If not specified, the certificate issuer will be used as the name."
        },
        "certificate": {
          "type": "string",
          "description": "Required. The raw contents of the .PEM, .CRT, or .CER file."
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this certificate is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "settings": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "type": "array",
          "description": "Optional. Certificate settings within the chrome.networks.certificates namespace."
        }
      }
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleChromePolicyVersionsV1ResolvedPolicy": {
      "id": "GoogleChromePolicyVersionsV1ResolvedPolicy",
      "properties": {
        "value": {
          "readOnly": true,
          "description": "Output only. The resolved value of the policy.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        },
        "sourceKey": {
          "description": "Output only. The source resource from which this policy value is obtained. May be the same as `targetKey` if the policy is directly modified on the target, otherwise it would be another resource from which the policy gets its value (if applicable). If not present, the source is the default value for the customer.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "addedSourceKey": {
          "description": "Output only. The added source key establishes at which level an entity was explicitly added for management. This is useful for certain type of policies that are only applied if they are explicitly added for management. For example: apps and networks. An entity can only be deleted from management in an Organizational Unit that it was explicitly added to. If this is not present it means that the policy is managed without the need to explicitly add an entity, for example: standard user or device policies.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true
        },
        "targetKey": {
          "description": "Output only. The target resource for which the resolved policy value applies.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true
        }
      },
      "description": "The resolved value of a policy for a given target.",
      "type": "object"
    },
    "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Description about current life cycle.",
          "type": "string"
        },
        "policyApiLifecycleStage": {
          "description": "Indicate current life cycle stage of the policy API.",
          "enumDescriptions": [
            "unspecified.",
            "Policy is not working yet, but giving developers heads up on format. This stage can transfer to API_DEVELOPEMNT or API_CURRENT.",
            "Policy can change format in backward incompatible way (breaking change). This stage can transfer to API_CURRENT or API_DEPRECATED. This could be used for policies launched only to TTs or launched to selected customers for emergency usage.",
            "Policy in official format. Policy can change format in backward compatible way (non-breaking change). Example: this policy can introduce a new field, which is considered non-breaking change, when field masks are properly utilized. This stage can transfer to API_DEPRECATED.",
            "Please stop using this policy. This policy is deprecated and may/will be removed in the future. Most likely a new policy was introduced to replace this one."
          ],
          "type": "string",
          "enum": [
            "API_UNSPECIFIED",
            "API_PREVIEW",
            "API_DEVELOPMENT",
            "API_CURRENT",
            "API_DEPRECATED"
          ]
        },
        "endSupport": {
          "description": "End supporting date for current policy.",
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle"
    },
    "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest": {
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        },
        "policyValue": {
          "description": "The new value for the policy.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        },
        "updateMask": {
          "type": "string",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest",
      "type": "object",
      "description": "Request parameters for modifying a policy value for a specific org unit target."
    },
    "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest": {
      "id": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest",
      "type": "object",
      "description": "Request parameters for inheriting policy value of a specific org unit target from the policy value of its parent org unit.",
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema that is being inherited."
        }
      }
    },
    "Proto2FieldDescriptorProto": {
      "properties": {
        "defaultValue": {
          "description": "For numeric types, contains the original text representation of the value. For booleans, \"true\" or \"false\". For strings, contains the default text contents (not escaped in any way). For bytes, contains the C escaped value. All bytes \u003e= 128 are escaped.",
          "type": "string"
        },
        "proto3Optional": {
          "type": "boolean",
          "description": "If true, this is a proto3 \"optional\". When a proto3 field is optional, it tracks presence regardless of field type. When proto3_optional is true, this field must be belong to a oneof to signal to old proto3 clients that presence is tracked for this field. This oneof is known as a \"synthetic\" oneof, and this field must be its sole member (each proto3 optional field gets its own synthetic oneof). Synthetic oneofs exist in the descriptor only, and do not generate any API. Synthetic oneofs must be ordered after all \"real\" oneofs. For message fields, proto3_optional doesn't create any semantic change, since non-repeated message fields always track presence. However it still indicates the semantic detail of whether the user wrote \"optional\" or not. This can be useful for round-tripping the .proto file. For consistency we give message fields a synthetic oneof also, even though it is not required to track presence. This is especially important because the parser can't tell if a field is a message or an enum, so it must always create a synthetic oneof. Proto2 optional fields do not set this flag, because they already indicate optional with `LABEL_OPTIONAL`."
        },
        "type": {
          "enumDescriptions": [
            "0 is reserved for errors. Order is weird for historical reasons.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT64 if negative values are likely.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT32 if negative values are likely.",
            "",
            "",
            "",
            "",
            "Tag-delimited aggregate. Group type is deprecated and not supported in proto3. However, Proto3 implementations should still be able to parse the group wire format and treat group fields as unknown fields.",
            "Length-delimited aggregate.",
            "New in version 2.",
            "",
            "",
            "",
            "",
            "Uses ZigZag encoding.",
            "Uses ZigZag encoding."
          ],
          "type": "string",
          "enum": [
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "description": "If type_name is set, this need not be set. If both this and type_name are set, this must be one of TYPE_ENUM, TYPE_MESSAGE or TYPE_GROUP."
        },
        "label": {
          "enumDescriptions": [
            "0 is reserved for errors",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "LABEL_OPTIONAL",
            "LABEL_REQUIRED",
            "LABEL_REPEATED"
          ]
        },
        "typeName": {
          "type": "string",
          "description": "For message and enum types, this is the name of the type. If the name starts with a '.', it is fully-qualified. Otherwise, C++-like scoping rules are used to find the type (i.e. first the nested types within this message are searched, then within the parent, on up to the root namespace)."
        },
        "jsonName": {
          "type": "string",
          "description": "JSON name of this field. The value is set by protocol compiler. If the user has set a \"json_name\" option on this field, that option's value will be used. Otherwise, it's deduced from the field's name by converting it to camelCase."
        },
        "number": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "oneofIndex": {
          "type": "integer",
          "description": "If set, gives the index of a oneof in the containing type's oneof_decl list. This field is a member of that oneof.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Proto2FieldDescriptorProto",
      "description": "Describes a field within a message."
    },
    "GoogleChromePolicyVersionsV1ResolveRequest": {
      "id": "GoogleChromePolicyVersionsV1ResolveRequest",
      "description": "Request message for getting the resolved policy value for a specific target.",
      "type": "object",
      "properties": {
        "policySchemaFilter": {
          "type": "string",
          "description": "The schema filter to apply to the resolve request. Specify a schema name to view a particular schema, for example: chrome.users.ShowLogoutButton Wildcards are supported, but only in the leaf portion of the schema name. Wildcards cannot be used in namespace directly. Please read https://developers.google.com/chrome/policy/guides/policy-schemas for details on schema namespaces. For example: Valid: \"chrome.users.*\", \"chrome.users.apps.*\", \"chrome.printers.*\" Invalid: \"*\", \"*.users\", \"chrome.*\", \"chrome.*.apps.*\""
        },
        "pageSize": {
          "description": "The maximum number of policies to return, defaults to 100 and has a maximum of 1000.",
          "format": "int32",
          "type": "integer"
        },
        "pageToken": {
          "type": "string",
          "description": "The page token used to retrieve a specific page of the request."
        },
        "policyTargetKey": {
          "description": "Required. The key of the target resource on which the policies should be resolved. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      }
    },
    "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest",
      "description": "Request parameters for modifying a policy value for a specific group target.",
      "properties": {
        "policyValue": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "The new value for the policy."
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "updateMask": {
          "type": "string",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription",
      "properties": {
        "value": {
          "readOnly": true,
          "description": "Output only. The string represenstation of the value that can be set for the field.",
          "type": "string"
        },
        "description": {
          "description": "Output only. Additional description for this value.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Provides detailed information about a known value that is allowed for a particular field in a PolicySchema."
    },
    "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest": {
      "type": "object",
      "description": "Request message for specifying that multiple policy values will be deleted.",
      "id": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest",
      "properties": {
        "requests": {
          "description": "List of policies that will be deleted as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
          }
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicyModificationFieldError": {
      "description": "Error information for a modification request of a specific field on a specific policy.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicyModificationFieldError",
      "properties": {
        "field": {
          "description": "Output only. The name of the field with the error.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "description": "Output only. The error message related to the field.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest": {
      "properties": {
        "requests": {
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest",
      "description": "Request message for modifying multiple policy values for a specific target.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchema": {
      "id": "GoogleChromePolicyVersionsV1PolicySchema",
      "type": "object",
      "properties": {
        "accessRestrictions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Specific access restrictions related to this policy.",
          "readOnly": true
        },
        "name": {
          "description": "Format: name=customers/{customer}/policySchemas/{schema_namespace}",
          "type": "string"
        },
        "policyDescription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description about the policy schema for user consumption."
        },
        "supportUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI to related support article for this schema."
        },
        "categoryTitle": {
          "description": "Title of the category in which a setting belongs.",
          "type": "string"
        },
        "policyApiLifecycle": {
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
          "description": "Output only. Current lifecycle information.",
          "readOnly": true
        },
        "additionalTargetKeyNames": {
          "description": "Output only. Additional key names that will be used to identify the target of the policy value. When specifying a `policyTargetKey`, each of the additional keys specified here will have to be included in the `additionalTargetKeys` map.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName"
          }
        },
        "notices": {
          "description": "Output only. Special notice messages related to setting certain values in certain fields in the schema.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
          },
          "type": "array",
          "readOnly": true
        },
        "fieldDescriptions": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "description": "Output only. Detailed description of each field that is part of the schema.",
          "readOnly": true
        },
        "definition": {
          "description": "Schema definition using proto descriptor.",
          "$ref": "Proto2FileDescriptorProto"
        },
        "schemaName": {
          "readOnly": true,
          "description": "Output only. The fully qualified name of the policy schema. This value is used to fill the field `policy_schema` in PolicyValue when calling BatchInheritOrgUnitPolicies BatchModifyOrgUnitPolicies BatchModifyGroupPolicies or BatchDeleteGroupPolicies.",
          "type": "string"
        },
        "validTargetResources": {
          "type": "array",
          "items": {
            "enum": [
              "TARGET_RESOURCE_UNSPECIFIED",
              "ORG_UNIT",
              "GROUP"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified target resource.",
              "Organizational Unit target resource.",
              "Group target resource."
            ]
          },
          "readOnly": true,
          "description": "Output only. Information about applicable target resources for the policy."
        },
        "policyApiLifeycle": {
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
          "description": "Deprecated field because of typo."
        }
      },
      "description": "Resource representing a policy schema."
    },
    "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest",
      "properties": {
        "requests": {
          "type": "array",
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
          }
        }
      },
      "description": "Request message for modifying multiple policy values for a specific group-based target."
    },
    "GoogleChromePolicyVersionsV1ResolveResponse": {
      "description": "Response message for getting the resolved policy value for a specific target.",
      "id": "GoogleChromePolicyVersionsV1ResolveResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to get the next set of resolved policies found by the request."
        },
        "resolvedPolicies": {
          "description": "The list of resolved policies found by the resolve request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ResolvedPolicy"
          }
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyTargetKey": {
      "id": "GoogleChromePolicyVersionsV1PolicyTargetKey",
      "properties": {
        "targetResource": {
          "description": "The target resource on which this policy is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\") * Group (\"groups/{group_id}\")",
          "type": "string"
        },
        "additionalTargetKeys": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map containing the additional target key name and value pairs used to further identify the target of the policy.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "The key used to identify the target on which the policy will be applied."
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateResponse": {
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateResponse",
      "description": "Response object for removing a certificate.",
      "type": "object",
      "properties": {}
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkRequest": {
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkRequest",
      "description": "Request object for removing a network",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this network will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "networkId": {
          "description": "Required. The GUID of the network to remove.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1AdditionalTargetKeyName": {
      "properties": {
        "keyDescription": {
          "description": "Key description.",
          "type": "string"
        },
        "key": {
          "description": "Key name.",
          "type": "string"
        }
      },
      "description": "Additional key names that will be used to identify the target of the policy value.",
      "id": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileResponse": {
      "description": "Response message for downloading an uploaded file.",
      "properties": {
        "downloadUri": {
          "description": "The uri for end user to download the file.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
    },
    "GoogleChromePolicyVersionsV1PolicyValue": {
      "properties": {
        "value": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The value of the policy that is compatible with the schema that it is associated with."
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema associated with this policy."
        }
      },
      "description": "A particular value for a policy managed by the service.",
      "id": "GoogleChromePolicyVersionsV1PolicyValue",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies": {
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies",
      "properties": {
        "sourceFieldValue": {
          "description": "The value which the source field must have for this field to be allowed to be set.",
          "type": "string"
        },
        "sourceField": {
          "type": "string",
          "description": "The source field which this field depends on."
        }
      },
      "type": "object",
      "description": "The field and the value it must have for another field to be allowed to be set."
    },
    "GoogleChromePolicyVersionsV1CertificateReference": {
      "id": "GoogleChromePolicyVersionsV1CertificateReference",
      "description": "Error information for removing of a specific certificate on a specific target. A reference to a certificate.",
      "type": "object",
      "properties": {
        "network": {
          "readOnly": true,
          "description": "Output only. The name of the referencing network.",
          "type": "string"
        },
        "orgUnitId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The obfuscated id of the org unit the referencing network is in."
        }
      }
    },
    "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest": {
      "description": "Request message for specifying that multiple policy values inherit their value from their parents.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest",
      "properties": {
        "requests": {
          "description": "List of policies that have to inherit their values as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
          },
          "type": "array"
        }
      }
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkResponse": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkResponse",
      "properties": {},
      "description": "Response object for removing a network."
    },
    "Proto2EnumDescriptorProto": {
      "description": "Describes an enum type.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumValueDescriptorProto"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Proto2EnumDescriptorProto"
    },
    "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest": {
      "id": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest",
      "type": "object",
      "properties": {
        "groupIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The group IDs, in desired priority ordering."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to update the group priority ordering. The target resource must point to an app."
        },
        "policyNamespace": {
          "description": "Required. The namespace of the policy type for the request.",
          "type": "string"
        }
      },
      "description": "Request message for updating the group priority ordering of an app."
    },
    "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription": {
      "description": "Provides special notice messages related to a particular value in a field that is part of a PolicySchema.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription",
      "properties": {
        "noticeMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The notice message associate with the value of the field."
        },
        "field": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The field name associated with the notice."
        },
        "acknowledgementRequired": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the user needs to acknowledge the notice message before the value can be set."
        },
        "noticeValue": {
          "readOnly": true,
          "description": "Output only. The value of the field that has a notice. When setting the field to this value, the user may be required to acknowledge the notice message in order for the value to be set.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileRequest": {
      "properties": {
        "policyField": {
          "description": "Required. The fully qualified policy schema and field name this file is uploaded for. This information will be used to validate the content type of the file.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest",
      "description": "Request message for uploading a file for a policy."
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateRequest": {
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateRequest",
      "description": "Request object for removing a certificate.",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this certificate will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "networkId": {
          "type": "string",
          "description": "Required. The GUID of the certificate to remove."
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1DefineCertificateResponse": {
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "the resource at which the certificate is defined."
        },
        "networkId": {
          "description": "The guid of the certificate created by the action.",
          "type": "string"
        },
        "settings": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "type": "array",
          "description": "the affiliated settings of the certificate (NOT IMPLEMENTED)"
        }
      },
      "description": "Response object for creating a certificate.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
    },
    "Proto2DescriptorProto": {
      "id": "Proto2DescriptorProto",
      "description": "Describes a message type.",
      "type": "object",
      "properties": {
        "enumType": {
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "nestedType": {
          "items": {
            "$ref": "Proto2DescriptorProto"
          },
          "type": "array"
        },
        "oneofDecl": {
          "items": {
            "$ref": "Proto2OneofDescriptorProto"
          },
          "type": "array"
        },
        "field": {
          "type": "array",
          "items": {
            "$ref": "Proto2FieldDescriptorProto"
          }
        }
      }
    },
    "GoogleChromePolicyVersionsV1ListPolicySchemasResponse": {
      "id": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token used to get the next page of policy schemas.",
          "type": "string"
        },
        "policySchemas": {
          "type": "array",
          "description": "The list of policy schemas that match the query.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
          }
        }
      },
      "description": "Response message for listing policy schemas that match a filter."
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails": {
      "description": "Details of the errors encountered during a remove certificate request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request.",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails",
      "type": "object",
      "properties": {
        "certificateReferences": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1CertificateReference"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. If the certificate was not removed, a list of references to the certificate that prevented it from being removed. Only unreferenced certificates can be removed."
        }
      }
    },
    "Proto2OneofDescriptorProto": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "Proto2OneofDescriptorProto",
      "description": "Describes a oneof.",
      "type": "object"
    },
    "Proto2EnumValueDescriptorProto": {
      "properties": {
        "number": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Proto2EnumValueDescriptorProto",
      "type": "object",
      "description": "Describes a value within an enum."
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleChromePolicyVersionsV1DefineNetworkRequest": {
      "description": "Request object for creating a new network.",
      "properties": {
        "name": {
          "description": "Required. Name of the new created network.",
          "type": "string"
        },
        "targetResource": {
          "description": "Required. The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "settings": {
          "description": "Required. Detailed network settings.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1DefineNetworkRequest",
      "type": "object"
    }
  },
  "resources": {
    "customers": {
      "resources": {
        "policies": {
          "resources": {
            "groups": {
              "methods": {
                "updateGroupPriorityOrdering": {
                  "httpMethod": "POST",
                  "path": "v1/{+customer}/policies/groups:updateGroupPriorityOrdering",
                  "description": "Update a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/groups:updateGroupPriorityOrdering",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "id": "chromepolicy.customers.policies.groups.updateGroupPriorityOrdering",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "customer": {
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ]
                },
                "batchModify": {
                  "path": "v1/{+customer}/policies/groups:batchModify",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "description": "Modify multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "id": "chromepolicy.customers.policies.groups.batchModify",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchModify",
                  "parameterOrder": [
                    "customer"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest"
                  },
                  "parameters": {
                    "customer": {
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "listGroupPriorityOrdering": {
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
                  },
                  "description": "Retrieve a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/policies/groups:listGroupPriorityOrdering",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy",
                    "https://www.googleapis.com/auth/chrome.management.policy.readonly"
                  ],
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/policies/groups:listGroupPriorityOrdering",
                  "id": "chromepolicy.customers.policies.groups.listGroupPriorityOrdering",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse"
                  }
                },
                "batchDelete": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "customer": {
                      "required": true,
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "chromepolicy.customers.policies.groups.batchDelete",
                  "httpMethod": "POST",
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchDelete",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+customer}/policies/groups:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "description": "Delete multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status."
                }
              }
            },
            "orgunits": {
              "methods": {
                "batchModify": {
                  "description": "Modify multiple policy values that are applied to a specific org unit. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchModify",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "chromepolicy.customers.policies.orgunits.batchModify",
                  "path": "v1/{+customer}/policies/orgunits:batchModify",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "httpMethod": "POST"
                },
                "batchInherit": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "description": "Modify multiple policy values that are applied to a specific org unit so that they now inherit the value from a parent (if applicable). All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "id": "chromepolicy.customers.policies.orgunits.batchInherit",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchInherit",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+customer}/policies/orgunits:batchInherit"
                }
              }
            },
            "networks": {
              "methods": {
                "defineNetwork": {
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkResponse"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/policies/networks:defineNetwork",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineNetwork",
                  "id": "chromepolicy.customers.policies.networks.defineNetwork",
                  "description": "Define a new network.",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkRequest"
                  },
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The customer who will own this new network.",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "httpMethod": "POST"
                },
                "removeCertificate": {
                  "path": "v1/{+customer}/policies/networks:removeCertificate",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateRequest"
                  },
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
                  },
                  "id": "chromepolicy.customers.policies.networks.removeCertificate",
                  "description": "Remove an existing certificate by guid.",
                  "parameters": {
                    "customer": {
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The customer whose certificate will be removed."
                    }
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeCertificate"
                },
                "defineCertificate": {
                  "path": "v1/{+customer}/policies/networks:defineCertificate",
                  "description": "Creates a certificate at a specified OU for a customer.",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
                  },
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The customer for which the certificate will apply.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineCertificate",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "httpMethod": "POST",
                  "id": "chromepolicy.customers.policies.networks.defineCertificate",
                  "parameterOrder": [
                    "customer"
                  ]
                },
                "removeNetwork": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkResponse"
                  },
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "description": "Required. The customer whose network will be removed.",
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkRequest"
                  },
                  "path": "v1/{+customer}/policies/networks:removeNetwork",
                  "id": "chromepolicy.customers.policies.networks.removeNetwork",
                  "parameterOrder": [
                    "customer"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeNetwork",
                  "description": "Remove an existing network by guid."
                }
              }
            }
          },
          "methods": {
            "resolve": {
              "id": "chromepolicy.customers.policies.resolve",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveResponse"
              },
              "description": "Gets the resolved policy values for a list of policies that match a search query.",
              "path": "v1/{+customer}/policies:resolve",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request."
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/customers/{customersId}/policies:resolve",
              "request": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveRequest"
              }
            }
          }
        },
        "policySchemas": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
              },
              "id": "chromepolicy.customers.policySchemas.get",
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/policySchemas/{policySchemasId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Get a specific policy schema for a customer by its resource name.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The policy schema resource name to query.",
                  "pattern": "^customers/[^/]+/policySchemas/.*$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ]
            },
            "list": {
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse"
              },
              "id": "chromepolicy.customers.policySchemas.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The customer for which the listing request will apply.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The schema filter used to find a particular schema based on fields like its resource name, description and `additionalTargetKeyNames`."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of policy schemas to return, defaults to 100 and has a maximum of 1000.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token used to retrieve a specific page of the listing request."
                }
              },
              "flatPath": "v1/customers/{customersId}/policySchemas",
              "path": "v1/{+parent}/policySchemas",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "description": "Gets a list of policy schemas that match a specified filter value for a given customer."
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "description": "Creates an enterprise file from the content provided by user. Returns a public download url for end user.",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
          },
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/v1/{+customer}/policies/files:uploadPolicyFile",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "path": "v1/{+customer}/policies/files:uploadPolicyFile",
          "scopes": [
            "https://www.googleapis.com/auth/chrome.management.policy"
          ],
          "response": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
          },
          "id": "chromepolicy.media.upload",
          "parameterOrder": [
            "customer"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/customers/{customersId}/policies/files:uploadPolicyFile",
          "parameters": {
            "customer": {
              "location": "path",
              "required": true,
              "pattern": "^customers/[^/]+$",
              "type": "string",
              "description": "Required. The customer for which the file upload will apply."
            }
          }
        }
      }
    }
  }
}
