{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "mtlsRootUrl": "https://chromepolicy.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "id": "chromepolicy.media.upload",
          "description": "Creates an enterprise file from the content provided by user. Returns a public download url for end user.",
          "request": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
          },
          "supportsMediaUpload": true,
          "path": "v1/{+customer}/policies/files:uploadPolicyFile",
          "response": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
          },
          "flatPath": "v1/customers/{customersId}/policies/files:uploadPolicyFile",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/{+customer}/policies/files:uploadPolicyFile"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/chrome.management.policy"
          ],
          "parameterOrder": [
            "customer"
          ],
          "parameters": {
            "customer": {
              "required": true,
              "pattern": "^customers/[^/]+$",
              "description": "Required. The customer for which the file upload will apply.",
              "location": "path",
              "type": "string"
            }
          }
        }
      }
    },
    "customers": {
      "resources": {
        "policySchemas": {
          "methods": {
            "get": {
              "flatPath": "v1/customers/{customersId}/policySchemas/{policySchemasId}",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "description": "Get a specific policy schema for a customer by its resource name.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The policy schema resource name to query.",
                  "pattern": "^customers/[^/]+/policySchemas/.*$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
              },
              "id": "chromepolicy.customers.policySchemas.get",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ]
            },
            "list": {
              "path": "v1/{+parent}/policySchemas",
              "flatPath": "v1/customers/{customersId}/policySchemas",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Gets a list of policy schemas that match a specified filter value for a given customer.",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "The schema filter used to find a particular schema based on fields like its resource name, description and `additionalTargetKeyNames`.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The page token used to retrieve a specific page of the listing request.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of policy schemas to return, defaults to 100 and has a maximum of 1000.",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The customer for which the listing request will apply."
                }
              },
              "id": "chromepolicy.customers.policySchemas.list",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse"
              }
            }
          }
        },
        "policies": {
          "methods": {
            "resolve": {
              "parameters": {
                "customer": {
                  "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveResponse"
              },
              "path": "v1/{+customer}/policies:resolve",
              "flatPath": "v1/customers/{customersId}/policies:resolve",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "description": "Gets the resolved policy values for a list of policies that match a search query.",
              "parameterOrder": [
                "customer"
              ],
              "request": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveRequest"
              },
              "httpMethod": "POST",
              "id": "chromepolicy.customers.policies.resolve"
            }
          },
          "resources": {
            "orgunits": {
              "methods": {
                "batchInherit": {
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/policies/orgunits:batchInherit",
                  "httpMethod": "POST",
                  "description": "Modify multiple policy values that are applied to a specific org unit so that they now inherit the value from a parent (if applicable). All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "id": "chromepolicy.customers.policies.orgunits.batchInherit",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchInherit"
                },
                "batchModify": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchModify",
                  "description": "Modify multiple policy values that are applied to a specific org unit. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "path": "v1/{+customer}/policies/orgunits:batchModify",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
                  },
                  "id": "chromepolicy.customers.policies.orgunits.batchModify"
                }
              }
            },
            "networks": {
              "methods": {
                "defineCertificate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "id": "chromepolicy.customers.policies.networks.defineCertificate",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
                  },
                  "description": "Creates a certificate at a specified OU for a customer.",
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "required": true,
                      "description": "Required. The customer for which the certificate will apply.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "path": "v1/{+customer}/policies/networks:defineCertificate",
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineCertificate",
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
                  }
                },
                "removeNetwork": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "description": "Remove an existing network by guid.",
                  "path": "v1/{+customer}/policies/networks:removeNetwork",
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "description": "Required. The customer whose network will be removed.",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "chromepolicy.customers.policies.networks.removeNetwork",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkResponse"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeNetwork",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkRequest"
                  },
                  "httpMethod": "POST"
                },
                "removeCertificate": {
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The customer whose certificate will be removed.",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "path": "v1/{+customer}/policies/networks:removeCertificate",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateRequest"
                  },
                  "description": "Remove an existing certificate by guid.",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
                  },
                  "id": "chromepolicy.customers.policies.networks.removeCertificate",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "customer"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeCertificate"
                },
                "defineNetwork": {
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineNetwork",
                  "httpMethod": "POST",
                  "path": "v1/{+customer}/policies/networks:defineNetwork",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkRequest"
                  },
                  "parameters": {
                    "customer": {
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer who will own this new network.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "id": "chromepolicy.customers.policies.networks.defineNetwork",
                  "parameterOrder": [
                    "customer"
                  ],
                  "description": "Define a new network."
                }
              }
            },
            "groups": {
              "methods": {
                "updateGroupPriorityOrdering": {
                  "path": "v1/{+customer}/policies/groups:updateGroupPriorityOrdering",
                  "flatPath": "v1/customers/{customersId}/policies/groups:updateGroupPriorityOrdering",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "description": "Update a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest"
                  },
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request."
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "id": "chromepolicy.customers.policies.groups.updateGroupPriorityOrdering",
                  "httpMethod": "POST"
                },
                "batchDelete": {
                  "description": "Delete multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "id": "chromepolicy.customers.policies.groups.batchDelete",
                  "path": "v1/{+customer}/policies/groups:batchDelete",
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request."
                    }
                  }
                },
                "batchModify": {
                  "path": "v1/{+customer}/policies/groups:batchModify",
                  "parameterOrder": [
                    "customer"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchModify",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "description": "Modify multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameters": {
                    "customer": {
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "chromepolicy.customers.policies.groups.batchModify"
                },
                "listGroupPriorityOrdering": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy",
                    "https://www.googleapis.com/auth/chrome.management.policy.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/groups:listGroupPriorityOrdering",
                  "parameterOrder": [
                    "customer"
                  ],
                  "id": "chromepolicy.customers.policies.groups.listGroupPriorityOrdering",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse"
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Retrieve a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "path": "v1/{+customer}/policies/groups:listGroupPriorityOrdering",
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "Chrome Policy",
  "title": "Chrome Policy API",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "chromepolicy:v1",
  "name": "chromepolicy",
  "documentationLink": "http://developers.google.com/chrome/policy",
  "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
  "schemas": {
    "GoogleTypeDate": {
      "type": "object",
      "properties": {
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate"
    },
    "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest": {
      "id": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest",
      "properties": {
        "requests": {
          "type": "array",
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
          }
        }
      },
      "type": "object",
      "description": "Request message for modifying multiple policy values for a specific target."
    },
    "GoogleChromePolicyVersionsV1CertificateReference": {
      "id": "GoogleChromePolicyVersionsV1CertificateReference",
      "properties": {
        "orgUnitId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The obfuscated id of the org unit the referencing network is in."
        },
        "network": {
          "readOnly": true,
          "description": "Output only. The name of the referencing network.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Error information for removing of a specific certificate on a specific target. A reference to a certificate."
    },
    "GoogleChromePolicyVersionsV1PolicyTargetKey": {
      "id": "GoogleChromePolicyVersionsV1PolicyTargetKey",
      "properties": {
        "targetResource": {
          "description": "The target resource on which this policy is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\") * Group (\"groups/{group_id}\")",
          "type": "string"
        },
        "additionalTargetKeys": {
          "description": "Map containing the additional target key name and value pairs used to further identify the target of the policy.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "The key used to identify the target on which the policy will be applied."
    },
    "GoogleChromePolicyVersionsV1DefineCertificateRequest": {
      "description": "Request object for creating a certificate.",
      "id": "GoogleChromePolicyVersionsV1DefineCertificateRequest",
      "properties": {
        "certificate": {
          "description": "Required. The raw contents of the .PEM, .CRT, or .CER file.",
          "type": "string"
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this certificate is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "settings": {
          "description": "Optional. Certificate settings within the chrome.networks.certificates namespace.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "ceritificateName": {
          "description": "Optional. The optional name of the certificate. If not specified, the certificate issuer will be used as the name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ResolvedPolicy": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ResolvedPolicy",
      "description": "The resolved value of a policy for a given target.",
      "properties": {
        "targetKey": {
          "description": "Output only. The target resource for which the resolved policy value applies.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "sourceKey": {
          "readOnly": true,
          "description": "Output only. The source resource from which this policy value is obtained. May be the same as `targetKey` if the policy is directly modified on the target, otherwise it would be another resource from which the policy gets its value (if applicable). If not present, the source is the default value for the customer.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "addedSourceKey": {
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The added source key establishes at which level an entity was explicitly added for management. This is useful for certain type of policies that are only applied if they are explicitly added for management. For example: apps and networks. An entity can only be deleted from management in an Organizational Unit that it was explicitly added to. If this is not present it means that the policy is managed without the need to explicitly add an entity, for example: standard user or device policies."
        },
        "value": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "readOnly": true,
          "description": "Output only. The resolved value of the policy."
        }
      }
    },
    "GoogleChromePolicyVersionsV1ListPolicySchemasResponse": {
      "description": "Response message for listing policy schemas that match a filter.",
      "id": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse",
      "properties": {
        "nextPageToken": {
          "description": "The page token used to get the next page of policy schemas.",
          "type": "string"
        },
        "policySchemas": {
          "description": "The list of policy schemas that match the query.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleChromePolicyVersionsV1DefineCertificateResponse": {
      "id": "GoogleChromePolicyVersionsV1DefineCertificateResponse",
      "properties": {
        "networkId": {
          "description": "The guid of the certificate created by the action.",
          "type": "string"
        },
        "settings": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "description": "the affiliated settings of the certificate (NOT IMPLEMENTED)",
          "type": "array"
        },
        "targetResource": {
          "description": "the resource at which the certificate is defined.",
          "type": "string"
        }
      },
      "description": "Response object for creating a certificate.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileResponse": {
      "type": "object",
      "description": "Response message for downloading an uploaded file.",
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse",
      "properties": {
        "downloadUri": {
          "description": "The uri for end user to download the file.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkResponse": {
      "properties": {},
      "description": "Response object for removing a network.",
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkResponse",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateRequest": {
      "description": "Request object for removing a certificate.",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateRequest",
      "type": "object",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this certificate will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "networkId": {
          "type": "string",
          "description": "Required. The GUID of the certificate to remove."
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies": {
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies",
      "type": "object",
      "description": "The field and the value it must have for another field to be allowed to be set.",
      "properties": {
        "sourceField": {
          "description": "The source field which this field depends on.",
          "type": "string"
        },
        "sourceFieldValue": {
          "description": "The value which the source field must have for this field to be allowed to be set.",
          "type": "string"
        }
      }
    },
    "Proto2FieldDescriptorProto": {
      "description": "Describes a field within a message.",
      "properties": {
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "typeName": {
          "type": "string",
          "description": "For message and enum types, this is the name of the type. If the name starts with a '.', it is fully-qualified. Otherwise, C++-like scoping rules are used to find the type (i.e. first the nested types within this message are searched, then within the parent, on up to the root namespace)."
        },
        "defaultValue": {
          "description": "For numeric types, contains the original text representation of the value. For booleans, \"true\" or \"false\". For strings, contains the default text contents (not escaped in any way). For bytes, contains the C escaped value. All bytes \u003e= 128 are escaped.",
          "type": "string"
        },
        "proto3Optional": {
          "type": "boolean",
          "description": "If true, this is a proto3 \"optional\". When a proto3 field is optional, it tracks presence regardless of field type. When proto3_optional is true, this field must be belong to a oneof to signal to old proto3 clients that presence is tracked for this field. This oneof is known as a \"synthetic\" oneof, and this field must be its sole member (each proto3 optional field gets its own synthetic oneof). Synthetic oneofs exist in the descriptor only, and do not generate any API. Synthetic oneofs must be ordered after all \"real\" oneofs. For message fields, proto3_optional doesn't create any semantic change, since non-repeated message fields always track presence. However it still indicates the semantic detail of whether the user wrote \"optional\" or not. This can be useful for round-tripping the .proto file. For consistency we give message fields a synthetic oneof also, even though it is not required to track presence. This is especially important because the parser can't tell if a field is a message or an enum, so it must always create a synthetic oneof. Proto2 optional fields do not set this flag, because they already indicate optional with `LABEL_OPTIONAL`."
        },
        "type": {
          "enumDescriptions": [
            "0 is reserved for errors. Order is weird for historical reasons.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT64 if negative values are likely.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT32 if negative values are likely.",
            "",
            "",
            "",
            "",
            "Tag-delimited aggregate. Group type is deprecated and not supported in proto3. However, Proto3 implementations should still be able to parse the group wire format and treat group fields as unknown fields.",
            "Length-delimited aggregate.",
            "New in version 2.",
            "",
            "",
            "",
            "",
            "Uses ZigZag encoding.",
            "Uses ZigZag encoding."
          ],
          "description": "If type_name is set, this need not be set. If both this and type_name are set, this must be one of TYPE_ENUM, TYPE_MESSAGE or TYPE_GROUP.",
          "type": "string",
          "enum": [
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ]
        },
        "oneofIndex": {
          "format": "int32",
          "type": "integer",
          "description": "If set, gives the index of a oneof in the containing type's oneof_decl list. This field is a member of that oneof."
        },
        "name": {
          "type": "string"
        },
        "label": {
          "enumDescriptions": [
            "0 is reserved for errors",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "LABEL_OPTIONAL",
            "LABEL_REQUIRED",
            "LABEL_REPEATED"
          ]
        },
        "jsonName": {
          "description": "JSON name of this field. The value is set by protocol compiler. If the user has set a \"json_name\" option on this field, that option's value will be used. Otherwise, it's deduced from the field's name by converting it to camelCase.",
          "type": "string"
        }
      },
      "id": "Proto2FieldDescriptorProto",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription": {
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription",
      "properties": {
        "nestedFieldDescriptions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "type": "array",
          "description": "Output only. Provides the description of the fields nested in this field, if the field is a message type that defines multiple fields."
        },
        "description": {
          "description": "Deprecated. Use name and field_description instead. The description for the field.",
          "type": "string"
        },
        "inputConstraint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Any input constraints associated on the values for the field."
        },
        "knownValueDescriptions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. If the field has a set of known values, this field will provide a description for these values.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
          }
        },
        "defaultValue": {
          "readOnly": true,
          "type": "any",
          "description": "Output only. Client default if the policy is unset."
        },
        "requiredItems": {
          "type": "array",
          "description": "Output only. Provides a list of fields that are required to be set if this field has a certain value.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems"
          }
        },
        "fieldDependencies": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          },
          "description": "Output only. Provides a list of fields and values. At least one of the fields must have the corresponding value in order for this field to be allowed to be set.",
          "readOnly": true,
          "type": "array"
        },
        "fieldDescription": {
          "description": "Output only. The description of the field.",
          "readOnly": true,
          "type": "string"
        },
        "field": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the field for associated with this description."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the field.",
          "type": "string"
        }
      },
      "description": "Provides detailed information for a particular field that is part of a PolicySchema.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription": {
      "type": "object",
      "description": "Provides detailed information about a known value that is allowed for a particular field in a PolicySchema.",
      "properties": {
        "description": {
          "readOnly": true,
          "description": "Output only. Additional description for this value.",
          "type": "string"
        },
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The string represenstation of the value that can be set for the field."
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
    },
    "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle": {
      "type": "object",
      "id": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description about current life cycle."
        },
        "policyApiLifecycleStage": {
          "enum": [
            "API_UNSPECIFIED",
            "API_PREVIEW",
            "API_DEVELOPMENT",
            "API_CURRENT",
            "API_DEPRECATED"
          ],
          "description": "Indicate current life cycle stage of the policy API.",
          "enumDescriptions": [
            "unspecified.",
            "Policy is not working yet, but giving developers heads up on format. This stage can transfer to API_DEVELOPEMNT or API_CURRENT.",
            "Policy can change format in backward incompatible way (breaking change). This stage can transfer to API_CURRENT or API_DEPRECATED. This could be used for policies launched only to TTs or launched to selected customers for emergency usage.",
            "Policy in official format. Policy can change format in backward compatible way (non-breaking change). Example: this policy can introduce a new field, which is considered non-breaking change, when field masks are properly utilized. This stage can transfer to API_DEPRECATED.",
            "Please stop using this policy. This policy is deprecated and may/will be removed in the future. Most likely a new policy was introduced to replace this one."
          ],
          "type": "string"
        },
        "endSupport": {
          "$ref": "GoogleTypeDate",
          "description": "End supporting date for current policy."
        }
      }
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse": {
      "properties": {
        "policyNamespace": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The namespace of the policy type of the group IDs."
        },
        "policyTargetKey": {
          "description": "Output only. The target resource for which the group priority ordering has been retrieved.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true
        },
        "groupIds": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The group IDs, in priority ordering.",
          "type": "array"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse",
      "type": "object",
      "description": "Response message for listing the group priority ordering of an app."
    },
    "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest": {
      "description": "Request parameters for deleting the policy value of a specific group target.",
      "type": "object",
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema that is being inherited."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        }
      },
      "id": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
    },
    "GoogleChromePolicyVersionsV1PolicyModificationFieldError": {
      "type": "object",
      "description": "Error information for a modification request of a specific field on a specific policy.",
      "id": "GoogleChromePolicyVersionsV1PolicyModificationFieldError",
      "properties": {
        "field": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the field with the error."
        },
        "error": {
          "readOnly": true,
          "description": "Output only. The error message related to the field.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription": {
      "type": "object",
      "description": "Provides special notice messages related to a particular value in a field that is part of a PolicySchema.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription",
      "properties": {
        "acknowledgementRequired": {
          "readOnly": true,
          "description": "Output only. Whether the user needs to acknowledge the notice message before the value can be set.",
          "type": "boolean"
        },
        "noticeMessage": {
          "readOnly": true,
          "description": "Output only. The notice message associate with the value of the field.",
          "type": "string"
        },
        "field": {
          "description": "Output only. The field name associated with the notice.",
          "type": "string",
          "readOnly": true
        },
        "noticeValue": {
          "description": "Output only. The value of the field that has a notice. When setting the field to this value, the user may be required to acknowledge the notice message in order for the value to be set.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems": {
      "description": "The fields that will become required based on the value of this field.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems",
      "properties": {
        "requiredFields": {
          "description": "The fields that are required as a consequence of the field conditions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fieldConditions": {
          "description": "The value(s) of the field that provoke required field enforcement. An empty field_conditions implies that any value assigned to this field will provoke required field enforcement.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1DefineNetworkResponse": {
      "id": "GoogleChromePolicyVersionsV1DefineNetworkResponse",
      "properties": {
        "targetResource": {
          "description": "The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "networkId": {
          "description": "Network ID of the new created network.",
          "type": "string"
        },
        "settings": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "type": "array",
          "description": "Detailed network settings of the new created network"
        }
      },
      "type": "object",
      "description": "Response object for creating a network."
    },
    "GoogleChromePolicyVersionsV1NetworkSetting": {
      "properties": {
        "value": {
          "type": "object",
          "description": "The value of the network setting.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "policySchema": {
          "description": "The fully qualified name of the network setting.",
          "type": "string"
        }
      },
      "description": "A network setting contains network configurations.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1NetworkSetting"
    },
    "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest": {
      "id": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
          },
          "description": "List of policies that have to inherit their values as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request message for specifying that multiple policy values inherit their value from their parents."
    },
    "GoogleChromePolicyVersionsV1ResolveResponse": {
      "id": "GoogleChromePolicyVersionsV1ResolveResponse",
      "type": "object",
      "properties": {
        "resolvedPolicies": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ResolvedPolicy"
          },
          "type": "array",
          "description": "The list of resolved policies found by the resolve request."
        },
        "nextPageToken": {
          "description": "The page token used to get the next set of resolved policies found by the request.",
          "type": "string"
        }
      },
      "description": "Response message for getting the resolved policy value for a specific target."
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkRequest": {
      "properties": {
        "networkId": {
          "type": "string",
          "description": "Required. The GUID of the network to remove."
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this network will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        }
      },
      "type": "object",
      "description": "Request object for removing a network",
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkRequest"
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileRequest": {
      "description": "Request message for uploading a file for a policy.",
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest",
      "properties": {
        "policyField": {
          "description": "Required. The fully qualified policy schema and field name this file is uploaded for. This information will be used to validate the content type of the file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest": {
      "type": "object",
      "description": "Request parameters for modifying a policy value for a specific org unit target.",
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policyValue": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "The new value for the policy."
        },
        "updateMask": {
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
    },
    "GoogleChromePolicyVersionsV1PolicyValue": {
      "properties": {
        "value": {
          "description": "The value of the policy that is compatible with the schema that it is associated with.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "policySchema": {
          "description": "The fully qualified name of the policy schema associated with this policy.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A particular value for a policy managed by the service.",
      "id": "GoogleChromePolicyVersionsV1PolicyValue"
    },
    "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest": {
      "type": "object",
      "properties": {
        "groupIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The group IDs, in desired priority ordering."
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to update the group priority ordering. The target resource must point to an app.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policyNamespace": {
          "description": "Required. The namespace of the policy type for the request.",
          "type": "string"
        }
      },
      "description": "Request message for updating the group priority ordering of an app.",
      "id": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails": {
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails",
      "properties": {
        "certificateReferences": {
          "description": "Output only. If the certificate was not removed, a list of references to the certificate that prevented it from being removed. Only unreferenced certificates can be removed.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1CertificateReference"
          }
        }
      },
      "description": "Details of the errors encountered during a remove certificate request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request.",
      "type": "object"
    },
    "Proto2OneofDescriptorProto": {
      "id": "Proto2OneofDescriptorProto",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes a oneof."
    },
    "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest": {
      "type": "object",
      "description": "Request parameters for modifying a policy value for a specific group target.",
      "properties": {
        "policyValue": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "The new value for the policy."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        },
        "updateMask": {
          "type": "string",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest": {
      "type": "object",
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to retrieve the group priority ordering. The target resource must point to an app."
        },
        "policyNamespace": {
          "description": "Required. The namespace of the policy type for the request.",
          "type": "string"
        }
      },
      "description": "Request message for listing the group priority ordering of an app.",
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
    },
    "GoogleChromePolicyVersionsV1ResolveRequest": {
      "description": "Request message for getting the resolved policy value for a specific target.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ResolveRequest",
      "properties": {
        "pageSize": {
          "description": "The maximum number of policies to return, defaults to 100 and has a maximum of 1000.",
          "format": "int32",
          "type": "integer"
        },
        "policySchemaFilter": {
          "type": "string",
          "description": "The schema filter to apply to the resolve request. Specify a schema name to view a particular schema, for example: chrome.users.ShowLogoutButton Wildcards are supported, but only in the leaf portion of the schema name. Wildcards cannot be used in namespace directly. Please read https://developers.google.com/chrome/policy/guides/policy-schemas for details on schema namespaces. For example: Valid: \"chrome.users.*\", \"chrome.users.apps.*\", \"chrome.printers.*\" Invalid: \"*\", \"*.users\", \"chrome.*\", \"chrome.*.apps.*\""
        },
        "pageToken": {
          "description": "The page token used to retrieve a specific page of the request.",
          "type": "string"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target resource on which the policies should be resolved. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      }
    },
    "Proto2EnumDescriptorProto": {
      "id": "Proto2EnumDescriptorProto",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumValueDescriptorProto"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes an enum type."
    },
    "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest": {
      "description": "Request parameters for inheriting policy value of a specific org unit target from the policy value of its parent org unit.",
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema that is being inherited."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
    },
    "Proto2DescriptorProto": {
      "id": "Proto2DescriptorProto",
      "description": "Describes a message type.",
      "type": "object",
      "properties": {
        "field": {
          "items": {
            "$ref": "Proto2FieldDescriptorProto"
          },
          "type": "array"
        },
        "oneofDecl": {
          "items": {
            "$ref": "Proto2OneofDescriptorProto"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "nestedType": {
          "items": {
            "$ref": "Proto2DescriptorProto"
          },
          "type": "array"
        },
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        }
      }
    },
    "GoogleChromePolicyVersionsV1DefineNetworkRequest": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineNetworkRequest",
      "description": "Request object for creating a new network.",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "settings": {
          "type": "array",
          "description": "Required. Detailed network settings.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the new created network."
        }
      }
    },
    "Proto2FileDescriptorProto": {
      "description": "Describes a complete .proto file.",
      "id": "Proto2FileDescriptorProto",
      "type": "object",
      "properties": {
        "enumType": {
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          },
          "type": "array"
        },
        "messageType": {
          "description": "All top-level definitions in this file.",
          "items": {
            "$ref": "Proto2DescriptorProto"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "file name, relative to root of source tree"
        },
        "package": {
          "type": "string",
          "description": "e.g. \"foo\", \"foo.bar\", etc."
        },
        "syntax": {
          "description": "The syntax of the proto file. The supported values are \"proto2\", \"proto3\", and \"editions\". If `edition` is present, this value must be \"editions\".",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchema": {
      "description": "Resource representing a policy schema.",
      "properties": {
        "schemaName": {
          "description": "Output only. The fully qualified name of the policy schema. This value is used to fill the field `policy_schema` in PolicyValue when calling BatchInheritOrgUnitPolicies BatchModifyOrgUnitPolicies BatchModifyGroupPolicies or BatchDeleteGroupPolicies.",
          "type": "string",
          "readOnly": true
        },
        "validTargetResources": {
          "items": {
            "type": "string",
            "enum": [
              "TARGET_RESOURCE_UNSPECIFIED",
              "ORG_UNIT",
              "GROUP"
            ],
            "enumDescriptions": [
              "Unspecified target resource.",
              "Organizational Unit target resource.",
              "Group target resource."
            ]
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Information about applicable target resources for the policy."
        },
        "supportUri": {
          "description": "Output only. URI to related support article for this schema.",
          "type": "string",
          "readOnly": true
        },
        "additionalTargetKeyNames": {
          "type": "array",
          "description": "Output only. Additional key names that will be used to identify the target of the policy value. When specifying a `policyTargetKey`, each of the additional keys specified here will have to be included in the `additionalTargetKeys` map.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName"
          },
          "readOnly": true
        },
        "fieldDescriptions": {
          "description": "Output only. Detailed description of each field that is part of the schema.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "readOnly": true,
          "type": "array"
        },
        "categoryTitle": {
          "description": "Title of the category in which a setting belongs.",
          "type": "string"
        },
        "accessRestrictions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Specific access restrictions related to this policy.",
          "type": "array",
          "readOnly": true
        },
        "definition": {
          "$ref": "Proto2FileDescriptorProto",
          "description": "Schema definition using proto descriptor."
        },
        "policyApiLifeycle": {
          "description": "Deprecated field because of typo.",
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle"
        },
        "notices": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
          },
          "readOnly": true,
          "description": "Output only. Special notice messages related to setting certain values in certain fields in the schema.",
          "type": "array"
        },
        "name": {
          "description": "Format: name=customers/{customer}/policySchemas/{schema_namespace}",
          "type": "string"
        },
        "policyDescription": {
          "readOnly": true,
          "description": "Output only. Description about the policy schema for user consumption.",
          "type": "string"
        },
        "policyApiLifecycle": {
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
          "readOnly": true,
          "description": "Output only. Current lifecycle information."
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchema",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest": {
      "description": "Request message for specifying that multiple policy values will be deleted.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
          },
          "type": "array",
          "description": "List of policies that will be deleted as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. "
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest"
    },
    "GoogleChromePolicyVersionsV1AdditionalTargetKeyName": {
      "id": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key name.",
          "type": "string"
        },
        "keyDescription": {
          "description": "Key description.",
          "type": "string"
        }
      },
      "description": "Additional key names that will be used to identify the target of the policy value."
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateResponse": {
      "description": "Response object for removing a certificate.",
      "properties": {},
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
    },
    "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest": {
      "id": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest",
      "description": "Request message for modifying multiple policy values for a specific group-based target.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
          }
        }
      }
    },
    "Proto2EnumValueDescriptorProto": {
      "id": "Proto2EnumValueDescriptorProto",
      "description": "Describes a value within an enum.",
      "type": "object",
      "properties": {
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      }
    }
  },
  "batchPath": "batch",
  "basePath": "",
  "protocol": "rest",
  "rootUrl": "https://chromepolicy.googleapis.com/",
  "ownerDomain": "google.com",
  "baseUrl": "https://chromepolicy.googleapis.com/",
  "revision": "20221020",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.policy": {
          "description": "See, edit, create or delete policies applied to Chrome OS and Chrome Browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.policy.readonly": {
          "description": "See policies applied to Chrome OS and Chrome Browsers managed within your organization"
        }
      }
    }
  },
  "version_module": true,
  "kind": "discovery#restDescription",
  "version": "v1"
}
