{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://chromepolicy.mtls.googleapis.com/",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "version_module": true,
  "ownerName": "Google",
  "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
  "canonicalName": "Chrome Policy",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "revision": "20221020",
  "rootUrl": "https://chromepolicy.googleapis.com/",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "id": "chromepolicy.media.upload",
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "flatPath": "v1/customers/{customersId}/policies/files:uploadPolicyFile",
          "description": "Creates an enterprise file from the content provided by user. Returns a public download url for end user.",
          "scopes": [
            "https://www.googleapis.com/auth/chrome.management.policy"
          ],
          "request": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
          },
          "parameters": {
            "customer": {
              "location": "path",
              "description": "Required. The customer for which the file upload will apply.",
              "required": true,
              "pattern": "^customers/[^/]+$",
              "type": "string"
            }
          },
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/{+customer}/policies/files:uploadPolicyFile"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "path": "v1/{+customer}/policies/files:uploadPolicyFile",
          "response": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
          },
          "parameterOrder": [
            "customer"
          ]
        }
      }
    },
    "customers": {
      "resources": {
        "policySchemas": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
              },
              "description": "Get a specific policy schema for a customer by its resource name.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "chromepolicy.customers.policySchemas.get",
              "flatPath": "v1/customers/{customersId}/policySchemas/{policySchemasId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/policySchemas/.*$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The policy schema resource name to query."
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "id": "chromepolicy.customers.policySchemas.list",
              "description": "Gets a list of policy schemas that match a specified filter value for a given customer.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/policySchemas",
              "flatPath": "v1/customers/{customersId}/policySchemas",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The customer for which the listing request will apply."
                },
                "filter": {
                  "description": "The schema filter used to find a particular schema based on fields like its resource name, description and `additionalTargetKeyNames`.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of policy schemas to return, defaults to 100 and has a maximum of 1000.",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The page token used to retrieve a specific page of the listing request."
                }
              },
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse"
              }
            }
          }
        },
        "policies": {
          "methods": {
            "resolve": {
              "request": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveRequest"
              },
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveResponse"
              },
              "id": "chromepolicy.customers.policies.resolve",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "path": "v1/{+customer}/policies:resolve",
              "httpMethod": "POST",
              "flatPath": "v1/customers/{customersId}/policies:resolve",
              "parameters": {
                "customer": {
                  "type": "string",
                  "location": "path",
                  "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                }
              },
              "description": "Gets the resolved policy values for a list of policies that match a search query."
            }
          },
          "resources": {
            "groups": {
              "methods": {
                "batchModify": {
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchModify",
                  "parameterOrder": [
                    "customer"
                  ],
                  "description": "Modify multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "required": true,
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "location": "path",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "path": "v1/{+customer}/policies/groups:batchModify",
                  "id": "chromepolicy.customers.policies.groups.batchModify",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST"
                },
                "batchDelete": {
                  "path": "v1/{+customer}/policies/groups:batchDelete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "chromepolicy.customers.policies.groups.batchDelete",
                  "parameterOrder": [
                    "customer"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest"
                  },
                  "description": "Delete multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchDelete",
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "pattern": "^customers/[^/]+$"
                    }
                  }
                },
                "listGroupPriorityOrdering": {
                  "path": "v1/{+customer}/policies/groups:listGroupPriorityOrdering",
                  "description": "Retrieve a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy",
                    "https://www.googleapis.com/auth/chrome.management.policy.readonly"
                  ],
                  "id": "chromepolicy.customers.policies.groups.listGroupPriorityOrdering",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request."
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/groups:listGroupPriorityOrdering",
                  "httpMethod": "POST"
                },
                "updateGroupPriorityOrdering": {
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest"
                  },
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Update a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "httpMethod": "POST",
                  "id": "chromepolicy.customers.policies.groups.updateGroupPriorityOrdering",
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/policies/groups:updateGroupPriorityOrdering",
                  "flatPath": "v1/customers/{customersId}/policies/groups:updateGroupPriorityOrdering"
                }
              }
            },
            "orgunits": {
              "methods": {
                "batchModify": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "path": "v1/{+customer}/policies/orgunits:batchModify",
                  "description": "Modify multiple policy values that are applied to a specific org unit. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "chromepolicy.customers.policies.orgunits.batchModify",
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchModify",
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request."
                    }
                  },
                  "parameterOrder": [
                    "customer"
                  ]
                },
                "batchInherit": {
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchInherit",
                  "description": "Modify multiple policy values that are applied to a specific org unit so that they now inherit the value from a parent (if applicable). All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "id": "chromepolicy.customers.policies.orgunits.batchInherit",
                  "parameters": {
                    "customer": {
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+customer}/policies/orgunits:batchInherit",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "customer"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                }
              }
            },
            "networks": {
              "methods": {
                "removeNetwork": {
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeNetwork",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkResponse"
                  },
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer whose network will be removed.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Remove an existing network by guid.",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkRequest"
                  },
                  "path": "v1/{+customer}/policies/networks:removeNetwork",
                  "httpMethod": "POST",
                  "id": "chromepolicy.customers.policies.networks.removeNetwork",
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ]
                },
                "defineNetwork": {
                  "parameters": {
                    "customer": {
                      "description": "Required. The customer who will own this new network.",
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "chromepolicy.customers.policies.networks.defineNetwork",
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/policies/networks:defineNetwork",
                  "description": "Define a new network.",
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineNetwork",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ]
                },
                "defineCertificate": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "customer"
                  ],
                  "id": "chromepolicy.customers.policies.networks.defineCertificate",
                  "parameters": {
                    "customer": {
                      "required": true,
                      "description": "Required. The customer for which the certificate will apply.",
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Creates a certificate at a specified OU for a customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineCertificate",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
                  },
                  "path": "v1/{+customer}/policies/networks:defineCertificate"
                },
                "removeCertificate": {
                  "parameters": {
                    "customer": {
                      "description": "Required. The customer whose certificate will be removed.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeCertificate",
                  "path": "v1/{+customer}/policies/networks:removeCertificate",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "description": "Remove an existing certificate by guid.",
                  "parameterOrder": [
                    "customer"
                  ],
                  "id": "chromepolicy.customers.policies.networks.removeCertificate",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateRequest"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "title": "Chrome Policy API",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.policy": {
          "description": "See, edit, create or delete policies applied to Chrome OS and Chrome Browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.policy.readonly": {
          "description": "See policies applied to Chrome OS and Chrome Browsers managed within your organization"
        }
      }
    }
  },
  "schemas": {
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest": {
      "description": "Request message for listing the group priority ordering of an app.",
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to retrieve the group priority ordering. The target resource must point to an app.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policyNamespace": {
          "description": "Required. The namespace of the policy type for the request.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription": {
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription",
      "properties": {
        "name": {
          "description": "Output only. The name of the field.",
          "readOnly": true,
          "type": "string"
        },
        "inputConstraint": {
          "description": "Output only. Any input constraints associated on the values for the field.",
          "type": "string",
          "readOnly": true
        },
        "requiredItems": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems"
          },
          "description": "Output only. Provides a list of fields that are required to be set if this field has a certain value.",
          "type": "array"
        },
        "fieldDependencies": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          },
          "description": "Output only. Provides a list of fields and values. At least one of the fields must have the corresponding value in order for this field to be allowed to be set."
        },
        "defaultValue": {
          "readOnly": true,
          "description": "Output only. Client default if the policy is unset.",
          "type": "any"
        },
        "knownValueDescriptions": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
          },
          "description": "Output only. If the field has a set of known values, this field will provide a description for these values.",
          "readOnly": true,
          "type": "array"
        },
        "field": {
          "description": "Output only. The name of the field for associated with this description.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Deprecated. Use name and field_description instead. The description for the field."
        },
        "fieldDescription": {
          "readOnly": true,
          "description": "Output only. The description of the field.",
          "type": "string"
        },
        "nestedFieldDescriptions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "description": "Output only. Provides the description of the fields nested in this field, if the field is a message type that defines multiple fields."
        }
      },
      "type": "object",
      "description": "Provides detailed information for a particular field that is part of a PolicySchema."
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileRequest": {
      "description": "Request message for uploading a file for a policy.",
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest",
      "properties": {
        "policyField": {
          "type": "string",
          "description": "Required. The fully qualified policy schema and field name this file is uploaded for. This information will be used to validate the content type of the file."
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription": {
      "id": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription",
      "description": "Provides special notice messages related to a particular value in a field that is part of a PolicySchema.",
      "type": "object",
      "properties": {
        "field": {
          "description": "Output only. The field name associated with the notice.",
          "type": "string",
          "readOnly": true
        },
        "noticeMessage": {
          "type": "string",
          "description": "Output only. The notice message associate with the value of the field.",
          "readOnly": true
        },
        "acknowledgementRequired": {
          "type": "boolean",
          "description": "Output only. Whether the user needs to acknowledge the notice message before the value can be set.",
          "readOnly": true
        },
        "noticeValue": {
          "readOnly": true,
          "description": "Output only. The value of the field that has a notice. When setting the field to this value, the user may be required to acknowledge the notice message in order for the value to be set.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1ListPolicySchemasResponse": {
      "description": "Response message for listing policy schemas that match a filter.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to get the next page of policy schemas."
        },
        "policySchemas": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
          },
          "type": "array",
          "description": "The list of policy schemas that match the query."
        }
      },
      "id": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse"
    },
    "GoogleChromePolicyVersionsV1AdditionalTargetKeyName": {
      "properties": {
        "key": {
          "description": "Key name.",
          "type": "string"
        },
        "keyDescription": {
          "type": "string",
          "description": "Key description."
        }
      },
      "id": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName",
      "type": "object",
      "description": "Additional key names that will be used to identify the target of the policy value."
    },
    "GoogleChromePolicyVersionsV1NetworkSetting": {
      "description": "A network setting contains network configurations.",
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the network setting."
        },
        "value": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The value of the network setting."
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1NetworkSetting"
    },
    "GoogleChromePolicyVersionsV1CertificateReference": {
      "properties": {
        "orgUnitId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The obfuscated id of the org unit the referencing network is in."
        },
        "network": {
          "description": "Output only. The name of the referencing network.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromePolicyVersionsV1CertificateReference",
      "description": "Error information for removing of a specific certificate on a specific target. A reference to a certificate.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails": {
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails",
      "type": "object",
      "properties": {
        "certificateReferences": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1CertificateReference"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. If the certificate was not removed, a list of references to the certificate that prevented it from being removed. Only unreferenced certificates can be removed."
        }
      },
      "description": "Details of the errors encountered during a remove certificate request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request."
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies": {
      "properties": {
        "sourceFieldValue": {
          "type": "string",
          "description": "The value which the source field must have for this field to be allowed to be set."
        },
        "sourceField": {
          "description": "The source field which this field depends on.",
          "type": "string"
        }
      },
      "description": "The field and the value it must have for another field to be allowed to be set.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
    },
    "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest": {
      "description": "Request parameters for deleting the policy value of a specific group target.",
      "id": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest",
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema that is being inherited."
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateResponse": {
      "type": "object",
      "properties": {},
      "description": "Response object for removing a certificate.",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
    },
    "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest": {
      "description": "Request message for specifying that multiple policy values will be deleted.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest",
      "properties": {
        "requests": {
          "type": "array",
          "description": "List of policies that will be deleted as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
          }
        }
      }
    },
    "Proto2EnumDescriptorProto": {
      "description": "Describes an enum type.",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "items": {
            "$ref": "Proto2EnumValueDescriptorProto"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Proto2EnumDescriptorProto"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems": {
      "description": "The fields that will become required based on the value of this field.",
      "properties": {
        "fieldConditions": {
          "type": "array",
          "description": "The value(s) of the field that provoke required field enforcement. An empty field_conditions implies that any value assigned to this field will provoke required field enforcement.",
          "items": {
            "type": "string"
          }
        },
        "requiredFields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The fields that are required as a consequence of the field conditions."
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateRequest": {
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateRequest",
      "description": "Request object for removing a certificate.",
      "type": "object",
      "properties": {
        "networkId": {
          "type": "string",
          "description": "Required. The GUID of the certificate to remove."
        },
        "targetResource": {
          "description": "Required. The target resource on which this certificate will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse": {
      "description": "Response message for listing the group priority ordering of an app.",
      "properties": {
        "policyTargetKey": {
          "description": "Output only. The target resource for which the group priority ordering has been retrieved.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "groupIds": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The group IDs, in priority ordering.",
          "items": {
            "type": "string"
          }
        },
        "policyNamespace": {
          "description": "Output only. The namespace of the policy type of the group IDs.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchema": {
      "id": "GoogleChromePolicyVersionsV1PolicySchema",
      "properties": {
        "supportUri": {
          "description": "Output only. URI to related support article for this schema.",
          "readOnly": true,
          "type": "string"
        },
        "notices": {
          "readOnly": true,
          "description": "Output only. Special notice messages related to setting certain values in certain fields in the schema.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
          }
        },
        "definition": {
          "description": "Schema definition using proto descriptor.",
          "$ref": "Proto2FileDescriptorProto"
        },
        "policyApiLifecycle": {
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
          "description": "Output only. Current lifecycle information.",
          "readOnly": true
        },
        "accessRestrictions": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Specific access restrictions related to this policy.",
          "type": "array"
        },
        "validTargetResources": {
          "readOnly": true,
          "items": {
            "enum": [
              "TARGET_RESOURCE_UNSPECIFIED",
              "ORG_UNIT",
              "GROUP"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified target resource.",
              "Organizational Unit target resource.",
              "Group target resource."
            ]
          },
          "type": "array",
          "description": "Output only. Information about applicable target resources for the policy."
        },
        "policyApiLifeycle": {
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
          "description": "Deprecated field because of typo."
        },
        "name": {
          "description": "Format: name=customers/{customer}/policySchemas/{schema_namespace}",
          "type": "string"
        },
        "additionalTargetKeyNames": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName"
          },
          "type": "array",
          "description": "Output only. Additional key names that will be used to identify the target of the policy value. When specifying a `policyTargetKey`, each of the additional keys specified here will have to be included in the `additionalTargetKeys` map.",
          "readOnly": true
        },
        "schemaName": {
          "description": "Output only. The fully qualified name of the policy schema. This value is used to fill the field `policy_schema` in PolicyValue when calling BatchInheritOrgUnitPolicies BatchModifyOrgUnitPolicies BatchModifyGroupPolicies or BatchDeleteGroupPolicies.",
          "readOnly": true,
          "type": "string"
        },
        "policyDescription": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description about the policy schema for user consumption."
        },
        "fieldDescriptions": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Detailed description of each field that is part of the schema."
        },
        "categoryTitle": {
          "type": "string",
          "description": "Title of the category in which a setting belongs."
        }
      },
      "type": "object",
      "description": "Resource representing a policy schema."
    },
    "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest": {
      "properties": {
        "updateMask": {
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policyValue": {
          "description": "The new value for the policy.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest",
      "type": "object",
      "description": "Request parameters for modifying a policy value for a specific group target."
    },
    "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest": {
      "type": "object",
      "properties": {
        "groupIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The group IDs, in desired priority ordering."
        },
        "policyNamespace": {
          "type": "string",
          "description": "Required. The namespace of the policy type for the request."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to update the group priority ordering. The target resource must point to an app."
        }
      },
      "id": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest",
      "description": "Request message for updating the group priority ordering of an app."
    },
    "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest": {
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        },
        "policySchema": {
          "description": "The fully qualified name of the policy schema that is being inherited.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest",
      "description": "Request parameters for inheriting policy value of a specific org unit target from the policy value of its parent org unit.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ResolveRequest": {
      "properties": {
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of policies to return, defaults to 100 and has a maximum of 1000."
        },
        "pageToken": {
          "type": "string",
          "description": "The page token used to retrieve a specific page of the request."
        },
        "policySchemaFilter": {
          "description": "The schema filter to apply to the resolve request. Specify a schema name to view a particular schema, for example: chrome.users.ShowLogoutButton Wildcards are supported, but only in the leaf portion of the schema name. Wildcards cannot be used in namespace directly. Please read https://developers.google.com/chrome/policy/guides/policy-schemas for details on schema namespaces. For example: Valid: \"chrome.users.*\", \"chrome.users.apps.*\", \"chrome.printers.*\" Invalid: \"*\", \"*.users\", \"chrome.*\", \"chrome.*.apps.*\"",
          "type": "string"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target resource on which the policies should be resolved. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ResolveRequest",
      "description": "Request message for getting the resolved policy value for a specific target.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1DefineCertificateResponse": {
      "description": "Response object for creating a certificate.",
      "properties": {
        "networkId": {
          "description": "The guid of the certificate created by the action.",
          "type": "string"
        },
        "settings": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "description": "the affiliated settings of the certificate (NOT IMPLEMENTED)",
          "type": "array"
        },
        "targetResource": {
          "type": "string",
          "description": "the resource at which the certificate is defined."
        }
      },
      "id": "GoogleChromePolicyVersionsV1DefineCertificateResponse",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkRequest": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkRequest",
      "description": "Request object for removing a network",
      "properties": {
        "targetResource": {
          "description": "Required. The target resource on which this network will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "networkId": {
          "description": "Required. The GUID of the network to remove.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest": {
      "id": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
          },
          "description": "List of policies that have to inherit their values as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array"
        }
      },
      "description": "Request message for specifying that multiple policy values inherit their value from their parents.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest": {
      "description": "Request parameters for modifying a policy value for a specific org unit target.",
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'."
        },
        "policyValue": {
          "description": "The new value for the policy.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
          },
          "type": "array"
        }
      },
      "description": "Request message for modifying multiple policy values for a specific target.",
      "id": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "type": "object",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkResponse": {
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkResponse",
      "description": "Response object for removing a network.",
      "properties": {},
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1DefineNetworkResponse": {
      "description": "Response object for creating a network.",
      "properties": {
        "settings": {
          "type": "array",
          "description": "Detailed network settings of the new created network",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "targetResource": {
          "description": "The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "networkId": {
          "description": "Network ID of the new created network.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1DefineNetworkResponse",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyModificationFieldError": {
      "description": "Error information for a modification request of a specific field on a specific policy.",
      "properties": {
        "error": {
          "description": "Output only. The error message related to the field.",
          "readOnly": true,
          "type": "string"
        },
        "field": {
          "readOnly": true,
          "description": "Output only. The name of the field with the error.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicyModificationFieldError"
    },
    "GoogleChromePolicyVersionsV1ResolveResponse": {
      "id": "GoogleChromePolicyVersionsV1ResolveResponse",
      "type": "object",
      "properties": {
        "resolvedPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ResolvedPolicy"
          },
          "description": "The list of resolved policies found by the resolve request."
        },
        "nextPageToken": {
          "description": "The page token used to get the next set of resolved policies found by the request.",
          "type": "string"
        }
      },
      "description": "Response message for getting the resolved policy value for a specific target."
    },
    "GoogleChromePolicyVersionsV1PolicyValue": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the policy that is compatible with the schema that it is associated with.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "policySchema": {
          "description": "The fully qualified name of the policy schema associated with this policy.",
          "type": "string"
        }
      },
      "description": "A particular value for a policy managed by the service.",
      "id": "GoogleChromePolicyVersionsV1PolicyValue"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "Proto2DescriptorProto": {
      "type": "object",
      "id": "Proto2DescriptorProto",
      "properties": {
        "enumType": {
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          },
          "type": "array"
        },
        "nestedType": {
          "type": "array",
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        },
        "oneofDecl": {
          "items": {
            "$ref": "Proto2OneofDescriptorProto"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "field": {
          "items": {
            "$ref": "Proto2FieldDescriptorProto"
          },
          "type": "array"
        }
      },
      "description": "Describes a message type."
    },
    "Proto2EnumValueDescriptorProto": {
      "description": "Describes a value within an enum.",
      "properties": {
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Proto2EnumValueDescriptorProto",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1DefineNetworkRequest": {
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "settings": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "type": "array",
          "description": "Required. Detailed network settings."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the new created network."
        }
      },
      "id": "GoogleChromePolicyVersionsV1DefineNetworkRequest",
      "description": "Request object for creating a new network.",
      "type": "object"
    },
    "Proto2FileDescriptorProto": {
      "properties": {
        "package": {
          "description": "e.g. \"foo\", \"foo.bar\", etc.",
          "type": "string"
        },
        "messageType": {
          "type": "array",
          "description": "All top-level definitions in this file.",
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        },
        "syntax": {
          "type": "string",
          "description": "The syntax of the proto file. The supported values are \"proto2\", \"proto3\", and \"editions\". If `edition` is present, this value must be \"editions\"."
        },
        "name": {
          "type": "string",
          "description": "file name, relative to root of source tree"
        },
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        }
      },
      "type": "object",
      "description": "Describes a complete .proto file.",
      "id": "Proto2FileDescriptorProto"
    },
    "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle": {
      "id": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
      "type": "object",
      "properties": {
        "policyApiLifecycleStage": {
          "enumDescriptions": [
            "unspecified.",
            "Policy is not working yet, but giving developers heads up on format. This stage can transfer to API_DEVELOPEMNT or API_CURRENT.",
            "Policy can change format in backward incompatible way (breaking change). This stage can transfer to API_CURRENT or API_DEPRECATED. This could be used for policies launched only to TTs or launched to selected customers for emergency usage.",
            "Policy in official format. Policy can change format in backward compatible way (non-breaking change). Example: this policy can introduce a new field, which is considered non-breaking change, when field masks are properly utilized. This stage can transfer to API_DEPRECATED.",
            "Please stop using this policy. This policy is deprecated and may/will be removed in the future. Most likely a new policy was introduced to replace this one."
          ],
          "type": "string",
          "description": "Indicate current life cycle stage of the policy API.",
          "enum": [
            "API_UNSPECIFIED",
            "API_PREVIEW",
            "API_DEVELOPMENT",
            "API_CURRENT",
            "API_DEPRECATED"
          ]
        },
        "description": {
          "description": "Description about current life cycle.",
          "type": "string"
        },
        "endSupport": {
          "$ref": "GoogleTypeDate",
          "description": "End supporting date for current policy."
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicyTargetKey": {
      "type": "object",
      "description": "The key used to identify the target on which the policy will be applied.",
      "properties": {
        "additionalTargetKeys": {
          "description": "Map containing the additional target key name and value pairs used to further identify the target of the policy.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetResource": {
          "type": "string",
          "description": "The target resource on which this policy is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\") * Group (\"groups/{group_id}\")"
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyTargetKey"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription": {
      "description": "Provides detailed information about a known value that is allowed for a particular field in a PolicySchema.",
      "properties": {
        "value": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The string represenstation of the value that can be set for the field."
        },
        "description": {
          "description": "Output only. Additional description for this value.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription",
      "type": "object"
    },
    "Proto2FieldDescriptorProto": {
      "properties": {
        "label": {
          "enum": [
            "LABEL_OPTIONAL",
            "LABEL_REQUIRED",
            "LABEL_REPEATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "0 is reserved for errors",
            "",
            ""
          ]
        },
        "proto3Optional": {
          "description": "If true, this is a proto3 \"optional\". When a proto3 field is optional, it tracks presence regardless of field type. When proto3_optional is true, this field must be belong to a oneof to signal to old proto3 clients that presence is tracked for this field. This oneof is known as a \"synthetic\" oneof, and this field must be its sole member (each proto3 optional field gets its own synthetic oneof). Synthetic oneofs exist in the descriptor only, and do not generate any API. Synthetic oneofs must be ordered after all \"real\" oneofs. For message fields, proto3_optional doesn't create any semantic change, since non-repeated message fields always track presence. However it still indicates the semantic detail of whether the user wrote \"optional\" or not. This can be useful for round-tripping the .proto file. For consistency we give message fields a synthetic oneof also, even though it is not required to track presence. This is especially important because the parser can't tell if a field is a message or an enum, so it must always create a synthetic oneof. Proto2 optional fields do not set this flag, because they already indicate optional with `LABEL_OPTIONAL`.",
          "type": "boolean"
        },
        "type": {
          "description": "If type_name is set, this need not be set. If both this and type_name are set, this must be one of TYPE_ENUM, TYPE_MESSAGE or TYPE_GROUP.",
          "enum": [
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "enumDescriptions": [
            "0 is reserved for errors. Order is weird for historical reasons.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT64 if negative values are likely.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT32 if negative values are likely.",
            "",
            "",
            "",
            "",
            "Tag-delimited aggregate. Group type is deprecated and not supported in proto3. However, Proto3 implementations should still be able to parse the group wire format and treat group fields as unknown fields.",
            "Length-delimited aggregate.",
            "New in version 2.",
            "",
            "",
            "",
            "",
            "Uses ZigZag encoding.",
            "Uses ZigZag encoding."
          ],
          "type": "string"
        },
        "jsonName": {
          "type": "string",
          "description": "JSON name of this field. The value is set by protocol compiler. If the user has set a \"json_name\" option on this field, that option's value will be used. Otherwise, it's deduced from the field's name by converting it to camelCase."
        },
        "name": {
          "type": "string"
        },
        "typeName": {
          "type": "string",
          "description": "For message and enum types, this is the name of the type. If the name starts with a '.', it is fully-qualified. Otherwise, C++-like scoping rules are used to find the type (i.e. first the nested types within this message are searched, then within the parent, on up to the root namespace)."
        },
        "number": {
          "format": "int32",
          "type": "integer"
        },
        "oneofIndex": {
          "format": "int32",
          "type": "integer",
          "description": "If set, gives the index of a oneof in the containing type's oneof_decl list. This field is a member of that oneof."
        },
        "defaultValue": {
          "description": "For numeric types, contains the original text representation of the value. For booleans, \"true\" or \"false\". For strings, contains the default text contents (not escaped in any way). For bytes, contains the C escaped value. All bytes \u003e= 128 are escaped.",
          "type": "string"
        }
      },
      "description": "Describes a field within a message.",
      "type": "object",
      "id": "Proto2FieldDescriptorProto"
    },
    "GoogleChromePolicyVersionsV1ResolvedPolicy": {
      "properties": {
        "targetKey": {
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The target resource for which the resolved policy value applies."
        },
        "sourceKey": {
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The source resource from which this policy value is obtained. May be the same as `targetKey` if the policy is directly modified on the target, otherwise it would be another resource from which the policy gets its value (if applicable). If not present, the source is the default value for the customer."
        },
        "value": {
          "description": "Output only. The resolved value of the policy.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        },
        "addedSourceKey": {
          "readOnly": true,
          "description": "Output only. The added source key establishes at which level an entity was explicitly added for management. This is useful for certain type of policies that are only applied if they are explicitly added for management. For example: apps and networks. An entity can only be deleted from management in an Organizational Unit that it was explicitly added to. If this is not present it means that the policy is managed without the need to explicitly add an entity, for example: standard user or device policies.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      },
      "description": "The resolved value of a policy for a given target.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ResolvedPolicy"
    },
    "GoogleChromePolicyVersionsV1DefineCertificateRequest": {
      "description": "Request object for creating a certificate.",
      "type": "object",
      "properties": {
        "settings": {
          "description": "Optional. Certificate settings within the chrome.networks.certificates namespace.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "type": "array"
        },
        "targetResource": {
          "description": "Required. The target resource on which this certificate is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "ceritificateName": {
          "type": "string",
          "description": "Optional. The optional name of the certificate. If not specified, the certificate issuer will be used as the name."
        },
        "certificate": {
          "description": "Required. The raw contents of the .PEM, .CRT, or .CER file.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
    },
    "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest": {
      "description": "Request message for modifying multiple policy values for a specific group-based target.",
      "id": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest",
      "properties": {
        "requests": {
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
          }
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileResponse": {
      "description": "Response message for downloading an uploaded file.",
      "properties": {
        "downloadUri": {
          "description": "The uri for end user to download the file.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
    },
    "Proto2OneofDescriptorProto": {
      "id": "Proto2OneofDescriptorProto",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "description": "Describes a oneof.",
      "type": "object"
    }
  },
  "servicePath": "",
  "name": "chromepolicy",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "http://developers.google.com/chrome/policy",
  "id": "chromepolicy:v1",
  "baseUrl": "https://chromepolicy.googleapis.com/",
  "basePath": "",
  "kind": "discovery#restDescription"
}
