{
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.policy.readonly": {
          "description": "See policies applied to Chrome OS and Chrome Browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.policy": {
          "description": "See, edit, create or delete policies applied to Chrome OS and Chrome Browsers managed within your organization"
        }
      }
    }
  },
  "mtlsRootUrl": "https://chromepolicy.mtls.googleapis.com/",
  "version_module": true,
  "resources": {
    "customers": {
      "resources": {
        "policies": {
          "resources": {
            "orgunits": {
              "methods": {
                "batchModify": {
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchModify",
                  "parameterOrder": [
                    "customer"
                  ],
                  "description": "Modify multiple policy values that are applied to a specific org unit. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "path": "v1/{+customer}/policies/orgunits:batchModify",
                  "httpMethod": "POST",
                  "id": "chromepolicy.customers.policies.orgunits.batchModify",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true
                    }
                  }
                },
                "batchInherit": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameterOrder": [
                    "customer"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchInherit",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest"
                  },
                  "id": "chromepolicy.customers.policies.orgunits.batchInherit",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+customer}/policies/orgunits:batchInherit",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request."
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Modify multiple policy values that are applied to a specific org unit so that they now inherit the value from a parent (if applicable). All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status."
                }
              }
            },
            "groups": {
              "methods": {
                "batchDelete": {
                  "path": "v1/{+customer}/policies/groups:batchDelete",
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request."
                    }
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Delete multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameterOrder": [
                    "customer"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchDelete",
                  "id": "chromepolicy.customers.policies.groups.batchDelete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "updateGroupPriorityOrdering": {
                  "description": "Update a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/policies/groups:updateGroupPriorityOrdering",
                  "id": "chromepolicy.customers.policies.groups.updateGroupPriorityOrdering",
                  "path": "v1/{+customer}/policies/groups:updateGroupPriorityOrdering",
                  "parameterOrder": [
                    "customer"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ]
                },
                "listGroupPriorityOrdering": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy",
                    "https://www.googleapis.com/auth/chrome.management.policy.readonly"
                  ],
                  "description": "Retrieve a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameters": {
                    "customer": {
                      "required": true,
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "chromepolicy.customers.policies.groups.listGroupPriorityOrdering",
                  "path": "v1/{+customer}/policies/groups:listGroupPriorityOrdering",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/groups:listGroupPriorityOrdering",
                  "parameterOrder": [
                    "customer"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
                  }
                },
                "batchModify": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "chromepolicy.customers.policies.groups.batchModify",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest"
                  },
                  "description": "Modify multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "customer": {
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+customer}/policies/groups:batchModify",
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchModify"
                }
              }
            },
            "networks": {
              "methods": {
                "removeNetwork": {
                  "parameters": {
                    "customer": {
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer whose network will be removed.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "id": "chromepolicy.customers.policies.networks.removeNetwork",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkRequest"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeNetwork",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkResponse"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+customer}/policies/networks:removeNetwork",
                  "description": "Remove an existing network by guid."
                },
                "defineNetwork": {
                  "id": "chromepolicy.customers.policies.networks.defineNetwork",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkResponse"
                  },
                  "httpMethod": "POST",
                  "description": "Define a new network.",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkRequest"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineNetwork",
                  "path": "v1/{+customer}/policies/networks:defineNetwork",
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The customer who will own this new network.",
                      "required": true
                    }
                  }
                },
                "removeCertificate": {
                  "id": "chromepolicy.customers.policies.networks.removeCertificate",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/policies/networks:removeCertificate",
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The customer whose certificate will be removed.",
                      "required": true
                    }
                  },
                  "description": "Remove an existing certificate by guid.",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateRequest"
                  },
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeCertificate"
                },
                "defineCertificate": {
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineCertificate",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "path": "v1/{+customer}/policies/networks:defineCertificate",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "description": "Creates a certificate at a specified OU for a customer.",
                  "id": "chromepolicy.customers.policies.networks.defineCertificate",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The customer for which the certificate will apply.",
                      "pattern": "^customers/[^/]+$",
                      "required": true
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "resolve": {
              "request": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveRequest"
              },
              "id": "chromepolicy.customers.policies.resolve",
              "parameters": {
                "customer": {
                  "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "path": "v1/{+customer}/policies:resolve",
              "description": "Gets the resolved policy values for a list of policies that match a search query.",
              "flatPath": "v1/customers/{customersId}/policies:resolve"
            }
          }
        },
        "policySchemas": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/policySchemas",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "httpMethod": "GET",
              "id": "chromepolicy.customers.policySchemas.list",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse"
              },
              "description": "Gets a list of policy schemas that match a specified filter value for a given customer.",
              "flatPath": "v1/customers/{customersId}/policySchemas",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of policy schemas to return, defaults to 100 and has a maximum of 1000.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The page token used to retrieve a specific page of the listing request.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "The schema filter used to find a particular schema based on fields like its resource name, description and `additionalTargetKeyNames`.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer for which the listing request will apply.",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "chromepolicy.customers.policySchemas.get",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
              },
              "flatPath": "v1/customers/{customersId}/policySchemas/{policySchemasId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The policy schema resource name to query.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/policySchemas/.*$"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "description": "Get a specific policy schema for a customer by its resource name."
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "parameterOrder": [
            "customer"
          ],
          "description": "Creates an enterprise file from the content provided by user. Returns a public download url for end user.",
          "flatPath": "v1/customers/{customersId}/policies/files:uploadPolicyFile",
          "response": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
          },
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/{+customer}/policies/files:uploadPolicyFile"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "parameters": {
            "customer": {
              "pattern": "^customers/[^/]+$",
              "description": "Required. The customer for which the file upload will apply.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v1/{+customer}/policies/files:uploadPolicyFile",
          "httpMethod": "POST",
          "id": "chromepolicy.media.upload",
          "request": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
          },
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/chrome.management.policy"
          ]
        }
      }
    }
  },
  "basePath": "",
  "servicePath": "",
  "ownerName": "Google",
  "revision": "20221020",
  "protocol": "rest",
  "title": "Chrome Policy API",
  "documentationLink": "http://developers.google.com/chrome/policy",
  "version": "v1",
  "id": "chromepolicy:v1",
  "kind": "discovery#restDescription",
  "baseUrl": "https://chromepolicy.googleapis.com/",
  "rootUrl": "https://chromepolicy.googleapis.com/",
  "canonicalName": "Chrome Policy",
  "name": "chromepolicy",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest": {
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policySchema": {
          "description": "The fully qualified name of the policy schema that is being inherited.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request parameters for deleting the policy value of a specific group target.",
      "id": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems",
      "description": "The fields that will become required based on the value of this field.",
      "properties": {
        "requiredFields": {
          "description": "The fields that are required as a consequence of the field conditions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fieldConditions": {
          "type": "array",
          "description": "The value(s) of the field that provoke required field enforcement. An empty field_conditions implies that any value assigned to this field will provoke required field enforcement.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest",
      "description": "Request message for listing the group priority ordering of an app.",
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to retrieve the group priority ordering. The target resource must point to an app."
        },
        "policyNamespace": {
          "type": "string",
          "description": "Required. The namespace of the policy type for the request."
        }
      }
    },
    "GoogleChromePolicyVersionsV1ListPolicySchemasResponse": {
      "id": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse",
      "description": "Response message for listing policy schemas that match a filter.",
      "properties": {
        "policySchemas": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
          },
          "type": "array",
          "description": "The list of policy schemas that match the query."
        },
        "nextPageToken": {
          "description": "The page token used to get the next page of policy schemas.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Proto2DescriptorProto": {
      "properties": {
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        },
        "nestedType": {
          "type": "array",
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        },
        "oneofDecl": {
          "type": "array",
          "items": {
            "$ref": "Proto2OneofDescriptorProto"
          }
        },
        "field": {
          "type": "array",
          "items": {
            "$ref": "Proto2FieldDescriptorProto"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "description": "Describes a message type.",
      "id": "Proto2DescriptorProto",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ResolveResponse": {
      "id": "GoogleChromePolicyVersionsV1ResolveResponse",
      "properties": {
        "resolvedPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ResolvedPolicy"
          },
          "description": "The list of resolved policies found by the resolve request."
        },
        "nextPageToken": {
          "description": "The page token used to get the next set of resolved policies found by the request.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for getting the resolved policy value for a specific target."
    },
    "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest": {
      "type": "object",
      "description": "Request message for modifying multiple policy values for a specific group-based target.",
      "id": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest",
      "properties": {
        "requests": {
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
          },
          "type": "array"
        }
      }
    },
    "Proto2EnumDescriptorProto": {
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumValueDescriptorProto"
          }
        }
      },
      "description": "Describes an enum type.",
      "type": "object",
      "id": "Proto2EnumDescriptorProto"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription": {
      "description": "Provides special notice messages related to a particular value in a field that is part of a PolicySchema.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription",
      "properties": {
        "field": {
          "description": "Output only. The field name associated with the notice.",
          "type": "string",
          "readOnly": true
        },
        "noticeValue": {
          "description": "Output only. The value of the field that has a notice. When setting the field to this value, the user may be required to acknowledge the notice message in order for the value to be set.",
          "readOnly": true,
          "type": "string"
        },
        "noticeMessage": {
          "readOnly": true,
          "description": "Output only. The notice message associate with the value of the field.",
          "type": "string"
        },
        "acknowledgementRequired": {
          "description": "Output only. Whether the user needs to acknowledge the notice message before the value can be set.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest": {
      "properties": {
        "requests": {
          "description": "List of policies that will be deleted as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest",
      "description": "Request message for specifying that multiple policy values will be deleted.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ResolveRequest": {
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "The page token used to retrieve a specific page of the request."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target resource on which the policies should be resolved. The target resource must point to an Org Unit."
        },
        "policySchemaFilter": {
          "type": "string",
          "description": "The schema filter to apply to the resolve request. Specify a schema name to view a particular schema, for example: chrome.users.ShowLogoutButton Wildcards are supported, but only in the leaf portion of the schema name. Wildcards cannot be used in namespace directly. Please read https://developers.google.com/chrome/policy/guides/policy-schemas for details on schema namespaces. For example: Valid: \"chrome.users.*\", \"chrome.users.apps.*\", \"chrome.printers.*\" Invalid: \"*\", \"*.users\", \"chrome.*\", \"chrome.*.apps.*\""
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of policies to return, defaults to 100 and has a maximum of 1000."
        }
      },
      "id": "GoogleChromePolicyVersionsV1ResolveRequest",
      "type": "object",
      "description": "Request message for getting the resolved policy value for a specific target."
    },
    "GoogleChromePolicyVersionsV1PolicyTargetKey": {
      "properties": {
        "additionalTargetKeys": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map containing the additional target key name and value pairs used to further identify the target of the policy."
        },
        "targetResource": {
          "type": "string",
          "description": "The target resource on which this policy is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\") * Group (\"groups/{group_id}\")"
        }
      },
      "description": "The key used to identify the target on which the policy will be applied.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicyTargetKey"
    },
    "Proto2OneofDescriptorProto": {
      "id": "Proto2OneofDescriptorProto",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "description": "Describes a oneof.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ResolvedPolicy": {
      "type": "object",
      "description": "The resolved value of a policy for a given target.",
      "id": "GoogleChromePolicyVersionsV1ResolvedPolicy",
      "properties": {
        "value": {
          "readOnly": true,
          "description": "Output only. The resolved value of the policy.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        },
        "addedSourceKey": {
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The added source key establishes at which level an entity was explicitly added for management. This is useful for certain type of policies that are only applied if they are explicitly added for management. For example: apps and networks. An entity can only be deleted from management in an Organizational Unit that it was explicitly added to. If this is not present it means that the policy is managed without the need to explicitly add an entity, for example: standard user or device policies."
        },
        "targetKey": {
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The target resource for which the resolved policy value applies."
        },
        "sourceKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The source resource from which this policy value is obtained. May be the same as `targetKey` if the policy is directly modified on the target, otherwise it would be another resource from which the policy gets its value (if applicable). If not present, the source is the default value for the customer.",
          "readOnly": true
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription": {
      "description": "Provides detailed information for a particular field that is part of a PolicySchema.",
      "type": "object",
      "properties": {
        "requiredItems": {
          "description": "Output only. Provides a list of fields that are required to be set if this field has a certain value.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems"
          },
          "type": "array",
          "readOnly": true
        },
        "nestedFieldDescriptions": {
          "type": "array",
          "description": "Output only. Provides the description of the fields nested in this field, if the field is a message type that defines multiple fields.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          }
        },
        "inputConstraint": {
          "description": "Output only. Any input constraints associated on the values for the field.",
          "type": "string",
          "readOnly": true
        },
        "knownValueDescriptions": {
          "description": "Output only. If the field has a set of known values, this field will provide a description for these values.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
          },
          "type": "array",
          "readOnly": true
        },
        "defaultValue": {
          "readOnly": true,
          "description": "Output only. Client default if the policy is unset.",
          "type": "any"
        },
        "fieldDescription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the field."
        },
        "name": {
          "description": "Output only. The name of the field.",
          "readOnly": true,
          "type": "string"
        },
        "field": {
          "description": "Output only. The name of the field for associated with this description.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Deprecated. Use name and field_description instead. The description for the field.",
          "type": "string"
        },
        "fieldDependencies": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          },
          "description": "Output only. Provides a list of fields and values. At least one of the fields must have the corresponding value in order for this field to be allowed to be set."
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
    },
    "GoogleChromePolicyVersionsV1DefineNetworkResponse": {
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "networkId": {
          "type": "string",
          "description": "Network ID of the new created network."
        },
        "settings": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "description": "Detailed network settings of the new created network"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineNetworkResponse",
      "description": "Response object for creating a network."
    },
    "GoogleTypeDate": {
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies": {
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies",
      "properties": {
        "sourceField": {
          "description": "The source field which this field depends on.",
          "type": "string"
        },
        "sourceFieldValue": {
          "type": "string",
          "description": "The value which the source field must have for this field to be allowed to be set."
        }
      },
      "description": "The field and the value it must have for another field to be allowed to be set.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1DefineNetworkRequest": {
      "properties": {
        "name": {
          "description": "Required. Name of the new created network.",
          "type": "string"
        },
        "settings": {
          "description": "Required. Detailed network settings.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "type": "array"
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineNetworkRequest",
      "description": "Request object for creating a new network."
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileResponse": {
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse",
      "type": "object",
      "description": "Response message for downloading an uploaded file.",
      "properties": {
        "downloadUri": {
          "description": "The uri for end user to download the file.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1DefineCertificateResponse": {
      "properties": {
        "networkId": {
          "description": "The guid of the certificate created by the action.",
          "type": "string"
        },
        "settings": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "description": "the affiliated settings of the certificate (NOT IMPLEMENTED)"
        },
        "targetResource": {
          "type": "string",
          "description": "the resource at which the certificate is defined."
        }
      },
      "description": "Response object for creating a certificate.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileRequest": {
      "properties": {
        "policyField": {
          "description": "Required. The fully qualified policy schema and field name this file is uploaded for. This information will be used to validate the content type of the file.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for uploading a file for a policy.",
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails": {
      "properties": {
        "certificateReferences": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. If the certificate was not removed, a list of references to the certificate that prevented it from being removed. Only unreferenced certificates can be removed.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1CertificateReference"
          }
        }
      },
      "description": "Details of the errors encountered during a remove certificate request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Output only. Additional description for this value.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The string represenstation of the value that can be set for the field."
        }
      },
      "description": "Provides detailed information about a known value that is allowed for a particular field in a PolicySchema.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkRequest": {
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this network will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "networkId": {
          "type": "string",
          "description": "Required. The GUID of the network to remove."
        }
      },
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkRequest",
      "description": "Request object for removing a network",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1AdditionalTargetKeyName": {
      "id": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName",
      "properties": {
        "keyDescription": {
          "description": "Key description.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key name."
        }
      },
      "description": "Additional key names that will be used to identify the target of the policy value.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateRequest": {
      "type": "object",
      "properties": {
        "networkId": {
          "type": "string",
          "description": "Required. The GUID of the certificate to remove."
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this certificate will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        }
      },
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateRequest",
      "description": "Request object for removing a certificate."
    },
    "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest": {
      "properties": {
        "policyValue": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "The new value for the policy."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest",
      "description": "Request parameters for modifying a policy value for a specific group target.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest": {
      "description": "Request message for modifying multiple policy values for a specific target.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
          },
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. "
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
    },
    "GoogleChromePolicyVersionsV1DefineCertificateRequest": {
      "properties": {
        "certificate": {
          "description": "Required. The raw contents of the .PEM, .CRT, or .CER file.",
          "type": "string"
        },
        "ceritificateName": {
          "type": "string",
          "description": "Optional. The optional name of the certificate. If not specified, the certificate issuer will be used as the name."
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this certificate is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "settings": {
          "type": "array",
          "description": "Optional. Certificate settings within the chrome.networks.certificates namespace.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        }
      },
      "description": "Request object for creating a certificate.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkResponse": {
      "description": "Response object for removing a network.",
      "type": "object",
      "properties": {},
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkResponse"
    },
    "GoogleChromePolicyVersionsV1PolicySchema": {
      "type": "object",
      "properties": {
        "definition": {
          "description": "Schema definition using proto descriptor.",
          "$ref": "Proto2FileDescriptorProto"
        },
        "notices": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
          },
          "description": "Output only. Special notice messages related to setting certain values in certain fields in the schema.",
          "type": "array"
        },
        "policyApiLifecycle": {
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
          "description": "Output only. Current lifecycle information.",
          "readOnly": true
        },
        "validTargetResources": {
          "description": "Output only. Information about applicable target resources for the policy.",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "Unspecified target resource.",
              "Organizational Unit target resource.",
              "Group target resource."
            ],
            "enum": [
              "TARGET_RESOURCE_UNSPECIFIED",
              "ORG_UNIT",
              "GROUP"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Format: name=customers/{customer}/policySchemas/{schema_namespace}",
          "type": "string"
        },
        "accessRestrictions": {
          "type": "array",
          "description": "Output only. Specific access restrictions related to this policy.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "schemaName": {
          "description": "Output only. The fully qualified name of the policy schema. This value is used to fill the field `policy_schema` in PolicyValue when calling BatchInheritOrgUnitPolicies BatchModifyOrgUnitPolicies BatchModifyGroupPolicies or BatchDeleteGroupPolicies.",
          "readOnly": true,
          "type": "string"
        },
        "additionalTargetKeyNames": {
          "type": "array",
          "description": "Output only. Additional key names that will be used to identify the target of the policy value. When specifying a `policyTargetKey`, each of the additional keys specified here will have to be included in the `additionalTargetKeys` map.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName"
          },
          "readOnly": true
        },
        "fieldDescriptions": {
          "description": "Output only. Detailed description of each field that is part of the schema.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "type": "array"
        },
        "categoryTitle": {
          "type": "string",
          "description": "Title of the category in which a setting belongs."
        },
        "supportUri": {
          "type": "string",
          "description": "Output only. URI to related support article for this schema.",
          "readOnly": true
        },
        "policyApiLifeycle": {
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
          "description": "Deprecated field because of typo."
        },
        "policyDescription": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description about the policy schema for user consumption."
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchema",
      "description": "Resource representing a policy schema."
    },
    "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest": {
      "description": "Request message for specifying that multiple policy values inherit their value from their parents.",
      "id": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
          },
          "description": "List of policies that have to inherit their values as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. "
        }
      }
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse": {
      "description": "Response message for listing the group priority ordering of an app.",
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse",
      "type": "object",
      "properties": {
        "groupIds": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The group IDs, in priority ordering."
        },
        "policyTargetKey": {
          "description": "Output only. The target resource for which the group priority ordering has been retrieved.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policyNamespace": {
          "readOnly": true,
          "description": "Output only. The namespace of the policy type of the group IDs.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicyValue": {
      "properties": {
        "value": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The value of the policy that is compatible with the schema that it is associated with."
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema associated with this policy."
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyValue",
      "description": "A particular value for a policy managed by the service.",
      "type": "object"
    },
    "Proto2FieldDescriptorProto": {
      "type": "object",
      "description": "Describes a field within a message.",
      "properties": {
        "defaultValue": {
          "type": "string",
          "description": "For numeric types, contains the original text representation of the value. For booleans, \"true\" or \"false\". For strings, contains the default text contents (not escaped in any way). For bytes, contains the C escaped value. All bytes \u003e= 128 are escaped."
        },
        "name": {
          "type": "string"
        },
        "jsonName": {
          "description": "JSON name of this field. The value is set by protocol compiler. If the user has set a \"json_name\" option on this field, that option's value will be used. Otherwise, it's deduced from the field's name by converting it to camelCase.",
          "type": "string"
        },
        "number": {
          "format": "int32",
          "type": "integer"
        },
        "proto3Optional": {
          "type": "boolean",
          "description": "If true, this is a proto3 \"optional\". When a proto3 field is optional, it tracks presence regardless of field type. When proto3_optional is true, this field must be belong to a oneof to signal to old proto3 clients that presence is tracked for this field. This oneof is known as a \"synthetic\" oneof, and this field must be its sole member (each proto3 optional field gets its own synthetic oneof). Synthetic oneofs exist in the descriptor only, and do not generate any API. Synthetic oneofs must be ordered after all \"real\" oneofs. For message fields, proto3_optional doesn't create any semantic change, since non-repeated message fields always track presence. However it still indicates the semantic detail of whether the user wrote \"optional\" or not. This can be useful for round-tripping the .proto file. For consistency we give message fields a synthetic oneof also, even though it is not required to track presence. This is especially important because the parser can't tell if a field is a message or an enum, so it must always create a synthetic oneof. Proto2 optional fields do not set this flag, because they already indicate optional with `LABEL_OPTIONAL`."
        },
        "type": {
          "enumDescriptions": [
            "0 is reserved for errors. Order is weird for historical reasons.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT64 if negative values are likely.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT32 if negative values are likely.",
            "",
            "",
            "",
            "",
            "Tag-delimited aggregate. Group type is deprecated and not supported in proto3. However, Proto3 implementations should still be able to parse the group wire format and treat group fields as unknown fields.",
            "Length-delimited aggregate.",
            "New in version 2.",
            "",
            "",
            "",
            "",
            "Uses ZigZag encoding.",
            "Uses ZigZag encoding."
          ],
          "description": "If type_name is set, this need not be set. If both this and type_name are set, this must be one of TYPE_ENUM, TYPE_MESSAGE or TYPE_GROUP.",
          "type": "string",
          "enum": [
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ]
        },
        "label": {
          "type": "string",
          "enumDescriptions": [
            "0 is reserved for errors",
            "",
            ""
          ],
          "enum": [
            "LABEL_OPTIONAL",
            "LABEL_REQUIRED",
            "LABEL_REPEATED"
          ]
        },
        "typeName": {
          "type": "string",
          "description": "For message and enum types, this is the name of the type. If the name starts with a '.', it is fully-qualified. Otherwise, C++-like scoping rules are used to find the type (i.e. first the nested types within this message are searched, then within the parent, on up to the root namespace)."
        },
        "oneofIndex": {
          "description": "If set, gives the index of a oneof in the containing type's oneof_decl list. This field is a member of that oneof.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Proto2FieldDescriptorProto"
    },
    "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest": {
      "type": "object",
      "description": "Request parameters for inheriting policy value of a specific org unit target from the policy value of its parent org unit.",
      "id": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest",
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        },
        "policySchema": {
          "description": "The fully qualified name of the policy schema that is being inherited.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "type": "string"
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        },
        "policyValue": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "The new value for the policy."
        }
      },
      "description": "Request parameters for modifying a policy value for a specific org unit target."
    },
    "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest": {
      "properties": {
        "groupIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. The group IDs, in desired priority ordering.",
          "type": "array"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to update the group priority ordering. The target resource must point to an app.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policyNamespace": {
          "description": "Required. The namespace of the policy type for the request.",
          "type": "string"
        }
      },
      "description": "Request message for updating the group priority ordering of an app.",
      "id": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyModificationFieldError": {
      "description": "Error information for a modification request of a specific field on a specific policy.",
      "properties": {
        "field": {
          "type": "string",
          "description": "Output only. The name of the field with the error.",
          "readOnly": true
        },
        "error": {
          "description": "Output only. The error message related to the field.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyModificationFieldError",
      "type": "object"
    },
    "Proto2EnumValueDescriptorProto": {
      "type": "object",
      "id": "Proto2EnumValueDescriptorProto",
      "properties": {
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      },
      "description": "Describes a value within an enum."
    },
    "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle": {
      "type": "object",
      "properties": {
        "endSupport": {
          "description": "End supporting date for current policy.",
          "$ref": "GoogleTypeDate"
        },
        "description": {
          "description": "Description about current life cycle.",
          "type": "string"
        },
        "policyApiLifecycleStage": {
          "type": "string",
          "description": "Indicate current life cycle stage of the policy API.",
          "enum": [
            "API_UNSPECIFIED",
            "API_PREVIEW",
            "API_DEVELOPMENT",
            "API_CURRENT",
            "API_DEPRECATED"
          ],
          "enumDescriptions": [
            "unspecified.",
            "Policy is not working yet, but giving developers heads up on format. This stage can transfer to API_DEVELOPEMNT or API_CURRENT.",
            "Policy can change format in backward incompatible way (breaking change). This stage can transfer to API_CURRENT or API_DEPRECATED. This could be used for policies launched only to TTs or launched to selected customers for emergency usage.",
            "Policy in official format. Policy can change format in backward compatible way (non-breaking change). Example: this policy can introduce a new field, which is considered non-breaking change, when field masks are properly utilized. This stage can transfer to API_DEPRECATED.",
            "Please stop using this policy. This policy is deprecated and may/will be removed in the future. Most likely a new policy was introduced to replace this one."
          ]
        }
      },
      "id": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle"
    },
    "GoogleChromePolicyVersionsV1NetworkSetting": {
      "description": "A network setting contains network configurations.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1NetworkSetting",
      "properties": {
        "policySchema": {
          "description": "The fully qualified name of the network setting.",
          "type": "string"
        },
        "value": {
          "description": "The value of the network setting.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateResponse",
      "description": "Response object for removing a certificate."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleChromePolicyVersionsV1CertificateReference": {
      "type": "object",
      "description": "Error information for removing of a specific certificate on a specific target. A reference to a certificate.",
      "id": "GoogleChromePolicyVersionsV1CertificateReference",
      "properties": {
        "network": {
          "type": "string",
          "description": "Output only. The name of the referencing network.",
          "readOnly": true
        },
        "orgUnitId": {
          "type": "string",
          "description": "Output only. The obfuscated id of the org unit the referencing network is in.",
          "readOnly": true
        }
      }
    },
    "Proto2FileDescriptorProto": {
      "properties": {
        "name": {
          "type": "string",
          "description": "file name, relative to root of source tree"
        },
        "messageType": {
          "description": "All top-level definitions in this file.",
          "type": "array",
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        },
        "syntax": {
          "description": "The syntax of the proto file. The supported values are \"proto2\", \"proto3\", and \"editions\". If `edition` is present, this value must be \"editions\".",
          "type": "string"
        },
        "package": {
          "description": "e.g. \"foo\", \"foo.bar\", etc.",
          "type": "string"
        },
        "enumType": {
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Proto2FileDescriptorProto",
      "description": "Describes a complete .proto file."
    }
  }
}
