{
  "batchPath": "batch",
  "canonicalName": "Cloudchannel",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "rootUrl": "https://cloudchannel.googleapis.com/",
  "protocol": "rest",
  "title": "Cloud Channel API",
  "schemas": {
    "GoogleCloudChannelV1CommitmentSettings": {
      "id": "GoogleCloudChannelV1CommitmentSettings",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Commitment start timestamp.",
          "type": "string"
        },
        "renewalSettings": {
          "$ref": "GoogleCloudChannelV1RenewalSettings",
          "description": "Optional. Renewal settings applicable for a commitment-based Offer."
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. Commitment end timestamp.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Commitment settings for commitment-based offers.",
      "type": "object"
    },
    "GoogleCloudChannelV1ActivateEntitlementRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1ActivateEntitlementRequest",
      "description": "Request message for CloudChannelService.ActivateEntitlement.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      }
    },
    "GoogleCloudChannelV1CloudIdentityInfo": {
      "type": "object",
      "id": "GoogleCloudChannelV1CloudIdentityInfo",
      "properties": {
        "primaryDomain": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The primary domain name."
        },
        "isDomainVerified": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the domain is verified. This field is not returned for a Customer's cloud_identity_info resource. Partners can use the domains.get() method of the Workspace SDK's Directory API, or listen to the PRIMARY_DOMAIN_VERIFIED Pub/Sub event in to track domain verification of their resolve Workspace customers."
        },
        "alternateEmail": {
          "type": "string",
          "description": "The alternate email."
        },
        "customerType": {
          "enumDescriptions": [
            "Not used.",
            "Domain-owning customer which needs domain verification to use services.",
            "Team customer which needs email verification to use services."
          ],
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "DOMAIN",
            "TEAM"
          ],
          "description": "CustomerType indicates verification type needed for using services.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number associated with the Cloud Identity."
        },
        "adminConsoleUri": {
          "description": "Output only. URI of Customer's Admin console dashboard.",
          "type": "string",
          "readOnly": true
        },
        "eduData": {
          "$ref": "GoogleCloudChannelV1EduData",
          "description": "Edu information about the customer."
        },
        "languageCode": {
          "type": "string",
          "description": "Language code."
        }
      },
      "description": "Cloud Identity information for the Cloud Channel Customer."
    },
    "GoogleCloudChannelV1ListSubscribersResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListSubscribersResponse",
      "description": "Response Message for ListSubscribers.",
      "properties": {
        "topic": {
          "type": "string",
          "description": "Name of the topic registered with the reseller."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "serviceAccounts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of service accounts which have subscriber access to the topic."
        }
      }
    },
    "GoogleCloudChannelV1AssociationInfo": {
      "description": "Association links that an entitlement has to other entitlements.",
      "id": "GoogleCloudChannelV1AssociationInfo",
      "type": "object",
      "properties": {
        "baseEntitlement": {
          "type": "string",
          "description": "The name of the base entitlement, for which this entitlement is an add-on."
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "GoogleLongrunningCancelOperationRequest"
    },
    "GoogleCloudChannelV1Entitlement": {
      "type": "object",
      "properties": {
        "suspensionReasons": {
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement.",
          "readOnly": true,
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ],
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ]
          },
          "type": "array"
        },
        "trialSettings": {
          "$ref": "GoogleCloudChannelV1TrialSettings",
          "description": "Output only. Settings for trial offers.",
          "readOnly": true
        },
        "commitmentSettings": {
          "$ref": "GoogleCloudChannelV1CommitmentSettings",
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers."
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. The response may include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. - max_units: The maximum assignable units for a flexible offer. - num_units: The total commitment for commitment-based offers.",
          "type": "array"
        },
        "associationInfo": {
          "description": "Association information to other entitlements.",
          "$ref": "GoogleCloudChannelV1AssociationInfo"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time at which the entitlement is updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "provisionedService": {
          "$ref": "GoogleCloudChannelV1ProvisionedService",
          "description": "Output only. Service provisioning details for the entitlement.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the entitlement is created."
        },
        "purchaseOrderId": {
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters. This is only supported for Google Workspace entitlements.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}.",
          "type": "string"
        },
        "offer": {
          "type": "string",
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}."
        },
        "provisioningState": {
          "description": "Output only. Current provisioning state of the entitlement.",
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement is currently suspended."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ]
        }
      },
      "id": "GoogleCloudChannelV1Entitlement",
      "description": "An entitlement is a representation of a customer's ability to use a service."
    },
    "GoogleCloudChannelV1MarketingInfo": {
      "id": "GoogleCloudChannelV1MarketingInfo",
      "description": "Represents the marketing information for a Product, SKU or Offer.",
      "properties": {
        "displayName": {
          "description": "Human readable name.",
          "type": "string"
        },
        "description": {
          "description": "Human readable description. Description can contain HTML.",
          "type": "string"
        },
        "defaultLogo": {
          "description": "Default logo.",
          "$ref": "GoogleCloudChannelV1Media"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest": {
      "description": "Request message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "type": "object",
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. Domain to fetch for Cloud Identity account customer."
        }
      }
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "GoogleCloudChannelV1RepricingAdjustment": {
      "properties": {
        "percentageAdjustment": {
          "description": "Flat markup or markdown on an entire bill.",
          "$ref": "GoogleCloudChannelV1PercentageAdjustment"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1RepricingAdjustment",
      "description": "A type that represents the various adjustments you can apply to a bill."
    },
    "GoogleCloudChannelV1ChangeParametersRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        },
        "purchaseOrderId": {
          "type": "string",
          "description": "Optional. Purchase order ID provided by the reseller."
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array",
          "description": "Required. Entitlement parameters to update. You can only change editable parameters. To view the available Parameters for a request, refer to the Offer.parameter_definitions from the desired offer."
        }
      },
      "description": "Request message for CloudChannelService.ChangeParametersRequest.",
      "id": "GoogleCloudChannelV1ChangeParametersRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1PercentageAdjustment": {
      "id": "GoogleCloudChannelV1PercentageAdjustment",
      "description": "An adjustment that applies a flat markup or markdown to an entire bill.",
      "type": "object",
      "properties": {
        "percentage": {
          "$ref": "GoogleTypeDecimal",
          "description": "The percentage of the bill to adjust. For example: Mark down by 1% =\u003e \"-1.00\" Mark up by 1% =\u003e \"1.00\" Pass-Through =\u003e \"0.00\""
        }
      }
    },
    "GoogleCloudChannelV1ImportCustomerRequest": {
      "id": "GoogleCloudChannelV1ImportCustomerRequest",
      "properties": {
        "authToken": {
          "description": "Optional. The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details.",
          "type": "string"
        },
        "channelPartnerId": {
          "type": "string",
          "description": "Optional. Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is required for 2-tier transfer scenarios and can be provided via the request Parent binding as well."
        },
        "domain": {
          "description": "Required. Customer domain.",
          "type": "string"
        },
        "customer": {
          "description": "Optional. Specifies the customer that will receive imported Cloud Identity information. Format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        },
        "cloudIdentityId": {
          "type": "string",
          "description": "Required. Customer's Cloud Identity ID"
        },
        "overwriteIfExists": {
          "type": "boolean",
          "description": "Required. Choose to overwrite an existing customer if found. This must be set to true if there is an existing customer with a conflicting region code or domain."
        }
      },
      "type": "object",
      "description": "Request message for CloudChannelService.ImportCustomer"
    },
    "GoogleCloudChannelV1alpha1OperationMetadata": {
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeQuantity.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by ChangePlan.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ChangeSku.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_QUANTITY",
            "CHANGE_RENEWAL_SETTINGS",
            "CHANGE_PLAN",
            "START_PAID_SERVICE",
            "CHANGE_SKU",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ],
          "description": "The RPC that initiated this Long Running Operation."
        }
      },
      "description": "Provides contextual information about a google.longrunning.Operation.",
      "id": "GoogleCloudChannelV1alpha1OperationMetadata",
      "type": "object"
    },
    "GoogleCloudChannelV1RegisterSubscriberRequest": {
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account that provides subscriber access to the registered topic."
        }
      },
      "description": "Request Message for RegisterSubscriber.",
      "id": "GoogleCloudChannelV1RegisterSubscriberRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse": {
      "properties": {
        "channelPartnerRepricingConfigs": {
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
          },
          "description": "The repricing configs for this channel partner.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerRepricingConfigsRequest.page_token to obtain that page."
        }
      },
      "description": "Response message for CloudChannelService.ListChannelPartnerRepricingConfigs.",
      "type": "object",
      "id": "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse"
    },
    "GoogleCloudChannelV1alpha1CommitmentSettings": {
      "properties": {
        "endTime": {
          "description": "Output only. Commitment end timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Commitment start timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "renewalSettings": {
          "$ref": "GoogleCloudChannelV1alpha1RenewalSettings",
          "description": "Optional. Renewal settings applicable for a commitment-based Offer."
        }
      },
      "id": "GoogleCloudChannelV1alpha1CommitmentSettings",
      "type": "object",
      "description": "Commitment settings for commitment-based offers."
    },
    "GoogleTypeDate": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      },
      "id": "GoogleTypeDate"
    },
    "GoogleCloudChannelV1PurchasableOffer": {
      "description": "Offer that you can purchase for a customer. This is used in the ListPurchasableOffer API response.",
      "properties": {
        "offer": {
          "description": "Offer.",
          "$ref": "GoogleCloudChannelV1Offer"
        }
      },
      "id": "GoogleCloudChannelV1PurchasableOffer",
      "type": "object"
    },
    "GoogleCloudChannelV1PricePhase": {
      "type": "object",
      "properties": {
        "periodType": {
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "description": "Defines the phase period type.",
          "type": "string",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ]
        },
        "lastPeriod": {
          "type": "integer",
          "description": "Defines first period for the phase.",
          "format": "int32"
        },
        "price": {
          "$ref": "GoogleCloudChannelV1Price",
          "description": "Price of the phase. Present if there are no price tiers."
        },
        "firstPeriod": {
          "format": "int32",
          "type": "integer",
          "description": "Defines first period for the phase."
        },
        "priceTiers": {
          "type": "array",
          "description": "Price by the resource tiers.",
          "items": {
            "$ref": "GoogleCloudChannelV1PriceTier"
          }
        }
      },
      "id": "GoogleCloudChannelV1PricePhase",
      "description": "Specifies the price by the duration of months. For example, a 20% discount for the first six months, then a 10% discount starting on the seventh month."
    },
    "GoogleCloudChannelV1ChannelPartnerLink": {
      "type": "object",
      "description": "Entity representing a link between distributors and their indirect resellers in an n-tier resale channel.",
      "properties": {
        "resellerCloudIdentityId": {
          "type": "string",
          "description": "Required. Cloud Identity ID of the linked reseller."
        },
        "linkState": {
          "enum": [
            "CHANNEL_PARTNER_LINK_STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "REVOKED",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Not used.",
            "An invitation has been sent to the reseller to create a channel partner link.",
            "Status when the reseller is active.",
            "Status when the reseller has been revoked by the distributor.",
            "Status when the reseller is suspended by Google or distributor."
          ],
          "type": "string",
          "description": "Required. State of the channel partner link."
        },
        "channelPartnerCloudIdentityInfo": {
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "description": "Output only. Cloud Identity info of the channel partner (IR).",
          "readOnly": true
        },
        "inviteLinkUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI of the web page where partner accepts the link invitation."
        },
        "publicId": {
          "description": "Output only. Public identifier that a customer must use to generate a transfer token to move to this distributor-reseller combination.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name for the channel partner link, in the format accounts/{account_id}/channelPartnerLinks/{id}."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp of when the channel partner link is created.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of when the channel partner link is updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ChannelPartnerLink"
    },
    "GoogleCloudChannelV1ContactInfo": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The customer account's contact email. Required for entitlements that create admin.google.com accounts, and serves as the customer's username for those accounts. Use this email to invite Team customers.",
          "type": "string"
        },
        "phone": {
          "type": "string",
          "description": "The customer account's contact phone number."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The customer account contact's display name, formatted as a combination of the customer's first and last name."
        },
        "lastName": {
          "description": "The customer account contact's last name. Optional for Team customers.",
          "type": "string"
        },
        "firstName": {
          "description": "The customer account contact's first name. Optional for Team customers.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. The customer account contact's job title."
        }
      },
      "id": "GoogleCloudChannelV1ContactInfo",
      "description": "Contact information for a customer account."
    },
    "GoogleCloudChannelV1TransferEligibility": {
      "type": "object",
      "description": "Specifies transfer eligibility of a SKU.",
      "properties": {
        "description": {
          "description": "Localized description if reseller is not eligible to transfer the SKU.",
          "type": "string"
        },
        "ineligibilityReason": {
          "enumDescriptions": [
            "Not used.",
            "Reseller needs to accept TOS before transferring the SKU.",
            "Reseller not eligible to sell the SKU.",
            "SKU subscription is suspended"
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "PENDING_TOS_ACCEPTANCE",
            "SKU_NOT_ELIGIBLE",
            "SKU_SUSPENDED"
          ],
          "type": "string",
          "description": "Specified the reason for ineligibility."
        },
        "isEligible": {
          "description": "Whether reseller is eligible to transfer the SKU.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudChannelV1TransferEligibility"
    },
    "GoogleCloudChannelV1alpha1SubscriberEvent": {
      "id": "GoogleCloudChannelV1alpha1SubscriberEvent",
      "description": "Represents information which resellers will get as part of notification from Pub/Sub.",
      "type": "object",
      "properties": {
        "entitlementEvent": {
          "description": "Entitlement event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1EntitlementEvent"
        },
        "customerEvent": {
          "$ref": "GoogleCloudChannelV1alpha1CustomerEvent",
          "description": "Customer event sent as part of Pub/Sub event to partners."
        },
        "channelPartnerEvent": {
          "description": "Channel Partner event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1ChannelPartnerEvent"
        }
      }
    },
    "GoogleCloudChannelV1PriceTier": {
      "description": "Defines price at resource tier level. For example, an offer with following definition : * Tier 1: Provide 25% discount for all seats between 1 and 25. * Tier 2: Provide 10% discount for all seats between 26 and 100. * Tier 3: Provide flat 15% discount for all seats above 100. Each of these tiers is represented as a PriceTier.",
      "type": "object",
      "id": "GoogleCloudChannelV1PriceTier",
      "properties": {
        "lastResource": {
          "description": "Last resource for which the tier price applies.",
          "format": "int32",
          "type": "integer"
        },
        "firstResource": {
          "description": "First resource for which the tier price applies.",
          "format": "int32",
          "type": "integer"
        },
        "price": {
          "description": "Price of the tier.",
          "$ref": "GoogleCloudChannelV1Price"
        }
      }
    },
    "GoogleCloudChannelV1CustomerConstraints": {
      "id": "GoogleCloudChannelV1CustomerConstraints",
      "description": "Represents constraints required to purchase the Offer for a customer.",
      "type": "object",
      "properties": {
        "promotionalOrderTypes": {
          "items": {
            "type": "string",
            "enum": [
              "PROMOTIONAL_TYPE_UNSPECIFIED",
              "NEW_UPGRADE",
              "TRANSFER",
              "PROMOTION_SWITCH"
            ],
            "enumDescriptions": [
              "Not used.",
              "Order used for new customers, trial conversions and upgrades.",
              "All orders for transferring an existing customer.",
              "Orders for modifying an existing customer's promotion on the same SKU."
            ]
          },
          "description": "Allowed Promotional Order Type. Present for Promotional offers.",
          "type": "array"
        },
        "allowedRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Allowed geographical regions of the customer."
        },
        "allowedCustomerTypes": {
          "type": "array",
          "items": {
            "enum": [
              "CUSTOMER_TYPE_UNSPECIFIED",
              "DOMAIN",
              "TEAM"
            ],
            "type": "string",
            "enumDescriptions": [
              "Not used.",
              "Domain-owning customer which needs domain verification to use services.",
              "Team customer which needs email verification to use services."
            ]
          },
          "description": "Allowed Customer Type."
        }
      }
    },
    "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest": {
      "description": "Request message for CloudChannelService.TransferEntitlementsToGoogle.",
      "id": "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        },
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "type": "array",
          "description": "Required. The entitlements to transfer to Google."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1SuspendEntitlementRequest": {
      "id": "GoogleCloudChannelV1SuspendEntitlementRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.SuspendEntitlement."
    },
    "GoogleCloudChannelV1Parameter": {
      "description": "Definition for extended entitlement parameters.",
      "properties": {
        "value": {
          "$ref": "GoogleCloudChannelV1Value",
          "description": "Value of the parameter."
        },
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "editable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active."
        }
      },
      "id": "GoogleCloudChannelV1Parameter",
      "type": "object"
    },
    "GoogleCloudChannelV1Value": {
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "doubleValue": {
          "description": "Represents a double value.",
          "type": "number",
          "format": "double"
        },
        "int64Value": {
          "description": "Represents an int64 value.",
          "format": "int64",
          "type": "string"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Represents an 'Any' proto value."
        }
      },
      "type": "object",
      "description": "Data type and value of a parameter.",
      "id": "GoogleCloudChannelV1Value"
    },
    "GoogleCloudChannelV1ListPurchasableOffersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        },
        "purchasableOffers": {
          "description": "The list of Offers requested.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableOffer"
          }
        }
      },
      "description": "Response message for ListPurchasableOffers.",
      "id": "GoogleCloudChannelV1ListPurchasableOffersResponse"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudChannelV1ProvisionCloudIdentityRequest": {
      "description": "Request message for CloudChannelService.ProvisionCloudIdentity",
      "id": "GoogleCloudChannelV1ProvisionCloudIdentityRequest",
      "properties": {
        "cloudIdentityInfo": {
          "description": "CloudIdentity-specific customer information.",
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Validate the request and preview the review, but do not post it."
        },
        "user": {
          "description": "Admin user information.",
          "$ref": "GoogleCloudChannelV1AdminUser"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ListTransferableOffersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableOffersRequest.page_token to obtain that page.",
          "type": "string"
        },
        "transferableOffers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableOffer"
          },
          "description": "Information about Offers for a customer that can be used for transfer."
        }
      },
      "description": "Response message for CloudChannelService.ListTransferableOffers.",
      "id": "GoogleCloudChannelV1ListTransferableOffersResponse"
    },
    "GoogleCloudChannelV1ParameterDefinition": {
      "properties": {
        "maxValue": {
          "description": "Maximum value of the parameter, if applicable. Inclusive. For example, maximum seats when purchasing Google Workspace Business Standard. Applicable to INT64 and DOUBLE parameter types.",
          "$ref": "GoogleCloudChannelV1Value"
        },
        "minValue": {
          "description": "Minimal value of the parameter, if applicable. Inclusive. For example, minimal commitment when purchasing Anthos is 0.01. Applicable to INT64 and DOUBLE parameter types.",
          "$ref": "GoogleCloudChannelV1Value"
        },
        "optional": {
          "type": "boolean",
          "description": "If set to true, parameter is optional to purchase this Offer."
        },
        "parameterType": {
          "enumDescriptions": [
            "Not used.",
            "Int64 type.",
            "String type.",
            "Double type."
          ],
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "INT64",
            "STRING",
            "DOUBLE"
          ],
          "description": "Data type of the parameter. Minimal value, Maximum value and allowed values will use specified data type here.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "allowedValues": {
          "type": "array",
          "description": "If not empty, parameter values must be drawn from this list. For example, [us-west1, us-west2, ...] Applicable to STRING parameter type.",
          "items": {
            "$ref": "GoogleCloudChannelV1Value"
          }
        }
      },
      "id": "GoogleCloudChannelV1ParameterDefinition",
      "description": "Parameter's definition. Specifies what parameter is required to use the current Offer to purchase.",
      "type": "object"
    },
    "GoogleCloudChannelV1SubscriberEvent": {
      "id": "GoogleCloudChannelV1SubscriberEvent",
      "description": "Represents information which resellers will get as part of notification from Pub/Sub.",
      "type": "object",
      "properties": {
        "entitlementEvent": {
          "$ref": "GoogleCloudChannelV1EntitlementEvent",
          "description": "Entitlement event sent as part of Pub/Sub event to partners."
        },
        "customerEvent": {
          "$ref": "GoogleCloudChannelV1CustomerEvent",
          "description": "Customer event sent as part of Pub/Sub event to partners."
        }
      }
    },
    "GoogleCloudChannelV1alpha1CustomerEvent": {
      "properties": {
        "eventType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ],
          "description": "Type of event which happened on the customer.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ]
        },
        "customer": {
          "type": "string",
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        }
      },
      "id": "GoogleCloudChannelV1alpha1CustomerEvent",
      "description": "Represents Pub/Sub message content describing customer update.",
      "type": "object"
    },
    "GoogleCloudChannelV1ChangeRenewalSettingsRequest": {
      "properties": {
        "renewalSettings": {
          "description": "Required. New renewal settings.",
          "$ref": "GoogleCloudChannelV1RenewalSettings"
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ChangeRenewalSettingsRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.ChangeRenewalSettings."
    },
    "GoogleCloudChannelV1ChangeOfferRequest": {
      "id": "GoogleCloudChannelV1ChangeOfferRequest",
      "description": "Request message for CloudChannelService.ChangeOffer.",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        },
        "purchaseOrderId": {
          "description": "Optional. Purchase order id provided by the reseller.",
          "type": "string"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array",
          "description": "Optional. Parameters needed to purchase the Offer. To view the available Parameters refer to the Offer.parameter_definitions from the desired offer."
        },
        "offer": {
          "description": "Required. New Offer. Format: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1Period": {
      "id": "GoogleCloudChannelV1Period",
      "properties": {
        "periodType": {
          "type": "string",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "description": "Period Type."
        },
        "duration": {
          "format": "int32",
          "type": "integer",
          "description": "Total duration of Period Type defined."
        }
      },
      "description": "Represents period in days/months/years.",
      "type": "object"
    },
    "GoogleCloudChannelV1CloudIdentityCustomerAccount": {
      "type": "object",
      "description": "Entity representing a Cloud Identity account that may be associated with a Channel Services API partner.",
      "id": "GoogleCloudChannelV1CloudIdentityCustomerAccount",
      "properties": {
        "owned": {
          "type": "boolean",
          "description": "Returns true if the Cloud Identity account is associated with a customer of the Channel Services partner."
        },
        "existing": {
          "description": "Returns true if a Cloud Identity account exists for a specific domain.",
          "type": "boolean"
        },
        "customerName": {
          "description": "If owned = true, the name of the customer that owns the Cloud Identity account. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        },
        "customerCloudIdentityId": {
          "description": "If existing = true, the Cloud Identity ID of the customer.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudChannelV1RenewalSettings": {
      "properties": {
        "enableRenewal": {
          "type": "boolean",
          "description": "If false, the plan will be completed at the end date."
        },
        "paymentPlan": {
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "description": "Describes how a reseller will be billed.",
          "type": "string"
        },
        "resizeUnitCount": {
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time.",
          "type": "boolean"
        },
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1Period"
        }
      },
      "description": "Renewal settings for renewable Offers.",
      "type": "object",
      "id": "GoogleCloudChannelV1RenewalSettings"
    },
    "GoogleCloudChannelV1RegisterSubscriberResponse": {
      "properties": {
        "topic": {
          "description": "Name of the topic the subscriber will listen to.",
          "type": "string"
        }
      },
      "description": "Response Message for RegisterSubscriber.",
      "type": "object",
      "id": "GoogleCloudChannelV1RegisterSubscriberResponse"
    },
    "GoogleCloudChannelV1Offer": {
      "id": "GoogleCloudChannelV1Offer",
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "SKU the offer is associated with."
        },
        "constraints": {
          "description": "Constraints on transacting the Offer.",
          "$ref": "GoogleCloudChannelV1Constraints"
        },
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the Offer."
        },
        "parameterDefinitions": {
          "items": {
            "$ref": "GoogleCloudChannelV1ParameterDefinition"
          },
          "type": "array",
          "description": "Parameters required to use current Offer to purchase."
        },
        "startTime": {
          "description": "Start of the Offer validity time.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource Name of the Offer. Format: accounts/{account_id}/offers/{offer_id}"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. End of the Offer validity time.",
          "type": "string"
        },
        "priceByResources": {
          "items": {
            "$ref": "GoogleCloudChannelV1PriceByResource"
          },
          "description": "Price for each monetizable resource type.",
          "type": "array"
        },
        "plan": {
          "description": "Describes the payment plan for the Offer.",
          "$ref": "GoogleCloudChannelV1Plan"
        }
      },
      "description": "Represents an offer made to resellers for purchase. An offer is associated with a Sku, has a plan for payment, a price, and defines the constraints for buying."
    },
    "GoogleCloudChannelV1TrialSettings": {
      "properties": {
        "trial": {
          "type": "boolean",
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial."
        },
        "endTime": {
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com).",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1TrialSettings",
      "description": "Settings for trial offers."
    },
    "GoogleCloudChannelV1ListTransferableSkusResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListTransferableSkusRequest.page_token to obtain that page."
        },
        "transferableSkus": {
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableSku"
          },
          "description": "Information about existing SKUs for a customer that needs a transfer.",
          "type": "array"
        }
      },
      "description": "Response message for CloudChannelService.ListTransferableSkus.",
      "id": "GoogleCloudChannelV1ListTransferableSkusResponse"
    },
    "GoogleCloudChannelV1EntitlementEvent": {
      "properties": {
        "eventType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ],
          "type": "string",
          "description": "Type of event which happened on the entitlement.",
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ]
        },
        "entitlement": {
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        }
      },
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "type": "object",
      "id": "GoogleCloudChannelV1EntitlementEvent"
    },
    "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse": {
      "id": "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse",
      "type": "object",
      "properties": {
        "customerRepricingConfigs": {
          "type": "array",
          "description": "The repricing configs for this channel partner.",
          "items": {
            "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListCustomerRepricingConfigsRequest.page_token to obtain that page."
        }
      },
      "description": "Response message for CloudChannelService.ListCustomerRepricingConfigs."
    },
    "GoogleCloudChannelV1StartPaidServiceRequest": {
      "description": "Request message for CloudChannelService.StartPaidService.",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1StartPaidServiceRequest"
    },
    "GoogleCloudChannelV1OperationMetadata": {
      "type": "object",
      "properties": {
        "operationType": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_RENEWAL_SETTINGS",
            "START_PAID_SERVICE",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ],
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "description": "The RPC that initiated this Long Running Operation."
        }
      },
      "id": "GoogleCloudChannelV1OperationMetadata",
      "description": "Provides contextual information about a google.longrunning.Operation."
    },
    "GoogleCloudChannelV1ListCustomersResponse": {
      "properties": {
        "customers": {
          "description": "The customers belonging to a reseller or distributor.",
          "items": {
            "$ref": "GoogleCloudChannelV1Customer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListCustomersRequest.page_token to obtain that page."
        }
      },
      "description": "Response message for CloudChannelService.ListCustomers.",
      "id": "GoogleCloudChannelV1ListCustomersResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1ListTransferableOffersRequest": {
      "description": "Request message for CloudChannelService.ListTransferableOffers",
      "id": "GoogleCloudChannelV1ListTransferableOffersRequest",
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\"."
        },
        "pageSize": {
          "format": "int32",
          "description": "Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 offers. The maximum value is 1000; the server will coerce values above 1000.",
          "type": "integer"
        },
        "pageToken": {
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableOffersResponse.next_page_token of the previous CloudChannelService.ListTransferableOffers call.",
          "type": "string"
        },
        "customerName": {
          "description": "A reseller should create a customer and use the resource name of that customer here.",
          "type": "string"
        },
        "sku": {
          "type": "string",
          "description": "Required. The SKU to look up Offers for."
        },
        "cloudIdentityId": {
          "description": "Customer's Cloud Identity ID",
          "type": "string"
        }
      }
    },
    "GoogleTypePostalAddress": {
      "type": "object",
      "properties": {
        "recipients": {
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "locality": {
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines.",
          "type": "string"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
        },
        "addressLines": {
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (e.g. \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address. In places where this can vary (e.g. Japan), address_language is used to make it explicit (e.g. \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "type": "array"
        },
        "revision": {
          "format": "int32",
          "type": "integer",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (e.g. \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (e.g. Côte d'Ivoire).",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (e.g. state/zip validation in the U.S.A.)."
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (e.g. \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. E.g. in Switzerland this should be left unpopulated."
        }
      },
      "description": "Represents a postal address, e.g. for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created via user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, please see: https://support.google.com/business/answer/6397478",
      "id": "GoogleTypePostalAddress"
    },
    "GoogleCloudChannelV1TransferableOffer": {
      "description": "TransferableOffer represents an Offer that can be used in Transfer. Read-only.",
      "id": "GoogleCloudChannelV1TransferableOffer",
      "properties": {
        "offer": {
          "$ref": "GoogleCloudChannelV1Offer",
          "description": "Offer with parameter constraints updated to allow the Transfer."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ListProductsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        },
        "products": {
          "description": "List of Products requested.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Product"
          }
        }
      },
      "id": "GoogleCloudChannelV1ListProductsResponse",
      "description": "Response message for ListProducts."
    },
    "GoogleTypeDecimal": {
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's BigDecimal or Python's decimal.Decimal. [BigDecimal]: https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html [decimal.Decimal]: https://docs.python.org/3/library/decimal.html",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -\u003e `2.5`). - Replacing a zero-length integer value with `0` (`.5` -\u003e `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -\u003e `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -\u003e `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` \u003c-\u003e `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      },
      "id": "GoogleTypeDecimal",
      "type": "object"
    },
    "GoogleCloudChannelV1RepricingConfig": {
      "properties": {
        "channelPartnerGranularity": {
          "description": "Applies the repricing configuration at the channel partner level. This is the only supported value for ChannelPartnerRepricingConfig.",
          "$ref": "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity"
        },
        "rebillingBasis": {
          "enum": [
            "REBILLING_BASIS_UNSPECIFIED",
            "COST_AT_LIST",
            "DIRECT_CUSTOMER_COST"
          ],
          "enumDescriptions": [
            "Not used.",
            "Use the list cost, also known as the MSRP.",
            "Pass through all discounts except the Reseller Program Discount. If this is the default cost base and no adjustments are specified, the output cost will be exactly what the customer would see if they viewed the bill in the Google Cloud Console."
          ],
          "type": "string",
          "description": "Required. The RebillingBasis to use for this bill. Specifies the relative cost based on repricing costs you will apply."
        },
        "entitlementGranularity": {
          "description": "Applies the repricing configuration at the entitlement level. This is the only supported value for CustomerRepricingConfig.",
          "$ref": "GoogleCloudChannelV1RepricingConfigEntitlementGranularity"
        },
        "effectiveInvoiceMonth": {
          "$ref": "GoogleTypeDate",
          "description": "Required. The YearMonth when these adjustments activate. The Day field needs to be \"0\" since we only accept YearMonth repricing boundaries."
        },
        "adjustment": {
          "$ref": "GoogleCloudChannelV1RepricingAdjustment",
          "description": "Required. Information about the adjustment."
        }
      },
      "id": "GoogleCloudChannelV1RepricingConfig",
      "type": "object",
      "description": "Configuration for repricing a Google bill over a period of time."
    },
    "GoogleCloudChannelV1Plan": {
      "description": "The payment plan for the Offer. Describes how to make a payment.",
      "id": "GoogleCloudChannelV1Plan",
      "type": "object",
      "properties": {
        "paymentType": {
          "description": "Specifies when the payment needs to happen.",
          "enum": [
            "PAYMENT_TYPE_UNSPECIFIED",
            "PREPAY",
            "POSTPAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Prepay. Amount has to be paid before service is rendered.",
            "Postpay. Reseller is charged at the end of the Payment cycle."
          ]
        },
        "billingAccount": {
          "description": "Reseller Billing account to charge after an offer transaction. Only present for Google Cloud Platform offers.",
          "type": "string"
        },
        "paymentPlan": {
          "type": "string",
          "description": "Describes how a reseller will be billed.",
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ]
        },
        "paymentCycle": {
          "$ref": "GoogleCloudChannelV1Period",
          "description": "Describes how frequently the reseller will be billed, such as once per month."
        },
        "trialPeriod": {
          "$ref": "GoogleCloudChannelV1Period",
          "description": "Present for Offers with a trial period. For trial-only Offers, a paid service needs to start before the trial period ends for continued service. For Regular Offers with a trial period, the regular pricing goes into effect when trial period ends, or if paid service is started before the end of the trial period."
        }
      }
    },
    "GoogleCloudChannelV1Constraints": {
      "type": "object",
      "description": "Represents the constraints for buying the Offer.",
      "properties": {
        "customerConstraints": {
          "description": "Represents constraints required to purchase the Offer for a customer.",
          "$ref": "GoogleCloudChannelV1CustomerConstraints"
        }
      },
      "id": "GoogleCloudChannelV1Constraints"
    },
    "GoogleCloudChannelV1alpha1Period": {
      "id": "GoogleCloudChannelV1alpha1Period",
      "properties": {
        "periodType": {
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "description": "Period Type.",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "type": "string"
        },
        "duration": {
          "type": "integer",
          "format": "int32",
          "description": "Total duration of Period Type defined."
        }
      },
      "type": "object",
      "description": "Represents period in days/months/years."
    },
    "GoogleCloudChannelV1PurchasableSku": {
      "description": "SKU that you can purchase. This is used in ListPurchasableSku API response.",
      "id": "GoogleCloudChannelV1PurchasableSku",
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "SKU"
        }
      }
    },
    "GoogleCloudChannelV1Customer": {
      "id": "GoogleCloudChannelV1Customer",
      "type": "object",
      "description": "Entity representing a customer of a reseller or distributor.",
      "properties": {
        "orgDisplayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "orgPostalAddress": {
          "$ref": "GoogleTypePostalAddress",
          "description": "Required. The organization address for the customer. To enforce US laws and embargoes, we require a region and zip code. You must provide valid addresses for every customer. To set the customer's language, use the Customer-level language code."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the customer was created."
        },
        "channelPartnerId": {
          "type": "string",
          "description": "Cloud Identity ID of the customer's channel partner. Populated only if a channel partner exists for this customer."
        },
        "domain": {
          "type": "string",
          "description": "Required. The customer's primary domain. Must match the primary contact email's domain."
        },
        "primaryContactInfo": {
          "description": "Primary contact info.",
          "$ref": "GoogleCloudChannelV1ContactInfo"
        },
        "alternateEmail": {
          "type": "string",
          "description": "Secondary contact email. You need to provide an alternate email to create different domains if a primary contact email already exists. Users will receive a notification with credentials when you create an admin.google.com account. Secondary emails are also recovery email addresses. Alternate emails are optional when you create Team customers."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when the customer was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "cloudIdentityId": {
          "description": "Output only. The customer's Cloud Identity ID if the customer has a Cloud Identity resource.",
          "type": "string",
          "readOnly": true
        },
        "cloudIdentityInfo": {
          "description": "Output only. Cloud Identity information for the customer. Populated only if a Cloud Identity account exists for this customer.",
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "readOnly": true
        }
      }
    },
    "GoogleCloudChannelV1UnregisterSubscriberRequest": {
      "properties": {
        "serviceAccount": {
          "description": "Required. Service account to unregister from subscriber access to the topic.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1UnregisterSubscriberRequest",
      "type": "object",
      "description": "Request Message for UnregisterSubscriber."
    },
    "GoogleCloudChannelV1ListChannelPartnerLinksResponse": {
      "id": "GoogleCloudChannelV1ListChannelPartnerLinksResponse",
      "description": "Response message for CloudChannelService.ListChannelPartnerLinks.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerLinksRequest.page_token to obtain that page.",
          "type": "string"
        },
        "channelPartnerLinks": {
          "description": "The Channel partner links for a reseller.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
          }
        }
      }
    },
    "GoogleCloudChannelV1Price": {
      "type": "object",
      "description": "Represents the price of the Offer.",
      "id": "GoogleCloudChannelV1Price",
      "properties": {
        "externalPriceUri": {
          "type": "string",
          "description": "Link to external price list, such as link to Google Voice rate card."
        },
        "discount": {
          "description": "Discount percentage, represented as decimal. For example, a 20% discount will be represent as 0.2.",
          "format": "double",
          "type": "number"
        },
        "basePrice": {
          "$ref": "GoogleTypeMoney",
          "description": "Base price."
        },
        "effectivePrice": {
          "$ref": "GoogleTypeMoney",
          "description": "Effective Price after applying the discounts."
        }
      }
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse": {
      "description": "Response message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "type": "object",
      "properties": {
        "cloudIdentityAccounts": {
          "items": {
            "$ref": "GoogleCloudChannelV1CloudIdentityCustomerAccount"
          },
          "description": "The Cloud Identity accounts associated with the domain.",
          "type": "array"
        }
      },
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse"
    },
    "GoogleCloudChannelV1ChannelPartnerRepricingConfig": {
      "description": "Configuration for how a distributor will rebill a channel partner (also known as a distributor-authorized reseller).",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the ChannelPartnerRepricingConfig. Format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}/channelPartnerRepricingConfigs/{id}.",
          "type": "string",
          "readOnly": true
        },
        "repricingConfig": {
          "description": "Required. The configuration for bill modifications made by a reseller before sending it to ChannelPartner.",
          "$ref": "GoogleCloudChannelV1RepricingConfig"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp of an update to the repricing rule. If `update_time` is after RepricingConfig.effective_invoice_month then it indicates this was set mid-month."
        }
      },
      "id": "GoogleCloudChannelV1ChannelPartnerRepricingConfig",
      "type": "object"
    },
    "GoogleTypeMoney": {
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "units": {
          "format": "int64",
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      },
      "id": "GoogleTypeMoney",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1ChannelPartnerEvent": {
      "description": "Represents Pub/Sub messages about updates to a Channel Partner. You can retrieve updated values through the ChannelPartnerLinks API.",
      "id": "GoogleCloudChannelV1alpha1ChannelPartnerEvent",
      "properties": {
        "channelPartner": {
          "description": "Resource name for the Channel Partner Link. Channel_partner uses the format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}",
          "type": "string"
        },
        "eventType": {
          "enumDescriptions": [
            "Default value. Does not display if there are no errors.",
            "The Channel Partner link state changed.",
            "The Channel Partner's Partner Advantage information changed. This can entail the Channel Partner's authorization to sell a product in a particular region."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "LINK_STATE_CHANGED",
            "PARTNER_ADVANTAGE_INFO_CHANGED"
          ],
          "type": "string",
          "description": "Type of event performed on the Channel Partner."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1Product": {
      "properties": {
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the product."
        },
        "name": {
          "type": "string",
          "description": "Resource Name of the Product. Format: products/{product_id}"
        }
      },
      "description": "A Product is the entity a customer uses when placing an order. For example, Google Workspace, Google Voice, etc.",
      "id": "GoogleCloudChannelV1Product",
      "type": "object"
    },
    "GoogleCloudChannelV1RepricingConfigEntitlementGranularity": {
      "description": "Applies the repricing configuration at the entitlement level.",
      "properties": {
        "entitlement": {
          "description": "Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1RepricingConfigEntitlementGranularity",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1EntitlementEvent": {
      "type": "object",
      "properties": {
        "entitlement": {
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        },
        "eventType": {
          "description": "Type of event which happened on the entitlement.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ]
        }
      },
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "id": "GoogleCloudChannelV1alpha1EntitlementEvent"
    },
    "GoogleCloudChannelV1AdminUser": {
      "properties": {
        "familyName": {
          "description": "Family name of the admin user.",
          "type": "string"
        },
        "givenName": {
          "description": "Given name of the admin user.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Primary email of the admin user."
        }
      },
      "id": "GoogleCloudChannelV1AdminUser",
      "description": "Information needed to create an Admin User for Google Workspace.",
      "type": "object"
    },
    "GoogleCloudChannelV1TransferEntitlementsRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1TransferEntitlementsRequest",
      "properties": {
        "authToken": {
          "type": "string",
          "description": "The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        },
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "type": "array",
          "description": "Required. The new entitlements to create or transfer."
        }
      },
      "description": "Request message for CloudChannelService.TransferEntitlements."
    },
    "GoogleCloudChannelV1ListTransferableSkusRequest": {
      "id": "GoogleCloudChannelV1ListTransferableSkusRequest",
      "properties": {
        "authToken": {
          "description": "Optional. The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details.",
          "type": "string"
        },
        "pageToken": {
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableSkusResponse.next_page_token of the previous CloudChannelService.ListTransferableSkus call. Optional.",
          "type": "string"
        },
        "cloudIdentityId": {
          "type": "string",
          "description": "Customer's Cloud Identity ID"
        },
        "customerName": {
          "type": "string",
          "description": "A reseller is required to create a customer and use the resource name of the created customer here. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\". Optional."
        },
        "pageSize": {
          "type": "integer",
          "description": "The requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 SKUs. The maximum value is 1000; the server will coerce values above 1000. Optional.",
          "format": "int32"
        }
      },
      "description": "Request message for CloudChannelService.ListTransferableSkus",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1RenewalSettings": {
      "properties": {
        "paymentCycle": {
          "$ref": "GoogleCloudChannelV1alpha1Period",
          "description": "Describes how frequently the reseller will be billed, such as once per month."
        },
        "enableRenewal": {
          "description": "If false, the plan will be completed at the end date.",
          "type": "boolean"
        },
        "resizeUnitCount": {
          "type": "boolean",
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time."
        },
        "paymentOption": {
          "enum": [
            "PAYMENT_OPTION_UNSPECIFIED",
            "ANNUAL",
            "MONTHLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Paid in yearly installments.",
            "Paid in monthly installments."
          ],
          "description": "Set if enable_renewal=true. Deprecated: Use `payment_cycle` instead."
        },
        "paymentPlan": {
          "description": "Describes how a reseller will be billed.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ]
        },
        "disableCommitment": {
          "type": "boolean",
          "description": "If true, disables commitment-based offer on renewal and switches to flexible or pay as you go. Deprecated: Use `payment_plan` instead."
        }
      },
      "id": "GoogleCloudChannelV1alpha1RenewalSettings",
      "type": "object",
      "description": "Renewal settings for renewable Offers."
    },
    "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest",
      "description": "Request message for CloudChannelService.UpdateChannelPartnerLink",
      "properties": {
        "channelPartnerLink": {
          "$ref": "GoogleCloudChannelV1ChannelPartnerLink",
          "description": "Required. The channel partner link to update. Only channel_partner_link.link_state is allowed for updates."
        },
        "updateMask": {
          "type": "string",
          "description": "Required. The update mask that applies to the resource. The only allowable value for an update mask is channel_partner_link.link_state.",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleCloudChannelV1alpha1TransferEntitlementsResponse": {
      "id": "GoogleCloudChannelV1alpha1TransferEntitlementsResponse",
      "type": "object",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "properties": {
        "entitlements": {
          "description": "The transferred entitlements.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Entitlement"
          }
        }
      }
    },
    "GoogleCloudChannelV1EduData": {
      "properties": {
        "instituteType": {
          "enumDescriptions": [
            "Not used.",
            "Elementary/Secondary Schools & Districts",
            "Higher Education Universities & Colleges"
          ],
          "type": "string",
          "enum": [
            "INSTITUTE_TYPE_UNSPECIFIED",
            "K12",
            "UNIVERSITY"
          ],
          "description": "Designated institute type of customer."
        },
        "instituteSize": {
          "enum": [
            "INSTITUTE_SIZE_UNSPECIFIED",
            "SIZE_1_100",
            "SIZE_101_500",
            "SIZE_501_1000",
            "SIZE_1001_2000",
            "SIZE_2001_5000",
            "SIZE_5001_10000",
            "SIZE_10001_OR_MORE"
          ],
          "description": "Size of the institute.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "1 - 100",
            "101 - 500",
            "501 - 1,000",
            "1,001 - 2,000",
            "2,001 - 5,000",
            "5,001 - 10,000",
            "10,001 +"
          ]
        },
        "website": {
          "type": "string",
          "description": "Web address for the edu customer's institution."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1EduData",
      "description": "Required Edu Attributes"
    },
    "GoogleCloudChannelV1CreateEntitlementRequest": {
      "properties": {
        "entitlement": {
          "$ref": "GoogleCloudChannelV1Entitlement",
          "description": "Required. The entitlement to create."
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1CreateEntitlementRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.CreateEntitlement"
    },
    "GoogleCloudChannelV1Sku": {
      "id": "GoogleCloudChannelV1Sku",
      "description": "Represents a product's purchasable Stock Keeping Unit (SKU). SKUs represent the different variations of the product. For example, Google Workspace Business Standard and Google Workspace Business Plus are Google Workspace product SKUs.",
      "type": "object",
      "properties": {
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the SKU."
        },
        "product": {
          "description": "Product the SKU is associated with.",
          "$ref": "GoogleCloudChannelV1Product"
        },
        "name": {
          "type": "string",
          "description": "Resource Name of the SKU. Format: products/{product_id}/skus/{sku_id}"
        }
      }
    },
    "GoogleCloudChannelV1ListSkusResponse": {
      "id": "GoogleCloudChannelV1ListSkusResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        },
        "skus": {
          "description": "The list of SKUs requested.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Sku"
          }
        }
      },
      "description": "Response message for ListSkus.",
      "type": "object"
    },
    "GoogleCloudChannelV1CustomerRepricingConfig": {
      "properties": {
        "repricingConfig": {
          "description": "Required. The configuration for bill modifications made by a reseller before sending it to customers.",
          "$ref": "GoogleCloudChannelV1RepricingConfig"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the CustomerRepricingConfig. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}."
        },
        "updateTime": {
          "description": "Output only. Timestamp of an update to the repricing rule. If `update_time` is after RepricingConfig.effective_invoice_month then it indicates this was set mid-month.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "Configuration for how a reseller will reprice a Customer.",
      "type": "object",
      "id": "GoogleCloudChannelV1CustomerRepricingConfig"
    },
    "GoogleCloudChannelV1Media": {
      "id": "GoogleCloudChannelV1Media",
      "type": "object",
      "description": "Represents media information.",
      "properties": {
        "type": {
[...]
