{
  "canonicalName": "Cloudchannel",
  "name": "cloudchannel",
  "revision": "20221023",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.order": {
          "description": "Manage users on your domain"
        }
      }
    }
  },
  "batchPath": "batch",
  "schemas": {
    "GoogleCloudChannelV1Offer": {
      "properties": {
        "parameterDefinitions": {
          "items": {
            "$ref": "GoogleCloudChannelV1ParameterDefinition"
          },
          "type": "array",
          "description": "Parameters required to use current Offer to purchase."
        },
        "constraints": {
          "description": "Constraints on transacting the Offer.",
          "$ref": "GoogleCloudChannelV1Constraints"
        },
        "priceByResources": {
          "description": "Price for each monetizable resource type.",
          "items": {
            "$ref": "GoogleCloudChannelV1PriceByResource"
          },
          "type": "array"
        },
        "sku": {
          "description": "SKU the offer is associated with.",
          "$ref": "GoogleCloudChannelV1Sku"
        },
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the Offer."
        },
        "name": {
          "type": "string",
          "description": "Resource Name of the Offer. Format: accounts/{account_id}/offers/{offer_id}"
        },
        "startTime": {
          "description": "Start of the Offer validity time.",
          "type": "string",
          "format": "google-datetime"
        },
        "plan": {
          "description": "Describes the payment plan for the Offer.",
          "$ref": "GoogleCloudChannelV1Plan"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. End of the Offer validity time."
        }
      },
      "type": "object",
      "description": "Represents an offer made to resellers for purchase. An offer is associated with a Sku, has a plan for payment, a price, and defines the constraints for buying.",
      "id": "GoogleCloudChannelV1Offer"
    },
    "GoogleCloudChannelV1ImportCustomerRequest": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. Customer domain."
        },
        "authToken": {
          "type": "string",
          "description": "Optional. The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
        },
        "cloudIdentityId": {
          "type": "string",
          "description": "Required. Customer's Cloud Identity ID"
        },
        "channelPartnerId": {
          "description": "Optional. Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is required for 2-tier transfer scenarios and can be provided via the request Parent binding as well.",
          "type": "string"
        },
        "overwriteIfExists": {
          "description": "Required. Choose to overwrite an existing customer if found. This must be set to true if there is an existing customer with a conflicting region code or domain.",
          "type": "boolean"
        },
        "customer": {
          "description": "Optional. Specifies the customer that will receive imported Cloud Identity information. Format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ImportCustomerRequest",
      "description": "Request message for CloudChannelService.ImportCustomer",
      "type": "object"
    },
    "GoogleCloudChannelV1OperationMetadata": {
      "type": "object",
      "id": "GoogleCloudChannelV1OperationMetadata",
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_RENEWAL_SETTINGS",
            "START_PAID_SERVICE",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ],
          "type": "string",
          "description": "The RPC that initiated this Long Running Operation."
        }
      },
      "description": "Provides contextual information about a google.longrunning.Operation."
    },
    "GoogleCloudChannelV1alpha1ChannelPartnerEvent": {
      "id": "GoogleCloudChannelV1alpha1ChannelPartnerEvent",
      "description": "Represents Pub/Sub messages about updates to a Channel Partner. You can retrieve updated values through the ChannelPartnerLinks API.",
      "properties": {
        "channelPartner": {
          "type": "string",
          "description": "Resource name for the Channel Partner Link. Channel_partner uses the format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}"
        },
        "eventType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "LINK_STATE_CHANGED",
            "PARTNER_ADVANTAGE_INFO_CHANGED"
          ],
          "type": "string",
          "description": "Type of event performed on the Channel Partner.",
          "enumDescriptions": [
            "Default value. Does not display if there are no errors.",
            "The Channel Partner link state changed.",
            "The Channel Partner's Partner Advantage information changed. This can entail the Channel Partner's authorization to sell a product in a particular region."
          ]
        }
      },
      "type": "object"
    },
    "GoogleTypePostalAddress": {
      "id": "GoogleTypePostalAddress",
      "type": "object",
      "properties": {
        "postalCode": {
          "type": "string",
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (e.g. state/zip validation in the U.S.A.)."
        },
        "addressLines": {
          "type": "array",
          "description": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (e.g. \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address. In places where this can vary (e.g. Japan), address_language is used to make it explicit (e.g. \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "items": {
            "type": "string"
          }
        },
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        },
        "revision": {
          "format": "int32",
          "type": "integer",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
        },
        "recipients": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "type": "array"
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (e.g. \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (e.g. Côte d'Ivoire).",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (e.g. \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. E.g. in Switzerland this should be left unpopulated."
        },
        "locality": {
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines.",
          "type": "string"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
        }
      },
      "description": "Represents a postal address, e.g. for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created via user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, please see: https://support.google.com/business/answer/6397478"
    },
    "GoogleCloudChannelV1ListEntitlementsResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListEntitlementsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to list the next page of results. Pass to ListEntitlementsRequest.page_token to obtain that page."
        },
        "entitlements": {
          "description": "The reseller customer's entitlements.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          }
        }
      },
      "description": "Response message for CloudChannelService.ListEntitlements."
    },
    "GoogleCloudChannelV1alpha1CommitmentSettings": {
      "properties": {
        "renewalSettings": {
          "description": "Optional. Renewal settings applicable for a commitment-based Offer.",
          "$ref": "GoogleCloudChannelV1alpha1RenewalSettings"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Commitment end timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Commitment start timestamp."
        }
      },
      "id": "GoogleCloudChannelV1alpha1CommitmentSettings",
      "description": "Commitment settings for commitment-based offers.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1Entitlement": {
      "type": "object",
      "properties": {
        "associationInfo": {
          "$ref": "GoogleCloudChannelV1alpha1AssociationInfo",
          "description": "Association information to other entitlements."
        },
        "maxUnits": {
          "type": "integer",
          "description": "Maximum number of units for a non commitment-based Offer, such as Flexible, Trial or Free entitlements. For commitment-based entitlements, this is a read-only field, which only the internal support team can update. Deprecated: Use `parameters` instead.",
          "format": "int32"
        },
        "assignedUnits": {
          "type": "integer",
          "format": "int32",
          "description": "The current number of users that are assigned a license for the product defined in provisioned_service.skuId. Read-only. Deprecated: Use `parameters` instead."
        },
        "provisioningState": {
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement was canceled. After an entitlement is `CANCELED`, its status will not change. Deprecated: Canceled entitlements will no longer be visible.",
            "The entitlement reached end of term and was not renewed. After an entitlement is `COMPLETE`, its status will not change. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason in (TRIAL_ENDED, RENEWAL_WITH_TYPE_CANCEL)",
            "The entitlement is pending. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason=PENDING_TOS_ACCEPTANCE",
            "The entitlement is currently suspended."
          ],
          "description": "Output only. Current provisioning state of the entitlement.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "CANCELED",
            "COMPLETE",
            "PENDING",
            "SUSPENDED"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the entitlement is created."
        },
        "parameters": {
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. The response may include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. - max_units: The maximum assignable units for a flexible offer. - num_units: The total commitment for commitment-based offers.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Parameter"
          }
        },
        "offer": {
          "type": "string",
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time at which the entitlement is updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "suspensionReasons": {
          "items": {
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ],
            "type": "string",
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ]
          },
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement.",
          "type": "array",
          "readOnly": true
        },
        "numUnits": {
          "description": "Number of units for a commitment-based Offer. For example, for seat-based Offers, this would be the number of seats; for license-based Offers, this would be the number of licenses. Required for creating commitment-based Offers. Deprecated: Use `parameters` instead.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}.",
          "readOnly": true,
          "type": "string"
        },
        "provisionedService": {
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1alpha1ProvisionedService",
          "description": "Output only. Service provisioning details for the entitlement."
        },
        "commitmentSettings": {
          "$ref": "GoogleCloudChannelV1alpha1CommitmentSettings",
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers."
        },
        "purchaseOrderId": {
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters. This is only supported for Google Workspace entitlements.",
          "type": "string"
        },
        "channelPartnerId": {
          "description": "Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is generally used in 2-tier ordering, where the order is placed by a top-level distributor on behalf of their channel partner or reseller. Required for distributors. Deprecated: `channel_partner_id` has been moved to the Customer.",
          "type": "string"
        },
        "trialSettings": {
          "$ref": "GoogleCloudChannelV1alpha1TrialSettings",
          "readOnly": true,
          "description": "Output only. Settings for trial offers."
        }
      },
      "id": "GoogleCloudChannelV1alpha1Entitlement",
      "description": "An entitlement is a representation of a customer's ability to use a service."
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "GoogleCloudChannelV1ListChannelPartnerLinksResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerLinksRequest.page_token to obtain that page."
        },
        "channelPartnerLinks": {
          "type": "array",
          "description": "The Channel partner links for a reseller.",
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
          }
        }
      },
      "description": "Response message for CloudChannelService.ListChannelPartnerLinks.",
      "id": "GoogleCloudChannelV1ListChannelPartnerLinksResponse"
    },
    "GoogleCloudChannelV1ListProductsResponse": {
      "description": "Response message for ListProducts.",
      "id": "GoogleCloudChannelV1ListProductsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        },
        "products": {
          "description": "List of Products requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1Product"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1alpha1OperationMetadata": {
      "properties": {
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_QUANTITY",
            "CHANGE_RENEWAL_SETTINGS",
            "CHANGE_PLAN",
            "START_PAID_SERVICE",
            "CHANGE_SKU",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ],
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeQuantity.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by ChangePlan.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ChangeSku.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "type": "string",
          "description": "The RPC that initiated this Long Running Operation."
        }
      },
      "type": "object",
      "description": "Provides contextual information about a google.longrunning.Operation.",
      "id": "GoogleCloudChannelV1alpha1OperationMetadata"
    },
    "GoogleCloudChannelV1PricePhase": {
      "description": "Specifies the price by the duration of months. For example, a 20% discount for the first six months, then a 10% discount starting on the seventh month.",
      "type": "object",
      "properties": {
        "price": {
          "description": "Price of the phase. Present if there are no price tiers.",
          "$ref": "GoogleCloudChannelV1Price"
        },
        "firstPeriod": {
          "format": "int32",
          "description": "Defines first period for the phase.",
          "type": "integer"
        },
        "priceTiers": {
          "items": {
            "$ref": "GoogleCloudChannelV1PriceTier"
          },
          "description": "Price by the resource tiers.",
          "type": "array"
        },
        "periodType": {
          "description": "Defines the phase period type.",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ]
        },
        "lastPeriod": {
          "description": "Defines first period for the phase.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudChannelV1PricePhase"
    },
    "GoogleCloudChannelV1Sku": {
      "description": "Represents a product's purchasable Stock Keeping Unit (SKU). SKUs represent the different variations of the product. For example, Google Workspace Business Standard and Google Workspace Business Plus are Google Workspace product SKUs.",
      "type": "object",
      "properties": {
        "marketingInfo": {
          "description": "Marketing information for the SKU.",
          "$ref": "GoogleCloudChannelV1MarketingInfo"
        },
        "product": {
          "description": "Product the SKU is associated with.",
          "$ref": "GoogleCloudChannelV1Product"
        },
        "name": {
          "type": "string",
          "description": "Resource Name of the SKU. Format: products/{product_id}/skus/{sku_id}"
        }
      },
      "id": "GoogleCloudChannelV1Sku"
    },
    "GoogleCloudChannelV1TransferEntitlementsRequest": {
      "id": "GoogleCloudChannelV1TransferEntitlementsRequest",
      "properties": {
        "authToken": {
          "type": "string",
          "description": "The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        },
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "Required. The new entitlements to create or transfer.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request message for CloudChannelService.TransferEntitlements."
    },
    "GoogleCloudChannelV1CustomerConstraints": {
      "description": "Represents constraints required to purchase the Offer for a customer.",
      "type": "object",
      "id": "GoogleCloudChannelV1CustomerConstraints",
      "properties": {
        "allowedCustomerTypes": {
          "items": {
            "type": "string",
            "enum": [
              "CUSTOMER_TYPE_UNSPECIFIED",
              "DOMAIN",
              "TEAM"
            ],
            "enumDescriptions": [
              "Not used.",
              "Domain-owning customer which needs domain verification to use services.",
              "Team customer which needs email verification to use services."
            ]
          },
          "type": "array",
          "description": "Allowed Customer Type."
        },
        "promotionalOrderTypes": {
          "type": "array",
          "items": {
            "enum": [
              "PROMOTIONAL_TYPE_UNSPECIFIED",
              "NEW_UPGRADE",
              "TRANSFER",
              "PROMOTION_SWITCH"
            ],
            "enumDescriptions": [
              "Not used.",
              "Order used for new customers, trial conversions and upgrades.",
              "All orders for transferring an existing customer.",
              "Orders for modifying an existing customer's promotion on the same SKU."
            ],
            "type": "string"
          },
          "description": "Allowed Promotional Order Type. Present for Promotional offers."
        },
        "allowedRegions": {
          "items": {
            "type": "string"
          },
          "description": "Allowed geographical regions of the customer.",
          "type": "array"
        }
      }
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse": {
      "properties": {
        "cloudIdentityAccounts": {
          "items": {
            "$ref": "GoogleCloudChannelV1CloudIdentityCustomerAccount"
          },
          "description": "The Cloud Identity accounts associated with the domain.",
          "type": "array"
        }
      },
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse",
      "description": "Response message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "type": "object"
    },
    "GoogleCloudChannelV1PurchasableSku": {
      "id": "GoogleCloudChannelV1PurchasableSku",
      "properties": {
        "sku": {
          "description": "SKU",
          "$ref": "GoogleCloudChannelV1Sku"
        }
      },
      "type": "object",
      "description": "SKU that you can purchase. This is used in ListPurchasableSku API response."
    },
    "GoogleCloudChannelV1RepricingConfig": {
      "type": "object",
      "description": "Configuration for repricing a Google bill over a period of time.",
      "properties": {
        "channelPartnerGranularity": {
          "description": "Applies the repricing configuration at the channel partner level. This is the only supported value for ChannelPartnerRepricingConfig.",
          "$ref": "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity"
        },
        "rebillingBasis": {
          "enum": [
            "REBILLING_BASIS_UNSPECIFIED",
            "COST_AT_LIST",
            "DIRECT_CUSTOMER_COST"
          ],
          "type": "string",
          "description": "Required. The RebillingBasis to use for this bill. Specifies the relative cost based on repricing costs you will apply.",
          "enumDescriptions": [
            "Not used.",
            "Use the list cost, also known as the MSRP.",
            "Pass through all discounts except the Reseller Program Discount. If this is the default cost base and no adjustments are specified, the output cost will be exactly what the customer would see if they viewed the bill in the Google Cloud Console."
          ]
        },
        "adjustment": {
          "$ref": "GoogleCloudChannelV1RepricingAdjustment",
          "description": "Required. Information about the adjustment."
        },
        "effectiveInvoiceMonth": {
          "description": "Required. The YearMonth when these adjustments activate. The Day field needs to be \"0\" since we only accept YearMonth repricing boundaries.",
          "$ref": "GoogleTypeDate"
        },
        "entitlementGranularity": {
          "description": "Applies the repricing configuration at the entitlement level. This is the only supported value for CustomerRepricingConfig.",
          "$ref": "GoogleCloudChannelV1RepricingConfigEntitlementGranularity"
        }
      },
      "id": "GoogleCloudChannelV1RepricingConfig"
    },
    "GoogleCloudChannelV1alpha1ProvisionedService": {
      "id": "GoogleCloudChannelV1alpha1ProvisionedService",
      "description": "Service provisioned for an entitlement.",
      "properties": {
        "productId": {
          "readOnly": true,
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer.",
          "type": "string"
        },
        "provisioningId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud Platform, this is the Billing Account ID of the billing subaccount.\""
        },
        "skuId": {
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse": {
      "id": "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerRepricingConfigsRequest.page_token to obtain that page."
        },
        "channelPartnerRepricingConfigs": {
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
          },
          "description": "The repricing configs for this channel partner.",
          "type": "array"
        }
      },
      "description": "Response message for CloudChannelService.ListChannelPartnerRepricingConfigs."
    },
    "GoogleCloudChannelV1ProvisionCloudIdentityRequest": {
      "type": "object",
      "description": "Request message for CloudChannelService.ProvisionCloudIdentity",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Validate the request and preview the review, but do not post it."
        },
        "user": {
          "$ref": "GoogleCloudChannelV1AdminUser",
          "description": "Admin user information."
        },
        "cloudIdentityInfo": {
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "description": "CloudIdentity-specific customer information."
        }
      },
      "id": "GoogleCloudChannelV1ProvisionCloudIdentityRequest"
    },
    "GoogleCloudChannelV1ListPurchasableSkusResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        },
        "purchasableSkus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableSku"
          },
          "description": "The list of SKUs requested."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListPurchasableSkusResponse",
      "description": "Response message for ListPurchasableSkus."
    },
    "GoogleCloudChannelV1Parameter": {
      "properties": {
        "editable": {
          "readOnly": true,
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        },
        "value": {
          "$ref": "GoogleCloudChannelV1Value",
          "description": "Value of the parameter."
        }
      },
      "description": "Definition for extended entitlement parameters.",
      "id": "GoogleCloudChannelV1Parameter",
      "type": "object"
    },
    "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. The update mask that applies to the resource. The only allowable value for an update mask is channel_partner_link.link_state."
        },
        "channelPartnerLink": {
          "$ref": "GoogleCloudChannelV1ChannelPartnerLink",
          "description": "Required. The channel partner link to update. Only channel_partner_link.link_state is allowed for updates."
        }
      },
      "description": "Request message for CloudChannelService.UpdateChannelPartnerLink",
      "id": "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest"
    },
    "GoogleCloudChannelV1CancelEntitlementRequest": {
      "id": "GoogleCloudChannelV1CancelEntitlementRequest",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.CancelEntitlement.",
      "type": "object"
    },
    "GoogleCloudChannelV1CustomerEvent": {
      "type": "object",
      "description": "Represents Pub/Sub message content describing customer update.",
      "id": "GoogleCloudChannelV1CustomerEvent",
      "properties": {
        "customer": {
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ],
          "description": "Type of event which happened on the customer."
        }
      }
    },
    "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest": {
      "type": "object",
      "properties": {
        "entitlements": {
          "type": "array",
          "description": "Required. The entitlements to transfer to Google.",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          }
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest",
      "description": "Request message for CloudChannelService.TransferEntitlementsToGoogle."
    },
    "GoogleCloudChannelV1EduData": {
      "type": "object",
      "id": "GoogleCloudChannelV1EduData",
      "description": "Required Edu Attributes",
      "properties": {
        "instituteType": {
          "enumDescriptions": [
            "Not used.",
            "Elementary/Secondary Schools & Districts",
            "Higher Education Universities & Colleges"
          ],
          "description": "Designated institute type of customer.",
          "type": "string",
          "enum": [
            "INSTITUTE_TYPE_UNSPECIFIED",
            "K12",
            "UNIVERSITY"
          ]
        },
        "website": {
          "description": "Web address for the edu customer's institution.",
          "type": "string"
        },
        "instituteSize": {
          "description": "Size of the institute.",
          "type": "string",
          "enum": [
            "INSTITUTE_SIZE_UNSPECIFIED",
            "SIZE_1_100",
            "SIZE_101_500",
            "SIZE_501_1000",
            "SIZE_1001_2000",
            "SIZE_2001_5000",
            "SIZE_5001_10000",
            "SIZE_10001_OR_MORE"
          ],
          "enumDescriptions": [
            "Not used.",
            "1 - 100",
            "101 - 500",
            "501 - 1,000",
            "1,001 - 2,000",
            "2,001 - 5,000",
            "5,001 - 10,000",
            "10,001 +"
          ]
        }
      }
    },
    "GoogleCloudChannelV1StartPaidServiceRequest": {
      "id": "GoogleCloudChannelV1StartPaidServiceRequest",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.StartPaidService.",
      "type": "object"
    },
    "GoogleCloudChannelV1CommitmentSettings": {
      "id": "GoogleCloudChannelV1CommitmentSettings",
      "description": "Commitment settings for commitment-based offers.",
      "properties": {
        "startTime": {
          "readOnly": true,
          "description": "Output only. Commitment start timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Commitment end timestamp."
        },
        "renewalSettings": {
          "description": "Optional. Renewal settings applicable for a commitment-based Offer.",
          "$ref": "GoogleCloudChannelV1RenewalSettings"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ListSkusResponse": {
      "description": "Response message for ListSkus.",
      "properties": {
        "skus": {
          "items": {
            "$ref": "GoogleCloudChannelV1Sku"
          },
          "description": "The list of SKUs requested.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ListSkusResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1ListSubscribersResponse": {
      "properties": {
        "topic": {
          "description": "Name of the topic registered with the reseller.",
          "type": "string"
        },
        "serviceAccounts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of service accounts which have subscriber access to the topic."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response Message for ListSubscribers.",
      "type": "object",
      "id": "GoogleCloudChannelV1ListSubscribersResponse"
    },
    "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListCustomerRepricingConfigsRequest.page_token to obtain that page."
        },
        "customerRepricingConfigs": {
          "description": "The repricing configs for this channel partner.",
          "items": {
            "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse",
      "type": "object",
      "description": "Response message for CloudChannelService.ListCustomerRepricingConfigs."
    },
    "GoogleCloudChannelV1Product": {
      "id": "GoogleCloudChannelV1Product",
      "description": "A Product is the entity a customer uses when placing an order. For example, Google Workspace, Google Voice, etc.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource Name of the Product. Format: products/{product_id}",
          "type": "string"
        },
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the product."
        }
      }
    },
    "GoogleCloudChannelV1RegisterSubscriberRequest": {
      "description": "Request Message for RegisterSubscriber.",
      "id": "GoogleCloudChannelV1RegisterSubscriberRequest",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "Required. Service account that provides subscriber access to the registered topic.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1PriceByResource": {
      "properties": {
        "pricePhases": {
          "description": "Specifies the price by time range.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PricePhase"
          }
        },
        "price": {
          "description": "Price of the Offer. Present if there are no price phases.",
          "$ref": "GoogleCloudChannelV1Price"
        },
        "resourceType": {
          "description": "Resource Type. Example: SEAT",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Seat.",
            "Monthly active user.",
            "GB (used for storage SKUs).",
            "Active licensed users(for Voice SKUs).",
            "Voice usage.",
            "For IaaS SKUs like Google Cloud Platform, monetization is based on usage accrued on your billing account irrespective of the type of monetizable resource. This enum represents an aggregated resource/container for all usage SKUs on a billing account. Currently, only applicable to Google Cloud Platform.",
            "For Google Cloud Platform subscriptions like Anthos or SAP."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "SEAT",
            "MAU",
            "GB",
            "LICENSED_USER",
            "MINUTES",
            "IAAS_USAGE",
            "SUBSCRIPTION"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1PriceByResource",
      "description": "Represents price by resource type."
    },
    "GoogleCloudChannelV1RepricingAdjustment": {
      "description": "A type that represents the various adjustments you can apply to a bill.",
      "id": "GoogleCloudChannelV1RepricingAdjustment",
      "type": "object",
      "properties": {
        "percentageAdjustment": {
          "description": "Flat markup or markdown on an entire bill.",
          "$ref": "GoogleCloudChannelV1PercentageAdjustment"
        }
      }
    },
    "GoogleCloudChannelV1TransferEntitlementsResponse": {
      "id": "GoogleCloudChannelV1TransferEntitlementsResponse",
      "type": "object",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "properties": {
        "entitlements": {
          "type": "array",
          "description": "The transferred entitlements.",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          }
        }
      }
    },
    "GoogleCloudChannelV1ChangeRenewalSettingsRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1ChangeRenewalSettingsRequest",
      "properties": {
        "renewalSettings": {
          "description": "Required. New renewal settings.",
          "$ref": "GoogleCloudChannelV1RenewalSettings"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "description": "Request message for CloudChannelService.ChangeRenewalSettings."
    },
    "GoogleCloudChannelV1RepricingConfigEntitlementGranularity": {
      "properties": {
        "entitlement": {
          "type": "string",
          "description": "Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        }
      },
      "type": "object",
      "description": "Applies the repricing configuration at the entitlement level.",
      "id": "GoogleCloudChannelV1RepricingConfigEntitlementGranularity"
    },
    "GoogleCloudChannelV1ListPurchasableOffersResponse": {
      "id": "GoogleCloudChannelV1ListPurchasableOffersResponse",
      "description": "Response message for ListPurchasableOffers.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        },
        "purchasableOffers": {
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableOffer"
          },
          "type": "array",
          "description": "The list of Offers requested."
        }
      }
    },
    "GoogleCloudChannelV1Period": {
      "id": "GoogleCloudChannelV1Period",
      "description": "Represents period in days/months/years.",
      "type": "object",
      "properties": {
        "duration": {
          "type": "integer",
          "format": "int32",
          "description": "Total duration of Period Type defined."
        },
        "periodType": {
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "type": "string",
          "description": "Period Type.",
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ]
        }
      }
    },
    "GoogleCloudChannelV1ContactInfo": {
      "description": "Contact information for a customer account.",
      "id": "GoogleCloudChannelV1ContactInfo",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The customer account's contact email. Required for entitlements that create admin.google.com accounts, and serves as the customer's username for those accounts. Use this email to invite Team customers."
        },
        "displayName": {
          "description": "Output only. The customer account contact's display name, formatted as a combination of the customer's first and last name.",
          "type": "string",
          "readOnly": true
        },
        "lastName": {
          "description": "The customer account contact's last name. Optional for Team customers.",
          "type": "string"
        },
        "firstName": {
          "type": "string",
          "description": "The customer account contact's first name. Optional for Team customers."
        },
        "title": {
          "type": "string",
          "description": "Optional. The customer account contact's job title."
        },
        "phone": {
          "description": "The customer account's contact phone number.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity": {
      "description": "Applies the repricing configuration at the channel partner level. The channel partner value is derived from the resource name. Takes an empty json object.",
      "id": "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudChannelV1ListOffersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        },
        "offers": {
          "description": "The list of Offers requested.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Offer"
          }
        }
      },
      "type": "object",
      "description": "Response message for ListOffers.",
      "id": "GoogleCloudChannelV1ListOffersResponse"
    },
    "GoogleTypeDecimal": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -\u003e `2.5`). - Replacing a zero-length integer value with `0` (`.5` -\u003e `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -\u003e `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -\u003e `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` \u003c-\u003e `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
        }
      },
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's BigDecimal or Python's decimal.Decimal. [BigDecimal]: https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html [decimal.Decimal]: https://docs.python.org/3/library/decimal.html",
      "id": "GoogleTypeDecimal",
      "type": "object"
    },
    "GoogleCloudChannelV1ListTransferableSkusResponse": {
      "id": "GoogleCloudChannelV1ListTransferableSkusResponse",
      "properties": {
        "transferableSkus": {
          "description": "Information about existing SKUs for a customer that needs a transfer.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableSku"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListTransferableSkusRequest.page_token to obtain that page."
        }
      },
      "description": "Response message for CloudChannelService.ListTransferableSkus.",
      "type": "object"
    },
    "GoogleCloudChannelV1PercentageAdjustment": {
      "properties": {
        "percentage": {
          "description": "The percentage of the bill to adjust. For example: Mark down by 1% =\u003e \"-1.00\" Mark up by 1% =\u003e \"1.00\" Pass-Through =\u003e \"0.00\"",
          "$ref": "GoogleTypeDecimal"
        }
      },
      "type": "object",
      "description": "An adjustment that applies a flat markup or markdown to an entire bill.",
      "id": "GoogleCloudChannelV1PercentageAdjustment"
    },
    "GoogleTypeMoney": {
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "id": "GoogleTypeMoney"
    },
    "GoogleCloudChannelV1CreateEntitlementRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1CreateEntitlementRequest",
      "properties": {
        "entitlement": {
          "$ref": "GoogleCloudChannelV1Entitlement",
          "description": "Required. The entitlement to create."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "description": "Request message for CloudChannelService.CreateEntitlement"
    },
    "GoogleCloudChannelV1AssociationInfo": {
      "properties": {
        "baseEntitlement": {
          "description": "The name of the base entitlement, for which this entitlement is an add-on.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1AssociationInfo",
      "type": "object",
      "description": "Association links that an entitlement has to other entitlements."
    },
    "GoogleCloudChannelV1Value": {
      "id": "GoogleCloudChannelV1Value",
      "properties": {
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Represents an 'Any' proto value."
        },
        "doubleValue": {
          "type": "number",
          "description": "Represents a double value.",
          "format": "double"
        },
        "int64Value": {
          "type": "string",
          "description": "Represents an int64 value.",
          "format": "int64"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        }
      },
      "description": "Data type and value of a parameter.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1SubscriberEvent": {
      "properties": {
        "channelPartnerEvent": {
          "description": "Channel Partner event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1ChannelPartnerEvent"
        },
        "customerEvent": {
          "$ref": "GoogleCloudChannelV1alpha1CustomerEvent",
          "description": "Customer event sent as part of Pub/Sub event to partners."
        },
        "entitlementEvent": {
          "description": "Entitlement event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1EntitlementEvent"
        }
      },
      "description": "Represents information which resellers will get as part of notification from Pub/Sub.",
      "id": "GoogleCloudChannelV1alpha1SubscriberEvent",
      "type": "object"
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate"
    },
    "GoogleCloudChannelV1UnregisterSubscriberRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1UnregisterSubscriberRequest",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account to unregister from subscriber access to the topic."
        }
      },
      "description": "Request Message for UnregisterSubscriber."
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. Domain to fetch for Cloud Identity account customer."
        }
      },
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest",
      "description": "Request message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "type": "object"
    },
    "GoogleCloudChannelV1TransferableSku": {
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "The SKU pertaining to the provisioning resource as specified in the Offer."
        },
        "legacySku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "Optional. The customer to transfer has an entitlement with the populated legacy SKU."
        },
        "transferEligibility": {
          "description": "Describes the transfer eligibility of a SKU.",
          "$ref": "GoogleCloudChannelV1TransferEligibility"
        }
      },
      "id": "GoogleCloudChannelV1TransferableSku",
      "description": "TransferableSku represents information a reseller needs to view existing provisioned services for a customer that they do not own. Read-only."
    },
    "GoogleCloudChannelV1ChangeOfferRequest": {
      "description": "Request message for CloudChannelService.ChangeOffer.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        },
        "offer": {
          "type": "string",
          "description": "Required. New Offer. Format: accounts/{account_id}/offers/{offer_id}."
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array",
          "description": "Optional. Parameters needed to purchase the Offer. To view the available Parameters refer to the Offer.parameter_definitions from the desired offer."
        },
        "purchaseOrderId": {
          "type": "string",
          "description": "Optional. Purchase order id provided by the reseller."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ChangeOfferRequest"
    },
    "GoogleCloudChannelV1alpha1TransferEntitlementsResponse": {
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1TransferEntitlementsResponse",
      "properties": {
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Entitlement"
          },
          "description": "The transferred entitlements.",
          "type": "array"
        }
      }
    },
    "GoogleCloudChannelV1RegisterSubscriberResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1RegisterSubscriberResponse",
      "description": "Response Message for RegisterSubscriber.",
      "properties": {
        "topic": {
          "description": "Name of the topic the subscriber will listen to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1ListTransferableOffersResponse": {
      "id": "GoogleCloudChannelV1ListTransferableOffersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableOffersRequest.page_token to obtain that page.",
          "type": "string"
        },
        "transferableOffers": {
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableOffer"
          },
          "type": "array",
          "description": "Information about Offers for a customer that can be used for transfer."
        }
      },
      "description": "Response message for CloudChannelService.ListTransferableOffers.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1EntitlementEvent": {
      "id": "GoogleCloudChannelV1alpha1EntitlementEvent",
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "type": "object",
      "properties": {
        "entitlement": {
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        },
        "eventType": {
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ],
          "type": "string",
          "description": "Type of event which happened on the entitlement."
        }
      }
    },
    "GoogleCloudChannelV1alpha1AssociationInfo": {
      "id": "GoogleCloudChannelV1alpha1AssociationInfo",
      "description": "Association links that an entitlement has to other entitlements.",
      "properties": {
        "baseEntitlement": {
          "type": "string",
          "description": "The name of the base entitlement, for which this entitlement is an add-on."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1Value": {
      "description": "Data type and value of a parameter.",
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "protoValue": {
          "type": "object",
          "description": "Represents an 'Any' proto value.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "doubleValue": {
          "format": "double",
          "description": "Represents a double value.",
          "type": "number"
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "Represents an int64 value."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1Value"
    },
    "GoogleCloudChannelV1TrialSettings": {
      "type": "object",
      "description": "Settings for trial offers.",
      "properties": {
        "trial": {
          "type": "boolean",
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial."
        },
        "endTime": {
          "type": "string",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com).",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudChannelV1TrialSettings"
    },
    "GoogleCloudChannelV1PurchasableOffer": {
      "properties": {
        "offer": {
          "$ref": "GoogleCloudChannelV1Offer",
          "description": "Offer."
        }
      },
      "type": "object",
      "description": "Offer that you can purchase for a customer. This is used in the ListPurchasableOffer API response.",
      "id": "GoogleCloudChannelV1PurchasableOffer"
    },
    "GoogleCloudChannelV1alpha1TrialSettings": {
      "description": "Settings for trial offers.",
      "id": "GoogleCloudChannelV1alpha1TrialSettings",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com).",
          "format": "google-datetime"
        },
        "trial": {
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudChannelV1ChannelPartnerRepricingConfig": {
      "type": "object",
      "id": "GoogleCloudChannelV1ChannelPartnerRepricingConfig",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of an update to the repricing rule. If `update_time` is after RepricingConfig.effective_invoice_month then it indicates this was set mid-month.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the ChannelPartnerRepricingConfig. Format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}/channelPartnerRepricingConfigs/{id}.",
          "type": "string",
          "readOnly": true
        },
        "repricingConfig": {
          "description": "Required. The configuration for bill modifications made by a reseller before sending it to ChannelPartner.",
          "$ref": "GoogleCloudChannelV1RepricingConfig"
        }
      },
      "description": "Configuration for how a distributor will rebill a channel partner (also known as a distributor-authorized reseller)."
    },
    "GoogleCloudChannelV1CloudIdentityCustomerAccount": {
      "type": "object",
      "properties": {
        "owned": {
          "type": "boolean",
          "description": "Returns true if the Cloud Identity account is associated with a customer of the Channel Services partner."
        },
        "existing": {
          "description": "Returns true if a Cloud Identity account exists for a specific domain.",
          "type": "boolean"
        },
        "customerCloudIdentityId": {
          "type": "string",
          "description": "If existing = true, the Cloud Identity ID of the customer."
        },
        "customerName": {
          "description": "If owned = true, the name of the customer that owns the Cloud Identity account. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1CloudIdentityCustomerAccount",
      "description": "Entity representing a Cloud Identity account that may be associated with a Channel Services API partner."
    },
    "GoogleCloudChannelV1ListCustomersResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListCustomersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListCustomersRequest.page_token to obtain that page."
        },
        "customers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Customer"
          },
          "description": "The customers belonging to a reseller or distributor."
        }
      },
      "description": "Response message for CloudChannelService.ListCustomers."
    },
    "GoogleCloudChannelV1MarketingInfo": {
      "description": "Represents the marketing information for a Product, SKU or Offer.",
      "id": "GoogleCloudChannelV1MarketingInfo",
      "type": "object",
      "properties": {
        "description": {
          "description": "Human readable description. Description can contain HTML.",
          "type": "string"
        },
        "defaultLogo": {
          "description": "Default logo.",
          "$ref": "GoogleCloudChannelV1Media"
        },
        "displayName": {
          "description": "Human readable name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1alpha1Period": {
      "properties": {
        "periodType": {
          "description": "Period Type.",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "type": "string"
        },
        "duration": {
          "description": "Total duration of Period Type defined.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudChannelV1alpha1Period",
      "description": "Represents period in days/months/years.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1CustomerEvent": {
      "type": "object",
      "description": "Represents Pub/Sub message content describing customer update.",
      "id": "GoogleCloudChannelV1alpha1CustomerEvent",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        },
        "eventType": {
          "description": "Type of event which happened on the customer.",
          "enumDescriptions": [
            "Not used.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1TransferableOffer": {
      "type": "object",
      "id": "GoogleCloudChannelV1TransferableOffer",
      "description": "TransferableOffer represents an Offer that can be used in Transfer. Read-only.",
      "properties": {
        "offer": {
          "$ref": "GoogleCloudChannelV1Offer",
          "description": "Offer with parameter constraints updated to allow the Transfer."
        }
      }
    },
    "GoogleCloudChannelV1CustomerRepricingConfig": {
      "id": "GoogleCloudChannelV1CustomerRepricingConfig",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. Timestamp of an update to the repricing rule. If `update_time` is after RepricingConfig.effective_invoice_month then it indicates this was set mid-month.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "repricingConfig": {
          "$ref": "GoogleCloudChannelV1RepricingConfig",
          "description": "Required. The configuration for bill modifications made by a reseller before sending it to customers."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the CustomerRepricingConfig. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}.",
          "type": "string"
        }
      },
      "description": "Configuration for how a reseller will reprice a Customer."
    },
    "GoogleCloudChannelV1EntitlementEvent": {
      "id": "GoogleCloudChannelV1EntitlementEvent",
      "type": "object",
      "properties": {
        "entitlement": {
          "type": "string",
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        },
        "eventType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ],
          "description": "Type of event which happened on the entitlement.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ]
        }
      },
      "description": "Represents Pub/Sub message content describing entitlement update."
    },
    "GoogleCloudChannelV1ParameterDefinition": {
      "id": "GoogleCloudChannelV1ParameterDefinition",
      "properties": {
        "allowedValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Value"
          },
          "description": "If not empty, parameter values must be drawn from this list. For example, [us-west1, us-west2, ...] Applicable to STRING parameter type."
        },
        "minValue": {
          "description": "Minimal value of the parameter, if applicable. Inclusive. For example, minimal commitment when purchasing Anthos is 0.01. Applicable to INT64 and DOUBLE parameter types.",
          "$ref": "GoogleCloudChannelV1Value"
        },
        "parameterType": {
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "INT64",
            "STRING",
            "DOUBLE"
          ],
          "enumDescriptions": [
            "Not used.",
            "Int64 type.",
            "String type.",
            "Double type."
          ],
          "description": "Data type of the parameter. Minimal value, Maximum value and allowed values will use specified data type here.",
          "type": "string"
        },
        "maxValue": {
          "$ref": "GoogleCloudChannelV1Value",
          "description": "Maximum value of the parameter, if applicable. Inclusive. For example, maximum seats when purchasing Google Workspace Business Standard. Applicable to INT64 and DOUBLE parameter types."
        },
        "optional": {
          "description": "If set to true, parameter is optional to purchase this Offer.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        }
      },
      "type": "object",
      "description": "Parameter's definition. Specifies what parameter is required to use the current Offer to purchase."
    },
    "GoogleCloudChannelV1Plan": {
      "description": "The payment plan for the Offer. Describes how to make a payment.",
      "id": "GoogleCloudChannelV1Plan",
      "type": "object",
      "properties": {
        "trialPeriod": {
          "$ref": "GoogleCloudChannelV1Period",
          "description": "Present for Offers with a trial period. For trial-only Offers, a paid service needs to start before the trial period ends for continued service. For Regular Offers with a trial period, the regular pricing goes into effect when trial period ends, or if paid service is started before the end of the trial period."
        },
        "paymentType": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Prepay. Amount has to be paid before service is rendered.",
            "Postpay. Reseller is charged at the end of the Payment cycle."
          ],
          "description": "Specifies when the payment needs to happen.",
          "enum": [
            "PAYMENT_TYPE_UNSPECIFIED",
            "PREPAY",
            "POSTPAY"
          ]
        },
        "paymentPlan": {
          "description": "Describes how a reseller will be billed.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ]
        },
        "paymentCycle": {
          "$ref": "GoogleCloudChannelV1Period",
          "description": "Describes how frequently the reseller will be billed, such as once per month."
        },
        "billingAccount": {
          "type": "string",
          "description": "Reseller Billing account to charge after an offer transaction. Only present for Google Cloud Platform offers."
        }
      }
    },
    "GoogleCloudChannelV1RenewalSettings": {
      "description": "Renewal settings for renewable Offers.",
      "properties": {
        "paymentPlan": {
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "description": "Describes how a reseller will be billed.",
          "type": "string",
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ]
        },
        "enableRenewal": {
          "type": "boolean",
          "description": "If false, the plan will be completed at the end date."
        },
        "resizeUnitCount": {
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time.",
          "type": "boolean"
        },
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1Period"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1RenewalSettings"
    },
    "GoogleCloudChannelV1ChannelPartnerLink": {
      "id": "GoogleCloudChannelV1ChannelPartnerLink",
      "properties": {
        "publicId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Public identifier that a customer must use to generate a transfer token to move to this distributor-reseller combination."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the channel partner link is created.",
          "readOnly": true,
          "type": "string"
        },
        "inviteLinkUri": {
          "description": "Output only. URI of the web page where partner accepts the link invitation.",
          "type": "string",
          "readOnly": true
        },
        "resellerCloudIdentityId": {
          "type": "string",
          "description": "Required. Cloud Identity ID of the linked reseller."
        },
        "linkState": {
          "enum": [
            "CHANNEL_PARTNER_LINK_STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "REVOKED",
            "SUSPENDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "An invitation has been sent to the reseller to create a channel partner link.",
            "Status when the reseller is active.",
            "Status when the reseller has been revoked by the distributor.",
            "Status when the reseller is suspended by Google or distributor."
          ],
          "description": "Required. State of the channel partner link."
        },
        "name": {
          "description": "Output only. Resource name for the channel partner link, in the format accounts/{account_id}/channelPartnerLinks/{id}.",
          "type": "string",
          "readOnly": true
        },
        "channelPartnerCloudIdentityInfo": {
          "description": "Output only. Cloud Identity info of the channel partner (IR).",
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of when the channel partner link is updated.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Entity representing a link between distributors and their indirect resellers in an n-tier resale channel."
    },
    "GoogleCloudChannelV1PriceTier": {
      "description": "Defines price at resource tier level. For example, an offer with following definition : * Tier 1: Provide 25% discount for all seats between 1 and 25. * Tier 2: Provide 10% discount for all seats between 26 and 100. * Tier 3: Provide flat 15% discount for all seats above 100. Each of these tiers is represented as a PriceTier.",
      "type": "object",
      "properties": {
        "lastResource": {
          "format": "int32",
          "description": "Last resource for which the tier price applies.",
          "type": "integer"
        },
        "firstResource": {
          "format": "int32",
          "type": "integer",
          "description": "First resource for which the tier price applies."
        },
        "price": {
          "description": "Price of the tier.",
          "$ref": "GoogleCloudChannelV1Price"
        }
      },
      "id": "GoogleCloudChannelV1PriceTier"
    },
    "GoogleCloudChannelV1Entitlement": {
      "type": "object",
      "properties": {
        "provisionedService": {
          "readOnly": true,
          "description": "Output only. Service provisioning details for the entitlement.",
          "$ref": "GoogleCloudChannelV1ProvisionedService"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the entitlement is created.",
          "format": "google-datetime"
        },
        "purchaseOrderId": {
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters. This is only supported for Google Workspace entitlements.",
          "type": "string"
        },
        "trialSettings": {
          "readOnly": true,
          "description": "Output only. Settings for trial offers.",
          "$ref": "GoogleCloudChannelV1TrialSettings"
        },
        "associationInfo": {
          "description": "Association information to other entitlements.",
          "$ref": "GoogleCloudChannelV1AssociationInfo"
        },
        "suspensionReasons": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement.",
          "items": {
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ],
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ],
            "type": "string"
          }
        },
        "offer": {
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "provisioningState": {
          "readOnly": true,
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement is currently suspended."
          ],
          "description": "Output only. Current provisioning state of the entitlement.",
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ],
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. The response may include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. - max_units: The maximum assignable units for a flexible offer. - num_units: The total commitment for commitment-based offers."
        },
        "updateTime": {
          "description": "Output only. The time at which the entitlement is updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "commitmentSettings": {
          "$ref": "GoogleCloudChannelV1CommitmentSettings",
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers."
        }
      },
      "description": "An entitlement is a representation of a customer's ability to use a service.",
      "id": "GoogleCloudChannelV1Entitlement"
    },
    "GoogleCloudChannelV1Price": {
      "type": "object",
      "id": "GoogleCloudChannelV1Price",
      "properties": {
        "effectivePrice": {
          "$ref": "GoogleTypeMoney",
          "description": "Effective Price after applying the discounts."
        },
        "basePrice": {
          "description": "Base price.",
          "$ref": "GoogleTypeMoney"
        },
        "externalPriceUri": {
          "type": "string",
          "description": "Link to external price list, such as link to Google Voice rate card."
        },
[...]
