{
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.order": {
          "description": "Manage users on your domain"
        }
      }
    }
  },
  "mtlsRootUrl": "https://cloudchannel.mtls.googleapis.com/",
  "rootUrl": "https://cloudchannel.googleapis.com/",
  "revision": "20221023",
  "protocol": "rest",
  "title": "Cloud Channel API",
  "canonicalName": "Cloudchannel",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "ownerDomain": "google.com",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "basePath": "",
  "schemas": {
    "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse": {
      "description": "Response message for CloudChannelService.ListChannelPartnerRepricingConfigs.",
      "id": "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerRepricingConfigsRequest.page_token to obtain that page.",
          "type": "string"
        },
        "channelPartnerRepricingConfigs": {
          "type": "array",
          "description": "The repricing configs for this channel partner.",
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
          }
        }
      },
      "type": "object"
    },
    "GoogleTypeDate": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "properties": {
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudChannelV1ListEntitlementsResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListEntitlementsResponse",
      "description": "Response message for CloudChannelService.ListEntitlements.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to list the next page of results. Pass to ListEntitlementsRequest.page_token to obtain that page."
        },
        "entitlements": {
          "description": "The reseller customer's entitlements.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          }
        }
      }
    },
    "GoogleCloudChannelV1AssociationInfo": {
      "properties": {
        "baseEntitlement": {
          "description": "The name of the base entitlement, for which this entitlement is an add-on.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1AssociationInfo",
      "description": "Association links that an entitlement has to other entitlements.",
      "type": "object"
    },
    "GoogleCloudChannelV1ListTransferableOffersRequest": {
      "type": "object",
      "description": "Request message for CloudChannelService.ListTransferableOffers",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\"."
        },
        "pageToken": {
          "type": "string",
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableOffersResponse.next_page_token of the previous CloudChannelService.ListTransferableOffers call."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 offers. The maximum value is 1000; the server will coerce values above 1000."
        },
        "cloudIdentityId": {
          "type": "string",
          "description": "Customer's Cloud Identity ID"
        },
        "sku": {
          "type": "string",
          "description": "Required. The SKU to look up Offers for."
        },
        "customerName": {
          "type": "string",
          "description": "A reseller should create a customer and use the resource name of that customer here."
        }
      },
      "id": "GoogleCloudChannelV1ListTransferableOffersRequest"
    },
    "GoogleCloudChannelV1RenewalSettings": {
      "properties": {
        "resizeUnitCount": {
          "type": "boolean",
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time."
        },
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "enableRenewal": {
          "description": "If false, the plan will be completed at the end date.",
          "type": "boolean"
        },
        "paymentPlan": {
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "type": "string",
          "description": "Describes how a reseller will be billed.",
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ]
        }
      },
      "type": "object",
      "description": "Renewal settings for renewable Offers.",
      "id": "GoogleCloudChannelV1RenewalSettings"
    },
    "GoogleCloudChannelV1CommitmentSettings": {
      "description": "Commitment settings for commitment-based offers.",
      "properties": {
        "startTime": {
          "description": "Output only. Commitment start timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "renewalSettings": {
          "description": "Optional. Renewal settings applicable for a commitment-based Offer.",
          "$ref": "GoogleCloudChannelV1RenewalSettings"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Commitment end timestamp.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudChannelV1CommitmentSettings",
      "type": "object"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "GoogleLongrunningCancelOperationRequest"
    },
    "GoogleCloudChannelV1OperationMetadata": {
      "id": "GoogleCloudChannelV1OperationMetadata",
      "properties": {
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_RENEWAL_SETTINGS",
            "START_PAID_SERVICE",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ],
          "description": "The RPC that initiated this Long Running Operation.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ]
        }
      },
      "type": "object",
      "description": "Provides contextual information about a google.longrunning.Operation."
    },
    "GoogleCloudChannelV1CustomerEvent": {
      "type": "object",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        },
        "eventType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ],
          "type": "string",
          "description": "Type of event which happened on the customer.",
          "enumDescriptions": [
            "Not used.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ]
        }
      },
      "description": "Represents Pub/Sub message content describing customer update.",
      "id": "GoogleCloudChannelV1CustomerEvent"
    },
    "GoogleCloudChannelV1ListPurchasableOffersResponse": {
      "id": "GoogleCloudChannelV1ListPurchasableOffersResponse",
      "properties": {
        "purchasableOffers": {
          "description": "The list of Offers requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableOffer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ListPurchasableOffers."
    },
    "GoogleCloudChannelV1ListTransferableSkusRequest": {
      "description": "Request message for CloudChannelService.ListTransferableSkus",
      "type": "object",
      "properties": {
        "cloudIdentityId": {
          "type": "string",
          "description": "Customer's Cloud Identity ID"
        },
        "pageToken": {
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableSkusResponse.next_page_token of the previous CloudChannelService.ListTransferableSkus call. Optional.",
          "type": "string"
        },
        "pageSize": {
          "description": "The requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 SKUs. The maximum value is 1000; the server will coerce values above 1000. Optional.",
          "format": "int32",
          "type": "integer"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\". Optional."
        },
        "authToken": {
          "description": "Optional. The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details.",
          "type": "string"
        },
        "customerName": {
          "type": "string",
          "description": "A reseller is required to create a customer and use the resource name of the created customer here. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}"
        }
      },
      "id": "GoogleCloudChannelV1ListTransferableSkusRequest"
    },
    "GoogleCloudChannelV1RegisterSubscriberResponse": {
      "type": "object",
      "description": "Response Message for RegisterSubscriber.",
      "id": "GoogleCloudChannelV1RegisterSubscriberResponse",
      "properties": {
        "topic": {
          "type": "string",
          "description": "Name of the topic the subscriber will listen to."
        }
      }
    },
    "GoogleCloudChannelV1ListSubscribersResponse": {
      "id": "GoogleCloudChannelV1ListSubscribersResponse",
      "properties": {
        "serviceAccounts": {
          "type": "array",
          "description": "List of service accounts which have subscriber access to the topic.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "topic": {
          "description": "Name of the topic registered with the reseller.",
          "type": "string"
        }
      },
      "description": "Response Message for ListSubscribers.",
      "type": "object"
    },
    "GoogleCloudChannelV1EduData": {
      "type": "object",
      "description": "Required Edu Attributes",
      "id": "GoogleCloudChannelV1EduData",
      "properties": {
        "instituteType": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Elementary/Secondary Schools & Districts",
            "Higher Education Universities & Colleges"
          ],
          "enum": [
            "INSTITUTE_TYPE_UNSPECIFIED",
            "K12",
            "UNIVERSITY"
          ],
          "description": "Designated institute type of customer."
        },
        "website": {
          "description": "Web address for the edu customer's institution.",
          "type": "string"
        },
        "instituteSize": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "1 - 100",
            "101 - 500",
            "501 - 1,000",
            "1,001 - 2,000",
            "2,001 - 5,000",
            "5,001 - 10,000",
            "10,001 +"
          ],
          "description": "Size of the institute.",
          "enum": [
            "INSTITUTE_SIZE_UNSPECIFIED",
            "SIZE_1_100",
            "SIZE_101_500",
            "SIZE_501_1000",
            "SIZE_1001_2000",
            "SIZE_2001_5000",
            "SIZE_5001_10000",
            "SIZE_10001_OR_MORE"
          ]
        }
      }
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest": {
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest",
      "type": "object",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. Domain to fetch for Cloud Identity account customer."
        }
      },
      "description": "Request message for CloudChannelService.CheckCloudIdentityAccountsExist."
    },
    "GoogleCloudChannelV1ListChannelPartnerLinksResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListChannelPartnerLinksResponse",
      "properties": {
        "channelPartnerLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
          },
          "description": "The Channel partner links for a reseller."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerLinksRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "description": "Response message for CloudChannelService.ListChannelPartnerLinks."
    },
    "GoogleCloudChannelV1UnregisterSubscriberResponse": {
      "type": "object",
      "properties": {
        "topic": {
          "description": "Name of the topic the service account subscriber access was removed from.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1UnregisterSubscriberResponse",
      "description": "Response Message for UnregisterSubscriber."
    },
    "GoogleCloudChannelV1RegisterSubscriberRequest": {
      "type": "object",
      "description": "Request Message for RegisterSubscriber.",
      "id": "GoogleCloudChannelV1RegisterSubscriberRequest",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account that provides subscriber access to the registered topic."
        }
      }
    },
    "GoogleTypePostalAddress": {
      "description": "Represents a postal address, e.g. for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created via user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, please see: https://support.google.com/business/answer/6397478",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (e.g. \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (e.g. Côte d'Ivoire).",
          "type": "string"
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        },
        "addressLines": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (e.g. \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address. In places where this can vary (e.g. Japan), address_language is used to make it explicit (e.g. \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (e.g. state/zip validation in the U.S.A.).",
          "type": "string"
        },
        "locality": {
          "type": "string",
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines."
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts."
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "revision": {
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "format": "int32",
          "type": "integer"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (e.g. \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. E.g. in Switzerland this should be left unpopulated.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleTypePostalAddress"
    },
    "GoogleCloudChannelV1TransferEntitlementsRequest": {
      "properties": {
        "authToken": {
          "description": "The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        },
        "entitlements": {
          "description": "Required. The new entitlements to create or transfer.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          }
        }
      },
      "id": "GoogleCloudChannelV1TransferEntitlementsRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.TransferEntitlements."
    },
    "GoogleCloudChannelV1ListSkusResponse": {
      "id": "GoogleCloudChannelV1ListSkusResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        },
        "skus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Sku"
          },
          "description": "The list of SKUs requested."
        }
      },
      "type": "object",
      "description": "Response message for ListSkus."
    },
    "GoogleCloudChannelV1ListPurchasableSkusResponse": {
      "id": "GoogleCloudChannelV1ListPurchasableSkusResponse",
      "description": "Response message for ListPurchasableSkus.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        },
        "purchasableSkus": {
          "description": "The list of SKUs requested.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableSku"
          }
        }
      }
    },
    "GoogleCloudChannelV1alpha1Value": {
      "type": "object",
      "description": "Data type and value of a parameter.",
      "id": "GoogleCloudChannelV1alpha1Value",
      "properties": {
        "protoValue": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Represents an 'Any' proto value.",
          "type": "object"
        },
        "doubleValue": {
          "description": "Represents a double value.",
          "type": "number",
          "format": "double"
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "int64Value": {
          "description": "Represents an int64 value.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1CreateEntitlementRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        },
        "entitlement": {
          "$ref": "GoogleCloudChannelV1Entitlement",
          "description": "Required. The entitlement to create."
        }
      },
      "description": "Request message for CloudChannelService.CreateEntitlement",
      "id": "GoogleCloudChannelV1CreateEntitlementRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1CustomerConstraints": {
      "properties": {
        "promotionalOrderTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not used.",
              "Order used for new customers, trial conversions and upgrades.",
              "All orders for transferring an existing customer.",
              "Orders for modifying an existing customer's promotion on the same SKU."
            ],
            "enum": [
              "PROMOTIONAL_TYPE_UNSPECIFIED",
              "NEW_UPGRADE",
              "TRANSFER",
              "PROMOTION_SWITCH"
            ]
          },
          "description": "Allowed Promotional Order Type. Present for Promotional offers.",
          "type": "array"
        },
        "allowedRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Allowed geographical regions of the customer."
        },
        "allowedCustomerTypes": {
          "description": "Allowed Customer Type.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CUSTOMER_TYPE_UNSPECIFIED",
              "DOMAIN",
              "TEAM"
            ],
            "enumDescriptions": [
              "Not used.",
              "Domain-owning customer which needs domain verification to use services.",
              "Team customer which needs email verification to use services."
            ]
          }
        }
      },
      "description": "Represents constraints required to purchase the Offer for a customer.",
      "id": "GoogleCloudChannelV1CustomerConstraints",
      "type": "object"
    },
    "GoogleCloudChannelV1RepricingConfigEntitlementGranularity": {
      "id": "GoogleCloudChannelV1RepricingConfigEntitlementGranularity",
      "properties": {
        "entitlement": {
          "description": "Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        }
      },
      "description": "Applies the repricing configuration at the entitlement level.",
      "type": "object"
    },
    "GoogleCloudChannelV1Price": {
      "id": "GoogleCloudChannelV1Price",
      "properties": {
        "effectivePrice": {
          "description": "Effective Price after applying the discounts.",
          "$ref": "GoogleTypeMoney"
        },
        "externalPriceUri": {
          "description": "Link to external price list, such as link to Google Voice rate card.",
          "type": "string"
        },
        "discount": {
          "format": "double",
          "type": "number",
          "description": "Discount percentage, represented as decimal. For example, a 20% discount will be represent as 0.2."
        },
        "basePrice": {
          "$ref": "GoogleTypeMoney",
          "description": "Base price."
        }
      },
      "type": "object",
      "description": "Represents the price of the Offer."
    },
    "GoogleCloudChannelV1SubscriberEvent": {
      "id": "GoogleCloudChannelV1SubscriberEvent",
      "properties": {
        "entitlementEvent": {
          "description": "Entitlement event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1EntitlementEvent"
        },
        "customerEvent": {
          "$ref": "GoogleCloudChannelV1CustomerEvent",
          "description": "Customer event sent as part of Pub/Sub event to partners."
        }
      },
      "type": "object",
      "description": "Represents information which resellers will get as part of notification from Pub/Sub."
    },
    "GoogleCloudChannelV1Sku": {
      "properties": {
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the SKU."
        },
        "name": {
          "description": "Resource Name of the SKU. Format: products/{product_id}/skus/{sku_id}",
          "type": "string"
        },
        "product": {
          "description": "Product the SKU is associated with.",
          "$ref": "GoogleCloudChannelV1Product"
        }
      },
      "id": "GoogleCloudChannelV1Sku",
      "description": "Represents a product's purchasable Stock Keeping Unit (SKU). SKUs represent the different variations of the product. For example, Google Workspace Business Standard and Google Workspace Business Plus are Google Workspace product SKUs.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1SubscriberEvent": {
      "id": "GoogleCloudChannelV1alpha1SubscriberEvent",
      "properties": {
        "entitlementEvent": {
          "description": "Entitlement event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1EntitlementEvent"
        },
        "channelPartnerEvent": {
          "description": "Channel Partner event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1ChannelPartnerEvent"
        },
        "customerEvent": {
          "$ref": "GoogleCloudChannelV1alpha1CustomerEvent",
          "description": "Customer event sent as part of Pub/Sub event to partners."
        }
      },
      "description": "Represents information which resellers will get as part of notification from Pub/Sub.",
      "type": "object"
    },
    "GoogleCloudChannelV1TransferEligibility": {
      "description": "Specifies transfer eligibility of a SKU.",
      "type": "object",
      "id": "GoogleCloudChannelV1TransferEligibility",
      "properties": {
        "description": {
          "description": "Localized description if reseller is not eligible to transfer the SKU.",
          "type": "string"
        },
        "isEligible": {
          "description": "Whether reseller is eligible to transfer the SKU.",
          "type": "boolean"
        },
        "ineligibilityReason": {
          "enumDescriptions": [
            "Not used.",
            "Reseller needs to accept TOS before transferring the SKU.",
            "Reseller not eligible to sell the SKU.",
            "SKU subscription is suspended"
          ],
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "PENDING_TOS_ACCEPTANCE",
            "SKU_NOT_ELIGIBLE",
            "SKU_SUSPENDED"
          ],
          "description": "Specified the reason for ineligibility."
        }
      }
    },
    "GoogleCloudChannelV1alpha1TrialSettings": {
      "properties": {
        "endTime": {
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com).",
          "format": "google-datetime",
          "type": "string"
        },
        "trial": {
          "type": "boolean",
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1TrialSettings",
      "description": "Settings for trial offers."
    },
    "GoogleTypeMoney": {
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        }
      },
      "id": "GoogleTypeMoney",
      "type": "object",
      "description": "Represents an amount of money with its currency type."
    },
    "GoogleCloudChannelV1ParameterDefinition": {
      "id": "GoogleCloudChannelV1ParameterDefinition",
      "type": "object",
      "description": "Parameter's definition. Specifies what parameter is required to use the current Offer to purchase.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "allowedValues": {
          "items": {
            "$ref": "GoogleCloudChannelV1Value"
          },
          "description": "If not empty, parameter values must be drawn from this list. For example, [us-west1, us-west2, ...] Applicable to STRING parameter type.",
          "type": "array"
        },
        "optional": {
          "description": "If set to true, parameter is optional to purchase this Offer.",
          "type": "boolean"
        },
        "minValue": {
          "description": "Minimal value of the parameter, if applicable. Inclusive. For example, minimal commitment when purchasing Anthos is 0.01. Applicable to INT64 and DOUBLE parameter types.",
          "$ref": "GoogleCloudChannelV1Value"
        },
        "maxValue": {
          "$ref": "GoogleCloudChannelV1Value",
          "description": "Maximum value of the parameter, if applicable. Inclusive. For example, maximum seats when purchasing Google Workspace Business Standard. Applicable to INT64 and DOUBLE parameter types."
        },
        "parameterType": {
          "enumDescriptions": [
            "Not used.",
            "Int64 type.",
            "String type.",
            "Double type."
          ],
          "description": "Data type of the parameter. Minimal value, Maximum value and allowed values will use specified data type here.",
          "type": "string",
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "INT64",
            "STRING",
            "DOUBLE"
          ]
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudChannelV1alpha1Parameter": {
      "id": "GoogleCloudChannelV1alpha1Parameter",
      "description": "Definition for extended entitlement parameters.",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "GoogleCloudChannelV1alpha1Value",
          "description": "Value of the parameter."
        },
        "editable": {
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1CloudIdentityInfo": {
      "properties": {
        "adminConsoleUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI of Customer's Admin console dashboard."
        },
        "languageCode": {
          "description": "Language code.",
          "type": "string"
        },
        "primaryDomain": {
          "description": "Output only. The primary domain name.",
          "type": "string",
          "readOnly": true
        },
        "alternateEmail": {
          "type": "string",
          "description": "The alternate email."
        },
        "customerType": {
          "description": "CustomerType indicates verification type needed for using services.",
          "type": "string",
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "DOMAIN",
            "TEAM"
          ],
          "enumDescriptions": [
            "Not used.",
            "Domain-owning customer which needs domain verification to use services.",
            "Team customer which needs email verification to use services."
          ]
        },
        "eduData": {
          "description": "Edu information about the customer.",
          "$ref": "GoogleCloudChannelV1EduData"
        },
        "isDomainVerified": {
          "readOnly": true,
          "description": "Output only. Whether the domain is verified. This field is not returned for a Customer's cloud_identity_info resource. Partners can use the domains.get() method of the Workspace SDK's Directory API, or listen to the PRIMARY_DOMAIN_VERIFIED Pub/Sub event in to track domain verification of their resolve Workspace customers.",
          "type": "boolean"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number associated with the Cloud Identity."
        }
      },
      "id": "GoogleCloudChannelV1CloudIdentityInfo",
      "description": "Cloud Identity information for the Cloud Channel Customer.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1Entitlement": {
      "description": "An entitlement is a representation of a customer's ability to use a service.",
      "id": "GoogleCloudChannelV1alpha1Entitlement",
      "type": "object",
      "properties": {
        "assignedUnits": {
          "type": "integer",
          "format": "int32",
          "description": "The current number of users that are assigned a license for the product defined in provisioned_service.skuId. Read-only. Deprecated: Use `parameters` instead."
        },
        "trialSettings": {
          "description": "Output only. Settings for trial offers.",
          "$ref": "GoogleCloudChannelV1alpha1TrialSettings",
          "readOnly": true
        },
        "maxUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of units for a non commitment-based Offer, such as Flexible, Trial or Free entitlements. For commitment-based entitlements, this is a read-only field, which only the internal support team can update. Deprecated: Use `parameters` instead."
        },
        "channelPartnerId": {
          "description": "Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is generally used in 2-tier ordering, where the order is placed by a top-level distributor on behalf of their channel partner or reseller. Required for distributors. Deprecated: `channel_partner_id` has been moved to the Customer.",
          "type": "string"
        },
        "provisionedService": {
          "readOnly": true,
          "description": "Output only. Service provisioning details for the entitlement.",
          "$ref": "GoogleCloudChannelV1alpha1ProvisionedService"
        },
        "commitmentSettings": {
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers.",
          "$ref": "GoogleCloudChannelV1alpha1CommitmentSettings"
        },
        "associationInfo": {
          "$ref": "GoogleCloudChannelV1alpha1AssociationInfo",
          "description": "Association information to other entitlements."
        },
        "provisioningState": {
          "description": "Output only. Current provisioning state of the entitlement.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "CANCELED",
            "COMPLETE",
            "PENDING",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement was canceled. After an entitlement is `CANCELED`, its status will not change. Deprecated: Canceled entitlements will no longer be visible.",
            "The entitlement reached end of term and was not renewed. After an entitlement is `COMPLETE`, its status will not change. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason in (TRIAL_ENDED, RENEWAL_WITH_TYPE_CANCEL)",
            "The entitlement is pending. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason=PENDING_TOS_ACCEPTANCE",
            "The entitlement is currently suspended."
          ]
        },
        "numUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Number of units for a commitment-based Offer. For example, for seat-based Offers, this would be the number of seats; for license-based Offers, this would be the number of licenses. Required for creating commitment-based Offers. Deprecated: Use `parameters` instead."
        },
        "suspensionReasons": {
          "readOnly": true,
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ],
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ],
            "type": "string"
          },
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the entitlement is updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "parameters": {
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. The response may include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. - max_units: The maximum assignable units for a flexible offer. - num_units: The total commitment for commitment-based offers.",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Parameter"
          },
          "type": "array"
        },
        "purchaseOrderId": {
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters. This is only supported for Google Workspace entitlements.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the entitlement is created.",
          "format": "google-datetime"
        },
        "offer": {
          "type": "string",
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleCloudChannelV1MarketingInfo": {
      "properties": {
        "displayName": {
          "description": "Human readable name.",
          "type": "string"
        },
        "defaultLogo": {
          "description": "Default logo.",
          "$ref": "GoogleCloudChannelV1Media"
        },
        "description": {
          "type": "string",
          "description": "Human readable description. Description can contain HTML."
        }
      },
      "description": "Represents the marketing information for a Product, SKU or Offer.",
      "id": "GoogleCloudChannelV1MarketingInfo",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1ChannelPartnerEvent": {
      "type": "object",
      "properties": {
        "eventType": {
          "description": "Type of event performed on the Channel Partner.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LINK_STATE_CHANGED",
            "PARTNER_ADVANTAGE_INFO_CHANGED"
          ],
          "enumDescriptions": [
            "Default value. Does not display if there are no errors.",
            "The Channel Partner link state changed.",
            "The Channel Partner's Partner Advantage information changed. This can entail the Channel Partner's authorization to sell a product in a particular region."
          ]
        },
        "channelPartner": {
          "type": "string",
          "description": "Resource name for the Channel Partner Link. Channel_partner uses the format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}"
        }
      },
      "description": "Represents Pub/Sub messages about updates to a Channel Partner. You can retrieve updated values through the ChannelPartnerLinks API.",
      "id": "GoogleCloudChannelV1alpha1ChannelPartnerEvent"
    },
    "GoogleCloudChannelV1alpha1TransferEntitlementsResponse": {
      "properties": {
        "entitlements": {
          "type": "array",
          "description": "The transferred entitlements.",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Entitlement"
          }
        }
      },
      "id": "GoogleCloudChannelV1alpha1TransferEntitlementsResponse",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "type": "object"
    },
    "GoogleCloudChannelV1TransferableSku": {
      "id": "GoogleCloudChannelV1TransferableSku",
      "type": "object",
      "properties": {
        "sku": {
          "description": "The SKU pertaining to the provisioning resource as specified in the Offer.",
          "$ref": "GoogleCloudChannelV1Sku"
        },
        "transferEligibility": {
          "description": "Describes the transfer eligibility of a SKU.",
          "$ref": "GoogleCloudChannelV1TransferEligibility"
        },
        "legacySku": {
          "description": "Optional. The customer to transfer has an entitlement with the populated legacy SKU.",
          "$ref": "GoogleCloudChannelV1Sku"
        }
      },
      "description": "TransferableSku represents information a reseller needs to view existing provisioned services for a customer that they do not own. Read-only."
    },
    "GoogleCloudChannelV1Period": {
      "properties": {
        "periodType": {
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "type": "string",
          "description": "Period Type.",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ]
        },
        "duration": {
          "format": "int32",
          "description": "Total duration of Period Type defined.",
          "type": "integer"
        }
      },
      "description": "Represents period in days/months/years.",
      "type": "object",
      "id": "GoogleCloudChannelV1Period"
    },
    "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest": {
      "id": "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.TransferEntitlementsToGoogle.",
      "properties": {
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "Required. The entitlements to transfer to Google.",
          "type": "array"
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1TransferEntitlementsResponse": {
      "properties": {
        "entitlements": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "The transferred entitlements."
        }
      },
      "id": "GoogleCloudChannelV1TransferEntitlementsResponse",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "type": "object"
    },
    "GoogleCloudChannelV1ListOffersResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListOffersResponse",
      "properties": {
        "offers": {
          "items": {
            "$ref": "GoogleCloudChannelV1Offer"
          },
          "description": "The list of Offers requested.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for ListOffers."
    },
    "GoogleCloudChannelV1TransferableOffer": {
      "properties": {
        "offer": {
          "$ref": "GoogleCloudChannelV1Offer",
          "description": "Offer with parameter constraints updated to allow the Transfer."
        }
      },
      "id": "GoogleCloudChannelV1TransferableOffer",
      "description": "TransferableOffer represents an Offer that can be used in Transfer. Read-only.",
      "type": "object"
    },
    "GoogleCloudChannelV1Entitlement": {
      "properties": {
        "purchaseOrderId": {
          "type": "string",
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters. This is only supported for Google Workspace entitlements."
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array",
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. The response may include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. - max_units: The maximum assignable units for a flexible offer. - num_units: The total commitment for commitment-based offers."
        },
        "provisionedService": {
          "$ref": "GoogleCloudChannelV1ProvisionedService",
          "readOnly": true,
          "description": "Output only. Service provisioning details for the entitlement."
        },
        "commitmentSettings": {
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers.",
          "$ref": "GoogleCloudChannelV1CommitmentSettings"
        },
        "provisioningState": {
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement is currently suspended."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current provisioning state of the entitlement."
        },
        "associationInfo": {
          "$ref": "GoogleCloudChannelV1AssociationInfo",
          "description": "Association information to other entitlements."
        },
        "offer": {
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the entitlement is created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "suspensionReasons": {
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ],
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ]
          },
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the entitlement is updated."
        },
        "trialSettings": {
          "readOnly": true,
          "description": "Output only. Settings for trial offers.",
          "$ref": "GoogleCloudChannelV1TrialSettings"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}."
        }
      },
      "id": "GoogleCloudChannelV1Entitlement",
      "type": "object",
      "description": "An entitlement is a representation of a customer's ability to use a service."
    },
    "GoogleCloudChannelV1ChannelPartnerLink": {
      "id": "GoogleCloudChannelV1ChannelPartnerLink",
      "type": "object",
      "properties": {
        "linkState": {
          "enum": [
            "CHANNEL_PARTNER_LINK_STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "REVOKED",
            "SUSPENDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "An invitation has been sent to the reseller to create a channel partner link.",
            "Status when the reseller is active.",
            "Status when the reseller has been revoked by the distributor.",
            "Status when the reseller is suspended by Google or distributor."
          ],
          "description": "Required. State of the channel partner link."
        },
        "channelPartnerCloudIdentityInfo": {
          "description": "Output only. Cloud Identity info of the channel partner (IR).",
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo"
        },
        "inviteLinkUri": {
          "description": "Output only. URI of the web page where partner accepts the link invitation.",
          "readOnly": true,
          "type": "string"
        },
        "resellerCloudIdentityId": {
          "type": "string",
          "description": "Required. Cloud Identity ID of the linked reseller."
        },
        "publicId": {
          "type": "string",
          "description": "Output only. Public identifier that a customer must use to generate a transfer token to move to this distributor-reseller combination.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the channel partner link is updated.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the channel partner link is created.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name for the channel partner link, in the format accounts/{account_id}/channelPartnerLinks/{id}."
        }
      },
      "description": "Entity representing a link between distributors and their indirect resellers in an n-tier resale channel."
    },
    "GoogleCloudChannelV1EntitlementEvent": {
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "properties": {
        "eventType": {
          "type": "string",
          "description": "Type of event which happened on the entitlement.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ],
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ]
        },
        "entitlement": {
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1EntitlementEvent",
      "type": "object"
    },
    "GoogleCloudChannelV1ListCustomersResponse": {
      "properties": {
        "customers": {
          "items": {
            "$ref": "GoogleCloudChannelV1Customer"
          },
          "type": "array",
          "description": "The customers belonging to a reseller or distributor."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListCustomersRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListCustomersResponse",
      "description": "Response message for CloudChannelService.ListCustomers."
    },
    "GoogleCloudChannelV1CloudIdentityCustomerAccount": {
      "description": "Entity representing a Cloud Identity account that may be associated with a Channel Services API partner.",
      "type": "object",
      "id": "GoogleCloudChannelV1CloudIdentityCustomerAccount",
      "properties": {
        "customerName": {
          "description": "If owned = true, the name of the customer that owns the Cloud Identity account. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        },
        "existing": {
          "type": "boolean",
          "description": "Returns true if a Cloud Identity account exists for a specific domain."
        },
        "owned": {
          "description": "Returns true if the Cloud Identity account is associated with a customer of the Channel Services partner.",
          "type": "boolean"
        },
        "customerCloudIdentityId": {
          "type": "string",
          "description": "If existing = true, the Cloud Identity ID of the customer."
        }
      }
    },
    "GoogleCloudChannelV1ImportCustomerRequest": {
      "id": "GoogleCloudChannelV1ImportCustomerRequest",
      "properties": {
        "cloudIdentityId": {
          "description": "Required. Customer's Cloud Identity ID",
          "type": "string"
        },
        "channelPartnerId": {
          "description": "Optional. Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is required for 2-tier transfer scenarios and can be provided via the request Parent binding as well.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Required. Customer domain."
        },
        "customer": {
          "description": "Optional. Specifies the customer that will receive imported Cloud Identity information. Format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        },
        "overwriteIfExists": {
          "description": "Required. Choose to overwrite an existing customer if found. This must be set to true if there is an existing customer with a conflicting region code or domain.",
          "type": "boolean"
        },
        "authToken": {
          "type": "string",
          "description": "Optional. The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
        }
      },
      "type": "object",
      "description": "Request message for CloudChannelService.ImportCustomer"
    },
    "GoogleCloudChannelV1PurchasableSku": {
      "type": "object",
      "description": "SKU that you can purchase. This is used in ListPurchasableSku API response.",
      "properties": {
        "sku": {
          "description": "SKU",
          "$ref": "GoogleCloudChannelV1Sku"
        }
      },
      "id": "GoogleCloudChannelV1PurchasableSku"
    },
    "GoogleCloudChannelV1ChangeParametersRequest": {
      "id": "GoogleCloudChannelV1ChangeParametersRequest",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        },
        "purchaseOrderId": {
          "type": "string",
          "description": "Optional. Purchase order ID provided by the reseller."
        },
        "parameters": {
          "description": "Required. Entitlement parameters to update. You can only change editable parameters. To view the available Parameters for a request, refer to the Offer.parameter_definitions from the desired offer.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          }
        }
      },
      "description": "Request message for CloudChannelService.ChangeParametersRequest.",
      "type": "object"
    },
    "GoogleCloudChannelV1Product": {
      "type": "object",
      "id": "GoogleCloudChannelV1Product",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource Name of the Product. Format: products/{product_id}"
        },
        "marketingInfo": {
          "description": "Marketing information for the product.",
          "$ref": "GoogleCloudChannelV1MarketingInfo"
        }
      },
      "description": "A Product is the entity a customer uses when placing an order. For example, Google Workspace, Google Voice, etc."
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudChannelV1ProvisionCloudIdentityRequest": {
      "description": "Request message for CloudChannelService.ProvisionCloudIdentity",
      "properties": {
        "cloudIdentityInfo": {
          "description": "CloudIdentity-specific customer information.",
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo"
        },
        "user": {
          "$ref": "GoogleCloudChannelV1AdminUser",
          "description": "Admin user information."
        },
        "validateOnly": {
          "description": "Validate the request and preview the review, but do not post it.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudChannelV1ProvisionCloudIdentityRequest",
      "type": "object"
    },
    "GoogleTypeDecimal": {
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -\u003e `2.5`). - Replacing a zero-length integer value with `0` (`.5` -\u003e `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -\u003e `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -\u003e `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` \u003c-\u003e `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      },
      "id": "GoogleTypeDecimal",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's BigDecimal or Python's decimal.Decimal. [BigDecimal]: https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html [decimal.Decimal]: https://docs.python.org/3/library/decimal.html",
      "type": "object"
    },
    "GoogleCloudChannelV1PurchasableOffer": {
      "description": "Offer that you can purchase for a customer. This is used in the ListPurchasableOffer API response.",
      "id": "GoogleCloudChannelV1PurchasableOffer",
      "type": "object",
      "properties": {
        "offer": {
          "description": "Offer.",
          "$ref": "GoogleCloudChannelV1Offer"
        }
      }
    },
    "GoogleCloudChannelV1ListTransferableSkusResponse": {
      "type": "object",
      "description": "Response message for CloudChannelService.ListTransferableSkus.",
      "id": "GoogleCloudChannelV1ListTransferableSkusResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListTransferableSkusRequest.page_token to obtain that page."
        },
        "transferableSkus": {
          "description": "Information about existing SKUs for a customer that needs a transfer.",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableSku"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudChannelV1PricePhase": {
      "id": "GoogleCloudChannelV1PricePhase",
      "description": "Specifies the price by the duration of months. For example, a 20% discount for the first six months, then a 10% discount starting on the seventh month.",
      "properties": {
        "lastPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "Defines first period for the phase."
        },
        "firstPeriod": {
          "description": "Defines first period for the phase.",
          "format": "int32",
          "type": "integer"
        },
        "periodType": {
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "type": "string",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "description": "Defines the phase period type."
        },
        "price": {
          "$ref": "GoogleCloudChannelV1Price",
          "description": "Price of the phase. Present if there are no price tiers."
        },
        "priceTiers": {
          "items": {
            "$ref": "GoogleCloudChannelV1PriceTier"
          },
          "type": "array",
          "description": "Price by the resource tiers."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1CancelEntitlementRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "description": "Request message for CloudChannelService.CancelEntitlement.",
      "id": "GoogleCloudChannelV1CancelEntitlementRequest"
    },
    "GoogleCloudChannelV1Offer": {
      "properties": {
        "parameterDefinitions": {
          "type": "array",
          "description": "Parameters required to use current Offer to purchase.",
          "items": {
            "$ref": "GoogleCloudChannelV1ParameterDefinition"
          }
        },
        "startTime": {
          "description": "Start of the Offer validity time.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. End of the Offer validity time.",
          "readOnly": true
        },
        "sku": {
          "description": "SKU the offer is associated with.",
          "$ref": "GoogleCloudChannelV1Sku"
        },
        "constraints": {
          "$ref": "GoogleCloudChannelV1Constraints",
          "description": "Constraints on transacting the Offer."
        },
        "plan": {
          "description": "Describes the payment plan for the Offer.",
          "$ref": "GoogleCloudChannelV1Plan"
        },
        "priceByResources": {
          "type": "array",
          "description": "Price for each monetizable resource type.",
          "items": {
            "$ref": "GoogleCloudChannelV1PriceByResource"
          }
        },
        "marketingInfo": {
          "description": "Marketing information for the Offer.",
          "$ref": "GoogleCloudChannelV1MarketingInfo"
        },
        "name": {
          "description": "Resource Name of the Offer. Format: accounts/{account_id}/offers/{offer_id}",
          "type": "string"
        }
      },
      "description": "Represents an offer made to resellers for purchase. An offer is associated with a Sku, has a plan for payment, a price, and defines the constraints for buying.",
      "type": "object",
      "id": "GoogleCloudChannelV1Offer"
    },
    "GoogleCloudChannelV1ListTransferableOffersResponse": {
      "description": "Response message for CloudChannelService.ListTransferableOffers.",
      "id": "GoogleCloudChannelV1ListTransferableOffersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListTransferableOffersRequest.page_token to obtain that page."
        },
        "transferableOffers": {
          "description": "Information about Offers for a customer that can be used for transfer.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableOffer"
          }
        }
      }
    },
    "GoogleCloudChannelV1alpha1ProvisionedService": {
      "description": "Service provisioned for an entitlement.",
      "id": "GoogleCloudChannelV1alpha1ProvisionedService",
      "properties": {
        "productId": {
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true,
          "type": "string"
        },
        "provisioningId": {
          "readOnly": true,
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud Platform, this is the Billing Account ID of the billing subaccount.\"",
          "type": "string"
        },
        "skuId": {
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1OperationMetadata": {
      "type": "object",
      "description": "Provides contextual information about a google.longrunning.Operation.",
      "properties": {
        "operationType": {
          "description": "The RPC that initiated this Long Running Operation.",
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeQuantity.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by ChangePlan.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ChangeSku.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_QUANTITY",
            "CHANGE_RENEWAL_SETTINGS",
            "CHANGE_PLAN",
            "START_PAID_SERVICE",
            "CHANGE_SKU",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1alpha1OperationMetadata"
    },
    "GoogleCloudChannelV1Parameter": {
      "description": "Definition for extended entitlement parameters.",
      "type": "object",
      "id": "GoogleCloudChannelV1Parameter",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "editable": {
          "readOnly": true,
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active.",
          "type": "boolean"
        },
        "value": {
          "$ref": "GoogleCloudChannelV1Value",
          "description": "Value of the parameter."
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest": {
      "description": "Request message for CloudChannelService.UpdateChannelPartnerLink",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Required. The update mask that applies to the resource. The only allowable value for an update mask is channel_partner_link.link_state.",
          "format": "google-fieldmask"
        },
        "channelPartnerLink": {
          "description": "Required. The channel partner link to update. Only channel_partner_link.link_state is allowed for updates.",
          "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
        }
      },
      "id": "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1ListProductsResponse": {
      "description": "Response message for ListProducts.",
      "id": "GoogleCloudChannelV1ListProductsResponse",
      "properties": {
        "products": {
          "type": "array",
          "description": "List of Products requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1Product"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ProvisionedService": {
      "id": "GoogleCloudChannelV1ProvisionedService",
      "description": "Service provisioned for an entitlement.",
      "properties": {
        "productId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer."
        },
        "skuId": {
          "readOnly": true,
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer.",
          "type": "string"
        },
        "provisioningId": {
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud Platform, this is the Billing Account ID of the billing subaccount.\"",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ChangeOfferRequest": {
      "type": "object",
      "properties": {
        "purchaseOrderId": {
          "description": "Optional. Purchase order id provided by the reseller.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        },
        "offer": {
          "description": "Required. New Offer. Format: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "parameters": {
          "description": "Optional. Parameters needed to purchase the Offer. To view the available Parameters refer to the Offer.parameter_definitions from the desired offer.",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array"
        }
      },
      "description": "Request message for CloudChannelService.ChangeOffer.",
      "id": "GoogleCloudChannelV1ChangeOfferRequest"
    },
    "GoogleCloudChannelV1alpha1AssociationInfo": {
      "id": "GoogleCloudChannelV1alpha1AssociationInfo",
      "description": "Association links that an entitlement has to other entitlements.",
      "type": "object",
      "properties": {
        "baseEntitlement": {
          "type": "string",
          "description": "The name of the base entitlement, for which this entitlement is an add-on."
        }
      }
    },
    "GoogleCloudChannelV1ChannelPartnerRepricingConfig": {
      "description": "Configuration for how a distributor will rebill a channel partner (also known as a distributor-authorized reseller).",
      "id": "GoogleCloudChannelV1ChannelPartnerRepricingConfig",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the ChannelPartnerRepricingConfig. Format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}/channelPartnerRepricingConfigs/{id}.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of an update to the repricing rule. If `update_time` is after RepricingConfig.effective_invoice_month then it indicates this was set mid-month."
        },
        "repricingConfig": {
          "description": "Required. The configuration for bill modifications made by a reseller before sending it to ChannelPartner.",
          "$ref": "GoogleCloudChannelV1RepricingConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1RepricingAdjustment": {
      "id": "GoogleCloudChannelV1RepricingAdjustment",
      "description": "A type that represents the various adjustments you can apply to a bill.",
      "type": "object",
      "properties": {
        "percentageAdjustment": {
          "description": "Flat markup or markdown on an entire bill.",
          "$ref": "GoogleCloudChannelV1PercentageAdjustment"
        }
      }
    },
    "GoogleCloudChannelV1ActivateEntitlementRequest": {
      "description": "Request message for CloudChannelService.ActivateEntitlement.",
      "type": "object",
      "id": "GoogleCloudChannelV1ActivateEntitlementRequest",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1TrialSettings": {
      "properties": {
        "trial": {
          "type": "boolean",
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial."
        },
        "endTime": {
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com).",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudChannelV1TrialSettings",
      "description": "Settings for trial offers.",
      "type": "object"
    },
    "GoogleCloudChannelV1PercentageAdjustment": {
      "id": "GoogleCloudChannelV1PercentageAdjustment",
      "properties": {
        "percentage": {
          "description": "The percentage of the bill to adjust. For example: Mark down by 1% =\u003e \"-1.00\" Mark up by 1% =\u003e \"1.00\" Pass-Through =\u003e \"0.00\"",
          "$ref": "GoogleTypeDecimal"
        }
      },
      "type": "object",
      "description": "An adjustment that applies a flat markup or markdown to an entire bill."
    },
    "GoogleCloudChannelV1Media": {
      "type": "object",
      "properties": {
        "content": {
          "description": "URL of the media.",
          "type": "string"
        },
        "type": {
          "description": "Type of the media.",
          "enum": [
            "MEDIA_TYPE_UNSPECIFIED",
            "MEDIA_TYPE_IMAGE"
          ],
          "enumDescriptions": [
            "Not used.",
            "Type of image."
          ],
          "type": "string"
        },
        "title": {
          "description": "Title of the media.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1Media",
      "description": "Represents media information."
    },
    "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity": {
      "id": "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity",
      "type": "object",
      "properties": {},
      "description": "Applies the repricing configuration at the channel partner level. The channel partner value is derived from the resource name. Takes an empty json object."
    },
    "GoogleCloudChannelV1RepricingConfig": {
      "id": "GoogleCloudChannelV1RepricingConfig",
      "type": "object",
      "properties": {
        "entitlementGranularity": {
          "$ref": "GoogleCloudChannelV1RepricingConfigEntitlementGranularity",
          "description": "Applies the repricing configuration at the entitlement level. This is the only supported value for CustomerRepricingConfig."
        },
        "channelPartnerGranularity": {
          "$ref": "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity",
          "description": "Applies the repricing configuration at the channel partner level. This is the only supported value for ChannelPartnerRepricingConfig."
        },
        "effectiveInvoiceMonth": {
          "$ref": "GoogleTypeDate",
[...]
