{
  "mtlsRootUrl": "https://cloudchannel.mtls.googleapis.com/",
  "revision": "20221023",
  "documentationLink": "https://cloud.google.com/channel",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://cloudchannel.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "description": "The Cloud Channel API enables Google Cloud partners to have a single unified resale platform and APIs across all of Google Cloud including GCP, Workspace, Maps and Chrome.",
  "basePath": "",
  "ownerDomain": "google.com",
  "canonicalName": "Cloudchannel",
  "title": "Cloud Channel API",
  "id": "cloudchannel:v1",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "schemas": {
    "GoogleCloudChannelV1Price": {
      "properties": {
        "discount": {
          "type": "number",
          "description": "Discount percentage, represented as decimal. For example, a 20% discount will be represent as 0.2.",
          "format": "double"
        },
        "effectivePrice": {
          "description": "Effective Price after applying the discounts.",
          "$ref": "GoogleTypeMoney"
        },
        "externalPriceUri": {
          "description": "Link to external price list, such as link to Google Voice rate card.",
          "type": "string"
        },
        "basePrice": {
          "$ref": "GoogleTypeMoney",
          "description": "Base price."
        }
      },
      "type": "object",
      "description": "Represents the price of the Offer.",
      "id": "GoogleCloudChannelV1Price"
    },
    "GoogleCloudChannelV1alpha1TransferEntitlementsResponse": {
      "properties": {
        "entitlements": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Entitlement"
          },
          "description": "The transferred entitlements."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1TransferEntitlementsResponse",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation."
    },
    "GoogleCloudChannelV1UnregisterSubscriberResponse": {
      "properties": {
        "topic": {
          "description": "Name of the topic the service account subscriber access was removed from.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1UnregisterSubscriberResponse",
      "type": "object",
      "description": "Response Message for UnregisterSubscriber."
    },
    "GoogleCloudChannelV1alpha1ProvisionedService": {
      "properties": {
        "productId": {
          "type": "string",
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true
        },
        "provisioningId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud Platform, this is the Billing Account ID of the billing subaccount.\""
        },
        "skuId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer."
        }
      },
      "id": "GoogleCloudChannelV1alpha1ProvisionedService",
      "type": "object",
      "description": "Service provisioned for an entitlement."
    },
    "GoogleCloudChannelV1AdminUser": {
      "properties": {
        "givenName": {
          "type": "string",
          "description": "Given name of the admin user."
        },
        "familyName": {
          "description": "Family name of the admin user.",
          "type": "string"
        },
        "email": {
          "description": "Primary email of the admin user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1AdminUser",
      "description": "Information needed to create an Admin User for Google Workspace."
    },
    "GoogleCloudChannelV1TransferEligibility": {
      "properties": {
        "description": {
          "description": "Localized description if reseller is not eligible to transfer the SKU.",
          "type": "string"
        },
        "isEligible": {
          "type": "boolean",
          "description": "Whether reseller is eligible to transfer the SKU."
        },
        "ineligibilityReason": {
          "enumDescriptions": [
            "Not used.",
            "Reseller needs to accept TOS before transferring the SKU.",
            "Reseller not eligible to sell the SKU.",
            "SKU subscription is suspended"
          ],
          "description": "Specified the reason for ineligibility.",
          "enum": [
            "REASON_UNSPECIFIED",
            "PENDING_TOS_ACCEPTANCE",
            "SKU_NOT_ELIGIBLE",
            "SKU_SUSPENDED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specifies transfer eligibility of a SKU.",
      "id": "GoogleCloudChannelV1TransferEligibility"
    },
    "GoogleCloudChannelV1CancelEntitlementRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1CancelEntitlementRequest",
      "description": "Request message for CloudChannelService.CancelEntitlement."
    },
    "GoogleCloudChannelV1ImportCustomerRequest": {
      "id": "GoogleCloudChannelV1ImportCustomerRequest",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. Specifies the customer that will receive imported Cloud Identity information. Format: accounts/{account_id}/customers/{customer_id}"
        },
        "authToken": {
          "type": "string",
          "description": "Optional. The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
        },
        "channelPartnerId": {
          "description": "Optional. Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is required for 2-tier transfer scenarios and can be provided via the request Parent binding as well.",
          "type": "string"
        },
        "cloudIdentityId": {
          "description": "Required. Customer's Cloud Identity ID",
          "type": "string"
        },
        "overwriteIfExists": {
          "description": "Required. Choose to overwrite an existing customer if found. This must be set to true if there is an existing customer with a conflicting region code or domain.",
          "type": "boolean"
        },
        "domain": {
          "description": "Required. Customer domain.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for CloudChannelService.ImportCustomer"
    },
    "GoogleCloudChannelV1alpha1ChannelPartnerEvent": {
      "description": "Represents Pub/Sub messages about updates to a Channel Partner. You can retrieve updated values through the ChannelPartnerLinks API.",
      "id": "GoogleCloudChannelV1alpha1ChannelPartnerEvent",
      "type": "object",
      "properties": {
        "eventType": {
          "enumDescriptions": [
            "Default value. Does not display if there are no errors.",
            "The Channel Partner link state changed.",
            "The Channel Partner's Partner Advantage information changed. This can entail the Channel Partner's authorization to sell a product in a particular region."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "LINK_STATE_CHANGED",
            "PARTNER_ADVANTAGE_INFO_CHANGED"
          ],
          "description": "Type of event performed on the Channel Partner.",
          "type": "string"
        },
        "channelPartner": {
          "description": "Resource name for the Channel Partner Link. Channel_partner uses the format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1alpha1CommitmentSettings": {
      "properties": {
        "renewalSettings": {
          "description": "Optional. Renewal settings applicable for a commitment-based Offer.",
          "$ref": "GoogleCloudChannelV1alpha1RenewalSettings"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Commitment end timestamp."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Commitment start timestamp."
        }
      },
      "type": "object",
      "description": "Commitment settings for commitment-based offers.",
      "id": "GoogleCloudChannelV1alpha1CommitmentSettings"
    },
    "GoogleCloudChannelV1TransferableOffer": {
      "description": "TransferableOffer represents an Offer that can be used in Transfer. Read-only.",
      "properties": {
        "offer": {
          "description": "Offer with parameter constraints updated to allow the Transfer.",
          "$ref": "GoogleCloudChannelV1Offer"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1TransferableOffer"
    },
    "GoogleCloudChannelV1ListSubscribersResponse": {
      "id": "GoogleCloudChannelV1ListSubscribersResponse",
      "properties": {
        "serviceAccounts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of service accounts which have subscriber access to the topic."
        },
        "topic": {
          "description": "Name of the topic registered with the reseller.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response Message for ListSubscribers.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "GoogleCloudChannelV1OperationMetadata": {
      "description": "Provides contextual information about a google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "operationType": {
          "description": "The RPC that initiated this Long Running Operation.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_RENEWAL_SETTINGS",
            "START_PAID_SERVICE",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ]
        }
      },
      "id": "GoogleCloudChannelV1OperationMetadata"
    },
    "GoogleCloudChannelV1alpha1CustomerEvent": {
      "id": "GoogleCloudChannelV1alpha1CustomerEvent",
      "type": "object",
      "description": "Represents Pub/Sub message content describing customer update.",
      "properties": {
        "eventType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ],
          "description": "Type of event which happened on the customer.",
          "enumDescriptions": [
            "Not used.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ]
        },
        "customer": {
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1PurchasableOffer": {
      "id": "GoogleCloudChannelV1PurchasableOffer",
      "description": "Offer that you can purchase for a customer. This is used in the ListPurchasableOffer API response.",
      "type": "object",
      "properties": {
        "offer": {
          "description": "Offer.",
          "$ref": "GoogleCloudChannelV1Offer"
        }
      }
    },
    "GoogleCloudChannelV1ListTransferableOffersResponse": {
      "id": "GoogleCloudChannelV1ListTransferableOffersResponse",
      "description": "Response message for CloudChannelService.ListTransferableOffers.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableOffersRequest.page_token to obtain that page.",
          "type": "string"
        },
        "transferableOffers": {
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableOffer"
          },
          "description": "Information about Offers for a customer that can be used for transfer.",
          "type": "array"
        }
      }
    },
    "GoogleCloudChannelV1alpha1EntitlementEvent": {
      "type": "object",
      "properties": {
        "entitlement": {
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ],
          "description": "Type of event which happened on the entitlement.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ]
        }
      },
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "id": "GoogleCloudChannelV1alpha1EntitlementEvent"
    },
    "GoogleCloudChannelV1RepricingAdjustment": {
      "id": "GoogleCloudChannelV1RepricingAdjustment",
      "type": "object",
      "properties": {
        "percentageAdjustment": {
          "description": "Flat markup or markdown on an entire bill.",
          "$ref": "GoogleCloudChannelV1PercentageAdjustment"
        }
      },
      "description": "A type that represents the various adjustments you can apply to a bill."
    },
    "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest": {
      "type": "object",
      "description": "Request message for CloudChannelService.UpdateChannelPartnerLink",
      "properties": {
        "channelPartnerLink": {
          "$ref": "GoogleCloudChannelV1ChannelPartnerLink",
          "description": "Required. The channel partner link to update. Only channel_partner_link.link_state is allowed for updates."
        },
        "updateMask": {
          "type": "string",
          "description": "Required. The update mask that applies to the resource. The only allowable value for an update mask is channel_partner_link.link_state.",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest"
    },
    "GoogleCloudChannelV1MarketingInfo": {
      "id": "GoogleCloudChannelV1MarketingInfo",
      "type": "object",
      "description": "Represents the marketing information for a Product, SKU or Offer.",
      "properties": {
        "defaultLogo": {
          "$ref": "GoogleCloudChannelV1Media",
          "description": "Default logo."
        },
        "displayName": {
          "description": "Human readable name.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Human readable description. Description can contain HTML."
        }
      }
    },
    "GoogleCloudChannelV1ListTransferableSkusRequest": {
      "id": "GoogleCloudChannelV1ListTransferableSkusRequest",
      "properties": {
        "pageToken": {
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableSkusResponse.next_page_token of the previous CloudChannelService.ListTransferableSkus call. Optional.",
          "type": "string"
        },
        "pageSize": {
          "description": "The requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 SKUs. The maximum value is 1000; the server will coerce values above 1000. Optional.",
          "format": "int32",
          "type": "integer"
        },
        "cloudIdentityId": {
          "description": "Customer's Cloud Identity ID",
          "type": "string"
        },
        "authToken": {
          "description": "Optional. The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\". Optional."
        },
        "customerName": {
          "type": "string",
          "description": "A reseller is required to create a customer and use the resource name of the created customer here. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}"
        }
      },
      "description": "Request message for CloudChannelService.ListTransferableSkus",
      "type": "object"
    },
    "GoogleTypeMoney": {
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "id": "GoogleTypeMoney",
      "properties": {
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        }
      }
    },
    "GoogleCloudChannelV1TransferableSku": {
      "properties": {
        "transferEligibility": {
          "$ref": "GoogleCloudChannelV1TransferEligibility",
          "description": "Describes the transfer eligibility of a SKU."
        },
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "The SKU pertaining to the provisioning resource as specified in the Offer."
        },
        "legacySku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "Optional. The customer to transfer has an entitlement with the populated legacy SKU."
        }
      },
      "type": "object",
      "description": "TransferableSku represents information a reseller needs to view existing provisioned services for a customer that they do not own. Read-only.",
      "id": "GoogleCloudChannelV1TransferableSku"
    },
    "GoogleCloudChannelV1ProvisionCloudIdentityRequest": {
      "properties": {
        "user": {
          "$ref": "GoogleCloudChannelV1AdminUser",
          "description": "Admin user information."
        },
        "cloudIdentityInfo": {
          "description": "CloudIdentity-specific customer information.",
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo"
        },
        "validateOnly": {
          "description": "Validate the request and preview the review, but do not post it.",
          "type": "boolean"
        }
      },
      "description": "Request message for CloudChannelService.ProvisionCloudIdentity",
      "type": "object",
      "id": "GoogleCloudChannelV1ProvisionCloudIdentityRequest"
    },
    "GoogleCloudChannelV1CustomerRepricingConfig": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the CustomerRepricingConfig. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of an update to the repricing rule. If `update_time` is after RepricingConfig.effective_invoice_month then it indicates this was set mid-month.",
          "type": "string"
        },
        "repricingConfig": {
          "description": "Required. The configuration for bill modifications made by a reseller before sending it to customers.",
          "$ref": "GoogleCloudChannelV1RepricingConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1CustomerRepricingConfig",
      "description": "Configuration for how a reseller will reprice a Customer."
    },
    "GoogleCloudChannelV1StartPaidServiceRequest": {
      "description": "Request message for CloudChannelService.StartPaidService.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1StartPaidServiceRequest"
    },
    "GoogleCloudChannelV1UnregisterSubscriberRequest": {
      "type": "object",
      "description": "Request Message for UnregisterSubscriber.",
      "id": "GoogleCloudChannelV1UnregisterSubscriberRequest",
      "properties": {
        "serviceAccount": {
          "description": "Required. Service account to unregister from subscriber access to the topic.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1EduData": {
      "properties": {
        "instituteType": {
          "description": "Designated institute type of customer.",
          "enum": [
            "INSTITUTE_TYPE_UNSPECIFIED",
            "K12",
            "UNIVERSITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Elementary/Secondary Schools & Districts",
            "Higher Education Universities & Colleges"
          ]
        },
        "website": {
          "type": "string",
          "description": "Web address for the edu customer's institution."
        },
        "instituteSize": {
          "enumDescriptions": [
            "Not used.",
            "1 - 100",
            "101 - 500",
            "501 - 1,000",
            "1,001 - 2,000",
            "2,001 - 5,000",
            "5,001 - 10,000",
            "10,001 +"
          ],
          "enum": [
            "INSTITUTE_SIZE_UNSPECIFIED",
            "SIZE_1_100",
            "SIZE_101_500",
            "SIZE_501_1000",
            "SIZE_1001_2000",
            "SIZE_2001_5000",
            "SIZE_5001_10000",
            "SIZE_10001_OR_MORE"
          ],
          "description": "Size of the institute.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1EduData",
      "description": "Required Edu Attributes",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1AssociationInfo": {
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1AssociationInfo",
      "description": "Association links that an entitlement has to other entitlements.",
      "properties": {
        "baseEntitlement": {
          "type": "string",
          "description": "The name of the base entitlement, for which this entitlement is an add-on."
        }
      }
    },
    "GoogleCloudChannelV1ListPurchasableOffersResponse": {
      "description": "Response message for ListPurchasableOffers.",
      "id": "GoogleCloudChannelV1ListPurchasableOffersResponse",
      "type": "object",
      "properties": {
        "purchasableOffers": {
          "description": "The list of Offers requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableOffer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse": {
      "type": "object",
      "properties": {
        "customerRepricingConfigs": {
          "type": "array",
          "description": "The repricing configs for this channel partner.",
          "items": {
            "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListCustomerRepricingConfigsRequest.page_token to obtain that page."
        }
      },
      "id": "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse",
      "description": "Response message for CloudChannelService.ListCustomerRepricingConfigs."
    },
    "GoogleCloudChannelV1ListOffersResponse": {
      "description": "Response message for ListOffers.",
      "properties": {
        "offers": {
          "items": {
            "$ref": "GoogleCloudChannelV1Offer"
          },
          "description": "The list of Offers requested.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListOffersResponse"
    },
    "GoogleCloudChannelV1ActivateEntitlementRequest": {
      "id": "GoogleCloudChannelV1ActivateEntitlementRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.ActivateEntitlement.",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1alpha1Period": {
      "type": "object",
      "properties": {
        "periodType": {
          "description": "Period Type.",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ]
        },
        "duration": {
          "format": "int32",
          "description": "Total duration of Period Type defined.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudChannelV1alpha1Period",
      "description": "Represents period in days/months/years."
    },
    "GoogleCloudChannelV1CloudIdentityCustomerAccount": {
      "description": "Entity representing a Cloud Identity account that may be associated with a Channel Services API partner.",
      "type": "object",
      "properties": {
        "existing": {
          "type": "boolean",
          "description": "Returns true if a Cloud Identity account exists for a specific domain."
        },
        "customerCloudIdentityId": {
          "description": "If existing = true, the Cloud Identity ID of the customer.",
          "type": "string"
        },
        "customerName": {
          "type": "string",
          "description": "If owned = true, the name of the customer that owns the Cloud Identity account. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}"
        },
        "owned": {
          "description": "Returns true if the Cloud Identity account is associated with a customer of the Channel Services partner.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudChannelV1CloudIdentityCustomerAccount"
    },
    "GoogleTypeDate": {
      "type": "object",
      "id": "GoogleTypeDate",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleCloudChannelV1alpha1Value": {
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1Value",
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "int64Value": {
          "format": "int64",
          "description": "Represents an int64 value.",
          "type": "string"
        },
        "protoValue": {
          "description": "Represents an 'Any' proto value.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "doubleValue": {
          "description": "Represents a double value.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Data type and value of a parameter."
    },
    "GoogleCloudChannelV1TransferEntitlementsRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        },
        "authToken": {
          "type": "string",
          "description": "The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
        },
        "entitlements": {
          "type": "array",
          "description": "Required. The new entitlements to create or transfer.",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          }
        }
      },
      "id": "GoogleCloudChannelV1TransferEntitlementsRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.TransferEntitlements."
    },
    "GoogleCloudChannelV1SubscriberEvent": {
      "properties": {
        "entitlementEvent": {
          "$ref": "GoogleCloudChannelV1EntitlementEvent",
          "description": "Entitlement event sent as part of Pub/Sub event to partners."
        },
        "customerEvent": {
          "$ref": "GoogleCloudChannelV1CustomerEvent",
          "description": "Customer event sent as part of Pub/Sub event to partners."
        }
      },
      "id": "GoogleCloudChannelV1SubscriberEvent",
      "type": "object",
      "description": "Represents information which resellers will get as part of notification from Pub/Sub."
    },
    "GoogleCloudChannelV1CreateEntitlementRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1CreateEntitlementRequest",
      "description": "Request message for CloudChannelService.CreateEntitlement",
      "properties": {
        "entitlement": {
          "$ref": "GoogleCloudChannelV1Entitlement",
          "description": "Required. The entitlement to create."
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1Value": {
      "id": "GoogleCloudChannelV1Value",
      "type": "object",
      "properties": {
        "doubleValue": {
          "format": "double",
          "description": "Represents a double value.",
          "type": "number"
        },
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "Represents an int64 value."
        },
        "protoValue": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Represents an 'Any' proto value."
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        }
      },
      "description": "Data type and value of a parameter."
    },
    "GoogleCloudChannelV1ListTransferableOffersRequest": {
      "properties": {
        "customerName": {
          "description": "A reseller should create a customer and use the resource name of that customer here.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableOffersResponse.next_page_token of the previous CloudChannelService.ListTransferableOffers call."
        },
        "languageCode": {
          "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\".",
          "type": "string"
        },
        "sku": {
          "type": "string",
          "description": "Required. The SKU to look up Offers for."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 offers. The maximum value is 1000; the server will coerce values above 1000."
        },
        "cloudIdentityId": {
          "description": "Customer's Cloud Identity ID",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.ListTransferableOffers",
      "type": "object",
      "id": "GoogleCloudChannelV1ListTransferableOffersRequest"
    },
    "GoogleCloudChannelV1ListTransferableSkusResponse": {
      "id": "GoogleCloudChannelV1ListTransferableSkusResponse",
      "properties": {
        "transferableSkus": {
          "description": "Information about existing SKUs for a customer that needs a transfer.",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableSku"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableSkusRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for CloudChannelService.ListTransferableSkus."
    },
    "GoogleCloudChannelV1alpha1OperationMetadata": {
      "id": "GoogleCloudChannelV1alpha1OperationMetadata",
      "properties": {
        "operationType": {
          "description": "The RPC that initiated this Long Running Operation.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeQuantity.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by ChangePlan.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ChangeSku.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_QUANTITY",
            "CHANGE_RENEWAL_SETTINGS",
            "CHANGE_PLAN",
            "START_PAID_SERVICE",
            "CHANGE_SKU",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ]
        }
      },
      "description": "Provides contextual information about a google.longrunning.Operation.",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      }
    },
    "GoogleCloudChannelV1ProvisionedService": {
      "description": "Service provisioned for an entitlement.",
      "type": "object",
      "properties": {
        "skuId": {
          "readOnly": true,
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer.",
          "type": "string"
        },
        "productId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer."
        },
        "provisioningId": {
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud Platform, this is the Billing Account ID of the billing subaccount.\"",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ProvisionedService"
    },
    "GoogleCloudChannelV1alpha1RenewalSettings": {
      "description": "Renewal settings for renewable Offers.",
      "properties": {
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1alpha1Period"
        },
        "paymentOption": {
          "description": "Set if enable_renewal=true. Deprecated: Use `payment_cycle` instead.",
          "type": "string",
          "enum": [
            "PAYMENT_OPTION_UNSPECIFIED",
            "ANNUAL",
            "MONTHLY"
          ],
          "enumDescriptions": [
            "Not used.",
            "Paid in yearly installments.",
            "Paid in monthly installments."
          ]
        },
        "disableCommitment": {
          "description": "If true, disables commitment-based offer on renewal and switches to flexible or pay as you go. Deprecated: Use `payment_plan` instead.",
          "type": "boolean"
        },
        "paymentPlan": {
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "description": "Describes how a reseller will be billed.",
          "type": "string"
        },
        "resizeUnitCount": {
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time.",
          "type": "boolean"
        },
        "enableRenewal": {
          "type": "boolean",
          "description": "If false, the plan will be completed at the end date."
        }
      },
      "id": "GoogleCloudChannelV1alpha1RenewalSettings",
      "type": "object"
    },
    "GoogleCloudChannelV1Sku": {
      "properties": {
        "product": {
          "$ref": "GoogleCloudChannelV1Product",
          "description": "Product the SKU is associated with."
        },
        "name": {
          "description": "Resource Name of the SKU. Format: products/{product_id}/skus/{sku_id}",
          "type": "string"
        },
        "marketingInfo": {
          "description": "Marketing information for the SKU.",
          "$ref": "GoogleCloudChannelV1MarketingInfo"
        }
      },
      "description": "Represents a product's purchasable Stock Keeping Unit (SKU). SKUs represent the different variations of the product. For example, Google Workspace Business Standard and Google Workspace Business Plus are Google Workspace product SKUs.",
      "type": "object",
      "id": "GoogleCloudChannelV1Sku"
    },
    "GoogleCloudChannelV1alpha1TrialSettings": {
      "id": "GoogleCloudChannelV1alpha1TrialSettings",
      "description": "Settings for trial offers.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com)."
        },
        "trial": {
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1TransferEntitlementsResponse": {
      "id": "GoogleCloudChannelV1TransferEntitlementsResponse",
      "properties": {
        "entitlements": {
          "description": "The transferred entitlements.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          }
        }
      },
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "type": "object"
    },
    "GoogleCloudChannelV1RegisterSubscriberResponse": {
      "id": "GoogleCloudChannelV1RegisterSubscriberResponse",
      "properties": {
        "topic": {
          "type": "string",
          "description": "Name of the topic the subscriber will listen to."
        }
      },
      "type": "object",
      "description": "Response Message for RegisterSubscriber."
    },
    "GoogleCloudChannelV1PurchasableSku": {
      "id": "GoogleCloudChannelV1PurchasableSku",
      "properties": {
        "sku": {
          "description": "SKU",
          "$ref": "GoogleCloudChannelV1Sku"
        }
      },
      "description": "SKU that you can purchase. This is used in ListPurchasableSku API response.",
      "type": "object"
    },
    "GoogleCloudChannelV1ListSkusResponse": {
      "id": "GoogleCloudChannelV1ListSkusResponse",
      "description": "Response message for ListSkus.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        },
        "skus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Sku"
          },
          "description": "The list of SKUs requested."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1CloudIdentityInfo": {
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Phone number associated with the Cloud Identity."
        },
        "customerType": {
          "enumDescriptions": [
            "Not used.",
            "Domain-owning customer which needs domain verification to use services.",
            "Team customer which needs email verification to use services."
          ],
          "description": "CustomerType indicates verification type needed for using services.",
          "type": "string",
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "DOMAIN",
            "TEAM"
          ]
        },
        "eduData": {
          "$ref": "GoogleCloudChannelV1EduData",
          "description": "Edu information about the customer."
        },
        "adminConsoleUri": {
          "description": "Output only. URI of Customer's Admin console dashboard.",
          "type": "string",
          "readOnly": true
        },
        "isDomainVerified": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the domain is verified. This field is not returned for a Customer's cloud_identity_info resource. Partners can use the domains.get() method of the Workspace SDK's Directory API, or listen to the PRIMARY_DOMAIN_VERIFIED Pub/Sub event in to track domain verification of their resolve Workspace customers."
        },
        "alternateEmail": {
          "type": "string",
          "description": "The alternate email."
        },
        "primaryDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The primary domain name."
        },
        "languageCode": {
          "description": "Language code.",
          "type": "string"
        }
      },
      "description": "Cloud Identity information for the Cloud Channel Customer.",
      "type": "object",
      "id": "GoogleCloudChannelV1CloudIdentityInfo"
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest": {
      "type": "object",
      "description": "Request message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest",
      "properties": {
        "domain": {
          "description": "Required. Domain to fetch for Cloud Identity account customer.",
          "type": "string"
        }
      }
    },
    "GoogleTypeDecimal": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -\u003e `2.5`). - Replacing a zero-length integer value with `0` (`.5` -\u003e `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -\u003e `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -\u003e `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` \u003c-\u003e `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
        }
      },
      "type": "object",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's BigDecimal or Python's decimal.Decimal. [BigDecimal]: https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html [decimal.Decimal]: https://docs.python.org/3/library/decimal.html",
      "id": "GoogleTypeDecimal"
    },
    "GoogleCloudChannelV1ContactInfo": {
      "properties": {
        "displayName": {
          "description": "Output only. The customer account contact's display name, formatted as a combination of the customer's first and last name.",
          "type": "string",
          "readOnly": true
        },
        "firstName": {
          "description": "The customer account contact's first name. Optional for Team customers.",
          "type": "string"
        },
        "title": {
          "description": "Optional. The customer account contact's job title.",
          "type": "string"
        },
        "email": {
          "description": "The customer account's contact email. Required for entitlements that create admin.google.com accounts, and serves as the customer's username for those accounts. Use this email to invite Team customers.",
          "type": "string"
        },
        "phone": {
          "type": "string",
          "description": "The customer account's contact phone number."
        },
        "lastName": {
          "type": "string",
          "description": "The customer account contact's last name. Optional for Team customers."
        }
      },
      "id": "GoogleCloudChannelV1ContactInfo",
      "description": "Contact information for a customer account.",
      "type": "object"
    },
    "GoogleCloudChannelV1ListEntitlementsResponse": {
      "description": "Response message for CloudChannelService.ListEntitlements.",
      "id": "GoogleCloudChannelV1ListEntitlementsResponse",
      "type": "object",
      "properties": {
        "entitlements": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "The reseller customer's entitlements."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to list the next page of results. Pass to ListEntitlementsRequest.page_token to obtain that page."
        }
      }
    },
    "GoogleCloudChannelV1ListCustomersResponse": {
      "type": "object",
      "properties": {
        "customers": {
          "type": "array",
          "description": "The customers belonging to a reseller or distributor.",
          "items": {
            "$ref": "GoogleCloudChannelV1Customer"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListCustomersRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "description": "Response message for CloudChannelService.ListCustomers.",
      "id": "GoogleCloudChannelV1ListCustomersResponse"
    },
    "GoogleCloudChannelV1CommitmentSettings": {
      "type": "object",
      "description": "Commitment settings for commitment-based offers.",
      "id": "GoogleCloudChannelV1CommitmentSettings",
      "properties": {
        "startTime": {
          "readOnly": true,
          "description": "Output only. Commitment start timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "renewalSettings": {
          "description": "Optional. Renewal settings applicable for a commitment-based Offer.",
          "$ref": "GoogleCloudChannelV1RenewalSettings"
        },
        "endTime": {
          "description": "Output only. Commitment end timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudChannelV1EntitlementEvent": {
      "id": "GoogleCloudChannelV1EntitlementEvent",
      "properties": {
        "entitlement": {
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        },
        "eventType": {
          "description": "Type of event which happened on the entitlement.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ]
        }
      },
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "type": "object"
    },
    "GoogleCloudChannelV1RenewalSettings": {
      "description": "Renewal settings for renewable Offers.",
      "id": "GoogleCloudChannelV1RenewalSettings",
      "type": "object",
      "properties": {
        "enableRenewal": {
          "description": "If false, the plan will be completed at the end date.",
          "type": "boolean"
        },
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "paymentPlan": {
          "description": "Describes how a reseller will be billed.",
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "type": "string"
        },
        "resizeUnitCount": {
          "type": "boolean",
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time."
        }
      }
    },
    "GoogleCloudChannelV1RegisterSubscriberRequest": {
      "id": "GoogleCloudChannelV1RegisterSubscriberRequest",
      "type": "object",
      "description": "Request Message for RegisterSubscriber.",
      "properties": {
        "serviceAccount": {
          "description": "Required. Service account that provides subscriber access to the registered topic.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1ChangeOfferRequest": {
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Optional. Parameters needed to purchase the Offer. To view the available Parameters refer to the Offer.parameter_definitions from the desired offer.",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array"
        },
        "offer": {
          "type": "string",
          "description": "Required. New Offer. Format: accounts/{account_id}/offers/{offer_id}."
        },
        "purchaseOrderId": {
          "description": "Optional. Purchase order id provided by the reseller.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ChangeOfferRequest",
      "description": "Request message for CloudChannelService.ChangeOffer."
    },
    "GoogleTypePostalAddress": {
      "description": "Represents a postal address, e.g. for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created via user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, please see: https://support.google.com/business/answer/6397478",
      "id": "GoogleTypePostalAddress",
      "properties": {
        "sortingCode": {
          "type": "string",
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (e.g. \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (e.g. Côte d'Ivoire)."
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "revision": {
          "format": "int32",
          "type": "integer",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "recipients": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (e.g. \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. E.g. in Switzerland this should be left unpopulated."
        },
        "locality": {
          "type": "string",
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines."
        },
        "postalCode": {
          "type": "string",
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (e.g. state/zip validation in the U.S.A.)."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts."
        },
        "addressLines": {
          "description": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (e.g. \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address. In places where this can vary (e.g. Japan), address_language is used to make it explicit (e.g. \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1Parameter": {
      "description": "Definition for extended entitlement parameters.",
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1Parameter",
      "properties": {
        "value": {
          "$ref": "GoogleCloudChannelV1alpha1Value",
          "description": "Value of the parameter."
        },
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "editable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active."
        }
      }
    },
    "GoogleCloudChannelV1ChannelPartnerLink": {
      "id": "GoogleCloudChannelV1ChannelPartnerLink",
      "description": "Entity representing a link between distributors and their indirect resellers in an n-tier resale channel.",
      "properties": {
        "publicId": {
          "description": "Output only. Public identifier that a customer must use to generate a transfer token to move to this distributor-reseller combination.",
          "readOnly": true,
          "type": "string"
        },
        "channelPartnerCloudIdentityInfo": {
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "description": "Output only. Cloud Identity info of the channel partner (IR).",
          "readOnly": true
        },
        "linkState": {
          "description": "Required. State of the channel partner link.",
          "enumDescriptions": [
            "Not used.",
            "An invitation has been sent to the reseller to create a channel partner link.",
            "Status when the reseller is active.",
            "Status when the reseller has been revoked by the distributor.",
            "Status when the reseller is suspended by Google or distributor."
          ],
          "enum": [
            "CHANNEL_PARTNER_LINK_STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "REVOKED",
            "SUSPENDED"
          ],
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name for the channel partner link, in the format accounts/{account_id}/channelPartnerLinks/{id}.",
          "type": "string",
          "readOnly": true
        },
        "resellerCloudIdentityId": {
          "description": "Required. Cloud Identity ID of the linked reseller.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp of when the channel partner link is created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the channel partner link is updated."
        },
        "inviteLinkUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of the web page where partner accepts the link invitation."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1RepricingConfig": {
      "id": "GoogleCloudChannelV1RepricingConfig",
      "properties": {
        "entitlementGranularity": {
          "description": "Applies the repricing configuration at the entitlement level. This is the only supported value for CustomerRepricingConfig.",
          "$ref": "GoogleCloudChannelV1RepricingConfigEntitlementGranularity"
        },
        "adjustment": {
          "description": "Required. Information about the adjustment.",
          "$ref": "GoogleCloudChannelV1RepricingAdjustment"
        },
        "rebillingBasis": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Use the list cost, also known as the MSRP.",
            "Pass through all discounts except the Reseller Program Discount. If this is the default cost base and no adjustments are specified, the output cost will be exactly what the customer would see if they viewed the bill in the Google Cloud Console."
          ],
          "enum": [
            "REBILLING_BASIS_UNSPECIFIED",
            "COST_AT_LIST",
            "DIRECT_CUSTOMER_COST"
          ],
          "description": "Required. The RebillingBasis to use for this bill. Specifies the relative cost based on repricing costs you will apply."
        },
        "channelPartnerGranularity": {
          "description": "Applies the repricing configuration at the channel partner level. This is the only supported value for ChannelPartnerRepricingConfig.",
          "$ref": "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity"
        },
        "effectiveInvoiceMonth": {
          "description": "Required. The YearMonth when these adjustments activate. The Day field needs to be \"0\" since we only accept YearMonth repricing boundaries.",
          "$ref": "GoogleTypeDate"
        }
      },
      "type": "object",
      "description": "Configuration for repricing a Google bill over a period of time."
    },
    "GoogleCloudChannelV1Parameter": {
      "type": "object",
      "id": "GoogleCloudChannelV1Parameter",
      "properties": {
        "value": {
          "$ref": "GoogleCloudChannelV1Value",
          "description": "Value of the parameter."
        },
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "editable": {
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Definition for extended entitlement parameters."
    },
    "GoogleCloudChannelV1PriceByResource": {
      "properties": {
        "price": {
          "description": "Price of the Offer. Present if there are no price phases.",
          "$ref": "GoogleCloudChannelV1Price"
        },
        "resourceType": {
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "SEAT",
            "MAU",
            "GB",
            "LICENSED_USER",
            "MINUTES",
            "IAAS_USAGE",
            "SUBSCRIPTION"
          ],
          "description": "Resource Type. Example: SEAT",
          "enumDescriptions": [
            "Not used.",
            "Seat.",
            "Monthly active user.",
            "GB (used for storage SKUs).",
            "Active licensed users(for Voice SKUs).",
            "Voice usage.",
            "For IaaS SKUs like Google Cloud Platform, monetization is based on usage accrued on your billing account irrespective of the type of monetizable resource. This enum represents an aggregated resource/container for all usage SKUs on a billing account. Currently, only applicable to Google Cloud Platform.",
            "For Google Cloud Platform subscriptions like Anthos or SAP."
          ]
        },
        "pricePhases": {
          "items": {
            "$ref": "GoogleCloudChannelV1PricePhase"
          },
          "type": "array",
          "description": "Specifies the price by time range."
        }
      },
      "id": "GoogleCloudChannelV1PriceByResource",
      "type": "object",
      "description": "Represents price by resource type."
    },
    "GoogleCloudChannelV1PercentageAdjustment": {
      "type": "object",
      "properties": {
        "percentage": {
          "$ref": "GoogleTypeDecimal",
          "description": "The percentage of the bill to adjust. For example: Mark down by 1% =\u003e \"-1.00\" Mark up by 1% =\u003e \"1.00\" Pass-Through =\u003e \"0.00\""
        }
      },
      "id": "GoogleCloudChannelV1PercentageAdjustment",
      "description": "An adjustment that applies a flat markup or markdown to an entire bill."
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse": {
      "description": "Response message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "properties": {
        "cloudIdentityAccounts": {
          "description": "The Cloud Identity accounts associated with the domain.",
          "items": {
            "$ref": "GoogleCloudChannelV1CloudIdentityCustomerAccount"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1Customer": {
      "type": "object",
      "description": "Entity representing a customer of a reseller or distributor.",
      "id": "GoogleCloudChannelV1Customer",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. The customer's primary domain. Must match the primary contact email's domain."
        },
        "channelPartnerId": {
          "description": "Cloud Identity ID of the customer's channel partner. Populated only if a channel partner exists for this customer.",
          "type": "string"
        },
        "cloudIdentityInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "description": "Output only. Cloud Identity information for the customer. Populated only if a Cloud Identity account exists for this customer."
        },
        "orgDisplayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        },
        "cloudIdentityId": {
          "readOnly": true,
          "description": "Output only. The customer's Cloud Identity ID if the customer has a Cloud Identity resource.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "primaryContactInfo": {
          "$ref": "GoogleCloudChannelV1ContactInfo",
          "description": "Primary contact info."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the customer was created.",
          "type": "string",
          "readOnly": true
        },
        "orgPostalAddress": {
          "$ref": "GoogleTypePostalAddress",
          "description": "Required. The organization address for the customer. To enforce US laws and embargoes, we require a region and zip code. You must provide valid addresses for every customer. To set the customer's language, use the Customer-level language code."
        },
        "alternateEmail": {
          "type": "string",
          "description": "Secondary contact email. You need to provide an alternate email to create different domains if a primary contact email already exists. Users will receive a notification with credentials when you create an admin.google.com account. Secondary emails are also recovery email addresses. Alternate emails are optional when you create Team customers."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when the customer was updated.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1SuspendEntitlementRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "description": "Request message for CloudChannelService.SuspendEntitlement.",
      "type": "object",
      "id": "GoogleCloudChannelV1SuspendEntitlementRequest"
    },
    "GoogleCloudChannelV1RepricingConfigEntitlementGranularity": {
      "type": "object",
      "description": "Applies the repricing configuration at the entitlement level.",
      "id": "GoogleCloudChannelV1RepricingConfigEntitlementGranularity",
      "properties": {
        "entitlement": {
          "type": "string",
          "description": "Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        }
      }
    },
    "GoogleCloudChannelV1ChangeParametersRequest": {
      "id": "GoogleCloudChannelV1ChangeParametersRequest",
      "description": "Request message for CloudChannelService.ChangeParametersRequest.",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        },
        "parameters": {
          "type": "array",
          "description": "Required. Entitlement parameters to update. You can only change editable parameters. To view the available Parameters for a request, refer to the Offer.parameter_definitions from the desired offer.",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          }
        },
        "purchaseOrderId": {
          "type": "string",
          "description": "Optional. Purchase order ID provided by the reseller."
        }
      }
    },
    "GoogleCloudChannelV1TrialSettings": {
      "id": "GoogleCloudChannelV1TrialSettings",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com)."
        },
        "trial": {
          "type": "boolean",
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial."
        }
      },
      "description": "Settings for trial offers."
    },
    "GoogleCloudChannelV1alpha1Entitlement": {
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1Entitlement",
      "description": "An entitlement is a representation of a customer's ability to use a service.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "CANCELED",
            "COMPLETE",
            "PENDING",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement was canceled. After an entitlement is `CANCELED`, its status will not change. Deprecated: Canceled entitlements will no longer be visible.",
            "The entitlement reached end of term and was not renewed. After an entitlement is `COMPLETE`, its status will not change. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason in (TRIAL_ENDED, RENEWAL_WITH_TYPE_CANCEL)",
            "The entitlement is pending. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason=PENDING_TOS_ACCEPTANCE",
            "The entitlement is currently suspended."
          ],
          "type": "string",
          "description": "Output only. Current provisioning state of the entitlement."
        },
        "offer": {
          "type": "string",
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}."
        },
        "maxUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of units for a non commitment-based Offer, such as Flexible, Trial or Free entitlements. For commitment-based entitlements, this is a read-only field, which only the internal support team can update. Deprecated: Use `parameters` instead."
        },
        "provisionedService": {
          "$ref": "GoogleCloudChannelV1alpha1ProvisionedService",
          "readOnly": true,
          "description": "Output only. Service provisioning details for the entitlement."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the entitlement is updated."
        },
        "associationInfo": {
          "description": "Association information to other entitlements.",
          "$ref": "GoogleCloudChannelV1alpha1AssociationInfo"
        },
        "purchaseOrderId": {
          "type": "string",
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters. This is only supported for Google Workspace entitlements."
        },
        "assignedUnits": {
          "type": "integer",
          "description": "The current number of users that are assigned a license for the product defined in provisioned_service.skuId. Read-only. Deprecated: Use `parameters` instead.",
          "format": "int32"
        },
        "suspensionReasons": {
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ],
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ]
          }
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the entitlement is created."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}.",
          "type": "string"
        },
        "channelPartnerId": {
          "description": "Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is generally used in 2-tier ordering, where the order is placed by a top-level distributor on behalf of their channel partner or reseller. Required for distributors. Deprecated: `channel_partner_id` has been moved to the Customer.",
          "type": "string"
        },
        "parameters": {
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. The response may include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. - max_units: The maximum assignable units for a flexible offer. - num_units: The total commitment for commitment-based offers.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Parameter"
          }
        },
        "trialSettings": {
          "description": "Output only. Settings for trial offers.",
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1alpha1TrialSettings"
        },
        "numUnits": {
          "type": "integer",
          "description": "Number of units for a commitment-based Offer. For example, for seat-based Offers, this would be the number of seats; for license-based Offers, this would be the number of licenses. Required for creating commitment-based Offers. Deprecated: Use `parameters` instead.",
          "format": "int32"
        },
        "commitmentSettings": {
          "$ref": "GoogleCloudChannelV1alpha1CommitmentSettings",
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers."
        }
      }
    },
    "GoogleCloudChannelV1Period": {
      "type": "object",
      "description": "Represents period in days/months/years.",
      "id": "GoogleCloudChannelV1Period",
      "properties": {
        "duration": {
          "description": "Total duration of Period Type defined.",
          "type": "integer",
          "format": "int32"
        },
        "periodType": {
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "type": "string",
          "description": "Period Type.",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ]
        }
      }
    },
    "GoogleCloudChannelV1Offer": {
      "properties": {
        "constraints": {
          "$ref": "GoogleCloudChannelV1Constraints",
          "description": "Constraints on transacting the Offer."
        },
        "parameterDefinitions": {
          "items": {
            "$ref": "GoogleCloudChannelV1ParameterDefinition"
          },
          "description": "Parameters required to use current Offer to purchase.",
          "type": "array"
        },
        "priceByResources": {
          "type": "array",
          "description": "Price for each monetizable resource type.",
          "items": {
            "$ref": "GoogleCloudChannelV1PriceByResource"
          }
        },
        "sku": {
          "description": "SKU the offer is associated with.",
          "$ref": "GoogleCloudChannelV1Sku"
        },
        "name": {
          "description": "Resource Name of the Offer. Format: accounts/{account_id}/offers/{offer_id}",
          "type": "string"
        },
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the Offer."
        },
        "startTime": {
          "description": "Start of the Offer validity time.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. End of the Offer validity time."
        },
        "plan": {
          "$ref": "GoogleCloudChannelV1Plan",
          "description": "Describes the payment plan for the Offer."
        }
      },
      "description": "Represents an offer made to resellers for purchase. An offer is associated with a Sku, has a plan for payment, a price, and defines the constraints for buying.",
      "id": "GoogleCloudChannelV1Offer",
      "type": "object"
    },
    "GoogleCloudChannelV1ParameterDefinition": {
      "description": "Parameter's definition. Specifies what parameter is required to use the current Offer to purchase.",
      "properties": {
        "parameterType": {
          "enumDescriptions": [
            "Not used.",
            "Int64 type.",
            "String type.",
            "Double type."
          ],
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "INT64",
            "STRING",
            "DOUBLE"
          ],
          "description": "Data type of the parameter. Minimal value, Maximum value and allowed values will use specified data type here.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "minValue": {
          "description": "Minimal value of the parameter, if applicable. Inclusive. For example, minimal commitment when purchasing Anthos is 0.01. Applicable to INT64 and DOUBLE parameter types.",
          "$ref": "GoogleCloudChannelV1Value"
        },
        "allowedValues": {
          "items": {
            "$ref": "GoogleCloudChannelV1Value"
          },
          "description": "If not empty, parameter values must be drawn from this list. For example, [us-west1, us-west2, ...] Applicable to STRING parameter type.",
          "type": "array"
        },
        "maxValue": {
          "$ref": "GoogleCloudChannelV1Value",
          "description": "Maximum value of the parameter, if applicable. Inclusive. For example, maximum seats when purchasing Google Workspace Business Standard. Applicable to INT64 and DOUBLE parameter types."
        },
        "optional": {
          "description": "If set to true, parameter is optional to purchase this Offer.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ParameterDefinition"
    },
    "GoogleCloudChannelV1alpha1SubscriberEvent": {
      "description": "Represents information which resellers will get as part of notification from Pub/Sub.",
      "id": "GoogleCloudChannelV1alpha1SubscriberEvent",
      "type": "object",
      "properties": {
        "customerEvent": {
          "description": "Customer event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1CustomerEvent"
        },
        "entitlementEvent": {
          "$ref": "GoogleCloudChannelV1alpha1EntitlementEvent",
          "description": "Entitlement event sent as part of Pub/Sub event to partners."
        },
        "channelPartnerEvent": {
[...]
