{
  "description": "Manages Hadoop-based clusters and jobs on Google Cloud Platform.",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "baseUrl": "https://dataproc.googleapis.com/",
  "name": "dataproc",
  "protocol": "rest",
  "basePath": "",
  "ownerDomain": "google.com",
  "revision": "20221017",
  "schemas": {
    "Expr": {
      "id": "Expr",
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "ManagedGroupConfig": {
      "id": "ManagedGroupConfig",
      "properties": {
        "instanceTemplateName": {
          "description": "Output only. The name of the Instance Template used for the Managed Instance Group.",
          "readOnly": true,
          "type": "string"
        },
        "instanceGroupManagerName": {
          "description": "Output only. The name of the Instance Group Manager for this group.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Specifies the resources used to actively manage an instance group.",
      "type": "object"
    },
    "HiveJob": {
      "description": "A Dataproc job for running Apache Hive (https://hive.apache.org/) queries on YARN.",
      "type": "object",
      "properties": {
        "queryFileUri": {
          "type": "string",
          "description": "The HCFS URI of the script that contains Hive queries."
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Hive server and Hadoop MapReduce (MR) tasks. Can contain Hive SerDes and UDFs.",
          "type": "array"
        },
        "scriptVariables": {
          "description": "Optional. Mapping of query variable names to values (equivalent to the Hive command: SET name=\"value\";).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "properties": {
          "description": "Optional. A mapping of property names and values, used to configure Hive. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/hive/conf/hive-site.xml, and classes in user code.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        }
      },
      "id": "HiveJob"
    },
    "GkeNodeConfig": {
      "description": "Parameters that describe cluster nodes.",
      "id": "GkeNodeConfig",
      "type": "object",
      "properties": {
        "minCpuPlatform": {
          "type": "string",
          "description": "Optional. Minimum CPU platform (https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform) to be used by this instance. The instance may be scheduled on the specified or a newer CPU platform. Specify the friendly names of CPU platforms, such as \"Intel Haswell\"` or Intel Sandy Bridge\"."
        },
        "spot": {
          "description": "Optional. Whether the nodes are created as Spot VM instances (https://cloud.google.com/compute/docs/instances/spot). Spot VMs are the latest update to legacy preemptible VMs. Spot VMs do not have a maximum lifetime. Legacy and Spot preemptible nodes cannot be used in a node pool with the CONTROLLER role or in the DEFAULT node pool if the CONTROLLER role is not assigned (the DEFAULT node pool will assume the CONTROLLER role).",
          "type": "boolean"
        },
        "localSsdCount": {
          "description": "Optional. The number of local SSD disks to attach to the node, which is limited by the maximum number of disks allowable per zone (see Adding Local SSDs (https://cloud.google.com/compute/docs/disks/local-ssd)).",
          "type": "integer",
          "format": "int32"
        },
        "machineType": {
          "type": "string",
          "description": "Optional. The name of a Compute Engine machine type (https://cloud.google.com/compute/docs/machine-types)."
        },
        "bootDiskKmsKey": {
          "type": "string",
          "description": "Optional. The Customer Managed Encryption Key (CMEK) (https://cloud.google.com/kubernetes-engine/docs/how-to/using-cmek) used to encrypt the boot disk attached to each node in the node pool. Specify the key using the following format: projects/KEY_PROJECT_ID/locations/LOCATION /keyRings/RING_NAME/cryptoKeys/KEY_NAME."
        },
        "preemptible": {
          "description": "Optional. Whether the nodes are created as legacy preemptible VM instances (https://cloud.google.com/compute/docs/instances/preemptible). Also see Spot VMs, preemptible VM instances without a maximum lifetime. Legacy and Spot preemptible nodes cannot be used in a node pool with the CONTROLLER role or in the DEFAULT node pool if the CONTROLLER role is not assigned (the DEFAULT node pool will assume the CONTROLLER role).",
          "type": "boolean"
        },
        "accelerators": {
          "description": "Optional. A list of hardware accelerators (https://cloud.google.com/compute/docs/gpus) to attach to each node.",
          "items": {
            "$ref": "GkeNodePoolAcceleratorConfig"
          },
          "type": "array"
        }
      }
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset.The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "ManagedCluster": {
      "properties": {
        "clusterName": {
          "type": "string",
          "description": "Required. The cluster name prefix. A unique cluster name will be formed by appending a random suffix.The name must contain only lower-case letters (a-z), numbers (0-9), and hyphens (-). Must begin with a letter. Cannot begin or end with hyphen. Must consist of between 2 and 35 characters."
        },
        "config": {
          "$ref": "ClusterConfig",
          "description": "Required. The cluster configuration."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this cluster.Label keys must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given cluster."
        }
      },
      "description": "Cluster that is managed by the workflow.",
      "id": "ManagedCluster",
      "type": "object"
    },
    "ListJobsResponse": {
      "type": "object",
      "description": "A list of jobs in a project.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Optional. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListJobsRequest."
        },
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Jobs list."
        }
      },
      "id": "ListJobsResponse"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "description": "Response message for TestIamPermissions method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ClusterOperationMetadata": {
      "type": "object",
      "properties": {
        "status": {
          "readOnly": true,
          "$ref": "ClusterOperationStatus",
          "description": "Output only. Current operation status."
        },
        "labels": {
          "readOnly": true,
          "description": "Output only. Labels associated with the operation",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clusterName": {
          "readOnly": true,
          "description": "Output only. Name of the cluster for the operation.",
          "type": "string"
        },
        "operationType": {
          "description": "Output only. The operation type.",
          "readOnly": true,
          "type": "string"
        },
        "warnings": {
          "description": "Output only. Errors encountered during operation execution.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "childOperationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Child operation ids",
          "readOnly": true
        },
        "statusHistory": {
          "items": {
            "$ref": "ClusterOperationStatus"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The previous operation status."
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Short description of operation.",
          "type": "string"
        },
        "clusterUuid": {
          "description": "Output only. Cluster UUID for the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Metadata describing the operation.",
      "id": "ClusterOperationMetadata"
    },
    "DataprocMetricConfig": {
      "description": "Dataproc metric config.",
      "properties": {
        "metrics": {
          "type": "array",
          "description": "Required. Metrics sources to enable.",
          "items": {
            "$ref": "Metric"
          }
        }
      },
      "id": "DataprocMetricConfig",
      "type": "object"
    },
    "InjectCredentialsRequest": {
      "properties": {
        "credentialsCiphertext": {
          "type": "string",
          "description": "Required. The encrypted credentials being injected in to the cluster.The client is responsible for encrypting the credentials in a way that is supported by the cluster.A wrapped value is used here so that the actual contents of the encrypted credentials are not written to audit logs."
        },
        "clusterUuid": {
          "type": "string",
          "description": "Required. The cluster UUID."
        }
      },
      "id": "InjectCredentialsRequest",
      "type": "object",
      "description": "A request to inject credentials into a cluster."
    },
    "GceNodePoolOperationMetadata": {
      "description": "Metadata describing the Compute Engine node pool operation.",
      "type": "object",
      "id": "GceNodePoolOperationMetadata",
      "properties": {
        "status": {
          "readOnly": true,
          "$ref": "ClusterOperationStatus",
          "description": "Output only. Current operation status."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Short description of operation."
        },
        "gceNodePoolId": {
          "description": "Output only. Compute Engine node pool ID for the operation.",
          "readOnly": true,
          "type": "string"
        },
        "clusterUuid": {
          "type": "string",
          "description": "Output only. Cluster UUID associated with the Compute Engine node pool operation.",
          "readOnly": true
        },
        "operationType": {
          "description": "The operation type.",
          "enum": [
            "GCE_NODE_POOL_OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESIZE"
          ],
          "enumDescriptions": [
            "Compute Engine node pool operation type is unknown.",
            "Create Compute Engine node pool operation type.",
            "Update Compute Engine node pool operation type.",
            "Delete Compute Engine node pool operation type.",
            "Resize Compute Engine node pool operation type."
          ],
          "type": "string"
        },
        "statusHistory": {
          "items": {
            "$ref": "ClusterOperationStatus"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The previous operation status."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Labels associated with the operation"
        },
        "warnings": {
          "type": "array",
          "description": "Output only. Errors encountered during operation execution.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "PySparkJob": {
      "properties": {
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Python driver and tasks.",
          "type": "array"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "type": "array"
        },
        "properties": {
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure PySpark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        },
        "pythonFileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS file URIs of Python files to pass to the PySpark framework. Supported file types: .py, .egg, and .zip."
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mainPythonFileUri": {
          "type": "string",
          "description": "Required. The HCFS URI of the main Python file to use as the driver. Must be a .py file."
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        }
      },
      "id": "PySparkJob",
      "type": "object",
      "description": "A Dataproc job for running Apache PySpark (https://spark.apache.org/docs/0.9.0/python-programming-guide.html) applications on YARN."
    },
    "SparkJob": {
      "type": "object",
      "properties": {
        "mainJarFileUri": {
          "type": "string",
          "description": "The HCFS URI of the jar file that contains the main class."
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission."
        },
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array"
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks.",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Spark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris.",
          "type": "string"
        }
      },
      "description": "A Dataproc job for running Apache Spark (https://spark.apache.org/) applications on YARN.",
      "id": "SparkJob"
    },
    "ClusterSelector": {
      "description": "A selector that chooses target cluster for jobs based on metadata.",
      "id": "ClusterSelector",
      "properties": {
        "clusterLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. The cluster labels. Cluster must have all labels to match."
        },
        "zone": {
          "description": "Optional. The zone where workflow process executes. This parameter does not affect the selection of the cluster.If unspecified, the zone of the first cluster matching the selector is used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelJobRequest": {
      "properties": {},
      "type": "object",
      "description": "A request to cancel a job.",
      "id": "CancelJobRequest"
    },
    "EncryptionConfig": {
      "description": "Encryption settings for the cluster.",
      "properties": {
        "gcePdKmsKeyName": {
          "type": "string",
          "description": "Optional. The Cloud KMS key name to use for PD disk encryption for all instances in the cluster."
        }
      },
      "type": "object",
      "id": "EncryptionConfig"
    },
    "JobMetadata": {
      "type": "object",
      "id": "JobMetadata",
      "description": "Job Operation metadata.",
      "properties": {
        "jobId": {
          "description": "Output only. The job id.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Job submission time.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "$ref": "JobStatus",
          "readOnly": true,
          "description": "Output only. Most recent job status."
        },
        "operationType": {
          "readOnly": true,
          "description": "Output only. Operation type.",
          "type": "string"
        }
      }
    },
    "Batch": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this batch. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a batch.",
          "type": "object"
        },
        "pysparkBatch": {
          "$ref": "PySparkBatch",
          "description": "Optional. PySpark batch config."
        },
        "stateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Batch state details, such as a failure description if the state is FAILED."
        },
        "creator": {
          "description": "Output only. The email address of the user who created the batch.",
          "type": "string",
          "readOnly": true
        },
        "uuid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A batch UUID (Unique Universal Identifier). The service generates this value when it creates the batch."
        },
        "stateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the batch entered a current state."
        },
        "sparkRBatch": {
          "$ref": "SparkRBatch",
          "description": "Optional. SparkR batch config."
        },
        "state": {
          "enumDescriptions": [
            "The batch state is unknown.",
            "The batch is created before running.",
            "The batch is running.",
            "The batch is cancelling.",
            "The batch cancellation was successful.",
            "The batch completed successfully.",
            "The batch is no longer running due to an error."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the batch.",
          "type": "string"
        },
        "stateHistory": {
          "description": "Output only. Historical state information for the batch.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "StateHistory"
          }
        },
        "sparkBatch": {
          "description": "Optional. Spark batch config.",
          "$ref": "SparkBatch"
        },
        "createTime": {
          "description": "Output only. The time when the batch was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sparkSqlBatch": {
          "$ref": "SparkSqlBatch",
          "description": "Optional. SparkSql batch config."
        },
        "environmentConfig": {
          "$ref": "EnvironmentConfig",
          "description": "Optional. Environment configuration for the batch execution."
        },
        "runtimeInfo": {
          "description": "Output only. Runtime information about batch execution.",
          "$ref": "RuntimeInfo",
          "readOnly": true
        },
        "operation": {
          "description": "Output only. The resource name of the operation associated with this batch.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name of the batch.",
          "readOnly": true,
          "type": "string"
        },
        "runtimeConfig": {
          "description": "Optional. Runtime configuration for the batch execution.",
          "$ref": "RuntimeConfig"
        }
      },
      "type": "object",
      "description": "A representation of a batch workload in the service.",
      "id": "Batch"
    },
    "Metric": {
      "id": "Metric",
      "type": "object",
      "description": "A Dataproc OSS metric.",
      "properties": {
        "metricSource": {
          "type": "string",
          "enumDescriptions": [
            "Required unspecified metric source.",
            "Default monitoring agent metrics. If this source is enabled, Dataproc enables the monitoring agent in Compute Engine, and collects default monitoring agent metrics, which are published with an agent.googleapis.com prefix.",
            "HDFS metric source.",
            "Spark metric source.",
            "YARN metric source.",
            "Spark History Server metric source.",
            "Hiveserver2 metric source."
          ],
          "enum": [
            "METRIC_SOURCE_UNSPECIFIED",
            "MONITORING_AGENT_DEFAULTS",
            "HDFS",
            "SPARK",
            "YARN",
            "SPARK_HISTORY_SERVER",
            "HIVESERVER2"
          ],
          "description": "Required. Default metrics are collected unless metricOverrides are specified for the metric source (see Available OSS metrics (https://cloud.google.com/dataproc/docs/guides/monitoring#available_oss_metrics) for more information)."
        },
        "metricOverrides": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Specify one or more available OSS metrics (https://cloud.google.com/dataproc/docs/guides/monitoring#available_oss_metrics) to collect for the metric course (for the SPARK metric source, any Spark metric (https://spark.apache.org/docs/latest/monitoring.html#metrics) can be specified).Provide metrics in the following format: METRIC_SOURCE: INSTANCE:GROUP:METRIC Use camelcase as appropriate.Examples: yarn:ResourceManager:QueueMetrics:AppsCompleted spark:driver:DAGScheduler:job.allJobs sparkHistoryServer:JVM:Memory:NonHeapMemoryUsage.committed hiveserver2:JVM:Memory:NonHeapMemoryUsage.used Notes: Only the specified overridden metrics will be collected for the metric source. For example, if one or more spark:executive metrics are listed as metric overrides, other SPARK metrics will not be collected. The collection of the default metrics for other OSS metric sources is unaffected. For example, if both SPARK andd YARN metric sources are enabled, and overrides are provided for Spark metrics only, all default YARN metrics will be collected.",
          "type": "array"
        }
      }
    },
    "AuxiliaryServicesConfig": {
      "properties": {
        "sparkHistoryServerConfig": {
          "description": "Optional. The Spark History Server configuration for the workload.",
          "$ref": "SparkHistoryServerConfig"
        },
        "metastoreConfig": {
          "$ref": "MetastoreConfig",
          "description": "Optional. The Hive Metastore configuration for this workload."
        }
      },
      "description": "Auxiliary services configuration for a Cluster.",
      "type": "object",
      "id": "AuxiliaryServicesConfig"
    },
    "PrestoJob": {
      "properties": {
        "outputFormat": {
          "description": "Optional. The format in which query output will be displayed. See the Presto documentation for supported output formats",
          "type": "string"
        },
        "clientTags": {
          "description": "Optional. Presto client tags to attach to this query",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values. Used to set Presto session properties (https://prestodb.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Presto CLI"
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains SQL queries.",
          "type": "string"
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        }
      },
      "description": "A Dataproc job for running Presto (https://prestosql.io/) queries. IMPORTANT: The Dataproc Presto Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/presto) must be enabled when the cluster is created to submit a Presto job to the cluster.",
      "type": "object",
      "id": "PrestoJob"
    },
    "EnvironmentConfig": {
      "description": "Environment configuration for a workload.",
      "properties": {
        "executionConfig": {
          "description": "Optional. Execution configuration for a workload.",
          "$ref": "ExecutionConfig"
        },
        "peripheralsConfig": {
          "$ref": "PeripheralsConfig",
          "description": "Optional. Peripherals configuration that workload has access to."
        }
      },
      "id": "EnvironmentConfig",
      "type": "object"
    },
    "StopClusterRequest": {
      "type": "object",
      "description": "A request to stop a cluster.",
      "id": "StopClusterRequest",
      "properties": {
        "clusterUuid": {
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A unique ID used to identify the request. If the server receives two StopClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.StopClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        }
      }
    },
    "IdentityConfig": {
      "description": "Identity related configuration, including service account based secure multi-tenancy user mappings.",
      "id": "IdentityConfig",
      "type": "object",
      "properties": {
        "userServiceAccountMapping": {
          "description": "Required. Map of user to service account.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GkeNodePoolTarget": {
      "description": "GKE node pools that Dataproc workloads run on.",
      "properties": {
        "nodePoolConfig": {
          "description": "Input only. The configuration for the GKE node pool.If specified, Dataproc attempts to create a node pool with the specified shape. If one with the same name already exists, it is verified against all specified fields. If a field differs, the virtual cluster creation will fail.If omitted, any node pool with the specified name is used. If a node pool with the specified name does not exist, Dataproc create a node pool with default values.This is an input only field. It will not be returned by the API.",
          "$ref": "GkeNodePoolConfig"
        },
        "roles": {
          "type": "array",
          "items": {
            "enum": [
              "ROLE_UNSPECIFIED",
              "DEFAULT",
              "CONTROLLER",
              "SPARK_DRIVER",
              "SPARK_EXECUTOR"
            ],
            "type": "string",
            "enumDescriptions": [
              "Role is unspecified.",
              "At least one node pool must have the DEFAULT role. Work assigned to a role that is not associated with a node pool is assigned to the node pool with the DEFAULT role. For example, work assigned to the CONTROLLER role will be assigned to the node pool with the DEFAULT role if no node pool has the CONTROLLER role.",
              "Run work associated with the Dataproc control plane (for example, controllers and webhooks). Very low resource requirements.",
              "Run work associated with a Spark driver of a job.",
              "Run work associated with a Spark executor of a job."
            ]
          },
          "description": "Required. The roles associated with the GKE node pool."
        },
        "nodePool": {
          "description": "Required. The target GKE node pool. Format: 'projects/{project}/locations/{location}/clusters/{cluster}/nodePools/{node_pool}'",
          "type": "string"
        }
      },
      "id": "GkeNodePoolTarget",
      "type": "object"
    },
    "BatchOperationMetadata": {
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Warnings encountered during operation execution."
        },
        "description": {
          "type": "string",
          "description": "Short description of the operation."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels associated with the operation."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the operation was created."
        },
        "batch": {
          "description": "Name of the batch for the operation.",
          "type": "string"
        },
        "operationType": {
          "enum": [
            "BATCH_OPERATION_TYPE_UNSPECIFIED",
            "BATCH"
          ],
          "description": "The operation type.",
          "enumDescriptions": [
            "Batch operation type is unknown.",
            "Batch operation type."
          ],
          "type": "string"
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the operation finished."
        },
        "batchUuid": {
          "type": "string",
          "description": "Batch UUID for the operation."
        }
      },
      "description": "Metadata describing the Batch operation.",
      "type": "object",
      "id": "BatchOperationMetadata"
    },
    "GceClusterConfig": {
      "type": "object",
      "properties": {
        "networkUri": {
          "description": "Optional. The Compute Engine network to be used for machine communications. Cannot be specified with subnetwork_uri. If neither network_uri nor subnetwork_uri is specified, the \"default\" network of the project is used, if it exists. Cannot be a \"Custom Subnet Network\" (see Using Subnetworks (https://cloud.google.com/compute/docs/subnetworks) for more information).A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/regions/global/default projects/[project_id]/regions/global/default default",
          "type": "string"
        },
        "privateIpv6GoogleAccess": {
          "type": "string",
          "description": "Optional. The type of IPv6 access for a cluster.",
          "enumDescriptions": [
            "If unspecified, Compute Engine default behavior will apply, which is the same as INHERIT_FROM_SUBNETWORK.",
            "Private access to and from Google Services configuration inherited from the subnetwork configuration. This is the default Compute Engine behavior.",
            "Enables outbound private IPv6 access to Google Services from the Dataproc cluster.",
            "Enables bidirectional private IPv6 access between Google Services and the Dataproc cluster."
          ],
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "INHERIT_FROM_SUBNETWORK",
            "OUTBOUND",
            "BIDIRECTIONAL"
          ]
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Optional. Shielded Instance Config for clusters using Compute Engine Shielded VMs (https://cloud.google.com/security/shielded-cloud/shielded-vm)."
        },
        "serviceAccountScopes": {
          "description": "Optional. The URIs of service account scopes to be included in Compute Engine instances. The following base set of scopes is always included: https://www.googleapis.com/auth/cloud.useraccounts.readonly https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/logging.writeIf no scopes are specified, the following defaults are also provided: https://www.googleapis.com/auth/bigquery https://www.googleapis.com/auth/bigtable.admin.table https://www.googleapis.com/auth/bigtable.data https://www.googleapis.com/auth/devstorage.full_control",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "confidentialInstanceConfig": {
          "$ref": "ConfidentialInstanceConfig",
          "description": "Optional. Confidential Instance Config for clusters using Confidential VMs (https://cloud.google.com/compute/confidential-vm/docs)."
        },
        "internalIpOnly": {
          "description": "Optional. If true, all instances in the cluster will only have internal IP addresses. By default, clusters are not restricted to internal IP addresses, and will have ephemeral external IP addresses assigned to each instance. This internal_ip_only restriction can only be enabled for subnetwork enabled networks, and all off-cluster dependencies must be configured to be accessible without external IP addresses.",
          "type": "boolean"
        },
        "serviceAccount": {
          "description": "Optional. The Dataproc service account (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/service-accounts#service_accounts_in_dataproc) (also see VM Data Plane identity (https://cloud.google.com/dataproc/docs/concepts/iam/dataproc-principals#vm_service_account_data_plane_identity)) used by Dataproc cluster VM instances to access Google Cloud Platform services.If not specified, the Compute Engine default service account (https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used.",
          "type": "string"
        },
        "zoneUri": {
          "type": "string",
          "description": "Optional. The zone where the Compute Engine cluster will be located. On a create request, it is required in the \"global\" region. If omitted in a non-global Dataproc region, the service will pick a zone in the corresponding Compute Engine region. On a get request, zone will always be present.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone] projects/[project_id]/zones/[zone] us-central1-f"
        },
        "metadata": {
          "description": "The Compute Engine metadata entries to add to all instances (see Project and instance metadata (https://cloud.google.com/compute/docs/storing-retrieving-metadata#project_and_instance_metadata)).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "reservationAffinity": {
          "description": "Optional. Reservation Affinity for consuming Zonal reservation.",
          "$ref": "ReservationAffinity"
        },
        "tags": {
          "type": "array",
          "description": "The Compute Engine tags to add to all instances (see Tagging instances (https://cloud.google.com/compute/docs/label-or-tag-resources#tags)).",
          "items": {
            "type": "string"
          }
        },
        "subnetworkUri": {
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications. Cannot be specified with network_uri.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/regions/us-east1/subnetworks/sub0 projects/[project_id]/regions/us-east1/subnetworks/sub0 sub0",
          "type": "string"
        },
        "nodeGroupAffinity": {
          "$ref": "NodeGroupAffinity",
          "description": "Optional. Node Group Affinity for sole-tenant clusters."
        }
      },
      "description": "Common config settings for resources of Compute Engine cluster instances, applicable to all instances in the cluster.",
      "id": "GceClusterConfig"
    },
    "DiagnoseClusterResults": {
      "id": "DiagnoseClusterResults",
      "description": "The location of diagnostic output.",
      "properties": {
        "outputUri": {
          "description": "Output only. The Cloud Storage URI of the diagnostic output. The output report is a plain text file with a summary of collected diagnostics.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListAutoscalingPoliciesResponse": {
      "type": "object",
      "properties": {
        "policies": {
          "items": {
            "$ref": "AutoscalingPolicy"
          },
          "readOnly": true,
          "description": "Output only. Autoscaling policies list.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. This token is included in the response if there are more results to fetch.",
          "type": "string"
        }
      },
      "description": "A response to a request to list autoscaling policies in a project.",
      "id": "ListAutoscalingPoliciesResponse"
    },
    "GkeNodePoolConfig": {
      "type": "object",
      "description": "The configuration of a GKE node pool used by a Dataproc-on-GKE cluster (https://cloud.google.com/dataproc/docs/concepts/jobs/dataproc-gke#create-a-dataproc-on-gke-cluster).",
      "properties": {
        "config": {
          "$ref": "GkeNodeConfig",
          "description": "Optional. The node pool configuration."
        },
        "locations": {
          "description": "Optional. The list of Compute Engine zones (https://cloud.google.com/compute/docs/zones#available) where node pool nodes associated with a Dataproc on GKE virtual cluster will be located.Note: All node pools associated with a virtual cluster must be located in the same region as the virtual cluster, and they must be located in the same zone within that region.If a location is not specified during node pool creation, Dataproc on GKE will choose the zone.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "autoscaling": {
          "description": "Optional. The autoscaler configuration for this node pool. The autoscaler is enabled only when a valid configuration is present.",
          "$ref": "GkeNodePoolAutoscalingConfig"
        }
      },
      "id": "GkeNodePoolConfig"
    },
    "MetastoreConfig": {
      "description": "Specifies a Metastore configuration.",
      "type": "object",
      "id": "MetastoreConfig",
      "properties": {
        "dataprocMetastoreService": {
          "type": "string",
          "description": "Required. Resource name of an existing Dataproc Metastore service.Example: projects/[project_id]/locations/[dataproc_region]/services/[service-name]"
        }
      }
    },
    "LoggingConfig": {
      "id": "LoggingConfig",
      "description": "The runtime logging config of the job.",
      "type": "object",
      "properties": {
        "driverLogLevels": {
          "additionalProperties": {
            "enum": [
              "LEVEL_UNSPECIFIED",
              "ALL",
              "TRACE",
              "DEBUG",
              "INFO",
              "WARN",
              "ERROR",
              "FATAL",
              "OFF"
            ],
            "enumDescriptions": [
              "Level is unspecified. Use default level for log4j.",
              "Use ALL level for log4j.",
              "Use TRACE level for log4j.",
              "Use DEBUG level for log4j.",
              "Use INFO level for log4j.",
              "Use WARN level for log4j.",
              "Use ERROR level for log4j.",
              "Use FATAL level for log4j.",
              "Turn off log4j."
            ],
            "type": "string"
          },
          "type": "object",
          "description": "The per-package log levels for the driver. This may include \"root\" package name to configure rootLogger. Examples: 'com.google = FATAL', 'root = INFO', 'org.apache = DEBUG'"
        }
      }
    },
    "JobReference": {
      "description": "Encapsulates the full scoping used to reference a job.",
      "id": "JobReference",
      "properties": {
        "projectId": {
          "description": "Optional. The ID of the Google Cloud Platform project that the job belongs to. If specified, must match the request project ID.",
          "type": "string"
        },
        "jobId": {
          "description": "Optional. The job ID, which must be unique within the project.The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or hyphens (-). The maximum length is 100 characters.If not specified by the caller, the job ID will be provided by the server.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EndpointConfig": {
      "type": "object",
      "description": "Endpoint config for this cluster",
      "properties": {
        "httpPorts": {
          "description": "Output only. The map of port descriptions to URLs. Will only be populated if enable_http_port_access is true.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "enableHttpPortAccess": {
          "description": "Optional. If true, enable http access to specific ports on the cluster from external sources. Defaults to false.",
          "type": "boolean"
        }
      },
      "id": "EndpointConfig"
    },
    "ExecutionConfig": {
      "properties": {
        "subnetworkUri": {
          "description": "Optional. Subnetwork URI to connect workload to.",
          "type": "string"
        },
        "networkTags": {
          "description": "Optional. Tags used for network traffic control.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Service account that used to execute workload."
        },
        "idleTtl": {
          "description": "Optional. The duration to keep the session alive while it's idling. Passing this threshold will cause the session to be terminated. Minimum value is 30 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "format": "google-duration",
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. The Cloud KMS key to use for encryption.",
          "type": "string"
        },
        "networkUri": {
          "type": "string",
          "description": "Optional. Network URI to connect workload to."
        }
      },
      "id": "ExecutionConfig",
      "description": "Execution configuration for a workload.",
      "type": "object"
    },
    "Policy": {
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "type": "array"
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost."
        }
      },
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/)."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for SetIamPolicy method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "BasicYarnAutoscalingConfig": {
      "properties": {
        "scaleDownFactor": {
          "format": "double",
          "type": "number",
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to remove workers. A scale-down factor of 1 will result in scaling down so that there is no available memory remaining after the update (more aggressive scaling). A scale-down factor of 0 disables removing workers, which can be beneficial for autoscaling a single job. See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0."
        },
        "scaleUpMinWorkerFraction": {
          "type": "number",
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "format": "double"
        },
        "scaleUpFactor": {
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to add workers. A scale-up factor of 1.0 will result in scaling up so that there is no pending memory remaining after the update (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling). See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "format": "double",
          "type": "number"
        },
        "scaleDownMinWorkerFraction": {
          "type": "number",
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "format": "double"
        },
        "gracefulDecommissionTimeout": {
          "format": "google-duration",
          "description": "Required. Timeout for YARN graceful decommissioning of Node Managers. Specifies the duration to wait for jobs to complete before forcefully removing workers (and potentially interrupting jobs). Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "type": "string"
        }
      },
      "description": "Basic autoscaling configurations for YARN.",
      "type": "object",
      "id": "BasicYarnAutoscalingConfig"
    },
    "NodeGroupAffinity": {
      "type": "object",
      "properties": {
        "nodeGroupUri": {
          "type": "string",
          "description": "Required. The URI of a sole-tenant node group resource (https://cloud.google.com/compute/docs/reference/rest/v1/nodeGroups) that the cluster will be created on.A full URL, partial URI, or node group name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/us-central1-a/nodeGroups/node-group-1 projects/[project_id]/zones/us-central1-a/nodeGroups/node-group-1 node-group-1"
        }
      },
      "id": "NodeGroupAffinity",
      "description": "Node Group Affinity for clusters using sole-tenant node groups."
    },
    "SecurityConfig": {
      "id": "SecurityConfig",
      "type": "object",
      "properties": {
        "identityConfig": {
          "$ref": "IdentityConfig",
          "description": "Optional. Identity related configuration, including service account based secure multi-tenancy user mappings."
        },
        "kerberosConfig": {
          "$ref": "KerberosConfig",
          "description": "Optional. Kerberos related configuration."
        }
      },
      "description": "Security related configuration, including encryption, Kerberos, etc."
    },
    "SparkHistoryServerConfig": {
      "properties": {
        "dataprocCluster": {
          "type": "string",
          "description": "Optional. Resource name of an existing Dataproc Cluster to act as a Spark History Server for the workload.Example: projects/[project_id]/regions/[region]/clusters/[cluster_name]"
        }
      },
      "type": "object",
      "description": "Spark History Server configuration for the workload.",
      "id": "SparkHistoryServerConfig"
    },
    "NamespacedGkeDeploymentTarget": {
      "properties": {
        "targetGkeCluster": {
          "type": "string",
          "description": "Optional. The target GKE cluster to deploy to. Format: 'projects/{project}/locations/{location}/clusters/{cluster_id}'"
        },
        "clusterNamespace": {
          "type": "string",
          "description": "Optional. A namespace within the GKE cluster to deploy into."
        }
      },
      "type": "object",
      "id": "NamespacedGkeDeploymentTarget",
      "description": "Deprecated. Used only for the deprecated beta. A full, namespace-isolated deployment target for an existing GKE cluster."
    },
    "SparkRBatch": {
      "type": "object",
      "properties": {
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the Spark driver. Do not include arguments that can be set as batch properties, such as --conf, since a collision can occur that causes an incorrect batch submission.",
          "type": "array"
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor.",
          "type": "array"
        },
        "mainRFileUri": {
          "description": "Required. The HCFS URI of the main R file to use as the driver. Must be a .R or .r file.",
          "type": "string"
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SparkRBatch",
      "description": "A configuration for running an Apache SparkR (https://spark.apache.org/docs/latest/sparkr.html) batch workload."
    },
    "SparkBatch": {
      "description": "A configuration for running an Apache Spark (https://spark.apache.org/) batch workload.",
      "id": "SparkBatch",
      "type": "object",
      "properties": {
        "args": {
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments that can be set as batch properties, such as --conf, since a collision can occur that causes an incorrect batch submission.",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mainJarFileUri": {
          "description": "Optional. The HCFS URI of the jar file that contains the main class.",
          "type": "string"
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to add to the classpath of the Spark driver and tasks.",
          "items": {
            "type": "string"
          }
        },
        "mainClass": {
          "description": "Optional. The name of the driver main class. The jar file that contains the class must be in the classpath or specified in jar_file_uris.",
          "type": "string"
        }
      }
    },
    "TemplateParameter": {
      "id": "TemplateParameter",
      "properties": {
        "description": {
          "description": "Optional. Brief description of the parameter. Must not exceed 1024 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Parameter name. The parameter name is used as the key, and paired with the parameter value, which are passed to the template when the template is instantiated. The name must contain only capital letters (A-Z), numbers (0-9), and underscores (_), and must not start with a number. The maximum length is 40 characters."
        },
        "validation": {
          "$ref": "ParameterValidation",
          "description": "Optional. Validation rules to be applied to this parameter's value."
        },
        "fields": {
          "type": "array",
          "description": "Required. Paths to all fields that the parameter replaces. A field is allowed to appear in at most one parameter's list of field paths.A field path is similar in syntax to a google.protobuf.FieldMask. For example, a field path that references the zone field of a workflow template's cluster selector would be specified as placement.clusterSelector.zone.Also, field paths can reference fields using the following syntax: Values in maps can be referenced by key: labels'key' placement.clusterSelector.clusterLabels'key' placement.managedCluster.labels'key' placement.clusterSelector.clusterLabels'key' jobs'step-id'.labels'key' Jobs in the jobs list can be referenced by step-id: jobs'step-id'.hadoopJob.mainJarFileUri jobs'step-id'.hiveJob.queryFileUri jobs'step-id'.pySparkJob.mainPythonFileUri jobs'step-id'.hadoopJob.jarFileUris0 jobs'step-id'.hadoopJob.archiveUris0 jobs'step-id'.hadoopJob.fileUris0 jobs'step-id'.pySparkJob.pythonFileUris0 Items in repeated fields can be referenced by a zero-based index: jobs'step-id'.sparkJob.args0 Other examples: jobs'step-id'.hadoopJob.properties'key' jobs'step-id'.hadoopJob.args0 jobs'step-id'.hiveJob.scriptVariables'key' jobs'step-id'.hadoopJob.mainJarFileUri placement.clusterSelector.zoneIt may not be possible to parameterize maps and repeated fields in their entirety since only individual map values and individual items in repeated fields can be referenced. For example, the following field paths are invalid: placement.clusterSelector.clusterLabels jobs'step-id'.sparkJob.args",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A configurable parameter that replaces one or more fields in the template. Parameterizable fields: - Labels - File uris - Job properties - Job arguments - Script variables - Main class (in HadoopJob and SparkJob) - Zone (in ClusterSelector)"
    },
    "KubernetesSoftwareConfig": {
      "properties": {
        "componentVersion": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The components that should be installed in this Dataproc cluster. The key must be a string from the KubernetesComponent enumeration. The value is the version of the software to be installed. At least one entry must be specified."
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The properties to set on daemon config files.Property keys are specified in prefix:property format, for example spark:spark.kubernetes.container.image. The following are supported prefixes and their mappings: spark: spark-defaults.confFor more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties).",
          "type": "object"
        }
      },
      "type": "object",
      "description": "The software configuration for this Dataproc cluster running on Kubernetes.",
      "id": "KubernetesSoftwareConfig"
    },
    "ValueValidation": {
      "id": "ValueValidation",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of allowed values for the parameter."
        }
      },
      "description": "Validation based on a list of allowed values.",
      "type": "object"
    },
    "ClusterMetrics": {
      "properties": {
        "yarnMetrics": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "YARN metrics.",
          "type": "object"
        },
        "hdfsMetrics": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object",
          "description": "The HDFS metrics."
        }
      },
      "type": "object",
      "description": "Contains cluster daemon metrics, such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "id": "ClusterMetrics"
    },
    "RuntimeConfig": {
      "description": "Runtime configuration for a workload.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. Version of the batch runtime.",
          "type": "string"
        },
        "containerImage": {
          "description": "Optional. Optional custom container image for the job runtime environment. If not specified, a default container image will be used.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "description": "Optional. A mapping of property names to values, which are used to configure workload execution.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "RuntimeConfig"
    },
    "ReservationAffinity": {
      "id": "ReservationAffinity",
      "properties": {
        "consumeReservationType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Do not consume from any allocated capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ],
          "description": "Optional. Type of reservation to consume"
        },
        "values": {
          "description": "Optional. Corresponds to the label values of reservation resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "key": {
          "type": "string",
          "description": "Optional. Corresponds to the label key of reservation resource."
        }
      },
      "description": "Reservation Affinity for consuming Zonal reservation.",
      "type": "object"
    },
    "GkeNodePoolAcceleratorConfig": {
      "type": "object",
      "id": "GkeNodePoolAcceleratorConfig",
      "properties": {
        "gpuPartitionSize": {
          "description": "Size of partitions to create on the GPU. Valid values are described in the NVIDIA mig user guide (https://docs.nvidia.com/datacenter/tesla/mig-user-guide/#partitioning).",
          "type": "string"
        },
        "acceleratorType": {
          "description": "The accelerator type resource namename (see GPUs on Compute Engine).",
          "type": "string"
        },
        "acceleratorCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of accelerator cards exposed to an instance."
        }
      },
      "description": "A GkeNodeConfigAcceleratorConfig represents a Hardware Accelerator request for a node pool."
    },
    "ClusterOperation": {
      "id": "ClusterOperation",
      "type": "object",
      "description": "The cluster operation triggered by a workflow.",
      "properties": {
        "operationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The id of the cluster operation."
        },
        "error": {
          "description": "Output only. Error, if operation failed.",
          "type": "string",
          "readOnly": true
        },
        "done": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates the operation is done."
        }
      }
    },
    "HadoopJob": {
      "type": "object",
      "id": "HadoopJob",
      "description": "A Dataproc job for running Apache Hadoop MapReduce (https://hadoop.apache.org/docs/current/hadoop-mapreduce-client/hadoop-mapreduce-client-core/MapReduceTutorial.html) jobs on Apache Hadoop YARN (https://hadoop.apache.org/docs/r2.7.1/hadoop-yarn/hadoop-yarn-site/YARN.html).",
      "properties": {
        "mainJarFileUri": {
          "type": "string",
          "description": "The HCFS URI of the jar file containing the main class. Examples: 'gs://foo-bucket/analytics-binaries/extract-useful-metrics-mr.jar' 'hdfs:/tmp/test-samples/custom-wordcount.jar' 'file:///home/usr/lib/hadoop-mapreduce/hadoop-mapreduce-examples.jar'"
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file containing the class must be in the default CLASSPATH or specified in jar_file_uris.",
          "type": "string"
        },
        "jarFileUris": {
          "description": "Optional. Jar file URIs to add to the CLASSPATHs of the Hadoop driver and tasks.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS (Hadoop Compatible Filesystem) URIs of files to be copied to the working directory of Hadoop drivers and distributed tasks. Useful for naively parallel tasks."
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted in the working directory of Hadoop drivers and tasks. Supported file types: .jar, .tar, .tar.gz, .tgz, or .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as -libjars or -Dfoo=bar, that can be set as job properties, since a collision may occur that causes an incorrect job submission."
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure Hadoop. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site and classes in user code.",
          "type": "object"
        }
      }
    },
    "Cluster": {
      "description": "Describes the identifying information, config, and status of a Dataproc cluster",
      "id": "Cluster",
      "properties": {
        "virtualClusterConfig": {
          "description": "Optional. The virtual cluster config is used when creating a Dataproc cluster that does not directly control the underlying compute resources, for example, when creating a Dataproc-on-GKE cluster (https://cloud.google.com/dataproc/docs/guides/dpgke/dataproc-gke). Dataproc may set default values, and values may change when clusters are updated. Exactly one of config or virtual_cluster_config must be specified.",
          "$ref": "VirtualClusterConfig"
        },
        "metrics": {
          "description": "Output only. Contains cluster daemon metrics such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
          "$ref": "ClusterMetrics",
          "readOnly": true
        },
        "statusHistory": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ClusterStatus"
          },
          "description": "Output only. The previous cluster status."
        },
        "labels": {
          "description": "Optional. The labels to associate with this cluster. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a cluster.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clusterName": {
          "description": "Required. The cluster name, which must be unique within a project. The name must start with a lowercase letter, and can contain up to 51 lowercase letters, numbers, and hyphens. It cannot end with a hyphen. The name of a deleted cluster can be reused.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The Google Cloud Platform project ID that the cluster belongs to.",
          "type": "string"
        },
        "config": {
          "description": "Optional. The cluster config for a cluster of Compute Engine Instances. Note that Dataproc may set default values, and values may change when clusters are updated.Exactly one of ClusterConfig or VirtualClusterConfig must be specified.",
          "$ref": "ClusterConfig"
        },
        "status": {
          "description": "Output only. Cluster status.",
          "$ref": "ClusterStatus",
          "readOnly": true
        },
        "clusterUuid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A cluster UUID (Unique Universal Identifier). Dataproc generates this value when it creates the cluster."
        }
      },
      "type": "object"
    },
    "InstantiateWorkflowTemplateRequest": {
      "id": "InstantiateWorkflowTemplateRequest",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Map from parameter names to values that should be used for those parameters. Values may not exceed 1000 characters."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A tag that prevents multiple concurrent workflow instances with the same tag from running. This mitigates risk of concurrent instances started due to retries.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The tag must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        },
        "version": {
          "type": "integer",
          "description": "Optional. The version of workflow template to instantiate. If specified, the workflow will be instantiated only if the current version of the workflow template has the supplied version.This option cannot be used to instantiate a previous version of workflow template.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "A request to instantiate a workflow template."
    },
    "PeripheralsConfig": {
      "id": "PeripheralsConfig",
      "type": "object",
      "description": "Auxiliary services configuration for a workload.",
      "properties": {
        "metastoreService": {
          "type": "string",
          "description": "Optional. Resource name of an existing Dataproc Metastore service.Example: projects/[project_id]/locations/[region]/services/[service_id]"
        },
        "sparkHistoryServerConfig": {
          "description": "Optional. The Spark History Server configuration for the workload.",
          "$ref": "SparkHistoryServerConfig"
        }
      }
    },
    "NodeInitializationAction": {
      "description": "Specifies an executable to run on a fully configured node and a timeout period for executable completion.",
      "id": "NodeInitializationAction",
      "properties": {
        "executionTimeout": {
          "description": "Optional. Amount of time executable has to complete. Default is 10 minutes (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).Cluster creation fails with an explanatory error message (the name of the executable that caused the error and the exceeded timeout period) if the executable is not completed at end of the timeout period.",
          "type": "string",
          "format": "google-duration"
        },
        "executableFile": {
          "description": "Required. Cloud Storage URI of executable file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Job": {
      "description": "A Dataproc job resource.",
      "properties": {
        "driverControlFilesUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If present, the location of miscellaneous control files which may be used as part of job setup and handling. If not present, control files may be placed in the same location as driver_output_uri."
        },
        "scheduling": {
          "description": "Optional. Job scheduling configuration.",
          "$ref": "JobScheduling"
        },
        "hiveJob": {
          "$ref": "HiveJob",
          "description": "Optional. Job is a Hive job."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels to associate with this job. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a job."
        },
        "done": {
          "type": "boolean",
          "description": "Output only. Indicates whether the job is completed. If the value is false, the job is still in progress. If true, the job is completed, and status.state field will indicate if it was successful, failed, or cancelled.",
          "readOnly": true
        },
        "placement": {
          "$ref": "JobPlacement",
          "description": "Required. Job information, including how, when, and where to run the job."
        },
        "yarnApplications": {
          "readOnly": true,
          "items": {
            "$ref": "YarnApplication"
          },
          "description": "Output only. The collection of YARN applications spun up by this job.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
          "type": "array"
        },
        "reference": {
          "description": "Optional. The fully qualified reference to the job, which can be used to obtain the equivalent REST path of the job resource. If this property is not specified when a job is created, the server generates a job_id.",
          "$ref": "JobReference"
        },
        "sparkSqlJob": {
          "description": "Optional. Job is a SparkSql job.",
          "$ref": "SparkSqlJob"
        },
        "jobUuid": {
          "type": "string",
          "description": "Output only. A UUID that uniquely identifies a job within the project over time. This is in contrast to a user-settable reference.job_id that may be reused over time.",
          "readOnly": true
        },
        "sparkJob": {
          "$ref": "SparkJob",
          "description": "Optional. Job is a Spark job."
        },
        "trinoJob": {
          "description": "Optional. Job is a Trino job.",
          "$ref": "TrinoJob"
        },
        "prestoJob": {
          "description": "Optional. Job is a Presto job.",
          "$ref": "PrestoJob"
        },
        "driverOutputResourceUri": {
          "description": "Output only. A URI pointing to the location of the stdout of the job's driver program.",
          "readOnly": true,
          "type": "string"
        },
        "sparkRJob": {
          "description": "Optional. Job is a SparkR job.",
          "$ref": "SparkRJob"
        },
        "pigJob": {
          "description": "Optional. Job is a Pig job.",
          "$ref": "PigJob"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. The job status. Additional application-specific status information may be contained in the type_job and yarn_applications fields.",
          "$ref": "JobStatus"
        },
        "hadoopJob": {
          "$ref": "HadoopJob",
          "description": "Optional. Job is a Hadoop job."
        },
        "pysparkJob": {
          "description": "Optional. Job is a PySpark job.",
          "$ref": "PySparkJob"
        },
        "statusHistory": {
          "description": "Output only. The previous job status.",
          "items": {
            "$ref": "JobStatus"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "Job",
      "type": "object"
    },
    "InstanceReference": {
      "id": "InstanceReference",
      "description": "A reference to a Compute Engine instance.",
      "properties": {
        "publicKey": {
          "type": "string",
          "description": "The public RSA key used for sharing data with this instance."
        },
        "publicEciesKey": {
          "description": "The public ECIES key used for sharing data with this instance.",
          "type": "string"
        },
        "instanceName": {
          "description": "The user-friendly name of the Compute Engine instance.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "The unique identifier of the Compute Engine instance."
        }
      },
      "type": "object"
    },
    "StartClusterRequest": {
      "type": "object",
      "id": "StartClusterRequest",
      "properties": {
        "clusterUuid": {
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A unique ID used to identify the request. If the server receives two StartClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.StartClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        }
      },
      "description": "A request to start a cluster."
    },
    "TrinoJob": {
      "properties": {
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        },
        "queryFileUri": {
          "type": "string",
          "description": "The HCFS URI of the script that contains SQL queries."
        },
        "clientTags": {
          "type": "array",
          "description": "Optional. Trino client tags to attach to this query",
          "items": {
            "type": "string"
          }
        },
        "outputFormat": {
          "description": "Optional. The format in which query output will be displayed. See the Trino documentation for supported output formats",
          "type": "string"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values. Used to set Trino session properties (https://trino.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Trino CLI",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A Dataproc job for running Trino (https://trino.io/) queries. IMPORTANT: The Dataproc Trino Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/trino) must be enabled when the cluster is created to submit a Trino job to the cluster.",
      "id": "TrinoJob",
      "type": "object"
    },
    "RuntimeInfo": {
      "type": "object",
      "id": "RuntimeInfo",
      "description": "Runtime information about workload execution.",
      "properties": {
        "endpoints": {
          "readOnly": true,
          "description": "Output only. Map of remote access endpoints (such as web interfaces and APIs) to their URIs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "diagnosticOutputUri": {
          "description": "Output only. A URI pointing to the location of the diagnostics tarball.",
          "type": "string",
          "readOnly": true
        },
        "outputUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A URI pointing to the location of the stdout and stderr of the workload."
        }
      }
    },
    "SubmitJobRequest": {
      "id": "SubmitJobRequest",
      "description": "A request to submit a job.",
      "properties": {
        "job": {
          "description": "Required. The job resource.",
          "$ref": "Job"
        },
        "requestId": {
          "description": "Optional. A unique id used to identify the request. If the server receives two SubmitJobRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.SubmitJobRequest)s with the same id, then the second request will be ignored and the first Job created and stored in the backend is returned.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RepairClusterRequest": {
      "description": "A request to repair a cluster.",
      "properties": {
        "gracefulDecommissionTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Timeout for graceful YARN decomissioning. Graceful decommissioning facilitates the removal of cluster nodes without interrupting jobs in progress. The timeout specifies the amount of time to wait for jobs finish before forcefully removing nodes. The default timeout is 0 for forceful decommissioning, and the maximum timeout period is 1 day. (see JSON Mapping—Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).graceful_decommission_timeout is supported in Dataproc image versions 1.2+."
        },
        "nodePools": {
          "items": {
            "$ref": "NodePool"
          },
          "type": "array",
          "description": "Optional. Node pools and corresponding repair action to be taken. All node pools should be unique in this request. i.e. Multiple entries for the same node pool id are not allowed."
        },
        "clusterUuid": {
          "type": "string",
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist."
        },
        "parentOperationId": {
          "description": "Optional. operation id of the parent operation sending the repair request",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the server receives two RepairClusterRequests with the same ID, the second request is ignored, and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RepairClusterRequest"
    },
    "SparkStandaloneAutoscalingConfig": {
      "description": "Basic autoscaling configurations for Spark Standalone.",
      "id": "SparkStandaloneAutoscalingConfig",
      "properties": {
        "gracefulDecommissionTimeout": {
          "type": "string",
          "description": "Required. Timeout for Spark graceful decommissioning of spark workers. Specifies the duration to wait for spark worker to complete spark decomissioning tasks before forcefully removing workers. Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "format": "google-duration"
        },
        "scaleDownMinWorkerFraction": {
          "format": "double",
          "type": "number",
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0."
        },
        "scaleUpFactor": {
          "format": "double",
          "type": "number",
          "description": "Required. Fraction of required workers to add to Spark Standalone clusters. A scale-up factor of 1.0 will result in scaling up so that there are no more required workers for the Spark Job (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling).Bounds: 0.0, 1.0."
        },
        "scaleDownFactor": {
          "format": "double",
          "description": "Required. Fraction of required executors to remove from Spark Serverless clusters. A scale-down factor of 1.0 will result in scaling down so that there are no more executors for the Spark Job.(more aggressive scaling). A scale-down factor closer to 0 will result in a smaller magnitude of scaling donw (less aggressive scaling).Bounds: 0.0, 1.0.",
          "type": "number"
        },
        "scaleUpMinWorkerFraction": {
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "SparkSqlJob": {
      "id": "SparkSqlJob",
      "type": "object",
      "description": "A Dataproc job for running Apache Spark SQL (https://spark.apache.org/sql/) queries.",
      "properties": {
        "scriptVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";)."
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure Spark SQL's SparkConf. Properties that conflict with values set by the Dataproc API may be overwritten.",
          "type": "object"
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains SQL queries.",
          "type": "string"
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH.",
          "type": "array"
        }
      }
    },
    "WorkflowGraph": {
      "type": "object",
      "description": "The workflow graph.",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "WorkflowNode"
          },
          "description": "Output only. The workflow nodes.",
          "type": "array",
          "readOnly": true
        }
      },
      "id": "WorkflowGraph"
    },
    "OrderedJob": {
      "id": "OrderedJob",
      "description": "A job executed by the workflow.",
      "type": "object",
      "properties": {
        "prerequisiteStepIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The optional list of prerequisite job step_ids. If not specified, the job will start at the beginning of workflow."
        },
        "prestoJob": {
          "$ref": "PrestoJob",
          "description": "Optional. Job is a Presto job."
        },
        "sparkJob": {
          "$ref": "SparkJob",
          "description": "Optional. Job is a Spark job."
        },
        "trinoJob": {
          "$ref": "TrinoJob",
          "description": "Optional. Job is a Trino job."
        },
        "stepId": {
          "type": "string",
          "description": "Required. The step id. The id must be unique among all jobs within the template.The step id is used as prefix for job id, as job goog-dataproc-workflow-step-id label, and in prerequisiteStepIds field from other steps.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters."
        },
        "hadoopJob": {
          "description": "Optional. Job is a Hadoop job.",
          "$ref": "HadoopJob"
        },
        "pigJob": {
          "description": "Optional. Job is a Pig job.",
          "$ref": "PigJob"
[...]
