{
  "basePath": "",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "servicePath": "",
  "rootUrl": "https://datastore.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://datastore.mtls.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "title": "Cloud Datastore API",
  "version": "v1beta3",
  "version_module": true,
  "baseUrl": "https://datastore.googleapis.com/",
  "schemas": {
    "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata": {
      "description": "Metadata for ExportEntities operations.",
      "type": "object",
      "properties": {
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter",
          "description": "Description of which entities are being exported."
        },
        "outputUrlPrefix": {
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url.",
          "type": "string"
        },
        "progressBytes": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of bytes processed."
        },
        "common": {
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        }
      },
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata"
    },
    "CompositeFilter": {
      "type": "object",
      "properties": {
        "filters": {
          "type": "array",
          "items": {
            "$ref": "Filter"
          },
          "description": "The list of filters to combine. Requires: * At least one filter is present."
        },
        "op": {
          "description": "The operator for combining multiple filters.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The results are required to satisfy each of the combined filters."
          ],
          "type": "string"
        }
      },
      "id": "CompositeFilter",
      "description": "A filter that merges multiple other filters using the given operator."
    },
    "AggregationResultBatch": {
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Read timestamp this batch was returned from. In a single transaction, subsequent query result batches for the same query can have a greater timestamp. Each batch's read timestamp is valid for all preceding batches."
        },
        "moreResults": {
          "type": "string",
          "enum": [
            "MORE_RESULTS_TYPE_UNSPECIFIED",
            "NOT_FINISHED",
            "MORE_RESULTS_AFTER_LIMIT",
            "MORE_RESULTS_AFTER_CURSOR",
            "NO_MORE_RESULTS"
          ],
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "There may be additional batches to fetch from this query.",
            "The query is finished, but there may be more results after the limit.",
            "The query is finished, but there may be more results after the end cursor.",
            "The query is finished, and there are no more results."
          ],
          "description": "The state of the query after the current batch. Only COUNT(*) aggregations are supported in the initial launch. Therefore, expected result type is limited to `NO_MORE_RESULTS`."
        },
        "aggregationResults": {
          "description": "The aggregation results for this batch.",
          "type": "array",
          "items": {
            "$ref": "AggregationResult"
          }
        }
      },
      "id": "AggregationResultBatch",
      "description": "A batch of aggregation results produced by an aggregation query.",
      "type": "object"
    },
    "GoogleDatastoreAdminV1MigrationProgressEvent": {
      "properties": {
        "step": {
          "description": "The step that is starting. An event with step set to `START` indicates that the migration has been reverted back to the initial pre-migration state.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Pre-migration: the database is prepared for migration.",
            "Start of migration.",
            "Writes are applied synchronously to at least one replica.",
            "Data is copied to Cloud Firestore and then verified to match the data in Cloud Datastore.",
            "Eventually-consistent reads are redirected to Cloud Firestore.",
            "Strongly-consistent reads are redirected to Cloud Firestore.",
            "Writes are redirected to Cloud Firestore."
          ],
          "enum": [
            "MIGRATION_STEP_UNSPECIFIED",
            "PREPARE",
            "START",
            "APPLY_WRITES_SYNCHRONOUSLY",
            "COPY_AND_VERIFY",
            "REDIRECT_EVENTUALLY_CONSISTENT_READS",
            "REDIRECT_STRONGLY_CONSISTENT_READS",
            "REDIRECT_WRITES"
          ]
        },
        "prepareStepDetails": {
          "$ref": "GoogleDatastoreAdminV1PrepareStepDetails",
          "description": "Details for the `PREPARE` step."
        },
        "redirectWritesStepDetails": {
          "description": "Details for the `REDIRECT_WRITES` step.",
          "$ref": "GoogleDatastoreAdminV1RedirectWritesStepDetails"
        }
      },
      "description": "An event signifying the start of a new step in a [migration from Cloud Datastore to Cloud Firestore in Datastore mode](https://cloud.google.com/datastore/docs/upgrade-to-firestore).",
      "type": "object",
      "id": "GoogleDatastoreAdminV1MigrationProgressEvent"
    },
    "GoogleDatastoreAdminV1RedirectWritesStepDetails": {
      "properties": {
        "concurrencyMode": {
          "description": "Ths concurrency mode for this database.",
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "PESSIMISTIC",
            "OPTIMISTIC",
            "OPTIMISTIC_WITH_ENTITY_GROUPS"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Pessimistic concurrency.",
            "Optimistic concurrency.",
            "Optimistic concurrency with entity groups."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details for the `REDIRECT_WRITES` step.",
      "id": "GoogleDatastoreAdminV1RedirectWritesStepDetails"
    },
    "Aggregation": {
      "properties": {
        "count": {
          "description": "Count aggregator.",
          "$ref": "Count"
        },
        "alias": {
          "type": "string",
          "description": "Optional. Optional name of the property to store the result of the aggregation. If not provided, Datastore will pick a default name following the format `property_`. For example: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2), COUNT_UP_TO(3) AS count_up_to_3, COUNT_UP_TO(4) OVER ( ... ); ``` becomes: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2) AS property_1, COUNT_UP_TO(3) AS count_up_to_3, COUNT_UP_TO(4) AS property_2 OVER ( ... ); ``` Requires: * Must be unique across all aggregation aliases. * Conform to entity property name limitations."
        }
      },
      "type": "object",
      "id": "Aggregation",
      "description": "Defines a aggregation that produces a single result."
    },
    "TransactionOptions": {
      "id": "TransactionOptions",
      "type": "object",
      "description": "Options for beginning a new transaction. Transactions can be created explicitly with calls to Datastore.BeginTransaction or implicitly by setting ReadOptions.new_transaction in read requests.",
      "properties": {
        "readWrite": {
          "description": "The transaction should allow both reads and writes.",
          "$ref": "ReadWrite"
        },
        "readOnly": {
          "description": "The transaction should only allow reads.",
          "$ref": "ReadOnly"
        }
      }
    },
    "Mutation": {
      "description": "A mutation to apply to an entity.",
      "properties": {
        "baseVersion": {
          "format": "int64",
          "description": "The version of the entity that this mutation is being applied to. If this does not match the current version on the server, the mutation conflicts.",
          "type": "string"
        },
        "update": {
          "$ref": "Entity",
          "description": "The entity to update. The entity must already exist. Must have a complete key path."
        },
        "updateTime": {
          "description": "The update time of the entity that this mutation is being applied to. If this does not match the current update time on the server, the mutation conflicts.",
          "type": "string",
          "format": "google-datetime"
        },
        "insert": {
          "description": "The entity to insert. The entity must not already exist. The entity key's final path element may be incomplete.",
          "$ref": "Entity"
        },
        "upsert": {
          "description": "The entity to upsert. The entity may or may not already exist. The entity key's final path element may be incomplete.",
          "$ref": "Entity"
        },
        "delete": {
          "$ref": "Key",
          "description": "The key of the entity to delete. The entity may or may not already exist. Must have a complete key path and must not be reserved/read-only."
        }
      },
      "id": "Mutation",
      "type": "object"
    },
    "Count": {
      "description": "Count of entities that match the query. The `COUNT(*)` aggregation function operates on the entire entity so it does not require a field reference.",
      "properties": {
        "upTo": {
          "type": "string",
          "description": "Optional. Optional constraint on the maximum number of entities to count. This provides a way to set an upper bound on the number of entities to scan, limiting latency and cost. Unspecified is interpreted as no bound. If a zero value is provided, a count result of zero should always be expected. High-Level Example: ``` AGGREGATE COUNT_UP_TO(1000) OVER ( SELECT * FROM k ); ``` Requires: * Must be non-negative when present.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "Count"
    },
    "Projection": {
      "properties": {
        "property": {
          "description": "The property to project.",
          "$ref": "PropertyReference"
        }
      },
      "id": "Projection",
      "description": "A representation of a property in a projection.",
      "type": "object"
    },
    "GoogleDatastoreAdminV1beta1EntityFilter": {
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']",
      "id": "GoogleDatastoreAdminV1beta1EntityFilter",
      "properties": {
        "namespaceIds": {
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kinds": {
          "items": {
            "type": "string"
          },
          "description": "If empty, then this represents all kinds.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CommitRequest": {
      "type": "object",
      "id": "CommitRequest",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Transactional: The mutations are either all applied, or none are applied. Learn about transactions [here](https://cloud.google.com/datastore/docs/concepts/transactions).",
            "Non-transactional: The mutations may not apply as all or none."
          ],
          "description": "The type of commit to perform. Defaults to `TRANSACTIONAL`.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "TRANSACTIONAL",
            "NON_TRANSACTIONAL"
          ]
        },
        "mutations": {
          "items": {
            "$ref": "Mutation"
          },
          "type": "array",
          "description": "The mutations to perform. When mode is `TRANSACTIONAL`, mutations affecting a single entity are applied in order. The following sequences of mutations affecting a single entity are not permitted in a single `Commit` request: - `insert` followed by `insert` - `update` followed by `insert` - `upsert` followed by `insert` - `delete` followed by `update` When mode is `NON_TRANSACTIONAL`, no two mutations may affect a single entity."
        },
        "transaction": {
          "format": "byte",
          "description": "The identifier of the transaction associated with the commit. A transaction identifier is returned by a call to Datastore.BeginTransaction.",
          "type": "string"
        }
      },
      "description": "The request for Datastore.Commit."
    },
    "PathElement": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`. Must be valid UTF-8 bytes. Legacy values that are not valid UTF-8 are encoded as `__bytes__` where `` is the base-64 encoding of the bytes."
        },
        "kind": {
          "description": "The kind of the entity. A kind matching regex `__.*__` is reserved/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`. Must be valid UTF-8 bytes. Legacy values that are not valid UTF-8 are encoded as `__bytes__` where `` is the base-64 encoding of the bytes.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete.",
      "id": "PathElement"
    },
    "ReadOnly": {
      "description": "Options specific to read-only transactions.",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Reads entities at the given time. This may not be older than 60 seconds."
        }
      },
      "id": "ReadOnly",
      "type": "object"
    },
    "RunQueryResponse": {
      "description": "The response for Datastore.RunQuery.",
      "properties": {
        "query": {
          "description": "The parsed form of the `GqlQuery` from the request, if it was set.",
          "$ref": "Query"
        },
        "batch": {
          "description": "A batch of query results (always present).",
          "$ref": "QueryResultBatch"
        }
      },
      "id": "RunQueryResponse",
      "type": "object"
    },
    "GoogleDatastoreAdminV1beta1Progress": {
      "id": "GoogleDatastoreAdminV1beta1Progress",
      "type": "object",
      "properties": {
        "workEstimated": {
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable.",
          "type": "string",
          "format": "int64"
        },
        "workCompleted": {
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Measures the progress of a particular metric."
    },
    "Value": {
      "properties": {
        "excludeFromIndexes": {
          "description": "If the value should be excluded from all indexes including those defined explicitly.",
          "type": "boolean"
        },
        "nullValue": {
          "enum": [
            "NULL_VALUE"
          ],
          "description": "A null value.",
          "type": "string",
          "enumDescriptions": [
            "Null value."
          ]
        },
        "keyValue": {
          "$ref": "Key",
          "description": "A key value."
        },
        "doubleValue": {
          "format": "double",
          "description": "A double value.",
          "type": "number"
        },
        "timestampValue": {
          "format": "google-datetime",
          "type": "string",
          "description": "A timestamp value. When stored in the Datastore, precise only to microseconds; any additional precision is rounded down."
        },
        "blobValue": {
          "format": "byte",
          "type": "string",
          "description": "A blob value. May have at most 1,000,000 bytes. When `exclude_from_indexes` is false, may have at most 1500 bytes. In JSON requests, must be base64-encoded."
        },
        "integerValue": {
          "format": "int64",
          "type": "string",
          "description": "An integer value."
        },
        "arrayValue": {
          "$ref": "ArrayValue",
          "description": "An array value. Cannot contain another array value. A `Value` instance that sets field `array_value` must not set fields `meaning` or `exclude_from_indexes`."
        },
        "booleanValue": {
          "type": "boolean",
          "description": "A boolean value."
        },
        "geoPointValue": {
          "$ref": "LatLng",
          "description": "A geo point value representing a point on the surface of Earth."
        },
        "meaning": {
          "format": "int32",
          "type": "integer",
          "description": "The `meaning` field should only be populated for backwards compatibility."
        },
        "stringValue": {
          "description": "A UTF-8 encoded string value. When `exclude_from_indexes` is false (it is indexed) , may have at most 1500 bytes. Otherwise, may be set to at most 1,000,000 bytes.",
          "type": "string"
        },
        "entityValue": {
          "description": "An entity value. - May have no key. - May have a key with an incomplete key path. - May have a reserved/read-only key.",
          "$ref": "Entity"
        }
      },
      "description": "A message that can hold any of the supported value types and associated metadata.",
      "type": "object",
      "id": "Value"
    },
    "LatLng": {
      "type": "object",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "LatLng",
      "properties": {
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "format": "double",
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        }
      }
    },
    "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata": {
      "type": "object",
      "id": "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata",
      "properties": {
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter",
          "description": "Description of which entities are being imported."
        },
        "progressBytes": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of bytes processed."
        },
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        },
        "common": {
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        },
        "inputUrl": {
          "type": "string",
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url field."
        }
      },
      "description": "Metadata for ImportEntities operations."
    },
    "GoogleDatastoreAdminV1IndexOperationMetadata": {
      "properties": {
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "indexId": {
          "description": "The index resource ID that this operation is acting on.",
          "type": "string"
        },
        "common": {
          "$ref": "GoogleDatastoreAdminV1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        }
      },
      "type": "object",
      "id": "GoogleDatastoreAdminV1IndexOperationMetadata",
      "description": "Metadata for Index operations."
    },
    "RollbackResponse": {
      "properties": {},
      "id": "RollbackResponse",
      "description": "The response for Datastore.Rollback. (an empty message).",
      "type": "object"
    },
    "ReadWrite": {
      "properties": {
        "previousTransaction": {
          "type": "string",
          "format": "byte",
          "description": "The transaction identifier of the transaction being retried."
        }
      },
      "description": "Options specific to read / write transactions.",
      "id": "ReadWrite",
      "type": "object"
    },
    "RunAggregationQueryResponse": {
      "id": "RunAggregationQueryResponse",
      "type": "object",
      "properties": {
        "query": {
          "$ref": "AggregationQuery",
          "description": "The parsed form of the `GqlQuery` from the request, if it was set."
        },
        "batch": {
          "$ref": "AggregationResultBatch",
          "description": "A batch of aggregation results. Always present."
        }
      },
      "description": "The response for Datastore.RunAggregationQuery."
    },
    "Key": {
      "type": "object",
      "id": "Key",
      "properties": {
        "partitionId": {
          "$ref": "PartitionId",
          "description": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition."
        },
        "path": {
          "description": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. An entity path is always fully complete: *all* of the entity's ancestors are required to be in the path along with the entity identifier itself. The only exception is that in some documented cases, the identifier in the last path element (for the entity) itself may be omitted. For example, the last path element of the key of `Mutation.insert` may have no identifier. A path can never be empty, and a path can have at most 100 elements.",
          "items": {
            "$ref": "PathElement"
          },
          "type": "array"
        }
      },
      "description": "A unique identifier for an entity. If a key's partition ID or any of its path kinds or names are reserved/read-only, the key is reserved/read-only. A reserved/read-only key is forbidden in certain documented contexts."
    },
    "AggregationResult": {
      "properties": {
        "aggregateProperties": {
          "description": "The result of the aggregation functions, ex: `COUNT(*) AS total_entities`. The key is the alias assigned to the aggregation function on input and the size of this map equals the number of aggregation functions in the query.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          }
        }
      },
      "description": "The result of a single bucket from a Datastore aggregation query. The keys of `aggregate_properties` are the same for all results in an aggregation query, unlike entity queries which can have different fields present for each result.",
      "type": "object",
      "id": "AggregationResult"
    },
    "RunQueryRequest": {
      "description": "The request for Datastore.RunQuery.",
      "type": "object",
      "id": "RunQueryRequest",
      "properties": {
        "query": {
          "$ref": "Query",
          "description": "The query to run."
        },
        "partitionId": {
          "$ref": "PartitionId",
          "description": "Entities are partitioned into subsets, identified by a partition ID. Queries are scoped to a single partition. This partition ID is normalized with the standard default context partition ID."
        },
        "gqlQuery": {
          "description": "The GQL query to run. This query must be a non-aggregation query.",
          "$ref": "GqlQuery"
        },
        "readOptions": {
          "description": "The options for this query.",
          "$ref": "ReadOptions"
        }
      }
    },
    "GqlQueryParameter": {
      "id": "GqlQueryParameter",
      "type": "object",
      "description": "A binding parameter for a GQL query.",
      "properties": {
        "cursor": {
          "description": "A query cursor. Query cursors are returned in query result batches.",
          "type": "string",
          "format": "byte"
        },
        "value": {
          "description": "A value parameter.",
          "$ref": "Value"
        }
      }
    },
    "BeginTransactionRequest": {
      "description": "The request for Datastore.BeginTransaction.",
      "id": "BeginTransactionRequest",
      "type": "object",
      "properties": {
        "transactionOptions": {
          "$ref": "TransactionOptions",
          "description": "Options for a new transaction."
        }
      }
    },
    "QueryResultBatch": {
      "description": "A batch of results produced by a query.",
      "properties": {
        "entityResults": {
          "description": "The results for this batch.",
          "type": "array",
          "items": {
            "$ref": "EntityResult"
          }
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Read timestamp this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater timestamp. Each batch's read timestamp is valid for all preceding batches. This value will not be set for eventually consistent queries in Cloud Datastore.",
          "type": "string"
        },
        "snapshotVersion": {
          "type": "string",
          "description": "The version number of the snapshot this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater snapshot version number. Each batch's snapshot version is valid for all preceding batches. The value will be zero for eventually consistent queries.",
          "format": "int64"
        },
        "skippedResults": {
          "description": "The number of results skipped, typically because of an offset.",
          "format": "int32",
          "type": "integer"
        },
        "entityResultType": {
          "type": "string",
          "description": "The result type for every entity in `entity_results`.",
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "The key and properties.",
            "A projected subset of properties. The entity may have no key.",
            "Only the key."
          ],
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "FULL",
            "PROJECTION",
            "KEY_ONLY"
          ]
        },
        "endCursor": {
          "format": "byte",
          "type": "string",
          "description": "A cursor that points to the position after the last result in the batch."
        },
        "moreResults": {
          "type": "string",
          "enum": [
            "MORE_RESULTS_TYPE_UNSPECIFIED",
            "NOT_FINISHED",
            "MORE_RESULTS_AFTER_LIMIT",
            "MORE_RESULTS_AFTER_CURSOR",
            "NO_MORE_RESULTS"
          ],
          "description": "The state of the query after the current batch.",
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "There may be additional batches to fetch from this query.",
            "The query is finished, but there may be more results after the limit.",
            "The query is finished, but there may be more results after the end cursor.",
            "The query is finished, and there are no more results."
          ]
        },
        "skippedCursor": {
          "type": "string",
          "format": "byte",
          "description": "A cursor that points to the position after the last skipped result. Will be set when `skipped_results` != 0."
        }
      },
      "id": "QueryResultBatch",
      "type": "object"
    },
    "RunAggregationQueryRequest": {
      "description": "The request for Datastore.RunAggregationQuery.",
      "properties": {
        "partitionId": {
          "$ref": "PartitionId",
          "description": "Entities are partitioned into subsets, identified by a partition ID. Queries are scoped to a single partition. This partition ID is normalized with the standard default context partition ID."
        },
        "aggregationQuery": {
          "$ref": "AggregationQuery",
          "description": "The query to run."
        },
        "readOptions": {
          "description": "The options for this query.",
          "$ref": "ReadOptions"
        },
        "gqlQuery": {
          "description": "The GQL query to run. This query must be an aggregation query.",
          "$ref": "GqlQuery"
        }
      },
      "id": "RunAggregationQueryRequest",
      "type": "object"
    },
    "ReserveIdsResponse": {
      "id": "ReserveIdsResponse",
      "description": "The response for Datastore.ReserveIds.",
      "type": "object",
      "properties": {}
    },
    "GoogleDatastoreAdminV1ExportEntitiesResponse": {
      "properties": {
        "outputUrl": {
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully.",
          "type": "string"
        }
      },
      "id": "GoogleDatastoreAdminV1ExportEntitiesResponse",
      "type": "object",
      "description": "The response for google.datastore.admin.v1.DatastoreAdmin.ExportEntities."
    },
    "RollbackRequest": {
      "description": "The request for Datastore.Rollback.",
      "id": "RollbackRequest",
      "type": "object",
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "Required. The transaction identifier, returned by a call to Datastore.BeginTransaction."
        }
      }
    },
    "ReadOptions": {
      "id": "ReadOptions",
      "description": "The options shared by read requests.",
      "properties": {
        "readConsistency": {
          "description": "The non-transactional read consistency to use.",
          "type": "string",
          "enum": [
            "READ_CONSISTENCY_UNSPECIFIED",
            "STRONG",
            "EVENTUAL"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Strong consistency.",
            "Eventual consistency."
          ]
        },
        "transaction": {
          "format": "byte",
          "description": "The identifier of the transaction in which to read. A transaction identifier is returned by a call to Datastore.BeginTransaction.",
          "type": "string"
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Reads entities as they were at the given time. This may not be older than 270 seconds. This value is only supported for Cloud Firestore in Datastore mode.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleDatastoreAdminV1PrepareStepDetails": {
      "description": "Details for the `PREPARE` step.",
      "properties": {
        "concurrencyMode": {
          "enumDescriptions": [
            "Unspecified.",
            "Pessimistic concurrency.",
            "Optimistic concurrency.",
            "Optimistic concurrency with entity groups."
          ],
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "PESSIMISTIC",
            "OPTIMISTIC",
            "OPTIMISTIC_WITH_ENTITY_GROUPS"
          ],
          "type": "string",
          "description": "The concurrency mode this database will use when it reaches the `REDIRECT_WRITES` step."
        }
      },
      "id": "GoogleDatastoreAdminV1PrepareStepDetails",
      "type": "object"
    },
    "PropertyOrder": {
      "description": "The desired order for a specific property.",
      "id": "PropertyOrder",
      "type": "object",
      "properties": {
        "property": {
          "$ref": "PropertyReference",
          "description": "The property to order by."
        },
        "direction": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Ascending.",
            "Descending."
          ],
          "description": "The direction to order by. Defaults to `ASCENDING`.",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string"
        }
      }
    },
    "PropertyReference": {
      "type": "object",
      "description": "A reference to a property relative to the kind expressions.",
      "properties": {
        "name": {
          "description": "The name of the property. If name includes \".\"s, it may be interpreted as a property name path.",
          "type": "string"
        }
      },
      "id": "PropertyReference"
    },
    "Query": {
      "id": "Query",
      "type": "object",
      "description": "A query for entities.",
      "properties": {
        "projection": {
          "description": "The projection to return. Defaults to returning all properties.",
          "type": "array",
          "items": {
            "$ref": "Projection"
          }
        },
        "filter": {
          "$ref": "Filter",
          "description": "The filter to apply."
        },
        "endCursor": {
          "type": "string",
          "description": "An ending point for the query results. Query cursors are returned in query result batches and [can only be used to limit the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).",
          "format": "byte"
        },
        "order": {
          "type": "array",
          "items": {
            "$ref": "PropertyOrder"
          },
          "description": "The order to apply to the query results (if empty, order is unspecified)."
        },
        "offset": {
          "description": "The number of results to skip. Applies before limit, but after all other constraints. Optional. Must be \u003e= 0 if specified.",
          "format": "int32",
          "type": "integer"
        },
        "startCursor": {
          "format": "byte",
          "type": "string",
          "description": "A starting point for the query results. Query cursors are returned in query result batches and [can only be used to continue the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets)."
        },
        "distinctOn": {
          "type": "array",
          "items": {
            "$ref": "PropertyReference"
          },
          "description": "The properties to make distinct. The query results will contain the first result for each distinct combination of values for the given properties (if empty, all results are returned)."
        },
        "limit": {
          "format": "int32",
          "description": "The maximum number of results to return. Applies after all other constraints. Optional. Unspecified is interpreted as no limit. Must be \u003e= 0 if specified.",
          "type": "integer"
        },
        "kind": {
          "items": {
            "$ref": "KindExpression"
          },
          "type": "array",
          "description": "The kinds to query (if empty, returns entities of all kinds). Currently at most 1 kind may be specified."
        }
      }
    },
    "ArrayValue": {
      "id": "ArrayValue",
      "description": "An array value.",
      "properties": {
        "values": {
          "items": {
            "$ref": "Value"
          },
          "type": "array",
          "description": "Values in the array. The order of values in an array is preserved as long as all values have identical settings for 'exclude_from_indexes'."
        }
      },
      "type": "object"
    },
    "Filter": {
      "type": "object",
      "properties": {
        "compositeFilter": {
          "$ref": "CompositeFilter",
          "description": "A composite filter."
        },
        "propertyFilter": {
          "$ref": "PropertyFilter",
          "description": "A filter on a property."
        }
      },
      "description": "A holder for any type of filter.",
      "id": "Filter"
    },
    "GoogleDatastoreAdminV1CommonMetadata": {
      "id": "GoogleDatastoreAdminV1CommonMetadata",
      "description": "Metadata common to all Datastore Admin operations.",
      "properties": {
        "state": {
          "description": "The current state of the Operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "operationType": {
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities.",
            "CreateIndex.",
            "DeleteIndex."
          ],
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES",
            "CREATE_INDEX",
            "DELETE_INDEX"
          ],
          "type": "string"
        },
        "labels": {
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise.",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "description": "The time that work began on the operation.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleDatastoreAdminV1ExportEntitiesMetadata": {
      "id": "GoogleDatastoreAdminV1ExportEntitiesMetadata",
      "properties": {
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "entityFilter": {
          "description": "Description of which entities are being exported.",
          "$ref": "GoogleDatastoreAdminV1EntityFilter"
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1CommonMetadata"
        },
        "outputUrlPrefix": {
          "type": "string",
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1.ExportEntitiesResponse.output_url."
        }
      },
      "description": "Metadata for ExportEntities operations.",
      "type": "object"
    },
    "EntityResult": {
      "type": "object",
      "description": "The result of fetching an entity from Datastore.",
      "properties": {
        "version": {
          "format": "int64",
          "type": "string",
          "description": "The version of the entity, a strictly positive number that monotonically increases with changes to the entity. This field is set for `FULL` entity results. For missing entities in `LookupResponse`, this is the version of the snapshot that was used to look up the entity, and it is always set except for eventually consistent reads."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The time at which the entity was last changed. This field is set for `FULL` entity results. If this entity is missing, this field will not be set.",
          "type": "string"
        },
        "cursor": {
          "type": "string",
          "format": "byte",
          "description": "A cursor that points to the position after the result entity. Set only when the `EntityResult` is part of a `QueryResultBatch` message."
        },
        "entity": {
          "description": "The resulting entity.",
          "$ref": "Entity"
        }
      },
      "id": "EntityResult"
    },
    "MutationResult": {
      "id": "MutationResult",
      "type": "object",
      "description": "The result of applying a mutation.",
      "properties": {
        "version": {
          "description": "The version of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the version will be the version of the current entity or, if no entity is present, a version that is strictly greater than the version of any previous entity and less than the version of any possible future entity.",
          "format": "int64",
          "type": "string"
        },
        "conflictDetected": {
          "type": "boolean",
          "description": "Whether a conflict was detected for this mutation. Always false when a conflict detection strategy field is not set in the mutation."
        },
        "updateTime": {
          "description": "The update time of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the timestamp will be the update timestamp of the current entity. This field will not be set after a 'delete'.",
          "type": "string",
          "format": "google-datetime"
        },
        "key": {
          "$ref": "Key",
          "description": "The automatically allocated key. Set only when the mutation allocated a key."
        }
      }
    },
    "PartitionId": {
      "id": "PartitionId",
      "properties": {
        "projectId": {
          "description": "The ID of the project to which the entities belong.",
          "type": "string"
        },
        "namespaceId": {
          "type": "string",
          "description": "If not empty, the ID of the namespace to which the entities belong."
        }
      },
      "type": "object",
      "description": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty. A partition ID contains several dimensions: project ID and namespace ID. Partition dimensions: - May be `\"\"`. - Must be valid UTF-8 bytes. - Must have values that match regex `[A-Za-z\\d\\.\\-_]{1,100}` If the value of any dimension matches regex `__.*__`, the partition is reserved/read-only. A reserved/read-only partition ID is forbidden in certain documented contexts. Foreign partition IDs (in which the project ID does not match the context project ID ) are discouraged. Reads and writes of foreign partition IDs may fail if the project is not in an active state."
    },
    "LookupResponse": {
      "description": "The response for Datastore.Lookup.",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which these entities were read or found missing."
        },
        "missing": {
          "items": {
            "$ref": "EntityResult"
          },
          "type": "array",
          "description": "Entities not found as `ResultType.KEY_ONLY` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input."
        },
        "found": {
          "items": {
            "$ref": "EntityResult"
          },
          "description": "Entities found as `ResultType.FULL` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input.",
          "type": "array"
        },
        "deferred": {
          "type": "array",
          "items": {
            "$ref": "Key"
          },
          "description": "A list of keys that were not looked up due to resource constraints. The order of results in this field is undefined and has no relation to the order of the keys in the input."
        }
      },
      "id": "LookupResponse",
      "type": "object"
    },
    "PropertyFilter": {
      "description": "A filter on a specific property.",
      "properties": {
        "property": {
          "$ref": "PropertyReference",
          "description": "The property to filter by."
        },
        "value": {
          "$ref": "Value",
          "description": "The value to compare the property to."
        },
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `property` is less than the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is less than or equal to the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is greater than the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is greater than or equal to the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is equal to the given `value`.",
            "The given `property` is equal to at least one value in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN` or `NOT_IN` is in the same query.",
            "The given `property` is not equal to the given `value`. Requires: * No other `NOT_EQUAL` or `NOT_IN` is in the same query. * That `property` comes first in the `order_by`.",
            "Limit the result set to the given entity and its descendants. Requires: * That `value` is an entity key.",
            "The value of the `property` is not in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN`, `NOT_IN`, `NOT_EQUAL` is in the same query. * That `field` comes first in the `order_by`."
          ],
          "description": "The operator to filter by.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "IN",
            "NOT_EQUAL",
            "HAS_ANCESTOR",
            "NOT_IN"
          ],
          "type": "string"
        }
      },
      "id": "PropertyFilter",
      "type": "object"
    },
    "LookupRequest": {
      "description": "The request for Datastore.Lookup.",
      "properties": {
        "readOptions": {
          "description": "The options for this lookup request.",
          "$ref": "ReadOptions"
        },
        "keys": {
          "items": {
            "$ref": "Key"
          },
          "type": "array",
          "description": "Required. Keys of entities to look up."
        }
      },
      "id": "LookupRequest",
      "type": "object"
    },
    "AllocateIdsResponse": {
      "id": "AllocateIdsResponse",
      "properties": {
        "keys": {
          "description": "The keys specified in the request (in the same order), each with its key path completed with a newly allocated ID.",
          "type": "array",
          "items": {
            "$ref": "Key"
          }
        }
      },
      "type": "object",
      "description": "The response for Datastore.AllocateIds."
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesResponse": {
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesResponse",
      "properties": {
        "outputUrl": {
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1beta1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully.",
          "type": "string"
        }
      },
      "description": "The response for google.datastore.admin.v1beta1.DatastoreAdmin.ExportEntities.",
      "type": "object"
    },
    "KindExpression": {
      "type": "object",
      "description": "A representation of a kind.",
      "id": "KindExpression",
      "properties": {
        "name": {
          "description": "The name of the kind.",
          "type": "string"
        }
      }
    },
    "ReserveIdsRequest": {
      "id": "ReserveIdsRequest",
      "properties": {
        "databaseId": {
          "type": "string",
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database."
        },
        "keys": {
          "items": {
            "$ref": "Key"
          },
          "description": "Required. A list of keys with complete key paths whose numeric IDs should not be auto-allocated.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The request for Datastore.ReserveIds."
    },
    "Entity": {
      "type": "object",
      "id": "Entity",
      "description": "A Datastore data object. An entity is limited to 1 megabyte when stored. That _roughly_ corresponds to a limit of 1 megabyte for the serialized form of this message.",
      "properties": {
        "properties": {
          "description": "The entity's properties. The map's keys are property names. A property name matching regex `__.*__` is reserved. A reserved property name is forbidden in certain documented contexts. The name must not contain more than 500 characters. The name cannot be `\"\"`.",
          "additionalProperties": {
            "$ref": "Value"
          },
          "type": "object"
        },
        "key": {
          "description": "The entity's key. An entity must have a key, unless otherwise documented (for example, an entity in `Value.entity_value` may have no key). An entity's kind is its key path's last element's kind, or null if it has no key.",
          "$ref": "Key"
        }
      }
    },
    "CommitResponse": {
      "id": "CommitResponse",
      "properties": {
        "mutationResults": {
          "items": {
            "$ref": "MutationResult"
          },
          "description": "The result of performing the mutations. The i-th mutation result corresponds to the i-th mutation in the request.",
          "type": "array"
        },
        "commitTime": {
          "description": "The transaction commit timestamp. Not set for non-transactional commits.",
          "type": "string",
          "format": "google-datetime"
        },
        "indexUpdates": {
          "description": "The number of index entries updated during the commit, or zero if none were updated.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The response for Datastore.Commit."
    },
    "GqlQuery": {
      "properties": {
        "namedBindings": {
          "additionalProperties": {
            "$ref": "GqlQueryParameter"
          },
          "type": "object",
          "description": "For each non-reserved named binding site in the query string, there must be a named parameter with that name, but not necessarily the inverse. Key must match regex `A-Za-z_$*`, must not match regex `__.*__`, and must not be `\"\"`."
        },
        "positionalBindings": {
          "description": "Numbered binding site @1 references the first numbered parameter, effectively using 1-based indexing, rather than the usual 0. For each binding site numbered i in `query_string`, there must be an i-th numbered parameter. The inverse must also be true.",
          "type": "array",
          "items": {
            "$ref": "GqlQueryParameter"
          }
        },
        "allowLiterals": {
          "type": "boolean",
          "description": "When false, the query string must not contain any literals and instead must bind all values. For example, `SELECT * FROM Kind WHERE a = 'string literal'` is not allowed, while `SELECT * FROM Kind WHERE a = @value` is."
        },
        "queryString": {
          "type": "string",
          "description": "A string of the format described [here](https://cloud.google.com/datastore/docs/apis/gql/gql_reference)."
        }
      },
      "description": "A [GQL query](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).",
      "type": "object",
      "id": "GqlQuery"
    },
    "BeginTransactionResponse": {
      "properties": {
        "transaction": {
          "format": "byte",
          "description": "The transaction identifier (always present).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response for Datastore.BeginTransaction.",
      "id": "BeginTransactionResponse"
    },
    "GoogleDatastoreAdminV1MigrationStateEvent": {
      "type": "object",
      "properties": {
        "state": {
          "description": "The new state of the migration.",
          "enum": [
            "MIGRATION_STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The migration is running.",
            "The migration is paused.",
            "The migration is complete."
          ]
        }
      },
      "id": "GoogleDatastoreAdminV1MigrationStateEvent",
      "description": "An event signifying a change in state of a [migration from Cloud Datastore to Cloud Firestore in Datastore mode](https://cloud.google.com/datastore/docs/upgrade-to-firestore)."
    },
    "GoogleDatastoreAdminV1EntityFilter": {
      "type": "object",
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']",
      "properties": {
        "namespaceIds": {
          "items": {
            "type": "string"
          },
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "type": "array"
        },
        "kinds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If empty, then this represents all kinds."
        }
      },
      "id": "GoogleDatastoreAdminV1EntityFilter"
    },
    "GoogleDatastoreAdminV1Progress": {
      "description": "Measures the progress of a particular metric.",
      "id": "GoogleDatastoreAdminV1Progress",
      "type": "object",
      "properties": {
        "workCompleted": {
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated.",
          "format": "int64",
          "type": "string"
        },
        "workEstimated": {
          "format": "int64",
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable.",
          "type": "string"
        }
      }
    },
    "GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadata": {
      "description": "Metadata for Datastore to Firestore migration operations. The DatastoreFirestoreMigration operation is not started by the end-user via an explicit \"creation\" method. This is an intentional deviation from the LRO design pattern. This singleton resource can be accessed at: \"projects/{project_id}/operations/datastore-firestore-migration\"",
      "properties": {
        "migrationState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The migration is running.",
            "The migration is paused.",
            "The migration is complete."
          ],
          "description": "The current state of migration from Cloud Datastore to Cloud Firestore in Datastore mode.",
          "enum": [
            "MIGRATION_STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETE"
          ]
        },
        "migrationStep": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Pre-migration: the database is prepared for migration.",
            "Start of migration.",
            "Writes are applied synchronously to at least one replica.",
            "Data is copied to Cloud Firestore and then verified to match the data in Cloud Datastore.",
            "Eventually-consistent reads are redirected to Cloud Firestore.",
            "Strongly-consistent reads are redirected to Cloud Firestore.",
            "Writes are redirected to Cloud Firestore."
          ],
          "description": "The current step of migration from Cloud Datastore to Cloud Firestore in Datastore mode.",
          "enum": [
            "MIGRATION_STEP_UNSPECIFIED",
            "PREPARE",
            "START",
            "APPLY_WRITES_SYNCHRONOUSLY",
            "COPY_AND_VERIFY",
            "REDIRECT_EVENTUALLY_CONSISTENT_READS",
            "REDIRECT_STRONGLY_CONSISTENT_READS",
            "REDIRECT_WRITES"
          ]
        }
      },
      "id": "GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadata",
      "type": "object"
    },
    "GoogleDatastoreAdminV1beta1CommonMetadata": {
      "description": "Metadata common to all Datastore Admin operations.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "type": "object"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation ended, either successfully or otherwise.",
          "type": "string"
        },
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities."
          ],
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time that work began on the operation.",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The current state of the Operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        }
      },
      "id": "GoogleDatastoreAdminV1beta1CommonMetadata",
      "type": "object"
    },
    "GoogleDatastoreAdminV1ImportEntitiesMetadata": {
      "id": "GoogleDatastoreAdminV1ImportEntitiesMetadata",
      "type": "object",
      "properties": {
        "progressBytes": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of bytes processed."
        },
        "common": {
          "$ref": "GoogleDatastoreAdminV1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "inputUrl": {
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1.ExportEntitiesResponse.output_url field.",
          "type": "string"
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1EntityFilter",
          "description": "Description of which entities are being imported."
        }
      },
      "description": "Metadata for ImportEntities operations."
    },
    "AggregationQuery": {
      "properties": {
        "nestedQuery": {
          "description": "Nested query for aggregation",
          "$ref": "Query"
        },
        "aggregations": {
          "type": "array",
          "description": "Optional. Series of aggregations to apply over the results of the `nested_query`. Requires: * A minimum of one and maximum of five aggregations per query.",
          "items": {
            "$ref": "Aggregation"
          }
        }
      },
      "description": "Datastore query for running an aggregation over a Query.",
      "type": "object",
      "id": "AggregationQuery"
    },
    "AllocateIdsRequest": {
      "id": "AllocateIdsRequest",
      "description": "The request for Datastore.AllocateIds.",
      "type": "object",
      "properties": {
        "keys": {
          "type": "array",
          "description": "Required. A list of keys with incomplete key paths for which to allocate IDs. No key may be reserved/read-only.",
          "items": {
            "$ref": "Key"
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "ownerName": "Google",
  "name": "datastore",
  "revision": "20221018",
  "documentationLink": "https://cloud.google.com/datastore/",
  "id": "datastore:v1beta3",
  "resources": {
    "projects": {
      "methods": {
        "runAggregationQuery": {
          "id": "datastore.projects.runAggregationQuery",
          "request": {
            "$ref": "RunAggregationQueryRequest"
          },
          "response": {
            "$ref": "RunAggregationQueryResponse"
          },
          "description": "Runs an aggregation query.",
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "v1beta3/projects/{projectId}:runAggregationQuery",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Required. The ID of the project against which to make the request.",
              "type": "string"
            }
          },
          "path": "v1beta3/projects/{projectId}:runAggregationQuery"
        },
        "allocateIds": {
          "flatPath": "v1beta3/projects/{projectId}:allocateIds",
          "parameterOrder": [
            "projectId"
          ],
          "id": "datastore.projects.allocateIds",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path",
              "required": true
            }
          },
          "path": "v1beta3/projects/{projectId}:allocateIds",
          "request": {
            "$ref": "AllocateIdsRequest"
          },
          "description": "Allocates IDs for the given keys, which is useful for referencing an entity before it is inserted.",
          "response": {
            "$ref": "AllocateIdsResponse"
          },
          "httpMethod": "POST"
        },
        "rollback": {
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "RollbackRequest"
          },
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the project against which to make the request.",
              "required": true
            }
          },
          "response": {
            "$ref": "RollbackResponse"
          },
          "flatPath": "v1beta3/projects/{projectId}:rollback",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "description": "Rolls back a transaction.",
          "path": "v1beta3/projects/{projectId}:rollback",
          "id": "datastore.projects.rollback",
          "httpMethod": "POST"
        },
        "runQuery": {
          "path": "v1beta3/projects/{projectId}:runQuery",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "flatPath": "v1beta3/projects/{projectId}:runQuery",
          "request": {
            "$ref": "RunQueryRequest"
          },
          "id": "datastore.projects.runQuery",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "RunQueryResponse"
          },
          "description": "Queries for entities.",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. The ID of the project against which to make the request.",
              "required": true,
              "type": "string"
            }
          }
        },
        "beginTransaction": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "BeginTransactionRequest"
          },
          "response": {
            "$ref": "BeginTransactionResponse"
          },
          "id": "datastore.projects.beginTransaction",
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the project against which to make the request.",
              "required": true
            }
          },
          "path": "v1beta3/projects/{projectId}:beginTransaction",
          "description": "Begins a new transaction.",
          "flatPath": "v1beta3/projects/{projectId}:beginTransaction"
        },
        "commit": {
          "flatPath": "v1beta3/projects/{projectId}:commit",
          "request": {
            "$ref": "CommitRequest"
          },
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the project against which to make the request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "httpMethod": "POST",
          "id": "datastore.projects.commit",
          "response": {
            "$ref": "CommitResponse"
          },
          "path": "v1beta3/projects/{projectId}:commit",
          "description": "Commits a transaction, optionally creating, deleting or modifying some entities."
        },
        "lookup": {
          "request": {
            "$ref": "LookupRequest"
          },
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the project against which to make the request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "path": "v1beta3/projects/{projectId}:lookup",
          "response": {
            "$ref": "LookupResponse"
          },
          "id": "datastore.projects.lookup",
          "description": "Looks up entities by key.",
          "flatPath": "v1beta3/projects/{projectId}:lookup",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST"
        },
        "reserveIds": {
          "description": "Prevents the supplied keys' IDs from being auto-allocated by Cloud Datastore.",
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path"
            }
          },
          "path": "v1beta3/projects/{projectId}:reserveIds",
          "parameterOrder": [
            "projectId"
          ],
          "id": "datastore.projects.reserveIds",
          "flatPath": "v1beta3/projects/{projectId}:reserveIds",
          "request": {
            "$ref": "ReserveIdsRequest"
          },
          "response": {
            "$ref": "ReserveIdsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ]
        }
      }
    }
  },
  "description": "Accesses the schemaless NoSQL database to provide fully managed, robust, scalable storage for your application. ",
  "fullyEncodeReservedExpansion": true
}
