{
  "documentationLink": "https://developers.google.com/search-ads",
  "name": "doubleclicksearch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "version": "v2",
  "ownerDomain": "google.com",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "protocol": "rest",
  "batchPath": "batch",
  "basePath": "",
  "title": "Search Ads 360 API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "schemas": {
    "UpdateAvailabilityResponse": {
      "id": "UpdateAvailabilityResponse",
      "type": "object",
      "properties": {
        "availabilities": {
          "description": "The availabilities being returned.",
          "type": "array",
          "items": {
            "$ref": "Availability"
          }
        }
      },
      "description": "The response to a update availability request."
    },
    "SavedColumn": {
      "id": "SavedColumn",
      "type": "object",
      "description": "A saved column",
      "properties": {
        "type": {
          "description": "The type of data this saved column will produce.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        },
        "savedColumnName": {
          "type": "string",
          "description": "The name of the saved column."
        }
      }
    },
    "ConversionList": {
      "description": "A list of conversions.",
      "id": "ConversionList",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList."
        },
        "conversion": {
          "items": {
            "$ref": "Conversion"
          },
          "description": "The conversions being requested.",
          "type": "array"
        }
      }
    },
    "ReportRequest": {
      "type": "object",
      "properties": {
        "includeRemovedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`."
        },
        "rowCount": {
          "type": "integer",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "format": "int32"
        },
        "startRow": {
          "format": "int32",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "type": "integer",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          }
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "includeDeletedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead.",
          "type": "boolean"
        },
        "reportScope": {
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "type": "object",
          "properties": {
            "keywordId": {
              "format": "int64",
              "description": "DS keyword ID.",
              "type": "string"
            },
            "advertiserId": {
              "type": "string",
              "description": "DS advertiser ID.",
              "format": "int64"
            },
            "engineAccountId": {
              "description": "DS engine account ID.",
              "type": "string",
              "format": "int64"
            },
            "adGroupId": {
              "description": "DS ad group ID.",
              "format": "int64",
              "type": "string"
            },
            "campaignId": {
              "type": "string",
              "format": "int64",
              "description": "DS campaign ID."
            },
            "adId": {
              "description": "DS ad ID.",
              "type": "string",
              "format": "int64"
            },
            "agencyId": {
              "description": "DS agency ID.",
              "format": "int64",
              "type": "string"
            }
          }
        },
        "columns": {
          "type": "array",
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "items": {
            "$ref": "ReportApiColumnSpec"
          }
        },
        "timeRange": {
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "type": "object",
          "properties": {
            "changedAttributesSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work."
            },
            "endDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            },
            "startDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            },
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            }
          }
        },
        "maxRowsPerFile": {
          "type": "integer",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "format": "int32"
        },
        "filters": {
          "items": {
            "type": "object",
            "properties": {
              "values": {
                "type": "array",
                "items": {
                  "type": "any"
                },
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300."
              },
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "operator": {
                "type": "string",
                "description": "Operator to use in the filter. See the filter reference for a list of available operators."
              }
            }
          },
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "type": "array"
        },
        "statisticsCurrency": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "type": "string"
        },
        "downloadFormat": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported."
        },
        "reportType": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type."
        },
        "orderBy": {
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "items": {
            "type": "object",
            "properties": {
              "sortOrder": {
                "type": "string",
                "description": "The sort direction, which is either `ascending` or `descending`."
              },
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column."
              }
            }
          },
          "type": "array"
        }
      },
      "id": "ReportRequest",
      "description": "A request object used to create a DoubleClick Search report."
    },
    "UpdateAvailabilityRequest": {
      "description": "The request to update availability.",
      "id": "UpdateAvailabilityRequest",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "type": "array",
          "description": "The availabilities being requested."
        }
      },
      "type": "object"
    },
    "Conversion": {
      "properties": {
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "customMetric": {
          "type": "array",
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Custom metrics for the conversion."
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "adId": {
          "type": "string",
          "description": "DS ad ID.",
          "format": "int64"
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "format": "int64",
          "type": "string"
        },
        "countMillis": {
          "format": "int64",
          "type": "string",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support."
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of device on which the conversion occurred."
        },
        "criterionId": {
          "format": "int64",
          "description": "DS criterion (keyword) ID.",
          "type": "string"
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        },
        "quantityMillis": {
          "description": "The quantity of this conversion, in millis.",
          "type": "string",
          "format": "int64"
        },
        "dsConversionId": {
          "format": "int64",
          "type": "string",
          "description": "ID that DoubleClick Search generates for each conversion."
        },
        "segmentationType": {
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "conversionModifiedTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "The time at which the conversion was last modified, in epoch millis UTC."
        },
        "agencyId": {
          "format": "int64",
          "type": "string",
          "description": "DS agency ID."
        },
        "productId": {
          "type": "string",
          "description": "The product ID (SKU)."
        },
        "productGroupId": {
          "type": "string",
          "format": "int64",
          "description": "DS product group ID."
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "revenueMicros": {
          "type": "string",
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request."
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "campaignId": {
          "type": "string",
          "description": "DS campaign ID.",
          "format": "int64"
        },
        "engineAccountId": {
          "format": "int64",
          "description": "DS engine account ID.",
          "type": "string"
        },
        "customDimension": {
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "items": {
            "$ref": "CustomDimension"
          },
          "type": "array"
        },
        "type": {
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`).",
          "type": "string"
        },
        "clickId": {
          "type": "string",
          "description": "DS click ID for the conversion."
        },
        "segmentationId": {
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64"
        },
        "conversionTimestamp": {
          "type": "string",
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "adGroupId": {
          "type": "string",
          "description": "DS ad group ID.",
          "format": "int64"
        },
        "productCountry": {
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.",
          "type": "string"
        },
        "conversionId": {
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        }
      },
      "id": "Conversion",
      "description": "A conversion containing data relevant to DoubleClick Search.",
      "type": "object"
    },
    "CustomDimension": {
      "id": "CustomDimension",
      "description": "A message containing the custom dimension.",
      "properties": {
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Custom dimension name."
        }
      },
      "type": "object"
    },
    "IdMappingFile": {
      "properties": {},
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "type": "object",
      "id": "IdMappingFile"
    },
    "SavedColumnList": {
      "properties": {
        "items": {
          "description": "The saved columns being requested.",
          "type": "array",
          "items": {
            "$ref": "SavedColumn"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList."
        }
      },
      "id": "SavedColumnList",
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "type": "object"
    },
    "Availability": {
      "properties": {
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "segmentationType": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`)."
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "agencyId": {
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "description": "DS agency ID."
        },
        "availabilityTimestamp": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "format": "int64"
        },
        "segmentationId": {
          "type": "string",
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        },
        "advertiserId": {
          "format": "int64",
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string"
        }
      },
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "type": "object",
      "id": "Availability"
    },
    "ReportApiColumnSpec": {
      "description": "A request object used to create a DoubleClick Search report.",
      "id": "ReportApiColumnSpec",
      "type": "object",
      "properties": {
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        },
        "groupByColumn": {
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`.",
          "type": "boolean"
        },
        "platformSource": {
          "type": "string",
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\"."
        },
        "customDimensionName": {
          "type": "string",
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report."
        },
        "endDate": {
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`.",
          "type": "string"
        },
        "customMetricName": {
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`."
        },
        "headerText": {
          "type": "string",
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name."
        }
      }
    },
    "CustomMetric": {
      "id": "CustomMetric",
      "type": "object",
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "Custom metric numeric value."
        },
        "name": {
          "type": "string",
          "description": "Custom metric name."
        }
      },
      "description": "A message containing the custom metric."
    },
    "ReportRow": {
      "type": "object",
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any"
      },
      "description": "A row in a DoubleClick Search report.",
      "id": "ReportRow"
    },
    "Report": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Asynchronous report only. Id of the report."
        },
        "isReportReady": {
          "type": "boolean",
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`."
        },
        "rows": {
          "items": {
            "$ref": "ReportRow"
          },
          "description": "Synchronous report only. Generated report rows.",
          "type": "array"
        },
        "statisticsTimeZone": {
          "type": "string",
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset."
        },
        "rowCount": {
          "type": "integer",
          "description": "The number of report rows generated by the report, not including headers.",
          "format": "int32"
        },
        "files": {
          "items": {
            "type": "object",
            "properties": {
              "byteCount": {
                "type": "string",
                "format": "int64",
                "description": "The size of this report file in bytes."
              },
              "url": {
                "type": "string",
                "description": "Use this url to download the report file."
              }
            }
          },
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "type": "array"
        },
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "statisticsCurrencyCode": {
          "type": "string",
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request."
        }
      },
      "id": "Report",
      "type": "object",
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files."
    }
  },
  "revision": "20221025",
  "id": "doubleclicksearch:v2",
  "kind": "discovery#restDescription",
  "resources": {
    "conversion": {
      "methods": {
        "insert": {
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "id": "doubleclicksearch.conversion.insert",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "ConversionList"
          },
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [],
          "flatPath": "doubleclicksearch/v2/conversion",
          "httpMethod": "POST",
          "path": "doubleclicksearch/v2/conversion"
        },
        "update": {
          "request": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.update",
          "response": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/conversion",
          "path": "doubleclicksearch/v2/conversion",
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Updates a batch of conversions in DoubleClick Search."
        },
        "updateAvailability": {
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "id": "doubleclicksearch.conversion.updateAvailability",
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "parameters": {},
          "httpMethod": "POST",
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          }
        },
        "get": {
          "parameters": {
            "rowCount": {
              "required": true,
              "location": "query",
              "minimum": "1",
              "type": "integer",
              "format": "int32",
              "description": "The number of conversions to return per call.",
              "maximum": "1000"
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "startDate": {
              "format": "int32",
              "required": true,
              "type": "integer",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "maximum": "99991231",
              "minimum": "20091101"
            },
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the advertiser.",
              "required": true,
              "location": "path"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "criterionId": {
              "format": "int64",
              "description": "Numeric ID of the criterion.",
              "type": "string",
              "location": "query"
            },
            "adGroupId": {
              "type": "string",
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "format": "int64"
            },
            "campaignId": {
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the campaign.",
              "type": "string"
            },
            "endDate": {
              "minimum": "20091101",
              "required": true,
              "maximum": "99991231",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "adId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the ad."
            },
            "startRow": {
              "format": "uint32",
              "location": "query",
              "required": true,
              "type": "integer",
              "description": "The 0-based starting index for retrieving conversions results."
            }
          },
          "id": "doubleclicksearch.conversion.get",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "response": {
            "$ref": "ConversionList"
          },
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account."
        },
        "GetCustomerId": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameters": {
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "customerId": {
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "required": true,
              "location": "path"
            },
            "adId": {
              "type": "string",
              "location": "query",
              "description": "Numeric ID of the ad.",
              "format": "int64"
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "adGroupId": {
              "location": "query",
              "description": "Numeric ID of the ad group.",
              "type": "string",
              "format": "int64"
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "criterionId": {
              "type": "string",
              "description": "Numeric ID of the criterion.",
              "format": "int64",
              "location": "query"
            },
            "endDate": {
              "required": true,
              "format": "int32",
              "minimum": "20091101",
              "maximum": "99991231",
              "location": "query",
              "type": "integer",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd."
            },
            "startRow": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "The 0-based starting index for retrieving conversions results.",
              "required": true
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "startDate": {
              "maximum": "99991231",
              "minimum": "20091101",
              "format": "int32",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "type": "integer",
              "location": "query",
              "required": true
            },
            "rowCount": {
              "required": true,
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The number of conversions to return per call.",
              "maximum": "1000",
              "minimum": "1"
            }
          },
          "response": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.GetCustomerId",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account."
        }
      }
    },
    "savedColumns": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "agencyId": {
              "description": "DS ID of the agency.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "advertiserId": {
              "location": "path",
              "description": "DS ID of the advertiser.",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "id": "doubleclicksearch.savedColumns.list",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "httpMethod": "GET",
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "response": {
            "$ref": "SavedColumnList"
          }
        }
      }
    },
    "reports": {
      "methods": {
        "generate": {
          "parameterOrder": [],
          "request": {
            "$ref": "ReportRequest"
          },
          "parameters": {},
          "description": "Generates and returns a report immediately.",
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "POST",
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/reports/generate",
          "id": "doubleclicksearch.reports.generate"
        },
        "getFile": {
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "parameters": {
            "reportFragment": {
              "description": "The index of the report fragment to download.",
              "type": "integer",
              "location": "path",
              "required": true,
              "format": "int32",
              "minimum": "0"
            },
            "reportId": {
              "type": "string",
              "location": "path",
              "description": "ID of the report.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.getFile",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "supportsMediaDownload": true,
          "description": "Downloads a report file encoded in UTF-8.",
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}"
        },
        "request": {
          "path": "doubleclicksearch/v2/reports",
          "parameters": {},
          "response": {
            "$ref": "Report"
          },
          "id": "doubleclicksearch.reports.request",
          "description": "Inserts a report request into the reporting system.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "ReportRequest"
          },
          "httpMethod": "POST",
          "flatPath": "doubleclicksearch/v2/reports",
          "parameterOrder": []
        },
        "getIdMappingFile": {
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "response": {
            "$ref": "IdMappingFile"
          },
          "parameters": {
            "agencyId": {
              "required": true,
              "description": "Legacy SA360 agency ID.",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Legacy SA360 advertiser ID.",
              "location": "path"
            }
          },
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "supportsMediaDownload": true
        },
        "get": {
          "response": {
            "$ref": "Report"
          },
          "id": "doubleclicksearch.reports.get",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "reportId": {
              "type": "string",
              "required": true,
              "description": "ID of the report request being polled.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "parameterOrder": [
            "reportId"
          ],
          "description": "Polls for the status of a report request.",
          "path": "doubleclicksearch/v2/reports/{reportId}"
        }
      }
    }
  },
  "canonicalName": "Doubleclicksearch",
  "rootUrl": "https://doubleclicksearch.googleapis.com/"
}
