{
  "revision": "20221017",
  "name": "firestore",
  "discoveryVersion": "v1",
  "version_module": true,
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "databases": {
          "methods": {
            "list": {
              "id": "firestore.projects.databases.list",
              "response": {
                "$ref": "GoogleFirestoreAdminV1ListDatabasesResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. A parent name of the form `projects/{project_id}`",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "description": "List all the databases in the project.",
              "httpMethod": "GET",
              "path": "v1/{+parent}/databases",
              "flatPath": "v1/projects/{projectsId}/databases"
            },
            "create": {
              "description": "Create a database.",
              "id": "firestore.projects.databases.create",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/databases",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. A parent name of the form `projects/{project_id}`"
                },
                "databaseId": {
                  "location": "query",
                  "description": "Required. The ID to use for the database, which will become the final component of the database's resource name. This value should be 4-63 characters. Valid characters are /a-z-/ with first character a letter and the last a letter or a number. Must not be UUID-like /[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}/. \"(default)\" database id is also valid.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+parent}/databases",
              "request": {
                "$ref": "GoogleFirestoreAdminV1Database"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "response": {
                "$ref": "GoogleFirestoreAdminV1Database"
              },
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}",
              "path": "v1/{+name}",
              "description": "Gets information about a database.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}`",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "firestore.projects.databases.get",
              "httpMethod": "GET"
            },
            "patch": {
              "description": "Updates a database.",
              "request": {
                "$ref": "GoogleFirestoreAdminV1Database"
              },
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The resource name of the Database. Format: `projects/{project}/databases/{database}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/databases/[^/]+$"
                },
                "updateMask": {
                  "description": "The list of fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "firestore.projects.databases.patch",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "importDocuments": {
              "path": "v1/{+name}:importDocuments",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "id": "firestore.projects.databases.importDocuments",
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:importDocuments",
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the same name are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportDocuments operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Firestore.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "description": "Required. Database to import into. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleFirestoreAdminV1ImportDocumentsRequest"
              }
            },
            "exportDocuments": {
              "id": "firestore.projects.databases.exportDocuments",
              "path": "v1/{+name}:exportDocuments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:exportDocuments",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleFirestoreAdminV1ExportDocumentsRequest"
              },
              "httpMethod": "POST",
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore to another storage system, such as Google Cloud Storage. Recent updates to documents may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage. For more details on export behavior and output format, refer to: https://cloud.google.com/firestore/docs/manage-data/export-import",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Database to export. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "firestore.projects.databases.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firestore.projects.databases.operations.delete",
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}",
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "id": "firestore.projects.databases.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$"
                    }
                  }
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "id": "firestore.projects.databases.operations.list",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
                }
              }
            },
            "documents": {
              "methods": {
                "runQuery": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runQuery",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "RunQueryResponse"
                  },
                  "description": "Runs a query.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "request": {
                    "$ref": "RunQueryRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firestore.projects.databases.documents.runQuery",
                  "path": "v1/{+parent}:runQuery"
                },
                "write": {
                  "httpMethod": "POST",
                  "path": "v1/{+database}/documents:write",
                  "parameters": {
                    "database": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`. This is only required in the first message.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "WriteResponse"
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "id": "firestore.projects.databases.documents.write",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Streams batches of document updates and deletes, in order.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:write",
                  "request": {
                    "$ref": "WriteRequest"
                  }
                },
                "batchGet": {
                  "description": "Gets multiple documents. Documents returned by this method are not guaranteed to be returned in the same order that they were requested.",
                  "parameterOrder": [
                    "database"
                  ],
                  "path": "v1/{+database}/documents:batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "database": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`."
                    }
                  },
                  "id": "firestore.projects.databases.documents.batchGet",
                  "request": {
                    "$ref": "BatchGetDocumentsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:batchGet",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "BatchGetDocumentsResponse"
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "repeated": true,
                      "location": "query",
                      "type": "string"
                    },
                    "currentDocument.exists": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist."
                    },
                    "name": {
                      "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "location": "path"
                    },
                    "mask.fieldPaths": {
                      "repeated": true,
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string",
                      "location": "query"
                    },
                    "currentDocument.updateTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string",
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned."
                    }
                  },
                  "description": "Updates or inserts a document.",
                  "response": {
                    "$ref": "Document"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "request": {
                    "$ref": "Document"
                  },
                  "httpMethod": "PATCH",
                  "id": "firestore.projects.databases.documents.patch"
                },
                "partitionQuery": {
                  "request": {
                    "$ref": "PartitionQueryRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Partitions a query by returning partition cursors that can be used to run the query in parallel. The returned partition cursors are split points that can be used by RunQuery as starting/end points for the query results.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:partitionQuery",
                  "path": "v1/{+parent}:partitionQuery",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents`. Document resource names are not supported; only database resource names can be specified."
                    }
                  },
                  "response": {
                    "$ref": "PartitionQueryResponse"
                  },
                  "id": "firestore.projects.databases.documents.partitionQuery"
                },
                "commit": {
                  "parameterOrder": [
                    "database"
                  ],
                  "parameters": {
                    "database": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`."
                    }
                  },
                  "path": "v1/{+database}/documents:commit",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:commit",
                  "request": {
                    "$ref": "CommitRequest"
                  },
                  "description": "Commits a transaction, while optionally updating documents.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.commit",
                  "response": {
                    "$ref": "CommitResponse"
                  },
                  "httpMethod": "POST"
                },
                "listCollectionIds": {
                  "path": "v1/{+parent}:listCollectionIds",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent document. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "ListCollectionIdsRequest"
                  },
                  "response": {
                    "$ref": "ListCollectionIdsResponse"
                  },
                  "description": "Lists all the collection IDs underneath a document.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:listCollectionIds",
                  "id": "firestore.projects.databases.documents.listCollectionIds"
                },
                "listDocuments": {
                  "id": "firestore.projects.databases.documents.listDocuments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Lists documents.",
                  "path": "v1/{+parent}/{collectionId}",
                  "parameters": {
                    "readTime": {
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Reads documents as they were at the given time. This may not be older than 270 seconds."
                    },
                    "transaction": {
                      "description": "Reads documents in a transaction.",
                      "type": "string",
                      "location": "query",
                      "format": "byte"
                    },
                    "showMissing": {
                      "location": "query",
                      "description": "If the list should show missing documents. A missing document is a document that does not exist but has sub-documents. These documents will be returned with a key but will not have fields, Document.create_time, or Document.update_time set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "The order to sort results by. For example: `priority desc, name`."
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents$",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of documents to return."
                    },
                    "collectionId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`."
                    },
                    "mask.fieldPaths": {
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "repeated": true
                    }
                  },
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{collectionId}",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The resource name of the Document to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "required": true,
                      "type": "string"
                    },
                    "currentDocument.updateTime": {
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "currentDocument.exists": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist."
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.delete",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "description": "Deletes a document."
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the Document to get. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
                    },
                    "transaction": {
                      "description": "Reads the document in a transaction.",
                      "location": "query",
                      "format": "byte",
                      "type": "string"
                    },
                    "readTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string",
                      "description": "Reads the version of the document at the given time. This may not be older than 270 seconds."
                    },
                    "mask.fieldPaths": {
                      "repeated": true,
                      "location": "query",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.documents.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Gets a single document.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Document"
                  }
                },
                "runAggregationQuery": {
                  "id": "firestore.projects.databases.documents.runAggregationQuery",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}:runAggregationQuery",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runAggregationQuery",
                  "response": {
                    "$ref": "RunAggregationQueryResponse"
                  },
                  "description": "Runs an aggregation query. Rather than producing Document results like Firestore.RunQuery, this API allows running an aggregation to produce a series of AggregationResult server-side. High-Level Example: ``` -- Return the number of documents in table given a filter. SELECT COUNT(*) FROM ( SELECT * FROM k where a = true ); ```",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RunAggregationQueryRequest"
                  }
                },
                "batchWrite": {
                  "request": {
                    "$ref": "BatchWriteRequest"
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "path": "v1/{+database}/documents:batchWrite",
                  "description": "Applies a batch of write operations. The BatchWrite method does not apply the write operations atomically and can apply them out of order. Method does not allow more than one write per document. Each write succeeds or fails independently. See the BatchWriteResponse for the success status of each write. If you require an atomically applied set of writes, use Commit instead.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:batchWrite",
                  "parameters": {
                    "database": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.batchWrite",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "BatchWriteResponse"
                  }
                },
                "listen": {
                  "request": {
                    "$ref": "ListenRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "database": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Listens to changes.",
                  "id": "firestore.projects.databases.documents.listen",
                  "parameterOrder": [
                    "database"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:listen",
                  "response": {
                    "$ref": "ListenResponse"
                  },
                  "path": "v1/{+database}/documents:listen"
                },
                "rollback": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "firestore.projects.databases.documents.rollback",
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:rollback",
                  "request": {
                    "$ref": "RollbackRequest"
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "path": "v1/{+database}/documents:rollback",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Rolls back a transaction."
                },
                "list": {
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "The order to sort results by. For example: `priority desc, name`.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "showMissing": {
                      "type": "boolean",
                      "description": "If the list should show missing documents. A missing document is a document that does not exist but has sub-documents. These documents will be returned with a key but will not have fields, Document.create_time, or Document.update_time set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of documents to return.",
                      "location": "query",
                      "type": "integer"
                    },
                    "transaction": {
                      "location": "query",
                      "format": "byte",
                      "description": "Reads documents in a transaction.",
                      "type": "string"
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "readTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query",
                      "description": "Reads documents as they were at the given time. This may not be older than 270 seconds."
                    },
                    "collectionId": {
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Lists documents.",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "path": "v1/{+parent}/{collectionId}",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}/{collectionId}",
                  "id": "firestore.projects.databases.documents.list"
                },
                "beginTransaction": {
                  "description": "Starts a new transaction.",
                  "parameterOrder": [
                    "database"
                  ],
                  "id": "firestore.projects.databases.documents.beginTransaction",
                  "path": "v1/{+database}/documents:beginTransaction",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "BeginTransactionResponse"
                  },
                  "request": {
                    "$ref": "BeginTransactionRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:beginTransaction"
                },
                "createDocument": {
                  "response": {
                    "$ref": "Document"
                  },
                  "parameters": {
                    "documentId": {
                      "description": "The client-assigned document ID to use for this document. Optional. If not specified, an ID will be assigned by the service.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource. For example: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/chatrooms/{chatroom_id}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/.*$",
                      "type": "string",
                      "location": "path"
                    },
                    "mask.fieldPaths": {
                      "repeated": true,
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "type": "string"
                    },
                    "collectionId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms`.",
                      "required": true
                    }
                  },
                  "description": "Creates a new document.",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "request": {
                    "$ref": "Document"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/{collectionId}",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{collectionId}",
                  "id": "firestore.projects.databases.documents.createDocument"
                }
              }
            },
            "collectionGroups": {
              "resources": {
                "indexes": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/indexes",
                      "httpMethod": "GET",
                      "description": "Lists composite indexes.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`"
                        },
                        "filter": {
                          "description": "The filter to apply to list results.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A page token, returned from a previous call to FirestoreAdmin.ListIndexes, that may be used to get the next page of results."
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "The number of results to return."
                        }
                      },
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1ListIndexesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                      "id": "firestore.projects.databases.collectionGroups.indexes.list"
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1Index"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$",
                          "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`"
                        }
                      },
                      "id": "firestore.projects.databases.collectionGroups.indexes.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "description": "Gets a composite index."
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$",
                          "required": true,
                          "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "id": "firestore.projects.databases.collectionGroups.indexes.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes a composite index."
                    },
                    "create": {
                      "id": "firestore.projects.databases.collectionGroups.indexes.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/indexes",
                      "description": "Creates a composite index. This returns a google.longrunning.Operation which may be used to track the status of the creation. The metadata for the operation will be the type IndexOperationMetadata.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1Index"
                      },
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    }
                  }
                },
                "fields": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                          "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_id}`",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": "Gets the metadata and configuration for a Field.",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1Field"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "id": "firestore.projects.databases.collectionGroups.fields.get",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "id": "firestore.projects.databases.collectionGroups.fields.patch",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1Field"
                      },
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "A mask, relative to the field. If specified, only configuration specified by this field_mask will be updated in the field.",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                          "required": true,
                          "description": "Required. A field name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}` A field path may be a simple field name, e.g. `address` or a path to fields within map_value , e.g. `address.city`, or a special field path. The only valid special field is `*`, which represents any field. Field paths may be quoted using ` (backtick). The only character that needs to be escaped within a quoted field path is the backtick character itself, escaped using a backslash. Special characters in field paths that must be quoted include: `*`, `.`, ``` (backtick), `[`, `]`, as well as any ascii symbolic characters. Examples: (Note: Comments here are written in markdown syntax, so there is an additional layer of backticks to represent a code block) `\\`address.city\\`` represents a field named `address.city`, not the map key `city` in the field `address`. `\\`*\\`` represents a field named `*`, not any field. A special `Field` contains the default indexing settings for all fields. This field's resource name is: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*` Indexes defined on this `Field` will be applied to all fields which do not have their own `Field` index configuration."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates a field configuration. Currently, field updates apply only to single field index configuration. However, calls to FirestoreAdmin.UpdateField should provide a field mask to avoid changing any configuration that the caller isn't aware of. The field mask should be specified as: `{ paths: \"index_config\" }`. This call returns a google.longrunning.Operation which may be used to track the status of the field update. The metadata for the operation will be the type FieldOperationMetadata. To configure the default field settings for the database, use the special `Field` with resource name: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*`.",
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "firestore.projects.databases.collectionGroups.fields.list",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, returned from a previous call to FirestoreAdmin.ListFields, that may be used to get the next page of results.",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "The filter to apply to list results. Currently, FirestoreAdmin.ListFields only supports listing fields that have been explicitly overridden. To issue this query, call FirestoreAdmin.ListFields with a filter that includes `indexConfig.usesAncestorConfig:false` ."
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of results to return.",
                          "location": "query"
                        }
                      },
                      "description": "Lists the field configuration and metadata for this database. Currently, FirestoreAdmin.ListFields only supports listing fields that have been explicitly overridden. To issue this query, call FirestoreAdmin.ListFields with the filter set to `indexConfig.usesAncestorConfig:false` .",
                      "path": "v1/{+parent}/fields",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1ListFieldsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields"
                    }
                  }
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "id": "firestore.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET"
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "id": "firestore.projects.locations.get"
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/firestore",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://firestore.googleapis.com/",
  "canonicalName": "Firestore",
  "mtlsRootUrl": "https://firestore.mtls.googleapis.com/",
  "title": "Cloud Firestore API",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "basePath": "",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://firestore.googleapis.com/",
  "protocol": "rest",
  "version": "v1",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "firestore:v1",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "description": "Accesses the NoSQL document database built for automatic scaling, high performance, and ease of application development. ",
  "schemas": {
    "Cursor": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Value"
          },
          "description": "The values that represent a position, in the order they appear in the order by clause of a query. Can contain fewer values than specified in the order by clause."
        },
        "before": {
          "description": "If the position is just before or just after the given values, relative to the sort order defined by the query.",
          "type": "boolean"
        }
      },
      "id": "Cursor",
      "type": "object",
      "description": "A position in a query result set."
    },
    "Document": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The time at which the document was last changed. This value is initially set to the `create_time` then increases monotonically with each change to the document. It can also be compared to values from other documents and the `read_time` of a query.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the document was created. This value increases monotonically when a document is deleted then recreated. It can also be compared to values from other documents and the `read_time` of a query."
        },
        "fields": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The document's fields. The map keys represent field names. A simple field name contains only characters `a` to `z`, `A` to `Z`, `0` to `9`, or `_`, and must not start with `0` to `9`. For example, `foo_bar_17`. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty. Field paths may be used in other contexts to refer to structured fields defined here. For `map_value`, the field path is represented by the simple or quoted field names of the containing fields, delimited by `.`. For example, the structured field `\"foo\" : { map_value: { \"x&y\" : { string_value: \"hello\" }}}` would be represented by the field path `foo.x&y`. Within a field path, a quoted field name starts and ends with `` ` `` and may contain any character. Some characters, including `` ` ``, must be escaped using a `\\`. For example, `` `x&y` `` represents `x&y` and `` `bak\\`tik` `` represents `` bak`tik ``."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        }
      },
      "description": "A Firestore document. Must not exceed 1 MiB - 4 bytes.",
      "id": "Document"
    },
    "DocumentsTarget": {
      "type": "object",
      "properties": {
        "documents": {
          "items": {
            "type": "string"
          },
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "type": "array"
        }
      },
      "description": "A target specified by a set of documents names.",
      "id": "DocumentsTarget"
    },
    "ListenResponse": {
      "id": "ListenResponse",
      "type": "object",
      "properties": {
        "documentRemove": {
          "$ref": "DocumentRemove",
          "description": "A Document has been removed from a target (because it is no longer relevant to that target)."
        },
        "documentChange": {
          "description": "A Document has changed.",
          "$ref": "DocumentChange"
        },
        "filter": {
          "description": "A filter to apply to the set of documents previously returned for the given target. Returned when documents may have been removed from the given target, but the exact documents are unknown.",
          "$ref": "ExistenceFilter"
        },
        "documentDelete": {
          "description": "A Document has been deleted.",
          "$ref": "DocumentDelete"
        },
        "targetChange": {
          "description": "Targets have changed.",
          "$ref": "TargetChange"
        }
      },
      "description": "The response for Firestore.Listen."
    },
    "FieldFilter": {
      "type": "object",
      "id": "FieldFilter",
      "description": "A filter on a specific field.",
      "properties": {
        "field": {
          "$ref": "FieldReference",
          "description": "The field to filter by."
        },
        "value": {
          "description": "The value to compare to.",
          "$ref": "Value"
        },
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is less than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is less than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is equal to the given `value`.",
            "The given `field` is not equal to the given `value`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is an array that contains the given `value`.",
            "The given `field` is equal to at least one value in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN` or `ARRAY_CONTAINS_ANY` or `NOT_IN`.",
            "The given `field` is an array that contains any of the values in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN` or `ARRAY_CONTAINS_ANY` or `NOT_IN`.",
            "The value of the `field` is not in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN`, `ARRAY_CONTAINS_ANY`, `NOT_IN`, `NOT_EQUAL`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "NOT_EQUAL",
            "ARRAY_CONTAINS",
            "IN",
            "ARRAY_CONTAINS_ANY",
            "NOT_IN"
          ],
          "description": "The operator to filter by.",
          "type": "string"
        }
      }
    },
    "GoogleFirestoreAdminV1Progress": {
      "description": "Describes the progress of the operation. Unit of work is generic and must be interpreted based on where Progress is used.",
      "properties": {
        "estimatedWork": {
          "description": "The amount of work estimated.",
          "type": "string",
          "format": "int64"
        },
        "completedWork": {
          "format": "int64",
          "description": "The amount of work completed.",
          "type": "string"
        }
      },
      "id": "GoogleFirestoreAdminV1Progress",
      "type": "object"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "id": "GoogleLongrunningCancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "PartitionQueryRequest": {
      "description": "The request for Firestore.PartitionQuery.",
      "type": "object",
      "id": "PartitionQueryRequest",
      "properties": {
        "structuredQuery": {
          "$ref": "StructuredQuery",
          "description": "A structured query. Query must specify collection with all descendants and be ordered by name ascending. Other filters, order bys, limits, offsets, and start/end cursors are not supported."
        },
        "partitionCount": {
          "description": "The desired maximum number of partition points. The partitions may be returned across multiple pages of results. The number must be positive. The actual number of partitions returned may be fewer. For example, this may be set to one fewer than the number of parallel queries to be run, or in running a data pipeline job, one fewer than the number of workers or compute instances available.",
          "format": "int64",
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This may not be older than 270 seconds."
        },
        "pageToken": {
          "description": "The `next_page_token` value returned from a previous call to PartitionQuery that may be used to get an additional set of results. There are no ordering guarantees between sets of results. Thus, using multiple sets of results will require merging the different result sets. For example, two subsequent calls using a page_token may return: * cursor B, cursor M, cursor Q * cursor A, cursor U, cursor W To obtain a complete result set ordered with respect to the results of the query supplied to PartitionQuery, the results sets should be merged: cursor A, cursor B, cursor M, cursor Q, cursor U, cursor W",
          "type": "string"
        },
        "pageSize": {
          "description": "The maximum number of partitions to return in this call, subject to `partition_count`. For example, if `partition_count` = 10 and `page_size` = 8, the first call to PartitionQuery will return up to 8 partitions and a `next_page_token` if more results exist. A second call to PartitionQuery will return up to 2 partitions, to complete the total of 10 specified in `partition_count`.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleFirestoreAdminV1IndexOperationMetadata": {
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.CreateIndex.",
      "type": "object",
      "properties": {
        "state": {
          "description": "The state of the operation.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string"
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in documents, of this operation."
        },
        "index": {
          "description": "The index resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation completed. Will be unset if operation still in progress."
        },
        "startTime": {
          "description": "The time this operation started.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleFirestoreAdminV1IndexOperationMetadata"
    },
    "GoogleFirestoreAdminV1ExportDocumentsMetadata": {
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.ExportDocuments.",
      "id": "GoogleFirestoreAdminV1ExportDocumentsMetadata",
      "type": "object",
      "properties": {
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "startTime": {
          "type": "string",
          "description": "The time this operation started.",
          "format": "google-datetime"
        },
        "operationState": {
          "description": "The state of the export operation.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string"
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in documents, of this operation."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "type": "string"
        },
        "collectionIds": {
          "description": "Which collection ids are being exported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputUriPrefix": {
          "type": "string",
          "description": "Where the entities are being exported to."
        }
      }
    },
    "ListDocumentsResponse": {
      "type": "object",
      "properties": {
        "documents": {
          "items": {
            "$ref": "Document"
          },
          "description": "The Documents found.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token."
        }
      },
      "description": "The response for Firestore.ListDocuments.",
      "id": "ListDocumentsResponse"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "WriteRequest": {
      "type": "object",
      "description": "The request for Firestore.Write. The first request creates a stream, or resumes an existing one from a token. When creating a new stream, the server replies with a response containing only an ID and a token, to use in the next request. When resuming a stream, the server first streams any responses later than the given token, then a response containing only an up-to-date token, to use in the next request.",
      "properties": {
        "streamId": {
          "type": "string",
          "description": "The ID of the write stream to resume. This may only be set in the first message. When left empty, a new write stream will be created."
        },
        "streamToken": {
          "format": "byte",
          "type": "string",
          "description": "A stream token that was previously sent by the server. The client should set this field to the token from the most recent WriteResponse it has received. This acknowledges that the client has received responses up to this token. After sending this token, earlier tokens may not be used anymore. The server may close the stream if there are too many unacknowledged responses. Leave this field unset when creating a new stream. To resume a stream at a specific point, set this field and the `stream_id` field. Leave this field unset when creating a new stream."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this write request.",
          "type": "object"
        },
        "writes": {
          "type": "array",
          "items": {
            "$ref": "Write"
          },
          "description": "The writes to apply. Always executed atomically and in order. This must be empty on the first request. This may be empty on the last request. This must not be empty on all other requests."
        }
      },
      "id": "WriteRequest"
    },
    "GoogleFirestoreAdminV1ImportDocumentsRequest": {
      "description": "The request for FirestoreAdmin.ImportDocuments.",
      "id": "GoogleFirestoreAdminV1ImportDocumentsRequest",
      "type": "object",
      "properties": {
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "description": "Which collection ids to import. Unspecified means all collections included in the import.",
          "type": "array"
        },
        "namespaceIds": {
          "description": "An empty list represents all namespaces. This is the preferred usage for databases that don't use namespaces. An empty string element represents the default namespace. This should be used if the database has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inputUriPrefix": {
          "type": "string",
          "description": "Location of the exported files. This must match the output_uri_prefix of an ExportDocumentsResponse from an export that has completed successfully. See: google.firestore.admin.v1.ExportDocumentsResponse.output_uri_prefix."
        }
      }
    },
    "DocumentTransform": {
      "description": "A transformation of a document.",
      "id": "DocumentTransform",
      "properties": {
        "document": {
          "type": "string",
          "description": "The name of the document to transform."
        },
        "fieldTransforms": {
          "description": "The list of transformations to apply to the fields of the document, in order. This must not be empty.",
          "type": "array",
          "items": {
            "$ref": "FieldTransform"
          }
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1IndexConfig": {
      "id": "GoogleFirestoreAdminV1IndexConfig",
      "type": "object",
      "properties": {
        "indexes": {
          "description": "The indexes supported for this field.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Index"
          }
        },
        "reverting": {
          "type": "boolean",
          "description": "Output only When true, the `Field`'s index configuration is in the process of being reverted. Once complete, the index config will transition to the same state as the field specified by `ancestor_field`, at which point `uses_ancestor_config` will be `true` and `reverting` will be `false`."
        },
        "usesAncestorConfig": {
          "description": "Output only. When true, the `Field`'s index configuration is set from the configuration specified by the `ancestor_field`. When false, the `Field`'s index configuration is defined explicitly.",
          "type": "boolean"
        },
        "ancestorField": {
          "type": "string",
          "description": "Output only. Specifies the resource name of the `Field` from which this field's index configuration is set (when `uses_ancestor_config` is true), or from which it *would* be set if this field had no index configuration (when `uses_ancestor_config` is false)."
        }
      },
      "description": "The index configuration for this field."
    },
    "GoogleFirestoreAdminV1ListIndexesResponse": {
      "description": "The response for FirestoreAdmin.ListIndexes.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1ListIndexesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A page token that may be used to request another page of results. If blank, this is the last page."
        },
        "indexes": {
          "items": {
            "$ref": "GoogleFirestoreAdminV1Index"
          },
          "description": "The requested indexes.",
          "type": "array"
        }
      }
    },
    "StructuredQuery": {
      "type": "object",
      "description": "A Firestore query.",
      "properties": {
        "endAt": {
          "$ref": "Cursor",
          "description": "A potential prefix of a position in the result set to end the query at. This is similar to `START_AT` but with it controlling the end position rather than the start position. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause."
        },
        "from": {
          "description": "The collections to query.",
          "type": "array",
          "items": {
            "$ref": "CollectionSelector"
          }
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of results to return. Applies after all other constraints. Requires: * The value must be greater than or equal to zero if specified."
        },
        "offset": {
          "description": "The number of documents to skip before returning the first result. This applies after the constraints specified by the `WHERE`, `START AT`, & `END AT` but before the `LIMIT` clause. Requires: * The value must be greater than or equal to zero if specified.",
          "type": "integer",
          "format": "int32"
        },
        "select": {
          "$ref": "Projection",
          "description": "The projection to return."
        },
        "startAt": {
          "description": "A potential prefix of a position in the result set to start the query at. The ordering of the result set is based on the `ORDER BY` clause of the original query. ``` SELECT * FROM k WHERE a = 1 AND b \u003e 2 ORDER BY b ASC, __name__ ASC; ``` This query's results are ordered by `(b ASC, __name__ ASC)`. Cursors can reference either the full ordering or a prefix of the location, though it cannot reference more fields than what are in the provided `ORDER BY`. Continuing off the example above, attaching the following start cursors will have varying impact: - `START BEFORE (2, /k/123)`: start the query right before `a = 1 AND b \u003e 2 AND __name__ \u003e /k/123`. - `START AFTER (10)`: start the query right after `a = 1 AND b \u003e 10`. Unlike `OFFSET` which requires scanning over the first N results to skip, a start cursor allows the query to begin at a logical position. This position is not required to match an actual result, it will scan forward from this position to find the next document. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause.",
          "$ref": "Cursor"
        },
        "where": {
          "$ref": "Filter",
          "description": "The filter to apply."
        },
        "orderBy": {
          "type": "array",
          "items": {
            "$ref": "Order"
          },
          "description": "The order to apply to the query results. Firestore allows callers to provide a full ordering, a partial ordering, or no ordering at all. In all cases, Firestore guarantees a stable ordering through the following rules: * The `order_by` is required to reference all fields used with an inequality filter. * All fields that are required to be in the `order_by` but are not already present are appended in lexicographical ordering of the field name. * If an order on `__name__` is not specified, it is appended by default. Fields are appended with the same sort direction as the last order specified, or 'ASCENDING' if no order was specified. For example: * `ORDER BY a` becomes `ORDER BY a ASC, __name__ ASC` * `ORDER BY a DESC` becomes `ORDER BY a DESC, __name__ DESC` * `WHERE a \u003e 1` becomes `WHERE a \u003e 1 ORDER BY a ASC, __name__ ASC` * `WHERE __name__ \u003e ... AND a \u003e 1` becomes `WHERE __name__ \u003e ... AND a \u003e 1 ORDER BY a ASC, __name__ ASC`"
        }
      },
      "id": "StructuredQuery"
    },
    "ListCollectionIdsRequest": {
      "id": "ListCollectionIdsRequest",
      "description": "The request for Firestore.ListCollectionIds.",
      "type": "object",
      "properties": {
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of results to return."
        },
        "pageToken": {
          "type": "string",
          "description": "A page token. Must be a value from ListCollectionIdsResponse."
        },
        "readTime": {
          "description": "Reads documents as they were at the given time. This may not be older than 270 seconds.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "RunAggregationQueryRequest": {
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "Run the aggregation within an already active transaction. The value here is the opaque transaction ID to execute the query in."
        },
        "structuredAggregationQuery": {
          "$ref": "StructuredAggregationQuery",
          "description": "An aggregation query."
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Executes the query at the given timestamp. Requires: * Cannot be more than 270 seconds in the past."
        },
        "newTransaction": {
          "$ref": "TransactionOptions",
          "description": "Starts a new transaction as part of the query, defaulting to read-only. The new transaction ID will be returned as the first response in the stream."
        }
      },
      "type": "object",
      "id": "RunAggregationQueryRequest",
      "description": "The request for Firestore.RunAggregationQuery."
    },
    "BeginTransactionRequest": {
      "type": "object",
      "id": "BeginTransactionRequest",
      "properties": {
        "options": {
          "description": "The options for the transaction. Defaults to a read-write transaction.",
          "$ref": "TransactionOptions"
        }
      },
      "description": "The request for Firestore.BeginTransaction."
    },
    "Count": {
      "properties": {
        "upTo": {
          "format": "int64",
          "description": "Optional. Optional constraint on the maximum number of documents to count. This provides a way to set an upper bound on the number of documents to scan, limiting latency and cost. Unspecified is interpreted as no bound. High-Level Example: ``` AGGREGATE COUNT_UP_TO(1000) OVER ( SELECT * FROM k ); ``` Requires: * Must be greater than zero when present.",
          "type": "string"
        }
      },
      "id": "Count",
      "type": "object",
      "description": "Count of documents that match the query. The `COUNT(*)` aggregation function operates on the entire document so it does not require a field reference."
    },
    "ListCollectionIdsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A page token that may be used to continue the list.",
          "type": "string"
        },
        "collectionIds": {
          "type": "array",
          "description": "The collection ids.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListCollectionIdsResponse",
      "type": "object",
      "description": "The response from Firestore.ListCollectionIds."
    },
    "GoogleFirestoreAdminV1ExportDocumentsResponse": {
      "description": "Returned in the google.longrunning.Operation response field.",
      "id": "GoogleFirestoreAdminV1ExportDocumentsResponse",
      "properties": {
        "outputUriPrefix": {
          "description": "Location of the output files. This can be used to begin an import into Cloud Firestore (this project or another project) after the operation completes successfully.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DocumentMask": {
      "properties": {
        "fieldPaths": {
          "items": {
[...]
