{
  "discoveryVersion": "v1",
  "version_module": true,
  "basePath": "",
  "title": "Application Integration API",
  "description": "",
  "rootUrl": "https://integrations.googleapis.com/",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest": {
      "type": "object",
      "description": "Request for DeactivateIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest",
      "properties": {}
    },
    "EnterpriseCrmEventbusProtoWorkflowAlertConfig": {
      "type": "object",
      "properties": {
        "alertName": {
          "type": "string",
          "description": "A name to identify this alert. This will be displayed in the alert subject. If set, this name should be unique within the scope of the workflow."
        },
        "playbookUrl": {
          "description": "Link to a playbook for resolving the issue that triggered this alert.",
          "type": "string"
        },
        "thresholdType": {
          "description": "The threshold type, whether lower(expected_min) or upper(expected_max), for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "enum": [
            "UNSPECIFIED_THRESHOLD_TYPE",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Note that this field will only trigger alerts if the workflow specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours.",
            ""
          ]
        },
        "numAggregationPeriods": {
          "type": "integer",
          "format": "int32",
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired."
        },
        "warningEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "durationThresholdMs": {
          "description": "Should be specified only for *AVERAGE_DURATION and *PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger.",
          "format": "int64",
          "type": "string"
        },
        "thresholdValue": {
          "description": "The metric value, above or below which the alert should be triggered. See go/eventbus-alert-config-examples.",
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue"
        },
        "clientId": {
          "type": "string",
          "description": "Client associated with this alert configuration."
        },
        "onlyFinalAttempt": {
          "type": "boolean",
          "description": "For either events or tasks, depending on the type of alert, count only final attempts, not retries."
        },
        "errorEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "alertDisabled": {
          "type": "boolean",
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this workflow alert."
        },
        "aggregationPeriod": {
          "description": "For an EXPECTED_MIN threshold, this aggregation_period must be lesser than 24 hours.",
          "type": "string"
        },
        "metricType": {
          "type": "string",
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors for the enclosing workflow.",
            "Specifies alerting on the rate of warnings for the enclosing workflow. Warnings use the same enum values as errors.",
            "Specifies alerting on the rate of errors for any task in the enclosing workflow.",
            "Specifies alerting on the rate of warnings for any task in the enclosing workflow.",
            "Specifies alerting on the rate of executions over all tasks in the enclosing workflow.",
            "Specifies alerting on the number of events executed in the given aggregation_period.",
            "Specifies alerting on the average duration of executions for this workflow.",
            "Specifies alerting on the duration value of a particular percentile of workflow executions. E.g. If 10% or more of the workflow executions have durations above 5 seconds, alert.",
            "Specifies alerting on the average duration of any task in the enclosing workflow,",
            "Specifies alerting on the duration value of a particular percentile of any task executions within the enclosing workflow. E.g. If 10% or more of the task executions in the workflow have durations above 5 seconds, alert."
          ],
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "EVENT_ERROR_RATE",
            "EVENT_WARNING_RATE",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "EVENT_RATE",
            "EVENT_AVERAGE_DURATION",
            "EVENT_PERCENTILE_DURATION",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ]
        }
      },
      "description": "Message to be used to configure custom alerting in the {@code EventConfig} protos for an event. See go/eventbus-alert-config-examples for examples of the different alerts that can be configured.",
      "id": "EnterpriseCrmEventbusProtoWorkflowAlertConfig"
    },
    "GoogleCloudIntegrationsV1alphaAccessToken": {
      "description": "The access token represents the authorization of a specific application to access specific parts of a user’s data.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaAccessToken",
      "properties": {
        "tokenType": {
          "description": "Only support \"bearer\" token in v1 as bearer token is the predominant type used with OAuth 2.0.",
          "type": "string"
        },
        "refreshTokenExpireTime": {
          "description": "The approximate time until the refresh token retrieved is valid.",
          "type": "string",
          "format": "google-datetime"
        },
        "accessTokenExpireTime": {
          "format": "google-datetime",
          "description": "Required. The approximate time until the access token retrieved is valid.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "If the access token will expire, use the refresh token to obtain another access token."
        },
        "accessToken": {
          "description": "The access token encapsulating the security identity of a process or thread.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringArrayFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringArrayFunction",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse",
      "description": "Response for Suspensions.ResolveSuspensions.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse": {
      "description": "Response to list AuthConfigs.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        },
        "authConfigs": {
          "description": "The list of AuthConfigs retrieved.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuccessPolicy": {
      "id": "EnterpriseCrmEventbusProtoSuccessPolicy",
      "properties": {
        "finalState": {
          "enumDescriptions": [
            "",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ],
          "enum": [
            "UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "type": "string",
          "description": "State to which the execution snapshot status will be set if the task succeeds."
        }
      },
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskUiModuleConfig": {
      "properties": {
        "moduleId": {
          "description": "ID of the config module.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_TASK_MODULE",
            "LABEL",
            "ERROR_HANDLING",
            "TASK_PARAM_TABLE",
            "TASK_PARAM_FORM",
            "PRECONDITION",
            "SCRIPT_EDITOR",
            "RPC",
            "TASK_SUMMARY",
            "SUSPENSION",
            "RPC_TYPED",
            "SUB_WORKFLOW",
            "APPS_SCRIPT_NAVIGATOR",
            "SUB_WORKFLOW_FOR_EACH_LOOP",
            "FIELD_MAPPING",
            "README",
            "REST_CALLER",
            "SUB_WORKFLOW_SCATTER_GATHER",
            "CLOUD_SQL",
            "GENERIC_CONNECTOR_TASK"
          ],
          "enumDescriptions": [
            "Default",
            "Supports editing label of a task config.",
            "Supports editing error handling settings such as retry strategy.",
            "Supports adding, removing and editing task parameter values in a table with little assistance or restriction.",
            "Supports editing values of declared input parameters of a task. Think of it as a \"strongly typed\" upgrade to the TASK_PARAM_TABLE.",
            "Supports editing preconditions of a task config.",
            "Supports adding, editing, and deleting the scripts associated with a script task, as well as modifying the input/output parameters.",
            "Supports editing task parameters associated with an RPC/stubby task.",
            "Contains readonly task information, including input/output type info.",
            "Configures a SuspensionTask.",
            "Configures a GenericStubbyTypedTask.",
            "Configures a SubWorkflowExecutorTask.",
            "Supports navigating to Apps Script editor",
            "Configures a SubWorkflowForEachLoopTask.",
            "Configures a FieldMappingTask.",
            "Contains embedded in-product documentation for a task.",
            "UI widget for the rest caller task.",
            "Configures a SubWorkflowScatterGatherTask.",
            "Configures a CloudSql Task.",
            "Configure a GenericConnectorTask."
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskUiModuleConfig",
      "description": "Task author would use this type to configure a config module.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "properties": {
        "intValues": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoIntParameterArray"
    },
    "GoogleCloudConnectorsV1AuthConfigUserPassword": {
      "id": "GoogleCloudConnectorsV1AuthConfigUserPassword",
      "type": "object",
      "properties": {
        "password": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Secret version reference containing the password."
        },
        "username": {
          "type": "string",
          "description": "Username."
        }
      },
      "description": "Parameters to support Username and Password Authentication."
    },
    "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration": {
      "id": "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration",
      "description": "Expiration configs for the approval request.",
      "properties": {
        "remindTime": {
          "description": "Time after the previous suspension action reminder, if any, is sent using the selected notification option, for a suspension which is still PENDING_UNSPECIFIED.",
          "format": "google-datetime",
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. Time after which the suspension expires, if no action taken.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "liftWhenExpired": {
          "type": "boolean",
          "description": "Whether the suspension will be REJECTED or LIFTED upon expiration. REJECTED is the default behavior."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmLoggingGwsSanitizeOptions": {
      "properties": {
        "sanitizeType": {
          "enum": [
            "SANITIZE_TYPE_UNSPECIFIED",
            "SCRUB",
            "ANONYMIZE",
            "ANONYMIZE_LIMITED_REPEATABLE",
            "OBFUSCATE",
            "ENCRYPT",
            "DO_NOT_SANITIZE"
          ],
          "enumDescriptions": [
            "",
            "Replace value with a scrubbed value (usu. a constant).",
            "Transform a value so that it cannot be tracked across events. However, a given value, is transformed to the same value *within* an event. E.g., \"foo.com\" is transformed to \"0xabcdef\" for event 1001, and to \"0xfedcba\" for event 1002.",
            "Transform values as with ANONYMIZER, but the same transformation is repeated for a limited time (e.g., 1 day).",
            "The value is transformed using a well-defined obfuscator (e.g., D3_CUSTOMER_ID).",
            "The value is encrypted.",
            "No sanitization is required."
          ],
          "type": "string"
        },
        "isAlreadySanitized": {
          "description": "If true, the value has already been sanitized and needs no further sanitization. For instance, a D3 customer id is already an obfuscated entity and *might not* need further sanitization.",
          "type": "boolean"
        },
        "privacy": {
          "enumDescriptions": [
            "",
            "Field does *NOT* contain PII or sensitive data.",
            "Field contains PII.",
            "Field contains Sensitive PII.",
            "Unsure if field contains PII."
          ],
          "type": "string",
          "enum": [
            "PRIVACY_TYPE_UNSPECIFIED",
            "NOT_PII",
            "PII",
            "SPII",
            "UNSURE"
          ]
        },
        "logType": {
          "description": "To which type(s) of logs the sanitize options apply.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ],
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ]
          },
          "type": "array"
        }
      },
      "description": "Identifies whether a field contains, or may contain, PII or sensitive data, and how to sanitize the field if it does. If a field's privacy type cannot be determined then it is sanitized (e.g., scrubbed). The specific sanitizer implementation is determined by run-time configuration and environment options (e.g., prod vs. qa). next_id: 5",
      "type": "object",
      "id": "EnterpriseCrmLoggingGwsSanitizeOptions"
    },
    "GoogleCloudIntegrationsV1alphaSuccessPolicy": {
      "id": "GoogleCloudIntegrationsV1alphaSuccessPolicy",
      "properties": {
        "finalState": {
          "enumDescriptions": [
            "UNSPECIFIED.",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ],
          "type": "string",
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "enum": [
            "FINAL_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ]
        }
      },
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaDoubleParameterArray": {
      "properties": {
        "doubleValues": {
          "type": "array",
          "description": "Double number array.",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "type": "object",
      "description": "This message only contains a field of double number array.",
      "id": "GoogleCloudIntegrationsV1alphaDoubleParameterArray"
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata": {
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata",
      "description": "Metadata of the execution snapshot.",
      "properties": {
        "task": {
          "description": "the task name associated with this snapshot.",
          "type": "string"
        },
        "taskAttempt": {
          "description": "the task attempt number this snapshot belongs to.",
          "format": "int32",
          "type": "integer"
        },
        "taskNumber": {
          "type": "string",
          "description": "The task number associated with this snapshot."
        },
        "executionAttempt": {
          "type": "integer",
          "description": "the execution attempt number this snapshot belongs to.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoEventBusProperties": {
      "type": "object",
      "properties": {
        "properties": {
          "type": "array",
          "description": "An unordered list of property entries.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoPropertyEntry"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventBusProperties",
      "description": "LINT.IfChange This message is used for storing key value pair properties for each Event / Task in the EventBus. Please see go/cloud-crm-eng/platform/event_bus.md for more details."
    },
    "GoogleCloudIntegrationsV1alphaOidcToken": {
      "id": "GoogleCloudIntegrationsV1alphaOidcToken",
      "type": "object",
      "properties": {
        "tokenExpireTime": {
          "description": "The approximate time until the token retrieved is valid.",
          "format": "google-datetime",
          "type": "string"
        },
        "audience": {
          "type": "string",
          "description": "Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for."
        },
        "serviceAccountEmail": {
          "description": "The service account email to be used as the identity for the token.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "ID token obtained for the service account"
        }
      },
      "description": "OIDC Token"
    },
    "EnterpriseCrmEventbusProtoLogSettings": {
      "description": "The LogSettings define the logging attributes for an event property. These attributes are used to map the property to the parameter in the log proto. Also used to define scrubbing/truncation behavior and PII information. See go/integration-platform/analytics/logging_task.md for details.",
      "id": "EnterpriseCrmEventbusProtoLogSettings",
      "properties": {
        "logFieldName": {
          "type": "string",
          "description": "The name of corresponding logging field of the event property. If omitted, assumes the same name as the event property key."
        },
        "sanitizeOptions": {
          "description": "Contains the scrubbing options, such as whether to scrub, obfuscate, etc.",
          "$ref": "EnterpriseCrmLoggingGwsSanitizeOptions"
        },
        "shorteningLimits": {
          "description": "Contains the field limits for shortening, such as max string length and max array length.",
          "$ref": "EnterpriseCrmLoggingGwsFieldLimits"
        },
        "seedPeriod": {
          "enum": [
            "SEED_PERIOD_UNSPECIFIED",
            "DAY",
            "WEEK",
            "MONTH"
          ],
          "enumDescriptions": [
            "",
            "Sanitized values remain constant for the day of the event.",
            "Sanitized values remain constant for the week of the event; may cross month boundaries.",
            "Sanitized values remain constant for the month of the event."
          ],
          "type": "string"
        },
        "seedScope": {
          "enum": [
            "SEED_SCOPE_UNSPECIFIED",
            "EVENT_NAME",
            "TIME_PERIOD",
            "PARAM_NAME"
          ],
          "enumDescriptions": [
            "",
            "Hash computations include the event name.",
            "Hash computations include a time period.",
            "Hash computations include the param name."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterValueType": {
      "type": "object",
      "properties": {
        "booleanArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray"
        },
        "intValue": {
          "format": "int64",
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "jsonValue": {
          "type": "string"
        },
        "intArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
        },
        "stringValue": {
          "type": "string"
        }
      },
      "description": "To support various types of parameter values. Next available id: 14",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
    },
    "GoogleCloudConnectorsV1NodeConfig": {
      "id": "GoogleCloudConnectorsV1NodeConfig",
      "type": "object",
      "description": "Configuration for the connection.",
      "properties": {
        "maxNodeCount": {
          "description": "Maximum number of nodes in the runtime nodes.",
          "type": "integer",
          "format": "int32"
        },
        "minNodeCount": {
          "format": "int32",
          "description": "Minimum number of nodes in the runtime nodes.",
          "type": "integer"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterMap": {
      "properties": {
        "valueType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string"
        },
        "keyType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string",
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "entries": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParameterMap",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters": {
      "description": "LINT.IfChange This is the frontend version of WorkflowParameters. It's exactly like the backend version except that instead of flattening protobuf parameters and treating every field and subfield of a protobuf parameter as a separate parameter, the fields/subfields of a protobuf parameter will be nested as \"children\" (see 'children' field below) parameters of the parent parameter. Please refer to enterprise/crm/eventbus/proto/workflow_parameters.proto for more information about WorkflowParameters.",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          },
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communiticate between different tasks that are part of the same workflow execution."
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaJwt": {
      "properties": {
        "jwtPayload": {
          "description": "Contains a set of claims. The JWT specification defines seven Registered Claim Names which are the standard fields commonly included in tokens. Custom claims are usually also included, depending on the purpose of the token.",
          "type": "string"
        },
        "jwtHeader": {
          "type": "string",
          "description": "Identifies which algorithm is used to generate the signature."
        },
        "secret": {
          "type": "string",
          "description": "User's pre-shared secret to sign the token."
        },
        "jwt": {
          "type": "string",
          "description": "The token calculated by the header, payload and signature."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaJwt",
      "description": "Represents JSON web token(JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties, enabling the claims to be digitally signed or integrity protected."
    },
    "EnterpriseCrmEventbusProtoCombinedCondition": {
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCondition"
          },
          "description": "A set of individual constituent conditions."
        }
      },
      "type": "object",
      "description": "This message recursively combines constituent conditions using logical AND.",
      "id": "EnterpriseCrmEventbusProtoCombinedCondition"
    },
    "GoogleCloudIntegrationsV1alphaIntParameterArray": {
      "properties": {
        "intValues": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Integer array."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntParameterArray",
      "description": "This message only contains a field of integer array.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "runtimeActionSchemas": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema"
          },
          "description": "Runtime action schemas."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse",
      "description": "Response for listing RuntimeActionSchemas for a specific Connection.",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry": {
      "type": "object",
      "properties": {
        "collectionElementClassName": {
          "type": "string",
          "description": "If it is a collection of objects, this would be the FCQN of every individual element in the collection. If this is \"java.lang.Object\", the parameter is a collection of any type."
        },
        "defaultValue": {
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        },
        "validationRule": {
          "description": "Rule used to validate inputs (individual values and collection elements) for this parameter.",
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule"
        },
        "dataType": {
          "description": "The data type of the parameter.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "required": {
          "type": "boolean",
          "description": "If set, the user must provide an input value for this parameter."
        },
        "jsonSchema": {
          "type": "string",
          "description": "If the data_type is JSON_VALUE, then this will define its schema."
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given task. These parameters must be predefined in the workflow definition.",
          "type": "string"
        },
        "protoDef": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition",
          "description": "Populated if this represents a proto or proto array."
        },
        "className": {
          "description": "The FQCN of the Java object this represents. A string, for example, would be \"java.lang.String\". If this is \"java.lang.Object\", the parameter can be of any type.",
          "type": "string"
        },
        "isOutput": {
          "type": "boolean"
        },
        "config": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryConfig",
          "description": "Optional fields, such as help text and other useful info."
        },
        "isDeprecated": {
          "description": "If set, this entry is deprecated, so further use of this parameter should be prohibited.",
          "type": "boolean"
        }
      },
      "description": "Key-value pair of EventBus task parameters. Next id: 13",
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry"
    },
    "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest": {
      "description": "Request for ValidateIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest",
      "properties": {},
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMapEntry": {
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterMapEntry",
      "description": "Entry is a pair of key and value."
    },
    "GoogleCloudConnectorsV1ConnectionStatus": {
      "description": "ConnectionStatus indicates the state of the connection.",
      "properties": {
        "state": {
          "description": "State.",
          "enumDescriptions": [
            "Connection does not have a state yet.",
            "Connection is being created.",
            "Connection is running and ready for requests.",
            "Connection is stopped.",
            "Connection is being deleted.",
            "Connection is being updated.",
            "Connection is not running due to an error."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR"
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description."
        },
        "status": {
          "type": "string",
          "description": "Status provides detailed information for the state."
        }
      },
      "id": "GoogleCloudConnectorsV1ConnectionStatus",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse": {
      "description": "Response for listing the integration execution snapshot.",
      "id": "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token returned in the previous response."
        },
        "executionSnapshots": {
          "description": "Required. The detailed information for the execution snapshot.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshot"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoField": {
      "id": "EnterpriseCrmEventbusProtoField",
      "properties": {
        "transformExpression": {
          "description": "This is the transform expression to fetch the input field value. for e.g. $param1$.CONCAT('test'). See go/transform-functions-design for more details. Keep points - 1. Only input field can have a transform expression. 2. If a transform expression is provided, reference_key will be ignored. 3. If no value is returned after evaluation of transform expression, default_value can be mapped if provided. 4. The field_type should be the type of the final object returned after the transform expression is evaluated. Scrubs the transform expression before logging as value provided by user so may or may not contain PII or SPII data.",
          "$ref": "EnterpriseCrmEventbusProtoTransformExpression"
        },
        "cardinality": {
          "description": "By default, if the cardinality is unspecified the field is considered required while mapping.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "OPTIONAL"
          ],
          "enumDescriptions": [
            "For fields with unspecified cardinality.",
            "If field cardinality is set to optional, ignore errors if input field value is null or the reference_key is not found."
          ]
        },
        "referenceKey": {
          "description": "This holds the reference key of the workflow or task parameter. 1. Any workflow parameter, for e.g. $workflowParam1$. 2. Any task input or output parameter, for e.g. $task1_param1$. 3. Any workflow or task parameters with subfield references, for e.g., $task1_param1.employee.id$",
          "type": "string"
        },
        "defaultValue": {
          "description": "This holds the default values for the fields. This value is supplied by user so may or may not contain PII or SPII data. This field will be scrubbed using DatapolScrubber#maybeScrub() with go/proto-sanitizer#level3",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "protoDefPath": {
          "type": "string",
          "description": "Optional. The fully qualified proto name (e.g. enterprise.crm.storage.Account). Required for output field of type PROTO_VALUE or PROTO_ARRAY. For e.g., if input field_type is BYTES and output field_type is PROTO_VALUE, then fully qualified proto type url should be provided to parse the input bytes. If field_type is *_ARRAY, then all the converted protos are of the same type."
        },
        "fieldType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string",
          "description": "Specifies the data type of the field."
        }
      },
      "description": "Information about the value and type of the field. Next Id: 8",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse",
      "type": "object",
      "description": "Response for DeactivateIntegrationVersion.",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaParameterMapEntry": {
      "description": "Entry is a pair of key and value.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key of the map entry.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField"
        },
        "value": {
          "description": "Value of the map entry.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaParameterMapEntry"
    },
    "GoogleCloudIntegrationsV1alphaEventParameter": {
      "properties": {
        "value": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus.",
      "id": "GoogleCloudIntegrationsV1alphaEventParameter"
    },
    "GoogleCloudIntegrationsV1alphaCertificate": {
      "id": "GoogleCloudIntegrationsV1alphaCertificate",
      "type": "object",
      "description": "The certificate definition",
      "properties": {
        "validEndTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp after which certificate will expire"
        },
        "description": {
          "type": "string",
          "description": "Description of the certificate"
        },
        "validStartTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp after which certificate will be valid"
        },
        "credentialId": {
          "type": "string",
          "description": "Immutable. Credential id that will be used to register with trawler INTERNAL_ONLY"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Auto generated primary key",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Name of the certificate"
        },
        "certificateStatus": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED"
          ],
          "description": "Status of the certificate",
          "type": "string",
          "enumDescriptions": [
            "Unspecified certificate status",
            "Certificate in active state will be able to use",
            "Certificate in expired state needs to be updated"
          ]
        },
        "rawCertificate": {
          "description": "Input only. Raw client certificate which would be registered with trawler",
          "$ref": "GoogleCloudIntegrationsV1alphaClientCertificate"
        },
        "requestorId": {
          "description": "Immutable. Requestor ID to be used to register certificate with trawler",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterEntry": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterEntry",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition."
        },
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Explicitly getting the type of the parameter."
        }
      },
      "type": "object",
      "description": "Key-value pair of EventBus parameters."
    },
    "EnterpriseCrmEventbusProtoParameterMapField": {
      "description": "Field represents either the key or value in an entry.",
      "id": "EnterpriseCrmEventbusProtoParameterMapField",
      "properties": {
        "referenceKey": {
          "description": "Referencing one of the WF variables.",
          "type": "string"
        },
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTaskConfig": {
      "id": "GoogleCloudIntegrationsV1alphaTaskConfig",
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task.",
      "properties": {
        "taskTemplate": {
          "description": "Optional. Used to define task-template name if task is of type task-template",
          "type": "string"
        },
        "failurePolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.)."
        },
        "synchronousCallFailurePolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post)."
        },
        "jsonValidationOption": {
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in IntegrationParameter.",
            "Validate all potential output JSON parameters against schemas specified in IntegrationParameter.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "description": "Optional. If set, overrides the option configured in the Task implementation class.",
          "enum": [
            "JSON_VALIDATION_OPTION_UNSPECIFIED",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-provided label that is attached to this TaskConfig in the UI."
        },
        "description": {
          "description": "Optional. User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "successPolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuccessPolicy",
          "description": "Optional. Determines what action to take upon successful task completion."
        },
        "taskId": {
          "type": "string",
          "description": "Required. The identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_id`)."
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaEventParameter"
          },
          "description": "Optional. The customized parameters the user can pass to this task.",
          "type": "object"
        },
        "taskExecutionStrategy": {
          "description": "Optional. The policy dictating the execution strategy of this task.",
          "type": "string",
          "enum": [
            "TASK_EXECUTION_STRATEGY_UNSPECIFIED",
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "enumDescriptions": [
            "Default. If the strategy is not set explicitly, it will default to `WHEN_ALL_SUCCEED`.",
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ]
        },
        "nextTasks": {
          "description": "Optional. The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          }
        },
        "task": {
          "description": "Optional. The name for the task.",
          "type": "string"
        },
        "nextTasksExecutionPolicy": {
          "description": "Optional. The policy dictating the execution of the next set of tasks for the current task.",
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "type": "string",
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ]
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoIntArrayFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoIntArrayFunction"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent": {
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent",
      "type": "object",
      "properties": {
        "pointOperation": {
          "description": "Optional. optional, Point Operation on single query or joined query.",
          "type": "string"
        },
        "groupBy": {
          "description": "Optional. optional, GroupBy variables.",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy"
        },
        "timeDelta": {
          "type": "string",
          "description": "Required. Window time delta."
        },
        "borgTaskMetric": {
          "type": "string",
          "enum": [
            "BORG_TASK_METRIC_UNSPECIFIED",
            "TASK_INDIVIDUAL_COUNT",
            "EVENT_COUNT",
            "EVENT_DURATION",
            "TASK_INDIVIDUAL_DURATION"
          ],
          "enumDescriptions": [
            "Unknown metric",
            "Metric end with: \"/task/individual_count\".",
            "Metric end with: \"/event/count\".",
            "Metric end with: \"/event/duration\".",
            "Metric end with: \"/task/individual_duration\"."
          ],
          "description": "Required. The metric for monarch.BorgTask."
        },
        "dataFilters": {
          "description": "Optional. optional, filters on fetched data, \"metric:client_id\" not supported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fetchFilters": {
          "type": "array",
          "description": "Optional. optional, filters for Fetch Raw, \"metric:client_id\" not supported.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The components for constructing MashQuery."
    },
    "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray",
      "properties": {
        "booleanValues": {
          "type": "array",
          "items": {
            "type": "boolean"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoCoordinate": {
      "description": "Represents two-dimensional positions.",
      "properties": {
        "x": {
          "type": "integer",
          "format": "int32"
        },
        "y": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "EnterpriseCrmEventbusProtoCoordinate",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListCertificatesResponse": {
      "properties": {
        "certificates": {
          "description": "The list of Certificates retrieved.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListCertificatesResponse",
      "description": "Response to list Certificates."
    },
    "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig": {
      "properties": {
        "customMessage": {
          "description": "Information to provide for recipients.",
          "type": "string"
        },
        "expiration": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration",
          "description": "Indicates the next steps when no external actions happen on the suspension."
        },
        "emailAddresses": {
          "description": "Email addresses to send approval request to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig",
      "description": "Configurations for approving the Suspension.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleRequest": {
      "description": "Request for ArchiveBundle.",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleRequest",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionConfig": {
      "type": "object",
      "properties": {
        "customMessage": {
          "type": "string",
          "description": "Optional information to provide recipients of the suspension in addition to the resolution URL, typically containing relevant parameter values from the originating workflow."
        },
        "notifications": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNotification"
          }
        },
        "whoMayResolve": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions"
          },
          "description": "Identities able to resolve this suspension."
        },
        "suspensionExpiration": {
          "description": "Indicates the next steps when no external actions happen on the suspension.",
          "$ref": "EnterpriseCrmEventbusProtoSuspensionExpiration"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionConfig"
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationsResponse": {
      "description": "Response for ListIntegrations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token for the response."
        },
        "integrations": {
          "description": "The integrations which match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegration"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse"
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse",
      "properties": {
        "integrationVersion": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion",
          "description": "Version after the lock is acquired by the new user."
        }
      },
      "description": "Response for TakeoverEditLock."
    },
    "GoogleCloudIntegrationsV1alphaStringParameterArray": {
      "properties": {
        "stringValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "String array."
        }
      },
      "description": "This message only contains a field of string array.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaStringParameterArray"
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage": {
      "type": "object",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage"
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest": {
      "description": "Request for PublishIntegrationVersion.",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy": {
      "description": "MashQuery GroupBy parameters.",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy",
      "type": "object",
      "properties": {
        "fields": {
          "items": {
            "type": "string"
          },
          "description": "Optional. optional, metrics list for GroupBy.",
          "type": "array"
        },
        "reducer": {
          "description": "Optional. optional, reduce function for GroupBy.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegrationParameter": {
      "description": "Integration Parameter is defined in the integration config and are used to provide information about data types of the expected parameters and provide any default values if needed. They can also be used to add custom attributes. These are static in nature and should not be used for dynamic event definition.",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationParameter",
      "type": "object",
      "properties": {
        "defaultValue": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        },
        "dataType": {
          "description": "Type of the parameter.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ]
        },
        "jsonSchema": {
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter.",
          "type": "string"
        },
        "producer": {
          "type": "string",
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param."
        },
        "isTransient": {
          "type": "boolean",
          "description": "Whether this parameter is a transient parameter."
        },
        "inputOutputType": {
          "type": "string",
          "description": "Specifies the input/output type for the parameter.",
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "enumDescriptions": [
            "Default.",
            "Input parameters for the integration. EventBus validates that these parameters exist in the integrations before execution.",
            "Output Parameters for the integration. EventBus will only return the integration parameters tagged with OUT in the response back.",
            "Input and Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ]
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\"."
        },
        "searchable": {
          "description": "Searchable in the execution log or not.",
          "type": "boolean"
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity": {
      "type": "object",
      "properties": {
        "emailAddress": {
          "type": "string"
        },
        "gaiaId": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
    },
    "GoogleCloudConnectorsV1AuthConfig": {
      "id": "GoogleCloudConnectorsV1AuthConfig",
      "properties": {
        "oauth2ClientCredentials": {
          "description": "Oauth2ClientCredentials.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials"
        },
        "additionalVariables": {
          "description": "List containing additional auth configs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          }
        },
        "sshPublicKey": {
          "description": "SSH Public Key.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigSshPublicKey"
        },
        "oauth2JwtBearer": {
          "description": "Oauth2JwtBearer.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer"
        },
        "userPassword": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigUserPassword",
          "description": "UserPassword."
        },
        "authType": {
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow"
          ],
          "description": "The type of authentication configured.",
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW"
          ]
        }
      },
      "description": "AuthConfig defines details of a authentication type.",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapField": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapField",
      "description": "Field represents either the key or value in an entry.",
      "properties": {
        "literalValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Passing a literal value."
        },
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata": {
      "description": "Metadata of runtime connection schema.",
      "id": "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata",
      "type": "object",
      "properties": {
        "actions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of actions."
        },
        "entities": {
          "type": "array",
          "description": "List of entity names.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterValueType": {
      "type": "object",
      "properties": {
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleParameterArray"
        },
        "stringValue": {
          "type": "string"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntParameterArray"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringParameterArray"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanParameterArray"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmEventbusProtoSerializedObjectParameter"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "protoArray": {
          "$ref": "EnterpriseCrmEventbusProtoProtoParameterArray"
        },
        "intValue": {
          "format": "int64",
          "type": "string"
        }
      },
      "description": "LINT.IfChange To support various types of parameter values. Next available id: 14",
      "id": "EnterpriseCrmEventbusProtoParameterValueType"
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials": {
      "properties": {
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        },
        "accessToken": {
          "description": "Access token fetched from the authorization server.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "requestType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "description": "Represent how to pass parameters to fetch access token"
        },
        "clientId": {
          "type": "string",
          "description": "The client's ID."
        },
        "tokenParams": {
          "description": "Token parameters for the auth request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token."
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "For client credentials grant, the client sends a POST request with grant_type as 'client_credentials' to the authorization server. The authorization server will respond with a JSON object containing the access token.",
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials"
    },
    "GoogleCloudConnectorsV1ConfigVariable": {
      "id": "GoogleCloudConnectorsV1ConfigVariable",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Value is a string."
        },
        "boolValue": {
          "description": "Value is a bool.",
          "type": "boolean"
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "Value is an integer"
        },
        "secretValue": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Value is a secret."
        },
        "key": {
          "type": "string",
          "description": "Key of the config variable."
        }
      },
      "description": "ConfigVariable represents a configuration variable present in a Connection. or AuthConfig.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFailurePolicy": {
      "type": "object",
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied).",
      "id": "EnterpriseCrmEventbusProtoFailurePolicy",
      "properties": {
        "maxNumRetries": {
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the number of times the task will be retried if failed.",
          "format": "int32",
          "type": "integer"
        },
        "intervalInSeconds": {
          "type": "string",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the initial interval for backoff.",
          "format": "int64"
        },
        "retryStrategy": {
          "description": "Defines what happens to the task upon failure.",
          "enumDescriptions": [
            "",
            "Ignores the failure of this task. The rest of the workflow will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the workflow.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified.",
            "The entire workflow will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified."
          ],
          "enum": [
            "UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_WORKFLOW_WITH_BACKOFF"
          ],
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoTriggerCriteria": {
      "properties": {
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Optional. To be used in TaskConfig for the implementation class."
        },
        "condition": {
          "description": "Required. Standard filter expression, when true the workflow will be executed. If there's no trigger_criteria_task_implementation_class_name specified, the condition will be validated directly.",
          "type": "string"
        },
        "triggerCriteriaTaskImplementationClassName": {
          "type": "string",
          "description": "Optional. Implementation class name. The class should implement the “TypedTask” interface."
        }
      },
      "id": "EnterpriseCrmEventbusProtoTriggerCriteria",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQuery": {
      "description": "The MashQuery for searching data, set both queries for Join Operation.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQuery",
      "properties": {
        "firstQuery": {
          "description": "Required. The components for constructing a mash query. Set \"point_operation\" if this is a single query",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent"
        },
        "secondQuery": {
          "description": "Optional. optional, only set when joining 2 queries. Set \"point_operation\" for joined query.",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent"
        },
        "operationMode": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode",
          "description": "Optional. optional, only set when joining 2 queries. By default join 2 queries with join operation."
        }
      }
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesData": {
      "type": "object",
      "properties": {
        "rows": {
          "description": "A single Series Row",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesDataRow"
          }
        }
      },
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesData",
      "description": "Data used to render an Aplos Series card."
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials": {
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The client identifier."
        },
        "clientSecret": {
          "description": "Secret version reference containing the client secret.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSfdcInstance": {
      "description": "The SfdcInstance resource use to hold channels and connection config data.",
      "properties": {
        "authConfigId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of AuthConfigs that can be tried to open the channel to SFDC"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the instance was last updated"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/sfdcInstances/{sfdcInstance}."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the instance is created",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "User selected unique name/alias to easily reference an instance."
        },
        "serviceAuthority": {
          "type": "string",
          "description": "URL used for API calls after authentication (the login authority is configured within the referenced AuthConfig)."
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the instance was deleted. Empty if not deleted.",
          "type": "string"
        },
        "description": {
          "description": "A description of the sfdc instance.",
          "type": "string"
        },
        "sfdcOrgId": {
          "description": "The SFDC Org Id. This is defined in salesforce.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaSfdcInstance"
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest",
      "description": "Request for ArchiveIntegrationVersion.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudConnectorsV1Destination": {
      "type": "object",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port is the target port number that is accepted by the destination."
        },
        "serviceAttachment": {
          "type": "string",
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*"
        },
        "host": {
          "type": "string",
          "description": "For publicly routable host."
        }
      },
      "id": "GoogleCloudConnectorsV1Destination"
    },
    "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray",
      "properties": {
        "protoValues": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot",
      "properties": {
        "checkpointTaskNumber": {
          "description": "Indicates \"right after which checkpoint task's execution\" this snapshot is taken.",
          "type": "string"
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Points to the event execution info this snapshot belongs to."
        },
        "snapshotTime": {
          "type": "string",
          "description": "Indicates when this snapshot is taken.",
          "format": "int64"
        },
        "eventExecutionSnapshotId": {
          "type": "string",
          "description": "Auto-generated. Used as primary key for EventExecutionSnapshots table."
        },
        "eventParams": {
          "description": "The parameters in Event object.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "diffParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "The parameters in Event object that differs from last snapshot."
        },
        "conditionResults": {
          "type": "array",
          "description": "All of the computed conditions that been calculated.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoConditionResult"
          }
        },
        "taskExecutionDetails": {
          "description": "All of the task execution details at the given point of time.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetails"
          }
        },
        "taskName": {
          "type": "string",
          "description": "The task name associated with this snapshot. Could be empty."
        },
        "eventExecutionSnapshotMetadata": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata"
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringFunction",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "CONCAT",
            "TO_UPPERCASE",
            "TO_LOWERCASE",
            "CONTAINS",
            "SPLIT",
            "LENGTH",
            "EQUALS",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_BASE_64",
            "TO_JSON",
            "EQUALS_IGNORE_CASE",
            "REPLACE_ALL",
            "SUBSTRING",
            "RESOLVE_TEMPLATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleRequest": {
      "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request to create a new Bundle.",
      "properties": {
        "secondaryCustomerOrgId": {
          "description": "Optional. The prefix for the SA, it should be in the format \"o\". This is an optional field, and if empty service account will be created per project, where we are creating bundle. This should only be used as the org ID for which we want to run the integrations in the bundle.",
          "type": "string"
        },
        "bundleId": {
          "type": "string",
          "description": "Required. name of the bundle that will be created"
        },
        "integrations": {
          "type": "array",
          "description": "A list of integrations that can be executed by the bundle",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleRequest",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoExternalTraffic": {
      "id": "EnterpriseCrmEventbusProtoExternalTraffic",
      "description": "Represents external traffic type and id.",
      "properties": {
        "gcpProjectId": {
          "type": "string",
          "description": "User’s GCP project id the traffic is referring to."
        },
        "gcpProjectNumber": {
          "description": "User’s GCP project number the traffic is referring to.",
          "type": "string"
        },
        "location": {
          "description": "Location for the user's request.",
          "type": "string"
        },
        "source": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "LINT.ThenChange(//depot/google3/enterprise/crm/eventbus/proto/product.proto:product, //depot/google3/java/com/google/enterprise/crm/integrationplatform/api/utils/ConverterUtils.java:source_to_product)",
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "APIGEE",
            "SECURITY"
          ]
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry": {
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry",
      "type": "object",
      "properties": {
        "inOutType": {
          "enumDescriptions": [
            "",
            "Input parameters for the workflow. EventBus validates that these parameters exist in the workflows before execution.",
            "Output Parameters for the workflow. EventBus will only return the workflow parameters tagged with OUT in the response back.",
            "Input or Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ],
          "description": "Specifies the input/output type for the parameter.",
          "type": "string",
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ]
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition.",
          "type": "string"
        },
        "attributes": {
          "$ref": "EnterpriseCrmEventbusProtoAttributes",
          "description": "Metadata information about the parameters."
        },
        "producedBy": {
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param.",
          "$ref": "EnterpriseCrmEventbusProtoNodeIdentifier"
        },
        "dataType": {
          "description": "The data type of the parameter.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "protoDefName": {
          "description": "The name of the protobuf type if the parameter has a protobuf data type.",
          "type": "string"
        },
        "isTransient": {
          "type": "boolean",
          "description": "Whether this parameter is a transient parameter. go/ip-transient-parameters"
        },
        "name": {
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\".",
          "type": "string"
        },
        "defaultValue": {
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        },
        "producer": {
          "type": "string"
        },
        "jsonSchema": {
          "type": "string",
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter."
        },
        "protoDefPath": {
          "type": "string",
          "description": "If the data type is of type proto or proto array, this field needs to be populated with the fully qualified proto name. This message, for example, would be \"enterprise.crm.frontends.eventbus.proto.WorkflowParameterEntry\"."
        },
        "children": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          },
          "type": "array",
          "description": "Child parameters nested within this parameter. This field only applies to protobuf parameters"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode": {
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode",
      "type": "object",
      "description": "Operation between 2 query",
      "properties": {
        "unionConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig",
          "description": "Optional. union operation"
        },
        "joinConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeJoinConfig",
          "description": "Optional. join operation"
        },
        "operationType": {
          "enumDescriptions": [
            "By default join.",
            "Union operation",
            "Join Operation"
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "UNION",
            "JOIN"
          ],
          "type": "string",
          "description": "Optional. optional operation types."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "integrationTemplateVersions": {
          "description": "The IntegrationTemplateVersions which match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
          }
        }
      },
      "type": "object",
      "description": "Response for IntegrationTemplateVersions.ListIntegrationTemplateVersions.",
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse"
    },
    "EnterpriseCrmEventbusProtoDoubleArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoDoubleArrayFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskConfig": {
      "type": "object",
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task. Next available id: 27",
      "properties": {
        "taskEntity": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity",
          "description": "Copy of the task entity that this task config is an instance of."
        },
        "nextTasksExecutionPolicy": {
          "type": "string",
          "description": "The policy dictating the execution of the next set of tasks for the current task.",
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ]
        },
        "rollbackStrategy": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy",
          "description": "Optional. Contains information about what needs to be done upon failure (either a permanent error or after it has been retried too many times)."
        },
        "failurePolicy": {
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.)."
        },
        "incomingEdgeCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of edges leading into this TaskConfig."
        },
        "taskName": {
          "type": "string",
          "description": "The name for the task."
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address. Auto-generated from the user's email."
        },
        "taskType": {
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "type": "string",
          "description": "Defines the type of the task",
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ]
        },
        "alertConfigs": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskAlertConfig"
          },
          "type": "array",
          "description": "Alert configurations on error rate, warning rate, number of runs, durations, etc."
        },
        "taskTemplateName": {
          "description": "Used to define task-template name if task is of type task-template",
          "type": "string"
        },
        "lastModifiedTime": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "nextTasks": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          },
          "description": "The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true."
        },
        "disableStrictTypeValidation": {
          "description": "If this config contains a TypedTask, allow validation to succeed if an input is read from the output of another TypedTask whose output type is declared as a superclass of the requested input type. For instance, if the previous task declares an output of type Message, any task with this flag enabled will pass validation when attempting to read any proto Message type from the resultant Event parameter.",
          "type": "boolean"
        },
        "taskNumber": {
          "type": "string",
          "description": "REQUIRED: the identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_number`)."
        },
        "parameters": {
          "description": "The customized parameters the user can pass to this task.",
[...]
