{
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version": "v1alpha",
  "ownerName": "Google",
  "canonicalName": "Integrations",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "GoogleCloudIntegrationsV1alphaParameterMapField": {
      "properties": {
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "GoogleCloudIntegrationsV1alphaValueType"
        },
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the Integration variables."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaParameterMapField",
      "description": "Field represents either the key or value in an entry."
    },
    "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse": {
      "type": "object",
      "properties": {
        "integrationVersion": {
          "description": "The uploaded integration.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse",
      "description": "Response for UploadIntegrationVersion."
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent": {
      "description": "The components for constructing MashQuery.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent",
      "properties": {
        "fetchFilters": {
          "type": "array",
          "description": "Optional. optional, filters for Fetch Raw, \"metric:client_id\" not supported.",
          "items": {
            "type": "string"
          }
        },
        "timeDelta": {
          "type": "string",
          "description": "Required. Window time delta."
        },
        "groupBy": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy",
          "description": "Optional. optional, GroupBy variables."
        },
        "borgTaskMetric": {
          "type": "string",
          "enum": [
            "BORG_TASK_METRIC_UNSPECIFIED",
            "TASK_INDIVIDUAL_COUNT",
            "EVENT_COUNT",
            "EVENT_DURATION",
            "TASK_INDIVIDUAL_DURATION"
          ],
          "description": "Required. The metric for monarch.BorgTask.",
          "enumDescriptions": [
            "Unknown metric",
            "Metric end with: \"/task/individual_count\".",
            "Metric end with: \"/event/count\".",
            "Metric end with: \"/event/duration\".",
            "Metric end with: \"/task/individual_duration\"."
          ]
        },
        "pointOperation": {
          "description": "Optional. optional, Point Operation on single query or joined query.",
          "type": "string"
        },
        "dataFilters": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. optional, filters on fetched data, \"metric:client_id\" not supported."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry": {
      "description": "Entry is a pair of key and value.",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTaskConfig": {
      "type": "object",
      "properties": {
        "failurePolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.)."
        },
        "jsonValidationOption": {
          "type": "string",
          "enum": [
            "JSON_VALIDATION_OPTION_UNSPECIFIED",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in IntegrationParameter.",
            "Validate all potential output JSON parameters against schemas specified in IntegrationParameter.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "description": "Optional. If set, overrides the option configured in the Task implementation class."
        },
        "taskExecutionStrategy": {
          "enumDescriptions": [
            "Default. If the strategy is not set explicitly, it will default to `WHEN_ALL_SUCCEED`.",
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ],
          "type": "string",
          "enum": [
            "TASK_EXECUTION_STRATEGY_UNSPECIFIED",
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "description": "Optional. The policy dictating the execution strategy of this task."
        },
        "taskTemplate": {
          "description": "Optional. Used to define task-template name if task is of type task-template",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaEventParameter"
          },
          "description": "Optional. The customized parameters the user can pass to this task."
        },
        "synchronousCallFailurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post).",
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description intended to give additional business context about the task."
        },
        "taskId": {
          "description": "Required. The identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_id`).",
          "type": "string"
        },
        "successPolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuccessPolicy",
          "description": "Optional. Determines what action to take upon successful task completion."
        },
        "nextTasks": {
          "type": "array",
          "description": "Optional. The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          }
        },
        "nextTasksExecutionPolicy": {
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "description": "Optional. The policy dictating the execution of the next set of tasks for the current task.",
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ]
        },
        "displayName": {
          "description": "Optional. User-provided label that is attached to this TaskConfig in the UI.",
          "type": "string"
        },
        "task": {
          "type": "string",
          "description": "Optional. The name for the task."
        }
      },
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task.",
      "id": "GoogleCloudIntegrationsV1alphaTaskConfig"
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList": {
      "description": "List of error enums for alerts.",
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList",
      "properties": {
        "filterType": {
          "type": "string",
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "enumStrings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig": {
      "id": "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig",
      "type": "object",
      "description": "Cloud Scheduler Trigger configuration",
      "properties": {
        "serviceAccountEmail": {
          "type": "string",
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time"
        },
        "location": {
          "type": "string",
          "description": "Required. The location where associated cloud scheduler job will be created"
        },
        "errorMessage": {
          "type": "string",
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations"
        },
        "cronTab": {
          "type": "string",
          "description": "Required. The cron tab of cloud scheduler trigger."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode": {
      "type": "object",
      "description": "The OAuth Type where the client sends request with the client id and requested scopes to auth endpoint. User sees a consent screen and auth code is received at specified redirect url afterwards. The auth code is then combined with the client id and secret and sent to the token endpoint in exchange for the access and refresh token. The refresh token can be used to fetch new access tokens.",
      "id": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode",
      "properties": {
        "authParams": {
          "description": "The auth parameters sent along with the auth code request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "requestType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "description": "Represent how to pass parameters to fetch access token",
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ]
        },
        "tokenParams": {
          "description": "The token parameters sent along with the token request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "clientId": {
          "type": "string",
          "description": "The client's id."
        },
        "accessToken": {
          "description": "The access token received from the token endpoint.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "applyReauthPolicy": {
          "description": "Indicates if the user has opted in Google Reauth Policy. If opted in, the refresh token will be valid for 20 hours, after which time users must re-authenticate in order to obtain a new one.",
          "type": "boolean"
        },
        "authCode": {
          "description": "The Auth Code that is used to initially retrieve the access token.",
          "type": "string"
        },
        "authEndpoint": {
          "type": "string",
          "description": "The auth url endpoint to send the auth code request to."
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "The token url endpoint to send the token request to."
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaClientCertificate": {
      "properties": {
        "encryptedPrivateKey": {
          "type": "string",
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
        },
        "passphrase": {
          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
          "type": "string"
        },
        "sslCertificate": {
          "type": "string",
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaClientCertificate",
      "description": "Contains client certificate information",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoCombinedCondition": {
      "id": "EnterpriseCrmEventbusProtoCombinedCondition",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCondition"
          },
          "description": "A set of individual constituent conditions."
        }
      },
      "type": "object",
      "description": "This message recursively combines constituent conditions using logical AND."
    },
    "EnterpriseCrmEventbusProtoBooleanFunction": {
      "id": "EnterpriseCrmEventbusProtoBooleanFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "NOT",
            "AND",
            "NAND",
            "OR",
            "XOR",
            "NOR",
            "XNOR",
            "TO_STRING",
            "EQUALS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoBaseValue": {
      "properties": {
        "baseFunction": {
          "description": "Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc.",
          "$ref": "EnterpriseCrmEventbusProtoFunction"
        },
        "literalValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Start with a literal value."
        },
        "referenceValue": {
          "description": "Start with a reference value to dereference.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBaseValue"
    },
    "EnterpriseCrmEventbusProtoSerializedObjectParameter": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSerializedObjectParameter",
      "properties": {
        "objectValue": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesListData": {
      "type": "object",
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesListData",
      "description": "Data used for Aplos charts that accept multiple Series.",
      "properties": {
        "series": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoBaseFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "NOW_IN_MILLIS",
            "INT_LIST",
            "ENVIRONMENT",
            "GET_EXECUTION_ID",
            "GET_INTEGRATION_NAME",
            "GET_REGION",
            "GET_UUID",
            "GET_PROJECT_ID"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoBaseFunction",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoEventParameters": {
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see go/integration-platform/event_bus.md for more details. Next id: 4",
      "type": "object",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventParameters"
    },
    "EnterpriseCrmEventbusProtoNodeIdentifier": {
      "id": "EnterpriseCrmEventbusProtoNodeIdentifier",
      "properties": {
        "elementIdentifier": {
          "description": "Configuration of the edge.",
          "type": "string"
        },
        "elementType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Destination node where the edge ends. It can only be a task config.",
          "enum": [
            "UNKNOWN_TYPE",
            "TASK_CONFIG",
            "TRIGGER_CONFIG"
          ],
          "type": "string"
        }
      },
      "description": "Represents a node identifier (type + id). Next highest id: 3",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaUpdateBundleResponse": {
      "type": "object",
      "description": "Response message for Bundle update",
      "properties": {
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "Contains updated bundle config"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaUpdateBundleResponse"
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials": {
      "properties": {
        "tokenEndpoint": {
          "type": "string",
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token."
        },
        "requestType": {
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "description": "Represent how to pass parameters to fetch access token",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "The client's ID."
        },
        "clientSecret": {
          "type": "string",
          "description": "The client's secret."
        },
        "tokenParams": {
          "description": "Token parameters for the auth request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "accessToken": {
          "description": "Access token fetched from the authorization server.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        }
      },
      "description": "For client credentials grant, the client sends a POST request with grant_type as 'client_credentials' to the authorization server. The authorization server will respond with a JSON object containing the access token.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials"
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse": {
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse",
      "type": "object",
      "description": "Response for TakeoverEditLock.",
      "properties": {
        "integrationVersion": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion",
          "description": "Version after the lock is acquired by the new user."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionResponse": {
      "properties": {},
      "type": "object",
      "description": "Response for ValidateIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionResponse"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo": {
      "description": "Contains all the execution details for a workflow instance. Next available id: 24",
      "properties": {
        "workflowName": {
          "description": "Name of the workflow.",
          "type": "string"
        },
        "workflowRetryBackoffIntervalSeconds": {
          "description": "Time interval in seconds to schedule retry of workflow in manifold when workflow is already running",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "type": "string",
          "format": "int64",
          "description": "Auto-generated."
        },
        "triggerId": {
          "type": "string",
          "description": "The trigger id of the workflow trigger config. If both trigger_id and client_id is present, the workflow is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request.",
          "type": "string"
        },
        "clientId": {
          "description": "The event data user sends as request.",
          "type": "string"
        },
        "responseParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Event parameters come out as part of the response."
        },
        "errors": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoErrorDetail"
          },
          "description": "Errors, warnings, and informationals associated with the workflow/task. The order in which the errors were added by the workflow/task is maintained.",
          "type": "array"
        },
        "tenant": {
          "type": "string",
          "description": "Tenant this event is created. Used to reschedule the event to correct tenant."
        },
        "eventExecutionDetails": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails",
          "description": "The execution info about this event."
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Auto-generated primary key."
        },
        "lastModifiedTime": {
          "description": "Auto-generated.",
          "format": "int64",
          "type": "string"
        },
        "requestParams": {
          "description": "Event parameters come in as part of the request.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "postMethod": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The ways user posts this event.",
          "enum": [
            "UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE",
            "POST_BY_EVENT_CONFIG_ID",
            "POST_WITH_EVENT_DETAILS"
          ]
        },
        "snapshotNumber": {
          "type": "string",
          "description": "Workflow snapshot number.",
          "format": "int64"
        },
        "workflowId": {
          "type": "string",
          "description": "Required. Pointer to the workflow it is executing."
        },
        "product": {
          "description": "Which Google product the execution_info belongs to. If not set, the execution_info belongs to Integration Platform by default.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "type": "string"
        },
        "executionTraceInfo": {
          "$ref": "EnterpriseCrmEventbusProtoExecutionTraceInfo",
          "description": "Execution trace info to aggregate parent-child executions."
        },
        "errorCode": {
          "description": "Final error-code if event failed.",
          "$ref": "CrmlogErrorCode"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo",
      "type": "object"
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries": {
      "properties": {
        "data": {
          "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesData"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries"
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest": {
      "description": "Request for PublishIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudConnectorsV1AuthConfigUserPassword": {
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigUserPassword",
      "description": "Parameters to support Username and Password Authentication.",
      "properties": {
        "username": {
          "type": "string",
          "description": "Username."
        },
        "password": {
          "description": "Secret version reference containing the password.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaFailurePolicy": {
      "properties": {
        "retryStrategy": {
          "description": "Defines what happens to the task upon failure.",
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Ignores the failure of this task. The rest of the integration will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the integration.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. max_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. max_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_retries` and `interval_in_seconds` must be specified.",
            "The entire integration will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_retries` and `interval_in_seconds` must be specified."
          ],
          "enum": [
            "RETRY_STRATEGY_UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_INTEGRATION_WITH_BACKOFF"
          ]
        },
        "maxRetries": {
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_INTEGRATION_WITH_BACKOFF. Defines the number of times the task will be retried if failed.",
          "type": "integer",
          "format": "int32"
        },
        "intervalTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_INTEGRATION_WITH_BACKOFF. Defines the initial interval in seconds for backoff."
        }
      },
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied).",
      "id": "GoogleCloudIntegrationsV1alphaFailurePolicy",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntParameterArray": {
      "properties": {
        "intValues": {
          "description": "Integer array.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntParameterArray",
      "description": "This message only contains a field of integer array.",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskConfig": {
      "properties": {
        "precondition": {
          "description": "Optional. Standard filter expression evaluated before execution. Independent of other conditions and tasks. Can be used to enable rollout. e.g. \"rollout(5)\" will only allow 5% of incoming traffic to task.",
          "type": "string"
        },
        "synchronousCallFailurePolicy": {
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post)."
        },
        "taskName": {
          "description": "The name for the task.",
          "type": "string"
        },
        "label": {
          "description": "User-provided label that is attached to this TaskConfig in the UI.",
          "type": "string"
        },
        "rollbackStrategy": {
          "description": "Optional. Contains information about what needs to be done upon failure (either a permanent error or after it has been retried too many times).",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy"
        },
        "taskExecutionStrategy": {
          "type": "string",
          "enum": [
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "description": "The policy dictating the execution strategy of this task.",
          "enumDescriptions": [
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ]
        },
        "position": {
          "description": "Optional. Informs the front-end application where to draw this task config on the UI.",
          "$ref": "EnterpriseCrmEventbusProtoCoordinate"
        },
        "jsonValidationOption": {
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "description": "If set, overrides the option configured in the Task implementation class.",
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "type": "string"
        },
        "incomingEdgeCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of edges leading into this TaskConfig."
        },
        "nextTasksExecutionPolicy": {
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "type": "string",
          "description": "The policy dictating the execution of the next set of tasks for the current task.",
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ]
        },
        "taskNumber": {
          "type": "string",
          "description": "REQUIRED: the identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_number`)."
        },
        "taskEntity": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity",
          "description": "Copy of the task entity that this task config is an instance of."
        },
        "lastModifiedTime": {
          "description": "Auto-generated.",
          "format": "google-datetime",
          "type": "string"
        },
        "preconditionLabel": {
          "type": "string",
          "description": "Optional. User-provided label that is attached to precondition in the UI."
        },
        "failurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "taskSpec": {
          "type": "string",
          "description": "A string template that allows user to configure task parameters (with either literal default values or tokens which will be resolved at execution time) for the task. It will eventually replace the old \"parameters\" field. Please refer to go/eventbus-task-spec-example for detailed usage example."
        },
        "taskTemplateName": {
          "type": "string",
          "description": "Used to define task-template name if task is of type task-template"
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address. Auto-generated from the user's email."
        },
        "taskType": {
          "description": "Defines the type of the task",
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ],
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User-provided description intended to give more business context about the task."
        },
        "successPolicy": {
          "description": "Determines what action to take upon successful task completion.",
          "$ref": "EnterpriseCrmEventbusProtoSuccessPolicy"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "description": "The customized parameters the user can pass to this task.",
          "additionalProperties": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "nextTasks": {
          "type": "array",
          "description": "The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          }
        },
        "alertConfigs": {
          "description": "Alert configurations on error rate, warning rate, number of runs, durations, etc.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskAlertConfig"
          },
          "type": "array"
        },
        "disableStrictTypeValidation": {
          "type": "boolean",
          "description": "If this config contains a TypedTask, allow validation to succeed if an input is read from the output of another TypedTask whose output type is declared as a superclass of the requested input type. For instance, if the previous task declares an output of type Message, any task with this flag enabled will pass validation when attempting to read any proto Message type from the resultant Event parameter."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskConfig",
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task. Next available id: 27"
    },
    "EnterpriseCrmCardsRow": {
      "type": "object",
      "id": "EnterpriseCrmCardsRow",
      "properties": {
        "cells": {
          "description": "Ordered list of cell values within a row.",
          "items": {
            "$ref": "EnterpriseCrmCardsCellValue"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials": {
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The client identifier."
        },
        "clientSecret": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Secret version reference containing the client secret."
        }
      },
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details."
    },
    "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata": {
      "id": "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata",
      "properties": {
        "actions": {
          "description": "List of actions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entities": {
          "type": "array",
          "description": "List of entity names.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Metadata of runtime connection schema.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoNotification": {
      "properties": {
        "escalatorQueue": {
          "type": "string"
        },
        "emailAddress": {
          "$ref": "EnterpriseCrmEventbusProtoAddress"
        },
        "request": {
          "$ref": "EnterpriseCrmEventbusProtoCustomSuspensionRequest",
          "description": "If the out-of-the-box email/pubsub notifications are not suitable and custom logic is required, fire a workflow containing all info needed to notify users to resume execution."
        },
        "buganizerNotification": {
          "$ref": "EnterpriseCrmEventbusProtoBuganizerNotification"
        },
        "pubsubTopic": {
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoNotification",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaValueType": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaValueType",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "String."
        },
        "jsonValue": {
          "type": "string",
          "description": "Json."
        },
        "booleanArray": {
          "description": "Boolean Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaBooleanParameterArray"
        },
        "booleanValue": {
          "type": "boolean",
          "description": "Boolean."
        },
        "intArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntParameterArray",
          "description": "Integer Array."
        },
        "doubleArray": {
          "description": "Double Number Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaDoubleParameterArray"
        },
        "doubleValue": {
          "format": "double",
          "description": "Double Number.",
          "type": "number"
        },
        "stringArray": {
          "description": "String Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaStringParameterArray"
        },
        "intValue": {
          "format": "int64",
          "description": "Integer.",
          "type": "string"
        }
      },
      "description": "The type of the parameter."
    },
    "EnterpriseCrmEventbusProtoFunctionType": {
      "properties": {
        "booleanArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanArrayFunction"
        },
        "baseFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBaseFunction",
          "description": "LINT.IfChange"
        },
        "booleanFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanFunction"
        },
        "doubleArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArrayFunction"
        },
        "protoArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoArrayFunction"
        },
        "intArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntArrayFunction"
        },
        "doubleFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleFunction"
        },
        "jsonFunction": {
          "$ref": "EnterpriseCrmEventbusProtoJsonFunction",
          "description": "LINT.ThenChange(//depot/google3/alkali/apps/integrationplatform/client/workflow_editor/utils/transform_function.ts)"
        },
        "protoFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoFunction"
        },
        "intFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntFunction"
        },
        "stringFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringFunction"
        },
        "stringArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringArrayFunction"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFunctionType"
    },
    "EnterpriseCrmEventbusProtoBooleanParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBooleanParameterArray",
      "properties": {
        "booleanValues": {
          "items": {
            "type": "boolean"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionResponse": {
      "description": "Response for cancelling an execution.",
      "properties": {
        "isCanceled": {
          "type": "boolean",
          "description": "True if cancellation performed successfully"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionResponse"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig": {
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig",
      "type": "object",
      "properties": {
        "reducer": {
          "description": "Optional. optional, reduce function",
          "type": "string"
        }
      },
      "description": "Union operation"
    },
    "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse",
      "description": "Response to list SfdcChannels.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        },
        "sfdcChannels": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
          },
          "type": "array",
          "description": "The list of SfdcChannels retrieved."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryConfig": {
      "type": "object",
      "properties": {
        "uiPlaceholderText": {
          "description": "Placeholder text which will appear in the UI input form for this parameter.",
          "type": "string"
        },
        "descriptivePhrase": {
          "type": "string",
          "description": "A short phrase to describe what this parameter contains."
        },
        "subSectionLabel": {
          "type": "string",
          "description": "A user-friendly label for subSection under which the parameter will be displayed."
        },
        "hideDefaultValue": {
          "description": "Whether the default value is hidden in the UI.",
          "type": "boolean"
        },
        "parameterNameOption": {
          "enumDescriptions": [
            "This field is not a parameter name.",
            "If this field is a string and this option is selected, the field will be interpreted as a parameter name. Users will be able to choose a variable using the autocomplete, but the name will be stored as a literal string.",
            "If this field is a ParameterMap and this option is selected, the map's keys will be interpreted as parameter names. Ignored if this field is not a ParameterMap.",
            "If this field is a ParameterMap and this option is selected, the map's values will be interpreted as parameter names. Ignored if this field is not a ParameterMap."
          ],
          "enum": [
            "DEFAULT_NOT_PARAMETER_NAME",
            "IS_PARAMETER_NAME",
            "KEY_IS_PARAMETER_NAME",
            "VALUE_IS_PARAMETER_NAME"
          ],
          "type": "string"
        },
        "helpText": {
          "description": "Detailed help text for this parameter containing information not provided elsewhere. For example, instructions on how to migrate from a deprecated parameter.",
          "type": "string"
        },
        "isHidden": {
          "description": "Whether this field is hidden in the UI.",
          "type": "boolean"
        },
        "inputDisplayOption": {
          "enumDescriptions": [
            "A single-line input for strings, a numeric input box for numbers, or a checkbox for booleans.",
            "A multi-line input box for longer strings/string templates.",
            "A slider to select a numerical value. The default range is [0, 100].",
            "A toggle button for boolean parameters."
          ],
          "enum": [
            "DEFAULT",
            "STRING_MULTI_LINE",
            "NUMBER_SLIDER",
            "BOOLEAN_TOGGLE"
          ],
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "A user-friendly label for the parameter."
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryConfig"
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata": {
      "type": "object",
      "description": "Metadata of the execution snapshot.",
      "properties": {
        "taskNumber": {
          "description": "The task number associated with this snapshot.",
          "type": "string"
        },
        "task": {
          "type": "string",
          "description": "the task name associated with this snapshot."
        },
        "executionAttempt": {
          "format": "int32",
          "description": "the execution attempt number this snapshot belongs to.",
          "type": "integer"
        },
        "taskAttempt": {
          "type": "integer",
          "format": "int32",
          "description": "the task attempt number this snapshot belongs to."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata"
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleResponse": {
      "description": "Response for ArchiveBundle.",
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaSfdcInstance": {
      "type": "object",
      "description": "The SfdcInstance resource use to hold channels and connection config data.",
      "id": "GoogleCloudIntegrationsV1alphaSfdcInstance",
      "properties": {
        "serviceAuthority": {
          "type": "string",
          "description": "URL used for API calls after authentication (the login authority is configured within the referenced AuthConfig)."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the instance is created"
        },
        "authConfigId": {
          "items": {
            "type": "string"
          },
          "description": "A list of AuthConfigs that can be tried to open the channel to SFDC",
          "type": "array"
        },
        "sfdcOrgId": {
          "type": "string",
          "description": "The SFDC Org Id. This is defined in salesforce."
        },
        "description": {
          "description": "A description of the sfdc instance.",
          "type": "string"
        },
        "deleteTime": {
          "description": "Output only. Time when the instance was deleted. Empty if not deleted.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User selected unique name/alias to easily reference an instance."
        },
        "updateTime": {
          "description": "Output only. Time when the instance was last updated",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/sfdcInstances/{sfdcInstance}.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange": {
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange",
      "properties": {
        "max": {
          "description": "The inclusive maximum of the acceptable range.",
          "type": "number",
          "format": "double"
        },
        "min": {
          "type": "number",
          "format": "double",
          "description": "The inclusive minimum of the acceptable range."
        }
      },
      "description": "Range used to validate doubles and floats.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse": {
      "description": "Response for LinkAppsScriptProject rpc call.",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The id of the linked Apps Script project."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMap": {
      "type": "object",
      "properties": {
        "keyType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this."
        },
        "valueType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoParameterMap",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified."
    },
    "EnterpriseCrmEventbusProtoProtoFunction": {
      "id": "EnterpriseCrmEventbusProtoProtoFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET_STRING_SUBFIELD",
            "GET_INT_SUBFIELD",
            "GET_DOUBLE_SUBFIELD",
            "GET_BOOLEAN_SUBFIELD",
            "GET_STRING_ARRAY_SUBFIELD",
            "GET_INT_ARRAY_SUBFIELD",
            "GET_DOUBLE_ARRAY_SUBFIELD",
            "GET_BOOLEAN_ARRAY_SUBFIELD",
            "GET_PROTO_ARRAY_SUBFIELD",
            "GET_PROTO_SUBFIELD",
            "TO_JSON",
            "GET_BYTES_SUBFIELD_AS_UTF_8_STRING",
            "GET_BYTES_SUBFIELD_AS_PROTO",
            "EQUALS"
          ]
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoConnectorsConnection": {
      "type": "object",
      "properties": {
        "connectionName": {
          "description": "Connection name Format: projects/{project}/locations/{location}/connections/{connection}",
          "type": "string"
        },
        "serviceName": {
          "description": "Service name Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}",
          "type": "string"
        },
        "connectorVersion": {
          "description": "Connector version Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoConnectorsConnection"
    },
    "GoogleCloudIntegrationsV1alphaSuccessPolicy": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaSuccessPolicy",
      "properties": {
        "finalState": {
          "enumDescriptions": [
            "UNSPECIFIED.",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ],
          "enum": [
            "FINAL_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "type": "string",
          "description": "State to which the execution snapshot status will be set if the task succeeds."
        }
      },
      "description": "Policy that dictates the behavior for the task after it completes successfully."
    },
    "GoogleCloudIntegrationsV1alphaEventParameter": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaEventParameter",
      "properties": {
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        },
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "GoogleCloudIntegrationsV1alphaValueType"
        }
      },
      "description": "This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus."
    },
    "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest": {
      "type": "object",
      "properties": {},
      "description": "Request for ValidateIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest"
    },
    "GoogleCloudIntegrationsV1alphaListCertificatesResponse": {
      "properties": {
        "certificates": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
          },
          "type": "array",
          "description": "The list of Certificates retrieved."
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response to list Certificates.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListCertificatesResponse"
    },
    "EnterpriseCrmEventbusProtoTaskMetadataAdmin": {
      "properties": {
        "googleGroupEmail": {
          "type": "string"
        },
        "userEmail": {
          "type": "string"
        }
      },
      "description": "Admins are owners of a Task, and have all permissions on a particular task identified by the task name. By default, Eventbus periodically scans all task metadata and syncs (adds) any new admins defined here to Zanzibar.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskMetadataAdmin"
    },
    "EnterpriseCrmEventbusProtoToken": {
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoToken",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters": {
      "description": "LINT.IfChange This is the frontend version of WorkflowParameters. It's exactly like the backend version except that instead of flattening protobuf parameters and treating every field and subfield of a protobuf parameter as a separate parameter, the fields/subfields of a protobuf parameter will be nested as \"children\" (see 'children' field below) parameters of the parent parameter. Please refer to enterprise/crm/eventbus/proto/workflow_parameters.proto for more information about WorkflowParameters.",
      "type": "object",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          },
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communiticate between different tasks that are part of the same workflow execution."
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters"
    },
    "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse": {
      "description": "Response to list SfdcInstances.",
      "type": "object",
      "properties": {
        "sfdcInstances": {
          "type": "array",
          "description": "The list of SfdcInstances retrieved.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
          }
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse"
    },
    "EnterpriseCrmEventbusStatsDimensions": {
      "type": "object",
      "id": "EnterpriseCrmEventbusStatsDimensions",
      "properties": {
        "retryAttempt": {
          "enumDescriptions": [
            "",
            "Task has completed successfully or has depleted all retry attempts.",
            "Task has failed but may be retried.",
            "Task has been deliberately canceled."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "FINAL",
            "RETRYABLE",
            "CANCELED"
          ]
        },
        "taskName": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "errorEnumString": {
          "type": "string"
        },
        "taskNumber": {
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Stats have been or will be aggregated on set fields for any semantically-meaningful combination."
        },
        "workflowId": {
          "type": "string"
        },
        "enumFilterType": {
          "type": "string",
          "description": "Whether to include or exclude the enums matching the regex.",
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "warningEnumString": {
          "type": "string"
        },
        "workflowName": {
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry": {
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry",
      "type": "object",
      "properties": {
        "isTransient": {
          "type": "boolean",
          "description": "Whether this parameter is a transient parameter. go/ip-transient-parameters"
        },
        "dataType": {
          "description": "The data type of the parameter.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "protoDefName": {
          "description": "The name of the protobuf type if the parameter has a protobuf data type.",
          "type": "string"
        },
        "children": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          },
          "type": "array",
          "description": "Child parameters nested within this parameter. This field only applies to protobuf parameters"
        },
        "attributes": {
          "description": "Metadata information about the parameters.",
          "$ref": "EnterpriseCrmEventbusProtoAttributes"
        },
        "protoDefPath": {
          "type": "string",
          "description": "If the data type is of type proto or proto array, this field needs to be populated with the fully qualified proto name. This message, for example, would be \"enterprise.crm.frontends.eventbus.proto.WorkflowParameterEntry\"."
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition."
        },
        "defaultValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        },
        "producer": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\"."
        },
        "producedBy": {
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param.",
          "$ref": "EnterpriseCrmEventbusProtoNodeIdentifier"
        },
        "inOutType": {
          "description": "Specifies the input/output type for the parameter.",
          "enumDescriptions": [
            "",
            "Input parameters for the workflow. EventBus validates that these parameters exist in the workflows before execution.",
            "Output Parameters for the workflow. EventBus will only return the workflow parameters tagged with OUT in the response back.",
            "Input or Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ],
          "type": "string",
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ]
        },
        "jsonSchema": {
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse": {
      "properties": {
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Execution Id that will be returned"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse",
      "description": "Response of lift Suspense",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy": {
      "properties": {
        "taskNumbersToRollback": {
          "description": "Required. These are the tasks numbers of the tasks whose `rollback_strategy.rollback_task_implementation_class_name` needs to be executed upon failure of this task.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "parameters": {
          "description": "Optional. The customized parameters the user can pass to this task.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "rollbackTaskImplementationClassName": {
          "type": "string",
          "description": "Required. This is the name of the task that needs to be executed upon rollback of this task."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy",
      "description": "Next available id: 4"
    },
    "GoogleCloudConnectorsV1Secret": {
      "id": "GoogleCloudConnectorsV1Secret",
      "properties": {
        "secretVersion": {
          "description": "The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Secret provides a reference to entries in Secret Manager."
    },
    "EnterpriseCrmEventbusProtoTriggerCriteria": {
      "id": "EnterpriseCrmEventbusProtoTriggerCriteria",
      "properties": {
        "condition": {
          "description": "Required. Standard filter expression, when true the workflow will be executed. If there's no trigger_criteria_task_implementation_class_name specified, the condition will be validated directly.",
          "type": "string"
        },
        "triggerCriteriaTaskImplementationClassName": {
          "type": "string",
          "description": "Optional. Implementation class name. The class should implement the “TypedTask” interface."
        },
        "parameters": {
          "description": "Optional. To be used in TaskConfig for the implementation class.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoCondition": {
      "id": "EnterpriseCrmEventbusProtoCondition",
      "description": "Condition that uses `operator` to evaluate the key against the value.",
      "properties": {
        "value": {
          "description": "Value that's checked for the key.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        },
        "operator": {
          "enum": [
            "UNSET",
            "EQUALS",
            "CONTAINS",
            "LESS_THAN",
            "GREATER_THAN",
            "EXISTS",
            "DOES_NOT_EXIST",
            "IS_EMPTY",
            "IS_NOT_EMPTY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Operator used to evaluate the condition. Please note that an operator with an inappropriate key/value operand will result in IllegalArgumentException, e.g. CONTAINS with boolean key/value pair."
        },
        "eventPropertyKey": {
          "description": "Key that's evaluated against the `value`. Please note the data type of the runtime value associated with the key should match the data type of `value`, else an IllegalArgumentException is thrown.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaAttemptStats": {
      "id": "GoogleCloudIntegrationsV1alphaAttemptStats",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end time of the event execution for current attempt."
        }
      },
      "description": "Status for the execution attempt."
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest": {
      "description": "Request for DeactivateIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest",
      "properties": {},
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "id": "EnterpriseCrmEventbusProtoIntParameterArray",
      "type": "object",
      "properties": {
        "intValues": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "EnterpriseCrmLoggingGwsFieldLimits": {
      "description": "Describes string and array limits when writing to logs. When a limit is exceeded the *shortener_type* describes how to shorten the field. next_id: 6",
      "properties": {
        "maxStringLength": {
          "description": "maximum string length. If the field exceeds this amount the field is shortened.",
          "type": "integer",
          "format": "int32"
        },
        "maxArraySize": {
          "description": "maximum array size. If the array exceds this size, the field (list) is truncated.",
          "type": "integer",
          "format": "int32"
        },
        "logAction": {
          "enum": [
            "LOG_ACTION_UNSPECIFIED",
            "DONT_LOG",
            "LOG"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "shortenerType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "String is shortened to max_string_length.",
            "String is replaced by its hex-string hash.",
            "String is replaced by a combination of string shortening and a hex-string hash.",
            "String shortening for email addresses. Shortening may be done on the user and/or domain portion of the email address.",
            "String is replaced by a combination of string shortening and a hex-string hash for an email address.",
            "Shortens a domain name (e.g., as part of an email address or URL)."
          ],
          "enum": [
            "SHORTENER_TYPE_UNSPECIFIED",
            "SHORTEN",
            "HASH",
            "SHORTEN_WITH_HASH",
            "SHORTEN_EMAIL",
            "SHORTEN_EMAIL_WITH_HASH",
            "SHORTEN_DOMAIN"
          ]
        },
        "logType": {
          "type": "array",
          "description": "To which type(s) of logs the limits apply.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ],
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ]
          }
        }
      },
      "id": "EnterpriseCrmLoggingGwsFieldLimits",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFailurePolicy": {
      "id": "EnterpriseCrmEventbusProtoFailurePolicy",
      "type": "object",
      "properties": {
        "maxNumRetries": {
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the number of times the task will be retried if failed.",
          "type": "integer",
          "format": "int32"
        },
        "retryStrategy": {
          "enumDescriptions": [
            "",
            "Ignores the failure of this task. The rest of the workflow will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the workflow.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified.",
            "The entire workflow will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified."
          ],
          "description": "Defines what happens to the task upon failure.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_WORKFLOW_WITH_BACKOFF"
          ]
        },
        "intervalInSeconds": {
          "format": "int64",
          "type": "string",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the initial interval for backoff."
        }
      },
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied)."
    },
    "EnterpriseCrmEventbusProtoSuspensionConfig": {
      "properties": {
        "suspensionExpiration": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionExpiration",
          "description": "Indicates the next steps when no external actions happen on the suspension."
        },
        "whoMayResolve": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions"
          },
          "type": "array",
          "description": "Identities able to resolve this suspension."
        },
        "customMessage": {
          "description": "Optional information to provide recipients of the suspension in addition to the resolution URL, typically containing relevant parameter values from the originating workflow.",
          "type": "string"
        },
        "notifications": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNotification"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionConfig",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex": {
      "description": "Rule used to validate strings.",
      "type": "object",
      "properties": {
        "regex": {
          "type": "string",
          "description": "The regex applied to the input value(s)."
        },
        "exclusive": {
          "type": "boolean",
          "description": "Whether the regex matcher is applied exclusively (if true, matching values will be rejected)."
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims": {
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims",
      "description": "JWT claims used for the jwt-bearer authorization grant.",
      "properties": {
        "issuer": {
          "description": "Value for the \"iss\" claim.",
          "type": "string"
        },
        "audience": {
          "type": "string",
          "description": "Value for the \"aud\" claim."
        },
        "subject": {
          "type": "string",
          "description": "Value for the \"sub\" claim."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats": {
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled.",
          "format": "int64"
        },
        "endTime": {
          "description": "The end time of the event execution for current attempt.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCertificate": {
      "properties": {
        "credentialId": {
          "description": "Immutable. Credential id that will be used to register with trawler INTERNAL_ONLY",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Name of the certificate"
        },
        "rawCertificate": {
          "$ref": "GoogleCloudIntegrationsV1alphaClientCertificate",
          "description": "Input only. Raw client certificate which would be registered with trawler"
        },
        "validEndTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp after which certificate will expire"
        },
        "description": {
          "description": "Description of the certificate",
          "type": "string"
        },
        "certificateStatus": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED"
          ],
          "description": "Status of the certificate",
          "enumDescriptions": [
            "Unspecified certificate status",
            "Certificate in active state will be able to use",
            "Certificate in expired state needs to be updated"
          ],
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Auto generated primary key"
        },
        "requestorId": {
          "description": "Immutable. Requestor ID to be used to register certificate with trawler",
          "type": "string"
        },
        "validStartTime": {
          "description": "Output only. The timestamp after which certificate will be valid",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "The certificate definition",
      "id": "GoogleCloudIntegrationsV1alphaCertificate"
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesDataRow": {
      "properties": {
        "x": {
          "$ref": "EnterpriseCrmCardsCellValue"
        },
        "y": {
          "$ref": "EnterpriseCrmCardsCellValue"
        }
      },
      "type": "object",
      "description": "Aplos series row is exactly two columns labeled x and y.",
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesDataRow"
    },
    "EnterpriseCrmEventbusProtoTransformExpression": {
      "id": "EnterpriseCrmEventbusProtoTransformExpression",
      "properties": {
        "initialValue": {
          "$ref": "EnterpriseCrmEventbusProtoBaseValue",
          "description": "Initial value upon which to perform transformations."
        },
        "transformationFunctions": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoFunction"
          },
          "description": "Transformations to be applied sequentially.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse": {
      "description": "Response for listing RuntimeActionSchemas for a specific Connection.",
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse",
      "properties": {
        "runtimeActionSchemas": {
          "description": "Runtime action schemas.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoCoordinate": {
      "description": "Represents two-dimensional positions.",
      "id": "EnterpriseCrmEventbusProtoCoordinate",
      "type": "object",
      "properties": {
        "x": {
          "format": "int32",
          "type": "integer"
        },
        "y": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskEntity": {
      "description": "Contains a task's metadata and associated information. Next available id: 7",
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskEntity",
      "type": "object",
      "properties": {
        "stats": {
          "$ref": "EnterpriseCrmEventbusStats",
          "description": "Deprecated - statistics from the Monarch query."
        },
        "disabledForVpcSc": {
          "type": "boolean",
          "description": "True if the task has conflict with vpcsc"
        },
        "taskType": {
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ],
          "type": "string",
          "description": "Defines the type of the task",
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ]
        },
        "metadata": {
          "$ref": "EnterpriseCrmEventbusProtoTaskMetadata",
          "description": "Metadata inclueds the task name, author and so on."
        },
        "uiConfig": {
          "$ref": "EnterpriseCrmEventbusProtoTaskUiConfig",
          "description": "UI configuration for this task Also associated with the METADATA mask."
        },
        "paramSpecs": {
          "description": "Declarations for inputs/outputs for a TypedTask. This is also associated with the METADATA mask.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest": {
      "properties": {
        "fileFormat": {
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "enumDescriptions": [
            "Unspecified file format",
            "JSON File Format",
            "YAML File Format"
          ],
          "description": "File format for upload request.",
          "type": "string"
        },
        "content": {
          "description": "The textproto of the integration_version.",
          "type": "string"
        }
      },
      "description": "Request for UploadIntegrationVersion.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest"
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse": {
      "properties": {},
      "type": "object",
      "description": "Response for PublishIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
    },
    "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse": {
      "type": "object",
      "properties": {
        "taskEntities": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
          },
          "description": "The list of the tasks."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse",
      "description": "This is a UI only method and will be moved away. Response for ListTaskEntities."
    },
    "EnterpriseCrmEventbusProtoErrorDetail": {
      "type": "object",
      "description": "An error, warning, or information message associated with a workflow.",
      "id": "EnterpriseCrmEventbusProtoErrorDetail",
      "properties": {
        "severity": {
          "description": "The severity of the error: ERROR|WARN|INFO.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARN",
            "INFO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "errorCode": {
          "$ref": "CrmlogErrorCode",
          "description": "The associated error-code, which can be a common or internal code."
        },
        "taskNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The task try-number, in which, the error occurred. If zero, the error happened at the event level."
        },
        "errorMessage": {
          "type": "string",
          "description": "The full text of the error message, including any parameters that were thrown along with the exception."
        }
      }
    },
    "EnterpriseCrmEventbusProtoBuganizerNotification": {
      "id": "EnterpriseCrmEventbusProtoBuganizerNotification",
      "type": "object",
      "properties": {
        "assigneeEmailAddress": {
          "description": "Whom to assign the new bug. Optional.",
          "type": "string"
        },
        "templateId": {
          "description": "ID of the buganizer template to use. Optional.",
          "format": "int64",
          "type": "string"
        },
        "componentId": {
          "description": "ID of the buganizer component within which to create a new issue. Required.",
          "type": "string",
          "format": "int64"
        },
        "title": {
          "type": "string",
          "description": "Title of the issue to be created. Required."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest": {
      "type": "object",
      "properties": {
        "authConfigId": {
          "type": "string",
          "description": "The auth config id necessary to fetch the necessary credentials to create the project for external clients"
        },
        "appsScriptProject": {
          "description": "The name of the Apps Script project to be created.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest",
      "description": "Request for CreateAppsScriptProject rpc call."
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest",
      "description": "Request for cancelling an execution.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaTriggerConfig": {
      "type": "object",
      "description": "Configuration detail of a trigger.",
      "id": "GoogleCloudIntegrationsV1alphaTriggerConfig",
      "properties": {
        "cloudSchedulerConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig",
          "description": "Optional. Cloud Scheduler Trigger related metadata"
        },
        "alertConfig": {
          "description": "Optional. An alert threshold configuration for the [trigger + client + integration] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + integration] when published.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig"
          },
          "type": "array"
        },
        "label": {
          "type": "string",
          "description": "Optional. The user created label for a particular trigger."
        },
        "triggerType": {
          "enumDescriptions": [
            "Unknown.",
            "Trigger by scheduled time.",
            "Trigger by API call.",
            "Trigger by Salesforce Channel.",
            "Trigger by Pub/Sub external.",
            "SFDC Channel Trigger for CDC.",
            "Trigger by Cloud Scheduler job."
          ],
          "enum": [
            "TRIGGER_TYPE_UNSPECIFIED",
            "CRON",
            "API",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "CLOUD_SCHEDULER"
          ],
          "description": "Optional. Type of trigger",
          "type": "string"
        },
        "triggerNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each trigger config within the integration on UI."
        },
        "startTasks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "description": "Optional. Set of tasks numbers from where the integration execution is started by this trigger. If this is empty, then integration is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same integration execution graph)."
        },
        "description": {
          "description": "Optional. User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Configurable properties of the trigger, not to be confused with integration parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Pub/sub triggers."
        },
        "nextTasksExecutionPolicy": {
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "description": "Optional. Dictates how next tasks will be executed."
        },
        "triggerId": {
          "description": "Optional. The backend trigger ID.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmCardsCellValue": {
      "type": "object",
      "id": "EnterpriseCrmCardsCellValue",
      "properties": {
        "stringValue": {
          "type": "string"
        },
        "empty": {
          "$ref": "GoogleProtobufEmpty"
[...]
