{
  "name": "notebooks",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "AI Platform Notebooks",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/notebooks/docs/",
  "revision": "20221017",
  "discoveryVersion": "v1",
  "title": "Notebooks API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "baseUrl": "https://notebooks.googleapis.com/",
  "id": "notebooks:v1",
  "description": "Notebooks API is used to manage notebook resources in Google Cloud.",
  "version": "v1",
  "mtlsRootUrl": "https://notebooks.mtls.googleapis.com/",
  "rootUrl": "https://notebooks.googleapis.com/",
  "basePath": "",
  "ownerName": "Google",
  "servicePath": "",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "schemas": {
    "UpdateInstanceMetadataItemsResponse": {
      "id": "UpdateInstanceMetadataItemsResponse",
      "type": "object",
      "description": "Response for adding/changing metadata items for an instance.",
      "properties": {
        "items": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of items that were added/updated to/in the metadata."
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "DiagnosticConfig": {
      "id": "DiagnosticConfig",
      "type": "object",
      "properties": {
        "packetCaptureFlagEnabled": {
          "description": "Optional. Enables flag to capture packets from the instance for 30 seconds",
          "type": "boolean"
        },
        "relativePath": {
          "description": "Optional. Defines the relative storage path in the Cloud Storage bucket where the diagnostic logs will be written: Default path will be the root directory of the Cloud Storage bucket (gs://$GCS_BUCKET/$DATE_$TIME.tar.gz) Example of full path where Log file will be written: gs://$GCS_BUCKET/$RELATIVE_PATH/",
          "type": "string"
        },
        "copyHomeFilesFlagEnabled": {
          "type": "boolean",
          "description": "Optional. Enables flag to copy all `/home/jupyter` folder contents"
        },
        "gcsBucket": {
          "description": "Required. User Cloud Storage bucket location (REQUIRED) ## Must be formatted with path prefix (gs://$GCS_BUCKET) Permissions: User Managed Notebooks: - storage.buckets.writer: Must be given to the project's service account attached to VM. Google Managed Notebooks: - storage.buckets.writer: Must be given to the project's service account or ## user credentials attached to VM depending on authentication mode. Cloud Storage bucket Log file will be written to gs://$GCS_BUCKET/$RELATIVE_PATH/$VM_DATE_$TIME.tar.gz",
          "type": "string"
        },
        "repairFlagEnabled": {
          "type": "boolean",
          "description": "Optional. Enables flag to repair service for instance"
        }
      },
      "description": "Defines flags that are used to run the diagnostic tool"
    },
    "ExecutionTemplate": {
      "id": "ExecutionTemplate",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for execution. If execution is scheduled, a field included will be 'nbs-scheduled'. Otherwise, it is an immediate execution, and an included field will be 'nbs-immediate'. Use fields to efficiently index between various types of executions.",
          "type": "object"
        },
        "serviceAccount": {
          "description": "The email address of a service account to use when running the execution. You must have the `iam.serviceAccounts.actAs` permission for the specified service account.",
          "type": "string"
        },
        "paramsYamlFile": {
          "description": "Parameters to be overridden in the notebook during execution. Ref https://papermill.readthedocs.io/en/latest/usage-parameterize.html on how to specifying parameters in the input notebook and pass them here in an YAML file. Ex: `gs://notebook_user/scheduled_notebooks/sentiment_notebook_params.yaml`",
          "type": "string"
        },
        "masterType": {
          "type": "string",
          "description": "Specifies the type of virtual machine to use for your training job's master worker. You must specify this field when `scaleTier` is set to `CUSTOM`. You can use certain Compute Engine machine types directly in this field. The following types are supported: - `n1-standard-4` - `n1-standard-8` - `n1-standard-16` - `n1-standard-32` - `n1-standard-64` - `n1-standard-96` - `n1-highmem-2` - `n1-highmem-4` - `n1-highmem-8` - `n1-highmem-16` - `n1-highmem-32` - `n1-highmem-64` - `n1-highmem-96` - `n1-highcpu-16` - `n1-highcpu-32` - `n1-highcpu-64` - `n1-highcpu-96` Alternatively, you can use the following legacy machine types: - `standard` - `large_model` - `complex_model_s` - `complex_model_m` - `complex_model_l` - `standard_gpu` - `complex_model_m_gpu` - `complex_model_l_gpu` - `standard_p100` - `complex_model_m_p100` - `standard_v100` - `large_model_v100` - `complex_model_m_v100` - `complex_model_l_v100` Finally, if you want to use a TPU for training, specify `cloud_tpu` in this field. Learn more about the [special configuration options for training with TPU](https://cloud.google.com/ai-platform/training/docs/using-tpus#configuring_a_custom_tpu_machine)."
        },
        "kernelSpec": {
          "description": "Name of the kernel spec to use. This must be specified if the kernel spec name on the execution target does not match the name in the input notebook file.",
          "type": "string"
        },
        "parameters": {
          "type": "string",
          "description": "Parameters used within the 'input_notebook_file' notebook."
        },
        "scaleTier": {
          "description": "Required. Scale tier of the hardware used for notebook execution. DEPRECATED Will be discontinued. As right now only CUSTOM is supported.",
          "enumDescriptions": [
            "Unspecified Scale Tier.",
            "A single worker instance. This tier is suitable for learning how to use Cloud ML, and for experimenting with new models using small datasets.",
            "Many workers and a few parameter servers.",
            "A large number of workers with many parameter servers.",
            "A single worker instance with a K80 GPU.",
            "A single worker instance with a Cloud TPU.",
            "The CUSTOM tier is not a set tier, but rather enables you to use your own cluster specification. When you use this tier, set values to configure your processing cluster according to these guidelines: * You _must_ set `ExecutionTemplate.masterType` to specify the type of machine to use for your master node. This is the only required setting."
          ],
          "enum": [
            "SCALE_TIER_UNSPECIFIED",
            "BASIC",
            "STANDARD_1",
            "PREMIUM_1",
            "BASIC_GPU",
            "BASIC_TPU",
            "CUSTOM"
          ],
          "type": "string"
        },
        "containerImageUri": {
          "description": "Container Image URI to a DLVM Example: 'gcr.io/deeplearning-platform-release/base-cu100' More examples can be found at: https://cloud.google.com/ai-platform/deep-learning-containers/docs/choosing-container",
          "type": "string"
        },
        "dataprocParameters": {
          "$ref": "DataprocParameters",
          "description": "Parameters used in Dataproc JobType executions."
        },
        "vertexAiParameters": {
          "$ref": "VertexAIParameters",
          "description": "Parameters used in Vertex AI JobType executions."
        },
        "acceleratorConfig": {
          "description": "Configuration (count and accelerator type) for hardware running notebook execution.",
          "$ref": "SchedulerAcceleratorConfig"
        },
        "jobType": {
          "enumDescriptions": [
            "No type specified.",
            "Custom Job in `aiplatform.googleapis.com`. Default value for an execution.",
            "Run execution on a cluster with Dataproc as a job. https://cloud.google.com/dataproc/docs/reference/rest/v1/projects.regions.jobs"
          ],
          "type": "string",
          "description": "The type of Job to be used on this execution.",
          "enum": [
            "JOB_TYPE_UNSPECIFIED",
            "VERTEX_AI",
            "DATAPROC"
          ]
        },
        "outputNotebookFolder": {
          "type": "string",
          "description": "Path to the notebook folder to write to. Must be in a Google Cloud Storage bucket path. Format: `gs://{bucket_name}/{folder}` Ex: `gs://notebook_user/scheduled_notebooks`"
        },
        "tensorboard": {
          "description": "The name of a Vertex AI [Tensorboard] resource to which this execution will upload Tensorboard logs. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`",
          "type": "string"
        },
        "inputNotebookFile": {
          "type": "string",
          "description": "Path to the notebook file to execute. Must be in a Google Cloud Storage bucket. Format: `gs://{bucket_name}/{folder}/{notebook_file_name}` Ex: `gs://notebook_user/scheduled_notebooks/sentiment_notebook.ipynb`"
        }
      },
      "type": "object",
      "description": "The description a notebook execution workload."
    },
    "ShieldedInstanceConfig": {
      "description": "A set of Shielded Instance options. Check [Images using supported Shielded VM features] Not all combinations are valid.",
      "type": "object",
      "properties": {
        "enableVtpm": {
          "description": "Defines whether the instance has the vTPM enabled. Enabled by default.",
          "type": "boolean"
        },
        "enableSecureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails. Disabled by default."
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created. Enabled by default."
        }
      },
      "id": "ShieldedInstanceConfig"
    },
    "RollbackInstanceRequest": {
      "type": "object",
      "id": "RollbackInstanceRequest",
      "description": "Request for rollbacking a notebook instance",
      "properties": {
        "targetSnapshot": {
          "description": "Required. The snapshot for rollback. Example: \"projects/test-project/global/snapshots/krwlzipynril\".",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "API endpoint name of this operation."
        },
        "verb": {
          "type": "string",
          "description": "Name of the verb executed by the operation."
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "statusMessage": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "type": "string",
          "description": "API version used to start the operation."
        },
        "createTime": {
          "description": "The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "target": {
          "description": "Server-defined resource path for the target of the operation.",
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "ResetRuntimeRequest": {
      "type": "object",
      "description": "Request for resetting a Managed Notebook Runtime.",
      "id": "ResetRuntimeRequest",
      "properties": {
        "requestId": {
          "description": "Idempotent request UUID.",
          "type": "string"
        }
      }
    },
    "VmImage": {
      "description": "Definition of a custom Compute Engine virtual machine image for starting a notebook instance with the environment installed directly on the VM.",
      "id": "VmImage",
      "type": "object",
      "properties": {
        "imageFamily": {
          "description": "Use this VM image family to find the image; the newest image in this family will be used.",
          "type": "string"
        },
        "imageName": {
          "type": "string",
          "description": "Use VM image name to find the image."
        },
        "project": {
          "type": "string",
          "description": "Required. The name of the Google Cloud project that this VM image belongs to. Format: `{project_id}`"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "UpdateInstanceMetadataItemsRequest": {
      "description": "Request for adding/changing metadata items for an instance.",
      "properties": {
        "items": {
          "description": "Metadata items to add/update for the instance.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "UpdateInstanceMetadataItemsRequest"
    },
    "Disk": {
      "description": "An instance-attached disk resource.",
      "id": "Disk",
      "type": "object",
      "properties": {
        "index": {
          "type": "string",
          "format": "int64",
          "description": "A zero-based index to this disk, where 0 is reserved for the boot disk. If you have many disks attached to an instance, each disk would have a unique index number."
        },
        "mode": {
          "description": "The mode in which to attach this disk, either READ_WRITE or READ_ONLY. If not specified, the default is to attach the disk in READ_WRITE mode. Valid values: * READ_ONLY * READ_WRITE",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Indicates the type of the disk, either SCRATCH or PERSISTENT. Valid values: * PERSISTENT * SCRATCH"
        },
        "diskSizeGb": {
          "format": "int64",
          "type": "string",
          "description": "Indicates the size of the disk in base-2 GB."
        },
        "boot": {
          "type": "boolean",
          "description": "Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. Always compute#attachedDisk for attached disks."
        },
        "deviceName": {
          "description": "Indicates a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine.This field is only applicable for persistent disks.",
          "type": "string"
        },
        "licenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of publicly visible licenses. Reserved for Google's use. A License represents billing and aggregate usage data for public and marketplace images."
        },
        "autoDelete": {
          "description": "Indicates whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance).",
          "type": "boolean"
        },
        "source": {
          "type": "string",
          "description": "Indicates a valid partial or full URL to an existing Persistent Disk resource."
        },
        "guestOsFeatures": {
          "description": "Indicates a list of features to enable on the guest operating system. Applicable only for bootable images. Read Enabling guest operating system features to see a list of available options.",
          "items": {
            "$ref": "GuestOsFeature"
          },
          "type": "array"
        },
        "interface": {
          "description": "Indicates the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. Persistent disks must always use SCSI and the request will fail if you attempt to attach a persistent disk in any other format than SCSI. Local SSDs can use either NVME or SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance. Valid values: * NVME * SCSI",
          "type": "string"
        }
      }
    },
    "RuntimeAcceleratorConfig": {
      "type": "object",
      "id": "RuntimeAcceleratorConfig",
      "description": "Definition of the types of hardware accelerators that can be used. Definition of the types of hardware accelerators that can be used. See [Compute Engine AcceleratorTypes](https://cloud.google.com/compute/docs/reference/beta/acceleratorTypes). Examples: * `nvidia-tesla-k80` * `nvidia-tesla-p100` * `nvidia-tesla-v100` * `nvidia-tesla-p4` * `nvidia-tesla-t4` * `nvidia-tesla-a100`",
      "properties": {
        "coreCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of cores of this accelerator."
        },
        "type": {
          "description": "Accelerator model.",
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "TPU_V2",
            "TPU_V3",
            "NVIDIA_TESLA_T4_VWS",
            "NVIDIA_TESLA_P100_VWS",
            "NVIDIA_TESLA_P4_VWS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Accelerator type is not specified.",
            "Accelerator type is Nvidia Tesla K80.",
            "Accelerator type is Nvidia Tesla P100.",
            "Accelerator type is Nvidia Tesla V100.",
            "Accelerator type is Nvidia Tesla P4.",
            "Accelerator type is Nvidia Tesla T4.",
            "Accelerator type is Nvidia Tesla A100.",
            "(Coming soon) Accelerator type is TPU V2.",
            "(Coming soon) Accelerator type is TPU V3.",
            "Accelerator type is NVIDIA Tesla T4 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P100 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P4 Virtual Workstations."
          ]
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "type": "object"
    },
    "AcceleratorConfig": {
      "properties": {
        "coreCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of cores of this accelerator."
        },
        "type": {
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_TESLA_T4_VWS",
            "NVIDIA_TESLA_P100_VWS",
            "NVIDIA_TESLA_P4_VWS",
            "TPU_V2",
            "TPU_V3"
          ],
          "type": "string",
          "enumDescriptions": [
            "Accelerator type is not specified.",
            "Accelerator type is Nvidia Tesla K80.",
            "Accelerator type is Nvidia Tesla P100.",
            "Accelerator type is Nvidia Tesla V100.",
            "Accelerator type is Nvidia Tesla P4.",
            "Accelerator type is Nvidia Tesla T4.",
            "Accelerator type is Nvidia Tesla A100.",
            "Accelerator type is NVIDIA Tesla T4 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P100 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P4 Virtual Workstations.",
            "(Coming soon) Accelerator type is TPU V2.",
            "(Coming soon) Accelerator type is TPU V3."
          ],
          "description": "Type of this accelerator."
        }
      },
      "description": "Definition of a hardware accelerator. Note that not all combinations of `type` and `core_count` are valid. Check [GPUs on Compute Engine](/compute/docs/gpus/#gpus-list) to find a valid combination. TPUs are not supported.",
      "id": "AcceleratorConfig",
      "type": "object"
    },
    "VirtualMachine": {
      "type": "object",
      "properties": {
        "virtualMachineConfig": {
          "$ref": "VirtualMachineConfig",
          "description": "Virtual Machine configuration settings."
        },
        "instanceName": {
          "readOnly": true,
          "description": "Output only. The user-friendly name of the Managed Compute Engine instance.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Managed Compute Engine instance.",
          "readOnly": true
        }
      },
      "description": "Runtime using Virtual Machine for computing.",
      "id": "VirtualMachine"
    },
    "SetInstanceAcceleratorRequest": {
      "type": "object",
      "description": "Request for setting instance accelerator.",
      "properties": {
        "coreCount": {
          "format": "int64",
          "type": "string",
          "description": "Required. Count of cores of this accelerator. Note that not all combinations of `type` and `core_count` are valid. Check [GPUs on Compute Engine](https://cloud.google.com/compute/docs/gpus/#gpus-list) to find a valid combination. TPUs are not supported."
        },
        "type": {
          "type": "string",
          "description": "Required. Type of this accelerator.",
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_TESLA_T4_VWS",
            "NVIDIA_TESLA_P100_VWS",
            "NVIDIA_TESLA_P4_VWS",
            "TPU_V2",
            "TPU_V3"
          ],
          "enumDescriptions": [
            "Accelerator type is not specified.",
            "Accelerator type is Nvidia Tesla K80.",
            "Accelerator type is Nvidia Tesla P100.",
            "Accelerator type is Nvidia Tesla V100.",
            "Accelerator type is Nvidia Tesla P4.",
            "Accelerator type is Nvidia Tesla T4.",
            "Accelerator type is Nvidia Tesla A100.",
            "Accelerator type is NVIDIA Tesla T4 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P100 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P4 Virtual Workstations.",
            "(Coming soon) Accelerator type is TPU V2.",
            "(Coming soon) Accelerator type is TPU V3."
          ]
        }
      },
      "id": "SetInstanceAcceleratorRequest"
    },
    "DataprocParameters": {
      "type": "object",
      "description": "Parameters used in Dataproc JobType executions.",
      "properties": {
        "cluster": {
          "description": "URI for cluster used to run Dataproc execution. Format: `projects/{PROJECT_ID}/regions/{REGION}/clusters/{CLUSTER_NAME}`",
          "type": "string"
        }
      },
      "id": "DataprocParameters"
    },
    "Schedule": {
      "id": "Schedule",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time the schedule was created.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "PAUSED",
            "DISABLED",
            "UPDATE_FAILED",
            "INITIALIZING",
            "DELETING"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The job is executing normally.",
            "The job is paused by the user. It will not execute. A user can intentionally pause the job using PauseJobRequest.",
            "The job is disabled by the system due to error. The user cannot directly set a job to be disabled.",
            "The job state resulting from a failed CloudScheduler.UpdateJob operation. To recover a job from this state, retry CloudScheduler.UpdateJob until a successful response is received.",
            "The schedule resource is being created.",
            "The schedule resource is being deleted."
          ]
        },
        "cronSchedule": {
          "description": "Cron-tab formatted schedule by which the job will execute. Format: minute, hour, day of month, month, day of week, e.g. 0 0 * * WED = every Wednesday More examples: https://crontab.guru/examples.html",
          "type": "string"
        },
        "recentExecutions": {
          "readOnly": true,
          "description": "Output only. The most recent execution names triggered from this schedule and their corresponding states.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name used for UI purposes. Name can only contain alphanumeric characters, hyphens '-', and underscores '_'."
        },
        "description": {
          "type": "string",
          "description": "A brief description of this environment."
        },
        "updateTime": {
          "description": "Output only. Time the schedule was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "timeZone": {
          "type": "string",
          "description": "Timezone on which the cron_schedule. The value of this field must be a time zone name from the tz database. TZ Database: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones Note that some time zones include a provision for daylight savings time. The rules for daylight saving time are determined by the chosen tz. For UTC use the string \"utc\". If a time zone is not specified, the default will be in UTC (also known as GMT)."
        },
        "name": {
          "description": "Output only. The name of this schedule. Format: `projects/{project_id}/locations/{location}/schedules/{schedule_id}`",
          "readOnly": true,
          "type": "string"
        },
        "executionTemplate": {
          "$ref": "ExecutionTemplate",
          "description": "Notebook Execution Template corresponding to this schedule."
        }
      },
      "description": "The definition of a schedule.",
      "type": "object"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GetInstanceHealthResponse": {
      "properties": {
        "healthState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Runtime health_state.",
          "enumDescriptions": [
            "The instance substate is unknown.",
            "The instance is known to be in an healthy state (for example, critical daemons are running) Applies to ACTIVE state.",
            "The instance is known to be in an unhealthy state (for example, critical daemons are not running) Applies to ACTIVE state.",
            "The instance has not installed health monitoring agent. Applies to ACTIVE state.",
            "The instance health monitoring agent is not running. Applies to ACTIVE state."
          ],
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "AGENT_NOT_INSTALLED",
            "AGENT_NOT_RUNNING"
          ]
        },
        "healthInfo": {
          "description": "Output only. Additional information about instance health. Example: healthInfo\": { \"docker_proxy_agent_status\": \"1\", \"docker_status\": \"1\", \"jupyterlab_api_status\": \"-1\", \"jupyterlab_status\": \"-1\", \"updated\": \"2020-10-18 09:40:03.573409\" }",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "description": "Response for checking if a notebook instance is healthy.",
      "id": "GetInstanceHealthResponse",
      "type": "object"
    },
    "InstanceConfig": {
      "id": "InstanceConfig",
      "type": "object",
      "properties": {
        "notebookUpgradeSchedule": {
          "description": "Cron expression in UTC timezone, used to schedule instance auto upgrade. Please follow the [cron format](https://en.wikipedia.org/wiki/Cron).",
          "type": "string"
        },
        "enableHealthMonitoring": {
          "type": "boolean",
          "description": "Verifies core internal services are running."
        }
      },
      "description": "Notebook instance configurations that can be updated."
    },
    "VertexAIParameters": {
      "type": "object",
      "description": "Parameters used in Vertex AI JobType executions.",
      "properties": {
        "network": {
          "description": "The full name of the Compute Engine [network](/compute/docs/networks-and-firewalls#networks) to which the Job should be peered. For example, `projects/12345/global/networks/myVPC`. [Format](https://cloud.google.com/compute/docs/reference/rest/v1/networks/insert) is of the form `projects/{project}/global/networks/{network}`. Where {project} is a project number, as in `12345`, and {network} is a network name. Private services access must already be configured for the network. If left unspecified, the job is not peered with any network.",
          "type": "string"
        },
        "env": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Environment variables. At most 100 environment variables can be specified and unique. Example: GCP_BUCKET=gs://my-bucket/samples/"
        }
      },
      "id": "VertexAIParameters"
    },
    "UpgradeInstanceRequest": {
      "id": "UpgradeInstanceRequest",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Upgrade type is not specified.",
            "Upgrade ML framework.",
            "Upgrade Operating System.",
            "Upgrade CUDA.",
            "Upgrade All (OS, Framework and CUDA)."
          ],
          "enum": [
            "UPGRADE_TYPE_UNSPECIFIED",
            "UPGRADE_FRAMEWORK",
            "UPGRADE_OS",
            "UPGRADE_CUDA",
            "UPGRADE_ALL"
          ],
          "description": "Optional. The optional UpgradeType. Setting this field will search for additional compute images to upgrade this instance."
        }
      },
      "type": "object",
      "description": "Request for upgrading a notebook instance"
    },
    "ListEnvironmentsResponse": {
      "description": "Response for listing environments.",
      "id": "ListEnvironmentsResponse",
      "properties": {
        "environments": {
          "items": {
            "$ref": "Environment"
          },
          "type": "array",
          "description": "A list of returned environments."
        },
        "nextPageToken": {
          "description": "A page token that can be used to continue listing from the last result in the next list call.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "UpgradeInstanceInternalRequest": {
      "type": "object",
      "description": "Request for upgrading a notebook instance from within the VM",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Upgrade type is not specified.",
            "Upgrade ML framework.",
            "Upgrade Operating System.",
            "Upgrade CUDA.",
            "Upgrade All (OS, Framework and CUDA)."
          ],
          "description": "Optional. The optional UpgradeType. Setting this field will search for additional compute images to upgrade this instance.",
          "enum": [
            "UPGRADE_TYPE_UNSPECIFIED",
            "UPGRADE_FRAMEWORK",
            "UPGRADE_OS",
            "UPGRADE_CUDA",
            "UPGRADE_ALL"
          ]
        },
        "vmId": {
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity",
          "type": "string"
        }
      },
      "id": "UpgradeInstanceInternalRequest"
    },
    "Runtime": {
      "description": "The definition of a Runtime for a managed notebook instance.",
      "properties": {
        "healthState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The runtime substate is unknown.",
            "The runtime is known to be in an healthy state (for example, critical daemons are running) Applies to ACTIVE state.",
            "The runtime is known to be in an unhealthy state (for example, critical daemons are not running) Applies to ACTIVE state.",
            "The runtime has not installed health monitoring agent. Applies to ACTIVE state.",
            "The runtime health monitoring agent is not running. Applies to ACTIVE state."
          ],
          "description": "Output only. Runtime health_state.",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "AGENT_NOT_INSTALLED",
            "AGENT_NOT_RUNNING"
          ]
        },
        "metrics": {
          "$ref": "RuntimeMetrics",
          "readOnly": true,
          "description": "Output only. Contains Runtime daemon metrics such as Service status and JupyterLab stats."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Runtime creation time.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the runtime. Format: `projects/{project}/locations/{location}/runtimes/{runtimeId}`",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Runtime state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "PROVISIONING",
            "ACTIVE",
            "STOPPING",
            "STOPPED",
            "DELETING",
            "UPGRADING",
            "INITIALIZING"
          ],
          "enumDescriptions": [
            "State is not specified.",
            "The compute layer is starting the runtime. It is not ready for use.",
            "The compute layer is installing required frameworks and registering the runtime with notebook proxy. It cannot be used.",
            "The runtime is currently running. It is ready for use.",
            "The control logic is stopping the runtime. It cannot be used.",
            "The runtime is stopped. It cannot be used.",
            "The runtime is being deleted. It cannot be used.",
            "The runtime is upgrading. It cannot be used.",
            "The runtime is being created and set up. It is not ready for use."
          ]
        },
        "accessConfig": {
          "$ref": "RuntimeAccessConfig",
          "description": "The config settings for accessing runtime."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Runtime update time.",
          "readOnly": true
        },
        "softwareConfig": {
          "$ref": "RuntimeSoftwareConfig",
          "description": "The config settings for software inside the runtime."
        },
        "virtualMachine": {
          "description": "Use a Compute Engine VM image to start the managed notebook instance.",
          "$ref": "VirtualMachine"
        }
      },
      "type": "object",
      "id": "Runtime"
    },
    "SetInstanceLabelsRequest": {
      "type": "object",
      "id": "SetInstanceLabelsRequest",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Labels to apply to this instance. These can be later modified by the setLabels method",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Request for setting instance labels."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      }
    },
    "RuntimeMetrics": {
      "id": "RuntimeMetrics",
      "type": "object",
      "description": "Contains runtime daemon metrics, such as OS and kernels and sessions stats.",
      "properties": {
        "systemMetrics": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. The system metrics.",
          "readOnly": true
        }
      }
    },
    "SchedulerAcceleratorConfig": {
      "id": "SchedulerAcceleratorConfig",
      "type": "object",
      "properties": {
        "coreCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of cores of this accelerator."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified accelerator type. Default to no GPU.",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "TPU v2.",
            "TPU v3."
          ],
          "description": "Type of this accelerator.",
          "enum": [
            "SCHEDULER_ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "TPU_V2",
            "TPU_V3"
          ]
        }
      },
      "description": "Definition of a hardware accelerator. Note that not all combinations of `type` and `core_count` are valid. Check [GPUs on Compute Engine](https://cloud.google.com/compute/docs/gpus) to find a valid combination. TPUs are not supported."
    },
    "TriggerScheduleRequest": {
      "type": "object",
      "id": "TriggerScheduleRequest",
      "description": "Request for created scheduled notebooks",
      "properties": {}
    },
    "Execution": {
      "description": "The definition of a single executed notebook.",
      "properties": {
        "jobUri": {
          "readOnly": true,
          "description": "Output only. The URI of the external job used to execute the notebook.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the execute. Format: `projects/{project_id}/locations/{location}/executions/{execution_id}`",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the Execution was last updated.",
          "format": "google-datetime"
        },
        "executionTemplate": {
          "$ref": "ExecutionTemplate",
          "description": "execute metadata including name, hardware spec, region, labels, etc."
        },
        "description": {
          "type": "string",
          "description": "A brief description of this execution."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the Execution was instantiated.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. State of the underlying AI Platform job.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PREPARING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED",
            "EXPIRED",
            "INITIALIZING"
          ],
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created and processing has not yet begun.",
            "The service is preparing to execution the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed. `error_message` should contain the details of the failure.",
            "The job is being cancelled. `error_message` should describe the reason for the cancellation.",
            "The job has been cancelled. `error_message` should describe the reason for the cancellation.",
            "The job has become expired (relevant to Vertex AI jobs) https://cloud.google.com/vertex-ai/docs/reference/rest/v1/JobState",
            "The Execution is being created."
          ]
        },
        "outputNotebookFile": {
          "type": "string",
          "description": "Output notebook file generated by this execution"
        },
        "displayName": {
          "description": "Output only. Name used for UI purposes. Name can only contain alphanumeric characters and underscores '_'.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Execution",
      "type": "object"
    },
    "RuntimeAccessConfig": {
      "description": "Specifies the login configuration for Runtime",
      "properties": {
        "proxyUri": {
          "type": "string",
          "description": "Output only. The proxy endpoint that is used to access the runtime.",
          "readOnly": true
        },
        "runtimeOwner": {
          "type": "string",
          "description": "The owner of this runtime after creation. Format: `alias@example.com` Currently supports one owner only."
        },
        "accessType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified access.",
            "Single user login.",
            "Service Account mode. In Service Account mode, Runtime creator will specify a SA that exists in the consumer project. Using Runtime Service Account field. Users accessing the Runtime need ActAs (Service Account User) permission."
          ],
          "description": "The type of access mode this instance.",
          "enum": [
            "RUNTIME_ACCESS_TYPE_UNSPECIFIED",
            "SINGLE_USER",
            "SERVICE_ACCOUNT"
          ]
        }
      },
      "type": "object",
      "id": "RuntimeAccessConfig"
    },
    "DiagnoseInstanceRequest": {
      "description": "Request for creating a notebook instance diagnostic file.",
      "id": "DiagnoseInstanceRequest",
      "type": "object",
      "properties": {
        "diagnosticConfig": {
          "$ref": "DiagnosticConfig",
          "description": "Required. Defines flags that are used to run the diagnostic tool"
        }
      }
    },
    "ReservationAffinity": {
      "description": "Reservation Affinity for consuming Zonal reservation.",
      "type": "object",
      "properties": {
        "consumeReservationType": {
          "type": "string",
          "enumDescriptions": [
            "Default type.",
            "Do not consume from any allocated capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ],
          "description": "Optional. Type of reservation to consume"
        },
        "values": {
          "description": "Optional. Corresponds to the label values of reservation resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "type": "string",
          "description": "Optional. Corresponds to the label key of reservation resource."
        }
      },
      "id": "ReservationAffinity"
    },
    "UpgradeHistoryEntry": {
      "type": "object",
      "properties": {
        "framework": {
          "type": "string",
          "description": "The framework of this notebook instance."
        },
        "vmImage": {
          "description": "The VM image before this instance upgrade.",
          "type": "string"
        },
        "version": {
          "description": "The version of the notebook instance before this upgrade.",
          "type": "string"
        },
        "containerImage": {
          "type": "string",
          "description": "The container image before this instance upgrade."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State is not specified.",
            "The instance upgrade is started.",
            "The instance upgrade is succeeded.",
            "The instance upgrade is failed."
          ],
          "description": "The state of this instance upgrade history entry."
        },
        "targetImage": {
          "description": "Target VM Image. Format: ainotebooks-vm/project/image-name/name.",
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "Operation is not specified.",
            "Upgrade.",
            "Rollback."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "UPGRADE",
            "ROLLBACK"
          ],
          "type": "string",
          "description": "Action. Rolloback or Upgrade."
        },
        "snapshot": {
          "type": "string",
          "description": "The snapshot of the boot disk of this notebook instance before upgrade."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that this instance upgrade history entry is created."
        },
        "targetVersion": {
          "description": "Target VM Version, like m63.",
          "type": "string"
        }
      },
      "id": "UpgradeHistoryEntry",
      "description": "The entry of VM image upgrade history."
    },
    "EncryptionConfig": {
      "description": "Represents a custom encryption key configuration that can be applied to a resource. This will encrypt all disks in Virtual Machine.",
      "id": "EncryptionConfig",
      "properties": {
        "kmsKey": {
          "description": "The Cloud KMS resource identifier of the customer-managed encryption key used to protect a resource, such as a disks. It has the following format: `projects/{PROJECT_ID}/locations/{REGION}/keyRings/{KEY_RING_NAME}/cryptoKeys/{KEY_NAME}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResetInstanceRequest": {
      "id": "ResetInstanceRequest",
      "description": "Request for resetting a notebook instance",
      "type": "object",
      "properties": {}
    },
    "SwitchRuntimeRequest": {
      "description": "Request for switching a Managed Notebook Runtime.",
      "type": "object",
      "id": "SwitchRuntimeRequest",
      "properties": {
        "requestId": {
          "description": "Idempotent request UUID.",
          "type": "string"
        },
        "machineType": {
          "description": "machine type.",
          "type": "string"
        },
        "acceleratorConfig": {
          "$ref": "RuntimeAcceleratorConfig",
          "description": "accelerator config."
        }
      }
    },
    "DiagnoseRuntimeRequest": {
      "id": "DiagnoseRuntimeRequest",
      "description": "Request for creating a notebook instance diagnostic file.",
      "type": "object",
      "properties": {
        "diagnosticConfig": {
          "$ref": "DiagnosticConfig",
          "description": "Required. Defines flags that are used to run the diagnostic tool"
        }
      }
    },
    "UpdateShieldedInstanceConfigRequest": {
      "description": "Request for updating the Shielded Instance config for a notebook instance. You can only use this method on a stopped instance",
      "properties": {
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "ShieldedInstance configuration to be updated."
        }
      },
      "id": "UpdateShieldedInstanceConfigRequest",
      "type": "object"
    },
    "StartInstanceRequest": {
      "type": "object",
      "id": "StartInstanceRequest",
      "properties": {},
      "description": "Request for starting a notebook instance"
    },
    "SetInstanceMachineTypeRequest": {
      "id": "SetInstanceMachineTypeRequest",
      "type": "object",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Required. The [Compute Engine machine type](https://cloud.google.com/compute/docs/machine-types)."
        }
      },
      "description": "Request for setting instance machine type."
    },
    "BootImage": {
      "description": "Definition of the boot image used by the Runtime. Used to facilitate runtime upgradeability.",
      "id": "BootImage",
      "properties": {},
      "type": "object"
    },
    "RefreshRuntimeTokenInternalResponse": {
      "description": "Response with a new access token.",
      "type": "object",
      "properties": {
        "expireTime": {
          "description": "Output only. Token expiration time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "accessToken": {
          "type": "string",
          "description": "The OAuth 2.0 access token."
        }
      },
      "id": "RefreshRuntimeTokenInternalResponse"
    },
    "StopInstanceRequest": {
      "description": "Request for stopping a notebook instance",
      "type": "object",
      "id": "StopInstanceRequest",
      "properties": {}
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "properties": {
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "A list of returned instances."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached. For example, ['us-west1-a', 'us-central1-b']. A ListInstancesResponse will only contain either instances or unreachables,",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that can be used to continue listing from the last result in the next list call."
        }
      },
      "type": "object",
      "description": "Response for listing notebook instances."
    },
    "Environment": {
      "id": "Environment",
      "type": "object",
      "description": "Definition of a software environment that is used to start a notebook instance.",
      "properties": {
        "postStartupScript": {
          "type": "string",
          "description": "Path to a Bash script that automatically runs after a notebook instance fully boots up. The path must be a URL or Cloud Storage path. Example: `\"gs://path-to-file/file-name\"`"
        },
        "displayName": {
          "description": "Display name of this environment for the UI.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of this environment. Format: `projects/{project_id}/locations/{location}/environments/{environment_id}`",
          "type": "string"
        },
        "vmImage": {
          "$ref": "VmImage",
          "description": "Use a Compute Engine VM image to start the notebook instance."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which this environment was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "A brief description of this environment."
        },
        "containerImage": {
          "description": "Use a container image to start the notebook instance.",
          "$ref": "ContainerImage"
        }
      }
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      },
      "type": "object"
    },
    "ListRuntimesResponse": {
      "id": "ListRuntimesResponse",
      "properties": {
        "runtimes": {
          "items": {
            "$ref": "Runtime"
          },
          "type": "array",
          "description": "A list of returned Runtimes."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached. For example, ['us-west1', 'us-central1']. A ListRuntimesResponse will only contain either runtimes or unreachables,",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that can be used to continue listing from the last result in the next list call."
        }
      },
      "type": "object",
      "description": "Response for listing Managed Notebook Runtimes."
    },
    "UpgradeRuntimeRequest": {
      "properties": {
        "requestId": {
          "description": "Idempotent request UUID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UpgradeRuntimeRequest",
      "description": "Request for upgrading a Managed Notebook Runtime to the latest version. option (google.api.message_visibility).restriction = \"TRUSTED_TESTER,SPECIAL_TESTER\";"
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "ReportRuntimeEventRequest": {
      "properties": {
        "vmId": {
          "type": "string",
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity"
        },
        "event": {
          "description": "Required. The Event to be reported.",
          "$ref": "Event"
        }
      },
      "id": "ReportRuntimeEventRequest",
      "type": "object",
      "description": "Request for reporting a Managed Notebook Event."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "VirtualMachineConfig": {
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The Compute Engine tags to add to runtime (see [Tagging instances](https://cloud.google.com/compute/docs/label-or-tag-resources#tags)).",
          "type": "array"
        },
        "subnet": {
          "type": "string",
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications. Cannot be specified with network. A full URL or partial URI are valid. Examples: * `https://www.googleapis.com/compute/v1/projects/[project_id]/regions/us-east1/subnetworks/sub0` * `projects/[project_id]/regions/us-east1/subnetworks/sub0`"
        },
        "reservedIpRange": {
          "type": "string",
          "description": "Optional. Reserved IP Range name is used for VPC Peering. The subnetwork allocation will use the range *name* if it's assigned. Example: managed-notebooks-range-c PEERING_RANGE_NAME_3=managed-notebooks-range-c gcloud compute addresses create $PEERING_RANGE_NAME_3 \\ --global \\ --prefix-length=24 \\ --description=\"Google Cloud Managed Notebooks Range 24 c\" \\ --network=$NETWORK \\ --addresses=192.168.0.0 \\ --purpose=VPC_PEERING Field value will be: `managed-notebooks-range-c`"
        },
        "labels": {
          "description": "Optional. The labels to associate with this runtime. Label **keys** must contain 1 to 63 characters, and must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt). Label **values** may be empty, but, if present, must contain 1 to 63 characters, and must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a cluster.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "internalIpOnly": {
          "description": "Optional. If true, runtime will only have internal IP addresses. By default, runtimes are not restricted to internal IP addresses, and will have ephemeral external IP addresses assigned to each vm. This `internal_ip_only` restriction can only be enabled for subnetwork enabled networks, and all dependencies must be configured to be accessible without external IP addresses.",
          "type": "boolean"
        },
        "zone": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The zone where the virtual machine is located. If using regional request, the notebooks service will pick a location in the corresponding runtime region. On a get request, zone will always be present. Example: * `us-central1-b`"
        },
        "machineType": {
          "description": "Required. The Compute Engine machine type used for runtimes. Short name is valid. Examples: * `n1-standard-2` * `e2-standard-8`",
          "type": "string"
        },
        "bootImage": {
          "description": "Optional. Boot image metadata used for runtime upgradeability.",
          "$ref": "BootImage"
        },
        "shieldedInstanceConfig": {
          "$ref": "RuntimeShieldedInstanceConfig",
          "description": "Optional. Shielded VM Instance configuration settings."
        },
        "containerImages": {
          "description": "Optional. Use a list of container images to use as Kernels in the notebook instance.",
          "type": "array",
          "items": {
            "$ref": "ContainerImage"
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The Compute Engine metadata entries to add to virtual machine. (see [Project and instance metadata](https://cloud.google.com/compute/docs/storing-retrieving-metadata#project_and_instance_metadata))."
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Encryption settings for virtual machine data disk."
        },
        "acceleratorConfig": {
          "$ref": "RuntimeAcceleratorConfig",
          "description": "Optional. The Compute Engine accelerator configuration for this runtime."
        },
        "network": {
          "description": "Optional. The Compute Engine network to be used for machine communications. Cannot be specified with subnetwork. If neither `network` nor `subnet` is specified, the \"default\" network of the project is used, if it exists. A full URL or partial URI. Examples: * `https://www.googleapis.com/compute/v1/projects/[project_id]/global/networks/default` * `projects/[project_id]/global/networks/default` Runtimes are managed resources inside Google Infrastructure. Runtimes support the following network configurations: * Google Managed Network (Network & subnet are empty) * Consumer Project VPC (network & subnet are required). Requires configuring Private Service Access. * Shared VPC (network & subnet are required). Requires configuring Private Service Access.",
          "type": "string"
        },
        "nicType": {
          "enum": [
            "UNSPECIFIED_NIC_TYPE",
            "VIRTIO_NET",
            "GVNIC"
          ],
          "description": "Optional. The type of vNIC to be used on this interface. This may be gVNIC or VirtioNet.",
          "enumDescriptions": [
            "No type specified.",
            "VIRTIO",
            "GVNIC"
          ],
          "type": "string"
        },
        "guestAttributes": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The Compute Engine guest attributes. (see [Project and instance guest attributes](https://cloud.google.com/compute/docs/storing-retrieving-metadata#guest_attributes))."
        },
        "dataDisk": {
          "$ref": "LocalDisk",
          "description": "Required. Data disk option configuration settings."
        }
      },
      "id": "VirtualMachineConfig",
      "description": "The config settings for virtual machine.",
      "type": "object"
    },
    "StopRuntimeRequest": {
      "id": "StopRuntimeRequest",
      "description": "Request for stopping a Managed Notebook Runtime.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Idempotent request UUID."
        }
      },
      "type": "object"
    },
    "IsInstanceUpgradeableResponse": {
      "properties": {
        "upgradeInfo": {
          "description": "Additional information about upgrade.",
          "type": "string"
        },
        "upgradeVersion": {
          "description": "The version this instance will be upgraded to if calling the upgrade endpoint. This field will only be populated if field upgradeable is true.",
          "type": "string"
        },
        "upgradeImage": {
          "type": "string",
          "description": "The new image self link this instance will be upgraded to if calling the upgrade endpoint. This field will only be populated if field upgradeable is true."
        },
        "upgradeable": {
          "description": "If an instance is upgradeable.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "IsInstanceUpgradeableResponse",
      "description": "Response for checking if a notebook instance is upgradeable."
    },
    "LocalDisk": {
      "description": "A Local attached disk resource.",
      "type": "object",
      "id": "LocalDisk",
      "properties": {
        "interface": {
          "description": "Specifies the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. Persistent disks must always use SCSI and the request will fail if you attempt to attach a persistent disk in any other format than SCSI. Local SSDs can use either NVME or SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance. Valid values: * NVME * SCSI",
          "type": "string"
        },
        "deviceName": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks."
        },
        "autoDelete": {
          "readOnly": true,
          "description": "Optional. Output only. Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance).",
          "type": "boolean"
        },
        "initializeParams": {
          "description": "Input only. Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new instance. This property is mutually exclusive with the source property; you can only define one or the other, but not both.",
          "$ref": "LocalDiskInitializeParams"
        },
        "type": {
          "description": "Specifies the type of the disk, either SCRATCH or PERSISTENT. If not specified, the default is PERSISTENT. Valid values: * PERSISTENT * SCRATCH",
          "type": "string"
        },
        "mode": {
          "type": "string",
          "description": "The mode in which to attach this disk, either READ_WRITE or READ_ONLY. If not specified, the default is to attach the disk in READ_WRITE mode. Valid values: * READ_ONLY * READ_WRITE"
        },
        "kind": {
          "description": "Output only. Type of the resource. Always compute#attachedDisk for attached disks.",
          "readOnly": true,
          "type": "string"
        },
        "guestOsFeatures": {
          "readOnly": true,
          "description": "Output only. Indicates a list of features to enable on the guest operating system. Applicable only for bootable images. Read Enabling guest operating system features to see a list of available options.",
          "items": {
            "$ref": "RuntimeGuestOsFeature"
          },
          "type": "array"
        },
        "index": {
          "type": "integer",
          "description": "Output only. A zero-based index to this disk, where 0 is reserved for the boot disk. If you have many disks attached to an instance, each disk would have a unique index number.",
          "format": "int32",
          "readOnly": true
        },
        "licenses": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Any valid publicly visible licenses."
        },
        "boot": {
          "type": "boolean",
          "description": "Optional. Output only. Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem.",
          "readOnly": true
        },
        "source": {
          "type": "string",
          "description": "Specifies a valid partial or full URL to an existing Persistent Disk resource."
        }
      }
    },
    "ListSchedulesResponse": {
      "id": "ListSchedulesResponse",
      "type": "object",
      "properties": {
        "schedules": {
          "description": "A list of returned instances.",
          "type": "array",
          "items": {
            "$ref": "Schedule"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that can be used to continue listing from the last result in the next list call."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Schedules that could not be reached. For example: ['projects/{project_id}/location/{location}/schedules/monthly_digest', 'projects/{project_id}/location/{location}/schedules/weekly_sentiment']",
          "type": "array"
        }
      },
      "description": "Response for listing scheduled notebook job."
    },
    "ContainerImage": {
      "id": "ContainerImage",
      "properties": {
        "repository": {
          "description": "Required. The path to the container image repository. For example: `gcr.io/{project_id}/{image_name}`",
          "type": "string"
        },
        "tag": {
          "description": "The tag of the container image. If not specified, this defaults to the latest tag.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Definition of a container image for starting a notebook instance with the environment installed in a container."
    },
    "RuntimeSoftwareConfig": {
      "type": "object",
      "description": "Specifies the selection and configuration of software inside the runtime. The properties to set on runtime. Properties keys are specified in `key:value` format, for example: * `idle_shutdown: true` * `idle_shutdown_timeout: 180` * `enable_health_monitoring: true`",
      "id": "RuntimeSoftwareConfig",
      "properties": {
        "notebookUpgradeSchedule": {
          "description": "Cron expression in UTC timezone, used to schedule instance auto upgrade. Please follow the [cron format](https://en.wikipedia.org/wiki/Cron).",
          "type": "string"
        },
        "postStartupScript": {
          "description": "Path to a Bash script that automatically runs after a notebook instance fully boots up. The path must be a URL or Cloud Storage path (`gs://path-to-file/file-name`).",
          "type": "string"
        },
        "postStartupScriptBehavior": {
          "description": "Behavior for the post startup script.",
          "enum": [
            "POST_STARTUP_SCRIPT_BEHAVIOR_UNSPECIFIED",
            "RUN_EVERY_START",
            "DOWNLOAD_AND_RUN_EVERY_START"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified post startup script behavior. Will run only once at creation.",
            "Runs the post startup script provided during creation at every start.",
            "Downloads and runs the provided post startup script at every start."
          ]
        },
        "idleShutdownTimeout": {
          "description": "Time in minutes to wait before shutting down runtime. Default: 180 minutes",
          "type": "integer",
          "format": "int32"
        },
        "installGpuDriver": {
          "type": "boolean",
          "description": "Install Nvidia Driver automatically. Default: True"
        },
        "enableHealthMonitoring": {
          "description": "Verifies core internal services are running. Default: True",
          "type": "boolean"
        },
        "customGpuDriverPath": {
          "type": "string",
          "description": "Specify a custom Cloud Storage path where the GPU driver is stored. If not specified, we'll automatically choose from official GPU drivers."
        },
        "kernels": {
          "items": {
            "$ref": "ContainerImage"
          },
          "type": "array",
          "description": "Optional. Use a list of container images to use as Kernels in the notebook instance."
        },
        "upgradeable": {
          "readOnly": true,
          "description": "Output only. Bool indicating whether an newer image is available in an image family.",
          "type": "boolean"
        },
        "idleShutdown": {
          "type": "boolean",
          "description": "Runtime will automatically shutdown after idle_shutdown_time. Default: True"
        },
        "disableTerminal": {
          "type": "boolean",
          "description": "Bool indicating whether JupyterLab terminal will be available or not. Default: False"
        }
      }
    },
    "Expr": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr"
    },
    "GuestOsFeature": {
      "description": "Guest OS features for boot disk.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The ID of a supported feature. Read Enabling guest operating system features to see a list of available options. Valid values: * FEATURE_TYPE_UNSPECIFIED * MULTI_IP_SUBNET * SECURE_BOOT * UEFI_COMPATIBLE * VIRTIO_SCSI_MULTIQUEUE * WINDOWS"
        }
      },
      "id": "GuestOsFeature"
    },
    "ReportInstanceInfoRequest": {
      "id": "ReportInstanceInfoRequest",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata reported to Notebooks API. This will be merged to the instance metadata store"
        },
        "vmId": {
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for notebook instances to report information to Notebooks API."
    },
    "Event": {
      "type": "object",
      "id": "Event",
      "description": "The definition of an Event for a managed / semi-managed notebook instance.",
      "properties": {
        "type": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "IDLE",
            "HEARTBEAT",
            "HEALTH",
            "MAINTENANCE"
          ],
          "description": "Event type.",
          "enumDescriptions": [
            "Event is not specified.",
            "The instance / runtime is idle",
            "The instance / runtime is available. This event indicates that instance / runtime underlying compute is operational.",
            "The instance / runtime health is available. This event indicates that instance / runtime health information.",
            "The instance / runtime is available. This event allows instance / runtime to send Host maintenance information to Control Plane. https://cloud.google.com/compute/docs/gpus/gpu-host-maintenance"
          ],
          "type": "string"
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Event report time."
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Event details. This field is used to pass event information."
        }
      }
    },
    "LocalDiskInitializeParams": {
      "id": "LocalDiskInitializeParams",
      "properties": {
        "diskName": {
          "description": "Optional. Specifies the disk name. If not specified, the default is to use the name of the instance. If the disk with the instance name exists already in the given zone/region, a new name will be automatically generated.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Provide this property when creating the disk."
        },
        "diskSizeGb": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Specifies the size of the disk in base-2 GB. If not specified, the disk will be the same size as the image (usually 10GB). If specified, the size must be equal to or larger than 10GB. Default 100 GB."
        },
        "diskType": {
          "enumDescriptions": [
            "Disk type not set.",
            "Standard persistent disk type.",
            "SSD persistent disk type.",
            "Balanced persistent disk type.",
            "Extreme persistent disk type."
          ],
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "PD_STANDARD",
            "PD_SSD",
            "PD_BALANCED",
            "PD_EXTREME"
          ],
          "type": "string",
          "description": "Input only. The type of the boot disk attached to this instance, defaults to standard persistent disk (`PD_STANDARD`)."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels to apply to this disk. These can be later modified by the disks.setLabels method. This field is only applicable for persistent disks.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Input only. Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new runtime. This property is mutually exclusive with the source property; you can only define one or the other, but not both."
    },
    "UpdateInstanceConfigRequest": {
      "type": "object",
      "properties": {
        "config": {
          "$ref": "InstanceConfig",
          "description": "The instance configurations to be updated."
        }
      },
      "id": "UpdateInstanceConfigRequest",
      "description": "Request for updating instance configurations."
    },
    "Instance": {
      "properties": {
        "network": {
          "type": "string",
          "description": "The name of the VPC that this instance is in. Format: `projects/{project_id}/global/networks/{network_id}`"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Instance creation time.",
          "type": "string",
          "format": "google-datetime"
        },
        "diskEncryption": {
          "description": "Input only. Disk encryption method used on the boot and data disks, defaults to GMEK.",
          "enum": [
            "DISK_ENCRYPTION_UNSPECIFIED",
            "GMEK",
            "CMEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Disk encryption is not specified.",
            "Use Google managed encryption keys to encrypt the boot disk.",
            "Use customer managed encryption keys to encrypt the boot disk."
          ]
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded VM configuration. [Images using supported Shielded VM features](https://cloud.google.com/compute/docs/instances/modifying-shielded-vm).",
          "$ref": "ShieldedInstanceConfig"
        },
        "postStartupScript": {
          "description": "Path to a Bash script that automatically runs after a notebook instance fully boots up. The path must be a URL or Cloud Storage path (`gs://path-to-file/file-name`).",
          "type": "string"
        },
        "metadata": {
          "description": "Custom metadata to apply to this instance.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "state": {
          "description": "Output only. The state of this instance.",
          "readOnly": true,
          "enumDescriptions": [
            "State is not specified.",
            "The control logic is starting the instance.",
            "The control logic is installing required frameworks and registering the instance with notebook proxy",
            "The instance is running.",
            "The control logic is stopping the instance.",
            "The instance is stopped.",
            "The instance is deleted.",
            "The instance is upgrading.",
            "The instance is being created.",
            "The instance is getting registered.",
            "The instance is suspending.",
[...]
