{
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Playdeveloperreporting",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://playdeveloperreporting.googleapis.com/",
  "ownerDomain": "google.com",
  "version_module": true,
  "documentationLink": "https://developers.google.com/play/developer/reporting",
  "basePath": "",
  "batchPath": "batch",
  "servicePath": "",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "anomalies": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1ListAnomaliesResponse"
          },
          "flatPath": "v1alpha1/apps/{appsId}/anomalies",
          "id": "playdeveloperreporting.anomalies.list",
          "path": "v1alpha1/{+parent}/anomalies",
          "description": "Lists anomalies in any of the datasets.",
          "parameters": {
            "pageSize": {
              "description": "Maximum size of the returned data. If unspecified, at most 10 anomalies will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "filter": {
              "type": "string",
              "description": "Filtering criteria for anomalies. For basic filter guidance, please check: https://google.aip.dev/160. **Supported functions:** * `activeBetween(startTime, endTime)`: If specified, only list anomalies that were active in between `startTime` (inclusive) and `endTime` (exclusive). Both parameters are expected to conform to an RFC-3339 formatted string (e.g. `2012-04-21T11:30:00-04:00`). UTC offsets are supported. Both `startTime` and `endTime` accept the special value `UNBOUNDED`, to signify intervals with no lower or upper bound, respectively. Examples: * `activeBetween(\"2021-04-21T11:30:00Z\", \"2021-07-21T00:00:00Z\")` * `activeBetween(UNBOUNDED, \"2021-11-21T00:00:00-04:00\")` * `activeBetween(\"2021-07-21T00:00:00-04:00\", UNBOUNDED)`",
              "location": "query"
            },
            "parent": {
              "type": "string",
              "description": "Required. Parent app for which anomalies were detected. Format: apps/{app}",
              "location": "path",
              "required": true,
              "pattern": "^apps/[^/]+$"
            },
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListErrorReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListErrorReports` must match the call that provided the page token.",
              "type": "string"
            }
          }
        }
      }
    },
    "vitals": {
      "resources": {
        "stuckbackgroundwakelockrate": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1StuckBackgroundWakelockRateMetricSet"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Describes the properties of the metric set.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^apps/[^/]+/stuckBackgroundWakelockRateMetricSet$",
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet",
                  "required": true
                }
              },
              "id": "playdeveloperreporting.vitals.stuckbackgroundwakelockrate.get",
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1alpha1/apps/{appsId}/stuckBackgroundWakelockRateMetricSet"
            },
            "query": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryStuckBackgroundWakelockRateMetricSetRequest"
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryStuckBackgroundWakelockRateMetricSetResponse"
              },
              "path": "v1alpha1/{+name}:query",
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/stuckBackgroundWakelockRateMetricSet$",
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet",
                  "type": "string",
                  "required": true
                }
              },
              "id": "playdeveloperreporting.vitals.stuckbackgroundwakelockrate.query",
              "flatPath": "v1alpha1/apps/{appsId}/stuckBackgroundWakelockRateMetricSet:query",
              "httpMethod": "POST",
              "description": "Queries the metrics in the metric set."
            }
          }
        },
        "anrrate": {
          "methods": {
            "query": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetResponse"
              },
              "path": "v1alpha1/{+name}:query",
              "flatPath": "v1alpha1/apps/{appsId}/anrRateMetricSet:query",
              "description": "Queries the metrics in the metric set.",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/anrRateMetricSet",
                  "type": "string",
                  "pattern": "^apps/[^/]+/anrRateMetricSet$",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "playdeveloperreporting.vitals.anrrate.query"
            },
            "get": {
              "description": "Describes the properties of the metric set.",
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/anrRateMetricSet$",
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/anrRateMetricSet",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "playdeveloperreporting.vitals.anrrate.get",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1AnrRateMetricSet"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/apps/{appsId}/anrRateMetricSet"
            }
          }
        },
        "excessivewakeuprate": {
          "methods": {
            "query": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet",
                  "pattern": "^apps/[^/]+/excessiveWakeupRateMetricSet$",
                  "required": true
                }
              },
              "flatPath": "v1alpha1/apps/{appsId}/excessiveWakeupRateMetricSet:query",
              "httpMethod": "POST",
              "id": "playdeveloperreporting.vitals.excessivewakeuprate.query",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryExcessiveWakeupRateMetricSetRequest"
              },
              "path": "v1alpha1/{+name}:query",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryExcessiveWakeupRateMetricSetResponse"
              },
              "description": "Queries the metrics in the metric set."
            },
            "get": {
              "description": "Describes the properties of the metric set.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet",
                  "pattern": "^apps/[^/]+/excessiveWakeupRateMetricSet$",
                  "required": true
                }
              },
              "flatPath": "v1alpha1/apps/{appsId}/excessiveWakeupRateMetricSet",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1ExcessiveWakeupRateMetricSet"
              },
              "id": "playdeveloperreporting.vitals.excessivewakeuprate.get",
              "path": "v1alpha1/{+name}"
            }
          }
        },
        "crashrate": {
          "methods": {
            "query": {
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetRequest"
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetResponse"
              },
              "httpMethod": "POST",
              "description": "Queries the metrics in the metric set.",
              "parameterOrder": [
                "name"
              ],
              "id": "playdeveloperreporting.vitals.crashrate.query",
              "path": "v1alpha1/{+name}:query",
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/crashRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/crashRateMetricSet",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/apps/{appsId}/crashRateMetricSet:query"
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "description": "Describes the properties of the metric set.",
              "id": "playdeveloperreporting.vitals.crashrate.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/crashRateMetricSet",
                  "required": true,
                  "location": "path",
                  "pattern": "^apps/[^/]+/crashRateMetricSet$"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1CrashRateMetricSet"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/apps/{appsId}/crashRateMetricSet"
            }
          }
        },
        "errors": {
          "resources": {
            "reports": {
              "methods": {
                "search": {
                  "description": "Searches all error reports received for an app.",
                  "parameters": {
                    "interval.startTime.nanos": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "type": "integer"
                    },
                    "interval.endTime.seconds": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
                    },
                    "interval.endTime.year": {
                      "format": "int32",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "type": "integer",
                      "location": "query"
                    },
                    "interval.endTime.utcOffset": {
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "type": "string",
                      "format": "google-duration",
                      "location": "query"
                    },
                    "interval.startTime.timeZone.version": {
                      "type": "string",
                      "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
                      "location": "query"
                    },
                    "interval.endTime.month": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month."
                    },
                    "interval.endTime.nanos": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "format": "int32"
                    },
                    "interval.startTime.month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "location": "query"
                    },
                    "interval.startTime.day": {
                      "type": "integer",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.startTime.minutes": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "type": "integer"
                    },
                    "interval.endTime.hours": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
                    },
                    "interval.startTime.hours": {
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "interval.endTime.day": {
                      "type": "integer",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.startTime.seconds": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "format": "int32"
                    },
                    "interval.endTime.timeZone.id": {
                      "location": "query",
                      "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of reports to return. The service may return fewer than this value. If unspecified, at most 50 reports will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    },
                    "interval.endTime.minutes": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "A selection predicate to retrieve only a subset of the reports. For filtering basics, please check [AIP-160](https://google.aip.dev/160). ** Supported field names:** * `apiLevel`: Matches error reports that occurred in the requested Android versions (specified as the numeric API level) only. Example: `apiLevel = 28 OR apiLevel = 29`. * `versionCode`: Matches error reports that occurred in the requested app version codes only. Example: `versionCode = 123 OR versionCode = 456`. * `deviceModel`: Matches error reports that occurred in the requested devices. Example: `deviceModel = \"walleye\" OR deviceModel = \"marlin\"`. * `deviceType`: Matches error reports that occurred in the requested device types. Example: `deviceType = \"PHONE\"`. * `errorIssueType`: Matches error reports of the requested types only. Valid candidates: `JAVA_CRASH`, `NATIVE_CRASH`, `ANR`. Example: `errorIssueType = JAVA_CRASH OR errorIssueType = NATIVE_CRASH`. * `errorIssueId`: Matches error reports belonging to the requested error issue ids only. Example: `errorIssueId = 1234 OR errorIssueId = 4567`. ** Supported operators:** * Comparison operators: The only supported comparison operator is equality. The filtered field must appear on the left hand side of the comparison. * Logical Operators: Logical operators `AND` and `OR` can be used to build complex filters following a conjunctive normal form (CNF), i.e., conjunctions of disjunctions. The `OR` operator takes precedence over `AND` so the use of parenthesis is not necessary when building CNF. The `OR` operator is only supported to build disjunctions that apply to the same field, e.g., `versionCode = 123 OR versionCode = ANR`. The filter expression `versionCode = 123 OR errorIssueType = ANR` is not valid. ** Examples ** Some valid filtering expressions: * `versionCode = 123 AND errorIssueType = ANR` * `versionCode = 123 AND errorIssueType = OR errorIssueType = CRASH` * `versionCode = 123 AND (errorIssueType = OR errorIssueType = CRASH)`"
                    },
                    "interval.startTime.year": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Parent resource of the reports, indicating the application for which they were received. Format: apps/{app}",
                      "pattern": "^apps/[^/]+$"
                    },
                    "interval.startTime.utcOffset": {
                      "format": "google-duration",
                      "location": "query",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "type": "string"
                    },
                    "interval.startTime.timeZone.id": {
                      "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
                      "type": "string",
                      "location": "query"
                    },
                    "interval.endTime.timeZone.version": {
                      "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `SearchErrorReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchErrorReports` must match the call that provided the page token."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/errorReports:search",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1SearchErrorReportsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/apps/{appsId}/errorReports:search",
                  "id": "playdeveloperreporting.vitals.errors.reports.search"
                }
              }
            },
            "issues": {
              "methods": {
                "search": {
                  "id": "playdeveloperreporting.vitals.errors.issues.search",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/apps/{appsId}/errorIssues:search",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1SearchErrorIssuesResponse"
                  },
                  "path": "v1alpha1/{+parent}/errorIssues:search",
                  "parameters": {
                    "interval.startTime.timeZone.id": {
                      "type": "string",
                      "location": "query",
                      "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\"."
                    },
                    "interval.startTime.minutes": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
                    },
                    "filter": {
                      "description": "A selection predicate to retrieve only a subset of the issues. Counts in the returned error issues will only reflect occurrences that matched the filter. For filtering basics, please check [AIP-160](https://google.aip.dev/160). ** Supported field names:** * `apiLevel`: Matches error issues that occurred in the requested Android versions (specified as the numeric API level) only. Example: `apiLevel = 28 OR apiLevel = 29`. * `versionCode`: Matches error issues that occurred in the requested app version codes only. Example: `versionCode = 123 OR versionCode = 456`. * `deviceModel`: Matches error issues that occurred in the requested devices. Example: `deviceModel = \"walleye\" OR deviceModel = \"marlin\"`. * `deviceType`: Matches error issues that occurred in the requested device types. Example: `deviceType = \"PHONE\"`. * `errorIssueType`: Matches error issues of the requested types only. Valid candidates: `CRASH`, `ANR`. Example: `errorIssueType = CRASH OR errorIssueType = ANR`. ** Supported operators:** * Comparison operators: The only supported comparison operator is equality. The filtered field must appear on the left hand side of the comparison. * Logical Operators: Logical operators `AND` and `OR` can be used to build complex filters following a conjunctive normal form (CNF), i.e., conjunctions of disjunctions. The `OR` operator takes precedence over `AND` so the use of parenthesis is not necessary when building CNF. The `OR` operator is only supported to build disjunctions that apply to the same field, e.g., `versionCode = 123 OR errorIssueType = ANR` is not a valid filter. ** Examples ** Some valid filtering expressions: * `versionCode = 123 AND errorIssueType = ANR` * `versionCode = 123 AND errorIssueType = OR errorIssueType = CRASH` * `versionCode = 123 AND (errorIssueType = OR errorIssueType = CRASH)`",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.endTime.month": {
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
                    },
                    "interval.startTime.timeZone.version": {
                      "type": "string",
                      "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
                      "location": "query"
                    },
                    "interval.startTime.hours": {
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "interval.endTime.nanos": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "format": "int32"
                    },
                    "interval.startTime.day": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "location": "query"
                    },
                    "interval.startTime.nanos": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
                    },
                    "interval.endTime.minutes": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
                    },
                    "interval.endTime.seconds": {
                      "format": "int32",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.endTime.year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "location": "query"
                    },
                    "interval.startTime.year": {
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "interval.startTime.utcOffset": {
                      "location": "query",
                      "type": "string",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "format": "google-duration"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of error issues to return. The service may return fewer than this value. If unspecified, at most 50 error issues will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "interval.endTime.hours": {
                      "type": "integer",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "format": "int32",
                      "location": "query"
                    },
                    "interval.endTime.utcOffset": {
                      "location": "query",
                      "type": "string",
                      "format": "google-duration",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
                    },
                    "interval.endTime.timeZone.id": {
                      "location": "query",
                      "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^apps/[^/]+$",
                      "description": "Required. Parent resource of the error issues, indicating the application for which they were received. Format: apps/{app}",
                      "type": "string",
                      "location": "path"
                    },
                    "interval.endTime.timeZone.version": {
                      "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.endTime.day": {
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "interval.startTime.month": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "type": "integer"
                    },
                    "interval.startTime.seconds": {
                      "format": "int32",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "description": "Searches all error issues in which reports have been grouped."
                }
              }
            },
            "counts": {
              "methods": {
                "query": {
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/apps/{appsId}/errorCountMetricSet:query",
                  "id": "playdeveloperreporting.vitals.errors.counts.query",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}:query",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1QueryErrorCountMetricSetResponse"
                  },
                  "description": "Queries the metrics in the metrics set.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^apps/[^/]+/errorCountMetricSet$",
                      "description": "Required. The resource name. Format: apps/{app}/errorCountMetricSet",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1QueryErrorCountMetricSetRequest"
                  }
                },
                "get": {
                  "path": "v1alpha1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the errors metric set. Format: apps/{app}/errorCountMetricSet",
                      "pattern": "^apps/[^/]+/errorCountMetricSet$"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "playdeveloperreporting.vitals.errors.counts.get",
                  "description": "Describes the properties of the metrics set.",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1ErrorCountMetricSet"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/apps/{appsId}/errorCountMetricSet"
                }
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "schemas": {
    "GoogleTypeTimeZone": {
      "id": "GoogleTypeTimeZone",
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\"."
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1ListAnomaliesResponse": {
      "id": "GooglePlayDeveloperReportingV1alpha1ListAnomaliesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        },
        "anomalies": {
          "description": "Anomalies that were found.",
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1Anomaly"
          }
        }
      },
      "description": "Response with a list of anomalies in datasets."
    },
    "GooglePlayDeveloperReportingV1alpha1QueryErrorCountMetricSetRequest": {
      "properties": {
        "filter": {
          "description": "Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1TimelineSpec",
          "description": "Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. The default and only supported timezone is `America/Los_Angeles`."
        },
        "metrics": {
          "description": "Metrics to aggregate. **Supported metrics:** * `errorReportCount` (`google.type.Decimal`): Absolute count of individual error reports that have been received for an app. * `distinctUsers` (`google.type.Decimal`): Count of distinct users for which reports have been received. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): identifier of the device's form factor, e.g., PHONE. * `reportType` (string): the type of error. The value should correspond to one of the possible values in ErrorType. * `issueId` (string): the id an error was assigned to. The value should correspond to the `{issue}` component of the issue name. * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
        },
        "pageSize": {
          "format": "int32",
          "description": "Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000.",
          "type": "integer"
        },
        "pageToken": {
          "type": "string",
          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1QueryErrorCountMetricSetRequest",
      "description": "Request message for QueryErrorCountMetricSet.",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1FreshnessInfo": {
      "properties": {
        "freshnesses": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfoFreshness"
          },
          "description": "Information about data freshness for every supported aggregation period. This field has set semantics, keyed by the `aggregation_period` field.",
          "type": "array"
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
      "type": "object",
      "description": "Represents the latest available time that can be requested in a TimelineSpec. Different aggregation periods have different freshness. For example, `DAILY` aggregation may lag behind `HOURLY` in cases where such aggregation is computed only once at the end of the day."
    },
    "GooglePlayDeveloperReportingV1alpha1CrashRateMetricSet": {
      "properties": {
        "freshnessInfo": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "description": "Summary about data freshness in this resource."
        },
        "name": {
          "type": "string",
          "description": "The resource name. Format: apps/{app}/crashRateMetricSet"
        }
      },
      "description": "Singleton resource representing the set of crashrate metrics. This metric set contains crashes data combined with usage data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `crashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash. If your app exhibits a crash rate equal to or higher than the threshold, it's in the bottom 25% of the top 1,000 apps on Google Play (by number of installs). * `crashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `crashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `crashRate` metric. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): the type (also known as form factor) of the user's device. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors contains unnormalized version (absolute counts) of crashes. * vitals.errors contains normalized metrics about ANRs, another stability metric.",
      "id": "GooglePlayDeveloperReportingV1alpha1CrashRateMetricSet",
      "type": "object"
    },
    "GoogleTypeDateTime": {
      "properties": {
        "timeZone": {
          "description": "Time zone.",
          "$ref": "GoogleTypeTimeZone"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
        },
        "nanos": {
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "type": "integer",
          "format": "int32"
        },
        "utcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month."
        },
        "day": {
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
        }
      },
      "type": "object",
      "id": "GoogleTypeDateTime",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
    },
    "GooglePlayDeveloperReportingV1alpha1QueryExcessiveWakeupRateMetricSetRequest": {
      "type": "object",
      "description": "Request message for QueryExcessiveWakeupRateMetricSet.",
      "properties": {
        "pageSize": {
          "type": "integer",
          "description": "Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000.",
          "format": "int32"
        },
        "pageToken": {
          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions."
        },
        "dimensions": {
          "description": "Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): the type (also known as form factor) of the user's device. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1TimelineSpec",
          "description": "Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`."
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "description": "Metrics to aggregate. **Supported metrics:** * `excessiveWakeupRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had more than 10 wakeups per hour. If your app exhibits an excessive wakeup rate equal to or higher than the threshold, it's in the bottom 25% of the top 1,000 apps on Google Play (by number of installs). * `excessiveWakeupRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `excessiveWakeupRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `excessiveWakeupRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `excessiveWakeupRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `excessiveWakeupRate` metric. A user is counted in this metric if they app was doing any work on the device, i.e., not just active foreground usage but also background work. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times.",
          "type": "array"
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1QueryExcessiveWakeupRateMetricSetRequest"
    },
    "GooglePlayDeveloperReportingV1alpha1SearchErrorIssuesResponse": {
      "id": "GooglePlayDeveloperReportingV1alpha1SearchErrorIssuesResponse",
      "description": "Response with a paginated list of issues that matched the request.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to fetch the next page of data."
        },
        "errorIssues": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1ErrorIssue"
          },
          "description": "ErrorIssues that were found.",
          "type": "array"
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetResponse": {
      "description": "Response message for QueryAnrRateMetricSet.",
      "type": "object",
      "properties": {
        "rows": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1MetricsRow"
          },
          "type": "array",
          "description": "Returned rows of data."
        },
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetResponse"
    },
    "GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetRequest": {
      "id": "GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetRequest",
      "type": "object",
      "properties": {
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Dimensions to slice the metrics by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): the type (also known as form factor) of the user's device. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100,000; values above 100,000 will be coerced to 100,000."
        },
        "pageToken": {
          "type": "string",
          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Metrics to aggregate. **Supported metrics:** * `crashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash. If your app exhibits a crash rate equal to or higher than the threshold, it's in the bottom 25% of the top 1,000 apps on Google Play (by number of installs). * `crashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `crashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `crashRate` metric. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times."
        },
        "filter": {
          "type": "string",
          "description": "Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions."
        },
        "timelineSpec": {
          "description": "Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`.",
          "$ref": "GooglePlayDeveloperReportingV1alpha1TimelineSpec"
        }
      },
      "description": "Request message for QueryCrashRateMetricSet."
    },
    "GooglePlayDeveloperReportingV1alpha1ErrorIssue": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Location where the issue happened. Depending on the type this can be either: * APPLICATION_NOT_RESPONDING: the name of the activity or service that stopped responding. * CRASH: the likely method name that caused the error."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the issue. Format: apps/{app}/errorIssues/{issue}"
        },
        "cause": {
          "type": "string",
          "description": "Cause of the issue. Depending on the type this can be either: * APPLICATION_NOT_RESPONDING: the type of ANR that occurred, e.g., 'Input dispatching timed out'. * CRASH: for Java unhandled exception errors, the type of the innermost exception that was thrown, e.g., IllegalArgumentException. For signals in native code, the signal that was raised, e.g. SIGSEGV."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified error type.",
            "Application Not Responding (ANR) error. To learn more about this type of errors visit the corresponding Android Developers documentation.",
            "Crash caused by an unhandled exception in Java (or Kotlin or any other JVM language) or a signal in native code such as SIGSEGV."
          ],
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "APPLICATION_NOT_RESPONDING",
            "CRASH"
          ],
          "description": "Type of the errors grouped in this issue."
        }
      },
      "description": "A group of related ErrorReports received for an app. Similar error reports are grouped together into issues with a likely identical root cause. **Please note:** this resource is currently in Alpha. There could be changes to the issue grouping that would result in similar but more recent error reports being assigned to different issues. This could also cause some issues disappearing entirely and being replaced by new ones. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "id": "GooglePlayDeveloperReportingV1alpha1ErrorIssue",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1QueryStuckBackgroundWakelockRateMetricSetRequest": {
      "properties": {
        "dimensions": {
          "description": "Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): the type (also known as form factor) of the user's device. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "description": "Metrics to aggregate. **Supported metrics:** * `stuckBgWakelockRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a wakelock held in the background for longer than 1 hour. If your app exhibits a stuck background wakelock rate equal to or higher than the threshold, it's in the bottom 25% of the top 1,000 apps on Google Play (by number of installs). * `stuckBgWakelockRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `stuckBgWakelockRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `stuckBgWakelockRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `stuckBgWakelockRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `stuckBgWakelockRate` metric. A user is counted in this metric if they app was doing any work on the device, i.e., not just active foreground usage but also background work. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times.",
          "type": "array"
        },
        "filter": {
          "description": "Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        },
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1TimelineSpec",
          "description": "Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`."
        },
        "pageSize": {
          "description": "Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1QueryStuckBackgroundWakelockRateMetricSetRequest",
      "description": "Request message for QueryStuckBackgroundWakelockRateMetricSet.",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1AnrRateMetricSet": {
      "id": "GooglePlayDeveloperReportingV1alpha1AnrRateMetricSet",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name. Format: apps/{app}/anrRateMetricSet"
        },
        "freshnessInfo": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "description": "Summary about data freshness in this resource."
        }
      },
      "description": "Singleton resource representing the set of ANR (Application not responding) metrics. This metric set contains ANRs data combined with usage data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `anrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one ANR. If your app exhibits an ANR rate equal to or higher than the threshold, it's in the bottom 25% of the top 1,000 apps on Google Play (by number of installs). * `anrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `anrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `anrRate` metric. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): the type (also known as form factor) of the user's device. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors contains unnormalized version (absolute counts) of crashes. * vitals.errors contains normalized metrics about crashes, another stability metric."
    },
    "GooglePlayDeveloperReportingV1alpha1QueryExcessiveWakeupRateMetricSetResponse": {
      "id": "GooglePlayDeveloperReportingV1alpha1QueryExcessiveWakeupRateMetricSetResponse",
      "type": "object",
      "description": "Response message for QueryExcessiveWakeupRateMetricSet.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to fetch the next page of data."
        },
        "rows": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1MetricsRow"
          },
          "type": "array",
          "description": "Returned rows of data."
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1ExcessiveWakeupRateMetricSet": {
      "type": "object",
      "properties": {
        "freshnessInfo": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "description": "Summary about data freshness in this resource."
        },
        "name": {
          "type": "string",
          "description": "The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet"
        }
      },
      "description": "Singleton resource representing the set of Excessive Weakeups metrics. This metric set contains AlarmManager wakeup counts data combined with process state data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `excessiveWakeupRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had more than 10 wakeups per hour. If your app exhibits an excessive wakeup rate equal to or higher than the threshold, it's in the bottom 25% of the top 1,000 apps on Google Play (by number of installs). * `excessiveWakeupRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `excessiveWakeupRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `excessiveWakeupRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `excessiveWakeupRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `excessiveWakeupRate` metric. A user is counted in this metric if they app was doing any work on the device, i.e., not just active foreground usage but also background work. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): the type (also known as form factor) of the user's device. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "id": "GooglePlayDeveloperReportingV1alpha1ExcessiveWakeupRateMetricSet"
    },
    "GooglePlayDeveloperReportingV1alpha1StuckBackgroundWakelockRateMetricSet": {
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1alpha1StuckBackgroundWakelockRateMetricSet",
      "description": "Singleton resource representing the set of Stuck Background Wakelocks metrics. This metric set contains PowerManager wakelock duration data combined with process state data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `stuckBgWakelockRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a wakelock held in the background for longer than 1 hour. If your app exhibits a stuck background wakelocks rate equal to or higher than the threshold, it's in the bottom 25% of the top 1,000 apps on Google Play (by number of installs). * `stuckBgWakelockRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `stuckBgWakelockRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `stuckBgWakelockRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `stuckBgWakelockRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `stuckBgWakelockRate` metric. A user is counted in this metric if their app was doing any work on the device, i.e., not just active foreground usage but also background work. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): the type (also known as form factor) of the user's device. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet"
        },
        "freshnessInfo": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "description": "Summary about data freshness in this resource."
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1SearchErrorReportsResponse": {
      "properties": {
        "errorReports": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1ErrorReport"
          },
          "description": "Error reports that were found.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token to fetch the next page of reports.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1alpha1SearchErrorReportsResponse",
      "description": "Response with a paginated list of error reports matching the search query."
    },
    "GooglePlayDeveloperReportingV1alpha1QueryStuckBackgroundWakelockRateMetricSetResponse": {
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1alpha1QueryStuckBackgroundWakelockRateMetricSetResponse",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1MetricsRow"
          },
          "description": "Returned rows of data."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to fetch the next page of data."
        }
      },
      "description": "Response message for QueryStuckBackgroundWakelockRateMetricSet."
    },
    "GooglePlayDeveloperReportingV1alpha1FreshnessInfoFreshness": {
      "id": "GooglePlayDeveloperReportingV1alpha1FreshnessInfoFreshness",
      "type": "object",
      "description": "Information about data freshness for a single aggregation period.",
      "properties": {
        "latestEndTime": {
          "$ref": "GoogleTypeDateTime",
          "description": "Latest end time for which data is available, for the aggregation period. The time is specified in the metric set's default timezone. *Note:* time ranges in TimelineSpec are represented as `start_time, end_time)`. For example, if the latest available timeline data point for a `DAILY` aggregation period is `2021-06-23 00:00:00 America/Los_Angeles`, the value of this field would be `2021-06-24 00:00:00 America/Los_Angeles` so it can be easily reused in [TimelineSpec.end_time."
        },
        "aggregationPeriod": {
          "description": "Aggregation period for which data is available.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified granularity.",
            "Data is aggregated in hourly intervals.",
            "Data is aggregated in daily intervals."
          ],
          "enum": [
            "AGGREGATION_PERIOD_UNSPECIFIED",
            "HOURLY",
            "DAILY"
          ]
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1MetricsRow": {
      "type": "object",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1MetricValue"
          },
          "description": "Metric columns in the row.",
          "type": "array"
        },
        "dimensions": {
          "type": "array",
          "description": "Dimension columns in the row.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1DimensionValue"
          }
        },
        "aggregationPeriod": {
          "type": "string",
          "enum": [
            "AGGREGATION_PERIOD_UNSPECIFIED",
            "HOURLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "Unspecified granularity.",
            "Data is aggregated in hourly intervals.",
            "Data is aggregated in daily intervals."
          ],
          "description": "Granularity of the aggregation period of the row."
        },
        "startTime": {
          "description": "Starting date (and time for hourly aggregation) of the period covered by this row.",
          "$ref": "GoogleTypeDateTime"
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1MetricsRow",
      "description": "Represents a row of dimensions and metrics."
    },
    "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetRequest": {
      "properties": {
        "metrics": {
          "items": {
            "type": "string"
          },
          "description": "Metrics to aggregate. **Supported metrics:** * `anrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one ANR. If your app exhibits an ANR rate equal to or higher than the threshold, it's in the bottom 25% of the top 1,000 apps on Google Play (by number of installs). * `anrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `anrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `anrRate` metric. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times.",
          "type": "array"
        },
        "pageSize": {
          "type": "integer",
          "description": "Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100,000; values above 100,000 will be coerced to 100,000.",
          "format": "int32"
        },
        "filter": {
          "description": "Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "dimensions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Dimensions to slice the metrics by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): the type (also known as form factor) of the user's device. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
        },
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1TimelineSpec",
          "description": "Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`."
        },
        "pageToken": {
          "type": "string",
          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        }
      },
      "description": "Request message for QueryAnrRateMetricSet.",
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetRequest"
    },
    "GooglePlayDeveloperReportingV1alpha1MetricValue": {
      "properties": {
        "metric": {
          "description": "Name of the metric.",
          "type": "string"
        },
        "decimalValue": {
          "description": "Actual value, represented as a decimal number.",
          "$ref": "GoogleTypeDecimal"
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1MetricValue",
      "type": "object",
      "description": "Represents the value of a metric."
    },
    "GooglePlayDeveloperReportingV1alpha1ErrorReport": {
      "properties": {
        "issue": {
          "type": "string",
          "description": "The issue this report was associated with. **Please note:** this resource is currently in Alpha. There could be changes to the issue grouping that would result in similar but more recent error reports being assigned to a different issue."
        },
        "reportText": {
          "description": "Textual representation of the error report. These textual reports are produced by the platform. The reports are then sanitized and filtered to remove any potentially sensitive information. Although their format is fairly stable, they are not entirely meant for machine consumption and we cannot guarantee that there won't be subtle changes to the formatting that may break systems trying to parse information out of the reports.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified error type.",
            "Application Not Responding (ANR) error. To learn more about this type of errors visit the corresponding Android Developers documentation.",
            "Crash caused by an unhandled exception in Java (or Kotlin or any other JVM language) or a signal in native code such as SIGSEGV."
          ],
          "type": "string",
          "description": "Type of the error for which this report was generated.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "APPLICATION_NOT_RESPONDING",
            "CRASH"
          ]
        },
        "name": {
          "description": "The resource name of the report. Format: apps/{app}/errorReports/{report}",
          "type": "string"
        }
      },
      "description": "An error report received for an app. There reports are produced by the Android platform code when a (potentially fatal) error condition is detected. Identical reports from many users will be deduplicated and coalesced into a single ErrorReport. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "id": "GooglePlayDeveloperReportingV1alpha1ErrorReport",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1Anomaly": {
      "id": "GooglePlayDeveloperReportingV1alpha1Anomaly",
      "type": "object",
      "properties": {
        "dimensions": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1DimensionValue"
          },
          "type": "array",
          "description": "Combination of dimensions in which the anomaly was detected."
        },
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1TimelineSpec",
          "description": "Timeline specification that covers the anomaly period."
        },
        "name": {
          "type": "string",
          "description": "Name of the anomaly. Format: apps/{app}/anomalies/{anomaly}"
        },
        "metricSet": {
          "description": "Metric set resource where the anomaly was detected.",
          "type": "string"
        },
        "metric": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1MetricValue",
          "description": "Metric where the anomaly was detected, together with the anomalous value."
        }
      },
      "description": "Represents an anomaly detected in a dataset. Our anomaly detection systems flag datapoints in a time series that fall outside of and expected range derived from historical data. Although those expected ranges have an upper and a lower bound, we only flag anomalies when the data has become unexpectedly _worse_, which usually corresponds to the case where the metric crosses the upper bound. Multiple contiguous datapoints in a timeline outside of the expected range will be grouped into a single anomaly. Therefore, an anomaly represents effectively a segment of a metric's timeline. The information stored in the `timeline_spec`, `dimensions` and `metric` can be used to fetch a full timeline with extended ragne for context. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app."
    },
    "GoogleTypeDecimal": {
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's BigDecimal or Python's decimal.Decimal. [BigDecimal]: https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html [decimal.Decimal]: https://docs.python.org/3/library/decimal.html",
      "properties": {
        "value": {
          "type": "string",
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -\u003e `2.5`). - Replacing a zero-length integer value with `0` (`.5` -\u003e `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -\u003e `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -\u003e `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` \u003c-\u003e `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
        }
      },
      "id": "GoogleTypeDecimal",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1TimelineSpec": {
      "description": "Specification of the time-related aggregation parameters of a timeline. Timelines have an aggregation period (`DAILY`, `HOURLY`, etc) which defines how events are aggregated in metrics. The points in a timeline are defined by the starting DateTime of the aggregation period. The duration is implicit in the AggregationPeriod. Hourly aggregation periods, when supported by a metric set, are always specified in UTC to avoid ambiguities around daylight saving time transitions, where an hour is skipped when adopting DST, and repeated when abandoning DST. For example, the timestamp '2021-11-07 01:00:00 America/Los_Angeles' is ambiguous since it can correspond to '2021-11-07 08:00:00 UTC' or '2021-11-07 09:00:00 UTC'. Daily aggregation periods require specifying a timezone which will determine the precise instants of the start and the end of the day. Not all metric sets support all timezones, so make sure to check which timezones are supported by the metric set you want to query.",
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1alpha1TimelineSpec",
      "properties": {
        "endTime": {
          "description": "Ending datapoint of the timeline (exclusive). See start_time for restrictions. The timezone of the end point must match the timezone of the start point.",
          "$ref": "GoogleTypeDateTime"
        },
        "aggregationPeriod": {
          "description": "Type of the aggregation period of the datapoints in the timeline. Intervals are identified by the date and time at the start of the interval.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified granularity.",
            "Data is aggregated in hourly intervals.",
            "Data is aggregated in daily intervals."
          ],
          "enum": [
            "AGGREGATION_PERIOD_UNSPECIFIED",
            "HOURLY",
            "DAILY"
          ]
        },
        "startTime": {
          "$ref": "GoogleTypeDateTime",
          "description": "Starting datapoint of the timeline (inclusive). Must be aligned to the aggregation period as follows: * HOURLY: the 'minutes', 'seconds' and 'nanos' fields must be unset. The time_zone can be left unset (defaults to UTC) or set explicitly to \"UTC\". Setting any other utc_offset or timezone id will result in a validation error. * DAILY: the 'hours', 'minutes', 'seconds' and 'nanos' fields must be unset. Different metric sets support different timezones. It can be left unset to use the default timezone specified by the metric set. The timezone of the end point must match the timezone of the start point."
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1DimensionValue": {
      "description": "Represents the value of a single dimension.",
      "id": "GooglePlayDeveloperReportingV1alpha1DimensionValue",
      "type": "object",
      "properties": {
        "dimension": {
          "description": "Name of the dimension.",
          "type": "string"
        },
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "Actual value, represented as an int64."
        },
        "stringValue": {
          "description": "Actual value, represented as a string.",
          "type": "string"
        },
        "valueLabel": {
          "description": "Optional. Human-friendly label for the value, always in English. For example, 'Spain' for the 'ES' country code. Whereas the dimension value is stable, this value label is subject to change. Do not assume that the (value, value_label) relationship is stable. For example, the ISO country code 'MK' changed its name recently to 'North Macedonia'.",
          "type": "string"
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetResponse": {
      "id": "GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetResponse",
      "description": "Response message for QueryCrashRateMetricSet.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        },
        "rows": {
          "description": "Returned rows of data.",
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1MetricsRow"
          }
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1ErrorCountMetricSet": {
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1alpha1ErrorCountMetricSet",
[...]
