{
  "basePath": "",
  "servicePath": "",
  "revision": "20221024",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "ownerName": "Google",
  "id": "tagmanager:v2",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "ownerDomain": "google.com",
  "rootUrl": "https://tagmanager.googleapis.com/",
  "batchPath": "batch",
  "protocol": "rest",
  "schemas": {
    "ListEnabledBuiltInVariablesResponse": {
      "description": "A list of enabled built-in variables.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "builtInVariable": {
          "items": {
            "$ref": "BuiltInVariable"
          },
          "description": "All GTM BuiltInVariables of a GTM container.",
          "type": "array"
        }
      },
      "id": "ListEnabledBuiltInVariablesResponse"
    },
    "ZoneBoundary": {
      "description": "Represents a Zone's boundaries.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "The conditions that, when conjoined, make up the boundary.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "customEvaluationTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "Custom evaluation trigger IDs. A zone will evaluate its boundary conditions when any of the listed triggers are true.",
          "type": "array"
        }
      },
      "id": "ZoneBoundary"
    },
    "AccountAccess": {
      "properties": {
        "permission": {
          "description": "Whether the user has no access, user access, or admin access to an account. @mutable tagmanager.accounts.permissions.create @mutable tagmanager.accounts.permissions.update",
          "enum": [
            "accountPermissionUnspecified",
            "noAccess",
            "user",
            "admin"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Defines the Google Tag Manager Account access permissions.",
      "id": "AccountAccess",
      "type": "object"
    },
    "Entity": {
      "type": "object",
      "properties": {
        "folder": {
          "description": "The folder being represented by the entity.",
          "$ref": "Folder"
        },
        "trigger": {
          "description": "The trigger being represented by the entity.",
          "$ref": "Trigger"
        },
        "tag": {
          "description": "The tag being represented by the entity.",
          "$ref": "Tag"
        },
        "client": {
          "description": "The client being represented by the entity.",
          "$ref": "Client"
        },
        "changeStatus": {
          "enum": [
            "changeStatusUnspecified",
            "none",
            "added",
            "deleted",
            "updated"
          ],
          "enumDescriptions": [
            "",
            "The entity has never been changed.",
            "The entity is added to the workspace.",
            "The entity is deleted from the workspace.",
            "The entity has been updated in the workspace."
          ],
          "type": "string",
          "description": "Represents how the entity has been changed in the workspace."
        },
        "variable": {
          "$ref": "Variable",
          "description": "The variable being represented by the entity."
        }
      },
      "id": "Entity",
      "description": "A workspace entity that may represent a tag, trigger, variable, or folder in addition to its status in the workspace."
    },
    "CreateContainerVersionResponse": {
      "description": "Create container versions response.",
      "id": "CreateContainerVersionResponse",
      "type": "object",
      "properties": {
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "type": "boolean",
          "description": "Compiler errors or not."
        },
        "newWorkspacePath": {
          "type": "string",
          "description": "Auto generated workspace path created as a result of version creation. This field should only be populated if the created version was not a quick preview."
        },
        "syncStatus": {
          "$ref": "SyncStatus",
          "description": "Whether version creation failed when syncing the workspace to the latest container version."
        }
      }
    },
    "SetupTag": {
      "properties": {
        "tagName": {
          "type": "string",
          "description": "The name of the setup tag."
        },
        "stopOnSetupFailure": {
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.",
          "type": "boolean"
        }
      },
      "description": "Represents a reference to atag that fires before another tag in order to set up dependencies.",
      "id": "SetupTag",
      "type": "object"
    },
    "ListVariablesResponse": {
      "description": "List Variables Response.",
      "id": "ListVariablesResponse",
      "properties": {
        "variable": {
          "description": "All GTM Variables of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContainerVersion": {
      "description": "Represents a Google Tag Manager Container Version.",
      "properties": {
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "folder": {
          "description": "The folders in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "variable": {
          "type": "array",
          "description": "The variables in the container that this version was taken from.",
          "items": {
            "$ref": "Variable"
          }
        },
        "zone": {
          "items": {
            "$ref": "Zone"
          },
          "type": "array",
          "description": "The zones in the container that this version was taken from."
        },
        "customTemplate": {
          "items": {
            "$ref": "CustomTemplate"
          },
          "description": "The custom templates in the container that this version was taken from.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Container version display name. @mutable tagmanager.accounts.containers.versions.update"
        },
        "trigger": {
          "description": "The triggers in the container that this version was taken from.",
          "items": {
            "$ref": "Trigger"
          },
          "type": "array"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "description": {
          "type": "string",
          "description": "Container version description. @mutable tagmanager.accounts.containers.versions.update"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified."
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "builtInVariable": {
          "description": "The built-in variables in the container that this version was taken from.",
          "items": {
            "$ref": "BuiltInVariable"
          },
          "type": "array"
        },
        "client": {
          "items": {
            "$ref": "Client"
          },
          "type": "array",
          "description": "The clients in the container that this version was taken from."
        },
        "path": {
          "description": "GTM Container Version's API relative path.",
          "type": "string"
        },
        "gtagConfig": {
          "items": {
            "$ref": "GtagConfig"
          },
          "description": "The Google tag configs in the container that this version was taken from.",
          "type": "array"
        },
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags in the container that this version was taken from.",
          "type": "array"
        },
        "container": {
          "$ref": "Container",
          "description": "The container that this version was taken from."
        }
      },
      "id": "ContainerVersion",
      "type": "object"
    },
    "Condition": {
      "description": "Represents a predicate.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "conditionTypeUnspecified",
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "description": "The type of operator for this condition. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.triggers.create",
              "tagmanager.accounts.containers.workspaces.triggers.update"
            ]
          },
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "NOTE(lanzone): When defining a ConditionType here, don't forget to also define a matching PredicateType (in condition.proto)."
          ],
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.triggers.create",
              "tagmanager.accounts.containers.workspaces.triggers.update"
            ]
          }
        }
      },
      "id": "Condition"
    },
    "ContainerFeatures": {
      "properties": {
        "supportFolders": {
          "type": "boolean",
          "description": "Whether this Container supports folders."
        },
        "supportVersions": {
          "description": "Whether this Container supports Container versions.",
          "type": "boolean"
        },
        "supportEnvironments": {
          "type": "boolean",
          "description": "Whether this Container supports environments."
        },
        "supportVariables": {
          "type": "boolean",
          "description": "Whether this Container supports variables."
        },
        "supportGtagConfigs": {
          "type": "boolean",
          "description": "Whether this Container supports Google tag config."
        },
        "supportZones": {
          "description": "Whether this Container supports zones.",
          "type": "boolean"
        },
        "supportClients": {
          "type": "boolean",
          "description": "Whether this Container supports clients."
        },
        "supportBuiltInVariables": {
          "type": "boolean",
          "description": "Whether this Container supports built-in variables"
        },
        "supportWorkspaces": {
          "type": "boolean",
          "description": "Whether this Container supports workspaces."
        },
        "supportTemplates": {
          "description": "Whether this Container supports templates.",
          "type": "boolean"
        },
        "supportUserPermissions": {
          "type": "boolean",
          "description": "Whether this Container supports user permissions managed by GTM."
        },
        "supportTriggers": {
          "description": "Whether this Container supports triggers.",
          "type": "boolean"
        },
        "supportTags": {
          "description": "Whether this Container supports tags.",
          "type": "boolean"
        }
      },
      "id": "ContainerFeatures",
      "type": "object"
    },
    "ContainerAccess": {
      "id": "ContainerAccess",
      "description": "Defines the Google Tag Manager Container access permissions.",
      "properties": {
        "containerId": {
          "description": "GTM Container ID. @mutable tagmanager.accounts.permissions.create @mutable tagmanager.accounts.permissions.update",
          "type": "string"
        },
        "permission": {
          "description": "List of Container permissions. @mutable tagmanager.accounts.permissions.create @mutable tagmanager.accounts.permissions.update",
          "type": "string",
          "enum": [
            "containerPermissionUnspecified",
            "noAccess",
            "read",
            "edit",
            "approve",
            "publish"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "ListClientsResponse": {
      "id": "ListClientsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "client": {
          "items": {
            "$ref": "Client"
          },
          "description": "All GTM Clients of a GTM Container.",
          "type": "array"
        }
      }
    },
    "ListDestinationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "destination": {
          "type": "array",
          "description": "All Destinations linked to a GTM Container.",
          "items": {
            "$ref": "Destination"
          }
        }
      },
      "id": "ListDestinationsResponse",
      "type": "object"
    },
    "Environment": {
      "id": "Environment",
      "type": "object",
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.",
      "properties": {
        "enableDebug": {
          "description": "Whether or not to enable debug by default for the environment. @mutable tagmanager.accounts.containers.environments.create @mutable tagmanager.accounts.containers.environments.update",
          "type": "boolean"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The environment display name. Can be set or changed only on USER type environments. @mutable tagmanager.accounts.containers.environments.create @mutable tagmanager.accounts.containers.environments.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.environments.create",
              "tagmanager.accounts.containers.environments.update"
            ]
          }
        },
        "containerVersionId": {
          "type": "string",
          "description": "Represents a link to a container version."
        },
        "authorizationCode": {
          "description": "The environment authorization code.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Points to a user defined environment.",
            "Points to the current live container version.",
            "Points to the latest container version.",
            "Automatically managed environment that points to a workspace preview or version created by a workspace."
          ],
          "type": "string",
          "description": "The type of this environment.",
          "enum": [
            "user",
            "live",
            "latest",
            "workspace"
          ]
        },
        "environmentId": {
          "description": "GTM Environment ID uniquely identifies the GTM Environment.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "GTM Environment's API relative path."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "workspaceId": {
          "description": "Represents a link to a quick preview of a workspace.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Default preview page url for the environment. @mutable tagmanager.accounts.containers.environments.create @mutable tagmanager.accounts.containers.environments.update"
        },
        "description": {
          "description": "The environment description. Can be set or changed only on USER type environments. @mutable tagmanager.accounts.containers.environments.create @mutable tagmanager.accounts.containers.environments.update",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified."
        },
        "authorizationTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last update time-stamp for the authorization code."
        }
      }
    },
    "Folder": {
      "type": "object",
      "id": "Folder",
      "description": "Represents a Google Tag Manager Folder.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Folder display name. @mutable tagmanager.accounts.containers.workspaces.folders.create @mutable tagmanager.accounts.containers.workspaces.folders.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.folders.create",
              "tagmanager.accounts.containers.workspaces.folders.update"
            ]
          }
        },
        "notes": {
          "description": "User notes on how to apply this folder in the container. @mutable tagmanager.accounts.containers.workspaces.folders.create @mutable tagmanager.accounts.containers.workspaces.folders.update",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "folderId": {
          "description": "The Folder ID uniquely identifies the GTM Folder.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "GTM Folder's API relative path."
        }
      }
    },
    "RevertZoneResponse": {
      "id": "RevertZoneResponse",
      "properties": {
        "zone": {
          "$ref": "Zone",
          "description": "Zone as it appears in the latest container version since the last workspace synchronization operation. If no zone is present, that means the zone was deleted in the latest container version."
        }
      },
      "description": "The result of reverting a zone in a workspace.",
      "type": "object"
    },
    "RevertVariableResponse": {
      "type": "object",
      "description": "The result of reverting a variable in a workspace.",
      "properties": {
        "variable": {
          "$ref": "Variable",
          "description": "Variable as it appears in the latest container version since the last workspace synchronization operation. If no variable is present, that means the variable was deleted in the latest container version."
        }
      },
      "id": "RevertVariableResponse"
    },
    "AccountFeatures": {
      "properties": {
        "supportUserPermissions": {
          "description": "Whether this Account supports user permissions managed by GTM.",
          "type": "boolean"
        },
        "supportMultipleContainers": {
          "type": "boolean",
          "description": "Whether this Account supports multiple Containers."
        }
      },
      "id": "AccountFeatures",
      "type": "object"
    },
    "Container": {
      "properties": {
        "path": {
          "type": "string",
          "description": "GTM Container's API relative path."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "name": {
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.create",
              "tagmanager.accounts.containers.update"
            ]
          },
          "description": "Container display name. @mutable tagmanager.accounts.containers.create @mutable tagmanager.accounts.containers.update",
          "type": "string"
        },
        "usageContext": {
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.create",
              "tagmanager.accounts.containers.update"
            ]
          },
          "description": "List of Usage Contexts for the Container. Valid values include: web, android, or ios. @mutable tagmanager.accounts.containers.create @mutable tagmanager.accounts.containers.update",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "usageContextUnspecified",
              "web",
              "android",
              "ios",
              "androidSdk5",
              "iosSdk5",
              "amp",
              "server"
            ],
            "type": "string"
          }
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "features": {
          "description": "Read-only Container feature set.",
          "$ref": "ContainerFeatures"
        },
        "domainName": {
          "type": "array",
          "description": "List of domain names associated with the Container. @mutable tagmanager.accounts.containers.create @mutable tagmanager.accounts.containers.update",
          "items": {
            "type": "string"
          }
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "Container Notes. @mutable tagmanager.accounts.containers.create @mutable tagmanager.accounts.containers.update"
        },
        "containerId": {
          "description": "The Container ID uniquely identifies the GTM Container.",
          "type": "string"
        },
        "tagIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "All Tag IDs that refer to this Container."
        },
        "publicId": {
          "type": "string",
          "description": "Container Public ID."
        }
      },
      "type": "object",
      "id": "Container",
      "description": "Represents a Google Tag Manager Container, which specifies the platform tags will run on, manages workspaces, and retains container versions."
    },
    "Client": {
      "type": "object",
      "id": "Client",
      "properties": {
        "clientId": {
          "description": "The Client ID uniquely identifies the GTM client.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "type": {
          "description": "Client type. @mutable tagmanager.accounts.containers.workspaces.clients.create @mutable tagmanager.accounts.containers.workspaces.clients.update",
          "type": "string",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.clients.create",
              "tagmanager.accounts.containers.workspaces.clients.update"
            ]
          }
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Client as computed at storage time. This value is recomputed whenever the client is modified.",
          "type": "string"
        },
        "path": {
          "description": "GTM client's API relative path.",
          "type": "string"
        },
        "priority": {
          "description": "Priority determines relative firing order. @mutable tagmanager.accounts.containers.workspaces.clients.create @mutable tagmanager.accounts.containers.workspaces.clients.update",
          "type": "integer",
          "format": "int32"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "The client's parameters. @mutable tagmanager.accounts.containers.workspaces.clients.create @mutable tagmanager.accounts.containers.workspaces.clients.update"
        },
        "name": {
          "type": "string",
          "description": "Client display name. @mutable tagmanager.accounts.containers.workspaces.clients.create @mutable tagmanager.accounts.containers.workspaces.clients.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.clients.create",
              "tagmanager.accounts.containers.workspaces.clients.update"
            ]
          }
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this tag in the container. @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        }
      }
    },
    "SyncStatus": {
      "properties": {
        "syncError": {
          "description": "An error occurred during the synchronization operation.",
          "type": "boolean"
        },
        "mergeConflict": {
          "description": "Synchornization operation detected a merge conflict.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "SyncStatus",
      "description": "The status of a workspace after synchronization."
    },
    "ZoneTypeRestriction": {
      "type": "object",
      "description": "Represents a Zone's type restrictions.",
      "properties": {
        "whitelistedTypeId": {
          "type": "array",
          "description": "List of type public ids that have been whitelisted for use in this Zone.",
          "items": {
            "type": "string"
          }
        },
        "enable": {
          "type": "boolean",
          "description": "True if type restrictions have been enabled for this Zone."
        }
      },
      "id": "ZoneTypeRestriction"
    },
    "ListTagsResponse": {
      "description": "List Tags Response.",
      "type": "object",
      "id": "ListTagsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "tag": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "All GTM Tags of a GTM Container."
        }
      }
    },
    "QuickPreviewResponse": {
      "properties": {
        "compilerError": {
          "description": "Were there compiler errors or not.",
          "type": "boolean"
        },
        "syncStatus": {
          "description": "Whether quick previewing failed when syncing the workspace to the latest container version.",
          "$ref": "SyncStatus"
        },
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The quick previewed container version."
        }
      },
      "id": "QuickPreviewResponse",
      "description": "Response to quick previewing a workspace.",
      "type": "object"
    },
    "Parameter": {
      "description": "Represents a Google Tag Manager Parameter.",
      "type": "object",
      "properties": {
        "map": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "This map parameter's parameters (must have keys; keys must be unique). @mutable tagmanager.accounts.containers.workspaces.variables.create @mutable tagmanager.accounts.containers.workspaces.variables.update @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update"
        },
        "list": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "This list parameter's parameters (keys will be ignored). @mutable tagmanager.accounts.containers.workspaces.variables.create @mutable tagmanager.accounts.containers.workspaces.variables.update @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update"
        },
        "key": {
          "type": "string",
          "description": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values. @mutable tagmanager.accounts.containers.workspaces.variables.create @mutable tagmanager.accounts.containers.workspaces.variables.update @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update"
        },
        "type": {
          "description": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name @mutable tagmanager.accounts.containers.workspaces.variables.create @mutable tagmanager.accounts.containers.workspaces.variables.update @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.tags.create",
              "tagmanager.accounts.containers.workspaces.tags.update",
              "tagmanager.accounts.containers.workspaces.triggers.create",
              "tagmanager.accounts.containers.workspaces.triggers.update",
              "tagmanager.accounts.containers.workspaces.variables.create",
              "tagmanager.accounts.containers.workspaces.variables.update"
            ]
          },
          "type": "string",
          "enumDescriptions": [
            "",
            "May include variable references (such as \"{{myVariable}}\").",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "typeUnspecified",
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ]
        },
        "value": {
          "description": "A parameter's value (may contain variable references such as \"{{myVariable}}\") as appropriate to the specified type. @mutable tagmanager.accounts.containers.workspaces.variables.create @mutable tagmanager.accounts.containers.workspaces.variables.update @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "string"
        }
      },
      "id": "Parameter"
    },
    "BuiltInVariable": {
      "id": "BuiltInVariable",
      "description": "Built-in variables are a special category of variables that are pre-created and non-customizable. They provide common functionality like accessing properties of the gtm data layer, monitoring clicks, or accessing elements of a page URL.",
      "type": "object",
      "properties": {
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "For web or mobile.",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "builtInVariableTypeUnspecified",
            "pageUrl",
            "pageHostname",
            "pagePath",
            "referrer",
            "event",
            "clickElement",
            "clickClasses",
            "clickId",
            "clickTarget",
            "clickUrl",
            "clickText",
            "firstPartyServingUrl",
            "formElement",
            "formClasses",
            "formId",
            "formTarget",
            "formUrl",
            "formText",
            "errorMessage",
            "errorUrl",
            "errorLine",
            "newHistoryUrl",
            "oldHistoryUrl",
            "newHistoryFragment",
            "oldHistoryFragment",
            "newHistoryState",
            "oldHistoryState",
            "historySource",
            "containerVersion",
            "debugMode",
            "randomNumber",
            "containerId",
            "appId",
            "appName",
            "appVersionCode",
            "appVersionName",
            "language",
            "osVersion",
            "platform",
            "sdkVersion",
            "deviceName",
            "resolution",
            "advertiserId",
            "advertisingTrackingEnabled",
            "htmlId",
            "environmentName",
            "ampBrowserLanguage",
            "ampCanonicalPath",
            "ampCanonicalUrl",
            "ampCanonicalHost",
            "ampReferrer",
            "ampTitle",
            "ampClientId",
            "ampClientTimezone",
            "ampClientTimestamp",
            "ampClientScreenWidth",
            "ampClientScreenHeight",
            "ampClientScrollX",
            "ampClientScrollY",
            "ampClientMaxScrollX",
            "ampClientMaxScrollY",
            "ampTotalEngagedTime",
            "ampPageViewId",
            "ampPageLoadTime",
            "ampPageDownloadTime",
            "ampGtmEvent",
            "eventName",
            "firebaseEventParameterCampaign",
            "firebaseEventParameterCampaignAclid",
            "firebaseEventParameterCampaignAnid",
            "firebaseEventParameterCampaignClickTimestamp",
            "firebaseEventParameterCampaignContent",
            "firebaseEventParameterCampaignCp1",
            "firebaseEventParameterCampaignGclid",
            "firebaseEventParameterCampaignSource",
            "firebaseEventParameterCampaignTerm",
            "firebaseEventParameterCurrency",
            "firebaseEventParameterDynamicLinkAcceptTime",
            "firebaseEventParameterDynamicLinkLinkid",
            "firebaseEventParameterNotificationMessageDeviceTime",
            "firebaseEventParameterNotificationMessageId",
            "firebaseEventParameterNotificationMessageName",
            "firebaseEventParameterNotificationMessageTime",
            "firebaseEventParameterNotificationTopic",
            "firebaseEventParameterPreviousAppVersion",
            "firebaseEventParameterPreviousOsVersion",
            "firebaseEventParameterPrice",
            "firebaseEventParameterProductId",
            "firebaseEventParameterQuantity",
            "firebaseEventParameterValue",
            "videoProvider",
            "videoUrl",
            "videoTitle",
            "videoDuration",
            "videoPercent",
            "videoVisible",
            "videoStatus",
            "videoCurrentTime",
            "scrollDepthThreshold",
            "scrollDepthUnits",
            "scrollDepthDirection",
            "elementVisibilityRatio",
            "elementVisibilityTime",
            "elementVisibilityFirstTime",
            "elementVisibilityRecentTime",
            "requestPath",
            "requestMethod",
            "clientName",
            "queryString",
            "serverPageLocationUrl",
            "serverPageLocationPath",
            "serverPageLocationHostname"
          ],
          "description": "Type of built-in variable. @required.tagmanager.accounts.containers.workspaces.built_in_variable.update @mutable tagmanager.accounts.containers.workspaces.built_in_variable.update",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "GTM BuiltInVariable's API relative path."
        },
        "name": {
          "description": "Name of the built-in variable to be used to refer to the built-in variable.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        }
      }
    },
    "CustomTemplate": {
      "properties": {
        "path": {
          "type": "string",
          "description": "GTM Custom Template's API relative path."
        },
        "name": {
          "description": "Custom Template display name.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Custom Template as computed at storage time. This value is recomputed whenever the template is modified."
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "templateId": {
          "description": "The Custom Template ID uniquely identifies the GTM custom template.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "galleryReference": {
          "description": "A reference to the Community Template Gallery entry.",
          "$ref": "GalleryReference"
        },
        "templateData": {
          "description": "The custom template in text format.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        }
      },
      "type": "object",
      "id": "CustomTemplate",
      "description": "Represents a Google Tag Manager Custom Template's contents."
    },
    "FolderEntities": {
      "type": "object",
      "properties": {
        "variable": {
          "type": "array",
          "description": "The list of variables inside the folder.",
          "items": {
            "$ref": "Variable"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "tag": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "The list of tags inside the folder."
        },
        "trigger": {
          "description": "The list of triggers inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        }
      },
      "description": "Represents a Google Tag Manager Folder's contents.",
      "id": "FolderEntities"
    },
    "ListFoldersResponse": {
      "properties": {
        "folder": {
          "type": "array",
          "items": {
            "$ref": "Folder"
          },
          "description": "All GTM Folders of a GTM Container."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "List Folders Response.",
      "id": "ListFoldersResponse"
    },
    "VariableFormatValue": {
      "type": "object",
      "properties": {
        "convertTrueToValue": {
          "$ref": "Parameter",
          "description": "The value to convert if a variable value is true."
        },
        "caseConversionType": {
          "type": "string",
          "enum": [
            "none",
            "lowercase",
            "uppercase"
          ],
          "description": "The option to convert a string-type variable value to either lowercase or uppercase.",
          "enumDescriptions": [
            "",
            "The option to convert a variable value to lowercase.",
            "The option to convert a variable value to uppercase."
          ]
        },
        "convertFalseToValue": {
          "description": "The value to convert if a variable value is false.",
          "$ref": "Parameter"
        },
        "convertUndefinedToValue": {
          "description": "The value to convert if a variable value is undefined.",
          "$ref": "Parameter"
        },
        "convertNullToValue": {
          "$ref": "Parameter",
          "description": "The value to convert if a variable value is null."
        }
      },
      "id": "VariableFormatValue"
    },
    "UserPermission": {
      "id": "UserPermission",
      "properties": {
        "emailAddress": {
          "description": "User's email address. @mutable tagmanager.accounts.permissions.create",
          "type": "string"
        },
        "path": {
          "description": "GTM UserPermission's API relative path.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "The Account ID uniquely identifies the GTM Account."
        },
        "accountAccess": {
          "$ref": "AccountAccess",
          "description": "GTM Account access permissions. @mutable tagmanager.accounts.permissions.create @mutable tagmanager.accounts.permissions.update"
        },
        "containerAccess": {
          "type": "array",
          "items": {
            "$ref": "ContainerAccess"
          },
          "description": "GTM Container access permissions. @mutable tagmanager.accounts.permissions.create @mutable tagmanager.accounts.permissions.update"
        }
      },
      "type": "object",
      "description": "Represents a user's permissions to an account and its container."
    },
    "GetWorkspaceStatusResponse": {
      "description": "The changes that have occurred in the workspace since the base container version.",
      "type": "object",
      "properties": {
        "mergeConflict": {
          "description": "The merge conflict after sync.",
          "items": {
            "$ref": "MergeConflict"
          },
          "type": "array"
        },
        "workspaceChange": {
          "items": {
            "$ref": "Entity"
          },
          "type": "array",
          "description": "Entities that have been changed in the workspace."
        }
      },
      "id": "GetWorkspaceStatusResponse"
    },
    "ListGtagConfigResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "gtagConfig": {
          "type": "array",
          "description": "All Google tag configs in a Container.",
          "items": {
            "$ref": "GtagConfig"
          }
        }
      },
      "id": "ListGtagConfigResponse",
      "type": "object"
    },
    "ListTemplatesResponse": {
      "type": "object",
      "id": "ListTemplatesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "template": {
          "description": "All GTM Custom Templates of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "CustomTemplate"
          }
        }
      }
    },
    "SyncWorkspaceResponse": {
      "type": "object",
      "id": "SyncWorkspaceResponse",
      "properties": {
        "syncStatus": {
          "description": "Indicates whether synchronization caused a merge conflict or sync error.",
          "$ref": "SyncStatus"
        },
        "mergeConflict": {
          "description": "The merge conflict after sync. If this field is not empty, the sync is still treated as successful. But a version cannot be created until all conflicts are resolved.",
          "items": {
            "$ref": "MergeConflict"
          },
          "type": "array"
        }
      },
      "description": "A response after synchronizing the workspace to the latest container version."
    },
    "ListContainerVersionsResponse": {
      "id": "ListContainerVersionsResponse",
      "properties": {
        "containerVersionHeader": {
          "description": "All container version headers of a GTM Container.",
          "items": {
            "$ref": "ContainerVersionHeader"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "type": "object",
      "description": "List container versions response."
    },
    "Variable": {
      "id": "Variable",
      "properties": {
        "enablingTriggerId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set. @mutable tagmanager.accounts.containers.workspaces.variables.create @mutable tagmanager.accounts.containers.workspaces.variables.update"
        },
        "name": {
          "type": "string",
          "description": "Variable display name. @mutable tagmanager.accounts.containers.workspaces.variables.create @mutable tagmanager.accounts.containers.workspaces.variables.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.variables.create",
              "tagmanager.accounts.containers.workspaces.variables.update"
            ]
          }
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified."
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this variable in the container. @mutable tagmanager.accounts.containers.workspaces.variables.create @mutable tagmanager.accounts.containers.workspaces.variables.update"
        },
        "scheduleEndMs": {
          "type": "string",
          "description": "The end timestamp in milliseconds to schedule a variable. @mutable tagmanager.accounts.containers.workspaces.variables.create @mutable tagmanager.accounts.containers.workspaces.variables.update",
          "format": "int64"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "type": {
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.variables.create",
              "tagmanager.accounts.containers.workspaces.variables.update"
            ]
          },
          "description": "GTM Variable Type. @mutable tagmanager.accounts.containers.workspaces.variables.create @mutable tagmanager.accounts.containers.workspaces.variables.update",
          "type": "string"
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a variable. @mutable tagmanager.accounts.containers.workspaces.variables.create @mutable tagmanager.accounts.containers.workspaces.variables.update",
          "format": "int64",
          "type": "string"
        },
        "parameter": {
          "description": "The variable's parameters. @mutable tagmanager.accounts.containers.workspaces.variables.create @mutable tagmanager.accounts.containers.workspaces.variables.update",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "variableId": {
          "type": "string",
          "description": "The Variable ID uniquely identifies the GTM Variable."
        },
        "disablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set. @mutable tagmanager.accounts.containers.workspaces.variables.create @mutable tagmanager.accounts.containers.workspaces.variables.update",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "formatValue": {
          "$ref": "VariableFormatValue",
          "description": "Option to convert a variable value to other value."
        },
        "path": {
          "description": "GTM Variable's API relative path.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Manager Variable."
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "account": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "List of GTM Accounts that a user has access to."
        }
      },
      "description": "List Accounts Response.",
      "type": "object"
    },
    "CreateContainerVersionRequestVersionOptions": {
      "description": "Options for new container versions.",
      "id": "CreateContainerVersionRequestVersionOptions",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the container version to be created."
        },
        "notes": {
          "description": "The notes of the container version to be created.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ZoneChildContainer": {
      "description": "Represents a child container of a Zone.",
      "properties": {
        "nickname": {
          "description": "The zone's nickname for the child container.",
          "type": "string"
        },
        "publicId": {
          "description": "The child container's public id.",
          "type": "string"
        }
      },
      "id": "ZoneChildContainer",
      "type": "object"
    },
    "PublishContainerVersionResponse": {
      "properties": {
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The container version created."
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        }
      },
      "id": "PublishContainerVersionResponse",
      "type": "object",
      "description": "Publish container version response."
    },
    "Destination": {
      "description": "Represents a Google Tag Destination.",
      "id": "Destination",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Destination display name."
        },
        "fingerprint": {
          "description": "The fingerprint of the Google Tag Destination as computed at storage time. This value is recomputed whenever the destination is modified.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Destination's API relative path."
        },
        "destinationLinkId": {
          "description": "The Destination link ID uniquely identifies the Destination.",
          "type": "string"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI."
        },
        "destinationId": {
          "type": "string",
          "description": "Destination ID."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        }
      }
    },
    "ListUserPermissionsResponse": {
      "id": "ListUserPermissionsResponse",
      "type": "object",
      "description": "List user permissions response.",
      "properties": {
        "userPermission": {
          "description": "All GTM UserPermissions of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "UserPermission"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "GalleryReference": {
      "description": "Represents the link between a custom template and an entry on the Community Template Gallery site.",
      "properties": {
        "owner": {
          "type": "string",
          "description": "The name of the owner for the community gallery template."
        },
        "version": {
          "type": "string",
          "description": "The version of the community gallery template."
        },
        "host": {
          "description": "The name of the host for the community gallery template.",
          "type": "string"
        },
        "repository": {
          "type": "string",
          "description": "The name of the repository for the community gallery template."
        },
        "isModified": {
          "description": "If a user has manually edited the community gallery template.",
          "type": "boolean"
        },
        "signature": {
          "type": "string",
          "description": "The signature of the community gallery template as computed at import time. This value is recomputed whenever the template is updated from the gallery."
        }
      },
      "id": "GalleryReference",
      "type": "object"
    },
    "ListTriggersResponse": {
      "description": "List triggers response.",
      "type": "object",
      "id": "ListTriggersResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "trigger": {
          "type": "array",
          "description": "All GTM Triggers of a GTM Container.",
          "items": {
            "$ref": "Trigger"
          }
        }
      }
    },
    "ContainerVersionHeader": {
      "type": "object",
      "id": "ContainerVersionHeader",
      "description": "Represents a Google Tag Manager Container Version Header.",
      "properties": {
        "numZones": {
          "description": "Number of zones in the container version.",
          "type": "string"
        },
        "numVariables": {
          "description": "Number of variables in the container version.",
          "type": "string"
        },
        "numMacros": {
          "description": "Number of macros in the container version.",
          "type": "string"
        },
        "containerVersionId": {
          "type": "string",
          "description": "The Container Version ID uniquely identifies the GTM Container Version."
        },
        "numCustomTemplates": {
          "type": "string",
          "description": "Number of custom templates in the container version."
        },
        "numRules": {
          "type": "string",
          "description": "Number of rules in the container version."
        },
        "numGtagConfigs": {
          "description": "Number of Google tag configs in the container version.",
          "type": "string"
        },
        "numClients": {
          "type": "string",
          "description": "Number of clients in the container version."
        },
        "deleted": {
          "type": "boolean",
          "description": "A value of true indicates this container version has been deleted."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "path": {
          "type": "string",
          "description": "GTM Container Version's API relative path."
        },
        "numTags": {
          "type": "string",
          "description": "Number of tags in the container version."
        },
        "numTriggers": {
          "type": "string",
          "description": "Number of triggers in the container version."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Container version display name."
        }
      }
    },
    "CreateBuiltInVariableResponse": {
      "properties": {
        "builtInVariable": {
          "items": {
            "$ref": "BuiltInVariable"
          },
          "description": "List of created built-in variables.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "CreateBuiltInVariableResponse"
    },
    "RevertTriggerResponse": {
      "properties": {
        "trigger": {
          "$ref": "Trigger",
          "description": "Trigger as it appears in the latest container version since the last workspace synchronization operation. If no trigger is present, that means the trigger was deleted in the latest container version."
        }
      },
      "type": "object",
      "description": "The result of reverting a trigger in a workspace.",
      "id": "RevertTriggerResponse"
    },
    "TagConsentSetting": {
      "properties": {
        "consentType": {
          "$ref": "Parameter",
          "description": "The type of consents to check for during tag firing if in the consent NEEDED state. This parameter must be of type LIST where each list item is of type STRING."
        },
        "consentStatus": {
          "enum": [
            "notSet",
            "notNeeded",
            "needed"
          ],
          "enumDescriptions": [
            "Default value where user has not specified any setting on it.",
            "Tag doesn't require any additional consent settings.",
            "Tag requires additional consent settings."
          ],
          "description": "The tag's consent status. If set to NEEDED, the runtime will check that the consent types specified by the consent_type field have been granted.",
          "type": "string"
        }
      },
      "id": "TagConsentSetting",
      "type": "object"
    },
    "TeardownTag": {
      "id": "TeardownTag",
      "type": "object",
      "properties": {
        "tagName": {
          "type": "string",
          "description": "The name of the teardown tag."
        },
        "stopTeardownOnFailure": {
          "type": "boolean",
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status."
        }
      },
      "description": "Represents a tag that fires after another tag in order to tear down dependencies."
    },
    "ListWorkspacesResponse": {
      "description": "A list of workspaces in a container.",
      "type": "object",
      "id": "ListWorkspacesResponse",
      "properties": {
        "workspace": {
          "type": "array",
          "description": "All Workspaces of a GTM Container.",
          "items": {
            "$ref": "Workspace"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "ListZonesResponse": {
      "id": "ListZonesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "zone": {
          "description": "All GTM Zones of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Zone"
          }
        }
      },
      "type": "object"
    },
    "RevertClientResponse": {
      "properties": {
        "client": {
          "$ref": "Client",
          "description": "Client as it appears in the latest container version since the last workspace synchronization operation. If no client is present, that means the client was deleted in the latest container version."
        }
      },
      "id": "RevertClientResponse",
      "type": "object",
      "description": "The result of reverting a client in a workspace."
    },
    "ListEnvironmentsResponse": {
      "properties": {
        "environment": {
          "description": "All Environments of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Environment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "description": "List Environments Response.",
      "id": "ListEnvironmentsResponse",
      "type": "object"
    },
    "Trigger": {
      "description": "Represents a Google Tag Manager Trigger",
      "id": "Trigger",
      "type": "object",
      "properties": {
        "uniqueTriggerId": {
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "continuousTimeMinMilliseconds": {
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "name": {
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.triggers.create",
              "tagmanager.accounts.containers.workspaces.triggers.update"
            ]
          },
          "description": "Trigger display name. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "limit": {
          "$ref": "Parameter",
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "visibilitySelector": {
          "$ref": "Parameter",
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "visiblePercentageMax": {
          "$ref": "Parameter",
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "eventName": {
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "waitForTags": {
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "autoEventFilter": {
          "description": "Used in the case of auto event tracking. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "items": {
            "$ref": "Condition"
          },
          "type": "array"
        },
        "maxTimerLengthSeconds": {
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "path": {
          "description": "GTM Trigger's API relative path.",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "Additional parameters. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "selector": {
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "type": {
          "description": "Defines the data layer event that causes this trigger. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.triggers.create"
            ]
          },
          "enum": [
            "eventTypeUnspecified",
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "init",
            "consentInit",
            "serverPageview",
            "always",
            "firebaseAppException",
            "firebaseAppUpdate",
            "firebaseCampaign",
            "firebaseFirstOpen",
            "firebaseInAppPurchase",
            "firebaseNotificationDismiss",
            "firebaseNotificationForeground",
            "firebaseNotificationOpen",
            "firebaseNotificationReceive",
            "firebaseOsUpdate",
            "firebaseSessionStart",
            "firebaseUserEngagement",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ]
        },
        "intervalSeconds": {
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "horizontalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "totalTimeMinMilliseconds": {
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "waitForTagsTimeout": {
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "customEventFilter": {
          "description": "Used in the case of custom event, which is fired iff all Conditions are true. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "checkValidation": {
          "$ref": "Parameter",
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this trigger in the container. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "visiblePercentageMin": {
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "interval": {
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "$ref": "Parameter"
        },
        "triggerId": {
          "description": "The Trigger ID uniquely identifies the GTM Trigger.",
          "type": "string"
        },
        "verticalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update"
        },
        "filter": {
          "description": "The trigger will only fire iff all Conditions are true. @mutable tagmanager.accounts.containers.workspaces.triggers.create @mutable tagmanager.accounts.containers.workspaces.triggers.update",
          "items": {
            "$ref": "Condition"
          },
          "type": "array"
        }
      }
    },
    "Workspace": {
      "type": "object",
      "id": "Workspace",
      "properties": {
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Workspace as computed at storage time. This value is recomputed whenever the workspace is modified."
        },
        "name": {
          "type": "string",
          "description": "Workspace display name. @mutable tagmanager.accounts.containers.workspaces.create @mutable tagmanager.accounts.containers.workspaces.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.create",
              "tagmanager.accounts.containers.workspaces.update"
            ]
          }
        },
        "description": {
          "type": "string",
          "description": "Workspace description. @mutable tagmanager.accounts.containers.workspaces.create @mutable tagmanager.accounts.containers.workspaces.update"
        },
        "workspaceId": {
          "description": "The Workspace ID uniquely identifies the GTM Workspace.",
          "type": "string"
        },
        "path": {
          "description": "GTM Workspace's API relative path.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Container Workspace."
    },
    "MergeConflict": {
      "description": "Represents a merge conflict.",
      "id": "MergeConflict",
      "properties": {
        "entityInWorkspace": {
          "description": "The workspace entity that has conflicting changes compared to the base version. If an entity is deleted in a workspace, it will still appear with a deleted change status.",
          "$ref": "Entity"
        },
        "entityInBaseVersion": {
          "description": "The base version entity (since the latest sync operation) that has conflicting changes compared to the workspace. If this field is missing, it means the workspace entity is deleted from the base version.",
          "$ref": "Entity"
        }
      },
      "type": "object"
    },
    "ListContainersResponse": {
      "description": "List Containers Response.",
      "type": "object",
      "id": "ListContainersResponse",
      "properties": {
        "container": {
          "type": "array",
          "items": {
            "$ref": "Container"
          },
          "description": "All Containers of a GTM Account."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "GtagConfig": {
      "properties": {
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the Google tag config as computed at storage time. This value is recomputed whenever the config is modified."
        },
        "accountId": {
          "type": "string",
          "description": "Google tag account ID."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "workspaceId": {
          "description": "Google tag workspace ID. Only used by GTM containers. Set to 0 otherwise.",
          "type": "string"
        },
        "gtagConfigId": {
          "type": "string",
          "description": "The ID uniquely identifies the Google tag config."
        },
        "containerId": {
          "description": "Google tag container ID.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Google tag config's API relative path."
        },
        "parameter": {
          "type": "array",
          "description": "The Google tag config's parameters. @mutable tagmanager.accounts.containers.workspaces.gtag_config.create @mutable tagmanager.accounts.containers.workspaces.gtag_config.update",
          "items": {
            "$ref": "Parameter"
          }
        },
        "type": {
          "description": "Google tag config type. @required tagmanager.accounts.containers.workspaces.gtag_config.create @required tagmanager.accounts.containers.workspaces.gtag_config.update @mutable tagmanager.accounts.containers.workspaces.gtag_config.create @mutable tagmanager.accounts.containers.workspaces.gtag_config.update",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GtagConfig",
      "description": "Represents a Google tag configuration."
    },
    "RevertBuiltInVariableResponse": {
      "description": "The result of reverting a built-in variable in a workspace.",
      "type": "object",
      "id": "RevertBuiltInVariableResponse",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the built-in variable is enabled after reversion."
        }
      }
    },
    "Zone": {
      "id": "Zone",
      "properties": {
        "path": {
          "description": "GTM Zone's API relative path.",
          "type": "string"
        },
        "name": {
          "description": "Zone display name.",
          "type": "string"
        },
        "typeRestriction": {
          "$ref": "ZoneTypeRestriction",
          "description": "This Zone's type restrictions."
        },
        "notes": {
          "description": "User notes on how to apply this zone in the container.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Zone as computed at storage time. This value is recomputed whenever the zone is modified.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "zoneId": {
          "type": "string",
          "description": "The Zone ID uniquely identifies the GTM Zone."
        },
        "boundary": {
          "description": "This Zone's boundary.",
          "$ref": "ZoneBoundary"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "childContainer": {
          "items": {
            "$ref": "ZoneChildContainer"
          },
          "type": "array",
          "description": "Containers that are children of this Zone."
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Manager Zone's contents."
    },
    "Account": {
      "type": "object",
      "id": "Account",
      "properties": {
        "name": {
          "type": "string",
          "description": "Account display name. @mutable tagmanager.accounts.create @mutable tagmanager.accounts.update"
        },
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        },
        "shareData": {
          "description": "Whether the account shares data anonymously with Google and others. This flag enables benchmarking by sharing your data in an anonymous form. Google will remove all identifiable information about your website, combine the data with hundreds of other anonymous sites and report aggregate trends in the benchmarking service. @mutable tagmanager.accounts.create @mutable tagmanager.accounts.update",
          "type": "boolean"
        },
        "path": {
          "type": "string",
          "description": "GTM Account's API relative path."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "features": {
          "description": "Read-only Account feature set",
          "$ref": "AccountFeatures"
        }
      },
      "description": "Represents a Google Tag Manager Account."
    },
    "RevertTagResponse": {
      "description": "The result of reverting a tag in a workspace.",
      "type": "object",
      "id": "RevertTagResponse",
      "properties": {
        "tag": {
          "description": "Tag as it appears in the latest container version since the last workspace synchronization operation. If no tag is present, that means the tag was deleted in the latest container version.",
          "$ref": "Tag"
        }
      }
    },
    "RevertFolderResponse": {
      "id": "RevertFolderResponse",
      "properties": {
        "folder": {
          "$ref": "Folder",
          "description": "Folder as it appears in the latest container version since the last workspace synchronization operation. If no folder is present, that means the folder was deleted in the latest container version."
        }
      },
      "type": "object",
      "description": "The result of reverting folder changes in a workspace."
    },
    "RevertTemplateResponse": {
      "type": "object",
      "description": "The result of reverting a template in a workspace.",
      "id": "RevertTemplateResponse",
      "properties": {
        "template": {
          "$ref": "CustomTemplate",
          "description": "Template as it appears in the latest container version since the last workspace synchronization operation. If no template is present, that means the template was deleted in the latest container version."
        }
      }
    },
    "GetContainerSnippetResponse": {
      "properties": {
        "snippet": {
          "description": "Tagging snippet for a Container.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GetContainerSnippetResponse"
    },
    "Tag": {
      "description": "Represents a Google Tag Manager Tag.",
      "properties": {
        "firingRuleId": {
          "items": {
            "type": "string"
          },
          "description": "Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false. @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "array"
        },
        "setupTag": {
          "items": {
            "$ref": "SetupTag"
          },
          "description": "The list of setup tags. Currently we only allow one.",
          "type": "array"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "liveOnly": {
          "type": "boolean",
          "description": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode). @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "priority": {
          "$ref": "Parameter",
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0. @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "firingTriggerId": {
          "description": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false. @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.tags.create",
              "tagmanager.accounts.containers.workspaces.tags.update"
            ]
          },
          "description": "GTM Tag Type. @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update"
        },
        "monitoringMetadata": {
          "description": "A map of key-value pairs of tag metadata to be included in the event data for tag monitoring. Notes: - This parameter must be type MAP. - Each parameter in the map are type TEMPLATE, however cannot contain variable references. @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update",
          "$ref": "Parameter"
        },
        "tagId": {
          "type": "string",
          "description": "The Tag ID uniquely identifies the GTM Tag."
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified."
        },
        "blockingTriggerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire. @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update"
        },
        "consentSettings": {
          "description": "Consent settings of a tag. @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update",
          "$ref": "TagConsentSetting"
        },
        "teardownTag": {
          "items": {
            "$ref": "TeardownTag"
          },
          "type": "array",
          "description": "The list of teardown tags. Currently we only allow one."
        },
        "name": {
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.workspaces.tags.create",
              "tagmanager.accounts.containers.workspaces.tags.update"
            ]
          },
          "description": "Tag display name. @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "string"
        },
        "paused": {
          "description": "Indicates whether the tag is paused, which prevents the tag from firing. @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "boolean"
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this tag in the container. @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update"
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a tag. @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update",
          "type": "string",
          "format": "int64"
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "The tag's parameters. @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update"
        },
        "scheduleEndMs": {
          "type": "string",
          "format": "int64",
          "description": "The end timestamp in milliseconds to schedule a tag. @mutable tagmanager.accounts.containers.workspaces.tags.create @mutable tagmanager.accounts.containers.workspaces.tags.update"
        },
        "tagFiringOption": {
[...]
